[2017-07-10 23:43] davkean commented on #2579
Closed in lieu of https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=462430&fullScreen=false&_a=edit.

[2017-07-10 23:43] #2579 closed

[2017-07-10 23:48] davkean commented on #2577
@srivatsn They kick off a target that generates a new targets file, which in turn will kick off _another_ reevaluation and build. It would be better from a perf perspective if you produced the contents of the targets file dynamically instead of statically.

I can't see a way of making this work without a VS extension.

[2017-07-10 23:51] tmat opened #2584 "Address suppressed xunit warnings"
The RepoToolset uses the latest xunit that comes with an analyzer that currently reports quite a few warnings. For now these are suppressed.

[2017-07-11 00:03] davkean commented on #2584
@tmat Where/how are the warnings suppressed?

[2017-07-11 00:05] davkean commented on #2576
Can you give me the exact commit that you are sync'd against?

[2017-07-11 00:11] davkean commented on #2576
Haven't figured out what's going on yet (I suspect we're constantly reevaluation due to a restore loop), but 16% of all the time here is spent on a GetFileAttributesEx check in the DiagnosticIncrementalAnalyzer that seems a lot:

![image](https://user-images.githubusercontent.com/1103906/28045572-382bfcd4-6621-11e7-8e57-d4ed25220297.png)

[2017-07-11 00:12] tmat commented on #2584
Not yet. Coming soon.

[2017-07-11 01:04] davkean commented on #2214
Note that the commit you gave me for https://github.com/dotnet/project-system/issues/2576 still has legacy project system projects in the solution.

[2017-07-11 01:27] davkean commented on #2576
I'm not seeing this on 46709.0.d15rel. I do see lots of MSBuild instances and us chewing CPU for a few minutes, but this looks like us doing design-time builds but we eventually stop.

@CyrusNajmabadi If you leave it VS open for 10 minutes, does the CPU stop?

[2017-07-11 01:31] CyrusNajmabadi commented on #2576
Probably yes.  But then i use the product and these things spin up again.  Effectively, as long as i'm using VS i'm seeing these issues unendingly.

[2017-07-11 01:34] davkean commented on #2576
@CyrusNajmabadi What kinds of changes? If you add a source file, remove, rename a source file then this is going to cause us to reevaluate and spawn MSBuild.

[2017-07-11 01:40] CyrusNajmabadi commented on #2576
Just editing.  Perhaps a file change a few times an hour.  VS is behaving exceptionally poorly from startup till shutdown.  When it gets particularly bad (i.e. i can't even function and deal with the constant few-second ui hangs), i take these traces and report the issues.

[2017-07-11 01:44] davkean commented on #2576
@CyrusNajmabadi Okay, but I'm trying to figure out if those issues are different to this issue or not. This issue says you have constant CPU and MSBuild constantly - I'm trying to figure out if you are actually experiencing a constant CPU when you aren't making changes or whether the perf issues are result of something else, such as this one: https://github.com/dotnet/project-system/issues/2579.

[2017-07-11 01:47] CyrusNajmabadi commented on #2576
Ok.  so as an example, i was just editing right now and i lost all intellisense.  I looked and my file had moved into the misc workspace.  So i tried to close VS.  It just hung there.  The hang was so long that i went and collected a trace.  I will upload that now.

[2017-07-11 02:15] CyrusNajmabadi commented on #2576
Closing VS trace: https://drive.google.com/file/d/0ByISdSEZ09PBUF9pSy1wQXNHZTQ/view?usp=sharing
MSBuild spinning trace: https://drive.google.com/file/d/0ByISdSEZ09PBVmVCQ3AzdUdjOEU/view?usp=sharing

[2017-07-11 15:05] njtrentacoste opened #2586 "F5 debug hangs indefinitely (never attaches) if .UseIISIntegration() is removed"
This is a duplicate of a closed bug ([960](https://github.com/aspnet/Tooling/issues/960)) in Tooling,  The issue is that upon hitting F5 to debug an ASP.NET Core Web Api project, VS will hang while the opened browser just spins waiting for something.  If I close the browser VS starts responding and I am able to set breakpoints and debug as desired.  I'm curious what about the browser is causing th

[2017-07-11 16:32] weshaggard opened #2587 "Startup projects tooling issue"
@vinguan commented on [Sun Jul 02 2017](https://github.com/dotnet/standard/issues/414)

.NET Stardard lib can be used as startup project if you put the Output Type as "Console Application" or  "Windows Application", but if the output type is set as "Class Library" they are also shown as Startup Projects as well. I have several .net stardard libs to serve my Xamarin Apps and Web Apps and and they a

[2017-07-11 18:37] natidea opened #2588 "Visual Studio becomes extremely slow when adding a deep folder structure to wwwroot in a .NET Core Webapplication"
From: [VS Feedback](https://developercommunity.visualstudio.com/content/problem/76445/visual-studio-becomes-extremely-slow-when-adding-a.html) (Includes ETL traces) ([Internal Link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/460234))

This may be remedied by recent improvements on the Dependencies node.

**From customer:**
- - - - -
Whenever I create a new (.NET Core 2.0 preview 2) web

[2017-07-11 18:43] natidea opened #2589 ".NET core web project hangs on file system change"
From [VS Feedback](https://developercommunity.visualstudio.com/content/problem/76634/net-core-web-project-hangs-on-file-system-change.html) - ( [Internal Link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/460364) )

This may be similar to slowness reported in https://github.com/dotnet/project-system/issues/2588 or related to up-to-date checks.

From customer:
- - - - -
We are currently p

[2017-07-11 19:38] xavierdecoster opened #2591 "Add support for SemVer 2.0.0 metadata in package version (GeneratePackageOnBuild)"
NuGet recently added support for Semantic Versioning 2.0.0, which adds support for numeric identifiers in prerelease labels and version metadata.

When setting a SemVer 2.0.0 version in the project's Package properties pane, an error is shown currently, see screenshot below.

Related to https://github.com/NuGet/Home/issues/5493

![image](https://user-images.githubusercontent.com/880728/27951785-5d

[2017-07-11 20:02] #2528 closed

[2017-07-11 21:07] masaeedu commented on #223
@reinux Maybe a bit off topic, but I personally never use it. It's too stunted; easier to just make a new console application as a scratchpad.

[2017-07-11 21:22] tmat opened #2592 "Fix VB functions/properties that don't return a value"
Currently VB warnings 42353, 42355 and 42105 are suppressed.

These warnings report "Function/Property doesn't return a value on all code paths.". We should fix the code and remove the suppressions.

[2017-07-12 00:59] CyrusNajmabadi opened #2593 "MSBuild spinning in the background (to the point that VS was unusable)."
Trace is here: https://drive.google.com/file/d/0ByISdSEZ09PBNEZUNUlfOVVQVUE/view?usp=sharing

This may be a dupe of some of the other issues i've filed.  But i'm still filing just in case this is something different.

[2017-07-12 00:59] CyrusNajmabadi commented on #2593
@davkean @srivatsn

[2017-07-12 02:50] davkean opened #2594 "Language service is causing an extra design-time build"
We're kicking off two design-time builds because the language service is coming in late:

[code]

We should make sure that first design-time build has CompileDesignTime present.

[2017-07-12 11:16] jorgeyanesdiez commented on #1519
I can confirm this still happens with Visual Studio 2017.3. and .NET Core SDK 1.0.4

[2017-07-12 15:42] davkean opened #2596 "DuplicatedDependenciesSnapshotFilter.BeforeAdd is allocating 1.4% of open solution"
[code]

![image](https://user-images.githubusercontent.com/1103906/28126340-8c0de870-676c-11e7-9406-dbce4fa47268.png)

[2017-07-12 18:44] AArnott commented on #2402
@davkean Given the item template is evidently present and yet the API still fails, it looks like the problem may be something else in the project system support for this API.

@davkean are you saying that the app.config file is completely ignored by .NET Core and therefore ASP.NET Core (.NET Core) projects store connection strings somewhere else? If so, can you please provide a link to docs so we

[2017-07-12 18:57] AArnott commented on #2402
@JoyceLiang  and I confirmed that ASP.NET Core 2 (whether on .NET Framework or .NET Core) ignores web.config at runtime. But appsettings.json seems to work for connection strings for both of these cases.
So we need an API that will create such a file if it does not exist, and return some kind of a handle to it.

Should that API be `Microsoft.VisualStudio.Editors.WCF.Configuration.VSApplicationConf

[2017-07-12 22:12] nkolev92 opened #2597 "Package is not shown as resolved in the UI"
Repro version:
15.3 Preview 3,4

- Create a new .NET Core console app
- Add a dependency
[code]
- It should restore at resolve 2.0.0-preview2-final.
- Now change the dependency to 2.0.0-preview2-final explicitly
[code]
- The package fails to be resolved in Microsoft.AspNetCore 2.0.0-*

![pic](https://user-images.githubusercontent.com/2878341/28096624-163ef05c-665f-11e7-9519-a207e632a99b.png)
Note:

[2017-07-13 01:46] davkean commented on #2402
@AArnott I'm not the best person to answer questions about which files are used or what not, but will happily write a new special file handler if that's what we decide needs to happen.

[2017-07-13 03:24] AArnott commented on #2402
@BillHiebert is this your area of expertise since it's primarily ASP.NET related?

[2017-07-13 04:25] davkean opened #2598 "GraphProvider integration test"
We need an integration test that tests the GraphProvider portion of the depedendency node.

[2017-07-13 05:36] davkean opened #2600 "Add async version of IVsSingleFileGenerator"
XAML designer team want the ability to implement an async single file generator so that they update source files in background, instead of being blocked by them such as when switching source tabs.

Preferably this would work for both legacy and CPS-based projects.

[2017-07-13 05:49] attilah opened #2601 "Wrong package factory guid in SLN file can cause build issues in VS"
When I merged Orleans sources into a single source tree, we were using old style csproj files and new styles in vNext. Everything worked when built from commandline, but from VS the projects looked very different and was not buildable.

The thing that caused it is that TargetFramework was populated from an external props file and was not present in the csproj itself.

After some investigation help

[2017-07-13 05:55] davkean opened #2602 "Need to support the ability to override "generators""
To speed up code generation when switching tabs in the XAML designer, the XAML "overrides" the MSBuild::Compile generator and replaces it with the XAML single file generator. We need to make official support for this, especially as build is out-of-proc and XAML won't be able to register a host object to get unsaved changes.

See CLangFileNode::GetXamlOverrideGenerator for more information.

[2017-07-13 07:49] acangialosi commented on #2402
If there is an api that allows us to put this into the secrets.json for that project we should send it there.

From: Andrew Arnott [mailto:notifications@github.com]
Sent: Wednesday, July 12, 2017 11:57 AM
To: dotnet/project-system <project-system@noreply.github.com>
Cc: Anthony Cangialosi <acangialosi@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/project-system] Get FileN

[2017-07-13 14:00] vdevappa commented on #2103
I got this error today with the latest version of VS 2017 Enterprise

=====================
7/13/2017 9:56:44 AM
Crippling
System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Internal error: Critical capabilities changes were detected without any change made to the project, and forces the project to be reloaded.  Potential capabilties involved: 'DynamicDe

[2017-07-13 16:13] piotroko opened #2604 "'dimensionValuesMap' must contain at least one element. System.ArgumentException"
While opening a project from https://github.com/piotrpMSFT/peaky.xunit repository I got this error:

[code]

[2017-07-13 18:04] sharwell commented on #113
:memo: When implementing this feature, the following should be verified:

1. Items given a type which corresponds to an `AvailableItemName` should not be added to `@(None)`
2. Items given a type which corresponds to an `AvailableItemName` *should* show up in Solution Explorer

[2017-07-13 18:09] emgarten opened #2605 "Add exclude source and fallback folder properties to restore nomination"
These additional properties are needed during restore nomination:
* RestoreAdditionalProjectFallbackFoldersExcludes

These will be used on the nuget side as part of: https://github.com/NuGet/Home/issues/5596

[2017-07-13 19:09] srivatsn commented on #2597
Dupe of https://github.com/dotnet/project-system/issues/2510 - since the resolved version is the same after the edit, the node doesn't update from unresolved to resolved state.

[2017-07-13 19:09] #2597 closed

[2017-07-13 22:57] davkean commented on #2586
@njtrentacoste Can you share the dump via OneDrive?

[2017-07-13 23:02] davkean commented on #2103
@vdevappa By latest, which version? Can you go to Help -> About -> Copy Info and paste the top three lines?

[2017-07-13 23:04] davkean commented on #113
1. Is quite difficult to do - due to the globbing in the SDK. I think we'll want a different approach where we merge item types.

[2017-07-13 23:19] sharwell commented on #113
@davkean 2 is really the important item. If 1 is a "must" for some particular project, they can just use `<EnableDefaultNoneItems>False</EnableDefaultNoneItems>`.

[2017-07-13 23:36] davkean commented on #2604
Known. This is occurring because you are missing configurations, we made a breaking change between 15.2 -> 15.3 for projects that don't pull in the SDK. You need to define configurations: https://github.com/dotnet/project-system/blob/master/docs/configurations.md.

The actual crash due to having no configurations is fixed in 15.5.

[2017-07-13 23:36] #2604 closed

[2017-07-14 00:28] njtrentacoste commented on #2586
@davkean Here's the dump: https://1drv.ms/u/s!AkZnm1hI9vwolXq53Dd8NEwn-NAO

[2017-07-14 01:27] davkean opened #2607 "Update MicroBuild definition to publish to authenticated feed"
Need to update MicroBuild to publish to VSTS instead of the nuget file share as access to this share is being turned off for write.

[2017-07-14 01:30] davkean commented on #2607
@basoundr I've got context internally if you need it.

[2017-07-14 10:16] arespr opened #2613 "Operator nameof is incorrectly highlighted in red"
**Version Used**:
Visual Studio 14.0.25431.01 Update 3
			Visual Strudio 15.2 (26430.15)
**Steps to Reproduce**:
![obraz](https://user-images.githubusercontent.com/3482384/28208380-a18ff63a-688d-11e7-8f73-85859a83b2be.png)

**Code:**:

[code]

Edited by @sharwell: Fixed formatting of code block

[2017-07-14 13:33] vdevappa commented on #2103
Microsoft Visual Studio Enterprise 2017
Version 15.2 (26430.15) Release
VisualStudio.15.Release/15.2.0+26430.15
Microsoft .NET Framework
Version 4.7.02046
Installed Version: Enterprise

[2017-07-14 15:31] rchande opened #2614 "Opening Roslyn.sln edits a bunch of designer files"
I have roslyn master checked out at b63394e0c0ce7ae748cd8df4d68a6045713cece9 and am using VS 26706.0.d15rel. Every time I open Roslyn.sln, I get edits to a bunch of Resources.Designer files.

The diffs look like below. Seems like something is replacing 4 with 15.
[code]

[2017-07-14 15:31] rchande commented on #2614
cc @davkean

[2017-07-15 00:17] weshaggard opened #2616 "Can't use Class Diagram with .Net Standard class library"
@wolf99 commented on [Fri Jul 14 2017](https://github.com/dotnet/standard/issues/426)

I have a solution in VS2017 that contains a .Net Standard 1.4 class library. If I attempt to view a class diagram for the namespace or any class, nothing is displayed but a `classDiagram1.cd` file is added to the project. Attempting to open this file results in an error:

Viewing the file using notepad I see it

[2017-07-15 13:55] sharwell opened #2617 "TargetFramework fails to differentiate by NuGet profile name"
### Steps to reproduce:

1. Create a new SDK project
2. Set the target frameworks to `net35;net35-client` (see note below)
3. Open the project in Visual Studio

Due to limitations in the target framework inference, the following block needs to be used for step 2 above.

[code]

### Expected results:

Solution Explorer shows two nodes under Dependencies: one for .NETFramework 3.5, and another for .

[2017-07-15 14:00] sharwell opened #2618 "Dependencies node fails to handle custom target frameworks"
### Steps to reproduce

1. Create a new project
1. Set the target frameworks to `Xyz1.0`
1. Explicitly set the `TargetFrameworkIdentifier`, `TargetFrameworkVersion`, and `TargetFrameworkProfile` properties
1. Open the project in Visual Studio

[code]

### Expected results

Solution Explorer shows a dependencies node based on the explicitly set framework identifier, version, and profile. In the abo

[2017-07-17 18:03] CyrusNajmabadi opened #2621 "During async loading, we shoudl assume the compiler version is the 'latest' not the 'default'."
During async solution loading CPS doesn't know what version of the compiler to create.  So CPS (or Roslyn, not sure) decides to just create a compiler with the 'default' version.  This leads to unpleasant errors being shown during load like:

![image](https://user-images.githubusercontent.com/4564579/28282479-6ccb709c-6adf-11e7-947b-36e8d782bae7.png)

These errors go away once the project context

[2017-07-17 21:06] weitzhandler commented on #934
Are we going to see any solution this any time soon?
What's the best practice of enabling migrations in the following situation without hassle?

- VS 15.2
- Solution consisting of (csproj):
-- ASP.NET Web API
-- Xamarin.Forms PCL (+Droid, iOS, UWP)

When trying to enable migrations I get the [this](https://github.com/aspnet/EntityFramework6/issues/317#issue-242885263) error.

[2017-07-17 23:36] davkean opened #2622 "System.NullReferenceException: Object reference not set to an instance of an object in ProjectExternalErrorReporter.ReportError2"
Don't have an exact repro, but ran into this while opening https://github.com/CoreCompat/System.Drawing/ and switching the test project between .NET Core 2.0 -> .NET Standard 2.0 -> .NET Core 2.0.

[code]

[2017-07-17 23:52] jasselin commented on #2589
Same thing here: https://developercommunity.visualstudio.com/content/problem/73964/visual-studio-msbuild-scans-every-file-in-an-aspne.html

Related MSBuild issue: https://github.com/Microsoft/msbuild/issues/2238

[2017-07-17 23:55] CyrusNajmabadi commented on #2211
Will that be put into 15.3?  This experience is pretty brutal.  I've taking to having to explicitly kill the msbuild instances to be able to actually close VS.

[2017-07-17 23:57] CyrusNajmabadi commented on #2212
Has htere been any movement on this?  it seems like VS doesn't even bother to kick off the build for many minutes.  When i look at taskman it looks like msbuild is just spinning there.  I'm guessing that the build isn't even being kicked off until all design time builds finish.  But this means having to wait many minutes after loading a project until you can even f5.

tagging @Pilchie @srivatsn

[2017-07-18 00:04] CyrusNajmabadi commented on #2593
This issue is still happening.  I'm on:

![image](https://user-images.githubusercontent.com/4564579/28294928-fe221cda-6b11-11e7-8a38-4cb59ae9bdce.png)

This causes continual lag and hiccups in VS.

[2017-07-18 00:15] davkean commented on #2212
Okay so that's a different issue to the one that's described in the bug. What build are you on?

[2017-07-18 00:21] davkean commented on #2211
This was not put in 15.3, if you'd like to see it taken you'll need to ping Viktor Veis and Lifeng Lu.

[2017-07-18 00:31] CyrusNajmabadi commented on #2212
i'm on
![image](https://user-images.githubusercontent.com/4564579/28295494-c3b0ffc2-6b15-11e7-898b-b903fedaecbe.png)

[2017-07-18 00:39] CyrusNajmabadi commented on #2211
Ok.  Just pinged them.

[2017-07-18 00:47] davkean commented on #2589
Duping this against the MSBuild issue Microsoft/msbuild#2238

[2017-07-18 00:47] #2589 closed

[2017-07-18 01:09] davkean commented on #2593
11% of this Roslyn calling GetFileAttributes:
![image](https://user-images.githubusercontent.com/1103906/28296104-74bc92fc-6ba9-11e7-8033-79ce1749bfe6.png)

[2017-07-18 01:11] davkean commented on #2593
18% of this is Roslyn:

![image](https://user-images.githubusercontent.com/1103906/28296171-dcfd91ea-6ba9-11e7-81e9-9e53c00a17df.png)

[2017-07-18 01:13] davkean commented on #2593
Looking at the stack something is reloading target files - @CyrusNajmabadi was Restore running in the background?

[2017-07-18 01:17] davkean commented on #2593
It looks like a significant portion of the VS CPU is being chewed by Roslyn:

![image](https://user-images.githubusercontent.com/1103906/28296276-a6eac9d2-6baa-11e7-877e-b57745a92aeb.png)

I suspect that with a combination of the targets reloading is likely the issue.

[2017-07-18 01:26] davkean commented on #2593
Yep, there's three main threads doing all the CPU:

- module msenv <<msenv!CSolutionItemsProject::ReloadItem>>
- module microsoft.codeanalysis.features.ni <<microsoft.codeanalysis.features.ni!GlobalOperationAwareIdleProcessor.OnGlobalOperationStopped>>
- Lots of DiagnosticIncrementalAnalyzer

@CyrusNajmabadi Did you do something to trigger above? Such as switching branches? @lifengl This smells li

[2017-07-18 11:54] weitzhandler opened #2624 "Suggestion: Store indentation and code guidelines in project"
Hi,

There should be an option to store the current VS coding-guidelines into the project, so when saving a file in a project that has custom coding-guidelines applied, the indentations, brace-placing, and other coding guidelines are preserved/adapted as to the project settings.
This will make it easier to work with GIT projects with different coding-guidelines (especially indentation, which affec

[2017-07-18 15:11] tannergooding commented on #2624
This likely belongs under dotnet/roslyn (with the `area-IDE` label).

Additionally, some of this functionality is already provided via `.editorconfig` and the new csharp/dotnet rules that are recognized: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

I do not believe we currently expose a way to persist the current VS options into an editorconfig file

[2017-07-18 16:04] sharwell commented on #2624
Duplicate of dotnet/roslyn#20253.

Most of the style features themselves are already supported by using a **.editorconfig** file, but there is no automated way (that I know of) to export the settings. I would recommend using [Mad's extension](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.EditorConfig) along with [samples](https://github.com/dotnet/roslyn/blob/master/.editorcon

[2017-07-18 16:04] #2624 closed

[2017-07-18 16:55] srivatsn commented on #2117
We haven't seen any other report of this. Moving out to 15.5

[2017-07-19 01:29] jainaashish opened #2630 ""Add Reference" with multiple NuGet packages and references does multiple DT builds even with batch APIs"
Scenario is something like when you're installing or updating multiple NuGet packages at solution level (projects with packages.config), which remove and add many assembly references as part of this single operation, then each AddReference trigger a different DT build (ResolveAssemblyReference) to create a reference dte objects. And this happens even after these AddReference calls are inside start

[2017-07-19 01:30] jainaashish commented on #2630
@davkean @panopticoncentral

[2017-07-19 02:56] davkean commented on #2630
The request here is avoid kicking off a ResolveReferences design-time build every time a reference is added when StartBatchEdit has been called.

[2017-07-19 07:05] aelij commented on #2297
@davkean Were these fixes included in the latest preview (July 12)? I've recently converted a large solution (99 projects) to the new project system, and I'm seeing a very degraded experience (in 15.2): the solution loads much slower, and so is opening C# files and building. In the latest preview there was seems to be some improvement but I haven't really measured it so I can't be sure. I can take

[2017-07-19 07:10] davkean commented on #2297
Most of them made into that build - there's still a few that will come in the next build.

Are you saying that 15.3 is better than 15.2? Or are you saying that it's just as bad? Can you file a bug? Traces would be great, even better would be if you could share the source (privately). Can you also "Report a Problem" and put "davkean" in the description - doesn't have to say anything, just lets me s

[2017-07-19 07:47] aelij commented on #2297
Yes, 15.3 seems better, but still slower than the previous project system. I'll send a report right now. Should I do it after the solution is open?

[2017-07-19 07:56] davkean commented on #2297
It doesn't matter when you send the report - it just lets me grab your user data and look at past sessions. Please make sure you open a new bug - so that we're tracking this and we can use to discuss.

[2017-07-19 08:29] aelij opened #2631 "Performance degradation after converting a large solution to the new project system"
I've recently converted a large solution (99 projects) to the new project system. I've seen performance issues similar to what's described in #2297. In addition, VS freezes a lot during build (even with verbosity set to Minimal).

I've tried both in 15.2 ([issue](https://developercommunity.visualstudio.com/content/problem/82389/performance-degradation-after-converting-a-large-s.html)) and 15.3 Pre

[2017-07-19 14:41] superslowloris opened #2632 "Analyzer errors/warnings not clearing properly from the Error List window"
### Steps to reproduce

Using Visual Studio 2017 Preview 4

1. Create new Console App (.NET Core) project
2. Add NuGet package: Microsoft.CodeAnalysis.FxCopAnalyzers (version 2.3.0-beta1)
3. Build
3.1. The build will produce several warning AD0001 due to a missing 'IOperation' feature in the project.
4. Edit the project file and add ```<Features>IOperation</Features>``` to the top most ```<Propert

[2017-07-19 17:39] AArnott commented on #2402
@davkean Yes for the .NET Core 2.0 console app scenario, an app.config file seems to be supported, but programmatically cannot be created. If it's a special file handler that's missing that would fix this, can you please write it?

[2017-07-19 20:44] lifengl commented on #2593
yes, it looks like some project reloading was triggered by capabilities changes.  It didn't trigger the design time build on the UI thread as what happened inside the Roslyn solution, But the solution recalculated build dependencies, which seems to be very slow.  I saw lots of time in GetMkDocument calls.  Closing project itself is also slow now.

[2017-07-19 21:37] mlorbetske commented on #2016
Another report of this https://developercommunity.visualstudio.com/content/problem/64803/problem-with-hypen-in-project-name.html

[2017-07-19 22:30] davkean commented on #2593
@CyrusNajmabadi Can you confirm if you switched branches before the issue above?

[2017-07-19 23:07] CyrusNajmabadi commented on #2593
My honest belief is that i didn't.  Or i switched so long ago that it really shouldn't have mattered (i.e. 10s of minutes ago).   I generally file these because i'm doing nothing but editing, but then notice that VS perf has tanked.  I capture a trace to try to figure out why and i report.  It *is* my expectation that if i switch branches that things might be a little slow for a bit, but that it s

[2017-07-19 23:09] davkean commented on #2593
@CyrusNajmabadi Roslyn has a hacked up build that no reasonable customer solution will have - which causes us to head down a really bad path. That's what I think you are experiencing.

[2017-07-19 23:10] davkean commented on #2593
After switching branches between a branch that turns on and off the Dependences node - it's taking 10s of minutes for us to deal with this situation.

[2017-07-19 23:12] davkean opened #2634 "Adding a project reference to Roslyn takes a long time"
From opening the dialog, to adding a project reference, takes a very long time in Roslyn.sln.

[2017-07-19 23:24] davkean commented on #2402
We have an AppConfig special files handler - it just seems to be fail when we attempt to install the template. I'll use this bug to track that.

[2017-07-20 01:18] natidea opened #2635 "New Startup Objects do not populate Startup Object list"
RE: #763 #2238 [VSFeedback 77772](https://developercommunity.visualstudio.com/content/problem/77772/cannot-select-startup-object-for-multiple-classes.html)

**Repro:**

- Create a .NET Core Console App.
- Open Project Properties to confirm Startup Object lists default main:

![image](https://user-images.githubusercontent.com/7732033/28396090-f18d7b52-6cad-11e7-9e0b-e769cf63e34c.png)

- Add a secon

[2017-07-20 01:30] natidea opened #2637 "Make Build Event Text Boxes Resizable or Wrap Text"
From [VS Feedback 77473](https://developercommunity.visualstudio.com/content/problem/77473/build-events-window-suggestions.html):

**Build Events Window suggestions**
a) The window is not sizeable, which relates to:
b) Since each text box contains (I assume) a single command, the boxes should support word wrap instead of making us scroll to see the entire command line. And since the box is not siz

[2017-07-20 03:34] natidea opened #2638 "All file templates should end with an empty line"
From [VS Feedback 63803](https://developercommunity.visualstudio.com/content/problem/63803/all-file-templates-should-end-with-an-empty-line.html):

[2017-07-20 03:41] KirillOsenkov commented on #2638
Love the attention to detail! All files should end with a line break. Git gui even highlights files that don't have a line break at the end.

[2017-07-20 11:20] davkean opened #2640 "Dependency node is doing lots of work on unload"
The dependency node hooks onto Project unload and then goes and notifies every single project in the solution - that's consumes large amounts of time/memory. We should be smarter about this, especially in solution close case.

[2017-07-20 12:23] LHAMPTON commented on #2637
I agree!

[2017-07-20 17:11] GSPP commented on #2638
Good to know that the VS team cares about such details! (As they should!) I saw this issue by coincidence and I might start reporting similarly annoying little things.

[2017-07-20 22:41] mishra14 opened #2643 "IVsProjectBuildSystem.EndBatchEdit() call locking dll post package install"
Original issue: https://github.com/NuGet/Home/issues/5609

## Repro steps (besides the one in the original bug)

1. File New Project -> Windows Classic Desktop -> Class Library (.NET Framework)

2. Install Newtonsoft.Json through NuGet PM UI

## Problem

After the process of installation, NuGet invokes `IVsProjectBuildSystem.EndBatchEdit()` [here](https://github.com/NuGet/NuGet.Client/blob/a87d32b

[2017-07-20 22:49] davkean commented on #2643
Don't think this is right place to investigate - EndBatchEdit is going to do a design-time build in the VS process, and it's likely that something is the build is loading/locking the file.

[2017-07-20 22:50] mishra14 commented on #2643
@davkean  what is the best place for filing this? Any pointers would be great.

[2017-07-20 22:54] tmat opened #2645 "Automatic restore doesn't handle packages with targets files explicitly imported from restored packages"
In project-system repo we work around the problem by having the content of the RepoToolset package copied to the repo itseft.
Remove the copy once the issue is fixed.

[2017-07-20 22:57] davkean commented on #2645
This behavior is by-design.

[2017-07-20 23:03] davkean commented on #2643
I think you need to figure out what's stack is loading the binary and start from there.

[2017-07-21 18:20] tmat commented on #2645
Never mind. It works, sort of.

[2017-07-21 18:20] #2645 closed

[2017-07-21 22:54] NickCraver commented on #1224
Just adding that this is still a daily annoyance that I honestly can't understand. The goals of `.csproj` to make it approachable and editable by humans (like `project.json`) while simultaneously burying it in an ever-growing right click menu are completely antithetical to each other.

What is the release schedule for 15.6?

[2017-07-22 00:13] morrisjoe opened #2648 "Changing TFM from 1.0 to 2.0 using VS IDE doesn't succeed"
I am entering this bug from the verbatim received on blocker day. Looks like no bug was opened. So opening one. If there is a bug already opened on this we can close this.

Scenario: B40-Retarget NET Core and Std 1.x apps,libs to 2.0 using VS IDE

Verbatim: _"Could not complete this scenario with trying to upgrade the VS Threading library -  https://github.com/Microsoft/vs-threading/ . Up voted Nu

[2017-07-22 01:51] natidea commented on #2588
Additional traces: [466099](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/466099)

[2017-07-22 14:23] tannergooding opened #2649 "Solution Folders are included in the loaded project count"
It appears that solution folders are included in the loaded project count for some scenarios (such as displaying the project load/unload dialog).

![image](https://user-images.githubusercontent.com/10487869/28491952-9077af38-6eae-11e7-9179-76c0064817f6.png)

In the picture above, it states that it is loading 67 projects. However, my solution contains 28 projects and 39 solution folders, so this is

[2017-07-24 01:55] davkean commented on #2649
Please file this against Project & Telemetry - we have zero influence over this.

[2017-07-24 02:34] davkean commented on #1224
This is currently in 15.5. We have no date for this other it will be after 15.3 is released. Our team will be doing very little/if anything for 15.4, and our master is currently tracking the 15.5 release: https://github.com/dotnet/project-system/blob/master/docs/repo/roadmap.md.

[2017-07-24 05:17] davkean opened #2650 "You cannot use TAB to navigate from App Designer titles onto pages"
The TAB'ing logic is broken:

1. Open AppDesigner
2. Keep pressing SHIFT+TAB until you navigate onto the page title
3. Press TAB

**Expected:** To navigate back onto the page
**Actual:** You navigate to the next tab. While you can use TAB to navigate onto the page titles, you cannot use TAB to get off it

Example of what happens:
![badtab](https://user-images.githubusercontent.com/1103906/28509033

[2017-07-24 05:27] davkean opened #2651 "Using arrow keys to navigate tabs causes the focus rectangle to disappear"
Need this PR: https://github.com/dotnet/project-system/pull/2641.

1.  TAB onto AppDesigner
2. Use LEFT and RIGHT arrows to navigate AppDesigner titles

Expected: Focus rectangles disappear
Actual: Focus rectangles to show as focus is moving

[2017-07-24 06:11] davkean commented on #2651
Note, when you have **Enable Shortcut underlines** on, we also incorrectly don't turn on focus rectangles when you use the mouse to navigate.

[2017-07-24 07:48] #2643 closed

[2017-07-24 18:26] abpiskunov commented on #2596
FYI - this logic i ported form original References code and did not see good way to avoid formatting this : dependency.Caption, x.OriginalItemSpec...

[2017-07-24 18:37] srivatsn commented on #2649
Closing as external.

[2017-07-24 18:37] #2649 closed

[2017-07-24 18:39] srivatsn commented on #2648
Further follow-up shows that changing the TFM is fine but that we get into a state where restore thinks it's done but there are errors.

[2017-07-24 18:39] srivatsn commented on #2648
This is from @jviau - https://developercommunity.visualstudio.com/content/problem/81940/updating-target-framework-and-immediately-building.html

[2017-07-24 18:43] srivatsn commented on #2632
@heejaechang - is this a Roslyn bug? Rosyln would have claimed this error and hence would be responsible for clearing it and not the project-system right?

[2017-07-24 18:45] srivatsn commented on #2622
Isn't this https://github.com/dotnet/roslyn/issues/16612? @heejaechang this is with 15.3

[2017-07-24 18:47] srivatsn commented on #2621
This would be in Roslyn. The project system doesn't interpret the options - it simply sends the commandline to roslyn. Before the commandline is sent, I assume, getting a compilation would use whatever is the default LangVersion

[2017-07-24 18:47] srivatsn commented on #2621
This issue was moved to dotnet/roslyn#21070

[2017-07-24 18:47] #2621 closed

[2017-07-24 18:50] srivatsn commented on #2616
Dupe of https://github.com/dotnet/project-system/issues/256

[2017-07-24 18:50] #2616 closed

[2017-07-24 18:54] srivatsn commented on #2614
@davkean @tmeschter any idea what causes this?

[2017-07-24 18:55] abpiskunov commented on #2618
This scenario is kind of limited. If you specify custom TFMX - how does project system/nuget know if TFMX can support a net46 etc? Dependencies logic needs this info in several places to decide if a warning icon should be displayed for project to project references for example...

[2017-07-24 18:56] srivatsn commented on #2613
This issue was moved to dotnet/roslyn#21071

[2017-07-24 18:56] #2613 closed

[2017-07-24 19:00] sharwell commented on #2618
:memo: This is related to dotnet/project-system#1938, though the problem can manifest in other scenarios as well.

[2017-07-24 19:04] srivatsn commented on #2618
The project system should just the full target framework moniker for such comparisons. The simplest thing to do here might be to just show the TF as-is without mapping it to anything. That way if the user has a `testingfornetstandard1.0` TF as in my example in #1938 then that value shows up in the tree. That node can have a TargetFrameworkMoniker property (in the property grid) which can show what

[2017-07-24 19:06] srivatsn commented on #2587
Dupe of https://github.com/dotnet/project-system/issues/1308

[2017-07-24 19:06] #2587 closed

[2017-07-24 19:07] tannergooding commented on #2649
What's the area path for this?

[2017-07-24 19:13] srivatsn commented on #2649
DevDiv\VS Platform\VS IDE\Project and Telemetry

[2017-07-24 19:25] srivatsn commented on #2583
If the solution is closed and reopened after changing the configuration to Release (such that the config is Release when the solution is loaded) then it builds fine. It looks like switching configurations doesn't change the set of project references we track for a project.

[2017-07-24 19:33] srivatsn commented on #2601
The behavior is that if the {9A19103F-16F7-4668-BE54-9A1E7A4F7556} is in the sln, then it will always load with new project system.

If the guid is {FAE04EC0-301F-11D3-BF4B-00C04F79EFBC} then it will look for a TargetFramework property in the csproj file (not in any imported file) and if one is present it loads with new PS else loads with old PS. https://github.com/dotnet/project-system/issues/135

[2017-07-24 19:35] srivatsn commented on #2582
If I remember right we had said that there weren't many errors that could show up in the tree. Now that NuGet has added the ability to set WarnAsError as well we should probably introduce three states.

[2017-07-24 19:38] srivatsn commented on #2580
This is controlled by the solution tree. Moved to https://devdiv.visualstudio.com/DevDiv/_workitems?id=469187&fullScreen=false&_a=edit

[2017-07-24 19:38] #2580 closed

[2017-07-24 19:43] abpiskunov commented on #2582
Sounds, good. We did have icons for error in Dev14 - who ever works in this item ping me to get them ..

[2017-07-24 19:45] srivatsn commented on #2557
There is an item template for the app manifest. If you are not seeing it maybe that it's not installed with the core or web workload and only with the desktop workload.

[2017-07-24 19:48] CyrusNajmabadi commented on #2212
@srivatsn As per our conversation today.  Here's an example of how the new system just absolutely destroys productivity.  I used to be able to load VS and get to a debugging session is something like 30 seconds.  Now it's 3+ minutes.  I've attached a gif to show you how bad it is.

![slowloads2](https://user-images.githubusercontent.com/4564579/28541591-6d53997e-706e-11e7-9aaa-6caf2bc69f1e.gif)

[2017-07-24 19:49] srivatsn commented on #2555
Filed [a bug on CPS](https://devdiv.visualstudio.com/DevDiv/_workitems?id=469189&fullScreen=false&_a=edit) @lifengl @jviau please provide any updates here that you might have.

[2017-07-24 19:49] #2555 closed

[2017-07-24 19:49] CyrusNajmabadi commented on #2212
Note that it takes VS *2 minutes* before it even starts building.

[2017-07-24 19:53] heejaechang commented on #2622
do we have a dump? if it is 15.3, Null exception seems can only happen if diagnostic service, host project, host document is null. diagnostic service/host project shouldn't happen if roslyn/project system is set up correctly.

so, most likely cause seems this
http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/TaskList/ProjectExternalErrorReporter.cs,213

are you guys g

[2017-07-24 20:01] heejaechang commented on #2632
@srivatsn depends on what happens to Roslyn workspace when csproj is modified to enable IOperation

will it close the project and reopen it?

[2017-07-24 20:01] srivatsn commented on #2632
Nope - it'll get a call saying options changed and /features:IOperation will no longer be set.

[2017-07-24 20:07] heejaechang commented on #2632
that's probably why it didn't get cleared since those only get cleared when project is reloaded. tagging @mavasani

[2017-07-24 20:21] srivatsn commented on #2632
Ok, I'll move this to roslyn then.

[2017-07-24 20:21] srivatsn commented on #2632
This issue was moved to dotnet/roslyn#21073

[2017-07-24 20:21] #2632 closed

[2017-07-24 20:24] srivatsn commented on #2543
The experience with VS 2017 15.3 Preview is that making such a change and hitting save causes a dialog to pop up saying

![image](https://user-images.githubusercontent.com/20570/28543034-4cc8140a-7073-11e7-9be3-208f3cdb911f.png)

Hitting IgnoreAll puts the file back to its original state from disk (and not from the buffer - so your edit is lost). I believe @jviau is tracking making this experience

[2017-07-24 20:25] #2543 closed

[2017-07-24 20:27] srivatsn commented on #2542
[Moved to CPS](https://devdiv.visualstudio.com/DevDiv/_workitems?id=469203&fullScreen=false&_a=edit) since the project reload code is now in CPS.

[2017-07-24 20:27] #2542 closed

[2017-07-24 20:28] rchande opened #2652 "UI delay when opening RoslynDev hive with Roslyn.sln open"
Check out and build the Roslyn master branch.
Open Roslyn.sln in the Dev15 main hive and wait for the project to finish opening.
Start a new instance of VS in the RoslynDev hive `devenv /rootsuffix RoslynDev`.
Open a C# project in the new VS instance.

For some reason, doing this causes the VS with Roslyn open to hang. It looks like opening a project in the other hive is triggering the project sys

[2017-07-24 20:39] srivatsn commented on #2652
Is the project being opened in the RoslynDev hive part of Roslyn.sln? The project reloader should only be called if any of the csprojs in Roslyn.sln change - if you let this happen do you see any changes to any csproj in roslyn.sln?

/cc @jviau

[2017-07-24 20:45] attilah commented on #2601
I think the Developer eXperience can be enhanced, at least with the error message, as a plus a SLN guid changer function to the new one.

[2017-07-24 20:46] srivatsn commented on #2531
[Filed a CPS bug](https://devdiv.visualstudio.com/DevDiv/_workitems?id=469221&fullScreen=false&_a=edit) but this may already be fixed in 15.3

[2017-07-24 20:46] #2531 closed

[2017-07-24 20:48] srivatsn commented on #2524
I think we should fix this by following this - https://github.com/dotnet/project-system/issues/2618#issuecomment-317523005

[2017-07-24 20:49] rchande commented on #2652
It's a totally unrelated project.

[2017-07-24 20:50] srivatsn commented on #2521
As part of this something to consider: Should we also delay the build for CompileDesignTime until restore has completed instead of doing one and having to repeat it when restore completes?

[2017-07-24 20:54] srivatsn commented on #2467
I assume the CLI resolver is issuing the error about global.json and the msbuild error simply says couldn't find the SDK. CPS is showing the msbuild error. Should msbuild include errors from the resolver as part of it's message? @rainersigwald

[2017-07-24 20:56] terrajobst commented on #2582
What would this mean for the spine though?

[2017-07-24 20:56] srivatsn commented on #2463
We should create a batch file and update the [contribution guide ](https://github.com/dotnet/project-system/blob/master/docs/repo/getting-started.md)

[2017-07-24 21:03] danroth27 opened #2653 "Dependencies node fails when ReferenceOutputAssembly="False" on ProjectReference"
When I open https://github.com/aspnet/Blazor-Hackathon in VS I get a warning in the solution explorer for the project references for samples/ClientServerApp/ClientServerApp.Server. The dotnet-blazor reference has a warning icon, but there is no warning description in the VS error list.

[2017-07-24 21:05] danroth27 commented on #2653
![image](https://user-images.githubusercontent.com/1874516/28544733-26826754-7079-11e7-947b-72723de3b342.png)
![image](https://user-images.githubusercontent.com/1874516/28544738-2c85ccea-7079-11e7-9a6f-bcf05f77ffbd.png)

[2017-07-24 21:05] danroth27 commented on #2653
@srivatsn

[2017-07-24 21:07] srivatsn commented on #2653
@natidea can you take a look at how widespread is this?

[2017-07-24 21:07] abpiskunov commented on #2653
And what is under dotnet-blazor project? It could be either not compatible with ClientServerApp target framework or has some broken dependencies ...

[2017-07-24 21:22] danroth27 commented on #2653
The repo is public - just clone and take a look

[2017-07-24 21:22] danroth27 commented on #2653
![image](https://user-images.githubusercontent.com/1874516/28545344-86ca8e14-707b-11e7-963b-1250fa6e8c25.png)

[2017-07-24 21:23] danroth27 commented on #2653
[code]

[2017-07-24 21:40] abpiskunov commented on #2653
ClientServerApp.Server has target netcoreapp2.0 and references netstandard1.3 project which seems to be supported https://docs.microsoft.com/en-us/dotnet/standard/net-standard . So warning icon might appear because we use shipped in VS nuget API to check compatibility and need to see what Nuget returns there to start with...

[2017-07-24 21:58] rainersigwald commented on #2467
We log that error, but it doesn't get a project context assigned. That's why it's in a separate section in the console output. This seems reasonable since we'll only attempt to resolve an SDK once per invocation, to avoid emitting the error many times. But maybe we should only emit this error once, but associate it with the first project that fails?

I have a vague recollection that only log event

[2017-07-24 22:09] davkean commented on #2467
@rainersigwald Yes we only log errors against the project. This needs to be revisited, we did that to avoid duplicate errors coming out of p-to-p references but instead we should de-dup them.

[2017-07-24 22:10] davkean commented on #2521
@srivatsn Need to think about that a bit - that will delay the time it takes to get project-to-project references, rulesets, options, conditional compilation symbols, etc.

[2017-07-24 22:16] davkean commented on #2614
I suspect we're running single file generators - why, I don't know.

[2017-07-24 22:19] davkean commented on #2596
One way is to do string comparison without actually creating an intermediate string.

[2017-07-24 22:26] abpiskunov commented on #2596
that is the trick there - we are trying to find an element X with caption equal to "given dependency"'s Caption + element X's (itemspec). This is dynamic information, which tells you if there is an element with same caption but other item spec already and you need to change caption for given dependency also to match that pattern..  How would you cache it?

[2017-07-24 22:27] davkean commented on #2618
Yes, this should work and how this was designed. [In particular](https://github.com/dotnet/project-system/blob/master/docs/repo/coding-conventions.md#data):

[2017-07-24 22:30] davkean commented on #2596
I didn't say cache it, I mean that instead of combining the string together and comparing that, just do a comparison that doesn't allocate via one of the [String.Compare overloads](https://msdn.microsoft.com/en-us/library/cc190416(v=vs.110).aspx) that take an offset/length. Or compare the other parts of the dependency that make up the "alias". Just don't allocate doing it.

[2017-07-24 22:31] abpiskunov commented on #2596
I see

[2017-07-24 22:33] srivatsn commented on #2462
The issue here is that the compile treats analyzers and their dependencies the same. The resource dlls are being passed to csc as /analyzer as well. One thing we could do here is that we any dll that doesn't have any analyzers at all should probably not show up in here. This is in the same boat as analyzer utlity dlls.

The analyzer node is in Roslyn. Moving to Roslyn

[2017-07-24 22:33] srivatsn commented on #2462
This issue was moved to dotnet/roslyn#21083

[2017-07-24 22:33] #2462 closed

[2017-07-24 22:35] srivatsn commented on #2459
[Moved to CPS](https://devdiv.visualstudio.com/DevDiv/_workitems?id=469293&fullScreen=false&_a=edit)

[2017-07-24 22:35] #2459 closed

[2017-07-24 22:41] srivatsn commented on #2417
This issue was moved to NuGet/Home#5638

[2017-07-24 22:41] #2417 closed

[2017-07-24 23:01] abpiskunov commented on #2588
@natidea did you check traces? I have not yest, but this issue seems to be related to globbing perf - we did see similar behavior when node modules were located under wwwroot and we have explicit exclusion for known large folders from wwwroot. In this case customer seems to add some folder we did  not exclude and globbing started to process it.

[2017-07-24 23:26] abpiskunov opened #2654 "[Dependencies] When have netcoreapp1.1 referencing netcoreapp2.0 there is error in error list from NuGet. however Dependencies tree does not mark unsupported project with yellow icon"
![image](https://user-images.githubusercontent.com/1592091/28549111-e8ac03c2-708c-11e7-8df1-52ecb449a227.png)

[2017-07-24 23:29] abpiskunov commented on #2654
Repro:

1. Create a core web app targeting 1.1, and then create a core class lib targeting 2.0.
2. Try to add core class lib dependency to web app.

wait for restore is complete (it should fail) and see no yellow icon in the Dependencies tree.

[2017-07-24 23:31] abpiskunov opened #2655 "No error in the error list for incompatible netcoreapp1.1 and netcoreapp2.0 apps"
Repro:

1. Create a core web app targeting 1.1, and then create a core class lib targeting 2.0.
2. Try to add core class lib dependency to web app.
3. wait for restore is complete (it should fail) and build solution

Actual output:

Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck

[2017-07-24 23:50] abpiskunov opened #2656 "Projects having netcoreapp1.1;net46 targets don't restore at all"
1. Create a Web App netcoreapp1.1
2. wait for restore
3. edit csproj and add net46 target (don't forget to change element name to TargetFrameworks)
4. Save and reload project

Actual result:

No auto restore happening, right click on Solution node and clicking "Restore Nuget Packages" dpes nothing

![image](https://user-images.githubusercontent.com/1592091/28549620-26ac93aa-7090-11e7-9dc0-35e207d5

[2017-07-24 23:50] abpiskunov commented on #2656
Also notice that no resolved references sent for anything under .NetFramework 4.6...

[2017-07-25 00:05] enshuoh opened #2657 "Adding TFM back after removing it doesn't work"
Repro:
1.	Start with a multi-TFM solution like (\\mlangfs1\public\enhsu\MTFM)
2.	Remove a TFM (net461)
3.	Add same TFM(net461) back

![capture0](https://user-images.githubusercontent.com/2121569/28549870-fa906fd8-7091-11e7-9fa1-56ebc89b4a18.PNG)
![capture1](https://user-images.githubusercontent.com/2121569/28549871-fb822972-7091-11e7-81de-b29bcdc04611.PNG)
![capture2](https://user-images.githubuse

[2017-07-25 00:54] davkean opened #2658 "Replacing a misspelt TFM with a different TFM doesn't restore"
1. Create a .NET Standard project.
2. While it's loaded replace with the following:

[code]
3.  Save, reload when prompted
4. Right-click -> Edit
5. Replace netcore1.1 with netcoreapp1.1
6. Save

Expected: For the project to restore
Actual: Project doesn't restore

Looking at project.json looks like it's still using old name:

[code]

[2017-07-25 00:54] davkean commented on #2658
![image](https://user-images.githubusercontent.com/1103906/28550887-a631b410-7127-11e7-8a43-5b91ce522223.png)

[2017-07-25 00:56] davkean commented on #2658
I can't get the thing to restore for NetCoreApp at all even if I close the solution and reopen,. this also smells like: https://github.com/dotnet/project-system/issues/2656

[2017-07-25 00:59] davkean commented on #2656
It thought this might be different: https://github.com/dotnet/project-system/issues/2658 but it's probably the same thing. I'm guessing the code that joins the configured projects subscriptions together is causing this and preventing us from notifying NuGet of the changes.

[2017-07-25 01:08] viktorveis commented on #2555
This is the same issue as here, but we don't have a local repro: https://developercommunity.visualstudio.com/content/problem/76063/microsoftvisualstudioprojectsystemprojecttreecorru.html

@timcromarty, could you please share exact repro steps, including steps to create a repro solution?

[2017-07-25 01:43] davkean commented on #2212
The perf is bad - and we need to dig into why it's taking longer.

That particular case where it takes ~2 minutes to start building under ASL is a solution bug, they wait for all projects to load before letting you F5, instead of just waiting for those startup projects and their dependencies . I raised this to @viktorveis - but there seemed to be very little interest in fixing this.

[2017-07-25 01:53] davkean commented on #2656
This looks to be NuGet bug, this is throwing InvalidOperationException:

[code]

[2017-07-25 01:53] davkean commented on #2658
Dup'd against: https://github.com/dotnet/project-system/issues/2656

[2017-07-25 01:54] #2658 closed

[2017-07-25 01:54] davkean commented on #2656
This issue was moved to NuGet/Home#5645

[2017-07-25 01:54] #2656 closed

[2017-07-25 03:30] natidea opened #2659 "Visual Studio locking .NET Standard 1.4 output dll"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/62091/visual-studio-devenvexe-keeps-locking-my-net-stand.html) | [Ticket 441985](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/441985)

Reported on VS2017 15.2 (15.0.26430.6)

[2017-07-25 03:30] jviau commented on #2652
Is opening the unrelated project causing a change to a .targets or .props file shared by a project in Roslyn.sln?

[2017-07-25 03:32] jviau commented on #2555
@timcromarty what build of VS is this occurring on? This looks like an issue we have fixed for 15.3.

[2017-07-25 03:50] davkean commented on #2622
@heejaechang I really suspect this is our tear down logic causing havoc here - hence why I filed it here. We basically have zero guarantee that our "AbstractProject" still exists when we're called back for errors/warnings.

[2017-07-25 08:31] kierenj opened #2660 "Intellisense for netstandard (<1.4) broken for 4.6.1 project (15.3 update 3)"
Hi - I've done a little searching and found links to #485, however I'm getting this with 15.3 update 3.

I have a .NET Standard class library project (netstandard13, but anything <netstandard16 has the issue), and a regular old .NET Framework 4.6.1 class library project.

The classes from the netstandard14 project show as red, with no intellisense.  Compilation is fine however.  There are no refer

[2017-07-25 09:29] wolf99 commented on #256
What is the current state of this? Did that PR ever get merged? I'm not seeing it in the listings here for either 15.3 or 15.6 milestones.

[2017-07-25 12:06] timcromarty commented on #2555
This was happening on 15.3 preview 3, and is still occurring on 15.3 preview 4. Version 4.6.01055.

Sorry, I have not had time to create a repro

[2017-07-25 12:59] kierenj commented on #2660
A restart of my machine fixed this.  (Reloading the solution and restarting Visual Studio did not - it took a full restart).
My issue is fixed, but if this is something you'd like me to give more detail on, let me know.

[2017-07-25 16:50] srivatsn commented on #256
The PR mentioned above was for the class diagram designer which is not open source. That was merged. However there's a bug in CPS (also not open source) that still needs to be fixed before this scenario can work fully. I've just pinged that bug today.

[2017-07-25 16:51] srivatsn commented on #256
[CPS bug for reference](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/395144)

[2017-07-25 17:58] srivatsn commented on #2588
@natidea can you follow up with CPS folks?

[2017-07-25 19:47] tannergooding commented on #2650
This will need follow up with the accessibility folks. It was indicated to me that the current behavior was the expected behavior (that is, tabbing on the page selection panel should navigate between the available pages, rather than back to the active page).

[2017-07-25 20:59] srivatsn commented on #2660
@dsplaisted could this be the TargetPlatform issue you fixed recently?

[2017-07-25 21:03] natidea commented on #2654
This is a dupe of https://github.com/dotnet/project-system/issues/2436 which contains the root problem. Fixes are needed in multiple repos

[2017-07-25 21:03] #2654 closed

[2017-07-26 02:31] sharwell opened #2661 "Open Containing Folder broken for editing project files"
### Steps to reproduce

1. Open a project
1. Right click the project in Solution Explorer &rarr; Edit *ProjectName*.csproj
1. Right click the document tab at the top of the editor &rarr; Open Containing Folder

### Expected results

The project folder opens in Explorer, similar to if you right clicked on the project name in Solution Explorer and selected Open Folder in File Explorer.

### Actual r

[2017-07-26 02:42] davkean commented on #2661
Yep, known, dupe of: https://github.com/dotnet/project-system/issues/780

[2017-07-26 02:42] #2661 closed

[2017-07-26 07:27] davkean opened #2663 "Renamer can null-reference"
.NET Crashes in: https://developercommunity.visualstudio.com/content/problem/67068/unit-tests-take-a-very-long-time-appear-in-the-tes.html

[code]

[2017-07-26 07:31] davkean commented on #2663
Note that the method has now split into GetStrategy and IsCompilationCaseSensitive.

We're making the assumption that Project itself is never null - which isn't true if the project has been removed from Roslyn collection - but we still haven't called renamer.

[2017-07-26 13:26] AyhamB commented on #2588
@natidea I'm facing same issue as @natidea It's very easy to reproduce. Adding a template assets folder under wwwroot makes it impossible to work on the project. Any advice or workaround?

[2017-07-26 13:48] jasselin commented on #2588
@natidea Have a look at this, seems to work for me. https://github.com/Microsoft/msbuild/issues/2238

[2017-07-26 18:12] tannergooding opened #2665 "Expose a mechanism for supporting a 'TemplateGroupID' via 'ProjectCapability'"
Today there are several templates (such as the WPF templates) that are not visible by default and instead are filtered based on a 'TemplateGroupID'.

(https://msdn.microsoft.com/en-us/library/ms171388.aspx)

We should expose a mechanism for supporting `TemplateGroupID` based on project capabilities.

[2017-07-26 18:12] tannergooding commented on #2665
FYI. @srivatsn

[2017-07-26 22:28] davkean commented on #2665
We should just move these to capabilities.

[2017-07-26 22:29] tannergooding commented on #2665
@davkean, is there existing syntax for supporting a vstemplate based on project capability?

[2017-07-26 22:30] davkean commented on #2665
Yes, AppliesTo. But when we make these changes we should factor in legacy which does not read capabilities from targets.

[2017-07-26 22:31] davkean commented on #2665
We already moved most of UWP to capabilities, WPF is pretty much the only other templategroupid that we'll support.

[2017-07-27 03:12] bording opened #2667 "New project system doesn't copy PDBs from packages when targeting .NET Framework"
When a NuGet package includes PDBs in its lib folder, the legacy project system copies the PDB as well as the assembly into the build output folder.

The new project system only copies the assembly.

We've recently added [source link support ](https://github.com/Particular/NServiceBus/pull/4862), and when using the new project system with a .NET Core target, everything works fine since the PDB is

[2017-07-27 04:11] davkean commented on #2667
This issue was moved to dotnet/sdk#1458

[2017-07-27 04:11] #2667 closed

[2017-07-27 11:24] sharwell opened #2668 "Deduplicate properties in rules for item types"
Currently there is a large amount of duplication of properties in the rules for various item types. For example, the **Build Action** property appears in every single item type rule. These properties should be de-duplicated through inheritance/extensions after the underlying project system is updated to support such a feature.

The mechanism for this extensibility should also be documented for ext

[2017-07-27 13:25] Portikus opened #2669 "Building a CPS based project without changes since last build causes Visual Studio to build the project."
Hi,

**Repo**
1. Create a new solution with the .netstandard template.
2. Build the project
3. Build the project again.

**Expected result**

Visual Studio should not start a build and should display:

**Actual result**

Visual Studio does something. The Log says:

1>ClassLibrary1 -> c:\users\ahuis_f\documents\visual studio 2017\Projects\ClassLibrary1\ClassLibrary1\bin\Debug\netstandard1.4\ClassLi

[2017-07-27 14:58] NickCraver opened #2670 "Add support for ASP.NET (non-Core) projects"
We routinely run into cases where the new project system and ASP.NET MVC 5 collide (or rather, don't) - I'd like to see support added. Here are the main use cases I'm aware of, I hope others add more to this issue:

### Use Case: Migration

One of the awesome features of the new .csproj system is glob patterns (and Visual Studio not replacing them on every save). This was something we really looke

[2017-07-27 15:06] NickCraver commented on #2670
cc @davkean @davidfowl - we've discussed this a bit before as I beat my head on the wall making these things kind-of-work in testing the new system.

[2017-07-27 15:09] mduu commented on #2670
One more:
The project files are the files most often result in merge-conflicts because multiple dev added or even renamed files in the projects. Project files are the bottleneck here as most work will result unchanged in the csproj.

[2017-07-27 18:21] xt0rted commented on #2670
I'd love to move my projects over to the new system but I'm forced to stay with MVC5 until all dependencies work on .net core as they do today.

Since EF code first migrations don't work with the new system the two projects that would benefit from this the most can't be updated (the website & the DAL). Because of this there's nothing to be gained if I migrate the other smaller projects.

If web pr

[2017-07-27 18:52] mbp commented on #2670
For the immediate use case, the new project file format provides some great features such as transitive references. And for some reason, updating packages in a large solution with the old project file format takes ages. Just being able to hand-edit the csproj to update version numbers is one of the best features in it.

[2017-07-27 19:06] #2605 closed

[2017-07-27 19:41] morrisjoe commented on #2653
@danroth27 @srivatsn @natidea

This also happens for this simple scenario....

1. File->New->Web .NET Core 2.0 projects
2. Add a unit Test project to the sln
3. Add a P2P Ref from 2 to 1

[2017-07-27 20:01] morrisjoe commented on #2653
@danroth27 @srivatsn @natidea

Note: Even though Dependencies/Projects shows yellow bang, Intellisense is working for the public classes coming in from the project reference

[2017-07-27 20:07] natidea commented on #2653
In the case of @morrisjoe I see a NuGet restore failed and the log file contains package downgrade errors:

[code]

Because of https://github.com/dotnet/project-system/issues/2436 these diagnostics are not showing up.

[2017-07-27 20:36] JesperTreetop commented on #2670
As someone with a lot of MVC5 projects I have considered migrating them to the new csproj, since there's a lot to like. Since NuGet package scripts don't work, this breaks or at least makes working with Entity Framework migrations an unsupported scenario. ([See xt0rted's comment](https://github.com/dotnet/project-system/issues/2670#issuecomment-318445206).) They are present in all or almost all of

[2017-07-27 21:58] davkean commented on #2669
What build of Visual Studio are you using?

[2017-07-27 21:59] davkean commented on #2668
Not sure what makes this blocked or VSLangProj parity, can you help me understand?

[2017-07-27 22:01] davkean commented on #2668
Ah, by blocked you mean "CPS feature" and by Vslangproj you mean as a replacement for ObjectExtenders. I would expect ObjectExtenders to work, do they not?

[2017-07-27 23:04] scottsauber commented on #2670
At DevIntersection in May it was said by a MS high up in a session that the new project system was coming to older projects by the end of the year this year, FWIW.

[2017-07-27 23:27] sharwell commented on #2668
I was not able to get them working when trying to solve tunnelvisionlabs/LangSvcV2#85 prior to going with the approach in tunnelvisionlabs/antlr4cs#234.

[2017-07-27 23:30] davkean opened #2671 "ObjectExtender support"
We should support object extenders so that existing extenders can add properties to CPS Solution items.

[2017-07-27 23:31] davkean commented on #2668
Filed https://github.com/dotnet/project-system/issues/2671 to track that - I was under the impression that they worked because we had R# ping us about them.

[2017-07-28 07:10] Portikus commented on #2669
Version 15.2 (26430.16) Release

[2017-07-28 07:16] davkean commented on #2669
Thanks. We've added support for this in the 15.3 previews.

[2017-07-28 07:16] #2669 closed

[2017-07-29 11:24] miloush commented on #2557
OK I was originally looking for the ASP.NET Core project to just enable the item template for app manifest.

If this is in hands of the .NET Core projects in general, I would argue that the default manifest should declare support at least for the OS the VS is running on.

[2017-07-29 12:00] shaggygi commented on #2670
@scottsauber I seriously don't think this will happen based on this [Repo Roadmap](https://github.com/dotnet/project-system/blob/master/docs/repo/roadmap.md) for milestone 16.

[2017-07-30 22:55] davkean commented on #2316
We should move this completely to data flow, see: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/461771?fullScreen=false for more information.

[2017-07-31 08:01] ManfredLange commented on #2239
Not sure this is related: I added a postbuild event as a target to the project file to execute a command in a particular working directory. In this case the macro $(SolutionDir) is not set to the solution as I expected but set to the directory of the project which in turn is in a directory underneath the one that contains the solution file.

`<Target Name="PostBuild" AfterTargets="PostBuildEvent">

[2017-07-31 17:46] srivatsn opened #2674 "Add telemetry to identify the tasks that get run in a designtime build."
So that we can profile and understand what causes UI delays in VS.

[2017-07-31 17:47] srivatsn opened #2675 "Tool to profile\analyze design time builds"

[2017-07-31 17:49] srivatsn opened #2676 "Info bar to warn users about slow design time builds due to custom tasks"
If a design time build is taking longer than some threshold and if we see that there are custom tasks in the DT build, pop up an info bar with a link to a doc that explains how to profile and fix the DT build perf.

[2017-08-01 00:46] dirething commented on #2670
I have a number of solutions that contain projects that cannot migrate anytime soon as they rely on things like signalR in its current form, MSMQ and EF code first.  It would be nice to be able to start new work where possible in the new system until I have the manpower available to rewrite the main components that rely on things the team has decided not to support in a directly upgradeable manner

[2017-08-01 05:32] davkean commented on #2593
Side note, I'm looking at Roslyn-specific perf over here: https://github.com/dotnet/roslyn/issues/21225. It looks like globs probably regressed design-time perf by about 30%.

[2017-08-01 15:52] abpiskunov opened #2677 "ProjectSystem should call IVsGlobalPackagesInitScriptExecutor everytime when new packages are added to project (or on project load)"
In Dev14 we had a contract with nuget team that project system would notify them to run init.ps1 script for all new packages or on project load, since otherwise nuget in-proc can't know anything about packages in projects.

We miss this in Dev15 and the scenario that is regressed is:

1. Open VS and open Package Manager Console
2. Close VS
3. Reopen VS package manager console is opened already.
4.

[2017-08-01 16:02] ericstj opened #2678 "Adding item templates doesn't effect the project if EnableDefaultCompileItems is set to false."
Using 15.3 preview 26723.0.d15rel

1. Create new NETStandard library project.
2. Edit the CSproj to set EnableDefaultCompileItems and manually include class1.cs.  EG:
[code]
3. Do Add > New Item and select a class.  Name it "test".
4. In Class1.cs try to instantiate "test".

Expect: compile works and item is added to csproj.

Actual: added item is missing from project, but appears in the solution

[2017-08-01 16:07] ericstj opened #2679 "Click/double-click seems to often be interpreted as move"
Using 15.3 preview 26723.0.d15rel

Create a new netstandard library project.

Click and slightly drag an item in the project hierarchy.  You'll see a popup saying
![image](https://user-images.githubusercontent.com/8918108/28834909-89f4e800-7698-11e7-9634-9dcdbea7d09b.png)

The same happens often when I'm double clicking and move the mouse ever so slightly.

This does not reproduce with dev 15 RTM.

[2017-08-01 17:08] abpiskunov commented on #2677
Closing as nuget logic changed in Dev15 and they discover packages on they own and keep IVsGlobalPackagesInitScriptExecutor  for compatibility.

[2017-08-01 17:08] #2677 closed

[2017-08-01 19:21] srivatsn commented on #1660
Closing this since all the items above have been validated

[2017-08-01 19:21] #1660 closed

[2017-08-01 21:55] srivatsn opened #2680 "Reference initialization optimization"
During project load, the legacy project system cracks open dlls to read some information from metadata. This shows up in solution load traces as a significant cost. We should see what we can do here - maybe the ResolveAssemblyReferences can read this information and output that as a build variable that the project system can just read.

[2017-08-01 23:30] sharwell commented on #35
👍 Just hit this today

[2017-08-01 23:33] nguerrera opened #2681 "Adding resource with culture sets unnecessary ResXFileCodeGenerator metadata, pollutes error list"
## Setup
* VS Version:15.3.0 Preview 7.0 [26730.0.d15rel]
* .NET Core SDK Version: 2.0.0-preview3-006908

## Repro steps
* File -> New Project -> .NET Core -> Console App
* Add Item -> ResourcesFile -> Resource1.fr.-CA.resx

## Expected result
* As with legacy project system, no ResxFileCodeGenerator metadata is set because the resource file has a specific (non-neutral) culture and therefore no co

[2017-08-02 01:38] davkean commented on #2678
The SDK has a glob that includes all files that are not Compile items in the None glob. The None glob is picking it up. As far as the project system is concerned this is by design, but you might want to file this against SDK which contains the glob if you think this is confusing.

[2017-08-02 04:57] sharwell opened #2682 "Incomplete design time build after saving an input to an MSBuild code generator"
Using Visual Studio 2017 (15.3 Preview 7).

### Steps to reproduce

1. Check out antlr/antlrcs@ca331b7109e1faa5a6aa7336bb6281ce9363e62b
2. Open **Antlr3.sln**
3. Open **ActionAnalysisLexer.g3** and **ActionAnalysisLexerHelper.cs** side-by-side (two windows split vertically)
4. In **ActionAnalysisLexer.g3**, add the following rule after the current `X_Y` rule:

[code]

5. Save **ActionAnalysisLexer

[2017-08-02 05:14] davkean commented on #2682
This is just CPS not running MSBuild generators for all "active configs" It should be respecting IConfiguredProjectReadyToBuild

[2017-08-02 20:29] abpiskunov opened #2684 "[Dependencies] Adding a project reference for netcoreapp2.0 ->netcoreapp2.0 shows yellow Project node without hierarchy"
VS d15rel 26730.0

Problem project reference node is flaky, scenario below can be repro for me every other time and is very visible. Its a regression, i did not see this flakiness before.

0. Start fresh VS instance
1. Create a new Web Coe 2.0 app and wait for restore
2. Add new project to solution Net Core Unit Tests project, wait for restore.
3. Add p2p refrenece UnitTests -> WebApp, wait for re

[2017-08-02 20:32] abpiskunov opened #2685 "[Dependencies] Unloading netcoreapp20 project and reloading can show all dpendencies nodes yellow even though they all resolved"
VS d15rel 26730.0

Repro steps are literally same as in this https://github.com/dotnet/project-system/issues/2684 (thats how i ended up with here). It is a regression, this did not happen before.

1. Do all steps frm this issue https://github.com/dotnet/project-system/issues/2684
2. Unload Unit testss project and reload it.

Actual result:

![image](https://user-images.githubusercontent.com/159209

[2017-08-02 20:33] abpiskunov commented on #2684
Note: restore was fine, no errors or warnings

[2017-08-02 20:39] abpiskunov commented on #2685
This is how UnitTests project's Dependencies should have been looking, notice SDK and Analyzers groups presnt there, when On upper image they are not there.... happens pretty consistent..

![image](https://user-images.githubusercontent.com/1592091/28893877-e202f952-7787-11e7-9171-e7f7828e8bde.png)

[2017-08-02 22:59] davkean commented on #2679
Resolved in lieu of https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=473450&fullScreen=false&_a=edit.

[2017-08-02 22:59] #2679 closed

[2017-08-03 00:18] davkean opened #2686 "Need to implement IExtenderCATIDProvider to enable extenders to extend our property pages"
_From @NickCraver on August 3, 2017 0:6_

Just found a crash for VS in the logs, stack here:

[code]

Hopefully that path makes some sense - VS 2017 Preview 7 in play.

BuildVision Version: 1.4.1.61

_Copied from original issue: StefanKert/BuildVision#30_

[2017-08-03 00:18] davkean commented on #2686
Two bugs here that I can see;

1) we're not implementing IExtenderCATIDProvider - so the CATID that CPS is to ObjectExtenders.GetExtenderNames is very likely null.

2) CPS shouldn't be calling ObjectExtenders.GetExtenderNames if there's no IExtenderCATIDProvider.

[2017-08-03 05:47] natidea opened #2687 "Some Custom tools do not run in .NETStandard projects"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/61552/custom-tools-do-not-run-in-standard-projects.html) | [Internal Link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/441201):

A related issue https://github.com/Microsoft/VSSDK-Extensibility-Samples/issues/95 points out the [Single File Generator](https://github.com/Microsoft/VSSDK-Extensibility-Samples/tre

[2017-08-03 16:54] srivatsn opened #2688 "Project refs to Shared projects don't get a Remove command in the dependencies tree"
Create a netcore project and add a shared project as a reference.

Expected: a way to remove the reference.
Found: No way

![image](https://user-images.githubusercontent.com/20570/28933370-acd8ea20-7831-11e7-9f43-2cc0d06a42a4.png)

[2017-08-03 17:05] natemcmaster commented on #2577
I came across the same issue, too. It would be nice if there were an item group or well-known property which would let us specify additional files that should be watched by the project system.

FYI - I came across this because changes to `global.json` do not automatically trigger and update. You have to close/open VS or touch each .csproj file to trigger the refresh. Perhaps this is an oversimplif

[2017-08-03 17:11] srivatsn commented on #2577
Ya that would be an useful feature. I've logged a bug on CPS to track the request - https://devdiv.visualstudio.com/DevDiv/_workitems?id=473913&fullScreen=false&_a=edit

[2017-08-03 17:11] #2577 closed

[2017-08-04 05:13] harvinders commented on #2660
This is still an issue for me. Tried restarting, but that did not help.

[2017-08-04 07:16] davkean commented on #2676
I've thought about this a bit more, and I think we need to take this further. In the [past two slow design-time builds](https://github.com/Microsoft/msbuild/issues/2392) that I've investigated - none of them are due to slow targets. The are caused by evaluation time. Perhaps we need a hook from MSBuild to grab evaluation times (or we capture that from CPS) - and we warn if things are slow.

[2017-08-04 08:21] FransBouma opened #2690 "CSharp file in multiple csproj in the same solution can'"

[2017-08-04 08:21] #2690 closed

[2017-08-04 08:25] FransBouma commented on #2690
I accidentally hit enter, will file a new one.

[2017-08-04 08:28] FransBouma opened #2691 "C# file in multiple csproj files in same solution can't be switched between said csprojs in vs editor"
Repro: [CSharpEditorRepro.zip](https://github.com/dotnet/project-system/files/1199694/CSharpEditorRepro.zip)

The attached repro case has two csproj files, one targeting NetFX and one targeting NetStandard2.0. The Netstandard2.0 project references the cs file from the NetFX project. While I know in theory one could use 'multi-targeting', for now I'm not using that due to tooling being in preview s

[2017-08-04 10:19] wolf99 commented on #1419
Is it the same? I don't know the inner workings but on face value "None" would seem to mean "no setting", whereas "Invariant" would mean set to be insensitive to culture (i.e. a setting to this effect would be added).

I found this issue precisely because I was searching for information on using the Invariant option as my resources are XSD schema files that are only intended to be used with the in

[2017-08-04 14:19] sharwell commented on #1419
@davkean Can you clarify which of the following is the bug? That way if someone beats us to a PR they can get it right. 😄

1. The bug is the current behavior is correct and the setting is useless; resolve by not showing the item
2. The bug is the current behavior fails to properly apply the value when a user picks "Invariant Language"; resolve by keeping the item and fixing the way it gets used

[2017-08-04 15:14] rainersigwald commented on #2676
@davkean MSBuild does have `ProjectEvaluationStartedEventArgs`; in https://github.com/Microsoft/msbuild/pull/2157 we started emitting evaluation time information into our own performance summary.

[2017-08-04 15:28] srivatsn commented on #2676
We should only pop up the info bar if there is something that the user can do fix the problem. If it's evaluation being slow, I doubt there's anything they can do - that's for us to fix the perf issues.

[2017-08-04 18:50] davkean commented on #2676
User written globs can affect evaluation.

From: Srivatsn Narayanan<mailto:notifications@github.com>
Sent: Saturday, August 5, 2017 1:28 AM
To: dotnet/project-system<mailto:project-system@noreply.github.com>
Cc: David Kean<mailto:David.Kean@microsoft.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [dotnet/project-system] Info bar to warn users about slow design time builds due to cus

[2017-08-04 19:37] jcouv opened #2692 "Generate binding redirects should be on by default"
A number of customers ran into issues with ValueTuple in .NET Standard 2.0 in unittests with EntityFramework. It turns out the problem was missing binding redirects.
@weshaggard recommended two settings for such projects:
[code]

Those settings are apparently set for executable project templates, but not for unittests.

https://github.com/aspnet/EntityFramework/issues/9046#issuecomment-314187616
h

[2017-08-04 20:07] ericstj commented on #2692
I really think MSBuild should just fix the defaults.  /cc @rainersigwald

[2017-08-04 20:10] rainersigwald commented on #2692
@ericstj Can you convince me that that's not a breaking change? It certainly seems like it would be.

[2017-08-04 20:26] ericstj commented on #2692
It can't be completely breaking since we're making it in various SDKs and templates.  I know we don't want to enable it for web projects since they need redirects in the source app.config.  Other than that I think it should be safe to turn it on.

[2017-08-07 02:41] davkean commented on #2692
It will be breaking to switch this on, SDK and templates are new code and doesn't change the behavior under a project.

[2017-08-07 16:12] ericstj commented on #2692
Sure, that's fine to make the change in these template for now.  I agree that templates are new code and its fine to change the default.   It just feels like this is a whack-a-mole.

I think MSBuild should do the work to understand what is actually breaking about such a change and make a *reasonable compromise* between a minimally breaking change and not having to require every project carry this

[2017-08-07 16:38] onovotny commented on #1125
Keep in mind that this also affects SDK-style projects that only target .NET Desktop. I have a .NET Framework exe using the SDK project system and have a need to do mixed mode debugging. I need a cumbersome hack (use a start program from a legacy project pointing to the output of the SDK project)

[2017-08-07 18:40] rainersigwald commented on #2692
@ericstj I find your position here really confusing.

This is how I think of it:
1. The .NET assembly loader respects binding redirects. Having them can result in an observable runtime change.
1. Common targets don't generate binding redirects by default.
1. If we changed the default, binding redirects would be created for some projects when built with new toolsets, but not created on older toolse

[2017-08-07 18:51] ericstj commented on #2692
You need to make the fix so that the only *observable runtime change* is removing a exception.  We have long standing precedent in DevDiv Compat for allowing a breaking change (with docs) when that breaking change is merely removing an exception.  Theoretically this fix should be implementable in a way that its merely removing the runtime exception: that was the whole basis for the original featur

[2017-08-07 19:56] terrajobst commented on #2692
I also feel like we need to apply a different bar for (potentially) breaking changes between "launching an existing app binary on a few framework" and "building an existing code base with a new toolset". In the later, breaking changes can be mitigated by giving people an opt-out (which exists for automatic binding redirects), and is generally considered acceptable (which doesn't hold for the forme

[2017-08-07 20:05] basoundr commented on #2630
@jainaashish I dont see any folder named `asja` under `\\scratch2\scratch`. There might be a typo there.

[2017-08-07 22:24] davkean opened #2694 "ProjectTypeGuids is case-sensitive"
_From @tamlin-mike on August 4, 2017 7:49_

See:
https://github.com/0xd4d/dnSpy/issues/475

Expected: VS able to parse hexadecimal values [a-f] disregarding case.
Actual: Seemingly, VS is unable to understand that "1a" and "1A" are equivalent.

_Copied from original issue: dotnet/roslyn#21322_

[2017-08-07 22:24] davkean commented on #2694
_From @Pilchie on August 7, 2017 22:7_

Tagging @srivatsn /  @davkean - what's the right home for this issue?

[2017-08-07 22:29] davkean commented on #2694
It's parsed in CVsProjectFactory::GetAggregateProjectType (implementation of [IVsAggregatableProjectFactory.GetAggregateProjectType](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.shell.interop.ivsaggregatableprojectfactory.getaggregateprojecttype.aspx)). We don't control all the callers of this, but if we just made sure we always returned an upper case GUID from here - that would

[2017-08-08 02:24] davkean commented on #2691
Repro #1:

1. Open Solution
2. Open Class1.cs from ReproNetFx

Expected: For ReproNetFx to be "current context"
Actual: ReproNetStandard is "current context""

Repro #2:

1. Open Solution
2. Open Class1.cs from ReproNetStandard
3. In context drop down, choose ReproNetFx
4. Set focus to editor

Expected: For ReproNetFx to be "current context"
Actual: ReproNetStandard is "current context""

[2017-08-08 02:25] davkean opened #4467 "C# file in multiple csproj files in same solution can't be switched between said csprojs in vs editor"
_From @FransBouma on August 4, 2017 8:28_

Repro: [CSharpEditorRepro.zip](https://github.com/dotnet/project-system/files/1199694/CSharpEditorRepro.zip)

The attached repro case has two csproj files, one targeting NetFX and one targeting NetStandard2.0. The Netstandard2.0 project references the cs file from the NetFX project. While I know in theory one could use 'multi-targeting', for now I'm not u

[2017-08-08 02:25] davkean commented on #2691
This issue was moved to dotnet/roslyn#21358

[2017-08-08 02:25] #2691 closed

[2017-08-08 20:19] airbreather opened #2695 "App.config Not Properly Handled By Up-To-Date Checker"
Running the latest Visual Studio Preview, I noticed that a `net46` project with an old `App.config` file was never considered "up-to-date".  I did some digging and noticed something odd... I've boiled it down to this, which I think might be a problem with the relatively new `UpToDate` stuff in this project.

# Environment
Visual Studio Community 2017 Preview
Version 15.3.0 Preview 7.0

Windows 10

[2017-08-09 03:11] bording commented on #1602
I've been having to debug design-time builds a lot recently, so being able to to enable/disable the design-time build output window from a Visual Studio option would be a much nicer experience.

I'd also like to be able to adjust the output verbosity separately from the regular build output.

[2017-08-09 07:29] davkean commented on #1602
C++/CPS also wanted a separate verbosity in an offline thread I had with them.

[2017-08-10 03:58] davkean commented on #2594
Had a look, we're scheduling ourselves to init at the same time as others that run in that first design-time build, but we're switching to the UI thread before hooking up a listener. This is likely causing us to miss the first design-time build.

[2017-08-10 06:01] davkean opened #2698 "Second build of a project always fails up-to-date"
1. File -> New Console App (.NET Core)
2. Wait for design-time builds to finish (or the warning icon in dependency node)
3. Build
4. Build again

Expected: For design-time build to be up-to-date
Actual:

1>FastUpToDate: The list of source items has changed since the last build. (ConsoleApp86)
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio

[2017-08-10 06:01] davkean commented on #2698
tag @panopticoncentral

[2017-08-10 06:12] panopticoncentral commented on #2698
Yeah, this is a known issue that I meant to revisit. IIRC, it's a problem with globs. The up to date check component isn't instantiated until the first build. At that point, we haven't got anything from the data flow, so we can't check up to date. The second time, we've gotten the results from the data flow, but we don't actually know if the list of source items have changed since the last build s

[2017-08-10 06:14] davkean commented on #2698
We should hook onto project load and run before the first build.

[2017-08-10 07:10] mizbrodin opened #2699 "Prompted to reload when commenting out a target"
[code]

[2017-08-10 14:07] mizbrodin opened #2701 "Cannot delete a selection of project items containing a mix of links and actual files"
Microsoft Visual Studio Enterprise 2017 Preview 7 (15.3.0-pre.7.0+26730.0)

Repro steps:
1. Create a new class library project. Class1.cs file will be created automatically.
2. Add an existing file into the project as a link (**Add as Link** button in the Open File dialog box)
3. Select both items in Solution Explorer (Class1.cs and the newly added linked item).
4. Press **Delete** key on the keyb

[2017-08-10 19:09] viktorveis opened #2702 "RPS test for .NET Core projects"
We need an end-to-end test to catch perf regressions in .NET Core project system.

[2017-08-10 20:22] adrianvmsft opened #2703 "Add telemetry for Dependencies node loading duration"
This would allow getting statistical information about how long it takes to populate the Dependencies node

[2017-08-10 22:45] 333fred opened #2704 "Rename Fails when class is already named the target file name"
I'm running the latest Int Preview, build 26730.0. Repro steps:

1. Create a new .net console app
2. Open Program.cs
3. Change (without refactor) Program to C1
4. Rename Program.cs to C1.cs in VS

Expected:
Program.cs is renamed to C1.cs on disk

Actual:
Program.cs remains on disk. There is a new entry in the project file of:
[code]
Program.cs doesn't appear in the solution explorer, just C1.cs. W

[2017-08-11 00:45] davkean commented on #2211
Also see: https://github.com/dotnet/roslyn/issues/21429

[2017-08-11 01:04] davkean commented on #2702
@abpiskunov I believe you are working on this, yes?

[2017-08-11 01:06] davkean commented on #2702
If you're already got a bug on this, feel free to dup this one against it.

[2017-08-11 03:16] bording opened #2705 "Dependencies tree should show package's <frameworkAssemblies>"
When referencing a package that includes framework assembly references, it's currently impossible to tell that the framework assembly references are being added to the project. They don't show up in the Assemblies node for the project, and they aren't listed under the package's node either.

The only way I've found to be able to see these references right now is by looking at the project.assets.js

[2017-08-11 15:14] abpiskunov commented on #2705
They should appear under package that brings them. It could be regression either in Dependencies node or in sdk target that processes json file and sends data to dependencies node.

Thanks,
Anton

On Aug 10, 2017, at 8:16 PM, Brandon Ording <notifications@github.com<mailto:notifications@github.com>> wrote:

When referencing a package that includes framework assembly references, it's currently impo

[2017-08-11 15:57] abpiskunov commented on #2702
Nope, i created an E2E test which run in our repo not RPS.

[2017-08-11 16:18] bording commented on #2705
@abpiskunov I have never observed this to be true, and I've used every public version of VS 2017 that's been released, and all of the 15.3 preview releases + public .NET Core preview SDKs.

I've just tested again with 15.2 + 1.0.4 SDK, and I don't see them anywhere. I've also looked at 15.3 preview 7 + a daily preview3 SDK, and they are missing there also.

[2017-08-11 17:08] abpiskunov commented on #2705
Well i tested when it was first added and it was there, but it does not matter. It is broken and need to be fixed ...

[2017-08-11 18:12] natidea opened #2706 "Removing Microsoft.VisualBasic import in .NETStandard Lib throws poor Error Message"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/91802/unable-to-unselect-microsoftvisualbasic-in-project.html) | [476721](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/476721):

Steps to reproduce:
1. Create new VB .NET Standard project.
2. Go to Project Properties > References
3. Unselect Microsoft.VisualBasic in Imported namespaces list.
4. There is an erro

[2017-08-11 18:22] natidea commented on #2706
Also adding a remove to the project file does not deselect the import:
[code]

[2017-08-11 18:29] lifengl opened #2707 "Perf: DependenciesTree UpdateTree logic (BuildTreeForSnapshotAsync) is way too expensive"
I took a trace to load this Roslyn project solution, and didn't wait the entire dependencies tree to be loaded.  Even with this partial trace, the dependencies tree updateTree logic has already used 1.9s CPU time.  Comparing to that, the directory tree is loaded in 250ms, and the physical tree used less than 550ms (and 1/3 of that was to check whether app designer is enabled, which can be discusse

[2017-08-11 21:23] lifengl opened #2708 "Perf: ProjectAssetFileWatcher.Initialize initialize directory watcher dataflow in UI thread"
ProjectAssetFileWatcher.Initialize is called in the UI thread, and blocks to UI thread to initialize the directory tree dataflow.  Other than the query service (the first line), can we move the rest of the initialization out of the UI thread?

[2017-08-11 21:26] davkean commented on #2708
👍

[2017-08-14 18:19] rohit21agrawal opened #2709 "VS2017 .NET Standard - Pack option - generate Nuget Packages in a unified directory for all projects in the solution / customize package creation path"
_From @mss37 on August 14, 2017 10:35_

Please read the following information before posting the issue.
## Details about Problem

NuGet product used (VS UI | Package Manager Console | dotnet.exe):

NuGet version (Package Manager Console Host Version 4.1.0.2427):

dotnet.exe --version (2.0.0-preview2-006497):

VS version (VS2017 26403.7):

OS version (win10):

Worked before? If so, with which NuGet

[2017-08-14 18:19] rohit21agrawal commented on #2709
@mss37  you can set the ``` <PackageOutputPath> ``` property in your csproj (which is relative to your project directory) to determine where the package gets output.

For reference , https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#pack-target

[2017-08-14 18:19] rohit21agrawal commented on #2709
_From @mss37 on August 14, 2017 18:16_

I realized that, then the request is to make this available in VS 2017 UI (Package tab in project properties page).
![image](https://user-images.githubusercontent.com/15035699/29285080-17ac13e4-8125-11e7-9a05-44e4714d5f42.png)

[2017-08-14 18:19] rohit21agrawal commented on #2709
oh, let me move this to the appropriate repository then.
Appreciate the feedback @mss37 ! Keep it coming :)

[2017-08-14 18:19] rohit21agrawal commented on #2709
CC: @mavasani

[2017-08-14 18:40] mavasani commented on #2709
Tagging @davkean - I have moved to a different feature team now.

[2017-08-15 01:54] lifengl opened #2711 "Need implement IProjectDefaultConfigurationProvider component to prevent loading an empty configuration"
.Net Core project currently loads an empty configuration to evaluate the project to understand the right set of project configurations.  It is a huge waste, not only adds one more project evaluation, also that CPS loads the dataflow with it, and it will reevaluate that fake configuration after every change in the project.

We added a new contract to the CPS side, which the .Net Core project can tr

[2017-08-15 01:54] lifengl commented on #2711
The CPS side change has been made in 15.5.

[2017-08-15 03:07] davkean commented on #2711
@lifengl Didn't you implement one based on solution config? Is the idea that we do a quick sniff and guess which config it is and use that?

[2017-08-15 05:33] davkean opened #2712 "UI delays when mixing legacy and CPS based projects"
This is an ongoing investigation of a customer's solution that mixes legacy and CPS-based projects:

This is what I'm seeing with DefaultCompileItems disabled:

# CPU

Description | Time in trace | Bug | Actual impact on single project build | Actual impact on solution build
---|---|---|---|---
Build | | https://github.com/dotnet/sdk/issues/1496 |
SleepEx | 11% | https://github.com/Microsoft/msbui

[2017-08-15 08:11] krt- opened #2713 "High CPU usage when IDE is idle."
VS15.3 Release constantly uses 75% CPU after loading solution with Xamarin.Android project & .NET Standard 1.4 Library. I have PerfView trace file. Where should I send it?

[2017-08-15 08:19] davkean commented on #2713
Can you share it on onedrive?

[2017-08-15 08:27] krt- commented on #2713
Sent link to your email

[2017-08-15 08:35] davkean commented on #2713
We're spending 40% of our time here:

![image](https://user-images.githubusercontent.com/1103906/29308130-f0e5fec8-81e7-11e7-998f-7452c1b484a2.png)

I suspect a bug similar to https://github.com/dotnet/project-system/pull/2526.

@krt- Can you send on what your `<TargetFrameworks>` element looks like?

[2017-08-15 08:38] krt- commented on #2713
Xamarin.Android project:
`<TargetFrameworkVersion>v7.1</TargetFrameworkVersion>`

.NET Standard Library:
`<TargetFramework>netstandard1.4</TargetFramework>`

[2017-08-15 08:39] davkean opened #2714 "Large amount of lock contention in dependency node"
In this bug: https://github.com/dotnet/project-system/issues/2713, I saw lots of lock contention, GetTargetFrameworkAsync has a huge amount - but that may be caused by what is the root cause of that bug of whatever cause us to continually call it. However, we should look at GetDependencyModel:

![image](https://user-images.githubusercontent.com/1103906/29308310-c3ebe72e-81e8-11e7-8fa6-47cef4d558b6

[2017-08-15 08:40] davkean commented on #2713
Also filed https://github.com/dotnet/project-system/issues/2714 for the lock contention I saw.

Hmm, is that all that's in the solution?

[2017-08-15 08:41] krt- commented on #2713
Sorry, have also 2 Roslyn analyzers here. Both have `<TargetFramework>net4.7</TargetFramework>`

[2017-08-15 08:43] davkean commented on #2713
It would be helpful if you could share the solution privately - no worries if you can't, but it will make investigation a little quicker. :)

[2017-08-15 08:43] krt- commented on #2713
I'll try to create a small repro

[2017-08-15 08:44] davkean commented on #2713
Yeah, it's very likely the project files - I'd be surprised if the source files matter.

[2017-08-15 08:55] krt- commented on #2713
Here's a very small repro :)
[repro.zip](https://github.com/dotnet/project-system/files/1224543/repro.zip)

[2017-08-15 08:56] davkean commented on #2713
Thanks, I'll look at this tomorrow my time (Australia).

[2017-08-15 13:03] sharwell commented on #2713
💭 `net4.7` seems strange. I would have expected to see `net47`; I'm reminded of #2388.

[2017-08-15 14:59] shaggygi commented on #223
Not to be a thorn... Just wanted to ping again to add my vote that this is such a great feature.  Hope to get with .NET Core/Standard projects at some point.  CC @davkean

[2017-08-15 16:25] lifengl commented on #2711
The configuration information from the solution has been passed as a parameter to the component, but we need a component from your team to provide the 3rd dimension of your configuration name (if it exists).  We have a default component to just use the one from solution.

[2017-08-15 21:05] aL3891 commented on #650
Now that /bl is in standard msbuild, has the situation around this changed? It would be extremely useful to be able to tell visual studio to output binlogs, (as well as view them but I guess that's another issue)

[2017-08-15 22:15] davkean commented on #650
@panopticoncentral has a side project where he's hooking this up. He's on holidays at the moment, he might be able provide you more information.

[2017-08-15 22:23] katemaroney commented on #2402
Along the lines of what @AArnott mentioned above, I need to be able to write connection strings to appsetting.json to be able to handle adding Azure Storage to ASP.NET Core Web Application projects with template Empty. Will this be fixed for 15.5?

[2017-08-15 22:26] davkean commented on #2402
This bug is tracking app.config. Appsettings.json should be tracked by a new bug - it's more work as we'll need to add the new special file flag.

[2017-08-15 22:32] katemaroney opened #2715 "Need API and special file handler for appsettings.json"
I'm trying to write a connection string for .NET Core Web Application with an Empty template in order to add Azure Storage, but the file that it needs to be written to (appsettings.json) doesn't exist. It looks like based on discussion off [this related issue](https://github.com/dotnet/project-system/issues/2402), I need an API that will create such a file if it does not exist, and return some kin

[2017-08-15 23:38] davkean commented on #2713
Yeah this looks like another case of #2388, as a workaround, replace:

`<TargetFramework>net4.7</TargetFramework>`

with

`<TargetFramework>net47</TargetFramework>`

[2017-08-16 00:43] mishra14 opened #2716 "No package under Reference node after installing second package with Package ref format"
Internal issue with screenshots: 476159

## Repro steps:
1. Check ‘Allow format selection on first package install’ in NuGet Package Manager setting dialog.
2. Restart VS and create a C# WPF (.NET Framework) project.
3. Open the ‘Manage NuGet Packages…’ for the project.
4. Go to ‘Browse’ tab, install package ‘Newtonsoft.Json’ with ‘PackageReference in project file’ format.
5. The package ‘Newtonso

[2017-08-16 00:45] mishra14 commented on #2716
@natidea @davkean  this seems like a project system issue since the assets file looks fine.

Please let me know if there is a better place for this.

[2017-08-16 05:38] krt- commented on #2713
Thanks, everything is working fine now

[2017-08-16 06:51] aL3891 commented on #650
Great to hear, thanks!

[2017-08-16 07:58] gulbanana commented on #2458
The second part of the issue, about outdated dates, doesn't seem to be fixed. In 15.3 release I have projects failing up-to-date because of a CopyToOutputDirectory="PreserveNewest"

[2017-08-16 08:01] gulbanana commented on #2458
Oddly, I still see
`Skipping target "_CopyOutOfDateSourceItemsToOutputDirectory" because all output files are up-to-date with respect to the input files.`
in the actual build

[2017-08-16 09:47] davkean commented on #2458
@gulbanana Please file a new with the logs in the output window when turned on via Options -> Project and Solutions -> .NET Core -> Logging Level > Verbose.

[2017-08-16 09:52] gulbanana commented on #2458
Will do!

[2017-08-16 11:12] gulbanana commented on #2458
this logging is really good, it taught me that the problem is actually something slightly different..

[2017-08-16 11:13] davkean commented on #2458
Awesome!, Great to hear. //cc @panopticoncentral

[2017-08-16 11:26] gulbanana opened #2717 "Up to date check looks for all files in the project root, not at their own paths"
Repro: https://github.com/gulbanana/repro-netcore-up2date-subdir

Problem: `subdirectory\TextFile1.txt` is PreserveNewest, so it should be up to date after a build. However, logging reports otherwise:

[code]

`bin\Debug\netcoreapp2.0\subdirectory\TextFile1.txt` exists, but something is looking at `bin\Debug\netcoreapp2.0\TextFile1.txt` instead and concluding that the file needs to be recreated.

[2017-08-16 11:53] gulbanana opened #2718 "xunit test project is never considered up to date"
Repro: https://github.com/gulbanana/repro-netcore-up2date-xunit

A `File->New Project` XUnit Test Project does not pass the up to date check after repeated builds. Here's the log:

[code]

This error indicates that it's because a dll copied by xunit's targets is not present, but that file does exist in the filesystem.

[code]

I've tried updating both packages to the latest xunit 2.3.0-beta4-build

[2017-08-16 15:12] KirillOsenkov commented on #650
You can read/write using StructuredLogger.dll, see http://msbuildlog.com for details. It's exactly the same implementation but outside of MSBuild. This is what viewer itself is using to read .binlogs.

[2017-08-16 20:58] wjk commented on #2052
@srivatsn Sorry for reopening such an old issue, but this is still happening with the latest VS15.3 bits. Here's what I was doing when I ran into this:

1. Clone [SunburstApps/Sunburst.Win32UI](https://github.com/SunburstApps/Sunburst.Win32UI)
2. Checkout commit `9b254a09b24cc9d4691d5ca593adcac19cc79be`
3. Load the solution in VS, and right-click > Edit the `Win32UI.Build.Tasks` project.
4. Try to

[2017-08-16 22:22] natemcmaster opened #2719 "CS8032: analyzer cannot be created after changing PackageReference"
When changing the version of a package reference that includes an analyzer, the project system will generate a bunch of CS8032 warnings. The warning says that the analyzer from the old version of the PackageReference cannot be created, even though this has been uninstalled.

**Repro**
1. Create a new test project that references xunit 2.3.0-beta2: https://www.nuget.org/packages/xunit/2.3.0-beta2-b

[2017-08-16 23:45] natidea opened #2720 "Explicit Conditional Constants added to Project file Duplicate Implicit ones"
Based on [VSFeedback](https://developercommunity.visualstudio.com/content/problem/73187/conditional-compilation-symbols-are-duplicated-on.html?childToView=95513#comment-95513) | [457114](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/457114)

When a custom conditional compilation constant is added to a project, it inserts an explicit constant for the framework, which duplicates the implici

[2017-08-16 23:50] natidea commented on #1440
The root cause of this is probably https://github.com/dotnet/project-system/issues/2720. Once the explicit constant is removed from the project file, retargeting the project correctly updates the constants.

[2017-08-16 23:50] #1440 closed

[2017-08-17 05:28] davkean commented on #2052
Thanks,@wjk, for Microsofties I've opened https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=480703&fullScreen=false&_a=edit against CPS, I leave this as a tracking bug.

[2017-08-17 12:53] igitur commented on #1218
Am I, as a general user, supposed to be able to view https://devdiv.visualstudio.com/DevDiv/_workitems?id=371267 ? At the moment I get 401 Not Authorized.

Obviously I also experience the bug and am interested in following its progress.

[2017-08-17 17:21] natidea commented on #1218
@igitur unfortunately CPS sources and bugs are internal. The issue is currently scheduled for 15.5. Feel free to open a ticket on https://developercommunity.visualstudio.com and we will link it to the internal bug so that its status is updated with the bug's progress.

[2017-08-17 17:35] lifengl commented on #2211
This should have been addressed (or mostly addressed) in 15.5 vsuml branch.  Can you check whether it is still a problem?

[2017-08-17 19:43] aateeque opened #2721 "Referencing netcoreapp in a netstandard project"
Hi
I am porting over a net452 & asp.net app over to netstandard & dotnet core. I have a situation where I need to refence my asp dotnet core app which is `<TargetFramework>netcoreapp2.0</TargetFramework>` in my testing project which is `<TargetFramework>netstandard2.0</TargetFramework>`. When I do a `ProjectReference` I get:

[code]

Is this sort of thing possible (don't see why not?)

[2017-08-17 21:26] natidea commented on #2706
**Update:** the source of the implicit import of namespaces is [Microsoft.NET.Sdk.VisualBasic.targets#L21-L44](https://github.com/dotnet/sdk/blob/cd25d6bbfc2aac61cc790c511900427ac64fdaa8/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.VisualBasic.targets#L21-L44). These implicit imports can be disabled by setting the following property:
[code]

[2017-08-18 03:15] davkean commented on #2721
This issue was moved to dotnet/sdk#1513

[2017-08-18 03:15] #2721 closed

[2017-08-18 10:22] Gonnagle commented on #2660
Are you using ReSharper? I had a similar issue with net461 unit test project testing a netstandard1.6 class library. In my case the issue seemed to be with ReSharper and I was able to fix it by installing the latest EAP version (2017.2 EAP 12, https://www.jetbrains.com/resharper/eap/). As a workaround also disabling ReSharper fixed the issue.

[2017-08-18 12:57] poke commented on #1821
Just to clarify: Milestone 16.0 means that the fix for this is expected for the next major Visual Studio release, yes? So no changes are expected for Visual Studio 2017?

Also, since I have vigorously attempted to undo the GUID change everytime VS attempted to change it and this is getting a bit annoying by now: Is there any practical disadvantage we get from using the 9A19 GUID instead of the FAE

[2017-08-20 04:11] natidea opened #2722 "No squiggle in dependency in solution explorer for UWP project.json when installing a wrong version"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/70575/no-squiggle-in-dependency-in-solution-explorer-for.html) | [453281](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/453281)

We have not implemented this yet as UWP is not on the Dependencies Tree.

[2017-08-21 08:20] natidea opened #2723 "TargetFramework Filter in "Add New Project" is not honored for .NET Core projects"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/97411/the-project-creation-wizard-doesnt-show-correct-ta-1.html) | [482122](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/482122)

The Add New Project dialog includes a Target Framework filter that affects the target framework for the desktop C# project that is created. However this filter is not honored in .NET

[2017-08-21 08:21] natidea commented on #2723
@panopticoncentral is this just a feature we have not implemented yet, or a bug?

[2017-08-21 18:43] mavasani opened #2724 "Issue with Analyzers node"
Ported from https://github.com/dotnet/roslyn-analyzers/issues/1286

Possibly related, analyzers also display rather oddly in VS 15.3.1. (This is from a different project I'm on that also uses the analyzers and has the same errors I reported above. In this screenshot you'll notice StyleCop is also here. Removing StyleCop does not fix the issue.)

![Analyzers in VS 15.3.1](https://user-images.github

[2017-08-21 19:35] tillig opened #2725 "Analyzer packages no longer added with PrivateAssets"
Prior to VS 15.3 when you'd add a reference to a Roslyn analyzer package you'd get a reference like this:

[code]

With the `PrivateAssets` node the analyzer wouldn't be seen as a dependency when packaging your project.

As of 15.3.1, when adding a Roslyn analyzer package reference you no longer get the `PrivateAssets` node.

[code]

This ends up including the analyzer as part of the packaging pro

[2017-08-21 19:44] jmarolf commented on #2723
@natidea I think this would need a complete re-design of the new-project dialog to fix.  .NET Framework doesn't make any sense for .NET Core of netstandard projects.

[2017-08-21 20:33] panopticoncentral commented on #2723
Yes, this is really feature-level work. I'll have to look to see if there's anything covering that, but it's a known need.

[2017-08-22 03:40] natidea opened #2726 ".NET Core Class Templates do not apply code styles"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/97435/new-net-core-application-doesnt-apply-code-styles.html) | [482102](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/482102)

**Repro Steps**

Go to Tools/Options/TextEditor/C#/CodeStyle/Formatting/NewLines and turn off all checkboxes as to follow K&R brace style (i.e. brace opening goes on the same line).

Cr

[2017-08-22 21:26] f00-beerd commented on #1302
No error when specifying Platform: x64 or x86 - only for Platform: Any CPU
Still happens as of 15.3.2 update.

[2017-08-23 03:08] davkean commented on #2726
@CyrusNajmabadi What's your thoughts around this? Rather than individual templates opting into this - perhaps some generalized mechanism for auto-applying styles?

[2017-08-23 03:48] CyrusNajmabadi commented on #2726
I thought we already formatted newly created template files.  Is that not the case?

[2017-08-23 08:46] jmarolf commented on #2726
This is a bug.  Newly created files should have the formatter run on them by default already.

[2017-08-23 09:04] davkean commented on #2726
Does this happen for files that aren't item templates but are part of project templates?

[2017-08-23 09:38] jmarolf commented on #2726
Yes, set K+R braces
![image](https://user-images.githubusercontent.com/9797472/29609408-f97a7d92-87ab-11e7-8963-ff531b432905.png)

And then create
- net core app: not formatted
- net framework app: formatted

[2017-08-23 09:51] davkean commented on #2726
Ah, this will be the new template engine.

[2017-08-23 17:54] cartermp opened #2727 "Deleting a file in SDK-style project causes non-fatal error"
1. `dotnet new console -lang F#`
2. Load into VS after packages restore.
3. Add a few F# file.
4. Delete that file.

**Expected:** File deleted with no issue.

**Actual:** File deleted, but VS encounters a non-fatal error.  Log here:

[code]

I can repro this with a Library and MVC templates as well.

[2017-08-23 20:10] QuantumHive opened #2728 "'Add Migrations' after Migrating to 2.0"
I've posted this issue on the [EntityFrameworkCore](https://github.com/aspnet/EntityFrameworkCore) repo. For details see https://github.com/aspnet/EntityFrameworkCore/issues/9506

The issue is that when adding migrations with the dotnet core 2.0 tooling, a Visual Studio UI bug occurs in the Solution Explorer.

[2017-08-23 21:10] 333fred commented on #2704
@Pilchie @davkean has anyone looked at this bug yet? I seem to hit this every few days as I fat-finger a file name.

[2017-08-23 21:47] davidmatson commented on #1125
@onovotny: I have the exact same setup (.NET Desktop with new-style csproj).

Any updates on when this checkbox will be added to VS for Common Project system-based csprojs? Is it likely to make it into 15.4?

[2017-08-23 23:32] davkean commented on #2726
@jmarolf Any idea how this actually works under the covers?

[2017-08-23 23:38] jmarolf commented on #2726
@davkean I assume the old project system would do something to let the language service know to format the document.  I'm curious if this repos with the old templates (not based on the web framework).  If not then I believe that this bug should go to the new template engine.  I

[2017-08-24 00:54] davkean commented on #2704
@tannergooding Can you take a look? Alternatively, @333fred we take contributions. :)

[2017-08-24 03:33] davkean commented on #2728
@QuantumHive What build of VS are you using? Can you repro this with the released version of 15.3?

[2017-08-24 04:45] davkean commented on #1125
@davidmatson Oren has a PR out - this will make 15.5.

[2017-08-24 04:55] bgever commented on #2604
Thanks for reference @davkean. Adding the configurations fixed the problem for me with Visual Studio 2017 Update 3 (15.3.2).

Other symptoms I saw:
- Opening the SLN shows a popup window with the above error, and then that VS is recovering from a "non-fatal crash".
- Affected projects do not show the Build/Rebuild/Clean/Publish options in their context menu.
  *(handy to spot the troublemakers!)*

[2017-08-24 04:56] davkean commented on #2604
It's only for manually created projects that don't inherit the SDK.

[2017-08-24 05:16] davkean opened #2729 "Attempting to build an a project with a single platform/configuration displays an error"
[code]

Building this in VS, displays:

[code]

[2017-08-24 05:20] bgever commented on #2604
The problem happened with legacy net461 (`<TargetFrameworkVersion>v4.6.1</TargetFrameworkVersion>`) libraries included in a netcoreapp1.1 project (with other netstandard1.4/1.6) targeting net461 (full framework). Those legacy net461 projects were created with ToolsVersion 12.0 and 15.0.

[2017-08-24 06:58] QuantumHive commented on #2728
I'm using version `15.3.2`.
To be honest, I cannot reproduce the issue when creating a new `dotnet core 2.0` project from scratch. But you can see the issue clearly in the screenshots I've provided.

[2017-08-24 22:03] jainaashish opened #2731 "NuGet reference not shown in References section for projects with PackageReference"
Copied from https://github.com/NuGet/Home/issues/5803

I recently switched my project to use the PackageReference method (<RestoreProjectStyle>PackageReference</RestoreProjectStyle>) to include nuget packages and ran into a problem when I tried adding nuget reference to evopdf package.

But with the new approach, it doesn't show the nuget reference:

**Even after package restore / build, the packa

[2017-08-25 00:13] jcouv opened #2732 "Setting CSharpProjectConfigurationProperties3.LanguageVersion creates verbose XML in project file"
The UpgradeProject code fixer produces a lot of "fluff" in the project file:
[code]
I would expect a single `<LangVersion>latest</LangVersion>` to be added to the standard, non-conditional, `<PropertyGroup/>` instead.

Thanks @DavidArno for reporting this. Also FYI @jnm2 @BillWagner

[2017-08-25 00:13] natidea opened #2733 "Editor doesn't handle conditional compilation symbol with netstandard or .net core"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/97422/editor-doesnt-handle-conditional-compilation-symbo.html) | [484140](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/484140)

In general these changes are not reflected in the editor until you reload the project.

[2017-08-25 00:20] davkean commented on #2732
There's really two bugs; one for the legacy and one for new project system.

New project system, let's just make langversion a non-config property. Easy peasy.
Legacy project system, a big more work and compat to think about. You're going through a "configuration" so the behavior you are seeing is definitely expected. We'd need to introduce a dual concept here where reading would read via configur

[2017-08-25 00:22] davkean commented on #2732
The setting is also on a config-based page so we'd need to think about that as well./

[2017-08-25 00:42] davkean opened #2734 "Suppress roslyn messages causes strange behavior."
_From @Portikus on April 24, 2017 9:9_

**Version Used**: VisualStudio 2017 / 15.1 (26403.7) Release

**Steps to Reproduce**:
In the attached repo solution : [SuppressRoslynWarningsBug.zip](https://github.com/dotnet/roslyn/files/950915/SuppressRoslynWarningsBug.zip) I configured a project to use a shared.props file . In this file there is a variable specified which contains all warnings I want to

[2017-08-25 00:42] davkean commented on #2734
_From @sharwell on April 24, 2017 12:20_

@Portikus (A workaround, not a solution) When I encountered this in an experiment, I found that I could close VS and delete the **.vs** folder next to my solution. When I reopened the solution, it was now operating with the updated shared configuration.

[2017-08-25 00:42] davkean commented on #2734
_From @Pilchie on April 24, 2017 12:39_

Tagging @davkean and @srivatsn - are we tracking the msbuild caching of imported targets not being updated on file change?

[2017-08-25 00:42] davkean commented on #2734
Yes, we're tracking this as part of: https://github.com/dotnet/project-system/issues/268.

[2017-08-25 00:42] davkean commented on #2734
_From @Portikus on August 21, 2017 12:13_

@Pilchie  @davkean unfortunately the latest Visual Studio update (15.3.1) didn't fix this problem. The only way Visual Studio recognizes the changes is with the workaround from @sharwell.

[2017-08-25 00:42] davkean commented on #2734
_From @Portikus on August 24, 2017 13:49_

@davkean may you reopen this issue?

[2017-08-25 00:42] davkean commented on #2734
@Portikus I missed that you were referring to the old project system and not the new one. I can move this bug and we can leave it open but to set expectations - we have do not have intentions of reloading targets in the legacy project system. It's a non-trivial amount of work that we're rather spend on adding features to the new project system so that we can phase out the legacy project system.

[2017-08-25 01:29] jnm2 commented on #2732
I wish the config page opened to show all configurations by default, and thus any change made would first remove all conditional `<LangVersion>` elements from the .csproj and then add/update an unconditional `<LangVersion>` element.

[2017-08-25 01:31] davkean commented on #2732
That's an interesting idea - perhaps we have a way of setting "all configs" and just not condition the property when you set that.

[2017-08-25 01:34] jnm2 commented on #2732
The same would be very helpful for `<AllowUnsafeBlocks>`, `<WarningsAsErrors />` and `<TreatWarningsAsErrors>` (why do both show up?) and `<DocumentationFile>`. For these properties it only results in confusion when any has a configuration-conditional value.

[2017-08-25 07:05] DavidArno commented on #2732
@davkean,

My original request was specifically related to the new csproj file format. You guys did such an amazing job with that new format that I've happily spent time rewriting all old csproj files in my code to the new format. So - personally - I don't much care what happens with legacy projects 😉

(I appreciate you have to look at a much bigger picture than me though and so will need to addre

[2017-08-25 07:15] yaakov-h commented on #2732
Even if I select 'All Configurations' before changing the language version, I get the conditional duplication defined in the OP (new project system, haven't tried old).

Shouldn't this define it once for **all** configurations, rather than N times for each current configuration?

[2017-08-25 07:17] davkean commented on #2732
Yes that's one of the proposal aboves. Legacy project system has always had this behavior - and the new project system kinda mirrored it. We should fix that.

[2017-08-25 14:38] jnm2 commented on #2732
Gotta say I'd prefer the energy be put into allowing winforms projects to use the new sdk so I can just get off the legacy sdk altogether :D

[2017-08-25 16:59] campersau opened #2735 "No IntelliSense for ProjectReference with the same embedded COMReference"
I have two projects with the same COMReference:
[code]
The first project is referenced by the second one via a ProjectReference.
Building the projects does work but in the second project I don't get IntelliSense for the types of the first one.

![image](https://user-images.githubusercontent.com/4009570/29724028-3e34c4c0-89c7-11e7-96b5-d49940bd810b.png)

If I reference the output dll from the first

[2017-08-26 00:31] natidea opened #2736 "Changing Build Action through Properties Dialog results in Error"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/98289/vs-changing-build-action-in-a-file-properties-is-n.html) | [482594](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/482594)

**Steps to reproduce:**
Right click on any file in solution, Properties, in "File.cs Property Pages" dialog change Build Action to any value (initially it's "C# Compiler"), Apply.

**E

[2017-08-26 01:09] natidea opened #2737 "Cannot adding the Settings template due to "missing" reference"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/97427/vs-153-settingsdesignercs-not-created.html) | [484139](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/484139)

Works as expected for Desktop projects. For CPS projects the Settings template is not visible in Add New Item dialog, but searching for "Settings" brings it up. After initially adding the settings

[2017-08-26 21:16] natidea opened #2738 "Changing TargetFramework in Properties Page Dirties Project Even though TF changes immediately"
Based on VSFeedback | [448538](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/448538)

Changing the TargetFramework in the properties page causes the project to require Save, even though the TargetFramework change is applied immediately (i.e. the Project File is updated on disk).

![image](https://user-images.githubusercontent.com/7732033/29745182-f7d7b788-8a68-11e7-913c-0b1a42e1ce0d.png)

[2017-08-26 21:34] natidea opened #2739 "Copy/Paste form file shows designer error"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/67360/copypaste-form-file-shows-designer-error.html) | [448863](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/448863)

[2017-08-27 00:50] natidea opened #2740 ".Net core console application - Appsettings.{environment}.json not nesting"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/93003/net-core-console-application-appsettingsenvironmen.html) | [479365](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/479365)

[2017-08-27 10:10] monty241 commented on #2604
It seems that this error also causes Visual Studio on build to skip child projects of the project with the wrong configuration for building. Running msbuild as

msbuild sol.sln /p:Configuration=Release /p:Platform="Any CPU"

works fine.

In our case, we've recently introduced build types iPhone and iPhoneSimulator which were not listed in the traditional project file of the master project.

I can

[2017-08-28 07:27] natidea opened #2741 "New Resource File with locale code results in non-actionable error"
Based on [VSFeedback](https://developercommunity.visualstudio.com/content/problem/100404/resources-files-on-a-net-standard-20-project-false.html) | [484424 ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/484424)

**Repro Steps:**
- Create a .NET Core project
- Select Project | Add New Item | Resources File. Name the file `Strings.en-us.resx` or substitute some other locale code for `en-us

[2017-08-28 09:21] valeriob opened #2742 "Switching branch on a solution being migrated to the new project system leaves dirty behind (even after clean)"
Hi,
we are migrating many solutions to the new project system, but the tool is not helping us.
We create a branch where we migrate the project formats (not every one is yet on vs 2017).
When we switch back to the master (old prj system), we get an error for every project complaining about  :

1) Create a solution with .net framework and old project system (master branch)
2) Create a branch and mig

[2017-08-28 16:04] panopticoncentral opened #2743 "FastUpToDate fails if PreserveNewer file has same timestamp as source"
[code]

[2017-08-28 16:48] jcouv commented on #2743
Thanks Paul.
Is this bug specific to ref assemblies or would apply even when ref assemblies are turned off?

FYI @CyrusNajmabadi

[2017-08-28 18:54] panopticoncentral commented on #2743
Not specific to ref assemblies.

Paul

From: Julien Couvreur [mailto:notifications@github.com]
Sent: Monday, August 28, 2017 9:49 AM
To: dotnet/project-system <project-system@noreply.github.com>
Cc: Paul Vick <paulv@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [dotnet/project-system] FastUpToDate fails if PreserveNewer file has same timestamp as source (#2743)

Thanks Paul.
Is t

[2017-08-28 19:40] davidmatson opened #2744 "Default platform target in Properties window is incorrect"
[code]

[code]

Actual output:
[code]

But, properties window shows:
![image](https://user-images.githubusercontent.com/3360277/29790260-0df10386-8bee-11e7-9f4d-9e7f19876698.png)

[2017-08-28 19:42] davidmatson commented on #2744
Just to clarify, the output is fine an expected for an AnyCPU without Prefer 32-bit, which apparently is actually the default for this kind of project. The only problem is what the properties window shows - if the default is actually AnyCPUW without Prefer 32-bit, the UI should say so.

[2017-08-28 19:43] tannergooding commented on #2744
Could you please indicate which version of Visual Studio you are using and which versions of the SDK you have installed (both 64-bit and 32-bit versions).

[2017-08-28 19:44] davidmatson commented on #2744
Visual Studio Enterprise 2017 Version 15.3.2.

I didn't do anything special to install an SDK as far as I know - what SDK version would you like and were should I find that value?

[2017-08-28 19:52] davidmatson opened #2745 "Can't remove Any CPU from Project Platforms list"
I'm using VS 2017 15.3.2.

With this csproj:
[code]

If I add an x64 or x86 configuration (Build, Configuration Manager...), that works fine and edits the proj like this:
[code]

I can remove either the x64 or x86 configuration from the project, but not the Any CPU one. If I try to do so, I get the following error:
[code]

![image](https://user-images.githubusercontent.com/3360277/29790817-c709e4d

[2017-08-28 19:57] davidmatson opened #2746 "Configuration Manager doesn't reflect PlatformTarget"
I'm using VS 2017 15.3.2.

With this csproj:
[code]

The project properties window correctly displays Platform target: x64, but Configuration Manager (Build, Configuration Manager...) does not. Instead, it shows Any CPU.

[2017-08-28 20:05] tannergooding commented on #2744
If you didn't do anything specific to install the SDK it is probably 1.1.2.

You can see which versions you have installed (generally) by looking here: `C:\Program Files\dotnet\sdk` (for x64) and here: `C:\Program Files (x86)\dotnet\sdk` (for x86)

You should be able to look at your `bin\*.deps.json` file to see what version you are using (should have a line similar to `"name": ".NETCoreApp,Versio

[2017-08-28 20:08] tannergooding commented on #2744
Actually, I seem to be able to repro this on the 2.0 SDK. It seems to occur whenever you single-target `net*` (net45, net46, net47, etc).

Going to keep looking

[2017-08-28 20:10] davidmatson opened #2747 "Changing platform target results in flashing error message"
I'm using VS 2017 15.3.2.

With this csproj:
[code]

If I change Platform target (under Project Properties, Build), I get an error message that appears and then disappears:
[code]

[2017-08-28 20:11] davidmatson opened #2748 "Design/Doc issue: PlatformTarget vs Platforms vs RuntimeIdentifier handled inconsistently"
I've stumbled across a number of cases where it isn't clear if I should use PlatformTarget, Platforms or RuntimeIdentifier. The tooling seems to get confused a bit between these properties as well - sometimes one UI (project properties) will reflect one property but another UI (Configuration Manager) will reflect a different property.

Could we document when to use which property? Or, perhaps even

[2017-08-28 20:12] davidmatson commented on #2747
Related to #2748, it feels like with all the new properties (Platform, RuntimeIdentifier, etc.) there are lots of moving parts for the system to keep in sync and this often "leaks" to the VS user.

(Would simplifying the number of different knobs help reduce this kind of sync problem?)

[2017-08-28 20:18] davidmatson commented on #2744
I have the following SDK folders:

- 1.0.0
- 1.0.2
- 1.0.3
- 1.0.4
- 1.1.0
- 2.0.0

I didn't find anything except the exe and pdb in my bin folder, but it sounds like you probably have what you need. Let me know if I can provide any more data though. Thanks!

[2017-08-28 20:44] davidmatson opened #2749 "Long bin paths even for single output type"
Compared to old-style .NET Framework csproj, bin output paths are more involved/nested than they used to be. For example, the default used to be just
bin\Debug
bin\Release

(folders per configuration only.)

For secondary platforms, they'd add one more level, such as:
bin\x64\Debug
bin\x86\Debug
bin\x64\Release
bin\x86\Release

With AnyCPU staying in the higher-level directory.

This organization

[2017-08-28 20:46] tannergooding commented on #2744
It comes down to this line: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.RuntimeIdentifierInference.targets#L65

Going to see if I can find the relevant people to tag here.

[2017-08-28 21:00] tannergooding commented on #2744
Ok, talked to some of the members on @dotnet/dotnet-cli and they indicated that this is 'by design'.

From what I understood, when targeting AnyCPU for .NETFramework, they have to pick a default RuntimeIdentifier for NuGet and use that. They choose x86 if not specific since that is the most common target for .NET Framework. If they find any native dependencies they do a fixup of the properties lat

[2017-08-28 21:01] tannergooding commented on #2744
You can workaround the issue for the time being by explicitly specifying `<PlatformTarget>AnyCPU</PlatformTarget>` in your project file.

[2017-08-28 21:01] tannergooding commented on #2744
FYI. @Pilchie

[2017-08-28 21:05] tannergooding commented on #2744
FYI. @natidea as well

[2017-08-28 21:10] davidmatson commented on #2744
Thanks - yeah, I figured some combination of properties would cover a workaround.

The project system bug is that it should display Any CPU in this case, right?

And the potential SDK bug is to use win7 as the default RuntimeIdentifier (i.e. PlatformTarget is implicitly AnyCPU)? That sounds right to me - it's quite odd to have Any CPU be treated as x86. Do we need to file another issue on a SDK re

[2017-08-28 21:14] tannergooding commented on #2744
It couldn't hurt to log one. Worst case is they close it as 'by design' and say we can't change it due to back-compat now.

[2017-08-28 23:22] onovotny opened #2752 "Debugger launch env variable doesn't work if child process debugging tool installed"
If I have a launchSettings of:

[code]

That doesn't work if the VS Child Process Debugging Extension is installed.

To repro:

- Create new project with the above launch settings
- Debug

Next to the solution file, have the following xml file called `theSolution.ChildProcessDbgSettings`
[code]

It launches correctly (though won't do anything without the rest of the args)

Now install https://mark

[2017-08-29 01:36] davkean commented on #2749
This issue was moved to dotnet/sdk#1547

[2017-08-29 01:36] #2749 closed

[2017-08-29 04:14] davkean commented on #2726
This issue was moved to dotnet/templating#1225

[2017-08-29 04:14] #2726 closed

[2017-08-29 04:25] davkean commented on #2738
I can repro this - unlike legacy this shouldn't save the result to disk.

[2017-08-29 04:28] davkean commented on #2722
We're not going to do this - instead UWP will move over to the new project system, and hence will get the new Dependency node.

[2017-08-29 04:28] #2722 closed

[2017-08-29 04:28] davkean commented on #2723
This is a known need - and not owned by us. This work will be done in when the new project dialog replacement is done.

[2017-08-29 04:28] #2723 closed

[2017-08-29 04:30] davkean commented on #2727
Closed in lieu of https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=486522&fullScreen=false&_a=edit.

[2017-08-29 04:32] davkean commented on #2725
This issue was moved to NuGet/Home#5816

[2017-08-29 04:32] #2725 closed

[2017-08-29 04:35] davkean commented on #2159
Dup'ing this against https://github.com/dotnet/project-system/issues/2711.

[2017-08-29 04:35] #2159 closed

[2017-08-29 04:39] davkean commented on #2736
Two things:

- We shouldn't be showing this non-modal window anyway
- Notice that this file contains two sets of properties; File Properties and General - that's not intentional.

[2017-08-29 04:44] davkean commented on #2715
We should a new "special file" for appsettings.json and provide a ISpecialFileProvider that returns it.

[2017-08-29 04:45] davkean commented on #2715
@katemaroney This is post 15.5 at the moment, please sync with us if you need it earlier.

[2017-08-29 05:02] davkean commented on #2692
@ericstj I'm not sure I understand how we could detect that we would be removing an exception. It's perfectly valid to load two versions of the same assembly in the Load context, either by deployment (having both in the GAC) or by hooking onto assembly resolve and loading the binary yourself. How exactly would you detect those situations? It basically exactly the same argument for not changing the

[2017-08-29 05:03] davkean commented on #2692
Either way, this isn't a project system concern - this is a handshake between .NET <-> MSBuild. I'm moving it to the MSBuild repo.

[2017-08-29 05:04] davkean commented on #2692
This issue was moved to Microsoft/msbuild#2481

[2017-08-29 05:04] #2692 closed

[2017-08-29 05:44] davkean commented on #2660
Thanks for the feedback, @kierenj Can you please check to see if you are using R#? If you aren't using R# can you provide a repro project? I'll reopen this bug if you can provide one.

[2017-08-29 05:59] #2660 closed

[2017-08-29 06:32] davkean commented on #2740
Dup'ing against: https://github.com/dotnet/project-system/issues/159

[2017-08-29 06:32] #2740 closed

[2017-08-29 07:57] kierenj commented on #2660
Hi, yes I was using ReSharper, but as I say, a machine restart fixed it, so I haven't encountered it again.  I'm not sure what else I can do to help, the project was very large and I can't share code from it.  I'm still subscribed to this thread so if anyone wants any other info (though I can't think what it would be), let me know.

[2017-08-29 12:04] xiexin36 commented on #256
Any update about this?

[2017-08-29 16:16] abpiskunov opened #2758 "Core projects in TFS keep editing project file adding TFS bindings"
We just converted our ProjectSystem.Web project to dotnet core. This project is part of the solution that has other classic csproj projects and is binded to TFS (all TFS/SCC bindings are in the solution file for all projects in solution.

Now everytime i open solution i get a dialog from TFS checking if i want to bind my ProjectSYstem.Web project:
   - if i say yes it would add this to my project

[2017-08-29 16:32] abpiskunov opened #2759 "Core projects fail to build when they reference other projects not included to solution"
I have follwoing solution structure:

ClassLibrary1 (classic net46)
somefolder\
                   ClassLibrary7
                          \ClassLibrary7 (core net46)

ClassLibrary7 has project reference for ClassLibrary1 in the form that specify Guid:

``    <ProjectReference Include="..\..\..\ClassLibrary1\ClassLibrary1.csproj">
      <Project>{2684d895-d7ce-4b24-a29e-caed2291e2ea}</Project>

[2017-08-29 16:40] abpiskunov commented on #2759
Note: removing Guid and Name metadata from ProjectReference would fix that, but imagine users converting tehir projects and see errors when where there should be no error at all... they know that csproj file does exist in that location.

[2017-08-29 16:49] abpiskunov opened #2760 "Error in imported project leave core projects in a state when they stop updating after targets were fixed"
- I have my project imports a targets file A, that has import for another targets file B.
- i open targets file B and introduce some error
- project updates but is in an error state (dependencies failed to resolve or some error in error list etc)

 When I am fixing targets file - no updates happening project is still in error state. Also if i do any project file changes to my csproj, very often th

[2017-08-29 16:52] abpiskunov opened #2761 "Project file opened in the editor disappears when reopening solution"
- Open core csproj file for editing in VS
- then open some cs file
- Save All and close solution
- Open solution again
- Project file is still opened as a Tab in the editor - Click on it

Actual result: Tab with csproj immediately disappears

Expected: Either never remember csproj opened in the editor and don't open it after solution reload, or if it is open it should be editable and not disappear

[2017-08-29 17:02] abpiskunov opened #2762 "Solution with classic csproj depending on one core csproj can not build if parallel builds are ON"
For consistent repro please use our solution $/DevDiv/Offcycle/WPT/WebToolsExtensions/Main/ProjectSystem.sln (you would need to sync whole Main folder and run tools\build.cmd from Dev Cmd line first. Then Open solution in VS and build it several times after some changes and without changes etc)

Scenario:

- Our solution contains ~15 projects including one core project ProjectSystem.Web
- some cla

[2017-08-29 17:06] abpiskunov opened #2763 "When running mstests from VS, and test assembly is referencing core project build is always happening"
- We have a unit tests project in solution $/DevDiv/Offcycle/WPT/WebToolsExtensions/Main/ProjectSystem.sln (you would need to sync whole Main folder and run tools\build.cmd from Dev Cmd line first. Then Open solution in VS and build it several times after some changes and without changes etc) referencing core project ProjectSystem.Web
- everytime we click on a test and run it ProjectSystem.Web is

[2017-08-29 17:10] abpiskunov opened #2764 "[Regression] If core project has package dependencies and version of the package changed , some times Dependencies tree has all yellow icons even though restore was OK"
- I have a core csproj and all Dependencies are having normal icons
- i change a version for some package (that lives in some imported targets file, not directly in the csproj , not sure if it could matter)

Actual result: Sometimes all Dependencies are yellow even old ones that did not change and stay this way until project is reloaded manually.

This is a regression, and used to work in the spri

[2017-08-29 22:43] davkean commented on #1125
Let's leave this open to track the UI side of things.

[2017-08-29 23:21] davkean commented on #2744
We're just showing what the build tells us is the PlatformTarget, we shouldn't do anything special here - the SDK should be giving us the correct value for it.

[2017-08-30 00:05] davkean commented on #2764
This is what I tried, started with:

[code]

Changed that to:

[code]

Saved project.

Dependency node showed a warning at first, but after the design-time build and we propagated it removed the warning.

Can you provide a repro or more concrete repro steps?

[2017-08-30 00:08] abpiskunov commented on #2764
:) you have a small "vanilla" app that is quick and small. You would need to try it with our project system solution. I have seen it 2 times today. $/DevDiv/Offcycle/WPT/WebToolsExtensions/Main/ProjectSystem.sln .

Sync $/DevDiv/Offcycle/WPT/WebToolsExtensions/Main/ and from DevCmd run build.cmd first. Then open solution and try to change version in $/DevDiv/Offcycle/WPT/WebToolsExtensions/Main/Ex

[2017-08-30 00:09] davkean commented on #2762
Can you provide build errors/targets in play so that I can route this to the correct team?

[2017-08-30 00:09] abpiskunov commented on #2764
It might not repro everytime , and i don't have consistent steps, but i see it several times a day when actively editing targets.

[2017-08-30 00:13] davkean commented on #2763
Can you do the following:

1. Build the solution once
2. Turn on Tools -> Options -> Projects and Solutions -> .NET Core -> Logging Level -> Verbose?
3. Clear the output window
3. Build ProjectSystem.Web
4. Copy the output window results and paste them here.

[2017-08-30 00:14] abpiskunov commented on #2762
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
1>------ Build started: Project: Microsoft.VisualStudio.ProjectSystem.Web.15.0, Configuration: Debug Any CPU ------
2>------ Build started: Project: Microsoft.VisualStudio.Web

[2017-08-30 00:16] davkean commented on #2761
Ideally we'd want this editor to reopen - I don't know the complexity of that given the temporary file solution we have at the moment, so it might be easier to opt out of that until we move to the real project file editing.

[2017-08-30 00:18] davkean commented on #2760
Can you expand on the repro and have clear repro steps so that I can move this to CPS?

For example, I don't understand what this means:

What is "error" state?

[2017-08-30 00:20] abpiskunov commented on #2763
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
------ Build started: Project: Microsoft.VisualStudio.ProjectSystem.Web.15.0, Configuration: Debug Any CPU ------
  Microsoft.VisualStudio.ProjectSystem.Web.15.0 -> Z:\dd\WTE\

[2017-08-30 00:20] davkean commented on #2759
Can you expand on above? Do you mean that ClassLibrary1.csproj is referenced but not included in the solution?

[2017-08-30 00:20] abpiskunov commented on #2763
This was done when parallel builds are off

[2017-08-30 00:21] abpiskunov commented on #2763
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
1>------ Build started: Project: Microsoft.VisualStudio.ProjectSystem.Web.15.0, Configuration: Debug Any CPU ------
2>------ Build started: Project: Microsoft.VisualStudio.Web

[2017-08-30 00:21] abpiskunov commented on #2763
this one is when parallel builds are on (with 4 default value )

[2017-08-30 00:23] davkean commented on #2762
Can you see if two vstest.XXX.exe process are running and If so kill them and see if that resolves the issue?

[2017-08-30 00:27] abpiskunov commented on #2762
There were 2 (why 2?) vstest.xxx processes , killed them , it did not help. But(!) there were 4 msbuild processes, killing all of them did help and next build did not have locked files.

[2017-08-30 00:28] abpiskunov commented on #2759
yes, correct

[2017-08-30 00:29] davkean commented on #2759
This issue was moved to NuGet/Home#5820

[2017-08-30 00:35] davkean commented on #2762
There's 1 for every core, so 4 is expected. This is probably a task leaking a handle - no idea on the underlying cause, i'll move to SDK.

[2017-08-30 00:36] davkean commented on #2762
This issue was moved to dotnet/sdk#1551

[2017-08-30 00:36] #2762 closed

[2017-08-30 00:38] davkean commented on #2758
Closed in lieu of https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=487274&fullScreen=false&_a=edit.

[2017-08-30 00:38] #2758 closed

[2017-08-30 03:11] emgarten commented on #2759
The project system would need to allow NuGet to read these external projects in order for this to happen. I think this issue is best tracked here.

[2017-08-30 04:28] davkean commented on #2748
This issue was moved to dotnet/sdk#1553

[2017-08-30 04:28] #2748 closed

[2017-08-30 10:54] WonyoungChoi opened #2772 "Warning icon in nuget dependencies tree if TFM shortname is written in different style"
I'm using 15.3.3.

with this csproj,
[code]
the warning icon  appears in nuget depedencies tree. but project build succeeds without errors and warnings.

Nuget parses various styles of shortname to produce the same Moniker. ex) netstandard2, netstandard2.0, netstandard20. Therefore it should be resolved successfully in dependencies tree.

I think this is due to the code below. The following code c

[2017-08-30 12:04] onovotny opened #2773 "Windows SDK dependencies show warnings / incorrectly in 15.3/15.4"
In an SDK style project that adds references to Windows SDK items, the solution explorer has incorrect displays and warnings:

![image](https://user-images.githubusercontent.com/1427284/29871308-492ef7c0-8d59-11e7-99da-e628b1b90774.png)

To repro:

1. Clone `https://github.com/Microsoft/UWPCommunityToolkit` and checkout `dev` or `39902ec9e2d5b73318a03d83e5505a4ff96b60df`
2. Open solution in VS. Ma

[2017-08-31 00:18] mqudsi commented on #1542
Is there a reason VS doesn't just relegate all package management tasks to NuGet instead of needing to take care of everything twice, once in the VS package manager and once in NuGet?

[2017-08-31 00:28] natidea commented on #1542
To enable auto-restore, package management has to be synchronized with [design time builds](https://github.com/dotnet/project-system/blob/master/docs/design-time-builds.md). That synchronization happens in Project System while restore activities based on this information happen in NuGet.

[2017-08-31 00:42] davkean commented on #1542
@twsouthwick Is this new project system or legacy project system? I'm assuming its the new project system - I have no idea why this wouldn't work out of the box.

[2017-08-31 03:11] davkean commented on #2742
I'm going to move to MSBuild - but I suspect there's really nothing we can do here to do a "real" clean. MSBuild would have to keep a history of all produced outputs over time, and remove them when you ran Clean.

[2017-08-31 03:18] davkean commented on #2742
This issue was moved to Microsoft/msbuild#2486

[2017-08-31 03:18] #2742 closed

[2017-08-31 04:57] davkean commented on #2699
I'm unable to repro this in current builds.

[2017-08-31 04:57] #2699 closed

[2017-08-31 05:09] davkean commented on #2665
As mentioned above, we should move the templates to capabilities, projects can only have a single templategroupid, so having a mapping from capabilities -> templategroupid doesn't really make sense as only one can win.

[2017-08-31 05:09] #2665 closed

[2017-08-31 05:15] davkean commented on #2652
@rchande I believe I understand this - this is the compiler extension generating a new targets file in AppData. We're reloading based on it, we have another bugs that are tracking the performance of this reloading but I'll move this over to Roslyn.

[2017-08-31 05:16] davkean commented on #2652
This issue was moved to dotnet/roslyn#21838

[2017-08-31 05:16] #2652 closed

[2017-08-31 05:35] davkean commented on #2701
Thanks @mizbrodin, I've filed this against a team internally that owns this code.

Microsofties, internal link: https://devdiv.visualstudio.com/DevDiv/_workItems?id=487921&fullScreen=false&_a=edit.

[2017-08-31 05:43] davkean commented on #2287
I'm going to close this - we backed out the change where the background of the pages were white.

[2017-08-31 05:43] #2287 closed

[2017-08-31 05:48] davkean commented on #2196
This is being tracked by https://github.com/dotnet/project-system/issues/159.

[2017-08-31 05:48] #2196 closed

[2017-08-31 05:57] davkean commented on #2134
@bording It's known about that content items from NuGet package cache.

The globbing issue has been fixed in 15.3, and also I cannot longer repro the missing folder icon issue. Looks like this was resolved as part of getting linked items showing up by default.

[2017-08-31 05:57] #2134 closed

[2017-08-31 05:58] davkean commented on #2054
Dupe of https://github.com/dotnet/roslyn/issues/21358.

[2017-08-31 05:58] #2054 closed

[2017-08-31 06:05] davkean commented on #2086
This looks like a dupe of https://developercommunity.visualstudio.com/content/problem/80855/solution-shows-missing-file-icon.html which will be fixed in Preview 2 of VS 15.4. I'll close it as we don't have a repro - but if you could provide some repro steps or projects, I can confirm this.

[2017-08-31 06:05] #2086 closed

[2017-08-31 06:11] davkean commented on #2622
Dupe of https://github.com/dotnet/roslyn/pull/21641.

[2017-08-31 06:11] #2622 closed

[2017-08-31 18:22] twsouthwick commented on #1542
This is with the new project system

[2017-08-31 23:13] onovotny opened #2777 "Cannot add P2P ref from UWP to a multi-targeted net45/netstandard1.0 class lib"
With VS 15.4p1, I'm unable to add a p2p ref from a UWP app to a class library that has both net45 and netstandard1.0 outputs. I have not yet tested just netstandard1.0.

![f](https://user-images.githubusercontent.com/1427284/29949086-636fa242-8e80-11e7-92f1-cafe2d3f6f19.jpg)

If I manually add the `ProjectReference`, I get this warning.  Despite the warning, it compiles just fine.

Severity | Code

[2017-09-01 01:08] davkean commented on #2777
This is supposed to be handled by: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/References/AlwaysAllowValidProjectReferenceChecker.cs.

[2017-09-01 01:09] davkean commented on #2777
I suspect UWP is rejecting the reference.

[2017-09-01 03:23] davkean commented on #2777
Ah, I suspect this isn't a regression - @onovotny can you swap the targets around and see if that resolves the issue? I suspect UWP is seeing the .NET Framework moniker and rejecting it.

[2017-09-01 06:30] davkean commented on #2711
If we guess correctly, this will avoid loading an unneeded configuration for multi-targeted projects. We should basically sniff the TargetFrameworks property and return the first TFM combined with the active from the solution config.

[2017-09-01 07:30] lifengl commented on #2711
Yes

Sent from my phone

On Aug 31, 2017, at 11:30 PM, David Kean <notifications@github.com<mailto:notifications@github.com>> wrote:

If we guess correctly, this will avoid loading an unneeded configuration for multi-targeted projects. We should basically sniff the TargetFrameworks property and return the first TFM combined with the active from the solution config.

—
You are receiving this becaus

[2017-09-01 07:49] gulbanana commented on #2717
this seems to happen for Content items but not for None items

[2017-09-01 07:57] gulbanana commented on #2718
this is at least partially due to #2743

[2017-09-01 10:54] AArnott opened #2779 "Up-to-date check skips Pack, even after Rebuild"
1. Create a new .NET Standard library in VS 2017 (15.4 Preview 1)
1. Right-click the project and click Pack.
1. Pack again (this time, it skips, as appropriate).
1. Right-click the project and click Rebuild.
1. Pack again.

**Expected**

The nupkg is rebuilt

**Actual**

The Pack is skipped due to the up-to-date check. Double-checking the timestamps reveals indeed that the nupkg file is older than

[2017-09-01 11:09] atanasa opened #2780 "Adding additional nuget sources through the property RestoreAdditionalProjectSources in a target are not picked up by Restore in Visual Studio"
I am using a target to register additional nuget package source like this:
[code]

When I run Restore from the command line, it works. When I do a Restore in Visual Studio it does not work. The sources listed in the log of the operation in Visual Studio does not include the additional source.

Is there any particular reason why the project system calls into the Restore operation through code rathe

[2017-09-01 12:08] onovotny commented on #2777
Changing the order to put `netstandard1.0` before `net45` seems to have unblocked the UI and warning

[2017-09-01 21:21] ericstj commented on #2678
The problem wasn't that things appeared in the solution heirarchy, I expect that.  The problem was that the project system didn't update the project as a result of applying the item template.

[2017-09-01 21:24] ericstj opened #2782 "Renaming an item when EnableDefaultCompileItems is false causes project-system to crash"
To repro:
1. File > new project > .NET Core application.
2. Edit project to set EnableDefaultCompileItems to false.
3. Rename Program.cs to Program_foo.cs

Not sure if crash is the right word here, but I see
![image](https://user-images.githubusercontent.com/8918108/29988227-08d0419c-8f21-11e7-8760-899ad8952bcb.png)

File is here: [VsProjectFault_133de706-8b11-4ab0-b9a7-588b939e2c02.failure.txt](h

[2017-09-04 00:49] davkean commented on #2779
@panopticoncentral Can you work with NuGet to make them play nicely with this?

[2017-09-04 01:00] davkean commented on #2780
Restore in VS is much harder than via the command-line, as you need to play nicely with UI and unsaved projects, hence why we don't "restore" via MSBuild.

This looks like a NuGet bug, this should be a dependency of CollectPackageReferences.

[2017-09-04 01:00] davkean commented on #2780
This issue was moved to NuGet/Home#5842

[2017-09-04 01:00] #2780 closed

[2017-09-04 01:28] davkean commented on #2782
Closed in lieu of https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=489340&fullScreen=false&_a=edit.

[2017-09-04 01:28] #2782 closed

[2017-09-04 02:06] davkean commented on #2760
@abpiskunov Please reopen this against CPS when you've provided more information - I don't understand the bug.

[2017-09-04 02:06] #2760 closed

[2017-09-04 02:19] davkean commented on #2678
Ah, you added the class via a template and we didn't add to the Compile glob. Hmm, unsure who's bug this is.

[2017-09-04 04:56] davkean commented on #2216
Going to close this in lieu of specific issues:

- Output group is known and has since been fixed.
- Long design-time builds is being tracked by https://github.com/dotnet/sdk/issues/1496

[2017-09-04 04:56] #2216 closed

[2017-09-04 04:57] davkean commented on #2037
Closed in lieu of https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=489389&fullScreen=false&_a=edit.

[2017-09-04 04:57] #2037 closed

[2017-09-04 05:06] davkean commented on #2741
Can you see what legacy does here? I think it ignores the error.

[2017-09-04 05:07] davkean commented on #2706
Can we come with a sensible behavior here?

[2017-09-04 05:09] davkean commented on #2202
@davidfowl We've resolved most of these sorts of issues in 15.3 - if you are still running into, can file a new bug and we'll start from there?

[2017-09-04 05:09] #2202 closed

[2017-09-04 05:11] davkean commented on #1909
I'm going to close this issue - it seems like the majority of questions were answered. If you have further questions about this, feel free to file bugs over on http://github.com/dotnet/standard

[2017-09-04 05:11] #1909 closed

[2017-09-04 05:14] davkean commented on #1733
Sorry for the late reply, you're probably already fixed this out, but CPS has their own interface that extenders should export, called `IDynamicDebugTargetsGenerator`, our implementation is here: https://github.com/dotnet/project-system/blob/ed21d8f688d4d576bdbbdc42abd440928e5bb0bf/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Debug/DebugProfileDebugTargetGenerator.cs.

[2017-09-04 05:14] #1733 closed

[2017-09-04 05:22] davkean commented on #1616
As mentioned here: https://github.com/dotnet/project-system/issues/1733 you can implement IDynamicDebugTargetsGenerator to control this.

[2017-09-04 05:22] #1616 closed

[2017-09-04 05:23] davkean commented on #1820
Going to dupe this against: https://github.com/dotnet/sdk/issues/1553 which is tracking the handling of these.

[2017-09-04 05:23] #1820 closed

[2017-09-04 05:32] davidfowl commented on #2202
Yep

[2017-09-04 06:27] davkean commented on #2709
Output path's are configuration dependant, but the package properties are configuration-independent, so that page is probably not the correct place to put it. We'd need a design for this.

[2017-09-04 07:41] dazinator commented on #1616
@devkean I have implemented this interface, and I only return debug targets x y and z

[2017-09-04 14:11] mschulz531 commented on #1925
This is still happening!  Any ETA on a fix? or workaround?

=====================
9/4/2017 9:05:39 AM
Recoverable
System.AggregateException: One or more errors occurred. ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TValue value, Boolean add)
   at Microsoft.VisualStudio.LanguageServices.Impl

[2017-09-04 18:23] bdovaz commented on #1467
Anyone got this working? I'm able to compile it but I lost intellisense in VS 2017.

This is my csproj:

[code]

[2017-09-04 19:33] sharwell commented on #1467
❓ I notice you have `Generator="MSBuild:UpdateDesignTimeXaml"`. Is there a reason you aren't using `Generator="MSBuild:Compile"`?

[2017-09-04 21:54] bdovaz commented on #1467
@sharwell to be honest I don't know, my csproj is being written by seeing other people examples.

I really want to use the new format but I need a working example that works. One example that:

- Intellisense works.
- Successfully includes XAML intermediate code (*.g.cs) so I can reference components of the XAML page.

I've tried to update my csproj seeing that example but I have the same problem:

[2017-09-05 00:27] davkean commented on #2701
Closing in lieu of the above bug.

[2017-09-05 00:27] #2701 closed

[2017-09-05 00:31] davkean commented on #2744
If you look at build, you can clearly see that PlatformTarget is being set to x86:

[code]

This is an SDK bug.

[2017-09-05 00:31] davkean commented on #2744
This issue was moved to dotnet/sdk#1560

[2017-09-05 00:31] #2744 closed

[2017-09-05 00:33] davkean commented on #2681
Duping against the feedback item linked here: https://github.com/dotnet/project-system/issues/2681.

[2017-09-05 00:33] #2681 closed

[2017-09-05 00:33] davkean commented on #2741
Also here: https://github.com/dotnet/project-system/issues/2681

[2017-09-05 00:35] davkean commented on #2728
@QuantumHive I believe this is a [known bug](https://developercommunity.visualstudio.com/content/problem/80855/solution-shows-missing-file-icon.html) that will be fixed in 15.4 _Preview 2_ when it is released.

[2017-09-05 00:36] #2728 closed

[2017-09-05 00:39] davkean opened #2784 "Coordinate design-time build and full build errors/warnings"
We should coordinate design-time build and full build errors/warnings similar to what Roslyn does to avoid duplicate errors/warnings and [errors/warnings showing up that have been fixed](https://github.com/dotnet/project-system/issues/2349).

[2017-09-05 00:39] davkean commented on #2349
Dup'ing against the feature here: https://github.com/dotnet/project-system/issues/2349

[2017-09-05 00:39] #2349 closed

[2017-09-05 00:41] davkean commented on #1511
Duping against: https://github.com/dotnet/project-system/issues/1511.

[2017-09-05 00:41] #1511 closed

[2017-09-05 00:41] davkean commented on #2131
Duping against: https://github.com/dotnet/project-system/issues/2784

[2017-09-05 00:41] #2131 closed

[2017-09-05 00:47] davkean commented on #2212
Note we're tracking performance elsewhere, I filed https://devdiv.visualstudio.com/DevDiv/Managed%20Project%20System/_workItems?id=489641&fullScreen=false&_a=edit to track the F5 loading all projects instead of just startup projects.

[2017-09-05 00:47] #2212 closed

[2017-09-05 01:24] davkean commented on #2678
//cc @lifengl  @jviau

I spend some time thinking about this, and this behavior is by design.

First of all, to avoid this, opt out of the all the default globs by setting `<EnableDefaultItems>false<EnableDefaultItems>` property or opt just out of the default  `None` glob by by setting `<EnableDefaultNoneItems>false<EnableDefaultNoneItems>` property.

The template has zero control over the item ty

[2017-09-05 01:24] #2678 closed

[2017-09-05 01:27] davkean commented on #2601
Let's make https://github.com/dotnet/project-system/issues/1358 track the experience here around accidentely opt'ing in/out of the new project system.

[2017-09-05 01:27] #2601 closed

[2017-09-05 01:28] davkean commented on #1358
We should factor in https://github.com/dotnet/project-system/issues/2601 when we come up with a user experience for opting in/out of the new project system.

[2017-09-05 01:30] davkean commented on #2210
Note this isn't a regression - the regression is that it's taking longer for projects to load. I've filed https://devdiv.visualstudio.com/DevDiv/_workitems/edit/489641 to track blocking the loading of all projects just to build.

[2017-09-05 01:30] #2210 closed

[2017-09-05 01:54] davkean commented on #1938
This issue was moved to dotnet/sdk#1561

[2017-09-05 01:54] #1938 closed

[2017-09-05 03:54] aienabled commented on #1467
@bdovaz,
I'm using it successfully for WPF (multiple projects referencing each other) and IntelliSense works well (in C# and XAML files).

Do you need this for WPF/UWP or Xamarin project?
Are you able to see XAML files in the solution explorer? I'm asking because there is no `Page` item type rule in `netstandard` and without it XAML files added as `Page` are not visible in the solution explorer. T

[2017-09-05 04:56] davkean commented on #1927
Filed: https://devdiv.visualstudio.com/DevDiv/_workitems?id=489672&fullScreen=false&_a=edit. Looks like the wrong string.

[2017-09-05 04:56] #1927 closed

[2017-09-05 05:09] davkean commented on #2177
The pages are a whole lot of broken at the moment, we need an all-up-design of how this is going to work. I do like the idea of only setting BaseOutputPath.

[2017-09-05 05:23] davkean commented on #2759
I'm not convinced that this repo is the correct repo either. We fire up project instances when we are directed to by the Solution, in this case, these references aren't seen by the solution and we're never even loaded to look at these projects.

NuGet isn't the only thing broken here, you won't get cross-project IntelliSense, they won't build when the solution is built inside Visual Studio (they w

[2017-09-05 05:24] davkean commented on #2326
This is somewhat intentional at the moment. We're going to revisit the whole evaluation vs unevaluated in the properties pages rewrite - we'll tackle it then.

[2017-09-05 05:24] #2326 closed

[2017-09-05 05:28] davkean commented on #2680
@tmeschter Can this be resolved given your recent work?

[2017-09-05 05:29] davkean commented on #2777
Not a regression, we shipped like this in RTM, workaround is reorder the `<TargetFrameworks/>` to list netstandard first.

[2017-09-05 05:30] davkean commented on #2674
@panopticoncentral @jmarolf Can this be resolved given recent changes?

[2017-09-05 06:04] bdominguez commented on #1467
@aienabled I'm using it with WPF. Thanks I'm looking forward to that example.

[2017-09-05 06:09] davkean commented on #2743
@panopticoncentral I've got a fix this - I'll take it.

[2017-09-05 06:20] davkean commented on #2777
Note, we already fixed in the portable. Need to push the CpsProjectReferenceQuery down into UWP: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/55966?_a=files.

[2017-09-05 06:37] davkean commented on #2717
Have a fix for this.

[2017-09-05 06:38] davkean commented on #2718
Yep, this looks to be a combination of both https://github.com/dotnet/project-system/issues/2743 and https://github.com/dotnet/project-system/issues/2717.

[2017-09-05 06:38] #2718 closed

[2017-09-05 06:39] davkean commented on #2717
This is because we're not rooting the output path correctly.

[2017-09-05 06:41] davkean commented on #2702
We need to find an owner for this.

[2017-09-05 08:26] aienabled commented on #1467
Done https://github.com/aienabled/WpfNetStandardSample
but it has a problem with VS IntelliSense for WPF generated code (from intermediate folder) as I've described in the readme there.
I hope someone from the Project System team will take a look at that sample and figure out why VS IntelliSense doesn't work properly.
Meanwhile, I'm using it with ReSharper without any issues.

[2017-09-05 13:34] sharwell commented on #1467
@bdovaz I figured out the problem. You need to apply a workaround for #2488, as seen in icsharpcode/ILSpy#847.

@aienabled Your solution includes some workarounds that I haven't done yet. Maybe we can put together a NuGet package that someone can install to "just work"?

[2017-09-05 13:36] onovotny commented on #1467
@sharwell Please add that to the `MSBuild.Sdk.Extras` package as that's the goal of the project. Sounds like a perfect addition.

[2017-09-05 15:06] ericstj commented on #2678
I see.  The behavior is definitely broken and seems to be the result of the SDK's None item.

[2017-09-05 17:03] aienabled commented on #1467
@sharwell, you can go ahead. Unfortunately, I don't have time now to pack this into a NuGet package and ensure it works properly.

[2017-09-05 17:34] tmeschter commented on #2680
@davkean Yes, I'll resolve this.

[2017-09-05 17:35] tmeschter commented on #2680
This was addressed in 15.4 with PR https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/82260#_a=overview.

[2017-09-05 17:35] #2680 closed

[2017-09-05 17:48] tmeschter commented on #2724
What we really need is a way to filter out analyzer assemblies that don't have any actual analyzers. This would exclude all the *.resources.dll assemblies, as well as utility libraries loaded by analyzers, and libraries that just contain code fixes.

[2017-09-05 17:50] mavasani commented on #2724
@tmeschter Note that the filtering already works fine for legacy project system - we only show assemblies with at least one diagnostic analyzer.

[2017-09-05 17:52] tmeschter commented on #2338
Related to #2724. This will probably both be resolved with the same code change.

[2017-09-05 18:01] tmeschter commented on #2724
@mavasani Yes, but that filtering is done by the language service because it owns the Solution Explorer nodes when working with the legacy project system. When the new project system is in use, it is responsible for creating those nodes. I can't (directly) re-use the same code. Though I will very likely end up copying it.

[2017-09-05 19:03] panopticoncentral commented on #2674
I left this open because we need to port the telemetry logger from the legacy project system into CPS. We should get that into 15.4 if we can, although I'm not working on it right at this moment.

[2017-09-05 23:44] emgarten commented on #2780
This property is sent as part of the nomination, it would be a bug on the project system side if this isn't sent.

Also, depending on CollectPackageReferences should fix this for VS.

[2017-09-06 05:06] davkean commented on #2702
This is blocked on @KevinH-MS's work to add LUT end-to-end on .NET Core which will include us.

[2017-09-06 06:41] davkean commented on #2717
This has been resolved and will be fixed in the next update of Visual Studio 15.4.

[2017-09-06 06:41] #2717 closed

[2017-09-06 06:42] davkean commented on #2743
This is fixed and will appear in the next public release of 15.4.

[2017-09-06 06:42] #2743 closed

[2017-09-06 07:17] davkean opened #2789 ".NET Core/.NET Standard build performance"
This is an overarching issue that I'm using to track evaluation/build performance issues across all repos. This has a .NET Core/.NET Standard focus, but due to overlap, improvements such as https://github.com/Microsoft/msbuild/issues/1276, will improve all project types.

## Notes:
- Due to the behavior of projects inheriting their project references' evaluation cost during a build, evaluation is

[2017-09-06 08:11] davkean commented on #2712
Closing this lieu of https://github.com/dotnet/project-system/issues/2789.

[2017-09-06 08:11] #2712 closed

[2017-09-06 14:19] abock commented on #1821
We're being bit by this in our shared solution (Visual Studio + Visual Studio for Mac) for our product which contains about 60 projects. We now have a handful of .NET Core/new-style-csproj projects in the solution.

_Visual Studio_ uses the new `9A19103F…` GUID when serializing the solution while _Visual Studio for Mac_ uses the legacy `FAE04EC0…` GUID. This issue leads me to believe that Visual S

[2017-09-06 23:26] KevinRansom opened #2793 "Use new dataflow that will provide files in project file order."
Propagate file order to workspace projects.

[2017-09-07 03:22] davkean commented on #2495
This has been fixed.

[2017-09-07 03:22] #2495 closed

[2017-09-07 03:32] davkean opened #2795 "Remove concept of "short name" in TargetFramework"
TargetFramework has a short name concept - this has been fraught with bugs https://github.com/dotnet/project-system/issues/2713 and https://github.com/dotnet/project-system/issues/2388 because it's really tempting to compare it. Short name is not-canonical and should never be compared, it is solely a convenience used for developers writing project files.

We should remove concept of TargetFramewor

[2017-09-07 13:55] atanasa commented on #2780
@emgarten Depending on CollectPackageReferences does not fix it. If the property is not set in a target but at the top level of the project it is picked up by the restore eventually.

As far as I understand the code, the nomination data source is the project not the CollectPackageReferences target for that property - [NuGetRestore.xaml](https://github.com/dotnet/project-system/blob/3c760034e97c255

[2017-09-07 14:27] atanasa commented on #2780
Here is a sample project that uses CollectPackageReferences and reproduces this:
[NuGetSourceRepro.zip](https://github.com/dotnet/project-system/files/1284981/NuGetSourceRepro.zip)

[2017-09-07 15:28] thomaslevesque commented on #2052
I see this all the times, several times a day. I edit a project, add a PackageReference, save the file, and close the editor, and my changes are not taken into account. When I edit the project again, my changes are gone, as if I never made them. Trying again *usually* works.

[2017-09-07 16:32] natidea opened #2796 "Multi startup projects, cannot start"
From [VSFeedback](https://developercommunity.visualstudio.com/content/problem/41326/multi-startup-projects-cannot-start.html) | [415916](https://devdiv.visualstudio.com/DevDiv/_workitems?id=415916&_a=edit)

This affects both legacy and .NET Core projects.

**Internal Vendor Repro steps:**

1. Create two Console App(.Net Framework) projects in a solution;
2. R-click the solution and select the "Pro

[2017-09-07 18:26] emgarten commented on #2780
@davkean is there a way to set this property so that the project system reads it when it gathers the project metadata for restore nomination?

[2017-09-07 19:44] tannergooding commented on #2651
@davkean, should this be assigned to you right now? I believe you mentioned wanting to do further investigation to determine the appropriate fix here.

[2017-09-07 21:58] davkean commented on #2796
@tannergooding Can we quickly see if this a regression or whether it's some related to the customer's setup?

[2017-09-07 23:25] mishra14 opened #2804 "Suppressing warnings through project properties UI adds tfm condition in csproj file for multi targeting project"
## Repro steps:
1. Create a new NetCore 2.0 Console App
2. Multi-target to netcoreapp2.0;net461:
`   <TargetFrameworks>netcoreapp2.0;net461</TargetFrameworks>`
3. Add a NuGet reference to a net 461 compat package like RestSharp
4. Build -> Show 2 warnings which seems to be another bug: https://github.com/dotnet/sdk/issues/1474
5. Suppress warning NU1701 from Project->Properties->Build->Suppress Wa

[2017-09-08 00:33] davkean opened #2805 "Investigating nominating restore during evaluation as well as design-time"
Right now, nomination is done after design-time build has finished - this leads to a bunch of false starts before Restore can occur.

We should consider coordinating evaluation and design-time build to see if we can nominate earlier for the cases where design-time build doesn't change results.

Things to think about

- We're moving the nomination to the first design-time build - and improving desi

[2017-09-08 00:34] davkean commented on #2594
I've also noticed that sometimes CollectPackageReferences comes in late too.

[2017-09-08 00:34] davkean commented on #2805
Let's see if https://github.com/dotnet/project-system/issues/2594 moves the needle first.

[2017-09-08 01:14] natidea commented on #2780
Since NuGetRestore.xaml does not wait on any targets, I think it reads properties from Evaluation.
One fix may be to do something similar to PackageReference.xaml and create a target that returns all the desired properties, including those ones that may have been set later as part of the DT build. But perhaps there is a simpler way to do this?

[2017-09-08 08:09] bdominguez commented on #1467
I'm still having problems with this.

I randomly lost intellisense and to get it back it's a combination of making a change on the project (for example: deleting a file) or closing and opening VS 2017 or unloading or loading the project...

It's a nightmare...

Also on stackoverflow someone called RB had the same problem:

https://stackoverflow.com/questions/44154271/wpf-controls-not-recognized-in

[2017-09-08 12:29] sharwell commented on #1467
@bdominguez Did you apply this workaround as well?

https://github.com/sharwell/ILSpy/blob/88616e828f7721fa793b3a551667984dceda5bcb/ILSpy/ILSpy.csproj#L366-L374

[2017-09-08 12:47] bdominguez commented on #1467
Yes, I already included it.

[2017-09-08 15:13] tannergooding opened #2806 "Create integration test validating default project capabilities are correct."
Once Jenkins is upgraded to a build of VS that contains https://github.com/dotnet/project-system/pull/2801, we should write an integration test that validates both the `FSharp` and `SortByDisplayOrder` project capability are set for F# projects.

At that time, we can additionally validate that files are sorted by project order, rather than in alphabetical order.

[2017-09-08 20:30] tmeschter commented on #2248
PR #2807 will add the version to the captions of items under the SDK node.

Is it useful to show the SDK version on the SDK node itself?

[2017-09-08 21:36] jviau commented on #2459
@rchande I believe `Perf.Tests` is a legacy C# project in that image. Are you able to confirm that?

* It has a `References` node, in .netcore that is `Dependencies` (or nothing if it is disabled).
* I do not believe CPS can even display duplicate items like that. The tree uses the caption as a case-insensitive key.
* Legacy project does behavior like this when there is duplicate items (and `Perf.

[2017-09-08 23:20] rchande commented on #2459
@jviau Sure, this looks like a bug in the implementation of globbing in the legacy project system. Namely, that the code that adds entries for pasted files doesn't check to see if the file it's adding is already included through globbing. Should I refile this bug somewhere else?

[2017-09-09 00:14] adrianvmsft opened #2809 "ConfigurationGeneralFile.xaml should be included as Invisible"
Currently ConfigurationGeneralFile.xaml is included using Context File in
MSBuild\Microsoft\VisualStudio\Managed\Microsoft.Managed.DesignTime.targets

Because of that, it applies to all items, and causes issues when opening the properties dialog:
# Property pages have duplicate properties
https://developercommunity.visualstudio.com/content/problem/76988/property-pages-have-duplicate-properties.htm

[2017-09-09 00:53] natidea commented on #935
Also reported on [VSFeedback](https://developercommunity.visualstudio.com/content/problem/103384/a-multi-target-csproj-project-cant-open-file-with.html) | [486744](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/486744)

[2017-09-09 07:18] FransBouma commented on #935
@natidea I reported that issue, but your reply suggests there isn't actually something wrong, but as it's closed already I can't reply there, so I'll do it here: the error list in visual studio suggests the wrong TFM where the issue happened as well as it couldn't open the file. As you can't reproduce that anymore with the repro I attached to that issue, I assume it's been fixed along the way sinc

[2017-09-09 15:21] davidfowl commented on #2248
@tmeschter yes. There are actually 2 versions:

- The SDK version
- The runtime version

Both of these today are nearly impossible to figure out what VS chose to use without looking at an msbuild diagnostics log. We need to show both of these versions in the IDE.

[2017-09-10 19:14] ChristopherHaws opened #2810 "Tooling keeps inserting ItemGroup.Compile items into csproj after update to Windows 10 Redstone 3 Preview"
Hello,

I updated my computer to the latest Windows 10 Redstone 3 Insider Preview a few days ago, and ever since that update I have been having tooling issues in Visual Studio with .NET Core SDK. Whenever I try to rename a file in Visual Studio, instead of executing a move command, it is creating a copy of the old file but with the new name. It is also adding an item group into my csproj file.

**

[2017-09-10 19:16] ChristopherHaws commented on #2810
This seems like it could be related to https://github.com/dotnet/project-system/issues/1550 but it is referencing a private VSTS work item that I can't view.

[2017-09-11 05:25] davkean opened #2811 "When conditioning source files between TFMs, build only errors always get reported against first TFM"
Filed on behalf of https://developercommunity.visualstudio.com/content/problem/103384/a-multi-target-csproj-project-cant-open-file-with.html.

1. Open attached project and build

Expected: Two builds errors:
[code]

Actual: Three build errors

[code]

If you switch to _build only_ you can see that the error coming out of the net452 build is actually being reported against netcoreapp2.0.

[MultiTar

[2017-09-11 05:29] davkean commented on #935
The fact that it cannot be opened when you double-click the error is fallout of above - VS thinks that we own the file, but when the Error List asks us to open it we cannot find the file as it's not a part of the files that we consider part of the project.

The other bug you mentioned, I opened https://github.com/dotnet/project-system/issues/2811 to track.

[2017-09-11 06:00] davkean commented on #2809
@adrianvmsft Who owns the other definition here? Why would we include this rule at all if its invisible (and hence probably doing nothing?)

[2017-09-11 06:11] davkean commented on #2810
Thanks for reporting. This is a dupe of https://developercommunity.visualstudio.com/content/problem/80855/solution-shows-missing-file-icon.html and will be fixed in 15.4 Preview 2.

[2017-09-11 06:11] #2810 closed

[2017-09-11 06:20] davkean opened #2812 "dotnet cli created projects don't work in VS2017 15.3.3."
_From @codefactorydevelopment on September 9, 2017 13:58_

## Steps to reproduce

Create 2 projects:

 1. `dotnet new webapi` (name: webapiProject)
 2. `dotnet new xunit` (name: testProject)

After that, on `testProject` project:
`dotnet add reference webapiProject`

Now, when opening testProject.csproj in `VS2017 15.3.3.`

## Expected  behavior
Expected to see `testProject` loaded with resolved d

[2017-09-11 06:20] davkean commented on #2812
_From @nguerrera on September 9, 2017 22:35_

@emgarten

[2017-09-11 06:20] davkean commented on #2812
_From @emgarten on September 10, 2017 0:44_

This can happen if the project system does not nominate a project.

Does the error continue if you wait?
Does activitylog.xml from VS contain any additional errors on why the project failed?
Are you consistently getting this error?

[2017-09-11 06:20] davkean commented on #2812
_From @codefactorydevelopment on September 10, 2017 5:55_

hi @emgarten

 1. Error is there regardless of how many times i try or how long i wait.
 2. Just checked, there is nothing in activitylog.xml
 3. I've tried this scenario a few times and always got that error.

Could i ask, what does 'nominating a project' exactly mean? Not sure i've ever heard that term.

[2017-09-11 06:20] davkean commented on #2812
_From @nguerrera on September 10, 2017 14:35_

@davkean Should I move this to project system?

[2017-09-11 06:20] davkean commented on #2812
_From @nguerrera on September 11, 2017 0:32_

@codefactorydevelopment Are the two project files in the same directory?

[2017-09-11 06:20] davkean commented on #2812
_From @codefactorydevelopment on September 11, 2017 2:38_

@nguerrera

no, they are each in their own folder:

-parentFolder
|---webapiProject/webapiProject.csproj
|---testProject/testProject.csproj

[2017-09-11 06:21] davkean commented on #2812
@natidea Can you root cause this?

[2017-09-11 07:33] dasMulli commented on #2812
@codefactorydevelopment are the two projects in a solution or are you just opening the test project on VS without a solution file?

[2017-09-11 08:01] codefactorydevelopment commented on #2812
@dasMulli

they are not in a solution. i am opening testProject in VS without solution file.

[2017-09-11 08:13] sanderobdeijn opened #2813 "Define LaunchSettings.json outside of project"
I have a couple of that have a bit more complicated launchsettings.json. And I don't want to maintain this file per project. Each project already has a common imported .targets file. And in this target I have include my custom launchsettings.json file. It now loads the file correctly but it is placed in the root project directory and my project won't launch.

I don't know how visual studio recogni

[2017-09-11 08:39] dasMulli commented on #2812
Then this likely is a duplicate of https://github.com/dotnet/project-system/issues/2759 (restore doesn't work for project references not included in a solution)

[2017-09-11 09:18] codefactorydevelopment commented on #2812
@dasMulli

oh yes, looks like that. thanks for pointing that out!

so for now seems like adding to solution is simplest workaround.

[2017-09-11 13:00] sharwell commented on #2813
Possible duplicate of #2540?

[2017-09-11 17:25] Andrey-iTech commented on #256
Hi guys,

Is the issue going to be resolved in the nearest future? For our team it is very important feature and the issue is preventing us from migrationg to .net standard/core. [Modeling project](https://msdn.microsoft.com/en-us/library/dd409445.aspx) is not an option for us because it doesn't provide "two-way binding" between a digram and actual source code.

[2017-09-11 17:26] jcouv commented on #2478
@panopticoncentral @davkean Just a kindly ping to make sure this is still on the radar for 15.5. The implemented workaround for patching P2P references seems to work, but it still has hardcoded logic for the "ref" folder.
Let me know. Thanks

[2017-09-11 17:36] tannergooding commented on #256
FYI. @Pilchie. I pinged the CPS bug as well, which is still open.

[2017-09-11 17:50] tannergooding commented on #2796
@davkean, I am not seeing this repro in the latest public rtm (15.3.3), the latest public preview (15.4.0 Preview 1), or in the latest vsuml build (26909.4000).

I tried, single netframework and single netcore project (in multiple startup mode).

I tried, dual netframework and dual netcore project (in multiple startup mode, both with only a single startup project and with both as startup projects)

[2017-09-11 18:09] adrianvmsft commented on #2809
The other defintions come from item type specific rules (e.g. Compile.xaml, EmbeddedResource.xaml, None.xaml, etc). For implicitly included folders, there is Folder.xaml rule.

Removing ConfigurationGeneralFile.xaml could be another option. However, we saw that in the CPS code base we use the generated code from it quite extensively as a common way of accessing item properties - not sure if same a

[2017-09-11 18:18] jviau commented on #2459
@rchande I routed the issue to the legacy C# project path. I believe this is by-design or at least a known issue they don't intend to fix/change. The legacy C# project never supported globbing. Also, the way MSBuild works, items are not distinct. There _is_ actually multiple items in the project. In CPS we see the duplicate items as well, but we "nest" them underneath a single node.

[2017-09-11 19:24] natidea commented on #2796
@morrisjoe what build did you try this on?

[2017-09-11 20:34] tmeschter commented on #2248
@davidfowl OK. PR #1572 will address the runtime version (well, that PR plus a small change to the SDK).

Now I'm trying to figure out if the SDK version is available in an MSBuild property.

[2017-09-11 20:56] morrisjoe commented on #2796
@natidea 15.3.3 RTM and 15.4 Preview2

[2017-09-11 22:14] adrianvmsft commented on #2782
@ericstj Unfortunately, I wasn't able to repro this issue. However, we think may be fixed in Update 3 or newer. Could you let me know if see it again on more recent builds?
Thanks,
Adrian

[2017-09-11 22:21] tannergooding commented on #256
FYI. @davkean

[2017-09-11 22:22] tannergooding commented on #256
FYI. @davkean

[2017-09-11 22:24] davkean commented on #256
@tannergooding What's the CPS ask here?

[2017-09-11 22:30] tannergooding commented on #256
To fix this bug https://devdiv.visualstudio.com/DevDiv/_workitems/edit/395144

[2017-09-11 22:32] davkean commented on #2655
This is will inadvertently fixed by https://github.com/Microsoft/msbuild/issues/1276 - which will pull the error message into the consuming project and hence will show in the Error List.

[2017-09-11 22:49] tmeschter commented on #2248
Sounds like further work on this is blocked by https://github.com/dotnet/cli/issues/7051.

[2017-09-11 23:05] davkean commented on #2459
I closed the internal bug, we don't have intentions of fixing/changing this behavior in the legacy project system.

[2017-09-12 00:17] davkean commented on #2813
Yeah it is, duping it against it.

[2017-09-12 00:17] #2813 closed

[2017-09-12 00:19] davkean commented on #2809
If it's not used I'd prefer us to remove it to avoid having to understand why it exists in the future.

[2017-09-12 00:27] davkean commented on #52
This has been fixed in https://github.com/dotnet/project-system/commit/998b366b075bb16120952a94ec7c3242f4478367.

[2017-09-12 00:27] #52 closed

[2017-09-12 00:37] davkean commented on #2804
We need to design how this is going to work - whether we add a TFM switcher these pages, or we just make sure we don't persist it when we write the condition out.

[2017-09-12 00:39] davkean commented on #2796
@tannergooding can you hook up with @morrisjoe and see if you can repro it.  Going to move out of 15.4 as it appears to specific setup.

[2017-09-12 01:38] davkean commented on #256
@tannergooding Looks like a one line change - can we just submit the change?

[2017-09-12 02:28] tannergooding commented on #256
If they will take it, we should be able to

[2017-09-12 06:07] anangaur commented on #2804
IMO, the ideal solution would be the first one that means implementing the TFM switcher with the  default to all/any TFM. This should be followed by any NuGet work required.
 @emgarten, @mishra14 is there any follow up work required on NuGet side with approach?

I also see this is marked for 15.6. Can this be considered for 15.5? I am okay with either approach - whichever is faster.

[2017-09-12 06:12] davkean commented on #2804
We're not going to be able to fit this in for 15.5. Does NuGet respect suppressing warnings per TFM?

[2017-09-12 06:57] davkean opened #2815 "Support for "DesignTimeReferences""
XAML designer has the following code:

[code]

This apparently does not return WinMD references for CPS projects. I don't have a good understanding of how this works yet so it needs investigation.

[2017-09-12 07:06] anangaur commented on #2804
I am not positive. @mishra14  can confirm. If not, how difficult is to remove TFM filter for NuGet warning suppressions (2nd option)?

[2017-09-12 07:08] davkean commented on #2804
It needs investigation - we don't own that code. It lives in CPS and we'll need to add an extension point to override the behavior,

[2017-09-12 07:33] ZoolWay commented on #2796
Hi! Maybe you guys can add some more logging around the error message? I would happy to provide the logs with a 15.4 update.

[2017-09-12 08:16] davkean commented on #2796
@ZoolWay You can repo this? Can you attack a solution that exhibits the issue?

[2017-09-12 08:18] MiaomiaoHuangfu opened #2816 "code-len features does not work after closing and reopening .sln"
- Create a .net core project (console, class lib, mstest, xunit or web), restore succeeded, code-len features work well;
- File --> Close Solution and reopen it;

**Expected Result:** code-len features work well.
**Actual Result:** code-len features do not work.
![code-lensnotwork](https://user-images.githubusercontent.com/22901391/30314847-9d27d470-97d4-11e7-8841-4cd4cbab023c.PNG)

Tested on d15r

[2017-09-12 08:22] davkean commented on #2816
@MiaomiaoHuangfu Is this a regression?

[2017-09-12 08:35] MiaomiaoHuangfu commented on #2816
Yeah, it seems a regression issue.

[2017-09-12 08:37] davkean commented on #2816
From which release?

[2017-09-12 08:39] ZoolWay commented on #2796
@davkean I am the one who reported this on VSFeedback so I had it from the beginning till 15.3.3. I even reproduced it with several different multi-startup settings.

After your request I just tried to come up with a minimal example solution but the problem did not occur. So I opened my problem-solution to check it again and the problem is suddenly gone! I am confused how that is possible as my ve

[2017-09-12 08:44] MiaomiaoHuangfu commented on #2816
the bug repro on d15rel.26911.00.
code-len features work well before this build (d15rel.26908.01).

[2017-09-12 09:01] davkean commented on #2816
@basoundr Can you have a quick look here? If you don't have time, tell me and I'll find someone else.

[2017-09-12 09:02] davkean commented on #2796
@ZoolWay Was .NET Core/.NET Standard (CPS-based) projects always one of the startup projects?

[2017-09-12 15:52] DamianEdwards commented on #2789
Should we like this to the issue on MSBuild for RAR perf too?

[2017-09-12 16:35] #2455 closed

[2017-09-12 17:14] basoundr commented on #2816
Yes, I am able to repro the regression. After the initial Solution close, Code lens is not working for any of the solution(using the new project system) thats opened after.

[2017-09-12 17:19] Pilchie commented on #2816
Does it repro in the old project system? It could be a roslyn regression instead.

Also take a look at what exceptions are thrown, it could be a difference in events between the old/new project systems causing issues in the Roslyn workspace.

[2017-09-12 17:25] tannergooding commented on #256
The fix on our side is here: https://github.com/dotnet/project-system/pull/2817

If you build and deploy locally, you should be able to add and open class diagrams.

However, without the CPS change it may result in multiple warning dialogs popping up the first time you attempt to add the diagram to the project.

Then, manually opening the document subsequently appears to function correctly.

[2017-09-12 17:40] basoundr commented on #2816
It does not happen in the old project system. This is only with the new project system. which is why looking at the recent changes might also help since Codelens was working 3 days before

[2017-09-12 18:00] basoundr commented on #2816
Between 26908.01 and 26911.00, only CPS has made a change and no Roslyn change.

[2017-09-12 18:24] tmeschter commented on #2614
@rchande I'm not able to reproduce this with 26831.0.d15rel. Unless you have an objection, I'm going to close this.

[2017-09-12 18:24] #2614 closed

[2017-09-12 19:39] tannergooding commented on #391
@Pilchie, @davkean. This is a post 15.5 bug. The CPS team still needs to undergo a major refactoring to support setting the display order on arbitrary items in the tree (and simultaneously keeping it performant for large solutions).

[2017-09-12 19:40] tannergooding commented on #1896
The work required to support projects with a small number of files was done to support F#. The remaining work here is blocked pending a CPS refactoring.

We should probably move this out of 15.5. @Pilchie, @davkean

[2017-09-12 19:42] tannergooding commented on #1224
@Pilchie, do we want to target this for 15.5, with the understanding that it may not be ordered in the "optimal" location until the CPS work unblocking https://github.com/dotnet/project-system/issues/1896 happens post 15.5?

[2017-09-12 19:45] dsplaisted commented on #2248
I'm not sure it's going to be too helpful to show these versions.  If you target .NET Standard 1.4, you will see the package version as 1.6.1.  You have to expand the dependency tree to find it though, so hopefully not too many people will be confused by it.

[2017-09-12 19:45] tannergooding commented on #1245
@davkean, we are just wanting to remove from the project file if it is equivalent to the default from some imported props/target, correct?

Are we going to have any mechanism for users who want to have it explicitly there, regardless of the default (C/C++ has this, for example)?

[2017-09-12 19:45] tannergooding commented on #1675
This was resolve by moving to the repo toolset (CC. @tmat)

[2017-09-12 19:45] #1675 closed

[2017-09-12 19:47] tannergooding commented on #1729
Most of this was simplified by the move to the toolset.

[2017-09-12 19:47] #1729 closed

[2017-09-12 19:48] tannergooding commented on #1881
Roslyn has the same issue. This should be a relatively simple fix. FYI. @jasonmalinowski

[2017-09-12 19:53] davidfowl commented on #2248
Why would it *not* be helpful to show the effective version of the SDK and runtime? It's as useful as the package versions. It's required to do any reasonable diagnostics. The last time I asked @nguerrera how I figure out what version of the SDK was being used by VS there was a pause. It shouldn't require any though to figure that out because it should be obvious in the UI 😄 .

Here's what jetbrai

[2017-09-12 20:32] basoundr commented on #2816
Confirmed that the bug has been introduced by CPS with the recent change to cache the Project Guid. Looping in @adrianvmsft

[2017-09-12 20:38] basoundr commented on #2816
I am not able to assign the issue over to @adrianvmsft. Maybe because he is not part of dotnet org?

[2017-09-12 20:39] adrianvmsft commented on #2816
I am investigating... that side effect is really unexpected

[2017-09-12 21:12] diverdan92 commented on #2815
@davkean - any chance we can pull this to a nearer release, perhaps 15.5? We are heavily emphasizing changes to the XAML designer and .NET Standard 2.0 - would love to see this come together sooner.

[2017-09-12 21:33] tmeschter commented on #2558
@davkean `ProjectItem.FileNames[...]` always seems to return null for an analyzer, even though `ProjectItem.FileCount` returns "1" as I would expect. I'll try to debug through and see where things are going wrong.

[2017-09-12 21:36] onovotny commented on #2815
Having this done in 15.5 would be extremely valuable. Projects are starting to use multi-targeting to target different UAP platforms and are hitting this issue today. The UWP Community Toolkit is one example. We need to target `uap10.0` and `uap10.0.16278` to have better support for RS3 while still supporting pre-RS3.

If there's something I can help dig into to investigate, I can try to help.

[2017-09-12 22:15] davkean commented on #2558
@tmeschter Hmm, not sure about FileCount, maybe because this thing isn't marked with the file tree flags?

[2017-09-12 22:34] tmeschter commented on #2558
@davkean Yeah, that's what it turns out to be: we're not marking anything under Dependencies with `ProjectTreeFlags.Common.FileOnDisk`.

[2017-09-12 22:49] basoundr commented on #2816
Opened a [bug in VSO](https://devdiv.visualstudio.com/DevDiv/_workitems?id=493875) to track this issue. Hence closing this issue.

[2017-09-12 22:49] #2816 closed

[2017-09-12 23:23] davkean commented on #391
@tannergooding Help me understand this - I thought your support added this.

[2017-09-12 23:24] davkean commented on #1224
@tannergooding I had a idea on how to enable this without any changes from CPS - if it's a file item marked bubble up, it should float to the exact location we want it.

[2017-09-12 23:49] tannergooding commented on #1224
@davkean, that is currently blocked by https://github.com/dotnet/project-system/issues/391, which causes bubble sorted items to still be sorted alphabetically.

[2017-09-12 23:51] tannergooding commented on #391
@davkean, I did. But it is not useable as a general feature and is estimated to have terrible performance outside of F# (where a large project is apparently 20 files, @KevinRansom?).

For DisplayOrder to be used more generally, it requires a massive refactoring in CPS (or at least that was my understanding after the last couple meetings with them).

[2017-09-12 23:58] davkean commented on #1224
Been a while since I looked at this, but I think "file" bubble up items are sorted separately to "folder" bubble up items. In fact, my prototype images seem to show that: https://github.com/dotnet/project-system/issues/107#issuecomment-220790116.