[2018-01-24 19:35] abpiskunov commented on #2763
To simplify your investigation maybe we need to help you set up our enlistment so you could build solution your self?

[2018-01-24 20:07] JeLittl commented on #3124
This solved the problem for me [https://stackoverflow.com/questions/47843907/nuget-package-install-error-invalid-uri-the-authority-host-could-not-be-pars](url)

I manually modified my sln file, changed the second parameter of the Project to "."  It is not a great solution but it did allow me to update my NuGet packages in VS 2017.

[2018-01-24 20:37] ricktnal commented on #3124
@JeLittl That also worked for me, thanks!

[2018-01-24 21:24] MV10 commented on #3180
I wouldn't have thought this fell under "project system" ... is this a more general-purpose VS issue area?

[2018-01-24 22:36] natidea commented on #3126
Confirmed this no longer repros after applying race condition fix: https://github.com/dotnet/project-system/pull/3167

[2018-01-24 22:36] #3126 closed

[2018-01-24 22:49] natidea commented on #2684
It does appear to be fixed by https://github.com/dotnet/project-system/pull/3167 . Please reopen if it recurs

[2018-01-24 22:49] #2684 closed

[2018-01-24 22:54] natidea commented on #2685
Likely fixed by https://github.com/dotnet/project-system/pull/3167 . Please reopen if it recurs

[2018-01-24 22:54] #2685 closed

[2018-01-24 23:42] 4creators opened #3181 "VS 15.5.4 does not add explicitly code file created with new item command when EnableDefaultCompileItems is set to false"
One of the configuration options for new format project files allows to switch off default globbing patterns used for including compile items into csproj. When `EnableDefaultCompileItems` is set to false it is impossible to add new code file to project when using `Add New Item` command. Code file is created in the project directory be it Interface or Class but it is not added explicitly as `<Compi

[2018-01-25 00:17] natidea opened #3182 "Multi-TFM: TargetFramework changes are not reflected in Nominate Data Flow"
**Repro Steps:**
- Open Visual Studio with Logging (set PROJECTSYSTEM_PROJECTOUTPUTPANEENABLED=1)
- Create Multi-TFM Console App
[code]
- Change Target Framework net461 -> net45

**Actual:**
Target Framework in nominate dataflow is not updated, resulting in a variety of problems (e.g. project.assets.json is not updated, Dependency node is unresolved). Observe incongruence with `OriginalTargetFrame

[2018-01-25 00:24] Pilchie commented on #3180
This repo is where the code for the [package tab](https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.Editors/PropPages/PackagePropPage.vb) lives...

[2018-01-25 00:27] natidea commented on #3182
This does not repro in 15.5 so likely a regression. Perhaps ActiveConfigurationChanged event is not triggering all the necessary dataflow updates for nominate restore.

[2018-01-25 03:04] Xiu-Li opened #3183 "In "Application" tab of project properties page, the "Target framework" is empty, not ".NET Core 2.1"."
## **Description:**
Create a new .net core project, open project properties page, for "Application" tab, the "Target framework" is empty,  there is no ".NET Core 2.1".
![image](https://user-images.githubusercontent.com/24784908/35368211-21be059a-01bd-11e8-8b78-d3480cafd38f.png)
## **Test Environment:**
d15svc/27130.2024 (15.5.4) + master/SDK 2.1.300-preview2-008017:
(Add dotnet-core package source

[2018-01-25 04:49] xen2 commented on #3157
Perfect, thanks for the explanation!
For future readers, it seems to be `UpToDateCheckBuilt` (not Build).

I hope Original can contain multiple items for a single output, will give it a try.

[2018-01-25 04:50] xen2 commented on #3157
@panopticoncentral Thanks!
Quick question, can it support multiple sources, such as:
`<UpToDateCheckBuild Include="a.exe" Original="a.c;b.c" />` ?

[2018-01-25 06:09] Xiu-Li opened #3184 "Create a new .net core/standard project, the dependencies node occurs warning sign."
## **Description:**
Create a new .net core/standard project, restore, build and run succeeded.
The Output window shows restore finished, no any warnings.
(I try a restore in the command line, restore completed, no any warnings.)
But the dependencies node occurs warning sign.
![image](https://user-images.githubusercontent.com/24784908/35373317-f05e29fa-01d8-11e8-9140-c808daef9225.png)
Solution: Clo

[2018-01-25 07:18] jainaashish commented on #3124
Reopened NuGet issue# https://github.com/NuGet/Home/issues/6352

[2018-01-25 14:51] rainersigwald opened #3186 "SubType Designer is randomly added in csproj files"
_From @EnCey on January 18, 2018 15:31_

### Steps to reproduce

Edit a `csproj` file and save it. A `Subtype` tag with `Designer` as content is randomly added.

[code]

Here is a [Microsoft Connect issue](https://connect.microsoft.com/VisualStudio/feedback/details/783081/vs-needlessly-adds-subtype-designer-to-my-xml-documents) that describes this exact problem.

Here is a nearly a [decade old Sta

[2018-01-25 14:51] rainersigwald commented on #3186
_From @KirillOsenkov on January 25, 2018 4:55_

I wonder if it's MSBuild or it should go to https://github.com/dotnet/project-system.

cc @pilchie

[2018-01-25 14:51] rainersigwald commented on #3186
_From @KirillOsenkov on January 25, 2018 4:56_

P.S. Let's fix this, this has annoyed me for years.

[2018-01-25 14:51] rainersigwald commented on #3186
The only place I can see where we'd add this is in the pre-MSBuild-to-msbuild converter code, which should never be called:

https://github.com/Microsoft/msbuild/blob/419c6d8e55c9c8181da2ce8d0ef6f951fdfe08a3/src/Deprecated/Conversion/ProjectFileConverter.cs#L576-L578

I think this is a project system bug.

[2018-01-25 15:52] loop-evgeny opened #3187 "build.cmd fails with spaces in the path"
```C:\W ork\project-system>build.cmd```

[2018-01-25 15:55] loop-evgeny opened #3188 "Unable to find roslyntools.modifyvsixmanifest when building from VS"
After a fresh checkout I opened ProjectSystem.sln in VS 15.5.4 and tried to build the solution. 13 projects (e.g. Microsoft.NetCore.FSharp.ProjectTemplates.Test) failed with errors like this:

Indeed, the directory "C:\Users\loop-evgeny .nuget\packages\roslyntools.repotoolset" does not exist.

[2018-01-25 16:17] loop-evgeny commented on #3188
After running `build.cmd` all projects build successfully (but that has its own issue - #3187).

[2018-01-25 16:35] loop-evgeny opened #3189 "MissingMethodException: Microsoft.VisualStudio.ProjectSystem.ProjectItemIdentity.get_LinkPath"
After building the latest code on master and running it I tried to open a solution containing C# and F# projects in the "experimental" VS instance. An unhandled exception occurred while loading an F# project:

[code]

[2018-01-25 17:21] Danielku15 commented on #1125
I also just stumbled over this problem, but in my scenario I have unit tests which I'd like to debug. I wrote a new managed c++ wrapper for one of our native components and wanted to start testing, but the lack of this setting is not really a hurdle for me know.

My unit test project is a new-style-csproj (with MSTest NuGets) and I tried to launch my unit test DLL with the vstest.console.exe as st

[2018-01-25 18:07] panopticoncentral commented on #3157
I didn't add that because I didn't need it, but if you want to file an issue, we can look at it...

[2018-01-25 19:10] glennawatson commented on #1467
We been trying a lot of different solutions but we been having issues using the WPF with the CI engine for the first build. Eg we get a lot of errors where it mentioned it can't find the .g.cs files, then subsequent builds it works. It seems like the xaml parsing happens after the build stage or something? Eg we get errors like:

[code]

[2018-01-25 20:56] onovotny commented on #1467
The MSBuild.Sdk.Extras supports this now with changes based on @sharwell's work

[2018-01-25 21:40] ChrisMaddock commented on #3159
Is this a bug? I've always thought this was intentional - to make it easier to add a copyright name.

e.g. `Copyright__2018` -> `Copyright_ChrisMaddock_2018`

[2018-01-26 00:00] jviau commented on #3155
The issue is that [ProjectItemsSchema.xaml](https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/ProjectItemsSchema.xaml#L64) does not have the metadata @aienabled listed above.

[2018-01-26 03:25] aienabled commented on #3155
@jviau, the problem is not only with the particular XAML rule from ProjectItemsSchema.xaml - we've created a custom XAML rule to use `DependentExtensions` metadata in our custom project system (as @adrianvmsft recommended). It was working fine until VS 15.5. Now `DependentExtensions` doesn't have any effect. So I've created this issue to report that `DependentExtensions` feature is broken now.

[2018-01-26 08:11] shinkarmv commented on #3171
Hi @Pilchie ,

I did some analysis on the aforementioned issue and finally got the Project Template for WEB API for C# .net core app.

Repository - https://github.com/aspnet/templating

Template link - https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/WebApi-CSharp/appsettings.json

I have validated appsettings,json file and got some BOM characters at

[2018-01-26 17:41] wjfamilia commented on #3003
Following your other [#256 thread](https://github.com/dotnet/project-system/issues/256) I was able to get the Class Designer working in my .NET Core 2.0 solution by modifying the Microsoft.CSharp.DesignTime.targets file as suggested, but the "Show as Collection Association" is a vital feature to create a clean class diagram. I hope a fix can be found and I appreciate the effort so far.

[2018-01-26 18:49] jviau commented on #3155
Also, it looks like .netcore projects don't have the `DynamicDependentFile` capability by default.

@aienabled, I'll continue to help you with your issue on the other github issue.

[2018-01-26 21:00] CyrusNajmabadi opened #3191 "Error while build roslyn."
Got this immediately after updating my VS to 15.6 preview 3.

[code]

[code]

[2018-01-26 21:08] natidea commented on #3191
Appears to be a CPS issue. Related bugs:
https://github.com/dotnet/project-system/issues/3161
https://github.com/dotnet/project-system/issues/3056
CPS is tracking https://devdiv.visualstudio.com/DevDiv/_workitems/edit/531370
/cc @jviau @adrianvmsft

[2018-01-26 21:08] #3191 closed

[2018-01-26 23:38] OmegaPrimeZ3 commented on #2733
So the IDE is not updating the greying out visually when changing build configs. My question is whether it is getting respected during compile time. Is this a visual only issue or visual and it will not correctly compile?

[2018-01-26 23:53] natidea commented on #3182
/cc @lifengl
This appears to be connected to the move to `IActiveConfigurationGroupService`.

After changing the `TargetFrameworks` property, I've seen at least one case in a debugger where our implementation of `IProjectConfigurationDimensionsProvider.GetProjectConfigurationDimensionsAsync()` returns the old value from the project file, after reading the evaluated property value [here](https://gi

[2018-01-27 00:05] natidea commented on #3182
Curiously after change the TargetFrameworks twice, (e.g. net461 -> net46 -> net45), the dataflow still returns net461

[2018-01-27 01:26] jmarolf commented on #2733
@OmegaPrimeZ3 the option will be respected at compile time.  This is about passing all the correct data through to the IDE so that it is updated.

[2018-01-27 02:06] Latency commented on #1569
@jmarolf  this does not work!  MS just put out a new version of the IDE 15.5.5 this week and it is still broken for $(ProjectDir) & $(TargetDir).   The UI macros show the correct paths being resolved within the editor only.  Building the project does not properly resolve them still

**My pre-build event line is as follows:**
"$(ProjectDir)PreBuildEvent.bat" "$(ProjectDir)..\" "$(ProjectDir)" "$(Ta

[2018-01-27 10:33] bdovaz commented on #1467
@onovotny what do we need to do in our csproj files to get it working with WPF projects? Is there any official docs on this? I only want to use new csproj format with WPF projects.

[2018-01-27 11:54] aienabled commented on #1467
@bdovaz, a few months ago I've made this repository https://github.com/aienabled/WpfNewProjectSystemSample I just updated it to support latest version of VS2017 and include my latest workarounds. Maybe it will be helpful for you.

[2018-01-27 12:41] phatcher commented on #747
@nguerrera I still have an issue with multi-targeting net2.0 and netstandard1.3 - the code generated for one framework is incompatible with another.

I can work around it by introducing a couple of shims, one for the extension attribute the other to return Type under net2.0/net3,5 but I think the resource generator should be emitting conditional code

[2018-01-27 13:37] onovotny commented on #1467
@aienabled there's a bit more to it than that, unfortunately. You have to deal with the `tmp_proj` 2-pass of WPF.

Using MSBuild.Sdk..Extras, I have an example here:

https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/master/PackageExplorer/NuGetPackageExplorer.csproj

Note the workarounds currently needed at the top/bottom of the csproj.

[2018-01-27 16:23] bdovaz commented on #1467
We need an official response on this otherwise we will be really lost...

[2018-01-27 16:33] onovotny commented on #1467
@bdovaz at this point, I think what I have in my Extras is as good as it gets. Official word is that it's not supported in VS 2017 and it's on the roadmap for the next release: https://github.com/dotnet/project-system/blob/master/docs/repo/roadmap.md

If you don't want to wait, as I don't, then everything is on a best-effort "we'll try to find workarounds" basis.

[2018-01-27 16:41] tannergooding commented on #1467
@bdovaz, the workarounds @onovotny has looks correct.

Any project containing XAML files (with the appropriate `ItemGroup`) will undergo a two-pass compilation.

Said two pass compilation ends up creating a <random-name>.tmp_proj file that lives next to the origin project file, is compiled, and then the tmp_proj file is deleted.

The primary issue with this approach is that anything that relies on

[2018-01-27 16:44] tannergooding commented on #1467
I believe there has been some investigation into resolving the issues, but they are non-trivial.

The XAML props/targets actually exist as part of the Desktop framework and are therefore part of Windows(`C:\Windows\Microsoft.NET\Framework\v4.0.30319\Microsoft.Xaml.targets`, for example). This makes the barrier to fixing the issue at the source already much higher (it requires updating "core" syste

[2018-01-27 16:56] hvaughan3 commented on #2733
For us the options are not respected at run time.

On Fri, Jan 26, 2018 at 7:26 PM, Jonathon Marolf <notifications@github.com>
wrote:

[2018-01-27 17:01] MihaMarkic commented on #2733
@hvaughan3 Are you sure? That'd be really terrible.

[2018-01-27 17:02] hvaughan3 commented on #2733
The custom ones definitely were not for us. I will double check with the latest version.

[2018-01-27 17:06] OmegaPrimeZ3 commented on #2733
This is a far greater issue that should be addressed if it is not respected and compile time, that can drastically effect CI/CD along with configuration based settings for testing.

[2018-01-27 17:37] jmarolf commented on #1569
@Latency what does your project file look like? This works on Visual Studio 15.5 with this project file:
[code]

I don't actually have a `PreBuildEvent.bat` file but all the paths in the output are correct.
[code]

[2018-01-28 16:48] Genbox opened #3192 "Visual Studio 2017: "Needs migration" message when using import project"
I have an issue where .NET Core 2.0 projects every now and then says "needs migration" in Visual Studio 2017 (15.5.5)

![image](https://user-images.githubusercontent.com/657616/35484563-e3c9de66-0451-11e8-87be-07b92f74a933.png)

The solution has over 30 projects and they are all inheriting global project settings. Here is the Contracts.csproj file:

[code]
and the LibraryImport.xml file:
[code]

N

[2018-01-28 17:18] Latency commented on #1569
@jmarolf the 'PreBuildEvent.bat' is specific to the project.   You can replace that with whatever your actual event will contain.

For my example, I have an existing project located [here](https://github.com/Latency/Hearthstone-Deck-Tracker/blob/master/Hearthstone%20Deck%20Tracker/Hearthstone%20Deck%20Tracker.csproj) that uses this.   I managed to finally get the build configurations to work after

[2018-01-29 06:54] BrunoJuchli commented on #1467
@tannergooding We've been working on our WPF Application for several years and are still creating new ones. We (can't speak for others...) would prefer, by far, a breaking change than not having CPS support. A breaking change we can deal with. We notice it, we learn about it, we apply the changes and we move on.
The split between CPS and old style projects has already created issues for us several

[2018-01-29 09:45] isharehappycode commented on #2684
I can reproduce this issue
**Environment Details**
Visual Studio Enterprise 2017
.NET Core Version: 2.0.5

**Steps**

- Create class library by running the command
   dotnet new classlib
- Open the generated project in Visual Studio
   Add **xunit**, **xunit.runner.visualstudio** and **Microsoft.NET.Test.Sdk** from nuget package

Warning will appear as shown below!

<img width="147" alt="warningvs

[2018-01-29 10:34] gulbanana commented on #1467
I'm in exactly the same position - tons of old wpf, tons of new asp.net core, we want interoperability and can accept breaking changes to achieve it, whether they require an opt-in or not.

[2018-01-29 11:21] bdominguez commented on #1467
Same here, If we have that breaking changes documented, there is no problem.

[2018-01-29 14:34] gulbanana commented on #1467
bear in mind that for anyone using wpf clickonce, the last couple of .net framework and visual studio releases have already been massively breaking :)

[2018-01-29 17:59] davidmatson opened #3194 "Changing Platform target for one Configuration affects them all"
Repro:

1. Start with the following csproj:
[code]

2. In Project Properties, Build, with Configuration set to Active (Debug) and Platform set to Active (Any CPU), change Platform target to x86 and Save.

Expected:
Only the Debug configuration is x86; the Release configuration is still Any CPU.

Actual:
All configurations are now x86. The project file was edited to say:

[code]

Note that I'm quit

[2018-01-29 19:44] lifengl commented on #2867
I hit it again with the newest 15.6 preview 4 build.  When I open cps.sln, the design time build/reload loop didn't keep going in the entire weekend.  Try to look into it.

[2018-01-29 21:39] jmarolf commented on #3194
The default project file for a .NET Core console app look like this.
[code]

If you change the platform target from the property page you get the following project:
[code]

Only in the case where you've manually added the XML `<PlatformTarget>AnyCPU</PlatformTarget>` do we not add a property group conditioned on the configuration.

@davidmatson  if I'm hearing you correctly you want us to always c

[2018-01-29 21:43] davidmatson commented on #3194
I'm wanting it to "do the right thing" regardless of whether PlatformTarget was previously global or previously conditional. If it was previously global, it should stay global if and only if in the UI it was changed for "All Configurations". If it was previously global and changed for a specific configuration, a new conditional property group should be added to change it only for that configuratio

[2018-01-29 21:47] jmarolf commented on #3194
@davidmatson makes sense. @AngelosP and @Pilchie for triage.

[2018-01-29 22:00] jviau opened #3195 "Error dialog when deleting files from F# projects"
Repro steps: new F# project, delete a file.

Expected: file deleted successfully.

Actual: Error dialog displayed after deleting the file. Call stack for the dialog is as follows:

Microsoft.VisualStudio.ProjectSystem.VS.Implementation.dll!Microsoft.VisualStudio.ProjectSystem.VS.Implementation.Package.ProjectNodeWrapper.TransferItem(string pszMkDocumentOld, string pszMkDocumentNew, Microsoft.Visua

[2018-01-29 22:53] lifengl commented on #2867
Yeah, it was triggered by a different problems.  Basically, if imported NuGet targets/props cause design time build to fail, CPS will produces empty package reference, which will drive ML to remove all NuGet packages.  After that, the DT build passed, and all NuGet packages will be added again, and triggers the next loop.

[2018-01-29 23:41] natidea commented on #2867
This is a scenario we have seen before [here](https://github.com/NuGet/Home/issues/4542#issuecomment-285549085). I tried addressing it with commit https://github.com/natidea/roslyn-project-system/commit/d3f1e62ccdde79004b635434392d39cc7e1ff589 to break the loop when these failures occur, but this resulted in a worse user experience because any bad targets in the pipeline would leave your project i

[2018-01-30 19:29] #1326 closed

[2018-01-30 19:29] #1922 closed

[2018-01-30 20:42] vsfeedback opened #3199 "Packagecreation has no working UI Editor for the Version"
The packageeditor (in my example C# Project) has at the second textbox the field &quot;Packageversion&quot; which sets the XML Value (in the csproj File) of &quot;Version&quot; but the created name of the package has the &quot;PackageVersion&quot; tag, which can only be edited by editing the raw XML from the csproj

_This issue has been moved from https://developercommunity.visualstudio.com/conten

[2018-01-30 21:21] Pilchie commented on #3124
Closing this issue in favor of the NuGet one.

[2018-01-30 21:21] #3124 closed

[2018-01-30 23:29] jcouv opened #3200 "Add C# 7.3 to build settings drop-down"
@jcouv commented on [Wed Nov 01 2017](https://github.com/dotnet/roslyn/issues/22957)

Until we come up with a design where the build settings drop-down is populated by querying Roslyn, we have to add entries with every new LanguageVersion...

Once a project-system branch is available for C# 7.3, we should add the proper entry.
Here's the change we did for C# 7.2: https://github.com/dotnet/project-

[2018-01-30 23:31] jcouv commented on #3200
@davkean Is there an appropriate branch to make this change (for 15.7) now?

I'm hoping this is the last time we do this manually, and we can implement the handshake between project-system and compiler (https://github.com/dotnet/project-system/issues/3121) for 16.0.

[2018-01-30 23:33] jcouv commented on #3121
@Pilchie I see that the issue is currently in Milestone=Unknown.
What is the process to get it scheduled?
I'd hope we could do this for 16.0.

[2018-01-31 01:23] natidea commented on #3184
I've traced the problem to a change in .NET Core 2.1 and a bug in the dependency node. The 2.1 change is the addition of "Version" to the MSBuild properties that flow through our `CollectSDKReferencesDesignTime` task. In 2.0, version is empty:

![image](https://user-images.githubusercontent.com/7732033/35600209-add7de8e-05e1-11e8-8b9b-b2cfdce67198.png)

while in 2.1 version is set:
![image](https:

[2018-01-31 01:48] natidea commented on #3200
@jcouv our 15.7 branch is dev15.7.x

[2018-01-31 10:43] SamuelCox opened #3202 "Project fails to build immediately after creating"
Hi, I've reproduced this on two individual machines. It's quite the bug and rather annoying.
Visual Studio 15.5.5

Repro Steps:
1) Create a folder in file explorer, in our case its a pre-existing git folder with nothing in it.
2) Open Visual Studio and go file -> new project
3) Browse to the previously mentioned folder and select it.
4) Choose an ASP.net core Web Application (Web API).
Visual stud

[2018-01-31 10:43] SamuelCox commented on #3202
Also, the nuget package restore does not change anything

[2018-01-31 14:09] Genbox commented on #3192
I have further investigated the issue and it seems to have nothing to do with a corrupt solution. The FAE04EC0-301F-11D3-BF4B-00C04F79EFBC GUID is actually the "C# project type" and the other is the new .NET Core project type. When using imports that define the TargetFramework, VS2017 does not read the import and therefore add the project as a legacy project type.

See also https://github.com/dotn

[2018-01-31 14:50] jrgcubano commented on #2737
This is happening in general with any designer.cs. The generation does not work either with x.dbml (linq to sql) to x.designer.cs

[2018-01-31 15:35] yhvicey opened #3203 "How to copy a folder to output directory?"
[code]

It didn't work, what's the correct way to copy a folder to output/publish dir?

[2018-01-31 16:44] Pilchie commented on #3121
I'm not planning that far out right now.  We're focused on perf, reliability, and scenario blocking bugs for .NET Core/.NET Standard right now.

[2018-01-31 17:21] SamuelCox commented on #3202
Turns out this was due to having a %20 in the repository name. We didn't want it like that in the first place, so I've just renamed the repo. Not sure if its worth fixing

[2018-01-31 21:17] yesitspeter commented on #3003
I am having this same issue.

[2018-02-01 00:16] TIHan opened #3207 "Newly added F# signature files are not part of compilation by default, ItemType is None."
When adding a new ".fsi", F# signature file", to a F# project, that file will not be part of compilation by default because the item type is None.

**Current**
```<None Include="File1.fsi">```

**What We Expect**
```<Compile Include="File1.fsi">```

[2018-02-01 01:05] lifengl commented on #3039
We are investigating possible work here.  In the old csproj, when DT build is in-proc, there is no way it can happen at the same time as the real build.  The out of proc DT build happened also to be used to resolve some dead locks issues (C++?), when a UI thread blocking call want to retrieve result from a DT build, and the solution build will not finish when a such blocking call is not finished,

[2018-02-01 01:34] Pilchie commented on #3171
This issue was moved to aspnet/templating#276

[2018-02-01 01:34] #3171 closed

[2018-02-01 02:36] shinkarmv commented on #3171
Thank you @Pilchie for moving the issue at appropriate location.

Regards,
Mukesh

[2018-02-01 04:43] Pilchie commented on #3171
No problem!

[2018-02-01 08:07] #3200 closed

[2018-02-01 16:01] deisterhold commented on #2733
I'm having this issue at compile time. The following is set in the conditional compilation symbols:
`RELEASE_PROD;NETSTANDARD2_0;PRODUCTION`

And the following in my class:
`
#if PRODUCTION
        public static readonly string Url = "https://prod.example.com";
#else
#error 'Environment not specified.'
#endif
`

This does NOT compile for me (Syntax highlighting is wrong too).

[2018-02-01 16:23] Pilchie commented on #2733
@deisterhold if this is affecting compilation at compile time, there is something different going on. Can you get us a build log?  The issue with the implicit symbols appearing again in project properties is https://github.com/dotnet/project-system/issues/2720.

[2018-02-01 17:06] Pilchie commented on #3186
Hmm - I know how this process works for `Compile` items, but not for `.config` files.

[2018-02-01 17:09] Pilchie commented on #3189
@jmarolf @natidea @TIHan - I suspect this is because we have a dependency on a newer CPS than was in @loop-evgeny's VS?  Do we know if there is a public VS with a new enough CPS? If so, what is it?

[2018-02-01 17:11] Pilchie commented on #3192
Right - we'll sniff files using the old guid and open them with CPS if they have `TargetFramework` or `TargetFrameworks`, but that's only directly in the file, we don't process it using MSBuild before making that determination.

See also - https://github.com/dotnet/project-system/blob/master/docs/configurations.md and https://github.com/dotnet/project-system/blob/master/docs/opening-with-cps.md

[2018-02-01 17:11] #3192 closed

[2018-02-01 17:12] TIHan commented on #3189
Yes, this is due to a newer version of COS. Updating to preview 15.6 preview 4 should make this work.

[2018-02-01 17:13] Pilchie commented on #3195
Can you take a look? @dpoeschl also has some knowledge on the `SetDocumentContext` stuff.

[2018-02-01 17:14] Pilchie commented on #3202
@jviau - this is a dupe of a CPS bug that is fixed in 15.6, right?

[2018-02-01 17:16] Pilchie commented on #3203
Sounds like a question for the Microsoft/MSBuild repo.  @andygerlicher or @rainersigwald any ideas?

[2018-02-01 17:17] TIHan commented on #3195
I can take deeper look.

[2018-02-01 17:34] rainersigwald commented on #3203
MSBuild doesn't have a built-in concept for this. There are two usual approaches:

* Copy all of the contents of the folder instead
  * This works great as long as the contents of the directory are static. If files are added to the directory during the build, you must use a target to expand the wildcard, or it will copy only the files that were present at the beginning of the build.

[code]

* Use

[2018-02-01 17:44] Pilchie commented on #3189
Does it work with Preview 3?  Preview 4 isn't publicly available yet...

[2018-02-01 19:00] lifengl opened #3210 "Adding a NuGet package causing design time build to fail will cause reloading the project endlessly"
This issue happens after we changed the order of targets to build and move "CompileDesignTime" before other targets (necessary steps to fix the COM reference bug).  Basically, I cannot load cps.sln on a new enlistment, because the Nugetlizer 3000 package causes the design time build to fail, when a referenced project hasn't been built (and produced the referenced assembly).

To fix this issue, CPS

[2018-02-01 19:01] lifengl commented on #3210
I noticed that the old similar issue was reactivated.

[2018-02-01 19:01] #3210 closed

[2018-02-01 19:09] lifengl commented on #2867
Because we need change the order of targets to address the COM reference issue, the chance to run into this bug is higher with existing solutions.  CPS will add a new EvaluationSucceeded state to the rule subscription, so your code can detect whether a specific target has failed to run.

[2018-02-01 19:21] natidea commented on #2867
Having an `EvaluationSucceeded` state from CPS would be helpful. We also either need to have the previous return value of the target so that we nominate NuGet with the old information, or we need to be able to pass the `EvaluationSucceeded` flag to NuGet, so they know that the zero-value we pass when evaluation fails can be ignored
/cc @emgarten

[2018-02-01 19:53] lifengl opened #3211 "Bogus "missing a using directive or an assembly reference" error in .Net Standard project"
Ported from a customer reported bug (550403).

On CPS side, we have done a chance to allow rules to specify the building order of targets.  To fix this issue after taking the CPS change, you just need change the 'CompileDesignTime' rule, and set an Order number (property on the rule), to a value between 1 - 4999. (suggest to set it to 100).  A target specified in a rule with a smaller order number

[2018-02-01 20:36] lifengl commented on #3039
I think we have two problems here.  One is that we don't have infrastructure to block DT build to run at the same time as the real build is running.  This is also needed to be addressed in the DTBB side as well.  On the other side, there is no reason to trigger the design time build in every rebuild.  The problem here is that the project.assert.json watcher triggers the project to dirty twice, and

[2018-02-01 21:23] natidea commented on #3210
Linking to https://github.com/dotnet/project-system/issues/2867

[2018-02-01 21:47] rolandh commented on #2733
I can't believe this still isn't fixed. Is it being actively worked on?

Compilation symbols are some of the most common things that people use every day. I ended up putting real if statements in my programs to get around it. So ugly.

[2018-02-01 21:49] TIHan commented on #3189
Checking versions of CPS, from my understanding, it should be in Preview 3.

[2018-02-01 21:58] lifengl commented on #2867
Yes, when a target is skipped or failed, we will set the new flag to be false, and the result will retain the value from the last successful build, if it exists.  Note: you cannot depend on the old value, because it can fail in the solution loading phase, so no valid value ever exists, so checking the flag is essential.

[2018-02-01 22:03] lifengl commented on #3039
[link to a related fix inside the json file watcher](https://github.com/dotnet/project-system/pull/3177)

[2018-02-01 22:05] lifengl commented on #3211
Changing the order of target increases chances to run into the  [endless reloading bug](https://github.com/dotnet/project-system/issues/2867), which should be fixed first.

[2018-02-02 00:19] willnogueira commented on #2670
It would be great to have this added. The sdk csproj (net461) works after compiling and deploying, but Visual Studio can't parse cshtml files during development as it expects ASP.NET core views.

[2018-02-02 00:38] Pilchie commented on #3028
Pulling into 15.7 to look at for Xamarin forms scenarios.

[2018-02-02 00:50] TIHan commented on #3195
An update on this:

Reproducing is easy, create a new .net standard F# project, then delete Library.fs.

It turns out when you create a new project, it adds two projects. One for your actual .fsproj, and the other for Library.fs; meaning, it thinks Library.fs is a project as well. This only happens when you create a new project. If you reload the project, everything is correct and the error doesn'

[2018-02-02 01:19] TIHan commented on #3195
Looking further, it looks like visualfsharp is at fault here.

In FSharp.Editor project, and in LanguageService.fs, we have a method called "SetupStandAloneFile" and it seems to be creating a project context based on the file, Library.fs. @KevinRansom you know what might be going on here as you may have more context about this?

[2018-02-02 01:21] Pilchie commented on #3195
The idea of that, is that it support the case where you just File->Open a .fs file that isn't part of a project I think.  Not sure what the expected behavior is for the project creation case though.

[2018-02-02 02:06] NickCraver commented on #3182
I just hit this as well doing some open source work, happened after adding `netcoreapp2.0` to a freshly added project. If I can help debug, let me know.

[2018-02-02 03:42] amanbha commented on #2745
Is there a timeline for the fix?

[2018-02-02 14:40] sharwell commented on #2733
:link: Also reported here: https://developercommunity.visualstudio.com/content/problem/178371/gewahle-konfiguration-beeinflusst-intellisense-nic.html

[2018-02-02 15:51] deisterhold commented on #2733
@Pilchie I'll have to work on getting you a build log (Xamarin Headaches), but the weird thing is if I build the project it compiles correctly, but when I compile the solution it doesn't.

[2018-02-02 16:10] Pilchie commented on #3203
Thanks @rainersigwald !

[2018-02-02 16:10] #3203 closed

[2018-02-02 16:11] Pilchie commented on #3188
@tmat - any idea why the NuGet path would be missing a `\` here?

[2018-02-02 17:07] yhvicey commented on #3203
Thank you for pointing the way & answering.

[2018-02-02 17:12] loop-evgeny opened #3216 "CopyIfNewer file created by prebuild step is not copied until subsequent build"
I have a config file in my project (instance.config) that I want copied to the output directory, so it's set to "Copy if newer". This config file is not checked into source control, but there is a file (instance.config.template), which gets copied to instance.config if that doesn't already exist. This all works, but not in the same build: the first build copies instance.config to the source direct

[2018-02-02 18:11] tmat commented on #3188
@loop-evgeny Could you try to open VS Developer Command Prompt and execute `build.cmd /diagnostic` from the repository root? Did it report any errors? If so, could you share files in `artifacts\Debug\log` directory?

[2018-02-02 18:30] Pilchie commented on #3216
Adding @rainersigwald.  This is really an MSBuild question.  I *think* the answer this that you need to put your "Copy" inside a target, because otherwise evaluation happens at the beginning of the build, before the pre-build step, and therefore before the file exists.

[2018-02-02 18:42] TIHan commented on #3195
Here is the fix: https://github.com/Microsoft/visualfsharp/pull/4307

[2018-02-02 19:19] rainersigwald commented on #3216
I'm actually going to move this to the SDK, because it's the implicit `None` item that's causing the confusion.

[2018-02-02 19:19] rainersigwald commented on #3216
This issue was moved to dotnet/sdk#1927

[2018-02-02 21:28] KevinRansom opened #3218 "Opening an F# project containing two items that refer to the same file deadlocks VS"
1. `git clone https://github.com/btrepp/vspreviewcrash`
2. Download https://www.nuget.org/api/v2/package/Paket/5.148.0, rename to zip and open
2. Copy contents of tools folder to vspreviewcrash\dotnet\.paket
3. `cd vspreviewcrash\dotnet`
4. `.paket\paket install`
5. `dotnet restore`
6. `VSPreviewCrash.sln`

Original Issue: __https://github.com/Microsoft/visualfsharp/issues/4300__
I guess this is C

[2018-02-02 22:41] Pilchie commented on #3182
Pulling back to 15.6 as this is a regression we'd like to investigate.

[2018-02-04 02:38] Latency commented on #1467
@sharwell  the last bit in that .csproj file will break loading of the Assemblies.  Doesn't work!
[code]

@everyone as for the expected target for `_CoreCompile_`, I do not think adding the target Imports for old conventions is going to work.  It is very problematic in my other projects (as PoC) and doesn't appear to be correct.

I recommend using a pseudo target to get around the built-in default

[2018-02-04 18:01] sharwell commented on #1467
@Latency Can you be more specific? The code you referenced as broken is currently used in several projects, including Roslyn where I spend the most time. We have observed a few rare edge cases where things don't work right, but generally that appears to be a required inclusion.

[2018-02-04 22:07] jp2masa opened #3219 "Exporting a custom IDebugProfileLaunchTargetsProvider doesn't work"
I tried exporting a custom `IDebugProfileLaunchTargetsProvider`, but when trying to launch the project I get an error dialog with this message (replaced the namespace with `YYY` and the class name with `XXXLaunchTargetsProvider`):

If I understand correctly, I need to export it to the `ConfiguredProject` scope, but if I import either `ConfiguredProject` or `UnconfiguredProject`, I get the error.
I

[2018-02-05 02:13] Latency commented on #1467
@sharwell I managed to get something to work within the past 24 hrs.. but it does not contain that target rule like mentioned in my previous thread.   That target breaks my project.

Here is what I have:

[code]

The `<LanguageTargets ...>` seems to be a key component to getting this to work, along with using the appropriate assemblies to be included for XAML.

[2018-02-05 06:51] kzu commented on #2491
Is there an update on when the "Microsoft.PackageDependency.Sdk` will ship @natidea?

I'm on 15.6 Preview 3 but it's not there yet :(

[2018-02-05 08:33] DNF-SaS commented on #1467
Could you replace your `<LanguageTargets ...>` with     `<LanguageTargets>$(MSBuildExtensionsPath)\$(VisualStudioVersion)\Bin\Microsoft.CSharp.targets</LanguageTargets>`
It makes it compile on my machine, maybe it helps you, too.

[2018-02-05 08:45] PDostalek opened #3222 "[loc][Query]Please clarify meaning\localizability of string "Up-to-date check built artifact""
Hi, we have a question from a translator. Could you help please?

Source:
Up-to-date check built artifact

File:
project-system/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/UpToDateCheckBuilt.xaml

Query from translators:
--
Please provide furher reference in orther to handle this string properly. Is "up-to-date" a verb?

[2018-02-05 08:47] PDostalek commented on #3222
Hi, @tmeschter could you please take a look on this vendor bug ? Thanks.

[2018-02-05 13:09] sharwell commented on #1467
@DNF-SaS Interesting, I missed that difference. I use the same form you did:
https://github.com/sharwell/ILSpy/blob/88616e828f7721fa793b3a551667984dceda5bcb/ILSpy/ILSpy.csproj#L37-L40

[2018-02-05 13:22] onovotny commented on #1467
@Latency I would strongly suggest you use my MSBuild.Sdk.Extras package instead of adding that code to your own project. I have the WPF workarounds/"stuff" in there based on @sharwell and others' work. If there's other issues/enhancements, I'm happy to take PR's to fix.

My objective with that package is to fill the box and make it clean/simple to use with SDK style projects until there's direct s

[2018-02-05 13:24] onovotny commented on #1467
@sharwell I'll give you the same advice too for ILSpy ;)

[2018-02-05 16:18] Pilchie commented on #3222
@panopticoncentral can you clarify this please?

[2018-02-05 16:41] #3216 closed

[2018-02-05 16:42] Pilchie commented on #3218
From the F# issue:

[code]

[2018-02-05 16:44] Pilchie commented on #3219
@BillHiebert @jviau Either of you have any ideas here?

[2018-02-05 16:48] panopticoncentral commented on #3222
I don't believe this string will ever show up in the UI. The context is: when building a project, we first check to see if the outputs are up to date in respect to the inputs of the project. If the project is up to date, then we don't need to rebuild it. When we are checking if a project is up to date, we need to identify the outputs of the project. We use an item type called UpToDateBuilt, and th

[2018-02-05 16:48] #3222 closed

[2018-02-05 19:43] jviau commented on #3202
Yes it is, https://devdiv.visualstudio.com/DevDiv/VS%20IDE%20CPS/_queries/edit/534404

[2018-02-05 20:36] natidea commented on #3202
This is being tracked on Developer Community as https://developercommunity.visualstudio.com/content/problem/160750/nuget-bug-in-vs155.html
Fix will be in the next release of Visual Studio

[2018-02-05 20:36] #3202 closed

[2018-02-06 01:05] natidea commented on #3183
Some history:
- Hardcoded list was added here: https://github.com/dotnet/project-system/pull/744
- Then it was removed in favor of dynamic population in https://github.com/dotnet/project-system/pull/2097 . Dynamic population is based on `SupportedTargetFrameworks`

[2018-02-06 01:09] natidea commented on #3183
`SupportedTargetFrameworks` appears to be set in: [Microsoft.NET.SupportedTargetFrameworks.props](https://github.com/dotnet/sdk/blob/8fb4e45e2997e55ca0ef8b45cfe830ce2b85a2ca/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.SupportedTargetFrameworks.props)
/cc @livarcocc looks like this needs to be fixed in the SDK

[2018-02-06 01:27] livarcocc commented on #3183
Can you make a PR?

[2018-02-06 01:28] natidea commented on #3183
@livarcocc sure, I'll test it locally first

[2018-02-06 02:29] natidea commented on #3182
CPS confirmed this is a missing feature of the new `IActiveConfigurationGroupService`
I've filed [562913](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/562913) to track this. Feature work is not planned until 15.7

[2018-02-06 02:39] NickCraver commented on #3182
Are we saying this is broken until 15.7? We're supposed to close and restart Visual Studio every time we change TFMs on a project?

That's one hell of a regression, please tell me the regression isn't actually going to ship with 15.6...

[2018-02-06 02:43] onovotny commented on #3182
@natidea This is a really bad regression, IMO. I don't think this can wait for 15.7.

[2018-02-06 02:55] NickCraver commented on #3182
I think it'd help to describe what developers actually see here:

I have hit this personally 4 times in the past 3 days across multiple solutions. The result of this bug is what appears to be random build errors. Mine manifested as runtime type identifiers not declared for a framework I wasn't even targeting, packages that didn't restore (e.g. `netstandard2.0` packages not restoring to `net451` I

[2018-02-06 05:10] natidea commented on #3182
@NickCraver are these errors occurring because of changes to target frameworks or some other related scenario?

/cc @lifengl @Pilchie to consider pulling back to 15.6

From Project System perspective, our only recourse may be to roll back `IActiveConfigurationGroupService` (PR https://github.com/dotnet/project-system/pull/3093) /cc @davkean  on that.

[2018-02-06 09:20] loop-evgeny commented on #3188
The only error I got in the command prompt window was this:
[code]

Here are the logs anyway: [log.zip](https://github.com/dotnet/project-system/files/1698424/log.zip)

Anyway, build.cmd worked for me the first time, it's only the VS build (before build.cmd) that failed.

[2018-02-06 11:51] NickCraver commented on #3182
@natidea all my issues were changing target frameworks - things just go nuts until you restart VS. After that, everything is okay, but that's not my first instinct (nor should it be). The assumption that the compiler is always right is baked into developers, they're going to eat a lot of collective time on this one and then just be justifiably angry that they did afterwards :-/

[2018-02-06 16:25] lifengl commented on #3182
Ok, if it causes serious user experience regression, we will take a look in 15.6

Sent from my phone

On Feb 6, 2018, at 3:51 AM, Nick Craver <notifications@github.com<mailto:notifications@github.com>> wrote:

@natidea<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnatidea&data=02%7C01%7C%7C6904ae96c5494a1e9e4508d56d57ec4c%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%

[2018-02-06 16:36] onovotny commented on #3182
Thanks @lifengl I agree with @NickCraver and believe it will.

[2018-02-06 17:27] tmat commented on #3188
@loop-evgeny Does it work now? Do you have automatic NuGet package restore enabled in VS?

![image](https://user-images.githubusercontent.com/41759/35873892-f43474da-0b1f-11e8-8841-111c7446d817.png)

[2018-02-06 17:27] #3188 closed

[2018-02-06 17:35] loop-evgeny commented on #3188
It works now, yes - even after a "git clean -d -x -f". I don't know why. Yes, I have those 2 checkboxes checked.

[2018-02-06 17:59] tmat commented on #3188
The packages are restored to your profile directory: `C:\Users\loop-evgeny.nuget\packages`
If you want to experiment you can delete that directory and see if it works. Note that after opening the solution you need to give it a bit of time to restore everything.

[2018-02-06 18:13] Pilchie commented on #3182
Updating milestone to match.  @lifengl let @natidea and I know if there is anything we can do to help here...

[2018-02-06 18:37] TIHan commented on #2887
Now this is resolved. :)

We still have more work to do with folders and paste/drop, but we will create separate issues for them.

[2018-02-06 18:37] #2887 closed

[2018-02-06 19:32] Pilchie commented on #3072
Moving the remaining work here to 15.7.  @TIHan - can you update with what is currently implemented for 15.6?

[2018-02-06 19:42] TIHan commented on #3072
Yup, sounds good.

[2018-02-06 20:40] TIHan commented on #3072
Ok, I updated the list.

[2018-02-06 20:54] BillHiebert commented on #3219
@jp2masa - can you check the ComponentModelCache's error file? It is located in %LOCALAPPDATA%\Microsoft\VisualStudio\15.0_<instanceid>\ComponentModelCache\Microsoft.VisualStudio.Default.err. Is your part listed there?

[2018-02-06 21:07] jp2masa commented on #3219
I had already checked that, although I forgot to add that information to the issue description. The part isn't listed there.

[2018-02-07 00:00] vsfeedback opened #3225 "Intellisense in ASP.NET Core .csproj file"
I have a ASP.NET Core 2.0 (dotnet version 2.1.4) project. I'm editing the .csproj file to add a new ItemGroup in order to bring in DotNetCliToolReference. When I type &lt;ItemGroup I get an autocompletion window and pressing tab successfuly fires of the snippet to give me opening and closing tags for this section.

Inside of ItemGroup, when I start to type &lt;Dot there is no statement completion

[2018-02-07 00:52] Latency commented on #1467
@onovotny I will be happy to give that a try.   To be clear, I am removing the entire <ItemGroup> section and the <LanguageTargets> line also as shown in my snip-it with this?   It appears to be working, but my project is broke down at the moment.  I will assume I am golden!  Thanks.

**Q:**  Is the Workaround .nupkg of yours deprecated and been replaced now with the Extensions one?

[2018-02-07 03:48] Jamaxack commented on #62
@srivatsn, I'm using VS 15.5.5 by default "Don't call MSBuild if a project appears to be up to date" is true, but still my NetStandard2.0 projects are rebuilding on running unit test, even after rebuilding all projects in solution. Here is the output:
1>FastUpToDate: Project information is older than current project version, skipping check. (X)
1>------ Build started: Project: X, Configuration: De

[2018-02-07 03:57] Pilchie commented on #62
Also tagging @panopticoncentral who as been looking at Fast up to date check stuff.  Also - is this a dupe of https://github.com/dotnet/project-system/issues/2763?

[2018-02-07 04:08] Jamaxack commented on #62
@Pilchie You are right. It seems like this issue and #2763 is the same, so #2763 issue is closed and this bug is also marked as completed so what is the next steps? should I make small project and provide to here or it is already know issue and you can reproduce it yourself?

Thanks,

[2018-02-07 04:35] Pilchie commented on #62
#2763 is NOT marked as closed.

[2018-02-07 04:38] Jamaxack commented on #2763
We are also facing the same issue in WPF project.  Using VS 15.5.5 by default "Don't call MSBuild if a project appears to be up to date" is true, but still my NetStandard2.0 projects are rebuilding on running unit test, even after rebuilding all projects in solution. Here is the output:
1>FastUpToDate: Project information is older than current project version, skipping check. (X)
1>------ Build st

[2018-02-07 06:32] Xiu-Li commented on #3184
Verified this:
**Not Repro** on D15.6/27402.02 (15.6 Preview 4) + [release/2.1](https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1) 2.1.300-**preview1**-008019
**Not Repro** on D15.6/27402.02 (15.6 Preview 4) + [master](https://github.com/dotnet/cli/tree/master) 2.1.300-**preview2**-008044
**Not Repro** on D15.6/27405.00 (15.6 Preview 4) + [master ](https://gi

[2018-02-07 10:12] MV10 commented on #2177
[This](https://developercommunity.visualstudio.com/content/problem/192800/build-output-path-appends-extra-target-folder.html
) bug report was closed as a duplicate of this issue. It sounds _related_, I'm not sure it's actually a duplicate, so I'll go ahead and re-post the scenario here.

Basically the target folder is appended a second time.

Began with output path for all build-configs (probably

[2018-02-07 16:03] Pilchie commented on #3163
@BillHiebert - ping on this.  Do you know where this should live?

[2018-02-07 16:06] Pilchie commented on #3225
There are two sub-issues here:

1. Several reports of our existing, very basic support not working.
2. A desire to integrate better support, for example by bundling the [Project File Tools](https://marketplace.visualstudio.com/items?itemName=ms-madsk.ProjectFileTools) extension as part of VS.

[2018-02-07 16:37] Pilchie commented on #3117
I think @cdmihai is currently looking at the Build Stack issue, and I see that  Bug 550075 was fixed by @jviau, so I *think* this is okay to close now?

[2018-02-07 16:45] natidea commented on #3184
Fixed with https://github.com/dotnet/project-system/pull/3205

[2018-02-07 16:45] #3184 closed

[2018-02-07 21:32] hrichardlee commented on #86
Not sure if this is the right place, but I wanted to ask whether ClickOnce is supported in any capacity right now with the new project system. We just tried to upgrade and this one was the showstopper. I'm sure it's tough to comment, but if there's any guidance you can give on whether this is planned to be supported or if there's a different technology that's recommended, that would be awesome.

T

[2018-02-08 01:43] lifengl commented on #3182
Is this scenario ever worked?  I looked into it, and think this is a large feature area which have never been designed or done in the product.  We can chained the dataflow to publish TPM changes, which may work if you happened to rename the second or third TPM, but what about the first one.  What if you suddenly remove debug/release configuration completely and replace with something else? The VS

[2018-02-08 02:27] natidea commented on #3182
Prior to 15.6 we set this up to work specifically for changes to TargetFrameworks by setting up a brand new subscription each time: [NuGetRestorer.cs#L87-L90](https://github.com/davkean/project-system/blob/d7db794c1772bf691b0ec50f7fe12c785c2056e6/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/NuGet/NuGetRestorer.cs#L87-L90). So it probably didn't work well for other configura

[2018-02-08 09:50] pepone opened #3229 "AddItem freeze when call from OnAfterRenameFiles"
Hi,

I trying to add a file from my vs extension that implements [IVsTrackProjectDocuments2.OnAfterRenameFiles][1]

For that I call [AddFromFile][2]

[code]

But that results in a deadlock , it works fine with the old C# project system and with C++ project system but seems to be a problem with .NET Core project system.

Here is a stack trace of the thread that calls AddFromFile

[code]

[1]: https

[2018-02-08 11:24] pepone opened #3230 "Default included items not sync after file is removed"
I have this code to remove a item from a project

[code]

Here the `GetProjectItem` is still returning an non null item, for a item that was default included and that the underlying file has been deleted.

As a result the call to `item.Remove` adds a `<Compile Remove="xxx.cs"/>` that shouldn't  be required when the file has already been removed.

[2018-02-08 16:17] Pilchie commented on #3230
This happens because the project tree is updated asynchronously, and a new tree is published at some point later after re-acting to the file deletion.  @natidea @lifengl @davkean - any idea on how an extender could wait to observe the changes in an example like this?

[2018-02-09 01:29] lifengl commented on #3211
Link to the issue #2521:
Note: CompileDesignTime is not registered later, and causes an extra DT build.  When you move the order number to move it ahead of other targets.  Our logic will think the other targets have been built earlier, so a hard reset to the DTBB service is required, which will throw away the cache for the entire solution.  In a large solution, it will cause hard reset for every p

[2018-02-09 08:50] reaction1989 opened #3232 "Linked Views not working in WebApplication"
Hello,

i am trying to share the _Layout.cshtml over multiple projects. I created links in each project, but the application won't run.

I am getting this exception:

[code]
While googling i found this old entry on stackoverflow
https://stackoverflow.com/questions/24075105/can-i-use-views-in-folders-linked-from-other-projects

[2018-02-09 09:45] J4MESD opened #3233 "Adding COM reference in csproj breaks other references and intellisense"
Hi,

I have found an issue where by if I add a reference to a COM library in a ASP.NET Core WebAPI project targeting the .NET framework it has the side effect of breaking Intellisense and raising false errors in the Error list window. Mainly that it can't find namespaces and symbols referenced in the non-COM project references. Everything still compiles and works, but it just makes code refactorin

[2018-02-09 10:30] Xiu-Li commented on #3183
Verified on **d15.6/27408.00 (15.6 Preview 5)** + [release/2.1](https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1) **2.1.300-preview1-008117** --> **Not Repro**

[2018-02-09 11:18] dlpopescumtk commented on #2885
Any updates on this? I have the same message when trying to set the custom tool to _PublicResXFileCodeGenerator_

[2018-02-09 15:32] lifengl commented on #3230
There is no reason to write code like this.  ProjectItem.Remove will take care of globbing scenario, and work with source control better.

When you delete files directly, the project system only detects changes through file system watcher.  You cannot control when it happens.  You need either tell the project system what happens through more advanced API for every change, or refresh the tree and w

[2018-02-09 15:44] pepone commented on #3230
That is not what I seeing in my case, my first code was just

[code]

With a item originating in a glob, I see .the project ends up with <Compile Remove="XXX.cs"/> and the file is left in the tree

[2018-02-09 16:07] lifengl commented on #3230
That might be a bug, or the item can be picked up by multiple globbings.  Remove doesn’t delete a file, you might want to call Delete instead.

Sent from my phone

On Feb 9, 2018, at 7:44 AM, Jose <notifications@github.com<mailto:notifications@github.com>> wrote:

That is not what I seeing in my case, my first code was just

EnvDTE.ProjectItem item = project.GetProjectItem(path);
if (item != null)

[2018-02-09 17:58] natidea commented on #3183
Fixed by https://github.com/dotnet/sdk/pull/1939

[2018-02-09 17:58] #3183 closed

[2018-02-09 18:09] Pilchie commented on #3233
This is https://github.com/Microsoft/msbuild/pull/2592, but the core VS platform pience CPS is also doing a workaround for it.

Tagging @lifengl and @natidea

[2018-02-09 18:10] Pilchie commented on #3232
@DamienEdwards - what's a good home for this issue?

[2018-02-09 18:11] Pilchie commented on #3232
Oops, that's @DamianEdwards...

[2018-02-09 18:17] DamianEdwards commented on #3232
It should go in aspnet/Razor

[2018-02-09 18:52] AngelosP commented on #159
I just wanted to let everyone know that since Visual Studio 2017 15.6 Preview 4 (which was made available a few days ago) users have the ability to control how file nesting works in Solution Explorer.

Check out this blog posts for more details:
https://blogs.msdn.microsoft.com/webdev/2018/02/07/file-nesting-in-solution-explorer/

[2018-02-09 19:13] Pilchie commented on #3232
This issue was moved to aspnet/Razor#2045

[2018-02-09 19:13] #3232 closed

[2018-02-09 20:43] jmarolf opened #3234 "Project system does not respect conditional compile"
1. **Use:** https://github.com/SolutionsDesign/Algorithmia
2. Open the main csproj in vs 2017 15.5 (I used 15.5.5) in xml editor.
3. [This line](https://github.com/SolutionsDesign/Algorithmia/blob/master/SD.Tools.Algorithmia/SD.Tools.Algorithmia.csproj#L21) doesn't do anything

**NOTE:**  intellisense says 'these are your options', but picking 'Exclude' will make the project not loadable, and the

[2018-02-09 21:04] KevinRansom opened #3235 "Dependency Build node does not account for Package References modified by build tasks"
This project:

Incorrectly identifies ValueTuple as a reference that is not resolved.  It is not resolved because it was removed by a build task.

Effectively, the dependency node needs to identify depends following the design time build.

[code]

![image](https://user-images.githubusercontent.com/5175830/36049907-53eb4a9a-0d99-11e8-98e9-1c6280404bf6.png)

[2018-02-09 22:33] jmarolf commented on #3234
**Additional Note:** need to add conditional compilation `#ifdefs` to that file to exclude the code for netstandard and make it compile on netstandard (as it's for .netfull). So it's easy to test the conditional doesn't work.

[2018-02-09 22:36] jmarolf opened #3238 "Inconsistency in XML node names for nuget packages"
[These xml tags](https://github.com/SolutionsDesign/Algorithmia/blob/master/SD.Tools.Algorithmia/SD.Tools.Algorithmia.csproj#L12) don't make sense compared to [Description](https://github.com/SolutionsDesign/BCLExtensions/blob/master/src/BCLExtensions.csproj#L3)
Why is one prefixed with `Package`  while the other isn't?

**NOTE:** The last line gives the warning with `long description, use summary

[2018-02-10 07:08] FransBouma commented on #3238
More clarification:
If you build the BCLExtensions project in vs2017 15.5, you'll get: (release build)
[code]
But it's unclear what 'Summary' is, as 'Summary' isn't a tag shown by intellisense. Adding a Summary tag below description doesn't fail but it's also not a tag that's showing up anywhere: e.g. the 'Package' tab on the csproj project properties in vs 2017 doesn't have a 'Summary' field.

[2018-02-11 19:07] dasMulli opened #3240 "Editing csproj with invalid SDKs results in multiple error dialogs"
Not sure if this is a project system or VS issue.

Steps to reproduce:
* Use VS 15.6 Preview 4
* Open a valid csproj file.
* Add or edit an SDK specification that can't be resolved via NuGet or file system.
* Multiple warning dialogs pop up
* Edit the csproj to be valid again
* Still a few dialogs pop up

Expected:
Warn only once when the project becomes unloadable. Don't warn when it is valid aga

[2018-02-11 21:54] Pilchie commented on #3240
Tagging @jviau and @jeffkl

[2018-02-12 11:32] pepone commented on #3230
Using ProjectItem.Delete solves the problem

[2018-02-12 11:32] #3230 closed

[2018-02-12 16:08] Pilchie commented on #1570
Ping @jviau and @jmarolf - would be nice to get this verified and closed out.

[2018-02-12 16:10] Pilchie commented on #2588
Filed [566362](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/566362) internally to track.

[2018-02-12 16:10] #2588 closed

[2018-02-12 16:11] Pilchie commented on #2763
@panopticoncentral - any ideas from the log above?

[2018-02-12 16:12] Pilchie commented on #2789
Moving to 15.7.  We've made a lot of progress here in 15.6, and more is already underway for 15.7.  However, we also need to take stock and re-evaluate/re-profile to see what the current largest costs are.

[2018-02-12 16:13] Pilchie commented on #2865
Moving to 15.7, as Roslyn has worked around this in their NuGet.config.  However, the NuGet team is still working on improving things here.

[2018-02-12 16:14] #3195 closed

[2018-02-12 16:25] Pilchie commented on #3233
Oh, we've also got the bug here.  Closing as a duplicate of #3211.

[2018-02-12 16:25] #3233 closed

[2018-02-12 18:20] abpiskunov opened #3242 "Support file nesting implemented in for dotnet core web projects"
See this request here: https://github.com/aspnet/websdk/issues/248

Nesting went live in 15.6 Preview 3 and there were requests for other dotnet core projects to support that.

To support nesting, project needs to have following capabilities:

![image](https://user-images.githubusercontent.com/1592091/36112364-441ecdb6-0fde-11e8-99df-acb079bbc646.png)

To add default nesting behavior for your proj

[2018-02-12 18:57] jviau commented on #1570
The scenarios to verify are:

1) Missing import
2) Empty import
3) Invalid import

With each one, test having it be valid and then become invalid and also have it be invalid the first time it appears in the import graph.

I tested these all myself when I recently did the improvements in 15.6, but feel free to verify again.

[2018-02-12 19:19] natidea commented on #2491
@kzu our most recent discussions on this have focused on refactoring these tasks because of performance concerns. The SDK team has already made changes to the command line build to avoid this code path because it was too expensive. For the dependencies tree, we are considering several options including perhaps bypassing MSBuild to improve the performance profile. /cc @nguerrera @livarcocc

I don't

[2018-02-12 23:44] ahmelsayed opened #3245 "Deleting a file doesn't always trigger recompilation on CTRL + F5 in VS for .NETStandard libs"
**Repro steps:**

1. Create a .NETStandard class library
2. right click on the project and change debug to "executable" and put any random exe in there
3. Add Class1 and Class2
4. CTRL + F5 -> builds correctly
5. Delete Class2
6. CTRL + F5 -> "build is up to date"

This affects FunctionApp csproj which are .NETStandard class library projects with a custom executable that is triggered on run that c

[2018-02-12 23:51] Pilchie commented on #3245
@ahmelsayed What version of VS are you seeing this with?

[2018-02-12 23:52] ahmelsayed commented on #3245
VS 15.5.6

This is the full version output of my VS
[code]

[2018-02-13 01:10] etbyrd commented on #3238
This has been fixed and will be in the next release.

An issue about the problem:
https://github.com/NuGet/Home/issues/4587

A note about the "Summary" field being deprecated:
https://github.com/dotnet/project-system/issues/2937#issuecomment-351907557

The error message being removed:
https://github.com/NuGet/NuGet.Client/commit/41e8bde59e9a9e62e71b049ab52a379574d6f3c2

I am closing this issue, bu

[2018-02-13 01:10] #3238 closed

[2018-02-13 01:19] Pilchie commented on #3240
Ping @jviau - is this an expected outcome of the reloading changes you made?  @sharwell also noticed that if he edited a shared .targets file, he would get a dialog per project (152 in the case of Roslyn.sln).

Is this something that should be looked at more in CPS?

[2018-02-13 01:19] Pilchie commented on #3234
@davkean - do you know what the expectation is here?

[2018-02-13 01:30] Pilchie commented on #3182
@lifengl just merged a change here for 15.6 Preview *6*.

Thanks @lifengl

[2018-02-13 01:30] #3182 closed

[2018-02-13 01:32] davkean commented on #3234
@jmarolf Can you expand on what "Project system does not respect conditional compile" means? It's passed the compiler? It shows up in the tree?

I expect it not to be passed to the compiler for netstandard2.0, but for it to show up in the tree under "None".

[2018-02-13 08:05] FransBouma commented on #3234
I was the one reporting this issue, and this morning I look again at the screenshot and I see I made a mistake there, it should be $(TargetFramework)=="net452", not netstandard20. OMG I spent hours on this, and it's such a stupid PEBKAC error. I'll verify this and close it asap if it's indeed the error I think it is!

[2018-02-13 08:11] FransBouma commented on #3234
Ok, I'll try again, as my previous message was an error. (It's early).

@davkean The conditional compilation for netstandard2.0 should make the compiler *not* compile that file (and the other files in the folder, but this is for testing), as those files contain references to .NET full types and it's for .net452, not for netstandard.

However the compiler compiles that piece of code. I had to add #

[2018-02-13 12:27] davkean commented on #3234
The path is wrong, it's currently:

[code]

but it needs to be:

[code]

[2018-02-13 19:04] natidea commented on #3134
I also noticed looking at your project files that you have some custom configurations. See https://github.com/dotnet/project-system/blob/master/docs/configurations.md for changes to the way custom configurations are specified in the new project system. This may not be related to your problem but probably worth looking into.

[2018-02-13 19:38] Pilchie commented on #3117
Closing - please let me know if you see this again though (separate from the build stack error which @cdmihai is looking at).

[2018-02-13 19:38] #3117 closed

[2018-02-13 20:03] danmosemsft opened #3248 "Changing Platform Target to x86 causes app to no longer start"
VS 15.6.0 preview 4

Create a C# .NET Core Console app.
In Project Properties>Build change Platform Target to x86.
Hit F5

Expected: it works

Actual: it fails. `Unhandled Exception: System.BadImageFormatException: Could not load file or assembly '...\bin\Debug\netcoreapp2.0\ConsoleApp53.dll'. An attempt was made to load a program with an incorrect format.`

I guess it is using the dotnet.exe on t

[2018-02-13 21:08] FransBouma commented on #3234
@davkean crap, that's a serious blunder on my part. Sorry for wasting your time on this, I'll fix this!

The intellisense issue is what's left now (the one in the screenshot), the conditional compilation issue is solved.

[2018-02-13 21:15] davkean commented on #3234
I see the following in 15.6 builds:

![image](https://user-images.githubusercontent.com/1103906/36174066-31a1a9ec-115f-11e8-8a8b-64a81ef3f5e9.png)

@rainersigwald Was Remove doc'd between 15.5 -> 15.6?

[2018-02-13 21:19] rainersigwald commented on #3234
It appears to have been there with that string for years: https://github.com/Microsoft/msbuild/blame/e9b4e08f9470b795ddfcc441010da72d747d63f5/src/MSBuild/Microsoft.Build.Core.xsd#L437-L441

[2018-02-13 21:26] davkean commented on #3234
Maybe not on the separate type:

[code]

I have no idea what this would be.

[2018-02-13 21:48] jviau commented on #3240
To be honest, I have never seen the `<Sdk>` tag before. Does it get translated to an import?

[2018-02-13 21:50] dmitry-a-morozov opened #3249 "Alternative to nuspec explicit assembly references"
To setup a context: I work on F# type provider consisting of 2 parts - run-time and design time.
At compile time a project consuming the type provider must reference only run-time component. Design-time component [loaded in special reflection-only context](https://github.com/Microsoft/visualfsharp/issues/3303#issue-240393680) by F# compiler. If design time components gets referenced therefore load

[2018-02-13 21:50] jeffkl commented on #3240
Yes its just a better way of specifying a version

Identitical:

[code]

[code]

More info is here: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk

[2018-02-13 22:14] dsyme commented on #3249
@dmitry-a-morozov I don't think this is the right place for this - I'd start with a .NET SDK or .NET CLI request that `dotnet pack` have an option to explicitly specify referenced assemblies.

But TBH the old F# type provider package layout that puts the design-time assembly in the same directory is faulty and we only need it for legacy reasons (eventually all loading will use [this](https://githu

[2018-02-13 22:16] jviau commented on #3219
`IDebugProfileLaunchTargetsProvider` is part of this project system as you mentioned. I believe this is a MEF composition issue. Can you share what your class looks like? I can help identify any composition issues.

[2018-02-13 22:24] jp2masa commented on #3219
The class looks like this:
[code]

[2018-02-13 22:27] dmitry-a-morozov commented on #3249
@dsyme I thought the new project system is alternative to explicit nuspec file. `dotnet  pack` has only very common parameters and unlikely to cover every little aspect of packaging process. Also it's probably better to persist it with project anyway rather than specifying it every time package is created from command like.

[2018-02-13 22:28] davkean commented on #3248
@Petermarcu @nguerrera What's the expectation here again?

[2018-02-13 22:34] dsyme commented on #3249
@dmitry-a-morozov `project-system` is actually the Visual Studio bits that support new-style project files.

The project files themselves are implemented through [the .NET SDK](https://github.com/dotnet/sdk) and [the .NET CLI](https://github.com/dotnet/cli) tools.  Not sure where `dotnet pack` is installed but it will be there somehow I think

[2018-02-13 22:35] jviau commented on #3240
Debugging this it appears `Sdk` elements do not respect `IgnoreMissingImports`/`IgnoreEmptyImports`/`IgnoreInvalidImports`. @jeffkl do you think it should respect those flags?

If not, my only other idea is to veto changes to the Sdk and ask the user to reload the project.

@sharwell do you have an example of the edit you did to a targets file that caused so many dialogs? We should display only 1

[2018-02-13 22:35] nguerrera commented on #3248
See https://github.com/dotnet/cli/issues/7532

[2018-02-13 22:36] jviau commented on #3219
You need to put `[ImportingConstructor]` on your constructor. That's all you are missing!

[2018-02-13 22:38] jeffkl commented on #3240
That seems odd to me.  The `<Sdk />` element just adds `<Import />` elements.  Are you seeing a different behavior?

[2018-02-13 22:41] jviau commented on #3240
Yes, CPS projects include all 3 of those flags, but `ReevaluateIfNecessary()` throws with something along the lines of SDK not found exception.

[2018-02-13 22:48] davkean commented on #3248
Dup'ing it against https://github.com/dotnet/cli/issues/7532. This behavior doesn't sound ideal but I'll let SDK/CLI folks figure out the right solution and if we need changes to support it.

[2018-02-13 22:48] #3248 closed

[2018-02-13 22:50] #3249 closed

[2018-02-13 22:56] jeffkl commented on #3240
Yeah definitely.  We just discussed this and it makes total sense for us to not throw an `InvalidProjectFileException` if the SDK can't be found.  The project will get unloaded since "expected imports are not found" from what we can tell.  Let me code something up and see if we can get it in 15.6

fyi @andygerlicher

[2018-02-13 22:57] jviau commented on #3240
The full exception is:
[code]

[2018-02-13 23:38] jviau commented on #2873
This is CPS. I have identified the issue, single file generator is rewriting all property, causing us to expand them all. We will fix this soon.

[2018-02-13 23:40] jeffkl commented on #3240
PR is sent, we'll take the bug to shiproom for approval

[2018-02-13 23:59] jp2masa commented on #3219
I have no idea how I forgot to add it... Thanks for the help, it's working now.

[2018-02-13 23:59] #3219 closed

[2018-02-14 00:03] Pilchie commented on #2873
Nice - @jviau is there an ID for the issue on the CPS side?

[2018-02-14 00:09] jviau commented on #2873
https://devdiv.visualstudio.com/DevDiv/VS%20IDE%20CPS/_queries/edit/470015

[2018-02-14 00:11] Pilchie commented on #2873
Great - closing as external then.  If you can - it would be great to comment here on the expected release with the fix once it's merged.

[2018-02-14 00:27] cartermp opened #3251 "Change PublishProvider's capability string to include F#"
See discussion from here on downward: https://github.com/Microsoft/visualfsharp/issues/4332#issuecomment-365429446

[2018-02-14 02:44] davkean commented on #3233
A workaround for this is to add the followong to your project file:

[code]

[2018-02-14 02:45] davkean commented on #3211
A workaround is to add the following to your project file:

[code]

[2018-02-14 02:49] davkean commented on #3211
I'm going to dupe this against the MSBuild bug: https://github.com/Microsoft/msbuild/issues/2591. It has a pending PR for this and the correct fix is to make sure that targets have their correct dependencies listed.

[2018-02-14 02:49] #3211 closed

[2018-02-14 03:38] mattscheffer opened #3253 "Crash when browsing for executable in custom profile"
Repro steps:
Latest D15.6 preview 5 build
Install .NET 2.1 latest preview

Copy solution from [internalshare]\public\v-masche\launchsettings
Open the solution, open the properties page and navigate to the debug tab.
Change the profile to newProfile1
Click the browse button for the executable.
At this point VS crashes.

I've not been able to repro this outside of this solution. The crash dump is in

[2018-02-14 03:52] davkean commented on #3235
I'm not sure what the design for this would like. The design is as follows:

- Populate the references from evaluation results (fast)
- Fill in the details from design-time builds (slow)

If we were to remove it in this case, we'd basically have to ignore evaluation results - causing the node to take longer to populate, or add it but then remove it when we noticed the design-time build removed it

[2018-02-14 03:57] davkean commented on #3253
[code]

[2018-02-14 06:15] davkean commented on #3253
Fix in review.

[2018-02-14 07:13] jcouv commented on #3141
We need to confirm with @KathleenDollard, but last I heard this was holding back announcing features released in VB point releases.
I'm hoping we can schedule this for 16.0 at least (along with related change for warning versions, tracked by https://github.com/dotnet/roslyn/issues/1580).

[2018-02-14 08:53] FransBouma commented on #3234
@davkean

"United States" says System Info, tho regional settings for numbers etc. is set to "Dutch". Windows itself is en-US, keyboard too.
MSBuild version is `Microsoft (R) Build Engine version 15.5.180.51428 for .NET Framework` when running msbuild in the vs2017 command prompt.
Is there more info I need to dig up or change to see whether that affects anything?

The folder name changed fixed the

[2018-02-14 16:49] abpiskunov opened #3257 "The process cannot access the file warning during build"
Our automated tests in vsuwpt sometimes fail with unexpected warning in the Error List (see below).

What happens is
- previous test opens the same solution and builds at the end (verifies there no error or warnings).
- then solution is saved and closed
- next test is running , opens the same solution, waits for restore and builds
- verifies there no errors and warnrings

It is probably some kind

[2018-02-14 16:59] Pilchie commented on #3240
Thanks @jeffkl - resolving this as external.

[2018-02-14 16:59] #3240 closed

[2018-02-14 17:04] Pilchie commented on #3257
I believe this is the issue where a DTB and a real build can be happening at the same time.  @lifengl - is there a CPS issue tracking this already?

[2018-02-14 18:15] richaverma1 opened #3258 "Creating .Net Core/.Net Standard project with.Net Core 2.1 Preview1 shows warning dialog"
As reported by CTI
VS build used- D15.7stg/27413.3004(15.7 Preview 1)
CLI/SDK - 2.1.300-preview1-008123
Repro -
1. Create .Net Core or .Net Standard project, sometimes this warning shows -
![image](https://user-images.githubusercontent.com/19596695/36220525-c65d9a04-116f-11e8-86dd-70a800fd8856.png)
and sometimes this is the warning -
![image](https://user-images.githubusercontent.com/19596695/3622

[2018-02-14 18:17] Pilchie commented on #3258
Isn't this (at least the second) the issue that @jviau fixed yesterday for 15.6?

[2018-02-14 18:18] richaverma1 commented on #3258
This partially is that though that would happen in ASP.NET apps only and this seems to be any .Net Core, .Net Standard.

[2018-02-14 18:22] Pilchie commented on #3258
There was no reason why that wouldn't have happened on any .NET Core or .NET Standard project.  I'm guessing it was just luck that it didn't.

[2018-02-14 18:25] richaverma1 commented on #3258
in that case porting the same fix over will suffice. I wanted to bring that up first but this scenario looked somewhat different and I filed this issue. What I need to know before .Net Core 2.1 Preview1 ships is that there are no CLI/SDK issues involved in this. Possible to port the fix today so that we can test again in tomorrow's drop and call it good?

[2018-02-14 18:35] Pilchie commented on #3258
That's a question for @jviau and the CPS team. The fix was in core VS, not this repo.

[2018-02-14 18:36] richaverma1 commented on #3258
oh I see, I'll get a conversation started and I can close this bug then.

[2018-02-14 21:47] #3253 closed

[2018-02-14 22:02] davkean commented on #3234
Due to language design, which ends up being leaky abstraction here. There's no requirement that Remove actually refers to an item that exists, let alone a folder/file.

Let me seeing whether your IntelliSense issue is caused by: https://github.com/Microsoft/msbuild/issues/2723.

[2018-02-14 22:38] davkean commented on #3257
Dupe of https://github.com/dotnet/project-system/issues/2898.

[2018-02-14 22:38] #3257 closed

[2018-02-14 23:31] natidea commented on #2867
Commit https://github.com/dotnet/project-system/commit/3bfe9fb843787a206faaa6f72225693c18b90569 prototypes consuming the new CPS APIs

[2018-02-15 13:54] johmarjac commented on #1272
@damageboy Did you find a solution for this yet? I am currently trying to figure out the exact same issue. I am glad I got it working to conditionally reference System.Windows.Forms whenever it is building for net461... That works but my Designer doesnt show up.

[2018-02-15 13:57] onovotny commented on #1272
@johmarjac Have you tried using the MSBuild.Sdk.Extras? It adds the proper nesting support.

[2018-02-15 13:59] jnm2 commented on #1272
@onovotny Does `MSBuild.Sdk.Extras` cause the designers to be usable again?

[2018-02-15 14:01] onovotny commented on #1272
I can't say 100% for WinForms (since I haven't actually tried), but it does work for WPF. There are currently some workarounds needed in your csproj for WPF due to the 2-pass compile steps. You can see it in action with NuGet Package Explorer: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/master/PackageExplorer/NuGetPackageExplorer.csproj

[2018-02-15 14:56] jnm2 commented on #1272
Just tried `MSBuild.Sdk.Extras` in a brand new project. It doesn't have any effect on winforms designers—still broken in the same ways.

[2018-02-15 14:57] jnm2 commented on #1272
@davkean For the Windows Forms designers themselves, that's not something your team is responsible for, is it? I should probably use the VS feedback tool for that?

[2018-02-15 21:30] davkean opened #3267 "Replace CSharpOrVisualBasicOrFSharp with ".NET" capability"
We are introducing a new capability called ".NET" to replace CSharpOrVisualBasicOrFSharp usage. This will prevent components such publish provider from having to hard-code language capabilities.

[2018-02-15 22:54] davkean commented on #61
This isn't relevant anymore; we've moved to putting references inside the project file itself.

[2018-02-15 22:54] #61 closed

[2018-02-15 22:58] davkean commented on #1355
This hasn't failed in a long while, closing it out.

[2018-02-15 22:58] #1355 closed

[2018-02-15 23:25] davkean commented on #2063
@jmarolf What's the exact repro this for this? I cannot get Find to find results in a project file due to #1490.

[2018-02-16 00:44] tofutim commented on #2737
I have this issue as well. In VS2017 style project, the Settings file does not generate the designer. Please help!

[2018-02-16 06:14] jagmagh commented on #3003
Having the exact same issue as well. Unable to visualize and collection associations - which is one of the most common associations between classes  - does make this a bit of a show stopper in terms of using the Class diagramming tool. Any workarounds, anyone?

[2018-02-16 06:22] davkean commented on #2784
Show build errors and warnings works:

[code]

Results in:

[code]

[2018-02-16 10:45] johmarjac commented on #1272
@onovotny For me it does not even nest Form1.cs and Form1.Designer.cs together allthough I installed (and restored) the MSBuild.Sdk.Extras Package.
Here my .csproj

`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFrameworks>net461</TargetFrameworks>
  </PropertyGroup>

  <ItemGroup>
    <Reference Condition="'$(TargetFramework)' == 'net461'" Includ

[2018-02-16 21:50] panopticoncentral opened #3273 "Remove check for imported targets from up to date check"
The fast up to date check checks to see if imported targets have been modified when determining up to date-ness. Unfortunately, MSBuild does not do that, so you can end up in the situation where an updated target file causes a project to be always up to date. We should remove this check until such time as MSBuild starts to check it too.

[2018-02-16 22:56] davkean commented on #3273
Ìt does via the `<MSBuildAllProjects>` property which becomes an input for certain targets.

[2018-02-16 23:36] panopticoncentral commented on #2763
OK, I found one problem. The XAML items in the project don't have a FullPath property, which we expected to be there and so we throw an exception. I'll submit a fix for that, but the project still always rebuilds because a project it depends on, Web.Publish.Contracts is always out of date. That's a csproj project, so I'll have to dig into why that project isn't up to date on the csproj side of thi

[2018-02-17 00:05] panopticoncentral commented on #2763
@Pilchie I thought this had been moved to 15.7. The fix in the managed project system is pretty simple if we want to take it for 15.6. What do you think?

[2018-02-17 00:17] panopticoncentral commented on #3273
Right, I meant to say that -- we either need to remove the check (which is what the csproj project system does) or look at MSBuildAllProjects instead.

[2018-02-17 05:58] alexreinking commented on #2737
I am also having this issue. Any sort of workaround would be greatly appreciated.

[2018-02-19 08:00] davkean opened #3279 "Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests.dll are timing out during builds"
These tests are timing out during builds:

https://ci.dot.net/job/dotnet_project-system/job/master/job/windows_release_prtest/885
https://ci.dot.net/job/dotnet_project-system/job/master/job/windows_debug/379

[2018-02-19 08:01] davkean commented on #3279
I suspect the new tests I added to test dataflow, or the tests that fire up a pumping thread.

[2018-02-19 21:17] Pilchie commented on #2763
@panopticoncentral Can you elaborate on what triggers this issue, what workarounds there are, and whether this is a regression?  I'm very concerned about taking any more changes for 15.6 than we have to, so my inclination would be to move to 15.7 at this point.

[2018-02-19 22:28] panopticoncentral commented on #2763
This is not a regression and there is no workaround. What triggers this issue is a XAML item showing up in a CPS project. Those items don't seem to have a FullPath property set. I'm not sure if there are other item types that don't have this, we'd have to check. I think at this point it probably makes sense to push to 15.7.

[2018-02-20 04:30] davkean opened #3286 "Integration tests are failing with "Message: System.ArgumentException : The parameter is incorrect. (Exception from HRESULT: 0x80070057 (E_INVALIDARG))""
All the currently enabled integrations tests are failing with the following both on dev boxes and Jenkins:

[code]

[2018-02-20 06:59] anangaur commented on #2129
We have been receiving multiple customers (internal Microsoft and external) requests to make this work.

We also want the ecosystem to move forward to start using PackageReference and this seems to be a blocker.

In addition, we are moving towards enabling credential provider support cross plat with dotnet.exe and msbuild.exe and these tools work with PackageReference. Our story will be broken wit

[2018-02-20 18:32] Pilchie commented on #3258
@richaverma1 - should this be closed now?

[2018-02-20 18:33] #3258 closed

[2018-02-20 18:36] Pilchie commented on #3234
@davkean any update here?  Is this still an issue for this repo?

[2018-02-20 22:24] davkean commented on #3234
I was unable to repro the IntelliSense issue. What's interesting is that it skips any attribute that is new for 4.0 - perhaps they are represented differently? I'll close it in lieu of #2723 and add info there.

[2018-02-20 22:24] #3234 closed

[2018-02-20 22:39] jcouv commented on #3141
Tagging @KathleenDollard

[2018-02-20 23:57] panopticoncentral commented on #3172
This will be fixed in the next 15.6 preview.

[2018-02-20 23:57] #3172 closed

[2018-02-21 00:53] Pilchie commented on #2954
This is caused by https://github.com/dotnet/roslyn/issues/24964.  Can be worked around by using the same TFM for test and product binaries, like either #3292 or #3293

[2018-02-21 02:33] tmat opened #3294 "InvalidOperationException: Build target stack was corrupted and contain other unfinished targets"
VS Version:
![image](https://user-images.githubusercontent.com/41759/36460276-8bf82f4e-166c-11e8-8ad9-6ecdb70816b3.png)

[code]

Repro:
1. Clone http://github.com/symreader-converter
2. Open `SymReaderConverter.sln`
3. Build the solution
4. Rebuild `Microsoft.DiaSymReader.Converter.UnitTests`

If the error doesn't occur try to build and rebuild various projects.

Also notice that building these si

[2018-02-21 02:49] davkean commented on #3294
Yeah this is known, I believe there's already a bug on it internally, will find it.

[2018-02-21 02:52] davkean commented on #3294
Dupe of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/531370.

[2018-02-21 02:52] #3294 closed

[2018-02-21 05:58] davkean commented on #2966
Most of our rules are shared between file and browse object contexts. Removing the properties from the browse object would break compat/APIs with the legacy project system. We should split file/browseobject rules into two - making sure we leave the properties in the browse object that the legacy project system uses.

From what I can see in legacy, the browse object (via `VSHPROPID_BrowseObject` on

[2018-02-21 20:55] hvaughan3 commented on #2733
As you can see from the screenshot, I have set my environment to QA, set a breakpoint in my conditional DEBUG code and I end up hitting the DEBUG code. So this is not just a display/syntax issue.

![conditionalcompilationpains](https://user-images.githubusercontent.com/6466876/36504749-2c23caaa-1717-11e8-9fb8-fbd69104a5ff.png)

[2018-02-22 03:10] davkean opened #3300 "Shared Projects have target framework drop down"
These projects shouldn't have this drop down.

![image](https://user-images.githubusercontent.com/1103906/36518340-254d72c6-17da-11e8-89b7-ded47b6e01ac.png)

[2018-02-22 03:55] davkean commented on #3267
Fixed by: https://github.com/dotnet/project-system/pull/3298

[2018-02-22 19:08] Petermarcu opened #3302 "Unmanaged DLLs of a nuget package show up in the root .csproj in vs2017 Solution Explorer"
@leblancdavid commented on [Fri Feb 16 2018](https://github.com/dotnet/core/issues/1270)

We have a nuget package which consumes unmanaged dlls that need to be copied to the output directory. That seems to work fine. However when adding a reference to the package for a .csproj in Visual Studio 2017, the dlls show up in the root directory of the .csproj in the Solution Explorer. I can't seem to fin

[2018-02-22 19:28] cdrnet commented on #3302
Example project where the files and folders are visible: https://github.com/mathnet/mathnet-numerics/blob/master/examples/netcore20-console-csharp/netcore20-console-csharp.csproj

[2018-02-23 04:41] isharehappycode commented on #1322
Hi Legends, This error comes when u try to reference **class library** which is of **.NET Framework** in **ASP.NET Core web application** of target framework **.NET Core 2.0**. If I change it to ".NET Core 1.0" then error would not come.  This is by design - [https://docs.microsoft.com/en-us/dotnet/standard/net-standard](url)

[2018-02-23 16:00] Pilchie commented on #3302
@dsplaisted if you could dig up the details you mentioned, I'd appreciate it.

[2018-02-23 18:07] smartcodinghub opened #3305 "Support for Class Diagram in .Net Core projects"
This feature is useful when working with a huge codebase or domain. In orther to work with this I followed this stackoverflow:

https://stackoverflow.com/questions/47967459/how-to-generate-class-diagram-from-asp-net-core-1-1-project

But it only work until I closed the editor and never more. It didn't show the associations neither.

Is there any plan to support this?

[2018-02-23 18:10] smartcodinghub opened #3306 "Support for code analysis UI tools in .Net Core projects"
I can add analyzers and work with them, but when I create a .ruleset or add one it didn't show all the options provided by the analyzers nor its description when you add them in the XML. It's a bit hard when a client or your enterprise ask for some kind of code analysis or have strict rules about the code.

Is there any plan for support this or any way to help in its development?

[2018-02-24 00:59] Pilchie commented on #3218
Also tagging @btrepp, but closing as not repro for now, since @panopticoncentral was unable to reproduce the failure here.

[2018-02-26 00:38] btrepp commented on #3218
@Pilchie apologies. The steps to reproduce were missing something.

After `paket install`, `dotnet restore` needs to be ran. Without `dotnet restore` the solution loads fine. With it, it locks.

My vs is running on preview 5 now aswell, and it still persists.

[2018-02-26 03:27] Petermarcu opened #3307 "Adding new *.cs file while having the property EnableDefaultCompileItems on false"
@edsonaf commented on [Fri Feb 23 2018](https://github.com/dotnet/core/issues/1280)

# Creating new *.cs file while having the property EnableDefaultCompileItems on false does not automatically add this file in the project file

# General

- This is on Visual Studio 2017 Version 15.5.57
- Using the new SDK project format style
- Has `<EnableDefaultCompileItems>false</EnableDefaultCompileItems>`
-

[2018-02-26 05:32] davkean commented on #3307
@edsonaf I believe we already have a bug on this but as a workaround, the targets that produce the cs files that generated during prebuild should be generated into the immediate directory to play nicely with globbing, build and source control in-general.

[2018-02-26 05:33] davkean commented on #3307
Yeah, we do, duping this against: https://github.com/dotnet/project-system/issues/3181.

[2018-02-26 05:33] #3307 closed

[2018-02-26 05:36] davkean commented on #3307
Here's an example https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.GenerateAssemblyInfo.targets#L22, ie:
[code]

[2018-02-26 05:39] davkean commented on #3307
One more thing, see this comment https://github.com/dotnet/project-system/issues/2678#issuecomment-327047828 which provides another workaround if you'd like to continue to opt out of globs.

[2018-02-26 05:42] davkean commented on #3181
The project system behavior is currently by design based on the default globs in the SDK. It's trying to avoid double-including the file, see the following: https://github.com/dotnet/project-system/issues/2678#issuecomment-327047828. The workaround is opt also out of the None glob, or opt out of all globs.

[2018-02-26 05:43] davkean commented on #3181
@nguerrera @dsplaisted Thoughts on this? The opt outs aren't really setting the user up for success (see my comment above) - maybe None shouldn't include source files?

[2018-02-26 16:14] Pilchie commented on #2998
Duplicate of #1848

[2018-02-26 16:14] #2998 closed

[2018-02-26 16:16] Pilchie commented on #2016
@tmeschter @nguerrera didn't we look at this already?

[2018-02-26 16:16] Pilchie commented on #3305
Yes, we'd like to support it - see #1848, #2999, and #3003 .

[2018-02-26 16:17] #3305 closed

[2018-02-26 16:18] Pilchie commented on #3306
Tagging @jinujoseph and @mavasani.  Generally, for .NET Core, we are moving towards using Roslyn based analyzers for code analysis.  @jinujoseph and @mavasani can give you more details here.

[2018-02-26 16:20] Pilchie commented on #3286
Assigning to @etbyrd since he's looking at integration tests for both roslyn and project-system this sprint.

[2018-02-26 16:22] Pilchie commented on #3302
@davkean or @lifengl - any ideas here?

[2018-02-26 16:23] Pilchie commented on #3306
See also #988.

[2018-02-26 16:24] Pilchie commented on #2954
Closing as external - thanks @AlekseyTs for digging in and finding and fixing the root cause here!

[2018-02-26 16:24] #2954 closed

[2018-02-26 16:31] Pilchie commented on #3279
Quoting @jaredpar from an email about how `roslyn` captures dumps:

[2018-02-26 19:02] lifengl opened #3309 "The dependencies tree uses quite lots of memory - TreeFlags"
The dependencies tree uses quite lots of memory.  Do we have any tracking item to reduce its memory foot print?

I noticed the TreeFlags uses 7 M memory, only for very few flags (SupportsRemove ?), but I guess largely different copies of HashSets to those strings.

Of course, those won’t be enough to reduce usages.  I wonder crossing projects, we may have lots of duplicated nodes in the dependenci

[2018-02-26 19:05] lifengl opened #3310 "Inefficient usage of the immutable collections inside Dependencies code"
I also noticed some inefficient usage of the immutable collection, like:
           var worldBuilder = ImmutableDictionary.CreateBuilder<string, IDependency>( StringComparer.OrdinalIgnoreCase);
           worldBuilder.AddRange(DependenciesWorld);
           var topLevelBuilder = ImmutableHashSet.CreateBuilder<IDependency>();
           topLevelBuilder.AddRange(TopLevelDependencies);

which should

[2018-02-26 19:13] lifengl commented on #3302
That is the side effect of adding <Link> path to all external items in the .Net Core SDK .props/.targets file (to show external globbings in the project automatically).  I think there is a way suppress it for some items.

[2018-02-26 19:15] Pilchie commented on #3309
Ideally, we'd do 2 things here:

1. Re-use common subtrees if we don't today.
2. Not realize this memory unless you expand/search in solution explorer.

[2018-02-26 19:40] nguerrera commented on #3181
@davkean. Yes, I think having default none glob exclude source file irrespective of whether they are themselves globbed as source files is reasonable. I have been confused by the current behavior myself. Let me try to find the existing SDK bug to dupe this against.

[2018-02-26 19:41] nguerrera commented on #3181
https://github.com/dotnet/sdk/issues/1157

[2018-02-26 21:10] Pilchie commented on #1570
I'm going to go ahead and close this.

[2018-02-26 21:10] #1570 closed

[2018-02-26 22:13] davkean commented on #3181
Dup'ing against SDK bug.

[2018-02-26 22:13] #3181 closed

[2018-02-26 22:13] davkean commented on #3307
Duping this actually against https://github.com/dotnet/sdk/issues/1157.

[2018-02-26 22:13] davkean commented on #2678
We have a bug against SDK to change the globs: https://github.com/dotnet/sdk/issues/1157.

[2018-02-26 22:35] davkean commented on #3279
The tests I added to test data flow aren't hitting this, I rewrote them and it still deadlocked.

[2018-02-26 23:17] davkean opened #3311 "Add ".NET" capability to shared projects"
We added .NET capability to normal C#/VB/F# projects [here](https://github.com/dotnet/project-system/pull/3298) but not their shared project counterparts, these live under src/vsproject/Mercury/BuildSystem/ in the VS tree.

[2018-02-27 00:20] #3207 closed

[2018-02-27 01:06] davkean commented on #345
Side note - this was entirely removed for 15.7.

[2018-02-27 03:07] chwarr commented on #2875
This turned out to be two separate issues rolled into one:

1. Automatically adding an item to an ItemGroup based on its extension.
    * The fix here was to add the relevant globs guarded by `Condition=" '$(EnableDefaultItems)' == 'true' "` as mentioned in my [January 8, 2018 comment][jan-comment].
1. Getting these items to appear in the Visual Studio 2017 Solution Explorer.
    * The fix here wa

[2018-02-27 03:52] davkean commented on #3189
Closing this out. This should be fixed in 15.6 Preview 4 and later. Please open a new bug if you are still running into issues.

[2018-02-27 03:52] #3189 closed

[2018-02-27 03:56] davkean commented on #3186
@encey Can you expand on the repro steps? Which project type in particular? Can you provide the project, or record the steps that you take to reproduce this?

In .NET Framework based projects, the sub type is added for anything "designable" (Forms, Pages, Components, etc). This is being tracked by https://github.com/dotnet/project-system/issues/182. You should not hit for app.config or packages.co

[2018-02-27 05:19] davkean commented on #3187
I spent a non-trivial amount of time attempting to fix this - and gave up. Here's what I've attempted so that others can learn from my adventure:

- Tried using `-File`. [this breaks the `-FooBar $False` parsing](https://stackoverflow.com/questions/5079413/how-to-pass-boolean-values-to-a-powershell-script-from-a-command-prompt/7302626)
- Tried using `-Command` with a bunch of quotes and ampersand

[2018-02-27 05:24] davkean commented on #2741
This is CPS showing the error from the ResXFileCodeGenerator - legacy added a hack to hide it when it fails.

[2018-02-27 05:34] davkean commented on #3310
@Pilchie Are you going to find them all? Or just fix these ones?

[2018-02-27 06:03] davkean commented on #3156
I suspect not related to #2687 - I suspect a CPS issue.

[2018-02-27 06:15] davkean commented on #3123
@jp2masa Are you using launch profiles? If not you can just remove that capability.

That might work if you change it like so; import a collection of IDebugPageGuidProvider (using OrderPrecedenceImportCollection), and if the highest priority returns an empty guid, we'd skip adding it. For there to be "no exports" you'll have undefine `LaunchProfiles` - which itself will remove the page.

Alternati

[2018-02-27 07:29] davkean commented on #2940
Just removing our usage of the rule before removing it in lieu of the IProjectGuidProvider/IProjectGuidStorageProvider; https://github.com/dotnet/project-system/pull/3303, https://github.com/dotnet/project-system/pull/3314 and https://github.com/dotnet/project-system/pull/3313.

[2018-02-27 07:53] EnCey commented on #3186
Sorry @davkean for not providing more steps. I encountered the issue while I was upgrading all projects of a solution to .NET v4.6.2 (from 4.6).
During my investigation I found the already mentioned [StackOverflow question](https://stackoverflow.com/questions/1573241/subtypedesigner-subtype-added-then-removed-by-visual-studio-on-load-unload), in which people report this problem since Visual Studio

[2018-02-27 10:48] davkean commented on #3186
I've pulled the connect repro steps because Connect has been retired:

[code]

Looking through all of the links you posted, there's 2, possibly 3 separate issues:

1. Project system is adding SubType to designable files. This behavior is as designed - #182 is tracking revisiting that design.
2. Something is adding SubType to XML files in some cases in VC++ files (Connect/Stackoverflow question)
3.

[2018-02-27 10:49] davkean commented on #3186
Could you double-click those two config files and tell me what editor opens?

[2018-02-27 11:00] davkean commented on #3186
Okay, I can see where this code lives, Package.CheckItemSubType in the XML language service (internal). Looks like both 2 & 3 above are caused by the same thing. Trying to understand the logic, and why it happens.

[2018-02-27 11:13] davkean commented on #3186
@EnCey Can I ask you a favor? Can you Help -> Send Feedback -> Report a Problem and report the same information. Once you've done that point me to it and I'll make sure it gets routed to the right team. I'll add background information to the bug about what I've found, it appears the Connect bug fell off the radar. This is a issue in the XML editor - it looks intentional that its doing this but I'm

[2018-02-27 11:14] davkean commented on #3186
Internal bug number for the connect issue is 658114.

[2018-02-27 11:36] davkean commented on #3186
I've filed https://devdiv.visualstudio.com/DevDiv/_workitems/edit/572846 internally. If/when Send Feedback, I'll associate that bug with it. Community based feedback lets other people vote on the issue and is given weight over just internal filed bugs.

[2018-02-27 11:36] #3186 closed

[2018-02-27 12:35] EnCey commented on #3186
Hi @davkean , thank you for looking into this!
I reported the problem like you asked [here](https://developercommunity.visualstudio.com/content/problem/204355/subtype-designer-is-added-unnecessarily-to-xml-bas.html)

[2018-02-27 12:44] davkean commented on #3186
Thanks, I've routed to the correct team.

[2018-02-27 13:14] jp2masa commented on #3123
Actually, I found out that the current Debug page is extensible and it works for what I need, so this is no longer a problem. Thanks for the help.

[2018-02-27 13:14] #3123 closed

[2018-02-27 14:12] boekabart commented on #1272
Same issue here - although I find that *just* adding `<SubType>Form</SubType>` and every time deleting the generated resx and Designer.cs, does the trick in making things more or less usable. This is with the very latest 15.5.7 version. I'd say, just comment the code generating those 2 files all the time (in VS) and we're more or less there ;)

[2018-02-27 15:13] jnm2 commented on #1272
I hear what you're saying, but I want the .designer.cs for sure so the autogenerated fields and InitializeComponent stay out of sight. I don't want to be the one to submit the PR removing dozens of .designer.cs and .resx files. 😁

[2018-02-27 15:48] Macadoshis commented on #1949
this is pure garbage and messes with the *.[xxx]proj when you want to keep under version control...
And it can't manage files added/removed/moved from an external file folder (another EDI, Windows Explorer, ...).
pure garbage.

[2018-02-27 15:50] Pilchie commented on #3310
I was going to look for other places that call `AddRange` immediately after creating a builder.

Note that fixing `wordbuilder` breaks existing tests :(.  I suspect a casing problem, but changing the declaration of `DependenciesWorld` to specify `WithComparers(StringComparer.OrdinalIgnoreCase)` didn't immediately fix it :(

[2018-02-27 16:24] KirillOsenkov commented on #3186
:+1:

[2018-02-27 16:53] tannergooding commented on #3187
@davkean, the second issue (breaking in the call to Msbuild) is an issue in repo toolset, where it doesn't properly quote all the paths (cc. @tmat)

[2018-02-27 17:11] tmat commented on #3187
@tannergooding Can you point to the place where the paths are not quoted properly?

[2018-02-27 17:23] tannergooding commented on #3187
Most of these properties need to be quoted: https://github.com/dotnet/roslyn-tools/blob/master/sdks/RepoToolset/tools/Build.proj#L98

[2018-02-27 17:23] tannergooding commented on #3187
There may be more, but I didn't finish investigating last night.

[2018-02-27 17:27] tannergooding commented on #3187
Hmmm, actually, this may be specific to something project-system is doing. I don't get the same for another repo-toolset based project (such as dotnet/sdk)

[2018-02-27 17:30] abpiskunov commented on #3310
Yes, i remember there was some thing related to casing , that's why i had do create new instance at the moment. Let me know if you don't find the reason i could look at it sometime tomorrow (OOF today)

[2018-02-27 17:49] Pilchie commented on #3310
Found it - the mocks also create a previous snapshot wrong.  PR Coming shortly.

[2018-02-27 17:50] abpiskunov commented on #3310
Ah good

[2018-02-27 18:23] jinujoseph commented on #3306
@smartcodinghub  yes for .net core projects the recommendation is to add Roslyn based code analysis [link](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)  you can control the rules from the dependencies UI

![image](https://user-images.githubusercontent.com/12449387/36746832-24cb443c-1ba8-11e8-94df-c82cd391ad48.png)

Can you share which analyzers you are working with and wha

[2018-02-27 18:24] Pilchie commented on #3306
Closing as external.

[2018-02-27 18:24] #3306 closed

[2018-02-27 18:30] vsfeedback opened #3317 "Cannot calculate Code Metrics on a .NET Standard C# project"
I am running the latest RTM build of VS 2017, 15.5.6. I have a tons of projects in my solution. Most of my libraries are .net Standard and most of my exes are .net framework. Code metrics will not run for the .net standard projects at all.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/202035/cannot-calculate-code-metrics-on-a-net-standard-c-1.html
VST

[2018-02-27 19:21] Pilchie commented on #3317
@davkean - any idea what's missing here?

[2018-02-27 20:26] damageboy commented on #1272
@jnm2 @onovotny I have successfully created the wrost msbuild hack of all time...

I basically have two projects for a `X` winforms project
One `X.Designer` project which I just use for opening up the designer and editing the crap out of my soon to be dead winforms

The Other, `X`, basically uses msbuild goo to "import" every piece of code from the other project automatically, and that's the one I

[2018-02-27 20:49] tannergooding commented on #3187
PR is here: https://github.com/dotnet/project-system/pull/3318.

There is something that breaks if you specify `/p:QuietRestore=true`, remove that and everything works as expected.

[2018-02-27 21:28] tannergooding commented on #3187
Looks like when `/p:QuietRestore=true` is specified, we call `Exec` rather than the `MSBuild` task:

[code]

The `$(_RestoreToolsPropsCmdLine)` need to be properly quoted/escaped in order to work with paths with spaces.

[2018-02-27 22:05] lifengl opened #3319 "Minor: unnecessary task chains + JTF in OnDependenciesSnapshotChanged"
The code inside this method is mostly unnecessary.  BuildTreeForSnapshotAsync is not an async method (it returns immediately in all code path), so there is no need to chain a task continuation chain.  Also it is strange to wrap the code inside a JTF for the first call, but didn't do for the rest.  The JTF seems to be unnecessary here as well.

[2018-02-27 22:10] DavidArno opened #3320 "Creating a SDK based project (VS2017 csproj format) project with a path containing certain characters results in dependency issues"
This issue, for me at least, seems to only occur with VS15.5.n.

Create the path, `C:\Dev\(1)\`, then create a new solution below that. The only requirement to reproduce this bug is to ensure the new VS2017-style csproj format is used for at least one of the projects in the solution, eg:
[code]
The content of `<TargetFramework/>` doesn't seem to matter.

This will then result in warnings against a

[2018-02-27 22:14] lifengl opened #3321 "Inefficient way to create the first version of the dependencies tree after loading a project"
GroupedByTargetTreeViewProvider.BuildSubTreesAsync will create nodes by nodes and insert them to the tree. It turns out to be a very inefficient way to create the immutable tree.  When the code add one item, the entire spin will need be replaced (also it remembers the each change in the history record).  The main project tree in CPS has been written to create it from bottom-up.  (Creating leaf nod

[2018-02-27 22:15] davkean commented on #3317
Code Metrics has the same init as FxCop, so for it to work with .NET Standard that code needs to add a new platform (not terrible hard).

Code Metrics, if i remember correctly, does a bunch of branches on project type GUID, so fixing the project type GUID that will probably enable that similar to Class Diagram.

[2018-02-27 22:43] davkean opened #3322 "Investigate whether we should wrap all dataflow hookup in a capabilities context"
We've had a few bugs where we've changed the init a component, and the first callback for the dataflow has the wrong capabilities stored in the execution context and hence OrderPrecedenceImportCollection returns the wrong "extensions" when iterated.

We should do a pass across all components and figure out if we just wrap them all in a capabilities context.

[2018-02-27 22:55] Pilchie commented on #3320
@jviau - can you comment on the internal bug number in CPS for this?  @DavidArno this should be fixed in 15.6 previews.

[2018-02-27 22:55] #3320 closed

[2018-02-27 23:15] DavidArno commented on #3320
@Pilchie,

Just tried 15.6 Preview 6.0 ... and it works!

If there's one thing I like more than "we'll get right on to fixing that for you", it's "we already fixed that for you. Here you go". 😁

[2018-02-27 23:40] Pilchie commented on #3320
Well, I can't take credit in this case, as it was the core CPS team, but I'm happy to be the bearer of good news :)

[2018-02-28 01:48] lifengl opened #3323 "Consider to have an option to disable loading additional TFM in a super large solution"
When many projects in the solution have multiple TFMs, the current way to load all of them into memory and runs design time builds and builds language model is not scale well.  Instead of running out of memory or make the IDE very slow, may suppressing some design time support, but fully support TFMs during build can be an option.

[2018-02-28 02:10] davkean commented on #3323
Yep, this requires a little design to figure out.

[2018-02-28 17:47] Pilchie commented on #3321
I'll try to take a look at this.

[2018-02-28 18:14] abpiskunov commented on #3321
Let me first check some thing with Lifeng. There was a reason i did it this way. When it was done other way tree nodes were collapsing when they were updated and tree looked jumping allthe time after DT builds.

Thanks,
Anton

On Feb 28, 2018, at 9:48 AM, Kevin Pilch <notifications@github.com<mailto:notifications@github.com>> wrote:

I'll try to take a look at this.

—
You are receiving this becau

[2018-02-28 19:51] lifengl commented on #3321
@abpiskunov came and told me that the tree actually was updated heavily during the loading time, which means that optimize the first load won't improve the overall perf much.  In that case, it won't be worth to do the change.  I agree that sounds a good explanation on why we saw a very big change history for our tree.  Based on that, I agree fixing the first load doesn't make big sense, and we can

[2018-02-28 20:13] abpiskunov commented on #3309
Chatted with Lifeng offline, and Kevin's proposed point 1. is correct, we might want to try to reuse Dependencies models across projects, since usually there will be many same dependency models coming transitively.  This is not too easy and would require nice synchronization across all projects and their rules updates (that's why originally i did not go there). Immediate and simpler memory optimiz

[2018-03-01 00:00] #3310 closed

[2018-03-01 00:35] davkean opened #3327 "Language service simplification"
- [ ] Stop passing using displayname as handshake between us and VSHPROPID_ActiveIntellisenseProjectContext

[2018-03-01 01:24] davkean opened #3328 "Unable to switch launch profiles"
1. open project system
2. Open ProjectSystemSetup -> Properties -> Debug
3. Change Profile
4. Close properties
5. Reopen properties, Profile didn't change

[2018-03-01 05:25] davkean commented on #2686
To implement IExtenderCATIDProvider - we need to figure out all the different CATIDs that legacy has for References, Configurations, Reference, Project, etc for C# and VB (what do we do about F#) and return them.

[2018-03-01 06:59] davkean commented on #2073
The behavior is actually add; PropertyPagesGuids + PropertyPagesGuids[Language]

[2018-03-01 12:57] smartcodinghub commented on #3306
I didn't see this way, sorry. But I found it way harder to use. Here are the drawbacks vs having a dedicated UI (not a .ruleset file, only UI):

* You have to resize the solution explorer.
* You can't compare diferent solution configuration because you can't drag a window to another monitor. Or share them easily within projects or solutions.
* You have like 2 or 3 clicks without a global vision on

[2018-03-01 15:44] Pilchie commented on #3328
What build are you on?  There was a recent bug where picking a different launch profile didn't work.  could it be that instead?

cc @BillHiebert

[2018-03-01 20:05] jp2masa opened #3333 "OutputType returns wrong value on DTE"
Although there's a value provider for `OutputType`, which has case insensitive key comparers ([code](https://github.com/dotnet/project-system/blob/dev15.5.x/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Properties/InterceptedProjectProperties/OutputTypeValueProvider.cs#L15)), when getting the `OutputType` property from the `EnvDTE.Project`, if the `OutputType` is "Exe"  it r

[2018-03-01 22:39] davkean commented on #3328
I'm on latest build. Yes, the issue appears to be that you can't switch profiles. Do we have a bug on that?

[2018-03-01 22:48] BillHiebert commented on #3328
Changing it on the property page doesn’t change the default. That is done on the debug dropdown.  I opened a bug\suggestion a long time ago to look at changing this

See https://devdiv.visualstudio.com/web/wi.aspx?pcguid=011b8bdf-6d56-4f87-be0d-0092136884d9&id=410821

[2018-03-01 22:52] davkean commented on #3328
Yeah confirmed that was the issue, used to change properties in Debug page to affect my next debugging session.

[2018-03-02 01:14] Pilchie commented on #3327
Note that we could choose to continue to use the same value, but that Roslyn never uses it as a displayname.  Instead, think of it as an immutable project moniker.

Requirements:
1. It must match what's given to `IWorkspaceContextFactory`.
2. It must be immutable over the lifetime of the project.
3. It can't be (only) the project guid or the file-path, as it needs to be unique among all the `IWork

[2018-03-02 01:15] Pilchie commented on #3302
Ping @dsplaisted do you have any details on this?

[2018-03-02 01:22] Pilchie commented on #3306
@jinujoseph - where do you want this to be tracked?

[2018-03-02 01:24] Pilchie commented on #3309
Let's use this issue to track only the TreeFlags issue.  I'll file another for sharing between projects.

[2018-03-02 01:26] Pilchie opened #3335 "Dependencies node should share identical subtrees between projects"
(Split from #3309).

Putting in unknown, as this will be a significant amount of work, and we have a bunch of other things to do in the dependencies node code first.

[2018-03-02 01:28] Pilchie commented on #3319
This optimization isn't valid, so closing (see #3326) for details.

[2018-03-02 01:28] #3319 closed

[2018-03-02 01:52] dsplaisted commented on #3302
IIRC, the csproj.dll project system hides all items from solution explorer that are not directly defined in your project file (ie if they’re from an imported .props or .targets file they won’t show up).

In order to support globs outside of the project cone (ie <Compile Include="..\Shared\**\*.cs" />), we decided that CPS should show items outside the project cone if they have Link metadata define

[2018-03-02 01:54] dsplaisted commented on #3302
@lifengl This sounds like it might be a bug in CPS

[2018-03-02 04:13] davkean commented on #3279
This appears to actually be Microsoft.VisualStudio.CSharp.VS.UnitTests.dll on my box, in particular:

[code]

[2018-03-02 04:57] jinujoseph commented on #3306
Roslyn repo is probably good to track bug .

[2018-03-02 05:08] davkean commented on #3279
I'm wondering aloud if this correlates with increase in rename failures that I'm seeing.

[2018-03-02 06:17] abpiskunov opened #3336 "File.cs.cshtml cannot become EmbeddedResource"
1. Create a new core Web app
2. in File Explorer find some cshtml page (Error.cshtml and rename it to Error.cs.cshtml.
3. In VS change type of Error.cs.cshtml to EmbeddedResource (notice it will be removed from Content in csproj)
4. Build
5. Open assembly manifest and see - no embedded resources
6. When rename file to Error.cshtml , build, assembly manifest does contain EmbeddedResource.

See this

[2018-03-02 06:56] davkean commented on #3336
This would be a build issue, no?

[2018-03-02 07:08] jinujoseph commented on #3306
This issue was moved to dotnet/roslyn#25189

[2018-03-02 08:44] Xiu-Li opened #3338 "Close solution and reopen, an internal error occurred."
## **Repro steps:**
1. Create a new .net core/standard project.
2. Close the solution and reopen or unload the project and reload.
**Actual results:**
Prompt for the following information:
![image](https://user-images.githubusercontent.com/24784908/36889508-41df95de-1e35-11e8-8ef2-925b759c994f.png)
The diagnostic log:
\\bvtsrv2\team\v-lixiu\DevOpsCTI\E2E Validation\Diagnostic Logs\VsProjectFault_4

[2018-03-02 09:01] davkean commented on #3338
Looks like a regression that I introduced:
[code]

[2018-03-02 09:08] davkean commented on #3338
For some reason the GUID is empty.

[2018-03-02 16:51] abpiskunov commented on #3336
Sounds like that or even could be sdk related, Content item type might somehow interfere with EmbeddedResource.

[2018-03-02 19:35] Pilchie commented on #3302
Thanks @dsplaisted - @lifengl should we file a VSTS bug on CPS for the folder issue?

[2018-03-02 19:43] Pilchie commented on #3336
@livarcocc @nguerrera @dsplaisted ?

[2018-03-02 20:38] nguerrera commented on #3336
Could be sdk or msbuild. Feel free to move to sdk for next look.

[2018-03-02 20:40] dsplaisted commented on #3336
I want to take a look at this, but I suspect it is CPS not understanding how to modify the project to change the item type given the default globs that the project has.

[2018-03-02 21:56] abpiskunov commented on #3336
we have a vs feedback bug associated with that 574198. Who should i assign to? Who is doing first investigation here?

[2018-03-03 05:02] lifengl commented on #3302
Yes, that is our bug.  Please open a bug...

Sent from my phone

On Mar 2, 2018, at 11:35 AM, Kevin Pilch <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @dsplaisted<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdsplaisted&data=02%7C01%7C%7C25e451e0bd7145ea0f5008d58074c7ac%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636556161401787877&sd

[2018-03-05 00:49] davkean commented on #3338
Cannot repro this on _Int Preview VisualStudio.15.IntPreview/15.6.0-pre.7.0+27428.1.d15.6_. Trying 15.7.

[2018-03-05 04:32] davkean commented on #3338
At the moment, this component isn't actually loading for me on 15.7 due to another issue. Fixing that first.

[2018-03-05 04:49] davkean opened #3341 "Language Service and StartupProjectRegistrar are broken in 15.7 builds"
[code]

[2018-03-05 05:26] davkean commented on #3338
After fixing https://github.com/dotnet/project-system/issues/3341 I can repro this.

[2018-03-05 06:07] davkean commented on #3338
I understand the bug. Not sure what the fix is at the moment; basically made some incorrect assumptions that the factory completion occurs _after_ the GUID is set, this is not always correct.

[2018-03-05 20:07] abpiskunov commented on #3336
Ok i am assigning the bug to Daniel first. Please route it further if it is not yours.

[2018-03-05 22:43] davkean commented on #3336
This issue was moved to dotnet/sdk#2024

[2018-03-05 22:43] #3336 closed

[2018-03-06 02:19] TIHan opened #3344 "Re-add context menu item buttons to Menus.vsct for MoveUp/MoveDown"
We need to re-add context menu item buttons to Menus.vsct for MoveUp/MoveDown. Currently, they do not exist and rely on VisualFSharp being installed.

[2018-03-06 02:51] btrepp commented on #3218
I have now updated to 15.6 and this problem still occurs.

Is there anyway I can get a more verbose log of what is happening from visual studio?.

 Also is there a way to downgrade to 15.5?. My main project experiences this issue, so now I have no instances of VS that are able to open this project :(.

[2018-03-06 03:51] bradder555 commented on #3218
I followed the steps including paket restore and dotnet restore and got the same error message.

I'm going to try on a vm to see if this is an environmental thing.

[2018-03-06 04:06] davkean commented on #3218
Can we have some clearer repro steps?

I'm currently running with the following:

1. Download https://www.nuget.org/api/v2/package/Paket/5.148.0
2. Rename this file to zip and extract to a folder C:\Paket
3. `git clone https://github.com/btrepp/vspreviewcrash`
4. `cd vspreviewcrash\dotnet`
5. `C:\Paket\tools\paket install`
6. `dotnet restore`

But that fails with:
[code]

[2018-03-06 04:13] DamianEdwards commented on #2248
It seems now we have the version of the platform package (shared framework) showing up here in 15.6 (GREAT!) however we still don't actually have the SDK itself.

I'd really like to see us show the actual **SDK** names and versions under the SDK node, and have the platform packages/shared-frameworks shown under a new node, or under the NuGet node. Then we'll have all the implied, platform-level de

[2018-03-06 04:15] DamianEdwards commented on #2248
Also, that actual SDK's are pretty much guaranteed to have different versions from what's actually being shown here (the shared fx) from now, so this is even more important that it was before.

[2018-03-06 04:17] nguerrera commented on #2248
We now have an msbuild property with the sdk version (beginning in recent 2.1.300 builds) so project system is unblocked to grab that. You'll have to be prepared for it to be undefined in earlier versions. Should be an easy fix (finally).

[2018-03-06 04:19] nguerrera commented on #2248
Use $(NETCoreSdkVersion)

[2018-03-06 04:25] btrepp commented on #3218
No need to download paket. Paket has magic mode and downloads itself.

1. `git clone https://github.com/btrepp/vspreviewcrash`
2. 'cd vspreviewcrash\dotnet`
2. `.paket\paket.exe install`
3. `dotnet restore`
4. Open solution file.

I deleted and re-did these steps just now. The Paket version that is downloaded and run is 5.148.0

[2018-03-06 04:26] davkean commented on #3218
Running paket under .paket, results in the following regardless of what I pass to it:

[code]

[2018-03-06 04:33] davkean commented on #3218
Okay I've debugged this, and this is the tree ordering crashing:

[code]

Ordered Items contains the following:

[code]

[2018-03-06 04:34] davkean commented on #3218
We're (incorrectly) making the assumption that items don't appear multiple times, they do in this project.

[2018-03-06 04:36] davkean commented on #3218
@TIHan I've assigned this to you.

@Pilchie We may consider releasing this in one of the point release updates to 15.6.

[2018-03-06 04:43] btrepp commented on #3218
@davkean. Is there a way I can workaround this?. I'm also somewhat confused how there are two file references internally?. Where are they being built from.

[code]

If I remove

[code]
It still dies. Or is it related to the files named System.Net.Http.fs?.

[2018-03-06 04:43] davkean commented on #3218
As a workaround, add the following to the body of your project:

[code]

@TIHan I'm guessing the SDK is also including these other ".fs" files as implicit `<None/>` items? If so, we should avoid that - for C#/VB we explicitly exclude *.cs and *.vb from None.

[2018-03-06 04:46] davkean commented on #3218
Also do you know how that `<None Include="paket.references" />` got into the project?  If paket automatically adds this - it should avoid it for these projects as None implicitly includes all files under the project directory.

[2018-03-06 04:48] btrepp commented on #3218
I'm not sure if paket does or not. These were legacy fsprojs that I updated by hand. I think before it was purely there to make the file visible in the IDE. Might not be necessary in the new SDK.

[2018-03-06 04:51] davkean commented on #3218
Yeah, with SDK-based projects + new project system, you don't need it:

![image](https://user-images.githubusercontent.com/1103906/37014641-26a2c60a-2156-11e8-8860-1b3f71745dc4.png)

[2018-03-06 04:54] btrepp commented on #3218
with
[code]
I would. I think its also nice to order it in the solution explorer. If the *.FS files are automatically grabbed/built, what is the go with ordering?. Before it used to be how you laid them out in the fsproj. Does it not longer matter for file order?.

Eg, could an alternative to Remove=*.fs etc be deleting all compile include sections?.

[2018-03-06 05:05] davkean commented on #2248
@DamianEdwards Can someone mock me up what they want this to look like? This stuff is damn complicated and I have no idea what/how these versions numbers come into play.

[2018-03-06 06:09] nguerrera commented on #2248
Most of them version with the .net core sdk. But with the new nuget sdk resolver, that might change. To enumerate all msbuild sdks and versions, I think an MSBuild API would be best. It has all of this information returned to it by sdk resolvers. I don't think such an API exists today though. Cc @jeffkl @andygerlicher

[2018-03-06 06:16] DamianEdwards commented on #2248
OK so for now how about we just hard-code assumption of the Microsoft.NET.Sdk and show the version for that using the property you described, and we can work towards a more complete solution in a future release.

[2018-03-06 12:37] sagrapro7 commented on #2999
@davkean have you solved the problem with "The XPath query / is not supported." error?

[2018-03-06 16:19] Pilchie commented on #3302
Filed internal issue [577356](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/577356) to track.  Going to close this as external.

[2018-03-06 16:19] #3302 closed

[2018-03-06 17:37] Pilchie commented on #2248
Pulling into 15.7, and moving to @etbyrd.  We'll try to get to them.

[2018-03-06 19:06] loop-evgeny opened #3349 "VS 15.6.0 freezes when trying to load an F# project that worked in 15.5.7"
I just upgraded from 15.5.7 to 15.6.0. When loading a particular solution containing 12 C# and 2 F# projects VS freezes while the following dialog is shown:

("FSharpModules" is the name of an F# project).

Deleting the .vs directory did not help, but deleting the bin and obj directories for that project allowed the rest of the solution to load. That project still fails to load, however, and an er

[2018-03-06 19:10] loop-evgeny commented on #3349
How do I downgrade to VS 15.5.7 now? I need to open this project to do my work.

[2018-03-06 19:19] loop-evgeny commented on #3018
I can confirm that this is fixed on my simple test solution, but haven't been able to test it on the real solution due to https://github.com/dotnet/project-system/issues/3349

[2018-03-06 19:50] Pilchie commented on #3349
@loop-evgeny based on the stack in the fault, this looks like https://github.com/Microsoft/visualfsharp/issues/4300.  You should be able to work-around by removing a `<None Include` from your F# project for whatever item is already covered by the default globs covering everything in the project directory.

[2018-03-06 20:02] Pilchie commented on #3349
Putting in 15.7, but we're also considering for 15.6 servicing.

[2018-03-06 21:08] loop-evgeny commented on #3349
@Pilchie There is no `<None Include` item in the project. The project file looks like this:
[code]

[2018-03-06 21:12] Pilchie commented on #3349
Any chance you have the same filename listed multiple times in that `Compile` ItemGroup?

[2018-03-06 22:05] loop-evgeny commented on #3349
Yes! Removing the duplicate fixed the problem. Thank you!

[2018-03-06 22:05] loop-evgeny commented on #3018
OK, confirmed fixed on the real solution - thanks!

[2018-03-06 22:15] Pilchie commented on #3349
Glad to hear it.  I'm going to close this as a dupe of Microsoft/visualfsharp#4300 then.

[2018-03-06 22:15] #3349 closed

[2018-03-06 22:32] davkean commented on #3349
Or rather a dupe of https://github.com/dotnet/project-system/issues/3218, that other one looks like a tracking bug?

[2018-03-07 00:20] davkean opened #3351 "Cannot open *.fsproj or *.fs from explorer"
*.fsproj and *.fs's aren't associated with any application so you can't open them from Explorer:

![image](https://user-images.githubusercontent.com/1103906/37066425-7c652c06-21f9-11e8-881d-dba9532b4d8d.png)

[2018-03-07 00:21] davkean opened #3352 "fsproj, fs and other F# related extensions don't have an icon"
Similar to https://github.com/dotnet/project-system/issues/3351, but icon related.

We don't register any icons for F# related extensions.

[2018-03-07 03:07] davkean commented on #3279
Also seeing Microsoft.VisualStudio.Managed.VS.UnitTests hang.

[2018-03-07 04:38] btrepp commented on #3218
If anyone stumbles across this still. The most reliable fix I have found is
[code]

As some of my projects used folders inside them. This removes all automatic detection and makes visual studio usable again.

[2018-03-07 05:26] davkean opened #3355 "Unlike interfaces, "Go To Implemention" on an abstract base class doesn't go direct to implementation"
1. Right-click on IBase and choose **Go To Implementation**

-- Notice that you go straight to the only implementation; `Derived`

2. Right-click on Base and choose **Go To Implementation**

[code]

**Expected:** To go straight to the only implementation; `Derived`
**Actual:**

Find Results window opens with two results:

[code]

[2018-03-07 06:04] davkean commented on #3218
@btrepp The correct fix above is to remove the FSharp.NET.Sdk, clean the tree to clean up old package remains and try again.

[2018-03-07 06:11] davkean commented on #3355
This issue was moved to dotnet/roslyn#25304

[2018-03-07 06:11] #3355 closed

[2018-03-07 06:31] davkean opened #3356 "Renaming types when renaming a class doesn't update usages inside XAML, ResX, WCF, DataSource, etc"
We rename symbols directly via `Microsoft.CodeAnalysis.Renamer.RenameSymbolAsync` but not raising any of the events that legacy project system does, such as notifying IVsHierarchyRefactorNotify/IVsRefactorNotify implementations. We should extract out CodeModel's version in AbstractCodeModelService.RenameSymbol and use that, or just call through code model.

This will break usage in any projects th

[2018-03-07 06:34] davkean opened #3357 "Implement IVsHierarchyRefactorNotify to notify XAML, ResX, etc of renames"
CPS/we need to implement IVsHierarchyRefactorNotify to notify IVsRefactorNotify usages of renames in the project.

[2018-03-07 07:39] ericbrunner commented on #2733
What's the status of that issue?

[2018-03-07 19:01] Pilchie commented on #3351
I wonder if this is related to the setup factoring for F# - are those things in the optional desktop component, but not in the .NET Core component?

@brettfo might also know here.

[2018-03-07 19:09] vsfeedback opened #3359 "Up-to-date checks are too agressive in VS15.6"
No clear repro in this case.

My guess is that legacy projects that depend on &quot;sdk style&quot; which have modifications projects don't get picked up properly.

This is new to 15.6.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/209819/up-to-date-checks-are-too-agressive-in-vs156.html
VSTS ticketId: 578080_
_These are the original issue comments:_

[2018-03-07 19:16] 333fred opened #3360 "Null Reference when CTRL+F5 Roslyn.sln"
Dump: `\\mlangfs1\public\frsilb\dumps\ctrlf5_nullref\devenv_ctrlf5_nullref.dmp`
Repro Steps:
1. Open Roslyn.sln
2. Select VisualStudioSetup.Next as the startup project
3. Ctrl+F5

Expected:
VS starts in dev hive
Actual:
"Object reference not set to instance of an object."

[2018-03-07 19:26] 333fred commented on #3360
/cc @dpoeschl, this also repros when just using F5, or the UI gesture for launching debugging.

[2018-03-07 19:43] jmarolf commented on #3360
Looking at the exception

[code]

we are throwing from here:
[code]

It appears that `CommandName` is null:

  | Name | Value | Type
-- | -- | -- | --
◢ | profile | {Microsoft.VisualStudio.ProjectSystem.Debug.LaunchProfile} | Microsoft.VisualStudio.ProjectSystem.Debug.ILaunchProfile {Microsoft.VisualStudio.ProjectSystem.Debug.LaunchProfile}
  | CommandLineArgs | "/rootsuffix $(VSSDKTargetPlatformR

[2018-03-07 21:03] Pilchie commented on #3360
@BillHiebert any ideas here? Is there something wrong with Roslyn's launch profile?

[2018-03-07 21:17] davkean commented on #3341
Fixed in 15.7.

[2018-03-07 21:17] #3341 closed

[2018-03-07 22:05] Legends commented on #1553
Ooooh my, even resources files are rendered useless, don't even want to think about digging deeper into ASP.NET Core 2.0.... Back to MVC 5... until ASP.NET Core v6 perhaps, see you then...

[2018-03-07 22:10] davkean commented on #1553
@mne1991 Yes, closing the solution and reopen after removing the "Custom Tool" for the language-specific ResX (neutral can still have Custom Tool) in the properties windows. Basically, the legacy project system ignores and avoids showing this error, the new project system shows it. We'll fix it in a future update.

[2018-03-08 04:12] Pilchie commented on #3360
Looks like this is coming from some internal code in ProductionDebugging.  I've sent some mail to see if it's a known issue, if there is a workaround, etc.

[2018-03-08 08:10] davkean commented on #3338
I have a fix out for review #3364.

[2018-03-08 17:19] Pilchie commented on #3360
Filled internal bug [578896](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/578896) to track.  Will keep this open for a bit in case it's actually an issue with the data the launch provider is passing down.

[2018-03-08 18:08] MihaMarkic commented on #2733
Please, don't ask. Everytime we get an update, it is pushed to a later major version. :)
Said that, I'm curious, too.

[2018-03-08 21:21] Pilchie commented on #3360
@BillHiebert said in email:

[2018-03-08 21:51] livarcocc opened #3366 "Resource designer files generated are incompatible with netstandard"
_From @emgarten on April 6, 2017 21:49_

Resource designer files generated are incompatible with netstandard if a desktop framework is included first in the ``TargetFrameworks`` list.

### Steps
1. Create a new netstandard library with VS 2017
1. Add a resource file to the project
1. Change ``$(TargetFramework)=netstandard1.3`` to ``$(TargetFrameworks)=net45;netstandard1.3``
1. Right click on the

[2018-03-08 21:51] livarcocc commented on #3366
@srivatsn Is this done by the project system?

[2018-03-08 21:51] livarcocc commented on #3366
_From @phatcher on January 27, 2018 11:44_

@emgarten I have a problem with a library targeting NET 2.0+ and netstandard as depending on which framework is targeted first I get code that is incompatible with the other e.g.

typeof(ExceptionMessage).Assembly

vs

typeof(ExceptionMessage).GetTypeInfo().Assembly

I can't shim this with an extension method as these were only introduced in C# 3.0

I th

[2018-03-08 21:51] livarcocc commented on #3366
_From @phatcher on January 27, 2018 12:45_

Managed to make this work by introducing the extension attribute and a minor shim - posted here for reference...

[code]
and
[code]
Won't work for all scenarios but at least allows the resource files to compile

[2018-03-08 21:51] livarcocc commented on #3366
@Pilchie is this a project system issue?

[2018-03-08 21:51] livarcocc commented on #3366
_From @Pilchie on February 12, 2018 21:9_

It's a general problem.  Most of VS is still completely unaware of the concept of multi-targeting, and the default VS APIs just return the first TFM as the TFM of the project.

In this case, I think the resx designer uses the "Design Time Assembly Resolution" to look at what things resolve in the project.

[2018-03-08 21:51] livarcocc commented on #3366
@Pilchie is there a better place to move this issue to?

[2018-03-08 21:51] livarcocc commented on #3366
_From @Pilchie on March 8, 2018 21:43_

project-system is probably the best place.

[2018-03-09 02:34] #3187 closed

[2018-03-09 02:35] davkean commented on #3187
Note, we've fixed most of the issues in the repo - the last one is being tracked externally by: https://github.com/dotnet/roslyn-tools/issues/181.

[2018-03-09 09:45] Xiu-Li commented on #3338
@davkean Verified this bug, **not repro** on latest **d15.7**/27508.00.
But **repro** on latest **d15.7stg**/27508.3006.

[2018-03-09 14:17] NinoFloris commented on #2789
Thanks for all the work that landed in 2.1.0-preview1, It's highly appreciated!

I'd actually like to help with a few of these issues so new info around latest hotspots is very welcome, hard to profile on osx.

[2018-03-09 20:59] Pilchie commented on #3360
This particular instance has been fixed by the Production diagnostics team, but we should probably be better about what we pass in here.

[2018-03-12 05:38] btrepp opened #3369 "VS 15.6 creates net461 exectuables that fail with Microsoft.Win32.Primitives not found"
In visual studio 15.6 using the new SDK  (fsproj), if I build a project it runs fine on the machine, but when deployed to windows server it fails with (whenever it tries to do HTTP calls).

[code]
This file is in the output directory
`-a----       11/06/2016  11:13 PM          22760 Microsoft.Win32.Primitives.dll`

Why does this work on machines with VS2017 15.6 but not servers?. Especially when t

[2018-03-12 06:31] davkean commented on #3369
This issue was moved to dotnet/sdk#2037

[2018-03-12 06:31] #3369 closed

[2018-03-12 06:38] huoyaoyuan opened #3370 "Claiming migration for .net framework project using new sdk style"
Sample: https://github.com/amatukaze/HeavenlyWind.Desktop/tree/b17c2a9701123f82232d6674ab68bc4e7f365e66
Project:`HeavenlyWind.Core.Shell.Desktop`
Guessing that cause is the `Import`.
`dotnet build` says the project is fine.

##### Symptom:
The `.props` doesn't need to contain `xmlns` and `ToolsVersion`. But if added, **AND** edit the `csproj` from a accepted format to current format **inside Visua

[2018-03-12 07:43] huoyaoyuan commented on #3370
Thanks for explaining the meanings of project GUID.

[2018-03-12 16:00] vsfeedback opened #3371 "project dependency has error"
VS2017 reports an error on the dependencies of my projects but gives no further hints whats the problem.

After I did an Unload and Load of one of the root-projects I got the following error in the temp-folder:

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/209706/project-dependency-has-error.html
VSTS ticketId: 578036_
_These are the original

[2018-03-12 16:06] #3370 closed

[2018-03-12 16:12] Pilchie commented on #2940
Fixed now, right @davkean?

[2018-03-12 16:12] MartinDemberger commented on #3371
@Pilchie
Can you delete the projectlog.zip attachment from this bug report or make it only visible to members of Microsoft!
I'm not happy if everybody can see the hole class structure of my project!

[2018-03-12 16:16] Pilchie commented on #3371
Done from here (sorry about that).  Unfortunately, I can't seem to delete that comment from developercommunity.  Can you as the poster?  If not, I'll loop in the right folks to get it cleaned up.

[2018-03-12 16:24] vsfeedback opened #3372 "Font used in project options"
The latest update has resulted in a small and difficult to read font on the project options page. Please change it back or let us change it somehow.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/211705/font-used-in-project-options.html
VSTS ticketId: 579826_
_These are the original issue comments:_

Andrew Cope on 3/9/2018, 06:41 AM (3 days ago): It a

[2018-03-12 22:11] panopticoncentral commented on #3359
When you got this, that was the entire output in the output window? Did it say anything about the C# project you'd modified? It should have spit out a bunch of information about the up to date check for the project.

[2018-03-12 22:16] jeromelaban commented on #3359
Yes, this was the entire content of the output window, nothing else. I was in diagnostics for msbuild output verbosity, verbose for .NET Core options.

If this can help, my solution is very similar to this one: https://github.com/jeromelaban/XTargetSolution, where I'm debugging the iOS head project, an modifying one of the ProjectXX dependent projects.

[2018-03-12 23:05] panopticoncentral commented on #3245
The issue is with globs. When Class2 is deleted, the project file isn't updated because it was just included because of a glob, so we can't depend on the project file timestamp. The up to date check tries to handle this by remembering that the list of source items changed and returning false for up to date the next time we're called. The problem is that we expect that if we return false, we're goi

[2018-03-12 23:32] davkean commented on #3372
![image](https://user-images.githubusercontent.com/1103906/37314738-daeddafc-26a9-11e8-9092-1c2fd1beb5f3.png)

[2018-03-12 23:33] davkean commented on #3372
Dup'ing against https://github.com/dotnet/project-system/issues/646.

[2018-03-12 23:33] #3372 closed

[2018-03-12 23:33] davkean commented on #646
Feedback item here: https://github.com/dotnet/project-system/issues/3372.

[2018-03-12 23:41] panopticoncentral commented on #3138
@cmeeren Could you go to Tools > Options > Projects and Solutions > .NET Core and change the Logging Level drop down to "Verbose"? Then remove the workaround, reproduce the problem, go to the build output window, copy everything there and attach it to the bug? Thanks!

[2018-03-13 00:11] panopticoncentral commented on #3245
Hate to betray my ignorance, but... what compiler cache?

[2018-03-13 00:48] davkean commented on #3245
[project-name].CoreCompileInputs.cache - its an input to CoreCompile that is invalidated when a source file is deleted.

[2018-03-13 01:45] davkean opened #3374 "Visual Studio crashes and hangs opening a solution"
1. Add feed to: https://dotnet.myget.org/feed/dotnet-core/
2.

[code]

3. Change netstandard2.0-> netstandard1.3

[code]

[2018-03-13 01:50] davkean commented on #3374
This has the following hits:

Source | Application | Version | Hits
-- | -- | -- | --
Watson | devenv.exe | 15.6.27413.0 | 4
Watson | devenv.exe | 15.6.27205.2004 | 8
Watson | devenv.exe | 15.0.27130.2024 | 15
Watson | devenv.exe | 15.0.27130.2010 | 52
Watson | devenv.exe | 15.0.27004.2005 | 38

[2018-03-13 02:08] davkean commented on #3374
This looks to be caused by a circular dependency in the "System.Runtime.CompilerServices.Unsafe (4.5.0-preview2-26312-02) (.NETStandard,Version=v1.3/System.Runtime.CompilerServices.Unsafe/4.5.0-preview2-26312-02)" package, it looks like it indirectly depends on itself:

[code]

We should fix the code to not crash in this case.

[2018-03-13 02:11] davkean commented on #3374
@etbyrd This is a good one for you to pick up and take for 15.7.

[2018-03-13 02:12] davkean commented on #3374
I've made .NET aware that this circular dependency exists.

[2018-03-13 02:26] davkean commented on #3374
Strike above, the issue System.Threading.Tasks.Extensions:
[code]

It depends on Unsafe, which depends on NETStandard.Library, which depends on System.Threading.Tasks.Extensions, which depends on Unsafe and so on.

[2018-03-13 14:28] tudorsibiu90 commented on #1044
I am still experiencing the same thing with version 15.6.1 of Visual Studio Professional 2017.
Is there a workaround or something?

[2018-03-13 16:52] Pilchie commented on #1044
@tudorsibiu90 Change through the properties tool window, instead of the modal properties dialog.  Select the file and press F4 to get the properties window.

[2018-03-13 20:26] digovc commented on #3159
In the template file (AssemblyInfoInternal) we have this line:

[assembly: AssemblyCopyright("Copyright © $registeredorganization$ $year$")]

But where set **$registeredorganization$** value?

[2018-03-13 20:29] digovc commented on #3159
Ok, found:

The registry key value from HKLM\Software\Microsoft\Windows NT\CurrentVersion\RegisteredOrganization.

[2018-03-13 21:25] sputier commented on #3128
@Pilchie It seems this issue would be perfect for someone who would like to start contributing to the project, So... I'll work on it 😄

[2018-03-13 21:27] Pilchie commented on #3128
Awesome - thanks @sputier let us know if you have any questions along the way.

[2018-03-13 22:43] sputier commented on #3128
For this kind of tasks, I usually work with LINQ :
[code]

Would this kind of code be allowed in this project context ?

[2018-03-13 22:49] Pilchie commented on #3128
I'm not worried about the overhead of linq for this - it only happens when the user explicitly drops down the list of cultures.  Not exactly a hot-path.

[2018-03-14 07:33] Xiu-Li commented on #3338
**Regression** on latest VS build d15.7/27513.00.

[2018-03-14 08:36] davkean commented on #3338
@Pilchie Teach me to fish - how do I figure out what was inserted and when?

[2018-03-14 12:29] jeromelaban commented on #3359
I've found a repro:
- Build [this solution](https://github.com/dotnet/project-system/files/1810998/20180314.-.MultiConfigRebuild.zip)
- Modify the `Class1.cs` file
- Build
- Repeat modify/build, you'll end up with the same issue.

Looks like the conditional inclusion of `Compile` files is causing the up-to-date check to fail.

[2018-03-14 12:51] davkean commented on #3359
Nice.

Unsure if related @panopticoncentral but Class1.cs is actually included twice; once in None inherited from SDK and once in the project itself.

[2018-03-14 15:30] Pilchie commented on #3338
Generally - look at the `components.json` for a particular build, and see the signed build version for project-system.

Then look at the signed build queue and look at what commit sha that build was based on.

I wonder if we could get @TyOverby to update http://vsbuildtoroslynsha.azurewebsites.net/ and make it support `project-system` too.

[2018-03-14 16:25] TyOverby commented on #3338
The site does support project system.  I plugged in those values and got server errors though...

[2018-03-14 16:51] pierceboggan commented on #3028
@Pilchie Is this still slated for 15.7?

[2018-03-14 20:24] Pilchie commented on #3028
@jviau do you know where the `Page.xaml` in UWP comes from?  Maybe we should just move it here?

[2018-03-14 20:25] Pilchie commented on #3028
@pierceboggan - we'll still try.

[2018-03-14 20:46] MarkPflug opened #3384 "xml schemas in projects"
I'm creating a nuget package that will contain an xsd that will be used at build time to validate xml. I include the xsd in the package "build" folder alongside the props/targets files so I can consume it in my custom tasks. This works, no problem. However, I would like that same xsd to be used for intellisense within the Visual Studio xml editor for developers consuming my package. However, Visua

[2018-03-14 21:40] jakehockey10 commented on #3302
Could you please update this with any updates to the ticket that can't be tracked by those who don't have access?

[2018-03-14 21:42] davkean commented on #3302
@jakehockey10 If you file a developer community item (Help -> Send Feedback -> Report a Problem) I'll dup the internal bug against it so that you can track it,

[2018-03-14 21:58] jakehockey10 commented on #3302
@davkean thanks!

https://developercommunity.visualstudio.com/content/problem/215427/unmanaged-dlls-of-a-nuget-package-show-u-in-the-ro.html

[2018-03-14 22:01] davkean commented on #3302
Done. Sorry for the boilerplate comment, it automatically added it when I associated the internal bug with the feedback item.

[2018-03-14 23:27] davkean opened #3385 "We need a temporary opt-out of out of firing up multiple TFM-based configurations"
On some solutions with large numbers of projects with multiple TFMs, we're running out of memory. For 15.7, we should add a temporary way of opt'ing out of this so that we don't load configs/roslyn projects/design-time builds for everyone of those TFMs and run out of memory.

Build, however, should continue to work.

[2018-03-14 23:47] Pilchie commented on #3385
Isn't this a dupe of https://github.com/dotnet/project-system/issues/3323?

[2018-03-14 23:51] HackerFinn commented on #2999
Bumping this for a status as well. :)

[2018-03-14 23:58] davkean commented on #3385
Yeah missed that.

[2018-03-14 23:58] #3385 closed

[2018-03-14 23:59] davkean commented on #3323
I'll make this the temporary opt-out. We need a long term design for the real fix which might be to dynamically load/unload configs based on usage.

[2018-03-15 00:56] davkean opened #3387 "UI delay reopening Resources Editor"
Feedback: https://developercommunity.visualstudio.com/content/problem/214880/microsoft-visual-studio-is-busy-vanilla-project.html

User experienced UI delays, this one was hit twice in session, with a total impact score of 8.

[code]

[2018-03-15 01:33] davkean commented on #3387
This is 3% of all UI delays of reopening documents.

[2018-03-15 01:36] davkean commented on #3387
Nope, I'm wrong, this is 0.3% of all UI delays of reopening documents. Almost all of it is caused by GetAssemblyName on the resulting name.

[2018-03-15 01:37] davkean commented on #3387
microsoft.visualstudio.platform.windowmanagement.dll!Microsoft.VisualStudio.Platform.WindowManagement.WindowManagerService.ActivateNextFrame is the starting frame if you want to find the symbol on perf watson.

[2018-03-15 16:23] wooderz commented on #1044
Having the same issue here, can confirm the properties tool (F4) rather than the Properties dialog (Right Click > Properties) works.

I assume weirdly they are using different mechanisms

[2018-03-15 16:26] jakehockey10 commented on #3302
no problem, thanks for doing that @davkean

[2018-03-15 19:20] jviau commented on #3028
The page.xaml from UWP is in `Enterprise\MSBuild\Microsoft\WindowsXaml\v15.0`. It is installed via the UWP workload. I don't know if removing it from there will work, then UWP may only work if .netcore workload is also installed.

[2018-03-15 19:29] Pilchie commented on #3028
I'm pretty sure everything from this repo except templates is installed in the UWP workload in order to support .NET Standard projects.  @jmarolf can probably confirm.

[2018-03-15 19:40] 333fred commented on #3279
I believe https://ci.dot.net/job/dotnet_project-system/view/Official%20Builds/job/dev15.7.x/job/windows_release/49/ is this as well, likely in Microsoft.VisualStudio.Managed.VS.UnitTests

[2018-03-15 20:05] Pilchie commented on #3387
@davkean is this something you think can be fixed in the resx editor page, or is the issue somewhere in DTAR?

[2018-03-15 20:52] adrianvmsft opened #3391 "DTBB: Support tracking extra dependent files"
This is needed to be able to avoid using cached design time build results when project.assets.json has changes.

One possibility is to added it to a well-known item list in msbuild, that CPS will query and use it to monitor its timestamp

[2018-03-15 23:37] sputier commented on #3128
I Submitted a PR for the ordering. Should I also address the second part of the issue (change the combobox AutoCompleteMode to Suggest) ?

[2018-03-16 00:04] Pilchie commented on #3128
If you want to I'm not against it. @davkean any thoughts there?

[2018-03-16 00:06] davkean commented on #3128
Looks like we're already [Append](https://github.com/sputier/dotnet-project-system/blob/ae42003809ae0e34e587635e98c1d8f2c0a83a3a/src/Microsoft.VisualStudio.Editors/PropPages/AssemblyInfoPropPage.Designer.vb#L256), so switching to SuggestAppend sounds good.

[2018-03-16 00:36] davkean commented on #3128
We'll leave this open to address the auto-complete mode.

[2018-03-16 04:23] Petermarcu opened #3394 "Visual studio 2017 can not stop dotnet.exe"
@SharafiAli commented on [Wed Dec 13 2017](https://github.com/dotnet/core/issues/1159)

# Visual studio 2017 can not stop dotnet.exe

Visual studio is unable to stop dotnet.exe process.

# General

After migration of 3 dotnet core projects from dotnet core 1 to 2.0, Visual Studio cannot stop dotnet.exe processes after stopping the debugging. The solution contains 3 dotnet core projects (Identity s

[2018-03-16 10:46] Xiu-Li opened #3396 "F# project referencing C# project, rename the file of C# project VS crashed."
## **Repro steps:**
1. Create a new F# .net core console app project;
2. Add a new C# .net standard classlib project；
3. Add a reference from the F# project to the C# project.
4. Rename the Class1.cs file of the C# project, VS crashed.
Note:
Repro Machine: [CLRVM49256](http://maddog/goto/MDGoto.Application?md://OrcasTS/Machine/743882)
Please see the .DMP file from C:\Users\CORBVT\Documents\devenv.

[2018-03-16 11:40] sputier commented on #1311
I'll take a look a this issue this week end.

[2018-03-16 11:40] sputier commented on #1312
I'll take a look a this issue this week end.

[2018-03-16 20:42] #3273 closed

[2018-03-17 01:21] ChristopherHaws commented on #2670
+1 for adding glob support at the very least. It would also be nice to be able to edit without reloading like the sdk based projects as well as using ProjectReference without needing to specify the project guid.

[2018-03-17 01:33] DL-LiveTiles commented on #2670
Good idea @ChristopherHaws, I have not checked if this is not already happening, so I'm trusting you here.
We are not using this yet, because this issue is a blocker.
I think this would actually be an entirely new idea, but please add link-back so we can vote for it.
Also, *blob
Cheers, Douw

[2018-03-17 12:28] sputier commented on #3128
@Pilchie @davkean As the 2 PRs were merged, the issue can be closed 😄

[2018-03-17 14:38] Pilchie commented on #3128
Yes indeed.  Thanks again!

[2018-03-17 14:38] #3128 closed

[2018-03-18 02:51] Petermarcu opened #3398 "error on .net core projects not opening and creating"
@umarsolehri commented on [Sat Mar 17 2018](https://github.com/dotnet/core/issues/1359)

issue comes on while opening or creating .net core project . this issue comes after latest updates
please take a look at attached files

[VsProjectFault_80e7eb42-21c5-41e8-abb9-19a13ef89c38.failure.txt](https://github.com/dotnet/core/files/1822073/VsProjectFault_80e7eb42-21c5-41e8-abb9-19a13ef89c38.failure.txt

[2018-03-18 06:29] umarsolehri commented on #3398
so what is the solution of this isssue

[2018-03-18 12:02] umarsolehri commented on #3398
any solution ????

[2018-03-18 16:52] Petermarcu opened #3399 "Cannot add audio resource to .NET Standard 2.0 project"
@chakrabar commented on [Sat Jan 13 2018](https://github.com/dotnet/core/issues/1217)

I have an existing `.NET Framework` codebase, and I'm trying to port that to `.NET Core`. As part of the process, I'm converting my class libraries to `.NET Standard 2.0` project.

In one of my projects, I'm using bunch of files as project resource (`Resource.resx`). When I add other files as `Files`, such as Ex

[2018-03-18 18:24] Pilchie commented on #3398
This appears to be a setup issue.  Tagging @Lifengl too.

@umarsolehri Can you try starting a Developer command prompt and running `devenv /updateconfiguration`?  If that doesn't work, I would suggest trying a repair operation on VS.

[2018-03-18 20:41] umarsolehri commented on #3398
@Pilchie i already repaired vs 2-3 times
tell me how to start a Developer command prompt and run devenv /updateconfiguration

[2018-03-18 20:56] umarsolehri commented on #3398
@Pilchie  already repaired visual studio and also run command as you mentioned but still error comes file attached after all these suggestions you mentioned
[VsProjectFault_399f217c-776b-4442-8385-ba2b762c73c3.failure.txt](https://github.com/dotnet/project-system/files/1823122/VsProjectFault_399f217c-776b-4442-8385-ba2b762c73c3.failure.txt)

[2018-03-19 00:46] davkean commented on #3398
@umarsolehri Can you please:

1. Download and run http://aka.ms/vscollect
2. Help -> Send Feedback -> Report a Problem reporting the issue
3. Attach %TEMP%\vslogs.zip

Thanks. This should give us enough information to help figure this out.

[2018-03-19 07:20] cmeeren commented on #3138
@panopticoncentral Sorry I haven't been able to look at it yet; it's been a very busy week. It's on my todo list, though.

[2018-03-19 17:31] ManishJayaswal commented on #2733
@Pilchie @davkean - this is also causing issues for test discovery in 15.6. When a user changes the project configuration from debug to release, CPS never sends us notification about that and we end up duplicating every test in TE window. This happens for all .NET Core projects and SDK style desktop projects. Do we have an ETA on getting this resolved?

[2018-03-19 18:23] llali commented on #3384
@MarkPflug
xml editor is unrelated to the project system but if the project has a xsd file as content. The xml editor can use that for IntelliSense.
Here's more detail: https://msdn.microsoft.com/en-us/library/ms255816.aspx

[2018-03-19 20:05] steffenloesch commented on #2711
Is there some documentation on what needs to be in place for the "quick sniff" to be successful?

[2018-03-19 20:08] steffenloesch commented on #3323
This would help us a lot I think. It would be great to have a way to select what 'main TFM' should be, and to adjust that based on editing needs. It would be acceptable for us to require a restart of VS for the changes to become effective.

[2018-03-19 22:14] davkean commented on #3323
@steffenloesch The main TFM will be the first, that's how we use it for all others that don't understand "multi-targeting".

[2018-03-19 22:33] davkean commented on #3398
Can you sent me a link to the feedback item you reported?

[2018-03-20 02:12] davkean commented on #2711
@steffenloesch No documented, we haven't come up with a design.

The problem is we have a chicken and egg problem; to identify what configurations a project has, we have to evaluate a project to figure out what `<TargetFrameworks />`, `<Platforms>`  and `<Configurations/>` is ultimately set to. To evaluate these, we need to load a configuration.

At the moment, we load a dummy configuring just to

[2018-03-20 04:35] lifengl commented on #2711
It was not defined in a directory based porp file directly, but an indirectly referenced file.  Of course, I guess it can be changed.

Sent from my phone

On Mar 19, 2018, at 7:13 PM, David Kean <notifications@github.com<mailto:notifications@github.com>> wrote:

@steffenloesch<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsteffenloesch&data=02%7C01%7C%7C3ab18d367d8

[2018-03-20 04:52] steffenloesch commented on #3323
So when a developer wants to switch the main TFM to get a better IDE experience for that TFM, she'd have to reorder the TFM list, right? We can probably work with that.

[2018-03-20 05:02] steffenloesch commented on #2711
We currently define the TFMs in a file that's imported by Directory.Build.Props, but that could be changed. That's why I asked :-) We'd be even OK with defining everything in the project file directly, but having the ability to have the definition in one place like Directory.Build.Props would be much nicer.

Have you thought about conditions on the property definition for TargetFrameworks, Platfor

[2018-03-20 05:15] umarsolehri commented on #3398
https://developercommunity.visualstudio.com/content/problem/218144/error-while-creating-new-and-openinng-previous-pro.html?childToView=218155#comment-218155

[2018-03-20 05:18] davkean commented on #2711
If we guessed "wrong", we were thinking about burning what we found in the suo so next time you open it's faster.

What do your conditions look like?

[2018-03-20 05:24] davkean commented on #3398
Closing this lieu of the feedback item.

[2018-03-20 05:24] #3398 closed

[2018-03-20 05:29] davkean opened #3406 "Implement VSHPROPID_PreferredLanguageSID"
We're currently returning DISP_E_MEMBERNOTFOUND for VSHPROPID_PreferredLanguageSID which is resulting in some extension code failing when run against CPS. We should implement this.

[2018-03-20 05:32] davkean commented on #3406
Almost all usage internally looks like they are just using to sniff project language, so we should just implement this.

[2018-03-20 08:01] Xiu-Li commented on #3338
Verified this, **not repro** on latest d15.7 and d15.7stg VS build.

[2018-03-20 08:14] davkean commented on #3338
Awesome thanks for following up @Xiu-Li!

[2018-03-20 08:14] #3338 closed

[2018-03-20 09:05] xen2 opened #3408 "Build stuck due to missing ProjectRestoreInfo"
Since we converted our project (Xenko) to new project system, we often (esp. after switching branches) end up in a broken state.

When trying to build, we end up with something like this in the log:
[code]
Build is totally stuck, i.e it stays like this:
[code]

Restarting VS & git clean (.vs) usually doesn't seem to fix the issue.
I sometime get out of the situation by:
(1) Killing all MSBuild pro

[2018-03-20 09:28] davkean commented on #3323
I think I have a design for this and turns out to be pretty easy:

- In TargetFrameworkProjectConfigurationDimensionProvider, when this option is set; we'll return just the first TFM from the list `<TargetFrameworks/>`. The rest of the IDE will still think it's in multi-targeting mode, and hence things like solution build will continue to work (where it clears "TFM" to build from the outer), but a

[2018-03-20 16:56] Pilchie commented on #3406
See also #2876

[2018-03-20 17:28] loop-evgeny opened #3409 ""Assets file '...' doesn't have a target for '.NETCoreApp,Version=v2.0'. Ensure that restore has run and that you have included 'netcoreapp2.0' in the TargetFrameworks for your project." after upgrading to VS 15.6.3"
Since updating VS 15.6.2 to 15.6.3 I started receiving the following error after modifying a source file and rebuilding the solution:

[code]

That is, the solution initially builds successfully, but if I a change a C# source file and try to build it again the error occurs (every time). If I clean the solution it then builds successfully again.

It doesn't complain about the project I modified, bu

[2018-03-20 17:31] jcouv commented on #3341
Confirmed. I was getting a popup with logs related to this in `Version 15.7.0 Preview 1.0 [27513.1.d15.7]`, but it seems to be resolved in `Version 15.7.0 Preview 2.0 [27517.0.d15.7]`.
Thanks

![image](https://user-images.githubusercontent.com/12466233/37670065-9970bcee-2c25-11e8-8baa-5810433c98ca.png)

That log file contains:
[code]

[2018-03-20 18:34] paulvanbrenk commented on #2849
Is this still happening for 15.7, we have very little runway to update the Node Tools and TypeScript at this point.

[2018-03-20 21:26] davkean commented on #3406
Ah, forgot about this - just going to dup this against it.

[2018-03-20 21:26] #3406 closed

[2018-03-20 23:07] davkean commented on #3341
Yep that was a separate bug: https://github.com/dotnet/project-system/issues/3338, which was also fixed.

[2018-03-20 23:39] jmarolf commented on #2849
@paulvanbrenk I do not think this is going to happen for 15.7 at this point. @Pilchie to confirm

[2018-03-20 23:44] jmarolf commented on #3408
@xen2 could you install [this exentions](https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools) and capture a verbose build log?

[2018-03-21 05:22] Varorbc opened #3410 "How to create a .net framework class library in new .csproj formate？"
How to create a .net framework class library in new .csproj formate？

[2018-03-21 05:39] davkean commented on #3410
Bear in mind that certain features (such as WPF/WinForms designer) do not currently work when using the new format/project-system.

To target .NET Framework, you can simply change TargetFramework. For example, to target .NET Framework 4.6.1:

[code]

[2018-03-21 05:54] jcouv opened #3411 ""The specified language version is invalid" warning when using VB LangVersion set to 14.0, 15.0, default, latest"
@0xd4d commented on [Sat Aug 19 2017](https://github.com/dotnet/roslyn/issues/21628)

**Version Used**: VS2017 15.3.1

**Steps to Reproduce**:

1. Create a VB project
2. Add `<LangVersion>latest</LangVersion>` (or 14.0 or later) to the project file and save it
3. Reload the solution in VS
4. Compile
5. Check the 'Error List' window

**Expected Behavior**:

No warning

**Actual Behavior**:

Warning

[2018-03-21 06:08] davkean commented on #3411
@panopticoncentral @tmeschter Did we hook up language version support for legacy project system? If so, did you support marking it as "latest"?

[2018-03-21 06:55] Varorbc commented on #3410
why classLibrary project template don't use new .csproj formate in vs2017?

[2018-03-21 06:56] davkean commented on #3410
The new format requires project-system changes, the new project system doesn't yet have all the features to replace the legacy project system, and the legacy project system doesn't have the features to adopt the new format.

This will be resolved in future versions.

[2018-03-21 06:56] #3410 closed

[2018-03-21 07:01] Varorbc commented on #3410
Is there a schedule? @davkean

[2018-03-21 07:03] davkean commented on #3410
We have a roadmap: https://github.com/dotnet/project-system/blob/master/docs/repo/roadmap.md but no dates.

[2018-03-21 07:07] Varorbc commented on #3410
thank you very much

[2018-03-21 10:15] memark commented on #3411
@davkean I did some investigating

CS new project system: all values work
CS old project system: all values work
VB new project system: all values work
VB old project system: values `9, 10, 11, 12` work. above fails.

I also note that `vbc /languageversion:?` returns
[code]

[2018-03-21 12:06] omega1970 commented on #3409
Same issue after upgrading to 15.6.3. Using 'dotnet build' in package manager console solves the problem temporary, but any code change to a multi-target framework project requires me to do another dotnet build.

[2018-03-21 12:19] loop-evgeny commented on #3409
Mine isn't even multi-target, I have `<TargetFramework>netcoreapp2.0</TargetFramework>` for all projects.

[2018-03-21 12:33] davkean commented on #3409
Sorry for the late reply, see: https://github.com/dotnet/sdk/issues/2068.

[2018-03-21 12:33] #3409 closed

[2018-03-21 12:38] loop-evgeny commented on #3409
Thanks, but is the same issue known to occur without multi-target projects (my case)?

[2018-03-21 12:40] davkean commented on #3409
It's unrelated to multi-targeting, do you have R# installed?

[2018-03-21 12:42] loop-evgeny commented on #3409
OK, good. Yes, I have R# 2017.3.3. (I hadn't tested disabling it, since I didn't think it was involved in the build.)

Can I install 2 different minor versions of VS side-by-side to test this? So when 15.6.4 is released (which presumably will fix this), can I install it without affecting my working 15.5.7 installation? If so, how?

[2018-03-21 12:46] davkean commented on #3409
The linked bug has a workaround, uninstall the SDK if you'd like to keep R# enabled.

TBH I don't know a public way to install 15.5 and 15.6 on the same machine (we support it internally, but there's no public links for 15.5), @Pilchie is there a way?

[2018-03-21 12:49] loop-evgeny commented on #3409
Or 15.6.2 and 15.6.4?

Is there even a way to update my 15.5.7 to 15.6.2? Why does MS make it _so_ hard to install the version I want? At the very least you could keep around links to the installers for each version - I'm sure they still exist on the MS download servers, but the links are gone.

[2018-03-21 15:43] Pilchie commented on #2849
Agreed - this is not the sort of thing we will do in a scoped release like 15.7.

[2018-03-21 15:53] Pilchie commented on #3409
This page is the only information I know about it: https://docs.microsoft.com/en-us/visualstudio/productinfo/installing-an-earlier-release-of-vs2017

[2018-03-21 18:36] #3384 closed

[2018-03-21 18:38] Pilchie commented on #3394
@greggm - any ideas here?

[2018-03-21 18:45] Pilchie commented on #3396
Copied dumpfile to `\\ddfiles\team\public\kevinpi\3396.DMP`.  @Xiu-Li in future, please copy dump files to a share and ideally include the callstack of the crashing thread.

Callstack:
[code]

[2018-03-21 18:45] Pilchie commented on #3396
This issue was moved to dotnet/roslyn#25655

[2018-03-21 18:45] #3396 closed

[2018-03-21 18:50] Pilchie commented on #3408
Also, can you get a project system log as described here: https://github.com/dotnet/project-system/pull/3027#issuecomment-350109050

[2018-03-21 18:53] Pilchie commented on #3387
Ping @davkean ?

[2018-03-21 19:45] WardenGnaw commented on #3394
I'm currently investigating this issue. Sadly, I can't recreate the issue and I am still looking for a consistent repro.

[2018-03-21 21:57] xoofx commented on #1125
Hey,
I'm trying to enable debug with a new csproj having a net461 target framework by adding the property:

[code]

But I can't get the mixed debugger to run, only the managed one is working. I'm using VS 2017 15.6.2 installed.
This is supposed to be possible right? (Maybe messing something here...)

[2018-03-21 22:02] Pilchie commented on #1125
If you have an sdk style project you need to do it in a launchSettings.json as above, not in the csproj itself.

[2018-03-21 22:05] xoofx commented on #1125
han, all good, it works, thanks a lot for the quick answer! 🎉

[2018-03-21 22:21] Pilchie commented on #3391
Let's call this `AdditionalDesignTimeBuildInput`

[2018-03-22 00:46] davkean commented on #2291
@jibal Can you use **Help** -> **Send Feedback** -> **Report a Problem** and provide feedback on this? Thanks!

[2018-03-22 00:48] davkean commented on #3387
Unsure - maybe we can avoid this path on open or change it to avoid the lookup?

[2018-03-22 01:01] davkean opened #3414 "In recent builds, files are opening in Misc IntelliSense before switching to project-IntelliSense"
1. Open ProjectSystem.sln
2. Open src\Microsoft.VisualStudio.ProjectSystem.Managed\ProjectSystem\Configuration\BaseProjectConfigurationDimensionProvider.cs
3. Close the solution
4. Reopen the solution

![documents](https://user-images.githubusercontent.com/1103906/37745399-a63b2186-2dc8-11e8-9c17-dd120d08e99d.gif)

[2018-03-22 04:12] xen2 commented on #3408
Now loading the project with Build Logging + `PROJECTSYSTEM_PROJECTOUTPUTPANEENABLED=1`:

Here is the Build Logging pane result:
[buildloggingpane2.txt](https://github.com/dotnet/project-system/files/1836037/buildloggingpane2.txt)
We can see lot of `DesignTimeBuild` stuck in `Running` state. This is probably what is preventing normal build to continue.
Here's the MSBuild log of one of those `Runni

[2018-03-22 05:27] panopticoncentral commented on #3411
Could either be missing support in the VB project system, or could be an issue with DTBB translation layer again.

[2018-03-22 07:25] zuozhiwen commented on #2733
not fix yet!

[2018-03-22 13:27] DevMatthias commented on #3039
I have just tried the VisualStudio 15.7.0 Preview and the DT-builds are gone on rebuild and I guess the issue is fixed.

[2018-03-22 21:21] Pilchie commented on #3408
@lifengl @jviau @adrianvmsft Any ideas here?

[2018-03-22 21:31] adrianvmsft commented on #3408
I see DesignTimeBuildManagerService in the log, so it could be related to the new DTBB service.
Could you try switching off to the old design time mechanism by setting this environment variable and see if you experience the same behavior?

SET CPS_DesignTimeBuild=Cps

[2018-03-22 21:32] lifengl commented on #3408
@panopticoncentral do you know about the ProjectLogger code here?

[2018-03-22 21:33] adrianvmsft commented on #3408
Actually, nevermind, I see it already calls the old design time build system

[2018-03-23 01:08] adrianvmsft opened #3416 "Getting several design time build warnings when opening the Roslyn solution"
When I open the roslyn solution, I get several (between 5 and even 30 sometimes) warnings like this (in the design time build output window):

------ Build started: Project: BasicCommandLineTest, Configuration: Debug|AnyCPU, Targets: CollectResolvedSDKReferencesDesignTime, CollectPackageReferences, ResolveComReferencesDesignTime, ResolveProjectReferencesDesignTime, BuiltProjectOutputGroup, Collect

[2018-03-23 01:55] davkean commented on #3416
@rainersigwald did the cache format change?

[2018-03-23 01:56] davkean commented on #3416
Looks related to: https://github.com/Microsoft/msbuild/pull/3107.

[2018-03-23 01:57] davkean commented on #3416
This issue was moved to Microsoft/msbuild#3123

[2018-03-23 01:57] #3416 closed

[2018-03-23 21:38] Pilchie commented on #1128
@davkean Did you do this already?

[2018-03-24 01:04] davkean commented on #1128
Yep, this is done.

[2018-03-24 01:04] #1128 closed

[2018-03-24 07:42] cmeeren commented on #3138
Finally got around to it. Here's a repro solution and the log you requested.

[TestApp.zip](https://github.com/dotnet/project-system/files/1844150/TestApp.zip)
[log.txt](https://github.com/dotnet/project-system/files/1844151/log.txt)

[2018-03-24 15:34] AndrewBrianHall opened #3420 "Console apps should offer "Manage User Secrets" context menu"
.NET Core console apps will load values from usersecrets.json, so we should offer the "Manage User Secrets" context menu item on the project just like ASP.NET Core projects

[2018-03-25 10:08] davkean commented on #3420
This would a web feature, no?

[2018-03-26 00:04] Andrew-MSFT commented on #3420
We already supports it, I filed this ticket in response to a customer asking why we didn't show it for Console apps because it works for console apps.  He is currently working around it, but it's reasonable to ask that it be there if it's supported

[2018-03-26 00:06] davkean commented on #3420
As in - whomever owns this feature needs to opt into our project type.

[2018-03-26 00:08] Andrew-MSFT commented on #3420
Ah, that would be @BillHiebert

[2018-03-26 06:48] eriawan opened #3421 "Creating unit test project using .NET Framework template will open older project model with packages.config"
Hi guys,

Now that most of us use VS 2017 15.5.x or later, the project creation (including .NET Core and .NET Framework new project creation) should by default choose `PackageReference` model.

Machine configurations: (I have 2 machines)

- OS: Windows 10 Pro, build 16299.15
- VS used: VS 2017 Enterprise 15.5.5, VS 2017 Enterprise 15.6.4
- No VS 2017 preview installed

# Problem
Every time I creat

[2018-03-26 06:51] davkean commented on #3421
This issue was moved to NuGet/Home#6736

[2018-03-26 07:35] davkean commented on #2733
Folks we haven't forgotten about this issue, its very top of mind.

The existing code that hooked up the language service had a large architectural flaw that prevented this from being a single bug fix. We've redesigned the architecture over here: https://github.com/dotnet/project-system/pull/3423 to handle this better. Note this is still a work in progress.

[2018-03-26 16:05] loop-evgeny commented on #3409
So what am I supposed to do? Stay on 15.5.7 forever (with its own bugs) or risk wasting 5-6 hours of my time whenever there is a new release?

[2018-03-26 16:51] abpiskunov commented on #3420
@davkean  it should be in reverse order actually: we could make feature independent on project system and be tied to capability and core project system should add capability to their targets.

[2018-03-26 21:13] jcouv commented on #2732
Note: a number of users reported pain with this setting being per-configuration (see comments in https://github.com/dotnet/roslyn/issues/21783#issuecomment-376308936).

[2018-03-27 08:36] DavidArno commented on #2732
Will this likely be fixed any time soon? As @davkean says, it ought to be easy to fix for the new project file format, but six months later it's still doing it the messy way.

[2018-03-27 11:55] davkean commented on #2732
@DavidArno We're focusing on bugs that affect inner loop and those without workarounds. While annoying, this is a once per project change that has an easy workaround to simplify resulting comparison.

[2018-03-27 15:17] StingyJack commented on #3186
Sorry, what's the result of this? Its kind of annoying and a minor timesink to keep coming up in pending changes or code reviews.

[2018-03-27 15:38] EnCey commented on #3186
@StingyJack and others annoyed by this bug: please head over to [the Developer Community issue](https://developercommunity.visualstudio.com/content/problem/204355/subtype-designer-is-added-unnecessarily-to-xml-bas.html) and upvote it. Leave a comment / reply if you want to generate even more buzz.

As davkean mentioned above:

My personal impression of the situation is that this issue now sits in

[2018-03-27 16:08] StingyJack commented on #3186
Sorry again, but devcomm is a no-go for me anymore. Less than 25% of about 230 issues i opened were resolved, and after pointing out the weird or atrocious mishandling for a few issues, it was apparently easier to suspend my accounts with a suspect excuse rather than address the mishandling problems and the unresolved issues.

[2018-03-27 18:58] Pilchie commented on #3409
This issue was fixed in 15.6.4 which was released on Friday, as indicated in the primary issue.

[2018-03-27 19:19] Pilchie commented on #1050
Also at https://developercommunity.visualstudio.com/content/problem/221108/debug-command-line-arguments-cramped-in-a-little-s.html

[2018-03-27 22:38] davkean commented on #3186
@StingyJack If there are bugs or issues that are blocking your work that you would like to see addressed, please [open a support request](https://support.microsoft.com/en-us/getsupport?oaspworkflow=start_1.0.0.0&wf=0&wfName=productselection&gprid=1117&st=1&wfxredirect=1&sd=gn&ccsid=635804557460268950&forceorigin=esmc). Github/Developer community are intended as convenient ways to report issues and

[2018-03-28 02:01] davkean opened #3425 "Add an API that lets consumers wait on language service to be up-to-date with a given project version"
We need an API that lets consumers wait on the language service to be up-to-date with a given project version, similar to IProjectTreeService.PublishTree:

[code]

This lets services such as CodeModel provider to block this before returning a CodeModel item, or the renamer to block on this attempting to rename. Also lets us block VS integration tests on this work before attempting to test state.

[2018-03-28 02:04] davkean opened #3426 "Add an API that lets consumers wait on dependency node to be up-to-date with a given project version"
Similar to: https://github.com/dotnet/project-system/issues/3425.

We need an API that lets consumers wait on the dependency node to be up-to-date with a given project version, similar to IProjectTreeService.PublishTree:

[code]

This lets us block VS integration tests on this work before attempting to test state. Without this its impossible to determine when the dependency node has finished work.

[2018-03-28 02:05] davkean opened #3427 "Add an API that lets consumers wait on restore being up-to-date with a given project version"
Similar to: https://github.com/dotnet/project-system/issues/3425.

We need an API that lets consumers wait on restore to be up-to-date with a given project version, similar to IProjectTreeService.PublishTree:

[code]

This lets us block VS integration tests on this work before attempting to test state. Without this its impossible to determine when restore has finished work.

[2018-03-28 04:29] StingyJack commented on #3186
Sorry a third time (and final I promise) for belaboring this thread. @davkean - Is there an email address I can reach account support at? One of the unresolved issues on devcomm  is that my accounts aren't linked right.

[2018-03-28 07:42] loop-evgeny commented on #3409
Yes, I saw that, but as with any new release there is a risk it will badly break VS in some way. 15.6.3 wasn't the first version to do so and won't be the last. The options I currently see are:

* Never upgrade from a version that (more or less) works.
* Upgrade to every new release and risk wasting 5-6 hours if it breaks
* Spend some time testing a new release of VS on a dedicated machine (possib

[2018-03-28 11:10] jmroyb commented on #2720
Still happening in v15.6.4

[2018-03-29 01:56] davkean opened #3429 "Opt fsproj out of MSBuild XSD warnings"
1. Edit fsproj

Expected: No warnings
Actual:

[code]

We need to opt fsproj out of these warnings similar to vbproj/csproj/props/targets.

[2018-03-29 14:57] ceddlyburge commented on #2759
I am getting this error message a lot today as well, and a restart of visual studio fixes it. The projects are loaded and in the solution, so that's not the problem for me.

[2018-03-29 19:26] lifengl opened #3430 "The visual effect of the dependencies node makes customer to wait on it"
Feedback from Svet.  I think he has a very good point on it:

There are two issues with the current UI:

1, the dependencies UI doesn’t make difference between references are not resolved correctly vs. resolving references is still on-going.  The bright yellow warning sign makes customers to feel something is wrong, which is not the case.
  Svet suggested that we should have a different UI indicat

[2018-03-29 22:05] davkean commented on #603
Nope please file a new bug for that.

[2018-03-29 22:38] pierceboggan commented on #3028
@Pilchie Did this fix end up making it into 15.6?

[2018-03-29 23:25] nkolev92 opened #3431 "Show contentFiles from nuget packages in legacy project system"
In the new project system, the static contentFiles from Nuget are linked and shown in the solution explorer.

![oldvsnewcsproj](https://user-images.githubusercontent.com/2878341/38118064-42d8e704-336d-11e8-96e8-bc95892b1b6e.png)

The old project system should do the same.

The example illustrates the difference in 15.7 P3.
ClassLibrary1 is legacy, ClassLibrary39 is SDK csproj.

As more and more pe

[2018-03-29 23:44] anangaur commented on #3431
Why does globalpackagesfolder show up here. My understanding was the contents of the contentfiles folder show up in the solution explorer.

[2018-03-29 23:49] nkolev92 commented on #3431
@anangaur
That's just my test setup :)
When I test things with packages I build locally, I set the global packages folder to a directory inside the project, to avoid polluting my actual global packages folder.

And new project system just imports/shows everything under the project folder.

[2018-03-29 23:52] anangaur commented on #3431
I guessed so but this makes the screenshot confusing. Can you clarify the following in the description?
- the content file in this case
- the layout of the this file in the package.

[2018-03-30 00:41] lifengl commented on #2588
I noticed the customer has sent a feedback item with some ETL traces.  The trace shows the performance issue related to globbing items.  Considering many improvements inside msbuild in this area in 15.5 timeframe, and this was an old report, I will resolve that as fixed by msbuild.

If we still see this problem in the new VS update, please report it, and we can take another look.

[2018-03-30 02:04] davkean opened #3432 "MetadataReferenceHandler is allocating a lot trying to root the reference"
Large solution, UI delays due to GCs:

![image](https://user-images.githubusercontent.com/1103906/38121437-de191d44-341a-11e8-8b41-00accefc78d7.png)

[2018-03-30 02:34] davkean commented on #3432
An approach might be to grab PathHelper.IsRooted/IsPathFullyQualified and check before rooting, however, note we expect normalization of the references to avoid duplicates - so we should figure out what Roslyn does when we the same reference but not normalized to look at the same.

[2018-03-30 12:32] ghuntley commented on #2284
Does not repro with 15.7.0 Preview 2.0

![2018-03-30_23-28-00](https://user-images.githubusercontent.com/127353/38137722-0749d9f4-3472-11e8-9bf0-68b167441384.gif)

[2018-03-30 12:41] davkean commented on #2284
Thanks! I close it out.

[2018-03-30 12:41] #2284 closed

[2018-03-30 13:36] ghuntley commented on #2704
Reproducible with Version 15.7.0 Preview 2.0 but observed different side effects.

* `Program.cs` is successfully updated to `P1.cs` in the csproj and on the filesystem after renaming.
* Immediately after renaming in visual studio the Intellisense window throws a failure

`[Failure] Could not find file 'c:\users\ghuntley\source\repos\ConsoleApp3\ConsoleApp3\Program.cs'.`

![2018-03-31_0-27-56](htt

[2018-03-30 17:51] Pilchie commented on #3028
Not yet, and at this point it's unlikely to fit :-/

[2018-03-30 18:37] Pilchie commented on #3408
Any progress here?  What are next steps?

[2018-03-30 18:38] Pilchie commented on #3394
Any updates here?

[2018-03-30 18:53] Pilchie commented on #1166
https://github.com/dotnet/project-system/issues/3387 - Wonder if this is a possible solution...

[2018-03-30 19:02] Pilchie commented on #1840
We have the beginnings of closed source versions of these.  Work to get them running in the open will continue into 15.8 though.

[2018-03-30 19:19] Pilchie commented on #1740
@tmeschter - do we have an internal VSTS bug tracking this?  If so, maybe we should close this and use that instead, since it will have more accurate hit count information?

[2018-03-30 19:36] Pilchie commented on #2502
@panopticoncentral has a PR out at for the internal code for this.

[2018-03-30 19:44] Pilchie commented on #2583
Does this work on command line builds?  @nguerrera or @lifengl - where should this be moved?

[2018-03-30 19:51] Pilchie commented on #2630
@tmeschter this is merged, right?

[2018-03-30 19:52] tmeschter commented on #2630
@Pilchie The project system changes are in, but I'm still trying to get the NuGet changes in. :-(

[2018-03-30 19:55] nguerrera opened #3435 "Design-time build only provides top-level package/project dependencies, sourcing transitive references from project.assets.json"
Project system half of dotnet/sdk#2100:

Notes from @abpiskunov from our meeting:

cc @Pilchie @davkean @abpiskunov

[2018-03-30 20:06] nguerrera commented on #2583
This doesn't work on the command line either. I think it's a fundamental issue with the fact that nuget restore shares assets file between configurations. I don't think SDK nor CPS can fix this either. It's more of a nuget issue.

[2018-03-30 20:09] Pilchie commented on #2711
@davkean are you working on this?  Should I move it back to you?

[2018-03-30 20:13] Pilchie commented on #2583
This issue was moved to NuGet/Home#6757

[2018-03-30 20:13] #2583 closed

[2018-03-30 20:16] Pilchie commented on #2729
This works for me with 15.7 Preview 2.

[2018-03-30 20:16] #2729 closed

[2018-03-30 20:18] Pilchie commented on #2763
@panopticoncentral this should be closed now, rigtht?

[2018-03-30 20:28] Pilchie commented on #2825
@davkean is there more you want to do here?

[2018-03-30 20:43] Pilchie commented on #2940
Fixed now, right @davkean ?

[2018-03-30 20:45] Pilchie commented on #2942
@Ping @livarcocc and @BillHiebert, and also throwing @greggm on here for any thoughts he might have?

[2018-03-30 20:46] Pilchie commented on #2966
@davkean said he was going to pick this up, since I'm not likely to have a chance to in the next little bit.

[2018-03-30 20:50] Pilchie commented on #2972
We should think more about this as we change the language service init.

[2018-03-30 21:53] roji commented on #1821
@davkean and others, can you please clarify what the right behavior here should be, and which GUID should be used when a new .NET Core (new csproj) project is created?

I ran into this with Project Rider, which create new .NET Core projects with FAE04EC0, but VS switches them to 9A19103F. Which GUID should Rider (and other IDEs) be creating?

https://youtrack.jetbrains.com/issue/RIDER-14653

[2018-03-30 22:14] WardenGnaw commented on #3394
Still none. I can still terminate dotnet.exe from VS in .net core projects.

[2018-03-30 22:38] WardenGnaw commented on #3394
@SharafiAli @GeekyMonkey Instead of using VS to stop the process, Can you try killing the `dotnet.exe` process with another tool? You can use something like `taskkill /im dotnet.exe`. Let me know if this actually kills the process.

Another way to help is to provide a dump for us to investigate this issue:

You can collect a dump file with the following steps:
1. Start Visual Studio. 
2. Start ano

[2018-03-30 22:43] panopticoncentral commented on #2763
The CPS problem is fixed but there is still some kind of CSProj problem. Since that code hasn't been touched in a long time, it's likely a longstanding bug. I'll take a look in 15.8.

[2018-03-30 23:06] davkean commented on #2940
Ah yes.

[2018-03-30 23:06] #2940 closed

[2018-03-30 23:55] davkean commented on #2711
Yeah I have an implementation of this.

[2018-03-31 05:37] panopticoncentral commented on #3138
@cmeeren What version are you running? On the build I'm running the up to date check correctly took the xaml files into account, so trying to figure out what could be the difference.

[2018-03-31 07:47] GeekyMonkey commented on #3394
For me the problem comes and goes. I can work half the day doing lots of bulks cycles and it works. Then once it stops working, I have to manually kill the dot net process to enable the build to complete. I set up a Windows hot key that fires a power shell script. It'll stay like this for all subsequent build cycles. If I reboot then I'm back to normal build cycles.

[2018-03-31 09:54] ghuntley commented on #2122
Confirmed in `15.7.0 Preview 2.0` using netstandard project.

* [ ] Obtain font preferences from ????
* [ ] Update https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/PropertyPages/WatermarkStyle.xaml
* [ ] Update https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSyst

[2018-03-31 14:08] cmeeren commented on #3138
VS 15.6.4.

[2018-03-31 18:31] jcouv opened #3438 "Set templates for new projects to use determinism"
I created a new desktop project and it does not have the determinism option turned on.
In contrast, .NET Core projects have [determinism turned on](https://github.com/dotnet/roslyn/issues/372#issuecomment-377711471) by default (in the targets).

`<Deterministic>true</Deterministic>`

Tagging @davkean I wasn't sure if this is the proper repo to file this issue. Is this where templates are maintaine

[2018-04-02 01:12] Dark-Bond commented on #2687
What's the status of this?  Just like the OP, I've got a significant amount of code generated from custom tools.  It's been more than a year.  Do you have any insight on what's wrong and/or when it will be fixed?

[2018-04-02 04:05] steffenloesch commented on #2711
@davkean, here's the answer to your conditions question. Currently we set conditions based on BuildingInsideVisualStudio and a custom static property that we set ourselves. The static property is currently not defined in Directory.Build.props, but it could easily be moved there.

[2018-04-02 04:14] JoeGaggler commented on #2687
Looks like this was punted again. As a workaround I have our custom tools running in a legacy project in the same solution, however I'll be looking into migrating away from VS-registered Custom Tools altogether (i.e. ISingleFileGenerator)

[2018-04-02 07:05] eriawan opened #3440 "PDB and PROPS file extension type have Russian language description on English-US locale setting"
## Current Configuration

Current machine configuration:

- Windows 10 1709 16299.309
- VS 2017: 15.6.4 Enterprise
- Language and locale settings used: English US

## Problem

When opening Windows Explorer, the file extension remark/information under "Type" column is showing Russian language for PDB and PROPS files.

Screenshot: (PDB files)

![image](https://user-images.githubusercontent.com/87731

[2018-04-02 13:04] jmarolf commented on #3438
The templates for the .NET Framework aren't open source (yet) but I can add the `<Deterministic>true</Deterministic>` property to them.

[2018-04-02 14:16] Dark-Bond commented on #2687
I don't get it.  Are they trying to drive us out of the Visual Studio environment?  You can't even use the DataSets any more in .Net Standard.  A whole year has gone by and no one seems to have noticed.  Am I on the wrong track with moving to .Net Standard or should I give up on the concept of IDE custom tools?

[2018-04-02 15:53] Pilchie commented on #3440
The windows shell registrations are a "last installed wins" issue, so if you installed the Russian language pack, you'll get to the Russian ones until you either:
1. Install another language pack.
2. Run a repair on VS with English selected.

[2018-04-02 16:08] panopticoncentral commented on #3138
I believe this was fixed by https://github.com/dotnet/project-system/pull/3290 in 15.7.

[2018-04-02 16:08] #3138 closed

[2018-04-02 17:27] dgxhubbard commented on #2177
Appending any version to the output path after the user has changed it to what they want should not be done. I set the output paths to what I wanted now I have visual studio changing it and appending something for .net core or .net standard. That's not the behavior I need. We know what the version we are building is set to and we set a base path where everything needs to be. Can this please be add

[2018-04-02 17:33] Pilchie commented on #2177
Pulling into 15.8 to try and address this sooner.

See also :link: https://developercommunity.visualstudio.com/content/problem/37622/project-build-output-path.html

[2018-04-02 19:10] panopticoncentral commented on #3359
@davkean Yes, that appears to be it -- the dataflow appears to be *very* confused by this, I get a project update saying that there is a Compile item Class1.cs, then I get an update saying, no, there are no Compile items, then maybe I get another update saying, yes, there is a Compile item Class1.cs, then another update...

This isn't technically a bug in the fast up-to-date check, we're just foll

[2018-04-02 19:27] jcouv commented on #3438
That works. Thanks!
@gafter @jaredpar FYI, we'll turn on determinism in remaining project templates (ie. desktop one).

[2018-04-02 20:53] #3440 closed

[2018-04-02 21:24] nguerrera commented on #3435
At last weekly sync up, there was talk that this would probably be pushed out to 15.8. The sdk side is currently scheduled for 2.1.4xx. At the earliest it could be pulled into 2.1.3xx, but I think we're pretty booked up at this point. cc @livarcocc

[2018-04-02 21:29] Pilchie commented on #3435
Okay - thanks for the heads up.  I think it's too bad to not do more here in 15.7, but I guess there is at least the hammer option that you can turn Dependencies node off entirely with targets files.

[2018-04-02 21:43] abpiskunov commented on #3435
One of the potential quick workarounds would be to change SDK in such a way that it send same data , but only for top level dependencies, as there no lower level hierarchies at all. This would not require project system changes, only sdk. Keep this change off by default and add an option to turn on this workaround for people who wants it.

[2018-04-02 21:57] ghuntley opened #3441 "Add CI leg for non ENU Windows"
See https://twitter.com/jaredpar/status/980903378711490560 for full context. Currently, project-system is green when built on non-ENU windows thus this is a defensive move to prevent regressions.

Related:
* https://github.com/dotnet/corefx/issues/28729
* https://github.com/dotnet/roslyn/pull/25874

[2018-04-03 00:01] Pilchie commented on #3441
Hey @jaredpar - do you want to do this for us? 😛

[2018-04-03 03:33] jcouv commented on #3438
@jmarolf Could you also check if the templates use `AssemblyVersionAttribute` with a wilcard (`*` format)? If they do, we'd need to remove them to enable determinism.

[2018-04-03 04:44] eriawan commented on #3421
@davkean

Could you reopen this issue? Because I think this issue is not directly related to Nuget, and based on the latest conversation between @jainaashish and me in the Nuget/Home#6736, it has been confirmed by him that this is not Nuget issue too.

Or is there a repo for .NET Framework unit test project template? If there's any, I would love to move my issue to that repo.

Because I thought th

[2018-04-03 06:51] jmarolf commented on #3438
@jcouv right, I'll include you on the PR

[2018-04-03 07:05] jmarolf commented on #3421
This is a feature request.  Currently it is by design that .NET Framework projects do not opt into the new sdk features and do not use package references.  What I am hearing @eriawan say is that he at least wants us to use package references in .NET Framework templates

[2018-04-03 08:13] ghuntley commented on #3399
Reproducible with Version 15.7.0 Preview 2.0; observations as follows:

# .NET Framework
When dragging binary files onto the resx appdesigner:
* The file is copied to `Resources/$filename`
* The resx reference is relative to the file within the project root
* It compiles fine.

Repro: [dotnet-framework-class-library-compiles-file-is-copied.zip](https://github.com/dotnet/project-system/files/187068

[2018-04-03 09:04] eriawan commented on #3421
@jmarolf

Thanks! I'm sorry if this was meant for feature requests.

I think I have to little bit disagree about your statement about _by design_:

That might not be true, according to my own experiences when I use VS 2017 15.5.x and 15.6.x. Because as far as I know, if we create new .NET Framework based projects such as class library, console, WindowsForms, and WPF (except unit test projects), th

[2018-04-03 13:36] jmarolf commented on #3421
@eriawan ah, I stand corrected.  Looks like this was an oversight by the template owner. @jainaashish what is the public api that template authors should use to determine which setting (packages.config or package reference) has been set by the user?

[2018-04-03 15:15] Pilchie commented on #3421
Isn't this a matter of whether the NuGet template wizard supports <PackageReference> or not?  IIRC - when we did project.json/packagereference for UWP, we did it with a custom template wizard, but to fix this in general, NuGet should fix the template wizard to support the option and do the right thing.