[2021-03-31 19:04] ocallesp commented on #6795
The itemSpecification returned by `GetProjectReferencesAsync()` are different from the `TryUpdateReferenceAsync() `
i.e    "..\\ClassLibrary1\\ClassLibrary1.csproj"  and "ClassLibrary1"

Roslyn needs to fix the itemSpecification to use the one from `GetProjectReferencesAsync()`
and add the missing methods `Undo()`, and `Redo()` to `IProjectSystemReferenceCleanupService`

This PR already implements

[2021-03-31 20:23] drewnoakes commented on #7019
@wouterroos once you find a repro, post it here and we will reopen the issue.

[2021-04-01 05:53] wouterroos commented on #7019
@drewnoakes Great! I will create one tomorrow and report back here.

[2021-04-01 21:52] drewnoakes commented on #7046
The fix in VS was merged.

[2021-04-01 21:52] #7046 closed

[2021-04-02 01:29] drewnoakes commented on #6604
There was already an attempt to use these interfaces for node customisation, but the implementation was not adequate. I'll fix it and get a PR in today.

[2021-04-02 02:33] drewnoakes opened #7079 "Provide an extension point for control and notification of dependency removal"
The WAP team need to react to the removal of certain references from the dependencies tree.

Currently the dependency tree removes items directly from the project instance.

There is some concern (from @lifengl) that monitoring the project via dataflow would lead to incorrect reactions to certain kinds of changes (e.g. branch switches).

The proposal is to reuse the `IProjectTreeActionHandler` int

[2021-04-02 15:53] tmeschter opened #7081 ""Platform target" does not include "ARM64" as an option. (2)"
**Visual Studio Version**:

16.10 Preview 2 (around 31202.13.main)

**Summary**:

The "Platform Target" property does not surface ARM or ARM64:

![image](https://user-images.githubusercontent.com/4691428/113363232-321fda80-9305-11eb-96f1-8de910eec761.png)

**Steps to Reproduce**:

1. Open Tools | Options | Environment | Preview Features and ensure that "Enable Updated Project Properties UI" is che

[2021-04-02 17:13] #7079 closed

[2021-04-02 17:13] #6604 closed

[2021-04-04 16:30] manuelelucchi opened #7085 "useWpf with SDK Style projects, NET 4.7.2 and Visual Studio 2017"
Hi, I'm currently trying to port a big wpf codebase from net framework to net core, step by step. The company I work with is stuck on Visual Studio 2017 (latest version). Since wpf projects can't be ported to net standard, I'm first converting them using try-convert (so it adds useWpf) and then changing the target framework back to 4.7.2. On Visual Studio 2019, everything works fine, the xaml comp

[2021-04-05 00:07] drewnoakes commented on #7085
2019 will be using a newer version of the .NET SDK. You can try and force 2017 to use a newer SDK via a `global.json` file, but there are no guarantees it will work.

Also we made considerable improvements to the Dependencies tree in 2019. It's possible that the tree in 2017 is not showing you what is really going on, so trust the build results over what you see in that tree in 2017.

This questio

[2021-04-05 08:39] drewnoakes opened #7086 "Exception loading launch profiles for ASP.NET project"
**Visual Studio Version**: main

**Summary**:

Attempting to show the new launch profiles editor for an ASP.NET project produces the following exception:

[code]

cc @tmeschter

[2021-04-05 08:42] drewnoakes opened #7087 "Error during creation of launch profile UI is not presented correctly"
The `DataTemplate` used for showing error messages in the Project Properties UI is not exposed to the Launch Profiles UI. It should be extracted to a `ResourceDictionary` that for use in both locations.

Without this, the error message cannot be scrolled, and cannot be copied out of the UI.

[2021-04-05 10:42] drewnoakes commented on #7087
Fixed in internal PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/315320

[2021-04-05 14:50] edwardskrod opened #7089 "Issue with dependency tree node customization via extensions"
**Visual Studio Version**: N/A

**Summary**:
There is an issue with dependency tree node customization via extensions.  The node is being added to the Dependency Tree twice, causing an exception.

Original PR:
https://github.com/dotnet/project-system/pull/7078

There's a bug in the project system code that is a result of renaming the Project node, in this case to "Applications." Take a look at lin

[2021-04-05 14:50] edwardskrod commented on #7089
This is intended for @drewnoakes

[2021-04-05 22:00] #6949 closed

[2021-04-05 23:15] MiYanni opened #7093 "OrchardCore build fails in insertion PR, 'TargetFrameworkMoniker' and 'NuGetTargetMoniker' are empty"
Branch: main
Failure PR: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/315410
Failure Test: https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=1001218&environmentId=5192066&_a=release-environment-extension&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&runId=20401222&paneView=debug&resultId=100005

This error (normally) occurs when switching b

[2021-04-06 00:09] jcouv commented on #3680
@davkean Any chance we could address this?

More customers have hit this. @RikkiGibson and I have been debugging an issue with `<WarningsAsErrors>nullable</WarningsAsErrors>` not taking effect in the IDE (Error List and squiggles) (issue https://github.com/dotnet/roslyn/issues/52407) and it looks like the compiler is given arguments in different order depending on exactly what diagnostics are list

[2021-04-06 00:11] davkean commented on #3680
I don't work on this anymore, I've unassigned myself and sent back to the triage team.

[2021-04-06 04:47] jjmew commented on #7093
@MiYanni  are you able to repro this issue locally?

[2021-04-06 08:25] wouterroos commented on #7019
@drewnoakes Please see the repro case attached to https://linkprotect.cudasvc.com/url?a=https%3a%2f%2fdevelopercommunity.visualstudio.com%2ft%2fproject-with-packageid-containing-parameter-does-n%2f1390991%3ffrom%3demail&c=E,1,TTfFoe8lDk1AEc0xOdnoeXPjehEMlJ1CrETgQ0S8d5KswF5Je9_L9FCb4BhXNJQF-Pj5Wn7w3iJM3INRp8HSMEQb-mTjgnPvdnTnENmodOV1huWdvpxVSAxI&typo=1

[2021-04-06 12:39] drewnoakes commented on #7019
Thanks @wouterroos, I _think_ I know what this issue is, and that it's related to the fact your projects are mutli-targeting. I am away from work for the rest of the week so will pick this up once I'm back.

[2021-04-06 14:09] wouterroos commented on #7019
@drewnoakes Great! looking forward to hearing from you.

[2021-04-06 16:00] jons-aura commented on #7028
I would have sworn I replied to this already. I spent some time removing extensions and seeing if the problem kept happening - so far it is - but I asked a coworker to try and reproduce it and they couldn't. I'll try to find some time to poke at this some more but if I don't reply in a week or two feel free to close this since it doesn't seem to be a common issue and it's mostly just annoying.

[2021-04-06 16:38] tmeschter commented on #7093
Note that we saw the same failure in Blend, but the test in question was not opening OrchardCore.

[2021-04-06 17:18] maxinfet commented on #6699
This would be so greatly appreciated, moving a project right now is not trivial

[2021-04-06 17:30] JoeRobich commented on #6795
I met with Osvaldo and to discuss the implementation and we have agreed on adding the following interface changes.

[code]

Roslyn will request update actions for each of the changes from the Project System. We will then apply the actions and push an Undo action onto the UndoManager which will contain all the actions for the Remove Reference invocation.

[2021-04-06 18:02] tmeschter commented on #7093
Actually this is the PR we care more about: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/315391

[2021-04-06 20:07] ocallesp commented on #7067
@swesonga, steps from 25 to 32 are not clear. I added some comments. Can you help check the repro steps ?
cc. @jjmew

[2021-04-06 20:29] ocallesp commented on #7067
@swesonga
In the description you put that the actual Behavior is "Building the console app fails.", but the title of the "initial bug is project do not trigger a build on the dependent Interop"
The first one sounds like a build issue, and the second one sounds like a FUTD issue.
Which one is correct ?

[2021-04-06 21:42] ocallesp commented on #7067
It seems that I was able to repro issue following the steps provided in here.
I see that even thought we make changes to Program.cs in ConsoleApp1, the project doesn't Build because it is up-to-date.

![image](https://user-images.githubusercontent.com/510598/113781923-43daf680-96e6-11eb-997a-ac95b9002ff1.png)

[2021-04-06 22:13] ocallesp commented on #7067
@swesonga, I see two projects skipped. Are you getting the same output ?

Build started...
1>------ Skipped Build: Project: CPPWinRTInteropReproProjection ------
1>
2>------ Skipped Build: Project: **ConsoleApp1** ------
2>
========== Build: 0 succeeded, 0 failed, 1 up-to-date, **2 skipped** ==========

[2021-04-06 23:50] dmonroym opened #7095 "Assembly Version test fails"
When commit [`32968ee` (#6885)](https://github.com/dotnet/project-system/pull/6885/commits/32968eedf3a27da6f7439d900fa92c645cbf1f2e) was introduced we didn't catch assembly version failing. This test should catch it: https://github.com/dotnet/project-system/blob/main/tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/Rules/ExportedRuleTests.cs#L103

Need to investigate if w

[2021-04-07 18:09] MiYanni commented on #7093
Fixed in: https://github.com/dotnet/project-system/pull/7096

[2021-04-07 18:09] #7093 closed

[2021-04-08 04:17] drewnoakes commented on #7067
@ocallesp are these actually legacy projects? They're showing "Dependencies" nodes in your screenshot, which implies .NET Project System.

If they're running on the .NET Project System, turn on up-to-date check logging for more information.

[2021-04-08 04:22] drewnoakes commented on #7028
The fix for `/SafeMode` will be in 16.10 preview 2, so if you download that once it becomes available (soon I believe) then you could use that to exclude extensions from the picture.

Other things to look for on your machine:
- The presence of an `.editorconfig` file somewhere in the ancestry of your project
- The presence of `Directory.Build.props` or `Directory.Build.targets` files somewhere in

[2021-04-08 16:33] tgillbe opened #7102 "Duplicate root namespace in settings file with sdk-style project"
**Visual Studio Version**: 16.9.3

**Summary**:
When using an SDK-style project and vb.net, the automated tool generates a duplicate root namespace for settings files.

**Steps to Reproduce**:

1. Create a new SDK-style project for vb.net:

[code]

2. Add a new settings file (test file is called `MySettings.settings`).
3. Inspect the generated `MySettings.Designer.vb` file.

**Expected Behavior**:

[2021-04-08 20:41] lifengl opened #7103 "Include CmdUIContextGuid to the ConfigurationGeneral rule of the NET Core project"
CPS gets the value of this property for VSHPROPID_CmdUIGuid. It prefers to use the value in the project snapshot. Unfortunately, because this is not defined in the NET Core project rule. It won't find it, and will fall back to a backup rule and uses the live project.

When thread pool is busy, or project hasn't been evaluated, this evaluation can be blocked, and leads into UI delays.  Due to this

[2021-04-08 22:15] davkean commented on #7103
Should we do a pass here and make sure all these hierarchy properties are defined in our rules?

[2021-04-09 00:07] #7089 closed

[2021-04-09 01:18] drewnoakes commented on #7103
Looking at the CPS source in `ProjectNode` for usages of `GetConfigurationGeneralPropertiesAsync` related to hierarchy properties, I see:

| Hierarchy Property | MSBuild Property | Present in .NET ConfigurationGeneral.xaml |
|-|-|:-:|
| VSHPROPID_CmdUIGuid                       | CmdUIContextGuid                | ❌ |
| VSHPROPID_PreferredLanguageSID            | LanguageServiceId               | ✔

[2021-04-09 01:19] davkean commented on #7103
I think so.

[2021-04-09 02:01] drewnoakes commented on #6911
This turned out to be more complex than expected, and is throw-away code, so we are focussing on supporting live updates instead.

[2021-04-09 02:01] #6911 closed

[2021-04-09 05:10] drewnoakes commented on #6990
The UI has been updated slightly since this issue was opened:

![image](https://user-images.githubusercontent.com/350947/114131083-3e2f1c00-9945-11eb-8742-aeb8d67a79ba.png)

We can change the check box into a drop down list with the four options @cartermp calls out. This would then remove the "Delay sign only" check box. The "Strong name key file" text box would be visible when the drop down list

[2021-04-09 05:47] #7103 closed

[2021-04-09 15:07] msedi opened #7105 "Ignore automatic nesting for Designer files"
I'm currently using the filenesting for C# projects. Everything works fine except that .Designer.cs files are automatically nested.

Background: We are having CUDA-files with the cu extensions. A process creates three additional files. Aas an example I have named my CUDA file Convolution.cu. So what is created is

[code]

which is also the hierarchy I expect in the solution explorer.
I have define

[2021-04-09 15:29] Fulgan commented on #6956
For what it's worth, I have exactly the same issue on my machine. I created a brand new solution (Blazor client app hosted in ASP.net core server using .net 50) and the problem is immediately present without me touching anything to the solution.

If it's relevant, I have Resharper and CodeRush installed as well (perhaps a weird interaction)

[2021-04-09 21:20] drewnoakes commented on #6956
@JohnNilsson are you using either of these extensions?

[2021-04-10 19:18] nick-beer opened #7110 "Marking generated files as locked/read only"
Following a pattern similar to [what's described here](https://mhut.ch/journal/2015/06/30/build-time-code-generation-in-msbuild), I'm generating some c# files into the intermediate output directory.  When those files are opened in the editor, the user can edit them.  Is it possible for me to mark those C# files in a way that causes them to be read only? Similar to NuGet `contentFiles` or C# files

[2021-04-11 21:06] edwardskrod opened #7111 "Renaming a CPP Project Does Not Update in References or Dependencies Trees in WAP or C# UWP"
**Visual Studio Version**:  16.10 Preview 2

**Summary**:
A CPP project reference in both WAP or C# UWP projects does not update when renaming a CPP project.

**Steps to Reproduce**:

1.   Create a new CPP project.   Add a Windows Application Packaging Project or a C# UWP Project.

2.  Add a project reference to the WAP/C# UWP project to the CPP project.

3. Rename the CPP project.  Right click th

[2021-04-11 22:50] drewnoakes commented on #7111
That C# project has a "References" node, so is a legacy project. It's unclear if this problem is specific to WAP projects. Requires investigation.

[2021-04-12 04:57] #7087 closed

[2021-04-12 04:58] drewnoakes commented on #7086
@tmeschter do you know if this is just a matter of defining some XAML rules for IIS / IIS Express etc?

[2021-04-12 05:00] drewnoakes commented on #6902
#6972 added some telemetry to capture when the new editor is invoked from the legacy editor.

https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/316458 adds telemetry around editor loading performance and property update performance.

[2021-04-12 06:20] Fulgan commented on #6956
Disabling these two extensions does not restore the expected functionality

[2021-04-12 11:03] JohnNilsson commented on #6956
Yes I have Resharper installed. (disabling extensions did not help me either)

[2021-04-12 11:47] PhilPJL commented on #2828
I just hit this same issue.  I see the 'DEBUG' constant issue is mentioned here https://github.com/dotnet/project-system/issues/3674.

If I don't check the 'Define DEBUG constant' in the 'Debug' configuration, 'DEBUG' is actually defined.
If I now create a new configuration based on 'Debug' the  'Define DEBUG constant' isn't checked and 'DEBUG' isn't defined.

Similarly 'Optimize code' for 'Debug'

[2021-04-12 12:10] PhilPJL opened #7112 "WinForms designer emits broken code in multi-targeted projects"
VS 16.9, 16.10

**Summary**:

[See initial post here](https://developercommunity.visualstudio.com/t/Winforms-designer-issue-with-ISupportIni/1392601?port=1025&fsid=da8f689d-711c-4ea9-bb1e-6825f9253bbe&entry=suggestion&space=8&scope=follow?port=1025&fsid=da8f689d-711c-4ea9-bb1e-6825f9253bbe&entry=suggestion&space=8&scope=follow&moreInfo=true&viewtype=all)

It's possible to create code which compile

[2021-04-12 13:58] edwardskrod opened #7113 "Code that intercepts XAML rule properties is conditioned on the .NET project capability. Can we remove this dependency?"
**Visual Studio Version**:  16.10 Preview 2

**Summary**:
The Xaml Modern Apps Tools Team has added the Dependencies Node to the Windows Application packaging project by adding the DependenciesTree capability to the project file.

We needed to add the .NET capability as well or we would get the following error:

[code]

This error popped up because we removed the .NET capability.

According to @dr

[2021-04-12 17:36] dpugh opened #7114 "No way to specify executable in new project properties UI"
**Visual Studio Version**: 31212.8.main

**Summary**: I don't see a way to specify which executable to launch as part of the project properties

**Steps to Reproduce**:

1.  Create an object file project.

2. Try to configure the debug settings for that project to launch VS (or any other executable).

3. Can't do it (or, at least, I can't find the setting).

**Expected Behavior**:

**Actual Behavi

[2021-04-12 20:39] ocallesp commented on #7067
@swesonga

![image](https://user-images.githubusercontent.com/510598/114458815-8db75700-9b94-11eb-913b-c00479026f4a.png)

[2021-04-12 20:40] ocallesp commented on #7067
@drewnoakes It is not legacy. Thanks for the observation.

[2021-04-12 22:23] drewnoakes commented on #7113
FYI Tom is out for the rest of the week.

Did you investigate whether you can remove your intercepted properties? I suspect you may be able to, and that doing so would be the path of least resistance.

[2021-04-12 22:27] drewnoakes commented on #7067
@ocallesp your second screenshot shows that the FU2D check has not run before, so it will build. You need to build again to see whether (and why) the FU2D check still thinks the project needs building.

[2021-04-13 01:27] drewnoakes commented on #7114
@dpugh thanks very much for taking the time to submit feedback. I really appreciate it.

Debug settings have been moved out to a new UI. It's not available in the public 16.10p2 build, but if you're on MS internal builds then you should be able to see it.

Right now you need to click on the "Debug" label in the navigation area, then click the link that appears in the property list to launch the UI

[2021-04-13 01:27] #7114 closed

[2021-04-13 05:50] drewnoakes commented on #6902
https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/316458 has been completed.

Remaining tasks:

- [ ] Set up telemetry ingestion (cc @jjmew)
- [ ] Identify if we need any additional telemetry (eg. cold vs. warm load indicator)

[2021-04-13 05:59] drewnoakes commented on #7111
This appears to be an issue with UWP projects. Closing as wont-fix.

[2021-04-13 05:59] #7111 closed

[2021-04-13 07:07] drewnoakes commented on #6906
Fixed in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/317101

[2021-04-13 09:18] drewnoakes commented on #5953
We can add metadata as described in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/317111 to display these in a monospace font.

[2021-04-13 09:28] drewnoakes commented on #6457
That complexity also exists for `PackageIcon` which is not currently wired up to manage the project item. This works in the legacy pages. We need to handle this.

https://github.com/dotnet/project-system/blob/034b42b3031ab93a14697b918e52f2ee79a5c55d/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/PackagePropertyPage.xaml#L94-L103

[2021-04-13 13:09] edwardskrod commented on #7111
Bug created with UWP Cpp team.

[2021-04-13 17:34] PhilPJL opened #7120 "Error message 'Assets file ...\project.assets.json' doesn't have a target for ..."
**Visual Studio Version**:
16.9.3

**Summary**:
Errors when trying to build.

**Steps to Reproduce**:

1. Create a console app (ConsoleApp1) for .net 5.
2. Change to multi-target .net 4.72, .net 3.5
3. Add a conditional property group in order to rename the output assembly name for one target
[code]

**Expected Behavior**:
Build successfully.
.NET 4.7.2 output should be ConsoleApp1.exe
.NET 3.5 ou

[2021-04-13 19:12] MiYanni commented on #7120
We were able to repro this. The way this is specified is correct as per our [documentation here](https://docs.microsoft.com/en-us/dotnet/standard/frameworks#how-to-specify-a-target-framework). We'll have to investigate further why this is happening.

[2021-04-13 19:16] PhilPJL commented on #7120
I'm sure this works for ItemGroup.  My guess is it's something to do with evaluation order of the property group members.

[2021-04-14 00:49] nkolev92 commented on #2759
The NuGet side of the feature was implemented in https://github.com/NuGet/NuGet.Client/pull/2521.

If you fully build the projects that are getting loaded in VS by other means, NuGet should be able to reuse the assets from the local project's obj.

[2021-04-14 01:57] #5953 closed

[2021-04-14 15:58] swesonga commented on #7067
The root cause of the issue here is that CsWinRT uses a response file that has a .winmd input from the C++ project (e.g.
-input "C:\...\CPPWinRTInteropRepro\Debug\CPPWinRTInteropRepro\CPPWinRTInteropRepro.winmd"). However, the .NET project system does not know of the existence of this relationship. I think the fix for this issue is to determine the best way to make this relationship explicit to th

[2021-04-14 17:30] ricphiri commented on #5735
It's April 2021, using .Net 5 and the problem still exists. I just used the solution in @shanselman's post to work on Excel.

For quick reference:
- I changed the WrapperTool to "primary";
- added EmbedInteropTypes (set to "true");
- removed ".dll" from the COMReference

Are there any plans to fix this in the tooling?

[2021-04-14 22:45] jeremy-marcus opened #7125 "Changing project context in shared project causes non-fatal error"
**Version Used**:
[code]

**Steps to Reproduce**:

1. Open file in shared project.
2. Change project context for the open file.

**Expected Behavior**:
Project context changes for current file.

**Actual Behavior**:
Visual Studio error.
![image](https://user-images.githubusercontent.com/50940750/110671802-f037c480-819c-11eb-83e2-b1ba671b5a0e.png)

[code]

[2021-04-15 16:53] sharpjs commented on #2670
I had to add the following to get [global resource files](https://docs.microsoft.com/en-us/previous-versions/aspnet/ms247246) working as expected.  Probably something similar is required for local resource files.  Disclaimer: I'm not 100% familiar with the nuances of these files, so further tweaking might be required.

[code]

[2021-04-15 18:38] bachratyg commented on #2670
Default item includes are still missing. E.g. *.cs files should be `<Compile>`d by default except in the App_Code folder, where it should be `<Content>`. It seems like this is hardcoded behavior and is not driven by item template files. You could always try whatever feature you use in a classic project (where all items have an explicit build action and properties) then glob them manually.

[2021-04-15 20:24] TheJayMann commented on #2670
I believe both of these suggestions (making resx files in App_GlobalResources and cs files in App_Code as content instead of their default build type) would make sense to add directly to the [CZEMacLeod/MSBuild.SDK.SystemWeb](https://github.com/CZEMacLeod/MSBuild.SDK.SystemWeb) project, and perhaps other odd build types for common file types that Visual Studio handles automatically for ASP.NET web

[2021-04-16 20:21] #6985 closed

[2021-04-18 17:31] CZEMacLeod commented on #2670
@bachratyg @TheJayMann I've included these changes and a couple of other changes in the  [CZEMacLeod/MSBuild.SDK.SystemWeb](https://github.com/CZEMacLeod/MSBuild.SDK.SystemWeb) project.
Some quick notes:

- It is mainly designed to replace [WebApplication rather than WebSite](https://docs.microsoft.com/en-us/previous-versions/aspnet/dd547590(v=vs.110)?redirectedfrom=MSDN) projects, although I susp

[2021-04-19 07:12] davkean commented on #7125
@jmarolf Moving back to Roslyn. This will because we're being passed a bad document that we're not aware of here: https://github.com/dotnet/roslyn/blob/df96b4cc2d2e9d4a2e2338f91a9f41755c972add/src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs#L1386.

[2021-04-19 16:55] tmeschter commented on #7086
There are already some XAML `Rules` in WebTools for IIS/IIS Express; they will need some updates, however. Also, we will need to define property handlers in code to read/write those properties from an `ILaunchProfile`. Ideally that code would live with WebTools, but that would require they take a dependency on an updated version of the dotnet/project-system binaries. In the past that has been diff

[2021-04-19 21:00] jcouv commented on #3680
@kendrahavens @mikadumont @jjmew @jinujoseph This is an issue that's affecting IDE scenarios. Could you help prioritize it?

TL;DR: the compiler is sensitive to ordering of command-line arguments (in this case different `warnaserror` values), but the process of making a compiler for the IDE effectively shuffles some of the arguments. This leads to very surprising and unpredictable behavior (diagno

[2021-04-20 06:34] ChrisTorng commented on #6640
I still see this problem in VS 16.9.4. I found a workaround. Add the following to the custom setting:

      "allExtensions": {
        "remove": "*"
      }

[2021-04-20 16:57] CreateAndInject opened #7130 "Bug of git comparer"
**Visual Studio Version**:16.9.4

**Steps to Reproduce**:

1. Create a console application and add it to git.

2. Open Program.cs, make any change and save it, compare it in git, vs treat the left document as LF, and treat the right document as CRLF, so it show there're lots of changes if unchecked `Ignore trim whitespace`.
In fact, whatever the original file and modified file, the NewLine is CRLF

[2021-04-20 17:05] CreateAndInject commented on #7130
I remember the old version(maybe a few years ago) doesn't has this bug, if this, the option `Ignore trim whitespace` is almost useless since it always show large changes and we can't find the different whitespaces we needed.

[2021-04-20 17:10] ocallesp commented on #7130
@CreateAndInject it seems that this bug is not related to Dotnet ProjectSystem.

This is more related to the Editors used in the Git Extension.

[2021-04-20 17:13] #7130 closed

[2021-04-20 17:43] jjmew commented on #7110
@nick-beer we currently don't have a way to do this but we have noted the feature request

[2021-04-20 17:45] jjmew commented on #7105
@swesonga Do you have a recommendation?

[2021-04-20 17:48] jjmew commented on #7095
@tmeschter  already spent time investigating this

[2021-04-20 17:54] jjmew commented on #3680
@ocalles Could you take a look at this? This most likely will involve CPS.

[2021-04-20 18:03] RikkiGibson commented on #3680
IIRC, the root cause is basically that an interface in internal code expects an ordered dictionary, but the implementation uses an unordered dictionary.

[2021-04-20 21:55] davkean commented on #7130
@CreateAndInject Please report an issue via Help -> Send Feedback -> Report a Problem. If you paste it here, I'll route it to the editor team.

[2021-04-21 00:03] swesonga commented on #7067
This issue has been fixed in https://github.com/microsoft/CsWinRT/pull/813

[2021-04-21 00:03] #7067 closed

[2021-04-21 01:15] cartermp opened #7133 "Consider adding "Command line arguments" under "Application" in the property pages"
Currently, and as it has been for all time, to add command-line args to an application you need to use the debug pages/launch profiles:

![image](https://user-images.githubusercontent.com/6309070/115482608-f1c8c380-a203-11eb-888c-87930d9003ea.png)

I propose that these are **also** added to the Application tab, since:

* It is a **very** common thing to do for applications
* It is not a debugging

[2021-04-21 01:22] MattFinlay commented on #4678
what is the use of a shared project if it must be in your solution? surely the point is to share them between solutions?

[2021-04-21 01:25] davkean commented on #4678
@MattFinlay Visual Studio requires all projects to be specified in the solution.

[2021-04-21 01:41] MattFinlay commented on #4678
Ah, thanks! I understand now.

[2021-04-21 03:14] drewnoakes commented on #7133
Do we have existing data for this? We recently added telemetry which will allow us to verify this kind of thing in the new property pages / launch profiles editor.

Can you elaborate? I don't see what value command line arguments have outside of launch profiles.

I'm curious about the motivation here. Is it about discoverability? The number of clicks required to change these settings? Something el

[2021-04-21 04:23] drewnoakes commented on #6905
UI-bound objects here are the various templates used in the property editors, and the `Separator` object constructed as part of the property commands (in the "vary by" menu).

It seems that these can be addressed via use of `Lazy<>`, so that they're constructed when accessed in the UI thread.

I am planning to bite this off as part of the work to move to property data subscription, as we are calle

[2021-04-21 10:00] deng0 commented on #5629
I've stumbled upon the same or at least a similar problem when migrating a .NET Framework project to .NET 5.

I have a localizable Form where a TooltipText property of a custom control is not set.

With .NET Framework the designer creates the following entry in the neutral resx file:
[code]

When using .NET 5 the designer creates the following instead, which not only breaks opening the resx resour

[2021-04-21 12:20] drewnoakes opened #7136 "Target framework property is empty if non-canonical representation used"
There are multiple ways to specify a given `TargetFramework` in a project file.

The Project Properties UI will show an empty combo box if the non-canonical form is used.

For example `net48` works, but `net4.8` does not.

Both forms will exist in the wild.

![tfm-blank](https://user-images.githubusercontent.com/350947/115551994-1fd70200-a2ef-11eb-803a-8fc2b438b3fe.gif)

[2021-04-21 12:46] drewnoakes commented on #6905
Fixed in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/318988.

[2021-04-21 19:11] #1035 closed

[2021-04-21 23:15] cartermp commented on #7133
The best data I have on this is here: https://sourcegraph.com/search?q=%22commandLineArgs%22:++count:2000&patternType=literal

~1.3k results out of 360k repos on github. I'd consider that to be pretty significant.

Not VS data though, so it's a proxy at best.

The way I look at it is

The data has to be represented somewhere, and `launchSettings.json` is as fine as any since it contains data for r

[2021-04-22 07:23] drewnoakes commented on #6928
Today I installed the latest Project Reunion bits and tried to repro this in the latest internal builds of VS, but was unable to.

![image](https://user-images.githubusercontent.com/350947/115672833-4a789780-a38f-11eb-8565-ef868231cfec.png)

@sjb-sjb can you try this again? Were there any steps you took other than creating a new project and launching the Project Properties UI?

[2021-04-22 09:33] awasilik commented on #1821
Hey, I am writing from 2021 and the issue still exist. Is a real pain for our team with source control.
Half of the team is working on VS for Mac and the other on VisualStudio 2019 on Windows and we're working on Xamarin project.

Windows version is changing FAE04EC0-301F-11D3-BF4B-00C04F79EFBC to 9A19103F-16F7-4668-BE54-9A1E7A4F7556 and VS for Mac is doing the reverse causing us to constantly hav

[2021-04-22 09:43] kYasinAblay commented on #1553
i still doesnt work my project :(

[2021-04-22 18:44] MiYanni commented on #5559
For the new property pages, the 'dirty' mechanic doesn't exist. Properties will tell the *server* that they have new changes to make. Certain types of properties will do this instantly, like drop downs. Other properties, like string fields, need to lose focus to notify an update. In this case, pressing F5 will cause the property page to lose focus, thus those changes will always be saved. As you c

[2021-04-22 18:44] #5559 closed

[2021-04-22 22:33] drewnoakes commented on #6797
We have settled on a design.

[2021-04-22 22:33] #6797 closed

[2021-04-22 22:46] tmeschter commented on #6784
The issue here is that we've serialized a `System.Configuration.ClientSettingsSection` containing the user settings to the app.config file. VS is a .NET Framework 4.8 app, but we know the WinForms app is targeting .NET 5, so we've used the `Microsoft.VSDesigner.MultiTargetService` to map to the .NET 5 type name (including the full assembly name) and that is what has been persisted in the file.

Th

[2021-04-22 22:57] davkean commented on #5559
@MiYanni This is talking about Debug Profiles, not traditional properties.

[2021-04-22 23:14] drewnoakes commented on #5559
Agreed. However equally the launch profiles editor is now modal so the pattern described here is not possible. If we make it non-modal, it would likely become an editor, so would be backed by an actual file and subject to "save all". I think it's fine to close this as the new UI won't have this problem.

[2021-04-23 04:47] drewnoakes commented on #3680
Yes, CPS's "rule" processing stores items in an `ImmutableDictionary<>` which orders items by their hash codes, essentially randomizing their order.

Options are:

1. use the raw build data via `ProjectBuildSnapshotService` which retains item order, or
2. change CPS to retain order by backing the `IImmutableDictionary<,>` with a type that preserves order.

[2021-04-23 05:08] drewnoakes commented on #7133
It does seem that command line arguments are the most commonly set properties.

https://github.com/dotnet/project-system/pull/7143 should help a little with discovering the new Launch Profile editor by matching a search for "command line arguments" with the existing information about the move and link to invoke it.

[2021-04-23 09:44] drewnoakes commented on #7035
https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/319288 adds `UIProperty.IsReadOnly` to CPS's project model.

[2021-04-23 09:44] #6905 closed

[2021-04-23 15:10] CreateAndInject commented on #7130
@davkean Please route it, and then send me the link.

[2021-04-23 17:01] tmeschter commented on #6784
My proposed solution will not work here. The System.Configuration shim assembly in .NET 5 does not have a type forwarder for `System.Configuration.ClientSettingsSection`, though it does have one for the base type, `System.Configuration.ConfigurationSection`.

[2021-04-23 17:57] davkean commented on #7130
@CreateAndInject I can report this internally, but if you would like a link to track it, you need to report via Help -> Send Feedback -> Report a Problem.

[2021-04-24 20:30] sjb-sjb commented on #6928
@drewnoakes  sorry I don’t have any cycles that I can put into this right now.

[2021-04-26 04:45] drewnoakes commented on #6928
Closing as no-repro.

[2021-04-26 04:45] #6928 closed

[2021-04-26 22:47] drewnoakes opened #7151 "Support undo/redo for new Project Properties & Launch Profiles UIs"
The new editors should support undo and redo of user operations.

This may need to interact with the core VS undo/redo history.

[2021-04-28 16:59] igorko0556 commented on #6497
Hello,

Have the issue been resolved?

I faced it during migration from ASP.NET Core 3.1 to 5.0.

The following error

An error occurred trying to load the page.
InvalidArgument=Value of '5' is not valid for 'SelectedIndex'.
Parameter name: SelectedIndex

appeared in Project/Properties/Build tab.

Thanks,
Igor

[2021-04-28 21:22] drewnoakes commented on #6497
@igorko0556 can you share the XML of your project file that causes this error?

[2021-04-28 21:28] igorko0556 commented on #6497
Hi Drew,

PFA with the requested file.

Thanks,
Igor
________________________________
From: Drew Noakes ***@***.***>
Sent: April 28, 2021 5:22 PM
To: dotnet/project-system ***@***.***>
Cc: igorko0556 ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/project-system] Properties | Build tab for .NET Core C# app shows error message (#6497)

@igorko0556<https://github.com/igorko0556> can you shar

[2021-04-28 23:30] swesonga opened #7161 "File Nesting: Investigate file nesting performance impact on non-web projects"
File nesting code showed up in some traces when loading large solutions. This issue will track that investigation.

[2021-04-28 23:34] swesonga commented on #6837
Opened #7161 to track the performance impact of enabling file nesting

[2021-04-28 23:49] swesonga commented on #5722
This file nesting feature will not be turned on by default in VS versions 16.* because of performance issues to be investigated in #7161

[2021-04-29 03:56] drewnoakes commented on #7160
@Pequeno0 a more complete repro would be helpful. Can you produce a new solution that shows this behaviour?

[2021-04-29 21:58] dmonroym opened #7162 "Update OneOffInsertion path on pipelines"
There was an arcade update to roslyn-tools last night that changed the path of the OneOffInsertion script.

So in our insertion pipelineswe'll need to modify the OneOffInsertion task to get rid of the tfm in the path
So before

 `.\RIT\tools\net46\OneOffInsertion.ps1 ...args`

And after

 `.\RIT\tools\OneOffInsertion.ps1 ...args`

[2021-04-29 22:00] dmonroym opened #7163 "Using Scale Set pools for Build Pipelines"
Instead of
`VSEng-MicroBuildVS2017`
`VSEng-MicroBuildVS2019`

Use:
`VSEngSS-MicroBuild2017 `
`VSEngSS-MicroBuild2019 `

[2021-04-29 22:55] dmonroym commented on #7162
Done on all our release pipelines

[2021-04-29 22:55] #7162 closed

[2021-04-30 01:10] drewnoakes opened #7166 "Use IProjectDiagnosticOutputService from CPS"
In https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/321174, CPS is adding a service that duplicates the code we have in `IProjectOutputWindowPaneProvider`. Once it merges, we should remove our implementation and associated testing code, then delegate to CPS's service.

[2021-04-30 03:13] drewnoakes commented on #6497
@igorko0556 I do not see any attachment. I don't think email attachments appear on GitHub comments.

[2021-04-30 03:18] drewnoakes commented on #7161
Relates to AB#1256003.

[2021-04-30 03:44] drewnoakes commented on #6497
The original bug report is for the `crossgen2` project in the `dotnet/runtime` repo. I can not repro the bug for that project:

![image](https://user-images.githubusercontent.com/350947/116645886-1c600c80-a9ba-11eb-89b9-8da294ec60df.png)

[2021-04-30 03:53] igorko0556 commented on #6497
Hi,

The request, you provided regarding the XML file, was sent by email. Therefore, I've sent you the attachment by email. You requested, I responded.

Regards,

Igor

-------- Original message --------
From: Drew Noakes ***@***.***>
Date: 4/29/21 23:14 (GMT-05:00)
To: dotnet/project-system ***@***.***>
Cc: igorko0556 ***@***.***>, Mention ***@***.***>
Subject: Re: [dotnet/project-system] Propert

[2021-04-30 03:56] igorko0556 commented on #6497
Hi there,

My request was about MS Visual Studio 2019 bug.

If there is not correct place for my question,  please direct me to appreciate Microsoft team.

Thanks,
Igor

-------- Original message --------
From: Drew Noakes ***@***.***>
Date: 4/29/21 23:44 (GMT-05:00)
To: dotnet/project-system ***@***.***>
Cc: igorko0556 ***@***.***>, Mention ***@***.***>
Subject: Re: [dotnet/project-system] Proper

[2021-04-30 19:59] sujitnayak opened #7167 "Program Icon property must copy .ico file to project (2)"
**Visual Studio Version**: 16.10 P3 Main builds (31229.188.main on my machine)

**Summary**:
Adding program icon with new Project Properties UX has a different behavior than the previous UX as described in Actual Behavior section.

**Steps to Reproduce**:

1. Create WPF or Winforms project for .NET Core/.NET FX 5.0

2. Go to Project Properties -> Application -> Resources tab and add program icon.

[2021-04-30 20:34] Didier-Solheid commented on #1553
Same for me. A nightmare ...

[2021-04-30 22:47] dmonroym commented on #7163
We need to modify how we publish our artifacts and symbols https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_wiki/wikis/DevDiv.wiki/12566/Using-Scale-Set-pools-for-Build-Pipelines

[2021-05-03 00:07] drewnoakes commented on #6497
The email you replied to was a notification from a GitHub issue.

While you can reply to those emails and have their contents appended to the discussion on the issue itself, any attachments appear to be stripped.

Could you please attach the file on the GitHub issue in your browser.

https://github.com/dotnet/project-system/issues/6497

This GitHub issue is the correct place for your question.

[2021-05-03 21:39] jaredpar commented on #3680
The PR in question does not address this issue. Leaving a comment on the PR.

[2021-05-03 21:54] drewnoakes opened #7171 "Use new Property Pages UI in Dev17 by default"
Currently, in Dev16 preview builds the new UI is only displayed if a feature flag is set.

In Dev17 the new UI should be displayed for all relevant projects, without checking the feature flag.

We should remove the feature flag from Dev17 as well (tracked by #7230).

[2021-05-04 13:12] grandelbert opened #7175 "New files are added to csproj when EnableDefaultItems is True"
**Visual Studio Version**:
16.9.4

**Summary**:
When adding a new file to a .NET core/standard project via the Solution Explorer, it is automatically added to the .csproj file, even when `EnableDefaultItems` is explicitly set to `True`.

e.g. I create the file `XMLFile1.xml`, then this is added to the .csproj
[code]

This causes the `NETSDK1022 Duplicate 'Compile' items were included.` error.

@Ad

[2021-05-04 18:00] kaylumah opened #7177 "Get the renamed Platform from Solution Configuration"
**Visual Studio 2019**:

**Summary**:
After some discussion with MSBuild on the issue https://github.com/dotnet/msbuild/issues/4752 I was pointed to this repo.
In VisualStudio, you have the notion of Platform but also of SolutionPlatform/Configuration.

Unfortunately, it seems that custom platform names always are overwritten with AnyCPU or x64.

Would it be possible to capture the original platfo

[2021-05-04 19:42] MissyGH opened #7178 "Properties - Can't find Post Build Job"
**Visual Studio Version**: 4.8.04084 Community 2019 Preview

**Summary**:  I could not find the Post Build Events

**Steps to Reproduce**:

1.  Open Project Properties and search for it

**Expected Behavior**:   Obvious spot for Post Build Events

**Actual Behavior**:  Missing

**User Impact**:  Cannot use the project properties page

[2021-05-04 20:29] jjmew commented on #7178
@MissyGH What is the version of Visual Studio that you are using? The one you provided is the runtime version. Also, could you paste a screenshot of the behavior that you see?

[2021-05-04 20:35] jjmew commented on #7177
@swesonga Can you ask about this on the CPS meeting?

[2021-05-04 20:38] jjmew commented on #7175
@drewnoakes Did you investigate something similar before?

[2021-05-04 20:47] jjmew commented on #7151
@mckennabarlow would you share with us the design that you believe we should implement?

[2021-05-04 21:31] drewnoakes commented on #7175
@jjmew it doesn't sound familiar. I suspect this would be CPS.

[2021-05-04 21:46] drewnoakes commented on #7178
I added support for build events in the new project properties UI quite recently. It likely didn't make the preview being used here.

[2021-05-04 23:31] drewnoakes commented on #7178
@MissyGH build events were added in this PR: https://github.com/dotnet/project-system/pull/7119

They will look like this, once available:

![](https://user-images.githubusercontent.com/350947/114558111-af583180-9cad-11eb-8c45-785f83a457c3.png)

Will this address your concern?

[2021-05-04 23:55] #6996 closed

[2021-05-05 07:27] lennartb- commented on #5913
Any update here? I haven't looked into this since the time I posted it, so I'm inclined to close it since we're planning to ditch TFVC anyway.

[2021-05-05 20:41] KenSykes opened #7179 "debug launch properties UI does not open"
**Visual Studio Version**:
16.10.0 Preview 2.1

**Summary**:
Can't open the debug properties for a .NET Core project

**Steps to Reproduce**:

1. Create .NET Core 3.1 project

2. right click on project and choose properties

3. click debug and then "Open debug launch profile UI"

**Expected Behavior**:

Debug settings appear and can be edited.

**Actual Behavior**:

![image](https://user-images.gi

[2021-05-05 21:35] drewnoakes commented on #7179
@KenSykes thank you very much for the bug report. This exception is due to only one of two components making it in to preview 2. Later build will not have this problem.

[2021-05-05 21:35] #7179 closed

[2021-05-06 00:02] swesonga commented on #7177
Filed CPS issue https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1323548 for this issue. cc @lifengl

[2021-05-06 17:43] cartermp opened #7181 "New prop pages - setting environment to be a larger font messes up checkbox alignment"
Using latest prop pages, set the environment font to be 15 (default is 9).

![image](https://user-images.githubusercontent.com/6309070/117342223-d4c4ff00-ae57-11eb-8d71-2674024d101b.png)

Then, check out the prop pages and notice that the check boxes are off:

![image](https://user-images.githubusercontent.com/6309070/117342289-e9a19280-ae57-11eb-9620-4418b8c3a5cd.png)

These should be aligned.

[2021-05-06 17:47] cartermp opened #7182 "New prop pages - scrolling with larger environment font is jarring because the width resizes"
Using latest prop pages, set the environment font to be larger:

![image](https://user-images.githubusercontent.com/6309070/117342503-2bcad400-ae58-11eb-9a03-9f8678dc7683.png)

When you scroll from Application to Build, the width of the menu resizes, pushing content to the right. It's kind of jarring.

![scrolly](https://user-images.githubusercontent.com/6309070/117342709-5fa5f980-ae58-11eb-9c2a-6

[2021-05-06 18:00] cartermp opened #7183 "New prop pages - consider adding a checkbox to generate a binlog on build"
This would likely live under Build/General in the new property pages. I propose a simple checkbox:

- [ ] Generate MSBuild Binary Log on build

It could have the `?` icon pointing to [troubleshooting docs](https://docs.microsoft.com/en-us/visualstudio/ide/msbuild-logs?view=vs-2019) and have some descriptive text, like:

"Generates an MSBuild Binary Log (binlog) on build, a file that contains detai

[2021-05-06 18:03] KirillOsenkov commented on #7183
"equivalent to the MSBuild.exe /bl command-line switch"

YAAS PLEASE

[2021-05-06 18:03] cartermp opened #7184 "New prop pages - consider allowing disabling property descriptions"
In the new property pages, the descriptions are good to learn about what a setting does and can help with search. However, they might be seen as visually noisy for people. This is more prominent when you have your environment font turned up.

The highlighted areas indicate that we could fit 2-3 more toggles in the same view if they were turned off:

![image](https://user-images.githubusercontent.c

[2021-05-06 18:10] tmeschter commented on #7183
I like the idea of being able to turn this on and off via the UI, but it's not a project-level setting. Somewhere under Tools | Options would be more appropriate.

[2021-05-06 18:14] cartermp opened #7185 "New prop pages - consider removing Language version"
I think that we should just remove this section:

![image](https://user-images.githubusercontent.com/6309070/117346050-1b1c5d00-ae5c-11eb-9f95-baeafca059b9.png)

The policy is pretty well-understood now, and has been this way for two .NET releases. It's not actionable.

[2021-05-06 18:20] cartermp opened #7186 "New prop pages - consider Advanced subgrouping for the truly advanced C# features"
This one feels _somewhat_ like a "we're going back to what we had" thing, but the following C# properties are quite advanced and are unlikely to every be modified by people:

![image](https://user-images.githubusercontent.com/6309070/117346667-e8bf2f80-ae5c-11eb-95b4-69e8586ae02e.png)

(Note that I checked the arithmetic overflow one myself).

Maybe they should just be moved under a subtitle calle

[2021-05-06 18:22] KirillOsenkov commented on #7183
Hmm, good point. I mean VS does build each project individually I think (??), so technically we could have it per project, but it's probably impractical to open each project and check/uncheck the box. Global is probably better.

Also what would be the default location of the binlog? Next to the .sln? Would the name be the default msbuild.binlog or should we allow to customize it?

[2021-05-06 18:28] cartermp commented on #7183
Yeah, makes sense. I guess also solution-level configuration could help, but I'm not sure which is the more discoverable place.

[2021-05-06 19:18] lifengl commented on #7177
Just like what the msbuild item pointing out, the original issue was "by design". We can understand the potential usage scenario, but this is a feature request, which doesn't meet the current bar. It requires changes in many loosely coupled areas in the product to drive various different build/evaluation stack in VS & also potential customized target files to drive some project reference builds. A

[2021-05-06 19:20] kaylumah commented on #7177
@lifengl I can understand your position regarding it.

You mention "special workaround" do you have a proposal that I can then test for our usecase

[2021-05-06 19:42] lifengl commented on #7177
I thought about a special workaround, which might be a little bit messy (not something we like), but you can get it to work with any version of VS.  (Even if we prepare a fix, it would be quite some time for you to get it.)

Now, when solution builds a project, it doesn't only pass a mapped configuration/platform to the project, it also pass in a Xml blob to contain the configuration/platform of a

[2021-05-06 20:56] tmeschter commented on #7183
Within VS you might build the whole solution, or a specific project. My first thought is to name the files <solution_name>-<data_and_time>.binlog or <project_name>-<date_and_time>.binlog, respectively. I'm not sure about a default save location.

Also, this request has significant overlap with the Project System Tools extension since it can already capture these kinds of logs (and more).

[2021-05-06 21:00] KirillOsenkov commented on #7183
The moment you include date/time you'd need to think about a cleanup/expiration policy, otherwise these can flood the disk.

[2021-05-06 21:20] drewnoakes commented on #7186
Moving them to an "Advanced" category seems reasonable for sure.

[2021-05-06 21:23] drewnoakes commented on #7185
An idea I wanted to try here was to display the language version. We realise that some use of these pages is to gather information, and it would be useful to display the language version in a read only fashion somewhere.

We have some work to allow showing read only properties. We also have to verify that the language version is available via the SDK.

[2021-05-06 21:24] drewnoakes commented on #7184
Open question: where would such an option live?

[2021-05-06 21:28] drewnoakes commented on #7181
This appears to be an issue with the core VS check box control template. We should verify whether we see this elsewhere in WPF UI.

[2021-05-06 21:40] cartermp commented on #7184
Yeah, off-handedly it'd be tools > options under projects, but it's an awfully specific thing. I figured it was worth tracking here due to the feedback, but I don't have a great idea.

[2021-05-07 11:56] bvamos commented on #3506
I still have this issue with MSBuild 16.8.3:

Target:

        <Target Name="EncodeTest">
          <Message Text="ENCODED_TEXT: '$(ENCODED_TEXT)'" Importance="High" />
          <Exec Command="echo ENCODED_TEXT: '%ENCODED_TEXT%'" />
          <Message Text="DATE: '$(DATE)'" Importance="High" />
          <Exec Command="echo DATE: '%DATE%'" />
        </Target>

Environment variables:

        C:\

[2021-05-07 15:10] drewnoakes commented on #3506
Reopening to re-evaluate this for the new Project Properties UI.

[2021-05-07 20:50] jcouv commented on #3680
I think this was fixed by https://github.com/dotnet/project-system/pull/7174
I'll let @ocallesp verify and close. Thanks

[2021-05-07 21:47] Eilon opened #7187 "How to show items of a custom item type in Solution Explorer?"
**Visual Studio Version**: VS2019

**Summary**:

I'm working on a project (CSPROJ) that has items of a custom type, such as:

[code]

Now, by default the `*.razor` files are actually `Content`, so my CSPROJ actually looks like this:

[code]

But now that the `*.razor` files are `RazorComponent`, they no longer show up in Solution Explorer unless I click "Show All Files".

**Steps to Reproduce**:

[2021-05-07 21:49] davkean commented on #7187
https://docs.microsoft.com/en-us/visualstudio/msbuild/visual-studio-integration-msbuild?view=vs-2019#additional-build-actions is the easiest way, otherwise, https://github.com/microsoft/VSProjectSystem/blob/master/doc/overview/contentitem_types.md.

[2021-05-07 22:46] LeftTwixWand commented on #5382
Hi. In this article mentioned, that the issue was Fixed In: Visual Studio 2019 version 16.5, but today I get it in the Visual Studio 2019, version 16.9.2. And I can't reopen the issue on the developercommunity site.

**Behavior:**
My solution contained: UWP project, .NET Core 3 console app, and a .NET Standard 2.0 class library. I was trying to use ef core with UWP, and I had this dropdown problem

[2021-05-07 23:12] Eilon commented on #7187
Holy smokes, this worked!

[code]

And I've sent a small PR to the docs that might hopefully clear this up to others in the future (assuming my edit is in fact correct): https://github.com/MicrosoftDocs/visualstudio-docs/pull/6663

[2021-05-07 23:14] Eilon commented on #7187
Closing this issue because apparently this is easy to do, as long as @davkean tells you the answer 😄

[2021-05-07 23:14] #7187 closed

[2021-05-08 07:33] kaylumah commented on #7177
Hi @lifengl

I checked out CurrentSolutionConfigurationContents and perhaps I misunderstood you.

![image](https://user-images.githubusercontent.com/8428126/117530911-08329580-afe0-11eb-8ae0-4a83c10aebe0.png)

The values I get in my XML are still `Debug|AnyCPU`

So lets for a moment imagine I have defined multiple Solution platforms

![image](https://user-images.githubusercontent.com/8428126/11753

[2021-05-10 19:35] swesonga opened #7189 "Initial NuGet restore of ProjectSystem.sln fails"
**Visual Studio Version**: 16.10.0 Preview 3.0 [31303.267.main]

**Summary**:

**Steps to Reproduce**:

1. Launch VS

2. Open ProjectSystem.sln

**Expected Behavior**:
NuGet package restore completes successfully

**Actual Behavior**:
The output window contains these errors from the Package manager:

[2021-05-10 21:11] dmonroym opened #7190 "[Merged interops] Warnings on build"
The current build contains a version of `Microsoft.VisualStudio.ProjectSystem.Query` that causes the following build warning:
[code]

The solution is for CPS team to update this binary and then we'll be able to re-add `/warnaserror` into our build.cmd

[2021-05-10 21:13] dmonroym opened #7191 "[Merged Interops] Microsoft.DotNet.IBCMerge"
We had to change the way we did `/ibc` since now we're fetching `Microsoft.DotNet.IBCMerge` from a new feed which also requires Nuget.config file.

The current solution is perhaps a better method of doing this and given our lack of optprof we weren't really using ibc so it's hard to verify. I'll need to do a deeper analysis on this and clean up the code surrounding this

[2021-05-10 21:18] dmonroym opened #7192 "[Merged Interops] IAsyncServiceProvider"
`IAsyncServiceProvider` changed from using `QueryServiceAsync` to `GetServiceAsync`. I think my implementation isn't fully correct or the tests need to be changed. As a workaround I disabled unit tests in `VsContainedLanguageComponentsFactoryTests.cs` and they're tagged with `Skip = "TODO: Merged PIAs  - uncomment this once IAsyncServiceProvider is updated"`

[2021-05-10 22:40] swesonga commented on #7189
This was on the main branch. I filed this issue because we do not yet understand why this happens given that we do not explicitly list that feed.

[2021-05-10 22:55] tmeschter commented on #6916
We ended up not doing any work for this. Closing.

[2021-05-10 22:55] #6916 closed

[2021-05-11 03:02] #7178 closed

[2021-05-11 03:03] drewnoakes commented on #7086
@tmeschter has this been addressed?

[2021-05-11 03:08] drewnoakes commented on #2409
Addressed for the new property pages in https://github.com/dotnet/project-system/pull/6971. This does not meet the bar for the legacy property pages.

[2021-05-11 03:08] #2409 closed

[2021-05-11 03:13] #6906 closed

[2021-05-11 16:09] tmeschter commented on #7086
I believe so, but I need to double-check on a recent build of VS without accidentally upgrading to Dev17. :-)

[2021-05-11 17:22] jjmew commented on #7185
Removing it makes sense. Displaying the version might valuable but not necessary. If we want to show the version then we should file a different issue.

[2021-05-11 17:59] jjmew commented on #7133
We discussed this during triage. We like the idea of having a read only entry in the properties pages that points you to the launch profiles for command line arguments. We don't like the idea of merging concepts across both UIs. We want to hold strong boundaries between UIs. The launch profiles is focused on launchsettings.json and the properties pages focused on items that get burned into the pro

[2021-05-11 20:26] dmonroym opened #7197 "[Merged Interops] Re-Populate UIProperty.IsReadOnly"
Temporarily reverted #7141 as CPS dev17 packages don't contain the change and we're now waiting for their PR to be merged.

Once they've merged we'll need to re-introduce this change and update the `Microsoft.VisualStudio.ProjectSystem.Query` appropriately

[2021-05-12 03:34] John0King commented on #5907
anything new ?

[2021-05-12 07:28] drewnoakes commented on #353
Re-opening. Roslyn made changes to support this, but it introduced DDRIT failures.

cc @jasonmalinowski @CyrusNajmabadi

[2021-05-12 15:29] CyrusNajmabadi commented on #353
What DDRIT failure did this introduce?

[2021-05-12 23:17] drewnoakes opened #7203 "Project Properties navigation can get out of sync with scroll position"
From [AB#1320107](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1320107)

Repro steps:

1. File > New Project > ASP.NET Core Empty > .NET 5.0 > Create
1. Right click project > Properties > Application > Startup object
1. Click "Debug" to navigate to Debug General
1. Use scroll bar to navigate to Razor Properties General. The light selection is still hold on D

[2021-05-14 08:13] dmonroym commented on #7190
Solution consisted in switching `'%(Filename)' == 'Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime'` in `HostAgnostic.props` such that `<EmbedInteropTypes>false</EmbedInteropTypes>`

[2021-05-14 08:13] #7190 closed

[2021-05-16 14:04] HarelM opened #7221 "Build parameters are ignored"
**Visual Studio Version**: N\A (dotnet command line)

**Summary**:
Running `dotnet build -p:Version=2.0.0;AssemblyVersion=2.0.0
does not change both assembly version and product version, only the first one is respoected.

**Steps to Reproduce**:
On MacOS
1. See above, can be done on https://github.com/IsraelHikingMap/Site

**Expected Behavior**:
Both parameters will be respected

**Actual Behavior

[2021-05-17 00:16] drewnoakes commented on #353
@CyrusNajmabadi I cannot find details of the failure now. Perhaps @dmonroym knows how to find it. I think the logs were not retained.

We may need to stage a new insertion with this in order to repro the failure to get you the details you need.

[2021-05-17 00:54] drewnoakes opened #7223 ""Loading" text in launch profile window is unthemed"
This UI loads so quickly I've never noticed this before. Today I saw this while in a breakpoint:

![image](https://user-images.githubusercontent.com/350947/118419034-39a51280-b6fe-11eb-9092-f3f8dc43cf41.png)

This should be straightforward to fix.

[2021-05-17 02:23] drewnoakes commented on #7223
Fixed in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/324699.

[2021-05-17 04:37] #5799 closed

[2021-05-17 05:22] drewnoakes commented on #7021
The CPS half is covered by https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/324704

[2021-05-17 18:00] melytc opened #7226 "Show value in TargetFramework property when value is not on the supported list."
For example, if a user enters `<TargetFramework>foo</TargetFramework>` in the project file, we'd show `foo` as the value for the `TargetFramework` property in the Project Properties UI.

[2021-05-17 18:06] melytc opened #7227 "Hide platform properties when targeting lower than .NET 5.0 (2)"
`TargetPlatform`, `TargetPlatformVersion` and `MinimumPlatformVersion` are properties that will make sense to show for projects targeting .NET 5 or higher. We should hide them if that's not the case.

Notes: the `InterceptedTargetFramework` property contains the `TargetFrameworkMoniker` (i.e. .NETCoreApp, Version=v5.0) and the `DisplayName` (i.e. .NET 5.0). I don't think that adding a conditional

[2021-05-17 18:55] dmonroym commented on #353
@CyrusNajmabadi the failures of #6979 are on this insertion PR: https://dev.azure.com/devdiv/DevDiv/DevDiv%20Team/_git/VS/pullrequest/305891.

We later analyzed that we could back out some changes and so we did in #6999 which was verified with this insertion PR: https://dev.azure.com/devdiv/DevDiv/DevDiv%20Team/_git/VS/pullrequest/308073

[2021-05-17 19:09] CyrusNajmabadi commented on #353
I don't really understand how to read insertions.  What is the failure there that we have caused?

[2021-05-18 01:57] drewnoakes commented on #7227
Two ideas:

1) Include non-visible `TargetFrameworkIdentifier` and `TargetFrameworkVersion` properties, and use them in a visibility condition
   - Need the ability to plumb through non-visible properties
   - Need a custom function to compare version strings e.g. `"v10.0" > "v4.0"`

2) Add a visibility condition function that does exactly what we need for this
   - Need to verify the performance

[2021-05-18 03:54] drewnoakes opened #7230 "Remove Project Properties UI feature flag. (1)"
Once #7171 is addressed, we should remove the `CPS.UpdatedProjectPropertiesDesigner.Local` feature flag from Dev17, in both `VsPackage.resx` and `FeatureFlags.xml`:

https://devdiv.visualstudio.com/DevDiv/_search?action=contents&text=CPS.UpdatedProjectPropertiesDesigner.Local&type=code&lp=code-Project&filters=ProjectFilters%7BDevDiv%7DRepositoryFilters%7BVS%7D&pageSize=25&result=DefaultCollection%

[2021-05-18 04:26] drewnoakes commented on #7230
Draft PR for this: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/324998

We need to sort out the target branch/timing for this before merge.

[2021-05-18 07:57] kaylumah commented on #7177
@lifengl Sorry to check again, but do you have any alternative to your proposed solution?

[2021-05-18 08:36] GW-Lab opened #7260 "Winforms: Project properties -> Startup object"
**Version Used**: VS 16.10 preview 3  NET 5 (5.06) or NET 6 preview 3

**Steps to Reproduce**:

1. Create VB Winform project
2. In Solusion Explorer: select properties
3. In properties: Select Application
4. In Application: Select Startup object
5. Select =>Form1

**Expected Behavior**:
"Sub Main" is still the startup entry point of the Application and executes:

Public Sub New()
            MyBas

[2021-05-18 17:33] BillB4 commented on #3040
This issue is true for Visual Studio 2019 version 16.9.5 for .NET 5.0 projects as well.

[2021-05-18 22:32] tmeschter commented on #6936
@cartermp So `OtherFlags` looks like this in the project file?

[code]

[2021-05-18 22:46] cartermp commented on #6936
Yep!

[2021-05-18 23:00] tmeschter opened #7236 "Re-create VB WinForms Application property page (4)"
We need to recreate the VB Application property page for WinForms projects in the new project properties system.

For reference, this is the Application property page as it currently appears for VB WinForms apps targeting .NET 5:

![image](https://user-images.githubusercontent.com/10506730/118733539-5110f800-b7f1-11eb-8b85-cd02796b6ea0.png)

Note this differs from the C# Application property page

[2021-05-18 23:04] tmeschter opened #7237 "Re-create VB Compile property page (2)"
We need to re-create the VB Compile property page in the new property page system.

For reference, this is the Compile property page as it currently appears for VB WinForms apps targeting .NET 5:

![image](https://user-images.githubusercontent.com/10506730/118734105-8407bb80-b7f2-11eb-8707-f642cb709384.png)

Note that this is very different from the C# Compile property page. It may warrant a compl

[2021-05-18 23:10] tmeschter opened #7238 "Re-create VB References property page (10)"
We need to re-create the VB References property page in the new property page system.

For reference, this is the References property page as it currently appears for VB WinForms apps targeting .NET 5:

![image](https://user-images.githubusercontent.com/10506730/118734414-350e5600-b7f3-11eb-965e-b76181bef962.png)

I don't think this needs to be an exact copy of the existing page. For example, refe

[2021-05-18 23:16] tmeschter opened #7239 "Expose UseWindowsForms and UseWPF properties"
I believe these properties are only meaningful on .NET Core 3.0/3.1, but it would still be useful to have them as they control whether or not WinForms and WPF functionality is available to the project.

The Application property page seems like a natural place for these. However, we only want them to show for projects that target .NET Core 3.0/3.1.

_This work was identified as part of #6935._

[2021-05-18 23:18] tmeschter opened #7240 "Expose MinimumSplashScreenDisplayTime in the new property pages"
This came up while investigating #6935. It only applies to VB apps, as best I can tell. Part of the work will involve understanding what it does, and how/where the underlying data is stored.

[2021-05-18 23:19] tmeschter opened #7241 "Expose UseCompatibleTextRendering in the new property pages"
This came up while investigating #6935. It only applies to VB apps, as best I can tell. Part of the work will involve understanding what it does, and how/where the underlying data is stored.

[2021-05-18 23:20] tmeschter commented on #6935
At this point I believe I've split off all the individual work items identified here. Closing.

[2021-05-18 23:20] #6935 closed

[2021-05-18 23:23] tmeschter commented on #6936
@cartermp Can I close this in favor of dotnet/fsharp#11532?

[2021-05-18 23:27] cartermp commented on #6936
Yep, sounds fair.

[2021-05-18 23:32] #6936 closed

[2021-05-18 23:41] dmonroym commented on #7192
Fixed in #7234

[2021-05-18 23:41] #7192 closed

[2021-05-18 23:46] melytc commented on #6939
We've done the investigation and the resulting work will be done by the corresponding team.

[2021-05-18 23:46] #6939 closed

[2021-05-19 00:29] drewnoakes commented on #7238
Triage note: Need to validate which parts of this experience need to be brought forward.

cc: @KathleenDollard @cartermp

[2021-05-19 00:53] drewnoakes opened #7242 "Migrate the Code Analysis page to the new Project Properties UI"
![image](https://user-images.githubusercontent.com/350947/118740583-9421a880-b88f-11eb-97a2-22e0aeca4b4d.png)

- "Run on build" controls `<RunAnalyzersDuringBuild>`
- "Run on live analysis" does not change anything in the project file (needs investigation)
- "Enforce CodeStyle on build (experimental)" controls `<EnforceCodeStyleInBuild>`
- "Enable .NET Analyzers" controls `<EnableNETAnalyzers>`
-

[2021-05-19 00:54] drewnoakes commented on #266
This was addressed in #5094.

We will port this experience to the new Project Properties UI, which is tracked in #7242.

[2021-05-19 00:54] #266 closed

[2021-05-19 01:07] drewnoakes opened #7243 "Extend property visibility condition functions (2)"
Several properties are only applicable for certain project configurations. We need to create more functions for use in visibility conditions.

- [x] `(has-net-framework)`
- [x] `(has-net-core-app)`
- [x] `(has-net-framework-version-or-greater "4.8")`
- [x] `(has-net-core-app-version-or-greater "5.0")`
- [x] `(has-csharp-lang-version-or-greater "7.3")`

[2021-05-19 02:04] drewnoakes commented on #7223
This has been merged.

[2021-05-19 02:04] #7223 closed

[2021-05-19 03:40] drewnoakes commented on #7243
Looking at this, there are two options.

1. Allow exporting visibility condition functions via MEF, then export the above functions with an implementation that can read from the project state. This would contribute to #6895.

2. Pull in extra project data (`LangVersion`, `TargetFrameworkIdentifier`, etc) into non-visible properties to be able to query then.
    - Requires new functions
      - Com

[2021-05-19 03:51] drewnoakes opened #7244 "Support "Sign the ClickOnce manifests""
The legacy property pages have an option to sign ClickOnce manifests:

![image](https://user-images.githubusercontent.com/350947/118753806-12d70f80-b8a9-11eb-90ed-2f701e5456eb.png)

We need to determine whether this UI is still relevant for today's projects.

Note that for SDK-style projects, even those that target .NET Framework, the UI shows:

![image](https://user-images.githubusercontent.com/3

[2021-05-19 03:56] drewnoakes opened #7245 "Support the ProduceReferenceAssembly property in the new Project Properties UI"
We should investigate the use of the `ProduceReferenceAssembly` property across different types of projects and potentially add it to the UI.

https://docs.microsoft.com/en-us/dotnet/standard/assembly/reference-assemblies

This property is enabled by default from .NET 5.0 onwards. It may still be useful for earlier targets, and we should offer it.

[2021-05-19 03:58] drewnoakes opened #7246 "Investigate "Assembly Information" properties for the new Project Properties UI"
The following "Assembly Information" properties may be worth adding.

Some of these are found on the "Package" page, which may not be the best place.

- [ ] Title
- [ ] Description
- [ ] Company
- [ ] Product
- [ ] Copyright
- [ ] Trademark
- [ ] Assembly version
- [ ] File version
- [ ] GUID
- [ ] Neutral language
- [ ] Make assembly COM-Visible (is this .NET Framework-specific?)

[2021-05-19 03:59] drewnoakes commented on #6720
Remaining items have been split out into separate issues. Closing this.

[2021-05-19 03:59] #6720 closed

[2021-05-19 04:03] drewnoakes commented on #7243
https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/325289 adds the ability to export visibility condition functions via MEF, which is required for option 1 above.

[2021-05-19 21:38] tmeschter commented on #7242
Note that this page is owned by the Productivity team; the bug should go to the dotnet/roslyn repo.

[2021-05-19 21:54] #7021 closed

[2021-05-20 05:48] wouterroos commented on #7019
@drewnoakes Any update on this?

[2021-05-20 08:32] Olina-Zhang opened #7249 "The selected target project in Reference Manager dialog is not correct when adding project reference in 2 Winforms .Net core projects"
**Visual Studio Version**:
Version 16.11.0 Preview 1.0 [31317.239.d16.11]

**Steps to Reproduce**:
1. Create a Winforms .Net Core app with named "App1"
2. In same solution, add the second Winforms .Net Core app with default name "WinFormsApp1"
3. Don't build entire solution, right click App1 project node in Solution Explorer, select Add -> Project

**Expected Behavior**:
In Reference Manager dialo

[2021-05-20 19:21] melytc commented on #7167
For reference, this is the previous experience looks like:
![image](https://user-images.githubusercontent.com/8518253/119036552-b5ed5f00-b965-11eb-8b64-2cd7af4bab2a.png)

And this is the new experience:
![image](https://user-images.githubusercontent.com/8518253/119036669-d61d1e00-b965-11eb-8f7a-75b61273c5aa.png)

[2021-05-20 21:37] Treit opened #7250 "New csproj properties page is hard to read (1)"
**Visual Studio Verison**
Visual Studio Enterprise 2019 Preview - Version 16.10.0 Preview 4.0

**Summary**:
After upgrading to a new Visual Studio version, I see that there is a new preview Project Properties UI.

I find the design and layout of this UI to be very poor for usability. It is very hard to read as the UI makes poor use of whitespace, has oddly-sized input boxes and does not wrap descr

[2021-05-20 21:38] drewnoakes commented on #7167
See also #6457 for a very similar work item on a different property. I suspect the solution to each will look similar.

[2021-05-20 23:12] lifengl commented on #7177
My suggestion is that you can create a fake project (maybe a class library project) inside your solution, and inside it, you can put all your solution platforms
	  <Platforms>AnyCPU;Azure.ServiceFabric;DotNet.ServiceFabric</Platforms>

With this, you can do 1:1 mapping between project configuration of this project to your solution configuration with that dialog. During build, the XML item for that

[2021-05-20 23:29] drewnoakes opened #7251 "Plumb non-visible project properties through to the UI (1)"
It would be useful for the client to have non-visible properties available for use in visibility conditions.

- [x] Add `IsVisible` to the project model in CPS ([PR](https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/325905))
- [x] Stop filtering non-visible properties in the .NET Project System ([PR](https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/327511))
- [x] Filter non-vi

[2021-05-20 23:31] melytc commented on #7242
Note: @tmeschter will follow up with the productivity team.

[2021-05-20 23:41] melytc commented on #6705
Triage note: @jjmew is there a vendor already doing this kind of testing? If so, we could benefit from their experience on this one.

[2021-05-21 01:08] drewnoakes opened #7252 "New SDK causes output path properties to show absolute paths"
VS Version 16.10.0 Preview 3.0 [31303.267.main]

![image](https://user-images.githubusercontent.com/350947/119067010-76397c80-ba24-11eb-998d-72d4a54ab4ff.png)

I believe this started after installing VS2022 internal previews, presumably with a preview of SDK 6.

These properties are now resolving as full paths. My concern here is that it may encourage users to bake an absolute path into their proj

[2021-05-21 01:18] dsplaisted commented on #7252
This is coming from the Arcade .targets files which use a common output directory.  What happens with a vanilla project outside of Arcade or other repo infrastructure?

[2021-05-21 02:14] Marie-Shi opened #7253 "The result in Core is inconsistent with Framework when adding a space for Default namespace"
**Visual Studio Version**: Version 16.11.0 Preview 1.0 [31319.401.d16.11]

**Steps to Reproduce**:

1.	Create a Winforms core application.
2.	Right click project to open properties window.
3.	Find Application page, change Default namespace from WinFormsApp5 to WinForms App5(there is a space), then press enter key.

**Expected Behavior**:
For Framework, an error dialog pops up.
![issue3_fra](https:

[2021-05-21 04:01] drewnoakes commented on #7253
We currently perform no UI validation on input strings. We could add some. In #6907 I proposed adding a `RegexPattern` as optional metadata to string properties, which the UI could use to validate inputs. That approach could be a viable solution to this problem.

[2021-05-21 04:06] jjmew commented on #6705
@melytc  I believe @richaverma1 's team has done it before

[2021-05-21 04:13] davkean commented on #353
**Version Used**:
17.0.0 Preview 1.0 [31313.406.main]

[Trace](https://microsoft-my.sharepoint.com/personal/paulv_microsoft_com/_layouts/15/onedrive.aspx?originalPath=aHR0cHM6Ly9taWNyb3NvZnQtbXkuc2hhcmVwb2ludC5jb20vOmY6L3AvcGF1bHYvRXRUY1d3X0FBb1pLc29WMVl5ajdUV2NCNEtIU1hkRWs1TTktd2JKMUhKWXpGQT9ydGltZT1wdGpQZlBFYjJVZw&id=%2Fpersonal%2Fpaulv%5Fmicrosoft%5Fcom%2FDocuments%2Fscale%2Ftraces%2F17%2E0%2E0

[2021-05-21 09:34] #7171 closed

[2021-05-21 12:47] drewnoakes commented on #7252
Thanks @dsplaisted, if this is Arcade then we can close this.

I'll verify.

[2021-05-21 15:43] IEvangelist opened #7254 "Visual Studio status bar stuck in "Building" state bug"
**Visual Studio Version**:

Microsoft Visual Studio Enterprise 2019
Version 16.9.5
VisualStudio.16.Release/16.9.5+31229.75
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Enterprise

**Summary**:

I found a small bug in Visual Studio, it should be pretty easy to recreate. If you open a _.csproj_, that does not yet belong to a _.sln_ and build. It will prompt you to create/save a new

[2021-05-21 17:25] richaverma1 commented on #6705
@melytc, @jjmew new properties pages have been covered in the recent GB18030 pass we did. The validation steps mentioned in this bug are good and I have noted them down for the next pass in case something was missed.

[2021-05-21 21:14] dmonroym opened #7256 "Deal with "VSTHRD110: Observe result of async calls" violations"
Similar to #3921

We suppressed new VSTHRD110 violations as we need to adopt new Microsoft.VisualStudio.Threading version in 17.0 Preview 1. We'll fix the violations in future preview.

- [ ] [assembly: SuppressMessage("Usage", "VSTHRD110:Observe result of async calls", Justification = "<Pending>", Scope = "member", Target = "~M:Microsoft.VisualStudio.SolutionExplorer.ProjectNodeCommandHandler.Ope

[2021-05-21 23:33] dmonroym opened #7257 "Remove disabled warning BC42025"
Temprary workaround on #7233 on `PropPageUserControlBase.vb`, `ApplicationPropPageVBWPF.vb` and `MyApplicationProperties.vb` but once #7235 is integrated into main we should be able to remove those wrappers

[2021-05-22 23:33] paul1956 opened #7448 "Setting do not work on NEW VB .Net 5 Winforms application"
* .NET Core Version:  What I have installed is below
[code]

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Create a new VB WinForm App, that will read settings, add settings, run app and application will crash as below.

![image](https://user-images.githubusercontent.com/12789369/119243280-20470080-bb1a-11eb-9bcc-4c95a6dd18f3.png)
[code]

**Expected behavi

[2021-05-25 12:00] drewnoakes opened #7262 "Create fwlink URLs for all property HelpUrls (1)"
The properties shown in the new Project Properties UI and Launch Profile UI are specified in XAML rule tiles. Each property may have a `HelpUrl` associated with it. These URLs should go via the fwlink redirection service, so we can retarget them in future if they break due to changes in the location of documentation.

[2021-05-25 12:01] #7245 closed

[2021-05-25 12:07] drewnoakes commented on #7250
We discussed this a little on Discord.

One clear action to take here is to limit the width of the description text, so we don't display these hard-to-read run on sentences, as shown.

[2021-05-25 14:02] andreasstolpmann commented on #6613
@jjmew can you please take a look at the Visual Studio Ticket i created? (https://developercommunity.visualstudio.com/content/problem/1191199/visual-studio-incorrectly-launches-winexe-with-con-1.html)

It still is flagged as "Need More Info" despite multiple comments providing that info.

[2021-05-25 17:36] tmeschter commented on #7262
@MiYanni Let me know if you have any questions.

[2021-05-25 17:39] tmeschter commented on #7256
It is not clear if these are real issues we should fix or if suppressing them is the right approach.

[2021-05-25 17:41] tmeschter commented on #7254
@IEvangelist Did you create an .NET Framework project, or a .NET Core/.NET 5 project?

[2021-05-25 17:45] tmeschter commented on #7253
I don't think we will fix this for the current property pages but we should consider how we would deal with this for the new property pages.

[2021-05-25 17:49] tmeschter commented on #7251
@drewnoakes Do you think this is a Must Have for Dev17 GA?

[2021-05-25 17:53] tmeschter commented on #7249
@jjmew Placed in 16.11 given that it is a clear functional defect.

[2021-05-25 17:57] tmeschter commented on #7246
Some of these are truly specific to NuGet packages, but others are more general and used outside of NuGet packages as well.

[2021-05-25 17:58] tmeschter commented on #7246
That is, we need to decide what to do with these on a case-by-case basis.

[2021-05-25 19:11] MiYanni opened #7263 "Cannot build Project System in Dev17"
Currently running Dev17 main: Version 17.0.0 Preview 1.0 [31321.296.main]

When trying to build (in VS or in developer command prompt), this error occurs 3 times:
[code]

This happens either using `build.cmd` in VS 2022 Developer Command Prompt or by opening the solution and doing `Rebuild All`. This is using our (Project System) `main` branch.

[2021-05-25 19:31] IEvangelist commented on #7254
Hi @tmeschter - I created a .NET 5 project.

[2021-05-25 20:07] tmeschter commented on #7035
@drewnoakes The back-end changes were done in #7141, right? What's left is the UI side?

[2021-05-25 21:00] #7263 closed

[2021-05-25 21:58] MiYanni opened #7267 "System.OverflowException in old Property Pages (csproj.dll-based) in Dev17"
I'm fairly certain this is a difference in integer sizes or something of that sort. This System.OverflowException is thrown many times when trying to use the old Property Pages for csproj.dll-based projects.
![image](https://user-images.githubusercontent.com/17788297/119573700-7eb5ee00-bd69-11eb-86f4-2ed133815edd.png)

This is getting thrown from `PropPageDesignerWindowPane.vb`. Only noticed this

[2021-05-26 04:51] drewnoakes commented on #7251
@tmeschter yes. It unblocks other must-have scenarios such as #7227.

[2021-05-26 21:05] tmeschter commented on #5649
Closing as we no longer need this.

[2021-05-26 21:05] #5649 closed

[2021-05-26 22:36] tmeschter commented on #7086
I have confirmed this is fixed in Dev17 Preview 1 builds.

[2021-05-26 22:36] #7086 closed

[2021-05-27 03:24] drewnoakes commented on #7035
@tmeschter yes, just UI stuff now. I've unassigned you. Thanks.

[2021-05-27 03:30] drewnoakes commented on #7252
There's no action to take here.

[2021-05-27 03:30] #7252 closed

[2021-05-27 05:18] drewnoakes commented on #7035
https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/327180 makes read-only properties non-editable, which is the final step in this issue (for now at least).

[2021-05-27 09:25] drewnoakes commented on #7250
I've set a maximum width on the description text to improve readability of property descriptions when the editor is resized to be very wide.

## Before

![image](https://user-images.githubusercontent.com/350947/119799929-e6159e80-bf1f-11eb-9793-5fed91668122.png)

## After

![image](https://user-images.githubusercontent.com/350947/119799986-f2016080-bf1f-11eb-866a-24b9c3ed1ab7.png)

[2021-05-27 09:25] #7250 closed

[2021-05-27 10:31] drewnoakes commented on #7203
This problem was exacerbated by the banner shown at the top of the UI. That banner has recently been removed.

We should revisit this to see whether it is still an issue.

[2021-05-27 16:12] mpawelski commented on #2670
I was able to successfully use new SDK-style csproj for my ASP.NET MVC project. I probably will write about it here in more details because I had some not mentioned issues and came up with workarounds.

But I just want to tell you now that after updating to Visual Studio 2019 v16.10 from v16.9.4 it broke intellisense for razor files. Now I have many these errors:
[code]
when I open _Browser.cshtml

[2021-05-27 21:49] BenVillalobos opened #7276 "CopyToOutputDirectory Does Not Respect PreserveNewest and TargetPath"
Hello @BenVillalobos.  Now that version 16.10 has been released, I am able to test.  Unfortunately, I think this change exchanged one problem for another.

[code]

I have verified the correctness of the first two lines (i.e. the `Link` and `TargetPath` elements).  However, the last line with the `CopyToOutputDirectory` element is not working.  After completing the first build, if I tell Visual Stu

[2021-05-28 01:28] drewnoakes commented on #7241
These values are stored in a `.myapp` file.

[2021-05-28 01:29] drewnoakes commented on #7240
These values are stored in a `.myapp` file.

[2021-05-28 01:29] drewnoakes commented on #7236
Several of these values are stored in a `.myapp` file.

[2021-05-28 02:48] RussKie commented on #7239
Correct. This is how the SDK imports the Windows Desktop SDK and required desktop frameworks (Windows Forms and/or WPF).

[2021-05-28 03:09] RussKie opened #7279 "Enhance Windows Forms project properties page"
**Visual Studio Version**:
Dev17

**Summary**:

We have a design proposal https://github.com/dotnet/winforms/issues/4909 that seeks to streamline bootstrap of Windows Forms C# apps, and get developers to configure certain aspects of their app via MSBuild properties. E.g. instead of writing this code
[code]
developers will configure these as such:
[code]

It would be great to extend this experience

[2021-05-28 03:16] RussKie commented on #7236
The values are stored in myapp file, and AFAIK, changes at this dialog invoke an "old-style" source generator, which emits necessary code into Application.Desiger.vb.

@KlausLoeffelmann @KathleenDollard we could consider moving to the Roslyn source generators (similar to https://github.com/dotnet/winforms/issues/4909), as well as moving away from myapp file in favour of vbproj MSBuild properties.

[2021-05-28 03:27] drewnoakes commented on #7279
I don't foresee any major challenges here. The font picker is probably the most challenging bit, but is still doable.

I'm in the process of adding support for visibility conditions functions that will let us light up properties based on target framework. In #7239 we will have a `UseWindowsForms` property that we can use to light up these winforms properties.

@RussKie, we it won't be very hard to

[2021-05-28 03:29] drewnoakes commented on #7227
Locally, I have a visibility expression that will support this. It currently looks like:

[code]

It is backed by the `TargetFrameworkMoniker` property via the `ConfigurationGeneralPage`.

Using that expression will make a property appear only in .NET 5 and later.

[2021-05-28 03:29] RussKie commented on #7279
@KathleenDollard and @KlausLoeffelmann are key stakeholders here, but I'm happy to run around and wave my hands :)

[2021-05-28 04:04] paul1956 commented on #7236
As long as we can do a 1 time upgrade it is a fantastic idea, if we can't do it automatically some instructions on what a developer needs to do is an OK option. Right now in Core there is come confusion on how some of the properties should even be set like StartupObject, setting it wrong loses the StartUp screen for example and default Icon does nothing on this screen. What does it even mean in Co

[2021-05-28 04:04] drewnoakes commented on #7243
CPS PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/327513 adds functions that will allow this.

[2021-05-28 09:03] Bogatinov commented on #2670
@mpawelski it's possible that you need to install [Nuget package Microsoft.CodeDom.Providers.DotNetCompilerPlatform](https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform).

More details on [Chris Pratt blog post](https://cpratt.co/using-csharp-6-or-7-with-mvc-5/) where `DotNetCompilerPlatform` will allow C#6 features on MVC5 project, and remove any `CS0103` errors beca

[2021-05-28 09:19] drewnoakes commented on #7262
An extra step here (thanks to @RussKie for pointing this out):

- Go through our _existing_ fwlinks and make sure they don't reference `en-us` culture.

[code]

   https://review.docs.microsoft.com/en-us/help/contribute/links-how-to?branch=master#locale-codes-in-external-links

[2021-05-28 09:26] mpawelski commented on #2670
@Bogatinov I have this nuget package. And my MVC5 project on SDK-style csproj worked fine for around a month now. When I updated VS to 16.10 it stopped.

It would be good if someone could confirm if they get the same behaviour. I guess there are not many people that already migrated their MVC5 project to SDK-style csproj (the discovery that it is possible without IntelliSense error for razor files

[2021-05-28 10:29] bachratyg commented on #2670
Did you by any chance "Enable experimental Razor editor" in Tools > Options > General > Preview features? Works for me when this is turned off but breaks when turned on. You will need to restart VS for changes to take effect.

[2021-05-28 10:39] drewnoakes commented on #7227
See #7281 for an example of only showing properties from .NET Core 3.0 and later.

[2021-05-28 11:25] drewnoakes commented on #6937
- `UseWindowsForms` and `UseWPF` are tracked by #7239 and were implemented in #7281.
- `MinimumSplashScreenDisplayTime` and `UseCompatibleTextRendering` are historically only editable in a UI via the VB application model, which is tracked by #7236.
- There is a proposal in flight to unify these across languages in #7279.

[2021-05-28 11:27] drewnoakes commented on #7251
This has been addressed by in-flight PR and can be closed once they merge.

[2021-05-28 11:31] mpawelski commented on #2670
Yep, looks like this was the cause. Don't know what happened because I don't recall setting this but it looks that this is the issue. Maybe update somehow turned it on...
Anyway, thanks a lot! @bachratyg

So false alarm folks! 🤪There are no issues with newest Visual Studio when working with MVC5 project on new SDK-csproj.

[2021-05-28 12:05] drewnoakes commented on #2670
Thanks @mpawelski and @bachratyg. I'll collapse your conversation so they don't distract other readers of this long thread.

[2021-05-28 12:24] drewnoakes commented on #7230
VS PR https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/324998 now published, and will be merged into VS main once verified and approved.

[2021-05-28 13:44] TysonMN commented on #7276
Do still want some information from a binlog?

I created one, and I see private information in the environment variables, so I don't want share the whole thing.  I looked around, but I wasn't able to find anything related to the fast up-to-date check.

P.S.
[The Live Structured Log Viewer](https://live.msbuildlog.com/) doesn't support binlogs with version 13, which is what I have.

[2021-05-28 14:23] drewnoakes opened #7286 "UI glitch when search shows no results but external change adds a result"
Repro:

1. Create a project with `LangVersion` 7
2. Search for `null` and get no search results
3. Modify the .csproj directly to set LangVersion to 8
4. Property now appears, but the "No properties match search" text remains, and the navigation section does not update.

![image](https://user-images.githubusercontent.com/350947/119998349-f5761400-c013-11eb-98ad-662a3d446720.png)

[2021-05-28 14:25] rainersigwald commented on #7276
No thanks @TysonMN; the binlog doesn't contain any information on FUTD and I think we have enough to repro the problem locally.

[2021-05-31 01:14] drewnoakes commented on #7286
Fixed in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/327565 (pending review).

[2021-05-31 01:17] drewnoakes commented on #7243
These new functions are documented in https://github.com/dotnet/project-system/pull/7282.

[2021-05-31 06:37] janis3000 commented on #5629
In Visual Studio 16.10 I can view the form in the designer alright, but when starting the application in net472 after the resx has been changed I still get the same error as described by deng0.

`
System.NotSupportedException: 'Cannot read resources that depend on serialization.'

 at System.Resources.Extensions.DeserializingResourceReader.FindType(Int32 typeIndex)
   at System.Resources.Extension

[2021-06-01 13:15] glatzert opened #7287 "Renaming file extensions should be file extension aware"
**Visual Studio Version**: 16.9.4

**Summary**:
Accidentaly creating a file of a wrong type (say .cs instead of .razor), and renaming it's type, will have unexpected side effects (no source code completion, added `<Content Remove>` in .csproj)

**Steps to Reproduce**:

1. Create an Asp.Net Core Project.
2. Add a class "MyPage.cs" to the project.
3. Rename the file to "MyPage.razor".
4. Look at the

[2021-06-01 17:26] lifengl opened #7288 "NuGet restore may happen multiple times for multi-target projects"
Repro:
1, Open Roslyn solution, after everything settled, close VS.

2, Restart VS, open Roslyn solution again, notice it reaches intellisense ready state quickly after the solution explorer shows the tree

3, close the solution (keep VS open)

4, reopen Roslyn solution in the same VS session
 Notice: it takes much longer times (minutes) to reach intellinsense ready state. Check asset files in the

[2021-06-01 17:56] tmeschter commented on #7287
There seem to be a couple of issues here:
1. The addition of `<Content Remove="...">` to the project file.
2. The editor failing to "reset" with the property completion handlers.

[2021-06-01 17:58] tmeschter commented on #7287
@MiYanni Perhaps similar to other issues you're looking into RE: changing build actions?

[2021-06-01 18:01] tmeschter commented on #7279
We need to figure out who would own this implementation, and where it would live.

[2021-06-01 23:11] drewnoakes commented on #7230
This has been merged.

[2021-06-01 23:11] #7230 closed

[2021-06-01 23:47] drewnoakes opened #7289 "Support source generator debug launch profiles"
Roslyn source generators may be debugged using a `DebugRoslynComponent` command name.

We need to support this in the new Launch Profiles UI.

An example: https://github.com/davidwengier/Trains.NET/blob/main/src/Trains.NET.SourceGenerator/Properties/launchSettings.json

[2021-06-02 00:19] drewnoakes commented on #7289
FYI @chsienki

[2021-06-02 03:15] tmeschter commented on #7289
Ideally the UI for this command would live in the same place as the command implementation. Do we know where that is?

Or, more to the point: it probably shouldn't live here. :-)

[2021-06-02 03:29] drewnoakes commented on #7286
The fix has been merged.

[2021-06-02 03:29] #7286 closed

[2021-06-02 03:30] drewnoakes commented on #7251
All parts have been merged.

[2021-06-02 03:30] #7251 closed

[2021-06-02 03:31] drewnoakes commented on #7035
All parts have been merged.

[2021-06-02 03:31] #7035 closed

[2021-06-02 09:04] drewnoakes opened #7290 "Support filtering up-to-date inputs/outputs via metadata using global properties"
We have a use case for VS to filter the set of up-to-date check inputs/outputs to use for different kinds of builds.

The mechanism here will be:
- A global property will be provided to the up-to-date check:
[code]
- Items such as `UpToDateCheckInput`, `UpToDateCheckOutput` and `UpToDateCheckBuilt` will have an optional `Kind` metadata entry that labels it as a candidate for exclusion via the abov

[2021-06-02 12:17] drewnoakes commented on #7289
Agreed.

It's in the Roslyn SDK:

https://github.com/dotnet/roslyn-sdk/blob/d16bce93b36d078682776b93d5435287b038783f/src/VisualStudio.Roslyn.SDK/ComponentDebugger/Constants.cs#L11

There's a [custom `ILaunchSettingsUIProvider`](https://github.com/dotnet/roslyn-sdk/blob/d16bce93b36d078682776b93d5435287b038783f/src/VisualStudio.Roslyn.SDK/ComponentDebugger/LaunchSettingsProvider.cs) too, for the leg

[2021-06-02 12:23] drewnoakes commented on #7289
I ended up filing a new issue with more context on what's required: https://github.com/dotnet/roslyn-sdk/issues/850

[2021-06-02 12:23] #7289 closed

[2021-06-02 16:29] jjmew commented on #6613
@andreasstolpmann We did an investigation and determine that it was a WebTools issue. We moved the  ticket to that team.  cc: @vijayrkn

[2021-06-02 18:15] tmeschter commented on #6931
The more I think about this, the trickier it is.

Fundamentally, the issue is that the recursive definition of a property in a .props file is _not_ the same definition you want in your project file. E.g., if the .props file has `<ABC>$(ABC);DEF</ABC>` you do not want to have `<ABC>$(ABC);DEF</ABC>` in your project file as well--that would evaluate to `;DEF;DEF`. More specifically, you do not want

[2021-06-02 18:41] tmeschter commented on #6931
We show the unevaluated value largely so the user can understand how the property is currently defined. We also use it as the basis for edits that will go into the project file, and (as we see in this issue) the existing definition is not necessarily a good candidate for that.

I think that brings us back to making a distinction between "this is the value in your project file" and "this is the def

[2021-06-02 19:04] MiYanni opened #7292 "New Property Pages: Adjust control theme"
I noticed that with the new Dev17 dark mode, it is harder to 'see' the controls for each property.
![image](https://user-images.githubusercontent.com/17788297/120537500-38c8dd80-c39a-11eb-9d15-de34a26c2718.png)

I took a look at VSCode, and realized that the dark theme for them has 'inverted' controls.
![image](https://user-images.githubusercontent.com/17788297/120537640-5f871400-c39a-11eb-8848-93

[2021-06-02 20:32] tmeschter commented on #7292
The property pages are using the styles provided by VS, so like it or hate it they are consistent with the rest of VS in dark mode. :-) We would need to have a compelling reason to deviate since that places the burden on us to maintain a separate set of styles.

[2021-06-02 21:22] drewnoakes commented on #7292
This is feedback for the UX team. Any change here must be made across the whole product.

If such a change was made centrally, we would pick it up automatically.

[2021-06-02 22:24] MiYanni opened #7293 "New Property Pages: Add evaluation log"
Related: https://github.com/dotnet/project-system/issues/6931
Related: https://github.com/dotnet/project-system/issues/7050

One of the design issues for the new property pages is what information to display to the user for recursive properties. I wanted to make a mock-up of an idea to expand the current evaluated value display to allow it to show the entire evaluation log. It would show these thr

[2021-06-02 23:09] MiYanni commented on #6858
Current plan is to replace BinaryFormatter usage. It is used for undo/redo of the old property pages and used for drag & drop/copy-paste in the resource designer. I'm currently working on a solution using System.Text.Json.

[2021-06-02 23:09] #6858 closed

[2021-06-03 00:55] MiYanni commented on #7292
Here, I don't want the UI changes for the entire product. It would update elements like this:
![image](https://user-images.githubusercontent.com/17788297/120569742-65491d80-c3cb-11eb-8d4d-2d2b3e7b8ee8.png)
and this:
![image](https://user-images.githubusercontent.com/17788297/120569749-6aa66800-c3cb-11eb-8f4e-043c1373f7e1.png)
which is not desired.

But I think for property pages, which is built ar

[2021-06-03 12:00] drewnoakes commented on #6931
Sending this back to triage to decide on priority for this work item. The property is pretty broken as it stands so we should probably do something about it in 17.0.

[2021-06-03 18:43] swesonga opened #7296 "Trigger In-Product-Acquisition when opening a project targeting a TFM that is not installed"
**Summary**:
Visual Studio checks .NET Framework projects to determine whether the frameworks they target are installed. It then prompts the user to acquire missing targeting packs if necessary. This is a request to improve the experience for .NET Core projects so that they also trigger IPA if the TFMs they use are for SDKs not installed on the machine.

[2021-06-03 20:06] MiYanni opened #7297 "Dev17: Old property pages crash VS intermittently on tab switching"
### Repro Steps
1. Open VS with a project that is a csproj.dll-based (.NET framework).
2. Open the project properties.
3. Click quickly through the tabs of the property pages.
4. Observe that VS will freeze and crash.

### Details
I tested this several times, and in conjunction with the changes in https://github.com/dotnet/project-system/pull/7270. Those changes did not affect this issue. I tested

[2021-06-03 20:09] #7267 closed

[2021-06-03 23:51] drewnoakes commented on #7113
@edwardskrod do you have an update on this? Were you able to remove your intercepted properties?

[2021-06-04 00:42] edwardskrod commented on #7113
I can look into this next sprint beginning Monday.  I have a few other high priority tasks, but I should be able to make time for this as well.

[2021-06-04 01:01] drewnoakes commented on #7243
These have now merged into CPS.

[2021-06-04 01:01] #7243 closed

[2021-06-07 03:35] ahdung opened #7309 "Missing "Open in explorer" in solution explorer context menu for SQL CLR project"
**Version Used**:
VS2019 16.10
Sql Clr project

![微信截图_20210607113022](https://user-images.githubusercontent.com/12094247/120955562-3a244c80-c784-11eb-8044-25fb3e73212e.png)

I remember this exist until 16.9, but now missing, please put it return back. Thanks.

[2021-06-07 04:47] davkean commented on #7309
@ahdung Please use Help -> Send Feedback -> Report a Problem inside Visual Studio so that this can be routed to the correct team. The dotnet organization does not own this project type.

[2021-06-07 06:16] #7309 closed

[2021-06-07 11:48] drewnoakes commented on #6896
Will be closed by CPS PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/329209

[2021-06-07 11:50] #7239 closed

[2021-06-07 18:16] melytc opened #7310 "Show correct TargetFramework values on dropdown property"
In #7132 we moved from consuming the rule `SupportedTargetFrameworkAlias` from the MSBuild target `GenerateSupportedTargetFrameworkAlias`, to read the items `SupportedTargetFramework` from the SDK (https://github.com/dotnet/sdk/pull/17255).

In the old properties pages, there is some logic to detect which framework is being targeted (.NET Core, .NET Framework, .NET Standard) and given that, filter

[2021-06-07 21:17] #6444 closed

[2021-06-08 00:54] avivanoff commented on #2961
Would be nice to have per-user launch settings that does not need to be committed.

[2021-06-08 03:15] #7166 closed

[2021-06-08 17:03] TzvetomirTodorov commented on #1652
Bump.

Howdy Gents, any updates on what the progress of this is? Still having issues with it to this day.

[2021-06-08 17:40] jjmew commented on #6137
@vritant24 do you still need us to look at this? it is over a year old

[2021-06-08 17:44] jjmew commented on #6931
This is something that we should take a look post feature complete

[2021-06-08 17:49] jjmew commented on #7175
We have move this on an internal database where CPS tracks there issues.

https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1339843

[2021-06-08 17:49] #7175 closed

[2021-06-08 17:51] jjmew commented on #7177
Closing this as it is external and by design. The discussion can continue

[2021-06-08 17:54] jjmew commented on #7297
@MiYanni can you get a dump?

[2021-06-09 01:14] #7177 closed

[2021-06-09 01:19] drewnoakes commented on #1652
@TzvetomirTodorov

We are not all male on this team.

What version of VS are you using? The internal bug (linked above) was closed as fixed.

If you upgrade to the latest version and still see this issue, I suggest you use the "Report an issue" feature in VS to create a new issue. That will get it to the right team. The issue most likely doesn't belong to this repo.

[2021-06-09 16:34] vritant24 commented on #6137
Ah we are no longer blocked by this. I'll close this issue, thanks :)

[2021-06-09 16:34] #6137 closed

[2021-06-09 22:31] MiYanni commented on #7297
I may have hit it while debugging.
![image](https://user-images.githubusercontent.com/17788297/121437827-bf039780-c937-11eb-89a6-f3a65c49b528.png)

[2021-06-09 23:12] melytc commented on #7025
To avoid parsing, this is "already done" in the SDK side: instead of capturing all of the values in SupportedTargetFramework item, we could store and use each framework's ItemGroup [Microsoft.NET.SupportedTargetFrameworks.props](https://github.com/sfoslund/sdk/blob/36876246b7dd181fe6d69d7fa68ba454c916aed4/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.SupportedTargetFrameworks.props).

[2021-06-10 23:19] drewnoakes commented on #6898
Relevant: https://docs.microsoft.com/en-us/dotnet/desktop/wpf/advanced/focus-overview?view=netframeworkdesktop-4.8

[2021-06-11 13:40] orty commented on #6441
Hi,

My team and I are relying on this great extension from @13thirteen to handle our various launch scenarios (Project1 + Project2, Project1 + Project 3, Project1 + Project2 + Project3,..). It adds a really useful overlay upon the launch profiles feature of VS2019.

However, some caveats still persist, like the fact that the actual version of the nuget package `Microsoft.VisualStudio.ProjectSyste

[2021-06-13 15:47] sanderobdeijn opened #7317 ".dcproj won't accept azure functions project"
**Visual Studio Version**: 16.10.1

**Summary**:
When adding an azure functions project to a docker-compose .dcproj file.
Vs studio gives an error when building in vs studio
CTC1031 Linux containers are not supported for Func project.

When building the dockercompose file from the commandline it works fine.
Is there some check or flag somewhere that controls this behavior?

**Steps to Reproduce**:

[2021-06-14 13:44] edwardskrod commented on #7113
@drewnoakes   This looks pretty straightforward.   Right off the bat, I can see that there are two offending properties that I added to ConfigurationGeneral - TargetFrameworkMonikers and TargetFrameworkMoniker.  Neither of these properties are necessary for our Dependency Tree to work properly.  I deleted them and will continue to work through removing the capability to see if there are any other

[2021-06-14 14:18] edwardskrod commented on #7113
@drewnoakes I have a PR out. Please take a look when you get a chance.  I added you.

[2021-06-14 19:35] edwardskrod commented on #7113
We are targeting Dev17, Preview 2 with this change.  Closing the issue.

[2021-06-14 19:35] #7113 closed

[2021-06-14 22:02] tmeschter opened #7318 "Launch Profiles UI doesn't honor property visibility (2)"
**Steps to Reproduce**:

1. Add the following property to ProjectDebugPropertyPage.xaml:

[code]

2. Ctrl+F5 to run VS in the experimental hive (the updated .xaml file will be picked up).

3. Create a new C# Console App targeting .NET 5 (or any .NET Core, really)

4. Open the Launch Profiles UI

**Expected Behavior**:

"MyOtherProperty" does not show in the UI.

**Actual Behavior**:

The property

[2021-06-14 22:09] tmeschter commented on #7318
Context: The WebTools team already extends this page to add several settings for their scenarios, but they also want to remove the "Use remote machine", "Remote machine name", and "Authentication mode" properties as these are not meaningful for their scenarios. This is supported, and can be accomplished by redefining the property with different settings (in this case, `Visible="False"`).

I've deb

[2021-06-14 22:44] #6896 closed

[2021-06-15 03:46] drewnoakes opened #7319 "Hide property page when all child properties are non-visible"
Currently if a category has no visible properties, it is hidden.

The UI should also hide a page if all its children are non-visible. Otherwise we may end up with a top-level navigation section in the tree that has no corresponding items in the list.

[2021-06-15 05:00] drewnoakes commented on #7318
This not just about "permanently" non-visible properties. The bug also relates to dynamic visibility, as seen when toggling the "Use remote debugging" check box.

[2021-06-15 17:59] jjmew commented on #7279
@merriemcgaw @RussKie  - With the new properties UI we created a self-service model. Now it is fairly easy to add or modify properties. We would like to support your team on creating this.

[2021-06-16 01:53] #7227 closed

[2021-06-16 19:14] #5940 closed

[2021-06-16 23:20] #7262 closed

[2021-06-17 07:57] cbass27 commented on #6799
I'm still encountering this issue. Has anyone found a solution to this yet?

VB .NET 5
Visual Studio 16.10.2

[2021-06-17 10:11] paul1956 commented on #6799
Try deleting below from App.Config
[code]

[2021-06-17 20:56] brian-pickens-web commented on #7161
Does this mean that File Nesting won't be available until the next release of visual studio?

[2021-06-17 21:29] tmeschter opened #7327 "Create extension point for default launch profiles"
Currently the `LaunchSettingsProvider.UpdateProfilesAsync` method ensures that there is always at least one launch profile associated with the project. It does this by creating a profile matching the project name and with a launch command of "Project" if the launchSettings.json file is missing or is present but contains no profiles.

Without at least one launch profile we don't know how to start t

[2021-06-18 15:25] joj commented on #7327
@tmeschter this is my first try at it: https://github.com/dotnet/project-system/pull/7329. It's failing tests because the project in those tests doesn't have capabilities. I need your help with that one, I'm not sure how to properly modify that test. Thanks! J

[2021-06-18 17:56] Metrowerks commented on #5722
I have VS 16.9.2 and the file nesting still doesn't work. It only work once after the first saving of the csproj file. After that I have to make some changes and save the csproj again for the nesting to work.

[2021-06-18 18:18] tmeschter opened #7330 "Re-create environment variable data grid"
We need to re-create the environment variable data grid we had in the old property pages:

![image](https://user-images.githubusercontent.com/10506730/122601761-a45fab80-d026-11eb-96ac-7da51b158134.png)

Right now the environment variables are exposed as a specially-formatted text string, which is not as good an experience.

[2021-06-18 18:51] tmeschter opened #7331 ""Working directory" does not have a browse button"
The "Working directory" property in the Launch Profiles should have a browse button, but does not:

![image](https://user-images.githubusercontent.com/10506730/122604891-85afe380-d02b-11eb-994f-eae50bfb458a.png)

[2021-06-18 18:54] tmeschter opened #7332 ""Command line arguments" should be a multi-line text box"
Previous property pages:

![image](https://user-images.githubusercontent.com/10506730/122605124-de7f7c00-d02b-11eb-8ea9-93aed7be3d42.png)

Current Launch Profiles UI:

![image](https://user-images.githubusercontent.com/10506730/122605150-e808e400-d02b-11eb-9cd3-ded26f367091.png)

Due to the length of command line arguments, we should make this a multi-line text box again.

[2021-06-18 20:40] vsfeedback opened #7526 "IDE0018 invalid suggestion in a project with ToolsVersion="14.0" (no C# 7 support)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/IDE0018-invalid-suggestion-in-a-project-/1444069)._

---
[severity:It's more difficult to complete my work]
We share a C# project with my colleagues. All of them have Visual Studio 2015, but I have Visual Studio 2019.
In the .csproj file is this setting: _<Project ToolsVersion="14.0"_..

[2021-06-18 20:41] rakatyal opened #7333 "New Property Page doesn't have the WebView2 debugging option"
We added the support for WebView2 debugging in .Net Core apps in VS [here](https://github.com/dotnet/project-system/pull/6779). To enable it, users had to select the option in the debug properties page:

![image](https://user-images.githubusercontent.com/12533467/122614004-aa5f8780-d03a-11eb-9b4f-01a7ca99d915.png)

However, the new properties page doesn't show the UI option anymore. This will bloc

[2021-06-18 20:43] tmeschter commented on #7333
Note that when we add this, we need to disable it for WebTools by updating the "extension" page in WebTools to hide the property.

[2021-06-19 19:21] Swiftpaws opened #7334 "Section selection should move section to top of view"
Currently, when clicking on "Resources" and then on "Packaging" the view does not scope to the packaging header because its already in-view.

Expected:
Like in VS Code the section header should always be at the very top of the view when selecting.

[2021-06-19 19:26] Swiftpaws opened #7335 "VS17 new dark theme dim foreground in Solution Explorer"
Compared to the old dark theme the foreground in the solution explorer window is rather dim, which strains my eyes.

(This is just personal feedback)

![image](https://user-images.githubusercontent.com/18440081/122653406-80928780-d144-11eb-901d-1ec61d86c1a7.png)

[2021-06-20 07:27] drewnoakes commented on #7335
@Swiftpaws thanks for the feedback. The new dark theme is not part of this repo (nor is it on GitHub), so it's not possible for us to track this feedback here. Could you use the "Report a problem" feature of VS to submit a ticket? That will allow it to be routed to the correct team. If you paste a link to your feedback ticket here, I will make sure it is seen by the right people.

[2021-06-20 08:39] drewnoakes commented on #7332
I'm not sure about this.

The legacy UI _does_ show space for multiple lines of text, however you cannot actually press enter to enter multiple lines of text. The extra space is used if you enter a long string, which is useful in WinForms which has poor layout, but in our new WPF based-UI, the layout expands automatically to include longer strings.

Here is how some very long text looks in both:

[2021-06-20 12:09] Swiftpaws commented on #7335
@drewnoakes thanks for your reply. I have created an issue over at [devcommunity](https://developercommunity.visualstudio.com/t/VS17-new-dark-theme-dim-foreground-in-So/1455124)

[2021-06-20 12:09] #7335 closed

[2021-06-20 23:52] drewnoakes commented on #7331
It turns out that `folder` is a common alternative to `directory` for a `StringProperty`'s `SubType`. In that sense this is a more general bug in the system, rather that with this property in particular, as it is likely to trip up others as they bring their existing rule files to the new Project Property / Launch Profiles system. Bumping to must-have and submitting a fix.

[2021-06-21 00:01] drewnoakes opened #7337 "Explain alternative gestures to open the Launch Profile UI (0.2)"
Currently users are shown this text:

![image](https://user-images.githubusercontent.com/350947/122692245-44137880-d277-11eb-9737-8fc5dd6a48cf.png)

In fact there are better ways to get to the Launch Profile UI now:

![image](https://user-images.githubusercontent.com/350947/122692263-58f00c00-d277-11eb-89f9-803398ed16bf.png)

![image](https://user-images.githubusercontent.com/350947/122692274-6312

[2021-06-21 00:03] drewnoakes commented on #7332
Closing as by design.

[2021-06-21 00:03] #7332 closed

[2021-06-21 09:01] drewnoakes commented on #7335
Thanks. I have followed the issue and will make sure it is triaged appropriately.

[2021-06-21 19:49] jons-aura commented on #7028
I got a new system and reinstalled everything and can no longer reproduce this issue.

[2021-06-21 19:49] #7028 closed

[2021-06-21 22:57] Kaelum commented on #6728
@jjmew what is the status of this.  I looked at the [dotnet / winforms](https://github.com/dotnet/winforms) source of the .NET 5.0 release branch, and it looks like those projects are using this feature.  However, I can't find any documentation on how to use it.

[2021-06-22 01:36] drewnoakes commented on #6728
The internal issue was triaged by the team that owns this feature and they closed it as "won't fix". If this scenario is important to you I recommend searching for an existing feedback ticker, or creating a new one, and linking it here so that others can vote on it. As it stands, the fix does not belong in this repo and so this issue will not gain any traction. A feedback ticket is more likely to

[2021-06-22 01:36] #6728 closed

[2021-06-22 01:47] #7331 closed

[2021-06-22 04:35] Kaelum opened #7344 "Information request for RESX file auto-code generation"
The .NET 5.0 Release branch of [dotnet / winforms](https://github.com/dotnet/winforms) appears to be using a mechanism for RESX files, that autogenerates a C# partial class file in the bin folder of the project for the RESX file.  All references to that class in the solution/project appear to be resolvable, and enumerable in Intellisense, even when the file does not exist on disk.  The only refere

[2021-06-22 04:42] drewnoakes commented on #7344
I believe they are using a source generator for their RESX files, but you should probably ask them. I'll transfer this to the dotnet/winforms repo.

[2021-06-22 10:19] mavasani opened #7346 "[Legacy project system] Support filtering up-to-date inputs/outputs via metadata using global properties"
This issue tracks the exact same work as https://github.com/dotnet/project-system/issues/7290, but for the legacy csproj based project system.

[2021-06-22 10:19] mavasani commented on #7346
@drewnoakes @shyamnamboodiripad @vatsalyaagrawal

[2021-06-22 17:37] #6652 closed

[2021-06-22 17:38] swesonga commented on #7317
Filed https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1346033

[2021-06-22 17:41] jjmew commented on #6601
@melytc is this completed?

[2021-06-22 17:42] jjmew commented on #6799
This is a duplicate of #6784

[2021-06-22 17:42] #6799 closed

[2021-06-22 17:51] jjmew commented on #6307
We have fix this in Dev 17 Preview 1. The fix is only for SDK Style projects. At this point we have decided not to fix it for legacy.

[2021-06-22 17:51] #6307 closed

[2021-06-22 17:59] jjmew commented on #3674
We improved the experience in the new UI Project Properties. We won't fix this for legacy.

[2021-06-22 17:59] #3674 closed

[2021-06-22 21:18] drewnoakes commented on #6601
One but we haven't addressed is;

I'm not sure whether we need this, or how we would implement it.

[2021-06-22 22:38] StingyJack commented on #6307
@jjmew any advice or tips regarding how to convince a business that each regression does not have to be fixed?

(Asking for a friend.)

[2021-06-23 00:00] MiYanni opened #7349 "Remove BinaryFormatter telemetry"
After removing BinaryFormatter usage [here](https://github.com/dotnet/project-system/pull/7316), the telemetry is no longer needed.

[2021-06-23 00:35] melytc opened #7350 "Improve Project Properties UI tab navigation"
When editing a property and hitting tab, focus gets lost from the next property.
![tab-navigation](https://user-images.githubusercontent.com/8518253/123016768-30076e00-d380-11eb-937c-7a71ffe48372.gif)

**Impact:**
User is confused where the focus is and disrupts their productivity.

[2021-06-23 00:37] MiYanni opened #7351 "Combine Utils.vb from both AppDesigner and Editors"
The `Utils.vb` files in both the AppDesigner and Editors projects are very similar. There is quite a bit of copy/paste code between them. So, it would make sense to consolidate this into a single file. The idea would be to include the file in one project and then simply link to the file in the other project. These files are currently not public, so there wouldn't be an issue with using the same na

[2021-06-23 00:43] melytc opened #7352 "Disable edit functionality to property's preview"
Currently a user can tab or select a property's preview and try to edit it (the changed value is not refreshed back to the property's value itself, so at least that's good). I think we should make them read-only properties. Not sure if this was something asked from the accessibility test coverage @drewnoakes.
![preview-properties](https://user-images.githubusercontent.com/8518253/123017338-3c3ffb0

[2021-06-23 01:16] drewnoakes commented on #7352
This is not supposed to be editable. It is supposed to be selectable and copyable.

[2021-06-23 01:44] drewnoakes commented on #7350
I believe this is a duplicate of #6898.

[2021-06-23 03:01] drewnoakes commented on #7352
Fixed in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/332975

![evaluated-value-text-box-interaction](https://user-images.githubusercontent.com/350947/123028666-166b3280-d423-11eb-937b-e7e4a3c8276d.gif)

[2021-06-23 03:05] #7350 closed

[2021-06-23 19:03] KlausLoeffelmann opened #7355 "The Settings for a WinForms App cannot be created or edited from the new Project UI"
As a developer, I want to add a settings file to my WinForms or WPF Apps or edit an existing one.
With the new Project Properties UI, I cannot do this.

Question:
* Do we want this feature for the new Project UI?
* If yes, how would the type editors, which would need to talk to the core process to resolve the types and get the correct editors, fit into this?
* If no, what would be the alternative

[2021-06-24 02:50] drewnoakes opened #7358 "Allow visibility to be conditional in VS workload/component availability"
We currently have functions which may be called from visibility condition expressions to determine whether a given property should be displayed in the Project Properties UI or Launch Profiles UI.

It seems like allowing visibility to be conditional on whether a given VS component was installed would be useful.

---

For example, the `WebView2Debugging` property has description:

We could remove th

[2021-06-24 02:54] drewnoakes commented on #7355
@KlausLoeffelmann I've added you to an email about properties for WPF. I've previously discussed WinForms properties with @RussKie as well.

What properties would you want for WinForms?

Can you elaborate on this? I'm not sure what you mean by type editors. An example of such a property would help clear any confusion up here I think.

[2021-06-24 02:56] drewnoakes commented on #7355
Also I should point out that the new Project Properties UI and Launch Profiles UI are extensible, and that extensibility code should most likely not live in this repo. It would make more sense for each component to own its own properties. We will of course support setting this up, and we have docs to help here too: https://github.com/dotnet/project-system/tree/main/docs/repo/property-pages

[2021-06-24 03:05] drewnoakes commented on #7355
Ah, I mistook your use of "settings" to mean "properties". I see now you're talking about this feature:

![image](https://user-images.githubusercontent.com/350947/123195878-3d416b80-d4ec-11eb-85ff-82e104d29bd2.png)

Your question also applies to "Resources".

Neither settings nor resources fit within the new Project Properties UI. They have an arbitrary number of items, which doesn't fit our prope

[2021-06-24 06:41] albertwoo opened #7359 "VS2019 visualized file order is different with the order defined in the project file"
**Visual Studio Version**: 2019

**Summary**:
![image](https://user-images.githubusercontent.com/8017681/123214646-11c57d80-d4fa-11eb-8f19-9bd2b2aef2bb.png)

**Steps to Reproduce**:
Reproduce repo:
https://github.com/slaveOftime/Fun.Blazor

**Expected Behavior**:
Visualized file orders in vs should be the same as in the project file for fsharp

**Actual Behavior**:
Mess

**User Impact**:
Code file

[2021-06-24 09:23] drewnoakes commented on #7352
Fix merged.

[2021-06-24 09:23] #7352 closed

[2021-06-24 09:54] drewnoakes commented on #7317
@sanderobdeijn thank you very much for taking the time to submit this feedback. The issue is not related to this repo. Saint has reported it internally, but unfortunately you cannot track that work item. If it's something you'd like to track, I suggest you file a feedback ticket on Developer Community so that you can be updated on status there. I'll close it here.

[2021-06-24 09:54] #7317 closed

[2021-06-24 16:24] patsperca commented on #6799
Same here, very annoying that it is not possible to use Appsettings in conjunction with app.config so that enduser is able to change settings of app. Tried several workarounds that work more or less but Visual Studio is not able to update app.config as soon something changes in settings.

[2021-06-24 17:34] swesonga commented on #7317
cc @NCarlsonMSFT

[2021-06-24 17:37] NCarlsonMSFT commented on #7317
@swesonga thanks for the ping, @sanderobdeijn this is already being tracked with https://github.com/microsoft/DockerTools/issues/124

[2021-06-24 18:21] sanderobdeijn commented on #7317
Ok thank you.

[2021-06-24 18:29] MiYanni opened #7360 "Determine general solution for properties that have no initial value"
Originally from here: https://github.com/dotnet/project-system/issues/6989
In some cases, evaluated properties are not set. They will have no value (never defined) by the time they get to us. This can happen to any property but the example property is `Nullable`. In the dropdown for this property, no value will be selected because it was never defined. However, there is a logical default value use

[2021-06-24 18:42] BenyErnest opened #7361 "Environment variables input"
**Visual Studio Version**:
Microsoft Visual Studio Community 2022 Preview
Version 17.0.0 Preview 1.0

**Summary**:
![image](https://user-images.githubusercontent.com/12765321/123315405-af6c7d00-d4f9-11eb-830e-dc3fc3a6eb70.png)

It is hard to read the environment variables if all are in the same text field and separated by comma, it would be nice if these could be like the ones in Windows 10 system

[2021-06-24 19:51] tmeschter commented on #7360
The XAML `Rule` files already provide a way to specify a default value, via [`BaseProperty.Default`](https://docs.microsoft.com/dotnet/api/microsoft.build.framework.xamltypes.baseproperty.default?view=msbuild-16). We just don't make use of it--we neither set it in our .xaml files, nor read it anywhere.

The downside to this apprrach is that if the logical default changes we have to know to go back

[2021-06-24 21:30] drewnoakes commented on #7360
Also the default can vary by target framework, for example.

You mention defaults are unlikely to change over time, but I do not believe that can be discounted so quickly.

[2021-06-24 22:15] drewnoakes commented on #7361
Thanks @BenyErnest, completely agree. We are tracking this in #7330 👍

[2021-06-24 22:15] #7361 closed

[2021-06-24 22:47] #7333 closed

[2021-06-24 23:07] #7163 closed

[2021-06-25 01:26] MiYanni commented on #7292
Suggestion by @chryw
Could you try using a darker background color token `CommonControl.PageBackground` for the document content area, instead of using the `Environment.WindowBackground`, which is supposed to be the color of the bigger container color? This may help the input controls to pop a little bit. Here's an example of what it may look like with a `#1A1A1A` content area background.
![Micros

[2021-06-28 00:23] drewnoakes commented on #7292
@MiYanni I will push an update that sets the editor background in the next day or so as part of theming changes.

[2021-06-28 00:27] drewnoakes commented on #7290
This has been completed.

[2021-06-28 00:27] #7290 closed

[2021-06-28 13:32] jehrenzweig commented on #2961
@avivanoff: Agreed.  `launchSettings.user.json` would address this issue handily, the same way `appsettings.user.json` does.

[2021-06-28 17:53] melytc commented on #6601
I think this was our first way of handling the new platform properties, but we are now explicitly declaring it.
When creating a new WPF app, we set the TFM to include the `-windows`. For a WinForms app, `-windows7.0` is set.

cc: @KathleenDollard, @sfoslund

[2021-06-28 21:34] MiYanni opened #7367 "New Property Pages: Unable to switch from .NET Framework to .NET Core/Standard"
In testing adding "Prefer 32-bit" to the property pages, I was testing the visibility conditions related to it. One of the conditions is that it must be .NET Framework. When making [this GIF](https://github.com/dotnet/project-system/pull/7362#issuecomment-868137005), I encountered an issue where I couldn't switch from .NET Framework to .NET Core. I created a project (.NET 6.0) and then manually ch

[2021-06-28 21:35] #6989 closed

[2021-06-28 21:37] sfoslund commented on #6601
Agreed, the templates automatically set the `-windows` platform identifier when necessary and AFAIK this shows up correctly in the TFM drop downs, so that scenario should be covered.

[2021-06-28 22:01] MiYanni commented on #7297
Went and set up crash dump collecting on my system. However, I can no longer cause the issue to repro. I had it happen a dozen times on whichever build of VS I was using at that time. But now when I actually go to get a dump, can't cause it to crash anymore. 🙄 I am even trying the same solution shown in the GIF.

[2021-06-28 22:01] #7297 closed

[2021-06-28 22:18] tmeschter commented on #7367
We don't support moving between .NET "families" (e.g., Framework, Core, and Standard) from the property pages. There are lots of issues with doing so, and we don't want to encourage it. We expect that if you're comfortable making that migration you're comfortable editing the project file directly.

The real issue here is that we aren't filtering the versions in the list to only those within the cu

[2021-06-28 22:56] tmeschter opened #7369 "Review Code Analysis analyzers"
Following up on #7368, we should review the [list of code analysis rules](https://docs.microsoft.com/visualstudio/code-quality/fxcop-rule-port-status), decide which ones are relevant to the repo, and make sure that the appropriate setting is encoded in the .editorconfig file.

[2021-06-29 02:00] VisualMicro opened #7371 "Is VS2022 going to be added to the roadmap? Any info would be appreciated."
**Visual Studio Version**: 2022

**Summary**: I am not sure if this is the correct way to ask about a version for vs2022?

**Steps to Reproduce**:

1.  Unable to use in vs2022. Attempting to register a xaml debug flavour to launch the midebugger,

**Expected Behavior**: Launch should work > Microsoft.VisualStudio.ProjectSystem.VS.Debug

**Actual Behavior**: Debugger fails to launch, Code is ignore

[2021-06-29 02:31] drewnoakes commented on #7297
There was a feedback ticket about this recently. It was fixed by the WinForms team if I remember correctly.

[2021-06-29 08:21] Nukepayload2 commented on #7236
The "View Windows Settings" button is used to open or create the "My Project\app.manifest" file.

[2021-06-29 17:23] merriemcgaw commented on #7355
Thanks @drewnoakes for the details.

[2021-06-29 17:39] jjmew commented on #7260
This is a duplicate of #6787

[2021-06-29 17:39] #7260 closed

[2021-06-29 17:45] jjmew commented on #7160
Unfortunately we don't have enough information to investigate

[2021-06-29 17:45] #7160 closed

[2021-06-29 17:52] jjmew commented on #7371
The best way to report this type of issue is to open a feedback ticket by using the Send Feedback button at the right top corner of Visual Studio. You can mention that this is likely to be related to CPS. That will help route the issue to the team that owns CPS

[2021-06-29 17:52] #7371 closed

[2021-06-29 18:17] 13thirteen commented on #7010
I would also like to express my interest in a public stable version of `Microsoft.VisualStudio.ProjectSystem.Managed` for consumption in my VSIX extension, see #6441.

[2021-06-29 19:33] AraHaan commented on #1553
I have have just got bitten by this when I have the csproj file itself have the following contents:

[code]

While ``Directory.Build.props`` contains all of the ``PropertyGroup`` Items that should be set for the project, ``Directory.Build.targets`` for the ``ItemGroup`` entries, and ``Directory.Packages.props`` for all ``ProjectReference``s and ``PackageReference``s.

Placing the ``EmbeddedResourc

[2021-06-29 19:58] chabiss opened #7372 "C# Hot Reload- Need to add ENABLE_XAML_DIAGNOSTICS_SOURCE_INFO=1 Need to DebugLaunchOptions"
**Summary**:
As part of the  ProjectLaunchTargetsProvider,  We need to include 'ENABLE_XAML_DIAGNOSTICS_SOURCE_INFO=1' as an environment to be set for Ctrl-F5 executables so that XAML Hot Reload can work well with C# Hot Reload on Ctrl-F5

[2021-06-29 22:04] MiYanni commented on #6989
All of these have either been addressed or split into other issues.

[2021-06-30 00:29] MiYanni commented on #7246
Using the [GenerateAssemblyInfo](https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#generateassemblyinfo) information and [pack target](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target) information, I'm making a table of how these are used, and where I believe each should be based on usage. **(WILL PUT LINK HERE SOON)**

Here's a screenshot of the ol

[2021-06-30 01:31] paul1956 commented on #7236
The "View Windows Settings" creates a file that refers to .Net Framwork 4.6 and Windows XP and no useful information about what to change. There is also a list of OS versions that application is tested on starting with Windows Vista (Does core work on Vista). There is a TargetFramework in project file and how does that map to this file?

[2021-06-30 02:33] RussKie commented on #7236
@paul1956 manifests are a Windows thing (e.g. used for dpi, and by common controls). Have a look at https://docs.microsoft.com/windows/win32/sbscs/application-manifests.

[2021-06-30 02:42] paul1956 commented on #7236
@RussKie yes but .Net Core only runs on a subset of Windows Version why is the file being created not simplified to only support the things .Net Core Supports. Right now almost _everything_ is commented out. Is there anything a user can actually change? The DPI section seems like the only possibility and if it can be changed it is controlled by some other setting.

[2021-06-30 02:49] RussKie commented on #7236
AFAIK there is no reason to create a manifest file, unless you needs an option that is not included/enabled in the [default manifest](https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/Resources/System/Windows/Forms/XPThemes.manifest) Windows Forms SDK ships. And if you're creating one - then we trust you know what you're doing.

[2021-06-30 22:52] drewnoakes commented on #6898
Proposal: investigate how the system performs when we disable property locking.

[2021-06-30 23:05] drewnoakes commented on #6938
C# & VB

[2021-07-01 01:17] drewnoakes opened #7373 "Settings and Resources editor discoverability (1+)"
Historically the "Application Designer" included not just project properties but other kinds of configuration and data such as:

- Launch profiles
- Resources
- Settings

With the new Project Properties UI, these are no longer integrated into that experience.

Some customers will not know how to find these editors via other paths.

For resources/settings, we no longer have a "click here to create

[2021-07-01 01:20] drewnoakes commented on #7373
Notes for triage team: Adding textual information is straightforward, hence base estimate of 1. Adding hyperlinks gets more expensive, hence estimate of 1+. Please also decide if this is a `must-have` issue for 17.0.

[2021-07-01 01:22] drewnoakes opened #7374 "Launch profile command interception not reliable (1)"
Historically the "<Project> Debug Properties" command has launched the legacy property pages on the "Debug" tab.

In 17.0 we have a new Launch Profiles UI. We intercept that command and show that UI instead.

The interception appears to be unreliable, working in some cases and not in others.

[2021-07-01 01:25] drewnoakes opened #7375 "Change text in launch profile command"
The "<Project> Debug Properties" command should be renamed to "<Project> Launch Profiles".

~~This is a straightforward change in the command handler.~~

It may be convenient to fix this at the same time as #7374.

[2021-07-01 01:29] drewnoakes opened #7376 "Package Icon property needs to add item to project with metadata (3)"
When an icon is added to a package, the icon file must be shipped inside the package itself.

In order to do this, the icon must be added to the project as an item, as well as being specified as a property. That item must have metadata to include it in the package, and to specify the path within the package.

The legacy project properties handles this correctly. We should reproduce that behaviour.

[2021-07-01 01:32] drewnoakes commented on #7376
This is very similar to #6457, where the README file is included in the package. The legacy pages do not support README files in the package, but the same approach applies to both properties so the delta between fixing one versus two properties here is likely very small.

[2021-07-01 01:32] drewnoakes commented on #7376
Notes to triage team: We added this as `must-have` on the assumption that it is similar to #7167, which is also `must-have`.

[2021-07-01 01:46] drewnoakes opened #7377 "Project Properties & Launch Profile telemetry ingestion (1)"
We need to set up ingestion of the telemetry we publish so that we can understand usage trends over longer periods.

[2021-07-01 01:50] drewnoakes opened #7378 "Investigate ClickOnce properties (1+?)"
We should investigate whether we need to port any ClickOnce-related properties to the new project properties system.

See also #7244.

[2021-07-01 09:59] drewnoakes commented on #6937
I have looked through the legacy UI in both a legacy C# project and an SDK-style C# project and cannot see any WinForms-specific properties to migrate to the new experience. The VB-specific items mentioned here are tracked by other issues.

Closing this.

[2021-07-01 09:59] #6937 closed

[2021-07-01 10:17] drewnoakes opened #7379 "Re-create VB WPF Application property page"
We need to recreate the VB Application property page for WPF projects in the new project properties system.

---

This is the WPF Application property page for a legacy project (.NET Framework):

![image](https://user-images.githubusercontent.com/350947/124107919-0d283880-daa9-11eb-9408-acb965d4e6b7.png)

Highlighted areas are features the new experience is currently missing.

---

This is the WPF

[2021-07-01 10:20] drewnoakes commented on #6938
These have both been added to the new Project Properties UI.

I've reviewed the legacy property pages for C# legacy and SDK projects, and see no WPF-specific properties to port.

For VB projects, I've filed #7379 to track missing features.

Closing this.

[2021-07-01 10:20] #6938 closed

[2021-07-01 15:55] jjmew commented on #7377
@melytc If we have the events already being sent, we can do create the pipeline together.

[2021-07-01 17:31] jcs090218 opened #7380 "[Question] View from metadata"
Not sure if this is the right place to ask.

In VS2019, when you hit f12 then you get to see a well nicely displayed window like the screenshot below.

![Image 2](https://user-images.githubusercontent.com/8685505/124165238-20043280-dad4-11eb-8619-d5d9f3b77cc6.png)

I am trying to port this feature to other editor (Emacs). Is there a way so I could get this nicely displayed content by calling some

[2021-07-01 20:36] dmonroym commented on #7062
@swesonga We're now doing this in the release pipeline and should be fixed. Could you check with latest main build?

[2021-07-01 20:38] dmonroym commented on #6603
Since moving to scaled sets in #7363 we now do this

[2021-07-01 20:38] #6603 closed

[2021-07-01 21:02] tmeschter commented on #7380
Moving to dotnet/roslyn.

[2021-07-02 03:06] alwu-msft opened #7384 "Launch Profile UI does not persist properties added by custom launch profile"
*TL;DR from @tmeschter*: Currently every property you wish to read or write in the Launch Profiles UI needs to be handled by some implementation of `ILaunchProfileExtensionValueProvider`. We should implement a fallback such that any property **not** handled by an `ILaunchProfileExtensionValueProvider` is simply passed through "as-is" and stored in the `ILaunchProfile.OtherSettings` dictionary. Thi

[2021-07-02 18:37] tmeschter commented on #7384
@alwu-msft Currently every property you wish to read or write needs to be handled by some implementation of [`ILaunchProfileExtensionValueProvider`](https://github.com/dotnet/project-system/blob/main/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Properties/LaunchProfiles/ILaunchProfileExtensionValueProvider.cs). There are various reasons for this:
1. A property may have an effecti

[2021-07-02 19:17] alwu-msft commented on #7384
Ah, the documentation was missing that part. :) Your explanation makes sense, as does your proposal to eliminate boilerplate for the simple case. Thanks!

[2021-07-02 20:34] tmeschter commented on #7384
Yeah, I'm behind on the documentation. :-(

[2021-07-02 22:46] dmonroym commented on #7191
We're currently getting this from `<add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />`

When we attempt to build we get this error:
[code]

[2021-07-03 02:00] drewnoakes commented on #6633
@ocallesp I'm taking this as part of incremental build perf work for 17.0.

[2021-07-04 10:27] drewnoakes commented on #6647
It seems like this issue was addressed in 16.8. I don't see any actionable work here, so am closing for now. We can re-open if needed in future.

[2021-07-04 10:27] #6647 closed

[2021-07-04 10:45] drewnoakes commented on #6758
A workaround is to add `<AutoGenerateBindingRedirects>false</AutoGenerateBindingRedirects>` to the project. However, disabling binding redirects may cause other problems, so this change should not be made without proper consideration.

[2021-07-05 01:48] drewnoakes commented on #7019
@wouterroos our focus is elsewhere than the dependencies tree at the moment. I don't have a timeline for this.

[2021-07-05 03:53] wouterroos commented on #7019
I figured.

[2021-07-05 17:17] mmihaly commented on #1308
This issue somehow got into the 16.10 versions...

[2021-07-05 21:32] drewnoakes commented on #1308
@mmihaly could you provide some more details on how to repro please?

Ping @ocallesp

[2021-07-06 14:30] mmihaly commented on #1308
Repro steps:
1. Create a blank solution
2. Add a .NET 5 C# console project to the solution
3. Add a .NET 5 C# class library to the solution

As the original post mentioned, the class library project is shown in the startup projects dropdown, when only the console app should:
![image](https://user-images.githubusercontent.com/50031464/124616902-b79ab580-de33-11eb-9cdd-26d25a0fa193.png)

It's not a

[2021-07-06 16:53] wjk commented on #2491
@asklar As it turns out, PackageReference support in C++ projects works _today_. You will need to do the following:

1. Add `<ProjectCapability Include="PackageReferences" />` to an item group in your vcxproj file or a targets file included by it.
2. Add a Directory.Build.props file or above the project’s directory, and add an Import element to it with the following value: `$(MSBuildProjectExtensi

[2021-07-06 16:59] drewnoakes commented on #1308
@mmihaly thank you very much.

Reopening and sending back to triage.

[2021-07-06 19:30] asklar commented on #2491
we should try this out! thanks for the tip @wjk !

[2021-07-06 20:37] RikkiGibson opened #7390 "Launch Profiles window should not be modal"
**Visual Studio Version**: 17.0 preview2 31430.40.main

![MicrosoftTeams-image](https://user-images.githubusercontent.com/5833655/124663644-378a4500-de5f-11eb-9e71-040344d6e021.png)

I've tried out the new Launch Profiles window in recent dev17 dogfood builds and I have found it's somewhat disruptive for it to be a modal. The reason being that when I'm setting up the command line arguments or envi

[2021-07-06 20:40] RikkiGibson opened #7391 "Launch Profiles should remember recently used command line arguments"
**Visual Studio Version**: 17.0 preview2 31430.40.main

When experimenting with the command line options for a program it's common to try several different strings for the command line and to mix-and-match the arguments. It would be really handy if the Launch Profiles window included a "most recently used" list for what command lines we've used to debug a project in the past.

[2021-07-06 20:41] RikkiGibson opened #7392 "Launch Profiles window should allow line breaks in command lines"
**Visual Studio Version**: 17.0 preview2 31430.40.main

When preparing a long/complex command line for debugging a project, it hugely boosts readability to allow newlines in the command line. This allows you to put each argument on its own line, for example.

I did try just updating launchSettings.json to put `\n` in the command line but I found that it introduced args which consisted of just `\n`

[2021-07-06 20:50] tmeschter commented on #7391
Note that you can reference environment variables and MSBuild properties in most of the launch profile fields using `%ENV_VAR%` and `$(PropertyName)` syntax, respectively. That's not a general replacement for what you are suggesting, but I imagine in at least some cases it might eliminate the need to update the launch profile.

[2021-07-06 23:31] drewnoakes commented on #7392
Legacy does not support this. It would be a nice improvement, potentially involving changes beyond just the project system.

[2021-07-07 02:05] tmeschter commented on #5429
@davidwengier So the problem here is entirely in the XML editor itself rather than in the way CPS, dotnet/project-system, or MonoDevelop.MSBuildEditor work with it?

[2021-07-07 02:06] tmeschter commented on #5429
I'm trying to get a sense of what it would take to enable MonoDevelop.MSBuildEditor.

[2021-07-07 04:19] davidwengier commented on #5429
From my vague memory the XML editor was explicitly rejecting being opened with any language service other than its own. Not sure if that situation might have changed, or if there are easier options for project file editing now (language configuration file and/or LSP server perhaps?).

[2021-07-07 08:39] JunielKatarn commented on #2491
@wjk I tried this in our project but couldn't get it to work. It complains about a missing framework reference.

I prepared a minimal MSVC solution to reproduce this. Could you please take a look in case I'm missing anything?
Note, the sample project only has one VCXPROJ, so all the necessary configuration is consolidated there.

https://github.com/jurocha-ms/vcpkgref-sample

What I tried with a 1

[2021-07-07 15:30] wjk commented on #2491
@JunielKatarn My apologies, I forgot a step. Add this to the .targets file, above the MSBuildExtensionsPath import.

[code]

[2021-07-07 15:34] asklar commented on #2491
Is any of this documented / stable enough? I couldn't find any docs on this on my cursory search so I worry about relying on implementation details that could change. @rainersigwald ?

[2021-07-07 15:47] wjk commented on #2491
@asklar After a quick test, I have found that the `ExcludeRestorePackageImports` property is apparently unneeded; I have removed it, and both restore and build still work. The `ResolveNuGetPackages` property is required to [disable this task](https://github.com/dotnet/NuGet.BuildTasks/blob/95b794a0f5540ebed74309b601cec4aacb200c24/src/Microsoft.NuGet.Build.Tasks/Microsoft.NuGet.targets#L198-L215),

[2021-07-07 17:12] tmeschter commented on #5429
@mhutch For my understanding, what features require providing a different language service as opposed to adding completion list providers, quick info providers, taggers, etc. to the existing language service? Or is the issue that the XML language service blocks those from working?

[2021-07-07 18:51] JunielKatarn commented on #2491
@wjk That worked. Thanks a bunch.

[2021-07-07 20:08] mhutch commented on #5429
@tmeschter it implements its own XML editing functionality (it's built on VS for Mac's extensible XML editor which I also wrote), so 100% of the work (parsing etc) done by the VS XML editor would be redundant and negatively impact perf for no good reason.

it'd also be very difficult to make sure the two editors wouldn't collide over things like autoformatting.

[2021-07-07 20:11] mhutch commented on #5429
LSP based editor extensions would have exactly the same problems AFAIK

[2021-07-07 20:18] mhutch commented on #5429
Anyways, MonoDevelop.XmlEditor simply registers a content type for MSBuild and binds a bunch of editor extensions to that content type. As such, it works fine in the Common Language Editor.

Presumably the XML editor is forcing the content type to its own XML content type or something? But I don't want it to coexist with the XML editor, it wouldn't add anything useful to the experience and would j

[2021-07-07 21:05] tmeschter commented on #5429
Is this an accurate summary of what is happening?

1. MonoDevelop.MSBuildEditor registers its own language service for the MSBuild files.
2. The project system explicitly opens the files using the built-in XML editor (rather than just whatever the default is).
3. The editor factory for the built-in XML editor sees that the specified language service is not the one that is expected and fails to cre

[2021-07-07 22:22] davidwengier commented on #5429
@tmeschter Sounds right to me.

[2021-07-08 01:25] alwu-msft opened #7393 "Launch Profile UI hangs/timesout when adding new profile to mixed-language solution"
**Visual Studio Version**:
17.0.0 Preview 3.0 [31507.28.main] (Dev17.IntPreview)

**Summary**:
If a solution contains both a .NET 5/6 project and a C++ project and the user uses the Launch Profile UI to add a new launch profile to the .NET project, VS will hang for several seconds and then display a message box with an exception stack. The same hang also occurs if duplicating or deleting an existi

[2021-07-08 02:35] drewnoakes commented on #7393
Thanks very much for the report.

This is a timeout while we wait for the added profile to be made available to the client (in `CaptureAddedProfileAsync`).

The fact that it doesn't appear suggests this is an issue in the back end. @tmeschter does anything jump out at you here?

[2021-07-08 16:19] tmeschter commented on #7393
This sounds very similar to an internal bug where something similar happens when you have .NET Framework project instead of a C++ project.

Wild speculation:
1. The back end is re-executing the query after the change
2. Some part of executing the query involves getting information for the C++ project
3. That information can only be obtained by running code on the UI thread
4. The modal dialog box

[2021-07-08 22:30] drewnoakes commented on #7374
Fix in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/336578

[2021-07-09 12:01] MagicAndre1981 commented on #5509
the link is broken. Where can I find the last version @davidwengier ?

[2021-07-09 12:25] MagicAndre1981 commented on #6441
@13thirteen do you know the location of the feed? The myget link is broken. I also need the IActiveDebugFrameworkServices to read the current framework that is selected

[2021-07-10 05:39] MagicAndre1981 commented on #7010
will those packages be ever published to nuget?

[2021-07-10 06:19] drewnoakes commented on #7374
The fix has been merged.

[2021-07-10 06:19] #7374 closed

[2021-07-11 22:07] davidwengier commented on #5509
@MiYanni what feed to project system packages end up in these days?

[2021-07-12 06:17] MagicAndre1981 commented on #5509
ok, I found a pre-release feed in [this nuget.config](https://github.com/microsoft/vstest/blob/main/NuGet.config)

`https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json`

Here I see a beta1 of the package for 16.10

[2021-07-12 07:19] MagicAndre1981 commented on #5509
I also need to add the feed of XliffTasks:

`https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json`

and install several `Microsoft.CodeAnalysis` packages on my own.

[2021-07-12 08:11] MagicAndre1981 commented on #6441
ok, I found the last feed in a [nuget.config](https://github.com/microsoft/vstest/blob/main/NuGet.config)

[2021-07-13 01:11] mhutch commented on #5429
@tmeschter

1. not quite. a "language service" isn't really a concrete thing. the MSBuild extension package registers a content type and a set of file extension associations for that content type, and binds a whole bunch of editor extensions to that content type. any instance of the VS editor control that uses that content type will load the extensions. the Common Language Editor uses the associat

[2021-07-13 03:48] davidwengier commented on #5429
Can we ship the extension in-box? Changing CPS based on an extension being installed feels like the path to pain, if some assumption in CPS breaks we'd only know about it when users who have the extension installed report it. Unless we get the extension installed on RPS machines 🙃

[2021-07-13 07:27] cheenamalhotra commented on #4781
Have been recently noticing this error when building for .NET Framework:

`##[error]E:\nuget\microsoft.sourcelink.common\1.0.0\build\InitializeSourceControlInformation.targets(3,81): Error MSB4022: The result "" of evaluating the value "$(_MicrosoftSourceLinkCommonAssemblyFile)" of the "AssemblyFile" attribute in element <UsingTask> is not valid.`

Any suggested workaround?

[2021-07-13 16:42] MattBussing opened #7396 "Warnings are not treated as Errors"
Please see this post for the issue. https://github.com/dotnet/msbuild/issues/6473#issuecomment-873231370
TL;DR Visual Studio should have an error displayed in the "Error List" instead of a warning.

issue: https://github.com/dotnet/msbuild/issues/6473

[2021-07-13 17:00] tmeschter commented on #5429
@mhutch Thanks for the info. I don't know that much about how the editor works so it's likely that at least some of my statements are non-sensical. :-)

So then the XML editor isn't using the right content types to light up the functionality from the extension?

[2021-07-13 17:22] jjmew commented on #1308
@ocalles can you please take a look?

[2021-07-13 17:25] jjmew commented on #7279
@merriemcgaw who should we work with to help them make the changes?

[2021-07-13 17:27] #7327 closed

[2021-07-13 17:38] jjmew commented on #7359
This is CPS. This will be tracked internally by https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1355397

[2021-07-13 17:38] #7359 closed

[2021-07-13 17:40] jjmew commented on #7355
This will be tracked by https://github.com/dotnet/project-system/issues/7373

[2021-07-13 17:41] #7355 closed

[2021-07-13 17:41] merriemcgaw commented on #7279
I think @RussKie would be the best person to work with on the WinForms side. @KlausLoeffelmann would be your goto for anything VB related.

[2021-07-13 17:47] jjmew commented on #7384
@tmeschter Please let us know if you need someone else to take on this

[2021-07-13 18:19] MiYanni commented on #7151
https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.ole.interop.ioleundomanager?view=visualstudiosdk-2019

[2021-07-13 21:29] MiYanni commented on #7376
Prior experience:
![image](https://user-images.githubusercontent.com/17788297/125527606-67e72ab6-47c1-4e4c-8ff4-728c13c27aa2.png)

Produces:
[code]

[2021-07-13 21:53] mhutch commented on #5429
@davidwengier it would make sense to ship it in-box at some point but I don't think it's ready for that. consider it an out-of-band preview?

[2021-07-13 22:05] mhutch commented on #5429
@tmeschter there is no content type for "MSBuild files" in VS (without my extension, at least). as far as the XML editor is concerned, they are just XML files, and as for all XML files, it's able to determine an XML schema to use based on the namespace attributes and a default schema based on the file extension.

Unfortunately XML schemas are not a good way to describe MSBuild files. They are bare

[2021-07-14 03:03] tmeschter commented on #7384
I have a partial solution for this one so I'd like to keep it on me for the moment.

[2021-07-14 03:13] tmeschter commented on #5429
@mhutch OK, so you not only need to add functionality, but you need a way to turn off the existing functionality. Makes sense.

@davidwengier Instead of opening the project file with the XML editor, is there a way to open it with the "default" editor? This would of course only help if the extension could change the default editor for the project file. Would there be any downsides?

[2021-07-14 05:00] davidwengier commented on #5429
The XML editor GUID is specified in the registry (from https://github.com/dotnet/project-system/blob/main/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/Packaging/ProjectTypeRegistration.cs) for the diff editor to pick up (and presumably anyone else who uses the OpenDocument VS API on a project file) and in CPS (https://devdiv.visualstudio.com/DevDiv/_git/CPS?path=%2Fsrc%2FMicrosoft.VisualStu

[2021-07-14 15:33] jaredpar opened #7399 "Changing Nav bar in shared projects causes NFW that forces VS restart"
**Visual Studio Version**:

Reproduces in VS 2019.10 and VS 2022 Int Preview

**Summary**:
Changing the project selected in the navigation bar can cause Visual Studio to issue a NFW. This is particularly relevant now because Visual Studio has changed the recommendations for extension authors to use shared projects. Hence this is likely to pop up more and more as extension authors attempt to migrat

[2021-07-14 19:18] Lizzy-Gallagher commented on #935
We are still running into this in VS2019. Files do not appear in the Solution Exporer if conditionally left out of the "not first" target framework.

[code]

We are using the workaround provided, but this is causing friction on our team because files are hard to find.

[2021-07-14 23:13] mhutch commented on #5429
How's that different from using the default editor though? :)

FWIW those are referred to as "legacy" language services in the VS docs. AFAICT modern (including LSP based ones) are expected to extend the Common Language Editor like my extension does.

[2021-07-14 23:22] drewnoakes commented on #7399
Triage notes: All code in this stack is CPS (The .NET Project System is `MS.VS.PS.Managed`).

[2021-07-15 15:15] mhutch commented on #5429
Right, but I'm pretty sure the *default* editor without my extension is the XML editor? AFAICT the project system registers it as the default editor for csproj etc via those `ProvideEditorFactoryMapping` attributes.

[2021-07-16 13:53] seoriy commented on #1802
2021... any updates?

[2021-07-16 23:34] MiYanni commented on #5509
@davidwengier This says: https://github.com/dotnet/project-system/blob/325b161134a9fa3fac63bacf0900030919bc54c3/build/ci/official.yml#L149

[2021-07-17 02:31] spiralw commented on #5053
The current behaviour is confusing, especially since *only* ASP.NET has this behaviour. As @thothothotho mentioned in #3619, UNIX users expect the current working directory to be the same as where they're running the command from. If an ASP.NET project needs the working directory to be different, it should be expected that they set that in their IDE or build tool.

[2021-07-17 07:03] MagicAndre1981 commented on #5509
yes, I use the feed now. It would be better to have a newer stable version on nuget.org

[2021-07-19 11:03] wouterroos commented on #5372
Hi,

Any idea on when this will be implemented?

[2021-07-19 18:01] vsfeedback opened #7410 "Add a shortcut for creating interface like class"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Add-a-shortcut-for-creating-interface-li/1458738)._

---

Can you add an _Interface_ command alongside the _Class_ command in this menu?

![image](https://user-images.githubusercontent.com/350947/126719572-117c02a1-ddd1-4521-9c93-cd984818b19f.png)

[2021-07-19 18:13] tmeschter opened #7405 "Need a way to provide default values for new launch profiles"
In [AzDO 1351857](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1351857) we encountered a `NullReferenceException` while attempting to set the value of a global launch setting related to IIS/IIS Express. While the handler for this global launch setting should definitely guard against this exception, it is worth noting that with the legacy property pages it was more difficult to get into this

[2021-07-20 15:58] jaredpar commented on #7399
Is this being considered for Dev17? It's making it really difficult to develop VS extensions an the moment. The new VS extension approach is pushing everyone to use shared projects. Pretty much every time I need to jump between VS versions (aka change the selection in the nav bar) it's causing VS to NFW and force a restart.

@madskristensen

[2021-07-20 16:02] madskristensen commented on #7399
Let's ask @tinaschrepfer?

[2021-07-20 17:37] tmeschter commented on #7399
I'm going to move this bug over to the CPS team in AzDO.

[2021-07-20 17:38] MiYanni opened #7406 "Consider making Launch Profiles a "Properties" editor tab instead of a modal dialog"
I had a suggestion for the Launch Profiles to function similarly to Project Properties in terms of access and look/feel. So, Launch Profiles would be treated like a .csproj. If you opened (double click) the `launchSettings.json` in VS, it would show the text editor (json editor) for the file. However, just like Project Properties, if you right clicked on `launchSettings.json` and selected `Propert

[2021-07-20 17:40] tmeschter commented on #7399
Moved to https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1358472.

[2021-07-20 17:40] #7399 closed

[2021-07-20 17:50] tmeschter commented on #7396
First step is to figure out who is responsible for placing this error in the Error List. It may the project system or CPS.

[2021-07-20 20:36] vsfeedback opened #7408 "No macro list in .csproj properties editor for build events"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/t/No-macro-list-in-csproj-properties-edit/1476458). Please vote and comment there to make sure your voice is heard._

---
The new .csproj editor uses a plain text box for editing post build events.  Previously there was an editor which helped you insert macros ($(TargetDir), ...) so I did no

[2021-07-20 21:29] drewnoakes commented on #7406
Duplicate of #7390.

[2021-07-20 21:33] drewnoakes commented on #7010
@nkolev92 do you know if this is still an issue? I believe we made our analysers private so they shouldn't be contributing to a consumer's dependency graph.

[2021-07-20 21:59] nkolev92 commented on #7010
I haven't attempted upgrading in the last month or 2 (16.10 -> 17.0 has given us a longer period), so I haven't been able to validate that just yet.

I can give a shot again, but it'll likely be early August when I can try it again.

[2021-07-20 22:11] lifengl opened #7409 "Solution Close Perf: UpToDateCheckImplicitConfiguredInputDataSource/UpToDateCheckConfiguredInputDataSource uses sync dispose"
Two UpToDateCheck dataflow blocks use synchronousDisposal = true, which forces them to be disposed on the UI thread. It doesn't feel they need to be.

[2021-07-20 22:21] MiYanni commented on #7406
@drewnoakes But it's not a duplicate. The suggestion here is to make Launch Profiles an editor tab. The suggestion in the issue you linked suggests, "I would prefer if this window could just be a tab as in the previous versions of VS." The 'tab' they are referring to is a tab in Project Properties, like this:
![image](https://user-images.githubusercontent.com/17788297/126402530-17506104-061c-4637-

[2021-07-20 22:46] drewnoakes commented on #7406
This is a dupe. Rikki and I discussed #7390 ahead of it being filed, and the intent is to make the UI a non-modal editor that may be docked in the IDE just as any other document.

[2021-07-20 22:46] #7406 closed

[2021-07-20 22:48] davidwengier opened #7411 "Don't hardcode dynamic file item type"
At the moment the DynamicItemHandler [hardcodes the item type](https://github.com/dotnet/project-system/blob/main/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/LanguageServices/Handlers/DynamicItemHandler.cs#L31) for Razor files which means there is no way to opt into the Razor editor lighting up, without also affecting build/publish/packaging. For large enterprise solutions (Bing

[2021-07-20 23:06] lifengl opened #7412 "Solution Close Perf: DependencyTreeTelemetryService.Dispose sends telemetry on the UI thread"
The MEF component was disposed on the UI thread, and blocks it to send elemetry during solution.close time.

Can we just do it in a thread pool thread?

It blocks UI thread for 80ms when OrchardCore.sln is closed.

[2021-07-21 00:26] drewnoakes opened #7413 "Show default value for "When to run post-build event""
Currently when not otherwise configured, we show a blank value in this dropdown:

![image](https://user-images.githubusercontent.com/350947/126411469-91f5f1f9-c281-4ea6-b2aa-9e0cd4f7043b.png)

The legacy editor shows "On successful build" as the default:

![image](https://user-images.githubusercontent.com/350947/126411490-53336945-91e2-4e00-b6a9-d997a2a609be.png)

[2021-07-21 03:27] drewnoakes commented on #7409
@lifengl in #7414 I've changed these, and also several other types in the repo.

[2021-07-21 05:44] davidwengier commented on #7411
Spoke with @drewnoakes and using a customizable item type suffers from the chicken and egg problem: We need evaluation to determine which item types to read, but the item types need to be read from evaluation.

Instead I'm going to try creating a specific item type for the Razor editor, which the design time targets will add razor files to. This means the design time targets will match the `Dynami

[2021-07-21 21:26] MiYanni commented on #7405
By 'default', do you mean static defaults? Like, a type of value that would be written into the rules directly? If so, I could see that situation being useful for the property pages too.

[2021-07-21 22:35] tmeschter commented on #7405
`Rule`s already support default values (though we don't make use of them everywhere we could) and that can help us figure out what value to return for a property when it isn't specified in the underlying data source.

What I'm talking about is a way to populate a new launch profile with actual data. For example, when adding an IIS launch profile one of the important properties is the application U

[2021-07-21 22:42] MiYanni commented on #7405
Ah. Do launch profiles support value interceptors like property pages do? Because the example you provided could be achieved via an interceptor, right?

[2021-07-21 23:06] tmeschter commented on #7405
Interceptors are data-source specific. For example, `IInterceptingPropertyValueProvider` and its implementations can work with data stored in the project file (one data source) or the .user file (a different but very similar data source).

Launch profiles have an equivalent type, `ILaunchProfileExtensionValueProvider`, and global launch settings have `IGlobalSettingExtensionValueProvider`. They se

[2021-07-22 02:09] #7409 closed

[2021-07-22 20:54] MiYanni opened #7420 "New Property Pages: Add ability to specify extension information to Browse dialog (subtype "file") properties"
In the old property pages, the Browse dialog (file picker) allows you to specify file extension filters. These could be one or more custom named filters that appear in a dropdown near the Open/Select/Cancel buttons. For example, the old Package Icon property has a single file extension filter named "Icons" that has the value of `*.jpg, *.jpeg, *.png`.
![image](https://user-images.githubusercontent

[2021-07-22 21:17] MiYanni opened #7421 "New Property Pages: Property delay on update"
The information below is from testing I did related to the Package Icon property changes I did. Basically, the value gets filled in as an absolute path after initially selecting a value in the Browse dialog. Then, there is a delay between when that value is updated to be the proper relative path that is returned by the value interceptor.

GIF 1:
![DelayedPropertyUpdate](https://user-images.githubu

[2021-07-22 21:43] MiYanni commented on #6705
The testing has been completed. Documents here:
- [DevDiv - GB18030 Test Report - 2021 - .NET Project Property Pages.docx](https://microsoft.sharepoint.com/:w:/t/VSTactics/Edl9GnLOrsxIr02EmFhiUVUBf3ECafVQ7w_N4UpbZbQGXw?e=MVPjnS&xsdata=MDN8MDF8fDJhZDE4MTZhODE0MzQ5OGY4NGRjMDI1ODljZDBjNDJhfDcyZjk4OGJmODZmMTQxYWY5MWFiMmQ3Y2QwMTFkYjQ3fDF8MHw2Mzc2MjQxMzA2MDYxOTk1OTB8R29vZHxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuW

[2021-07-22 21:43] #6705 closed

[2021-07-22 23:42] #7413 closed

[2021-07-23 02:41] John0King commented on #2670
I suggest to use a very core Sdk `<Project Sdk="VeryCoreSdk" > `  (the name is a placeholder)  with more `<Import Sdk="" />`

for example   for support webform

[code]

[2021-07-23 06:35] davkean opened #7423 "[Regression] Roslyn no longer sees evaluation results until the design-time build is finished"
**Visual Studio Version**:

**Summary**:

**Steps to Reproduce**:

1. Add a source file to the project project

[code]

**Expected Behavior**:
![image](https://user-images.githubusercontent.com/1103906/126745093-bde275ca-8cd5-41da-a842-3892f6e4475d.png)

**Actual Behavior**:
![image](https://user-images.githubusercontent.com/1103906/126745053-1d486301-cd00-4ddd-9701-5088b4a41f82.png)

**User Impac

[2021-07-23 07:36] f-i-x-7 commented on #1308
Hello, any updates on this?
My solution has about 200 projects. Yesterday I updated VS from 16.9.4 to 16.10.4 and now I see all these 200 projects in startup list in toolbar. This is very painful regression bug, is there any change that it will be fixed e.g. in 16.9.5 version?

[2021-07-23 08:30] davkean commented on #7423
This is the bug here: https://github.com/dotnet/project-system/commit/f119b10bd3bf481886e6892d04534c580fd9521b#diff-f58270d7350bab2e1ffdb27c7aa7630a3b62aaba9d9e9ed272ca2ce0e0d1f474R94-R95. The ProjectBuildRuleSource should not be combined with ProjectRuleSource.

[2021-07-23 08:36] drewnoakes commented on #1308
@ocalles can you look into this asap so we can get it fixed for 16.11.

[2021-07-23 10:42] CZEMacLeod commented on #2670
@John0King I cannot find VeryCoreSdk on nuget.org and packages beginning `Microsoft.` are reserved, so unless Microsoft published it, it would be a problem.
You can do
[code]
right now and get a project that works.
It supports all ASP.Net4 technologies such as WebForms, WebAPI, SignalR, OWIN, MVC, Razor, Razor Class libraries (via [RazorGenerator](https://github.com/RazorGenerator/RazorGenerator))

[2021-07-23 17:35] #7384 closed

[2021-07-24 10:54] drewnoakes commented on #3826
I am working on a fix for #6633 which may also address this.

[2021-07-25 11:43] drewnoakes commented on #1308
@ocalles I believe this is fixed in #7429. Can you take a look at that PR on Monday please?

[2021-07-25 23:58] drewnoakes commented on #6898
The problem persists after disabling property locking. It seems that the complete recreation of the `Values` property in `Property.Update(ImmutableArray<PropertyValueData> values)` is to blame. My understanding is that recreating it completely is causing the UI to remove the focused control, then replace it. To the observer there is no visual change, but the removal is causing the focus to be move

[2021-07-26 17:51] #1308 closed

[2021-07-27 00:46] drewnoakes commented on #7226
This was marked "must-have" on the assumption that it would block non-canonical forms of `TargetFramework` from working. For example, .NET Framework 4.8 can be represented as `net48` (canonical) and `net4.8` (non-canonical). With @melytc's work on supporting target platforms, that dimension of this issue has already been addressed.

The remaining portion here is to support non-standard target fram

[2021-07-27 02:54] melytc commented on #7136
Closing this as this is already covered.
![targetframework-non-canonical](https://user-images.githubusercontent.com/8518253/127087872-9707c16f-ee8f-450a-bedd-68e8dece8a74.gif)

[2021-07-27 02:54] #7136 closed

[2021-07-27 08:28] drewnoakes commented on #6898
Updating in place fixes the focus issue, but requires doing the update work on the UI thread as it introduces collection change notifications.

[2021-07-27 13:21] #6185 closed

[2021-07-27 14:31] #7412 closed

[2021-07-27 14:35] #7411 closed

[2021-07-27 17:01] ocallesp commented on #7423
It seems that @davidwengier fixed this.

[2021-07-27 20:54] davkean commented on #7423
@ocalles I've reopened this, this is still occurring here: https://github.com/dotnet/project-system/blob/main/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/LanguageServices/WorkspaceProjectContextHost.WorkspaceProjectContextHostInstance.cs#L96.

[2021-07-27 20:59] davidwengier commented on #7423
Yeah, I definitely didn't fix this for evaluation, but the changes I did to not introduce it for source items should mean its a one-line change to just delete the line @davkean linked to.

I didn't do it in my PR because I figured someone should understand the issue first, so that appropriate tests can be written. The tests in my PR do not cover this issue.

[2021-07-28 01:31] #7376 closed

[2021-07-28 10:21] GibbOne opened #7435 "In VisualStudio, I can't add a new class in a project with OutputPath equals to '.'"
**Visual Studio Version**:
VS2017, VS2019 and VS2022.

**Summary**:
I got an error if I add a new class in a project with `OutputPath` equals to '.'.

**Steps to Reproduce**:

1.  Create a new csproj (like a ConsoleApp.csproj)

2.  Add `<OutputPath>.</OutputPath>` at main property group.

3.  Add a new class.

**Expected Behavior**:
Class should be added without errors.

**Actual Behavior**:
Class

[2021-07-28 11:22] drewnoakes commented on #6898
Fixed in https://dev.azure.com/devdiv/DevDiv/_git/CPS/pullrequest/340758.

[2021-07-28 11:22] drewnoakes commented on #7318
Fixed in https://dev.azure.com/devdiv/DevDiv/_git/CPS/pullrequest/340758.

[2021-07-28 19:20] Tanya-Solyanik opened #7437 "The form designer is not opened by default when creating a .NET core project from VS"
**Visual Studio Version**: 17.0.0 Preview 3.0 [31527.368.main]

**Summary**:
Solution Explorer Icon is set correctly, `.user` file has `Form` subtype, but designer does not open automatically. Designer opens on double-click as expected.

**Steps to Reproduce**:

1. Create a Winforms (or WPF) .NET core project from VS
2. Observe the form designer of this project

**Expected Behavior**:
Designer loa

[2021-07-28 22:52] MiYanni commented on #6457
I'll be implementing this into the new property pages.

[2021-07-28 22:55] drewnoakes opened #7438 "Our repo is misconfigured for incremental build"
Building repeatedly produces:

[code]

This means our builds take marginally longer than they should.

[2021-07-28 23:57] NickeManarin opened #7439 "Files added as Resource are removed from a class library project"
**Visual Studio Version**:
16.10.3

**Summary**:
If I try to set a file as a Resource, the file is removed from project (same as right-clicking and clicking to exclude from project) and can't be added anymore.

**Steps to Reproduce**:

1. Create Class Library project (.NET 5).
2. Create folder (I named it 'Resources')
3. Paste a file (could be a .gif or a .ttf, or whatever).
4. Try setting that fi

[2021-07-29 00:04] NickeManarin commented on #7439
![Resource](https://user-images.githubusercontent.com/14798947/127411512-986d9f83-6bcc-417a-af6a-f9566aa55b38.gif)

[2021-07-29 01:04] #6457 closed

[2021-07-29 02:26] #3826 closed

[2021-07-29 02:26] #6633 closed

[2021-07-29 05:47] #7423 closed

[2021-07-29 21:08] #7420 closed

[2021-07-30 04:12] davkean commented on #353
@CyrusNajmabadi I've resubmitted this: https://github.com/dotnet/project-system/pull/7446. After this we will move this over to Roslyn along with traces. We'd like Roslyn to remove the UI dependency on this path, it prevents us from overlapping Roslyn initialization on many threads and forces us to force initialize on the UI thread when we eventually block on it latter in the project load stages.

[2021-07-30 05:38] davkean commented on #6612
This has increased to 454 additional files above our dlls and required files, I think this should be prioritized, just to reduce extract and copy time of these files.

[2021-07-30 17:06] CyrusNajmabadi commented on #353
That seems reasonable.  Though i think @jasonmalinowski will need to be pulled on this.  He has the most context on why parts of our PS impl are UI thread affinitized.  I have no doubt we can get (almost) everything off the UI thread, but he'll be the best at just knowing the places that are currently problematic.

[2021-07-30 22:56] eerhardt commented on #7448
I was able to reproduce this on a new .NET 5 VB WinForms app. You just need to "Add => New Item" and choose a "Settings" item. Add a new string setting named "username", and then add code to read the "username" property of a "new Settings1" object.

The `system.diagnostics` section isn't a valid app.config section in .NET 5. The runtime doesn't get configured by app.config in .NET 5 like it did in

[2021-07-31 04:33] danmoseley commented on #7448
Hello project system friends, it would be great if you could take a look at this one as it is a migration blocker for some VB customers.

[2021-08-02 14:52] jjmew commented on #7448
@melytc Can you take a look at this? maybe get some context from @tmeschter

[2021-08-03 01:26] drewnoakes commented on #7292
Following up here: when I looked at this there wasn't a clear theme colour that looked sensible in both light and dark themes, so I parked my investigation.

[2021-08-03 06:49] #5913 closed

[2021-08-03 19:53] chryw commented on #7292
@drewnoakes you should set different colors for different themes. Colors will only pass accessibility requirement for text in either dark or light background.
BTW there will be new updates coming for Preview 3 release. The common controls now look more like VS Code (and Win11), where at initial state the border is not visible, the background is brighter than the environment. At focused/expanded st

[2021-08-03 20:45] tmeschter commented on #7372
@chabiss How would I test this to ensure it is working as expected?

[2021-08-03 22:17] #6601 closed

[2021-08-03 23:06] CyrusNajmabadi commented on #6069
Note: this full on hung VS for me, forcing me to force-quit it.

[2021-08-04 00:19] nkolev92 opened #7453 "IVsProjectRestoreInfoSource.WhenNominated returns immediately even when a nomination is pending"
**Visual Studio Version**:
17.0 preview 3

**Summary**:

IVsProjectRestoreInfoSource.WhenNominated returns immediately even when `HasPendingNomination` is true.

This basically causes NuGet to have to invoke `WhenNominated` multiple times on the same project.

This basically leads to NuGet not being able to accurately reason about the effectiveness of the batching, as it pollutes the data with a h

[2021-08-04 01:15] ocallesp commented on #7453
Pending: check _whenNominatedTask

[2021-08-04 12:48] drewnoakes commented on #7292
@chryw I'm not specifying any _colours_ myself. I'm looking for a brush key for the background. Ideally it would have the same background colour as the code editor. I don't know what resource key the editor uses for its background though. Do you know what it is, or&mdash;even better&mdash;how I would work this out myself?

[2021-08-04 16:10] tmeschter opened #7455 "Create 17.0 Preview 3 branch"
- [x] Identify base commit for new branch
  - Base build is main 20210729.6
  - https://github.com/dotnet/project-system/commit/c5f05afefc92a2babb23be4c65c136b0e80d9fea
- [x] Create branch on GitHub
  - dev17.0-preview3
- [x] Update the YAML file to support CI/PR builds
  - Nothing to do; unit-tests.yml already covers branches matching the pattern `dev*`
- [x] Update Roslyn Tools config.xml file t

[2021-08-04 18:19] tmeschter commented on #7455
The branch is now up and running.

[2021-08-04 18:19] #7455 closed

[2021-08-04 20:58] #7372 closed

[2021-08-04 22:02] MiYanni opened #7460 "New Property Pages: Csproj editor focus causes unrelated property page to activate"
## TLDR
Focusing a CPS-style .csproj editor causes non-CPS-style property page to activate if it is already open.

## Details
If you have a .csproj file open for editing (text editor), it seems to have some logic that links it to the property page of that editor. However, this logic doesn't seem to work properly with the new property pages. I've been observing this for a few weeks and kept forgett

[2021-08-05 01:08] nkolev92 commented on #7453
Closing in favor of https://github.com/NuGet/Home/issues/11132

[2021-08-05 01:08] #7453 closed

[2021-08-05 06:50] MagicAndre1981 commented on #5767
any update on this? Will this be solved in VS2022 or still in 2019 16.11?

[2021-08-05 07:53] visschersm commented on #1457
I tried using this as well. But my dynamic version does not get set at buildtime either.

[code]

I noticed the note but with or without the false check it did not matter.

Neither did setting the Target. (After/Before Targets)
[code]

Any help would be appreciated since this seems to be the best current solution for this problem.

[2021-08-05 15:54] shmuelie commented on #1457
@visschersm The logic I created was this (the git stuff is from [GitInfo](https://www.nuget.org/packages/GitInfo/))

[code]

[2021-08-05 17:26] danmoseley commented on #7448
cc @KathleenDollard this is a case where tooling apparently breaks upgrade of a VB app. It's writing extra stuff to the config that the runtime won't use, so the config system rejects it.

[2021-08-05 18:14] visschersm commented on #1457
@shmuelie Thanks for sharing!

got it to work like this:
[code]

[2021-08-05 18:53] MiYanni commented on #7455
@tmeschter IDEA! Do we have a GitHub template for doing this? Might be a good idea, so that we can just make an issue using that template that already has the task list on it. We can make the template only available for us, too. Templates go into the `.github` folder in the repo.

[2021-08-05 19:17] tmeschter commented on #7455
@MiYanni That's a good idea.

I found https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository, but I don't see the option to turn on templates. Maybe I lack the necessary privileges?

[2021-08-05 21:58] MiYanni commented on #7455
@tmeschter I've asked JJ to add you as a [team member](https://github.com/orgs/dotnet/teams/project-system-owners/members).

[2021-08-05 22:22] tmeschter commented on #7393
@drewnoakes My best guess at this moment is that the issue is caused by the time out itself. Considering this code:

[code]

The `await action();` completes quickly, and then we get stuck on `return await tcs.Task.WithTimeout(CaptureReplyTimeout);`.

Meanwhile, our implementation of `IObserver.OnNext` doesn't get called at all until right after the timeout occurs, which is why the `this.whenLaunch

[2021-08-05 23:27] MiYanni commented on #7455
@tmeschter You should be added to the team now and able to access the template button in the settings.

[2021-08-06 03:10] davkean commented on #5599
PR: https://github.com/dotnet/project-system/pull/7463

[2021-08-06 10:37] drewnoakes opened #7464 "Fast up-to-date can get stuck looking for a deleted file"
**Visual Studio Version**:

**Steps to Reproduce**:

0. Enable "Minimal" up-to-date check logging
1. Create a .NET Class Library
2. Build it
3. Remove `Class1.cs` from the project
4. Build
5. Build again

**Expected Behavior**:

Project is up-to-date for the last build.

**Actual Behavior**:

Reloading the project then produces:

**User Impact**:

While in this state, redundant builds are schedule

[2021-08-06 23:00] vsfeedback opened #7466 "Cannot see project reference subtree in solution explorer if the packageId configured in csproj is not the same as the dll/project name"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/t/Cannot-see-project-reference-subtree-in-/1493531). Please vote and comment there to make sure your voice is heard._

---
[severity:It's more difficult to complete my work]
I use the Visual Studio 2019 Pro version 16.10.4

For exemple If I create 4 library projects named "ClassLibraryA", "C

[2021-08-07 01:08] lifengl opened #7468 "Intellisense ready state might be declared too earlier in warm load (when DT cache is ready.)"
The intellisense stage almost finished immediately after loading the solution in some warm loading time, after that, I saw nuget restore messages in the output window (although mostly they didn’t do anything, but sometime it might have pending work.)

I think the problem happens because the NuGet restore dataflow endpoints is registered too late.  CPS calls all background works are done, when all

[2021-08-07 02:41] drewnoakes opened #7469 "Disallow editing project properties and launch profiles while debugging"
The legacy property pages are disabled during debugging. The entire UI is disabled.

We should reproduce this in the new Project Properties and Launch Profiles UIs.

[2021-08-07 03:00] drewnoakes commented on #7469
We don't need to disable navigation or search, only edits.

[2021-08-09 09:12] drewnoakes commented on #7435
For some reason the `OutputPath` being set this way causes an item to be added to the project:

[code]

This item is included via the default globs as well. This causes the error about being added more than once.

A workaround is to manually remove the `Compile` item from the project.

The bug is likely in CPS.

[2021-08-09 09:15] drewnoakes commented on #7435
Actually, I found a better workaround.

Use this instead:

[code]

I'm curious why you want to have the output path in the project dir. This is not a common scenario, and is one that I'd say verges on unsupported.

[2021-08-09 09:18] drewnoakes commented on #7437
The project template is responsible for specifying which files open when a project is instantiated. Moving to dotnet/templates.

[2021-08-09 09:25] drewnoakes commented on #7439
This looks like a bug in CPS. Changing the item type from `None` to `Resource` does this to the project file:

[code]

The `Remove` causes the item to not be displayed in the tree at all.

Manually removing the `Remove` from the `.csproj` file causes the item to appear correctly.

This bug seems independent of the file's extension.

[2021-08-09 09:57] drewnoakes commented on #7276
Triage notes: I can repro this. We currently plumb through `Link` metadata, but not `TargetPath`.

[2021-08-09 12:30] drewnoakes commented on #7276
Fixed in #7470.

[2021-08-09 21:14] tmeschter commented on #7393
Per our email thread, I think the right thing to do here is to pull the newly added launch profile off the project after the update query has executed, rather than waiting for the subscription to push the updates. This would require changes on both the CPS and dotnet/project-system sides. dotnet/project-system is already adding the new launch profile entity to the project entity, but it isn't incl

[2021-08-09 23:00] drewnoakes commented on #7373
@mckennabarlow can you think through how we want to surface this to the user, and what text we want to display? We need to get this text in before the localisation cut-off.

[2021-08-10 12:45] drewnoakes opened #7473 "Environment variable values should be able to contain semicolon"
In the legacy UI, this is supported:

![image](https://user-images.githubusercontent.com/350947/128868577-4c936203-3cb8-4d56-af0f-6688f7152091.png)

Resulting in:

[code]

Opening this with the new system produces:

![image](https://user-images.githubusercontent.com/350947/128868714-9c7b6d58-5bf0-40e4-abe3-3e065ba6fb82.png)

Here the semicolon is indistinguishable from a separator.

One possible f

[2021-08-10 12:52] drewnoakes commented on #7473
Reading the description on the property, I see the delimiter is a comma, not a semicolon, and that there's a facility for escaping it with a forward slash.

Do regular forward slashes need to be escape? What if a value ends in a forward slash? Where is this code defined?

[2021-08-10 12:53] drewnoakes commented on #7473
It seems that commas are valid in env var names too (testing on Windows).

[2021-08-10 12:55] drewnoakes commented on #7473
I did some more testing and believe this is a false alarm.

[2021-08-10 12:55] #7473 closed

[2021-08-10 16:27] tmeschter opened #7474 "Hide Hot Reload check box when Hot Reload is not supported"
Currently we always show the Enable Hot Reload checkbox for launch profiles using the "Project" launch command:

![image](https://user-images.githubusercontent.com/10506730/128896547-bbfa0232-7cc9-4a35-9c77-7720f950f942.png)

We should only show this check box when the project supports Hot Reload; specifically, when it has the "SupportsHotReload" capability.

My current thought is to add a hidden

[2021-08-10 18:31] drewnoakes commented on #7474
We have a visibility condition function that tests for project capabilities:

[code]

[2021-08-10 23:38] drewnoakes commented on #6768
This was fixed in https://github.com/dotnet/project-system-tools/pull/392, specifically in https://github.com/dotnet/project-system-tools/pull/392/commits/2e3b898e10d031ac2ce8561d825782ff4c621dca.

[2021-08-10 23:38] #6768 closed

[2021-08-10 23:51] MiYanni commented on #7378
### Summary
This feature is not needed within the .NET project system. It is rolled into creating a publish profile and is handled by the publish profile wizard.

### Documentation
https://docs.microsoft.com/en-us/visualstudio/deployment/quickstart-deploy-using-clickonce-folder?view=vs-2019

### Repro
For ClickOnce to be available, you need to install the ClickOnce Publishing tool in the VS Instal

[2021-08-10 23:51] #7378 closed

[2021-08-10 23:52] MiYanni commented on #7244
This is not needed. See my notes here: https://github.com/dotnet/project-system/issues/7378#issuecomment-896387764

[2021-08-10 23:52] #7244 closed

[2021-08-11 04:12] RussKie opened #7477 "ObjectDisposedException during project close in up-to-date check Dataflow"
**Visual Studio Version**: Version 17.0.0 Preview 4.0 [31608.29.main]

**Summary**:

[code]

![image](https://user-images.githubusercontent.com/4403806/128968654-4ab90e8f-9ef7-465f-839a-20e06df784a5.png)

[code]

**Steps to Reproduce**:

1. I wan running an Exp instance from another VS
2. I closed a solution in the Exp instance when the exception occurred

[2021-08-11 10:19] drewnoakes commented on #7477
This doesn't appear to be related to recent changes to the up-to-date check. @RussKie was this a first chance exception that cleaned itself up, or did VS crash?

The exception appears, to me at least, to suggest that the `ExportProvider` was disposed.

[2021-08-11 11:08] drewnoakes commented on #7474
I had this file open today for something else so put a fix together for this.

[2021-08-11 19:30] jjmew opened #7479 "Need to understand performance for Branch Switching"
Branch switching is an operation that affects a lot of files at once. In turn there is a lot of things for the Project System to update. We want to understand the performance and aid the Version Control team on coming up with ideas on how to understand what is affecting branch switch. Here are some items we need to do:

- [ ] Analyze telemetry that describes the topography of solutions (in General

[2021-08-12 00:17] lifengl commented on #7477
It is a race condition during project closing. Configurations are teared down earlier than the unconfigured project level, so likely this code is running when configurations are being disposed. maybe need handle disposed configuration in this path.  Also project.Services.AsyncService.UnloadCancellationToken will be triggered before all this, which might be useful to tear down works like that earli

[2021-08-12 00:19] lifengl commented on #7477
also, i noticed that your side is still using the Unwrap block, instead of switching to ConfiguredProjectDataSourceJoinBlock. I will suggest to use the new block in a future update.

[2021-08-12 02:01] #7474 closed

[2021-08-12 03:53] #6898 closed

[2021-08-12 03:53] #7318 closed

[2021-08-12 04:29] drewnoakes opened #7483 "Introduce ConfiguredProjectDataSourceJoinBlock"
Currently we use `UnwrapCollectionChainedProjectValueDataSource` to aggregate data across project configurations. Its API is a bit hard to understand.

We should use the newer `ConfiguredProjectDataSourceJoinBlock` instead.

Added in CPS PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/329048

[2021-08-12 04:30] drewnoakes commented on #7477
Thanks for the analysis Lifeng.

This has been on my list for a while. I filed https://github.com/dotnet/project-system/issues/7483 to track it.

[2021-08-12 05:07] drewnoakes commented on #7477
We recently moved (nearly) all usages of `OnceInitializedOnceDisposed*` classes to use async disposal. That may be the cause of this exception.

[2021-08-12 09:38] drewnoakes commented on #7477
This code will change because of #7484, but I suspect the underlying race condition will remain.

[2021-08-13 20:32] paul1956 opened #7485 "Something changed in VS 2022 Preview 3 and VS 2019 16.11 that breaks VB WinForms Apps"
**Visual Studio Version**:
VS 2022 Preview 3 and VS 2019 16.11

**Summary**:
System and Microsoft.VisualBasic as well are many other libraries now require an explicate Import

**Steps to Reproduce**:
any existing WInforms application now requires explicate imports in designer file
[code]

**Expected Behavior**:
Project should just work

**Actual Behavior**:
1000's of errors
**User Impact**:
lots o

[2021-08-13 21:49] tmeschter commented on #7485
@paul1956 Are you seeing this with SDK-style projects or non-SDK-style projects? Do the affected projects build on the command line without adding these explicit imports?

[2021-08-13 21:52] paul1956 commented on #7485
Never did a command line build except of Roslyn. These are all SDK, .Net 5 or 6. They all worked in 16.10 and VS 2022 Preview 2.

[2021-08-13 22:00] tmeschter commented on #7485
@paul1956 Thank you, that is very helpful.

One more thing: can you run `dotnet --list-sdks` on the command line so we can see which .NET SDKs you have installed?

[2021-08-13 22:00] jjmew commented on #7485
@melytc can you please take a look at this ASAP and try to repro it?

[2021-08-13 22:06] paul1956 commented on #7485
[code]
You can look at https://github.com/paul1956/CSharpToVB and view Git history to see everything I had to change. I think it took a couple of commits to get everything.

[2021-08-13 23:44] melytc commented on #7485
@dsplaisted, I think @paul1956 is seeing a similar behavior like https://twitter.com/dotMorten/status/1426319296527933441. Just to verify, is this also covered?

[2021-08-13 23:50] paul1956 commented on #7485
That looks like the list of missing stuff I am seeing. System, collections, diagnostic and VisualBasic missing cause the majority of issues.

[2021-08-16 01:36] drewnoakes opened #7488 "Allow modifying set of implicit global usings for .NET 6 projects"
.NET 6 provides a new feature, "implicit global usings".

We should add tooling support to it in the new Project Property UI.

Relates to https://github.com/dotnet/sdk/issues/19521

At a high level this involves:

- A new `<ImplicitUsings>` property, with values of `enable`, `true` and `disable`
- New `<Using Include="..." ... />` items

The property will be straightforward, but the new items will

[2021-08-16 11:57] springy76 commented on #1821
It soon is another 2 years later since my last comment speaking of 2 1/2 years... now 4 1/2 years.. being on latest VS and net5 and still seeing this sh*t regularily. 👎

[2021-08-16 11:59] drewnoakes opened #7490 "Hide page/category navigation items whose properties are all conditionally non-visible"
Needed for #7373.

We are introducing entire property pages/categories for which all contained properties may be conditionally non-visible.

Today, such navigation items appear. The _Settings_ item here is an example. It is not visible in the property list. This project targets .NET 5 for which that `AppSettings` capability is not defined:

![image](https://user-images.githubusercontent.com/350947

[2021-08-16 12:38] drewnoakes commented on #7490
Fixed in CPS PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/344681.

[2021-08-17 02:55] MiYanni commented on #6900
This keystroke isn't being hijacked as `Shift+Delete` doesn't work either (same as `Ctrl+X` in Windows). `Shift+Insert` is Paste and `Ctrl+Insert` is Copy. These also work as expected, so it is actually the Cut action that has an issue. Investigating... 👀

[2021-08-17 03:01] MiYanni commented on #6900
The Cut option in the right click context menu works as expected. Still investigating... 👀

![ContextMenuCutWorking](https://user-images.githubusercontent.com/17788297/129656997-4d605903-084a-4427-b285-d4b48b92606f.gif)

[2021-08-17 03:12] #7490 closed

[2021-08-17 03:13] drewnoakes commented on #7373
See also CPS PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/344654

[2021-08-17 03:29] MiYanni commented on #6900
It is certainly getting the command as Ctrl+X on text is clearing the clipboard. So, if you Ctrl+C and Ctrl+V, you'll see text. As soon as you hit Ctrl+X, when you hit Ctrl+V, nothing appears anymore. I'm going back and forth between Notepad, and it is definitely getting the command, but is acting like I have selected nothing. Thus, the clipboard has no text in it and nothing is removed from the e

[2021-08-17 03:37] MiYanni commented on #6900
Ah ha! Getting somewhere. Used a clipboard viewing app, and it seems that the Cut action via hotkey is getting a `CF_VSREFPROJECTS` object instead of the standard Text object. So, something is definitely awry.

![CutVSRefProjects](https://user-images.githubusercontent.com/17788297/129659687-8ad32a1f-cf9c-401c-838c-0ba612f5e5eb.gif)

[2021-08-17 12:05] drewnoakes commented on #6900
@MiYanni does Ctrl+X work in the text boxes if you unbind that keystroke from the VS command for cut?

[2021-08-17 12:26] drewnoakes commented on #7488
`true` and `enable` are aliases. We should only define one in the UI (a checkbox would suffice for now) and we should alias these two values via an interceptor.

[2021-08-17 12:30] drewnoakes commented on #7488
As custom UI is potentially challenging here, an intermediate solution may be to support multi-line text, with values of the form:

[code]

Which would map to:

[code]

[2021-08-17 18:46] Hawkeye4040 opened #7493 "Build Action Bug"
### Description
When changing project items from none to resource in VS2019 the project file automatically removes them from the project explorer view. I followed the [Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/core/project-sdk/overview#default-includes-and-excludes) article on the topic however none of these solutions actually work. One thing will work but cause other issues and the

[2021-08-17 22:48] MiYanni commented on #6900
@drewnoakes If you remove the binding, it works as expected (meaning, the issue is fixed). I think the binding is doing some logic to create a type of paste object. When I looked for `CF_VSREFPROJECTS`, I found this in CPS:
https://devdiv.visualstudio.com/DevDiv/_git/CPS?path=%2Fsrc%2FMicrosoft.VisualStudio.ProjectSystem.VS.Implementation%2FPackage%2FCopyPaste%2FDragDropHelper.cs&version=GBmain&li

[2021-08-18 01:01] drewnoakes commented on #5719
This is being tracked by the WPF team here: https://github.com/dotnet/wpf/issues/2760

[2021-08-18 01:01] #5719 closed

[2021-08-18 01:39] drewnoakes commented on #4466
This situation has been addressed in the new Project Properties UI:

![image](https://user-images.githubusercontent.com/350947/129822749-93d5b69a-0b02-4365-b1e6-43f0701495a4.png)

![image](https://user-images.githubusercontent.com/350947/129822783-cf640ce5-bda9-4dd2-b787-604028c1746a.png)

[2021-08-18 01:39] #4466 closed