[2016-11-22 19:04] srivatsn commented on #792
Filed https://github.com/dotnet/roslyn-project-system/issues/793

[2016-11-22 20:09] jinujoseph opened #795 "Design a way to get the supported Target Framework List for Net core projects"
We need to come up with a design for this, here’s a couple of things to think about:

1)	You’re not always going to have project context to get the list of TFMs – think File -> New where you have a drop down to select the version of .NET Core you want to create the project with. If it comes from the project, you need a project before you’ve created a project.
2)	You’ll want friendly names, .NETSta

[2016-11-22 20:46] djanosik opened #796 "The project system has encountered an error"
I've migrated my .NET Core solution to ".csproj", but one of projects is failing to load. Can I somehow fix this? See attachments:

![Error.png](https://cloud.githubusercontent.com/assets/858180/20541275/cf4a2486-b0fc-11e6-98b6-b9bc812a63c2.png)

- [VsProjectFault_e555c9d7-bab8-46a5-9292-aa00cbb1c279.failure.txt](https://github.com/dotnet/roslyn-project-system/files/607542/VsProjectFault_e555c9d7-

[2016-11-22 23:11] mavasani commented on #725
I am unable to repro this on Dev15 RC build with latest ProjectSystem VSIX installed on top of it.

[2016-11-22 23:11] #725 closed

[2016-11-22 23:41] mavasani commented on #146
@davkean I am looking at this one and seems we need to change [this](http://index/?query=ErrorListD&rightProject=Microsoft.VisualStudio.ProjectSystem.Managed.VS&file=ProjectSystem%5CVS%5CBuild%5CLanguageServiceErrorListProvider.ErrorListDetails.cs&line=38) code to behave differently for null/empty project file. Do we actually have a repro for this case? If so, I think the best we can do is fetch t

[2016-11-23 00:16] davkean commented on #796
Do you have a repro project that we can try?

[2016-11-23 00:22] 333fred commented on #787
The issue here is that I'm listening to `IVsWindowFrameNotify2.OnClose` to clean up the project file, which apparently gets fired before the Unsaved Dialog is shown. Looking into events we can listen to for later cleanup.

[2016-11-23 00:33] #607 closed

[2016-11-23 00:56] mavasani opened #798 "Ensure that we generate the correct recommended build number version"
See https://github.com/dotnet/roslyn-project-system/pull/797#issue-191164076 for details. We need to follow up with the setup team on the correct value for build version.

[2016-11-23 05:56] pzgulyas commented on #796
When this happens to me, I usually have to delete the generated file `obj/****.csproj.nuget.g.props`, then reload the project. Unfortunately this happens again from time to time with the same project.

[2016-11-23 06:45] djanosik commented on #796
@davkean Here is the solution: [Moon.Libraries.zip](https://github.com/dotnet/roslyn-project-system/files/608214/Moon.Libraries.zip). Moon.Testing project fails to load.

@pzgulyas Yes, deleting `obj` folder helps until next load.

[2016-11-23 08:18] jinujoseph opened #800 "Enable multi-target framework selection via Application Property page"

[2016-11-23 08:38] davidfowl commented on #791
Hmm, let me check again.

[2016-11-23 08:44] davidfowl commented on #791
We can close this. It doesn't work for packages.config but that's by design. Was testing new proj -> old csproj + packages.config

[2016-11-23 09:12] #791 closed

[2016-11-23 19:05] jinujoseph opened #803 "File rename fails the first time"
![image](https://cloud.githubusercontent.com/assets/12449387/20575021/470c971e-b16c-11e6-80f1-619f5908f63a.png)

Now rename the 'class1' to 'foo' manually
try rename again (change file 'foo' to 'bar') , this time it successfully renames but still shows IntelliSense error

![image](https://cloud.githubusercontent.com/assets/12449387/20575081/9ba9e8c6-b16c-11e6-948b-8b9a673f1bc2.png)

[2016-11-23 22:18] #72 closed

[2016-11-24 01:21] wjk opened #805 "csproj File Automatically Reformatted"
I have just added an MSBuild-based .NET Core project to a brand-new solution in VS 2017 RC. When I right-click the project and select Edit, the solution file is automatically reformatted to match Visual Studio's (old) standards for MSBuild project formatting. Namely:

* Blank lines between tags are removed.
* The newline at the end of the file is removed.
* The UTF-8 BOM is removed.

This causes p

[2016-11-24 01:21] wjk opened #806 "Add "Edit project" command to Project menu"
Currently (in VS 2017 RC), the Edit Project command is only available in a project's right-click menu. Could this possibly be added to the Project menu in the menu bar as well? This will make it easier for me to access this command using only the keyboard. Thanks!

[2016-11-24 02:38] #146 closed

[2016-11-24 02:56] davkean commented on #806
Yep, definitely.

@333fred I think we should reuse the existing edit project command, and add it to both Project and Project context menus. The vsct is located /src/appid/inc/SharedCmdPlace.vsct in the VS tree, see my commit 655368c7 for an example.

[2016-11-24 03:01] davkean commented on #805
Thanks - all this is known, except the BOM. I'll make sure we check the BOM when we fix this: https://github.com/dotnet/roslyn-project-system/issues/512.

Keep these bugs coming!

[2016-11-24 03:01] #805 closed

[2016-11-24 09:37] davidfowl commented on #774
Unresolved dependencies should show up in the tree as well:

![image](https://cloud.githubusercontent.com/assets/95136/20593251/84dcee52-b1e6-11e6-9570-8d17a4d6d299.png)

Today they are completely left out.

[2016-11-24 18:51] pzgulyas commented on #786
A workaround is to add the generated `Interop.pfcls.dll` from the bin folder as an assembly reference beside the COM reference in csproj. Although VS drops two additional warnings (MSB3061 Unable to delete file, and MSB3245 Could not resolve this reference) at build time, the project eventually builds, and there is also intellisense available.

[2016-11-24 19:35] djanosik commented on #796
I've found it helps to clear the `.vs` hidden folder.

[2016-11-24 21:18] davkean commented on #796
Thanks for the repro - we'll look into this.

[2016-11-24 22:44] davkean opened #807 "C# template icons look bad under new MRU templates"
![image](https://cloud.githubusercontent.com/assets/1103906/20610836/bd73bd6e-b2f3-11e6-903f-c78fd612cf29.png)

[2016-11-24 23:17] davkean opened #808 "You can no longer edit an unloaded project"
Build: 15.0.25918.0 D14PREREL

1. Create a new C# Console App (.NET Framework)
2. Unload project
3. Right-click and choose Edit

Expected: For the text editor to open
Actual: Nothing

[2016-11-24 23:17] davkean commented on #808
@333fred Did we regress this? Is our handler taking over this, or has something else regressed this?

[2016-11-24 23:29] davkean opened #809 "Assert opening Advanced Build Settings"
Under Debug configuration:

1. Open Application Designer
2. Choose Build -> Advanced

[code]

[2016-11-25 00:06] davkean opened #810 "Scoping to a top level NuGet pack in Solution Explorer, doesn't show dependent packages"
1. Create a new .NET Core project
2. In Solution Explorer, right-click on Microsoft.NETCore.App and choose **Scope to this**

Expected: For nested packages to show
Actual: Just the top level package is shown:
![image](https://cloud.githubusercontent.com/assets/1103906/20611469/1ef32542-b2ff-11e6-8699-a040c56117e4.png)

![image](https://cloud.githubusercontent.com/assets/1103906/20611477/429c7db8-b

[2016-11-25 00:08] davkean opened #811 "Can't "Scope to this" on top-level reference groupings"
![image](https://cloud.githubusercontent.com/assets/1103906/20611484/69a72be2-b2ff-11e6-9030-62a40bdeb077.png)

[2016-11-25 00:54] davkean opened #812 "Once you've edited the project file once you can no longer modify the project"
1. Right-click on a project, choose Edit "ProjectFile"
2. Close editor
3. Add a new folder to the project

Expected: For this to succeed
Actual:

[code]
Stack:

[code]

[2016-11-25 01:32] davkean opened #813 "InvalidCastException attempting to convert from string output type to integer opening AppDesigner"
[code]

[2016-11-25 01:36] davkean opened #814 "Output type in AppDesigner is wrong for Console Application"
1. Create new Console App (.NET Core)
2. Open AppDesigner

Expected: Output type "Console Application"
Actual: Output type "Windows Application"

I suspect this has also broken this:

1. In AppDesigner, change Output type to "Class Library"

Expected: For Win32/Manifest properties to be disabled
Actual: They are enabled

[2016-11-25 01:36] davkean commented on #814
I suspect this is caused by: https://github.com/dotnet/roslyn-project-system/issues/813

[2016-11-25 01:36] davkean commented on #813
This is probably a dup of https://github.com/dotnet/roslyn-project-system/issues/814.

[2016-11-25 01:36] #813 closed

[2016-11-25 01:41] davkean commented on #762
Here's what I got before VS crashed:

[code]

[2016-11-25 01:45] davkean commented on #807
Interestingly enough, they look fine under small icons in the new project dialog:

![image](https://cloud.githubusercontent.com/assets/1103906/20612340/fc46b3c0-b30c-11e6-967e-c341d4536fb1.png)

[2016-11-25 02:14] davkean opened #815 "Unit tests are failing from Visual Studio due to missing "msbuild""
![image](https://cloud.githubusercontent.com/assets/1103906/20612735/07f91812-b311-11e6-85a9-d9e477ab0380.png)

They are failed with the following:

[code]

[2016-11-25 03:28] 333fred commented on #808
It shouldn't be. Our handler should only be triggering for CPS projects that are either C# or VB.

[2016-11-25 03:29] 333fred commented on #812
Same root cause as #787.

[2016-11-25 04:30] abpiskunov commented on #774
They do show - what is your specific repro steps? And builds ...

Thanks,
Anton

On Nov 24, 2016, at 1:37 AM, David Fowler <notifications@github.com<mailto:notifications@github.com>> wrote:

Unresolved dependencies should show up in the tree as well:

[image]<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fcloud.githubusercontent.com%2Fassets%2F95136%2F20593251%2F84dcee52-b1e6-11e

[2016-11-25 05:07] #576 closed

[2016-11-25 05:12] davidfowl commented on #774
@abpiskunov I removed it. I might not have hit save, or there may have been another error preventing restore from writing the lock file.

[2016-11-25 05:30] davidfowl commented on #774
However, there does seem to be a large class of bugs where things aren't getting updated properly after a csproj edit

[2016-11-25 05:33] davkean commented on #808
Opened an internal bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/295877

[2016-11-25 05:33] #808 closed

[2016-11-25 17:13] psoszynski opened #818 "Unable to reference .NET Standard project from an UWP project"
1. Visual Studio 2017RC (fresh install)

2. New Project -> Universal Windows ('App1').
    References: a) Microsoft.NETCore.UniversalWindowsPlatform, b) Universal Windows

3. Add Project -> .NET Core -> Class Library (.NET Standard) ('Class Library1').
    References: a) Microsoft.NET.Sdk (1.0.0-alpha-20161104-2, b) NETStandard.Library (1.6.0)

4. Trying to add a project reference from 'App1' to '

[2016-11-27 22:00] davkean commented on #807
Weirdly this is what the Console app template looks now under my MRU, looks like there's some sort of bug in the MRU caching/display:

![image](https://cloud.githubusercontent.com/assets/1103906/20652216/194b8a3e-b549-11e6-966d-be94842d51ef.png)

[2016-11-27 22:08] davkean commented on #818
Thanks, this is a known issue. As a workaround, you should be able to reference the binary directly.

[2016-11-28 00:46] davkean opened #819 "Edit Pre-build event crashes Visual Studio"
1. File -> New Console Application (.NET Core App)
2. Properties -> Build Events -> Edit Pre-Build event

--Crash--

[code]

[2016-11-28 00:47] davkean commented on #819
May be related to: https://github.com/dotnet/roslyn-project-system/issues/814

[2016-11-28 00:54] davkean opened #820 "Build property page isn't being scaled correctly on high-DPI"
![image](https://cloud.githubusercontent.com/assets/1103906/20653421/61fde188-b561-11e6-8f26-309034ace6b6.png)

[2016-11-28 00:56] davkean opened #821 "Signing property page isn't being scaled correctly on high DPI"
![image](https://cloud.githubusercontent.com/assets/1103906/20653445/a75c2a00-b561-11e6-9c7e-47aafa4d7e6d.png)

[2016-11-28 01:22] davkean opened #822 "The active configuration is changing during startup of .NET Core app"
The active configuration is changing during startup of .NET Core application, forcing us to publish the latest tree during language service initialization. We should avoid that:

[code]

[2016-11-28 01:27] davkean commented on #813
Now I'm getting:

[code]

[2016-11-28 01:32] davkean opened #823 "Debug property is throwing unhandled exception on Dispose if it's never displayed"
1. File -> New Console App (.NET Core)
2. Right-click Project -> Properties
3. Close App Designer

Below occurs. Looks like _threadHandling is never assigned if the page is never displayed (SetObjects isn't called)

[code]

[2016-11-28 02:00] jinujoseph commented on #819
dupe of #405 ?

[2016-11-28 02:01] davkean commented on #819
This one looks different to that one, the stack is different.

[2016-11-28 02:01] davkean commented on #405
Make sure you look at https://github.com/dotnet/roslyn-project-system/issues/819 which has a different stack.

[2016-11-28 03:59] davkean commented on #660
Okay, after much struggling with the debugger and optimized code - I finally figured out the cause of the first issue. CPS provides an `IVsDesignTimeResolutionService`, but it only implements it on the project root (`IVsHierarchy`). The designer is looking it up via `IVsProject.GetItemContext` and looking for `SVsDesignTimeResolutionService`.

[2016-11-28 05:24] davkean opened #824 "Investigate if we need to implement IVsProjectResources for localized resources"
Figure out where this interface is called, because CPS doesn't implement it but vslangproj does.

[2016-11-28 06:12] davkean commented on #660
Okay, more info - looks like this is a CPS change, the designer (and lots of other code) look up the service via the current "item", while we can control the root, we don't have control over the individual nodes.

[2016-11-28 06:35] gulbanana opened #825 ".NET Core projects are never considered up-to-date"
Projects using the new project system and alpha SDK are always rebuilt rather than allowing the solution to be incrementally built. Steps to reproduce:

1) Check out https://github.com/gulbanana/repro-netcore-incrementality
2) Build the solution once. Result is
`========== Build: 2 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========`
3) Build a second time. Result is
`========== Build: 1 succe

[2016-11-28 06:40] davkean commented on #825
Thanks for the feedback. This is known and being tracked by: https://github.com/dotnet/roslyn-project-system/issues/62.

We basically don't have a "fast up-to-date" check that skips MSBuild. We'll add one before we ship.

[2016-11-28 06:41] davkean commented on #825
Hmm, are downstream projects being rebuilt? That shouldn't happen due to their up-to-date checks.

[2016-11-28 06:43] gulbanana opened #826 ".NET Core xUnit tests have no SourceInformation"
When using xUnit in VS2017, the relationship between unit tests and their source code is not discovered. This means that the Test Explorer toolwindow categorises them as "external", and features like rightclick -> run test and Live Unit Testing do not work.

To reproduce: File -> New Project -> "xUnit Test Project (.NET Core)" or check out https://github.com/gulbanana/repro-netcore-diasym. Then, b

[2016-11-28 07:00] gulbanana commented on #826
Potentially related fix for an older issue (this one was about discovering sourceinformation for referenced libraries in an older tooling version): https://github.com/xunit/xunit/pull/924

[2016-11-28 07:04] gulbanana commented on #825
They are! Doesn't seem to matter whether the downstream ones are Core or old.

[2016-11-28 07:08] gulbanana opened #827 "New project system does not discover net461 tests"
Steps to reproduce:
1) Create a new "xUnit test project"
2) Change it to target net461, adding a RID and removing the netcore.app package
Or, check out https://github.com/gulbanana/repro-netcore-netfxtest

Build; observe that no tests are discovered. This may be due to an SDK issue - I see warnings about the testhost architecture - but `dotnet test` isn't working yet so I can't check.

[2016-11-28 16:42] djanosik opened #828 "What files are included in .NET Core projects?"
I have a new `.csproj` ASP.NET Core project. I am trying to figure out what files are included in the project and how. The following items are defined in my `.csproj`:

[code]

This is the result:

- all `**\*.cs` files are included ✓
- all `**\*.resx` files are included ✓
- `appsettings.json` is included ✓
- `compilersettings.json` is included, but not defined in project file
- `wwwroot\**\*` is

[2016-11-28 17:38] jinujoseph commented on #582
Resolved via #744

[2016-11-28 17:38] #582 closed

[2016-11-28 18:03] jinujoseph opened #829 "Sometimes create new project doesn't ever complete from the UI"
**Repro steps**

- Create a new console application.

**Expected**
project created

**Actual**
It keep showing this UI
![image](https://cloud.githubusercontent.com/assets/12449387/20679853/6e702fee-b551-11e6-9c8a-982027f2b659.png)

Note: The files are created. Kill the instance and open the .csproj and it loads fine.

**Build**
d15prerel/15.0.25927.3

This is flaky and doesn't repro all the time.

[2016-11-28 18:08] mavasani commented on #829
Can you take a dump next time this happens for you?

[2016-11-28 18:19] jinujoseph commented on #829
\\mlangfs1\public\Jinuj\dmp\projectCreate.dmp

[2016-11-28 18:43] 333fred opened #830 "ProjectReloadManager calls InitializeCoreAsync instead of InitializeAsync"
In ProjectReloadManager, the public Initialize function calls InitializeCoreAsync instead of InitializeAsync, which could cause double initialization issues if ever called twice. /cc @BillHiebert

[2016-11-28 18:46] 333fred commented on #830
@BillHiebert unless you think this will be a big issue, I'm going to leave this for RC3. I have the fix submitted as #831.

[2016-11-28 18:48] 333fred commented on #780
It's looking like the temp file approach is what we're going to stick with for now. The buffer approach is promising, but there's some niggling issues with document state that I'm not sure we're going to be able to address without some changes to the Shell/Editor that wouldn't make bar at this point. I'm going to keep looking at this post RC2, but for now we're sticking with the temp file solution

[2016-11-28 20:52] adrianvmsft opened #833 "Can't disable AppDesigner for the project by removing the capability"
Create new .Net Core project
Edit the project file and include the following at the end of the project (after Import Microsoft.CSharp.targets):
[code]
Reload the project
In solution explorer, select the project node, right click properties
Expected: the CPS properties designer to be displayed
Actual: App designer still gets displayed

Note: Other capabilities seem to be fine. For example, if you u

[2016-11-28 21:00] lifengl commented on #559
#274485 has been closed as "Won't fix".  Because dataflow doesn't consistently passes ExecutionContext, there is no easy way to address this issue other than a dataflow which imports anything based on capabilities must chain capabilities as its input dataflow.

The workaround today will add a capability provider to be loaded into all project types.  If you plan to keep it there, please add Support

[2016-11-28 22:26] davkean commented on #829
I can't get any stacks out of the dump for some reason, but this looks like a dup of https://github.com/dotnet/roslyn-project-system/issues/777, which is be fixed by a NuGet insertion today.

[2016-11-28 22:51] srivatsn commented on #764
This should be fixed now?

[2016-11-28 22:53] jinujoseph commented on #764
yes.

[2016-11-28 22:53] #764 closed

[2016-11-29 01:25] davkean commented on #62
Also respects `DisableFastUpToDateCheck`.

[2016-11-29 01:29] davkean commented on #62
I think we should create two new items to drive this that:

1. Respect the existing C#/VB properties for backwards compat
2. Actually use to drive the real inputs and outputs - that way they can be changed/removed without needing to change the project system (think a VSIX project that doesn't produce an assembly/pdb.

[2016-11-29 05:32] davkean commented on #660
Got fixes for both issues - not sure if its going to meet CPS bar, will need to check.

[2016-11-29 07:03] davidfowl commented on #828
The ASP.NET globs are a bit of a mess. Can you move this issue to https://github.com/aspnet/Tooling/issues

[2016-11-29 07:11] djanosik commented on #828
Yeap, moved to https://github.com/aspnet/Tooling/issues/884.

[2016-11-29 07:11] #828 closed

[2016-11-29 11:16] davidfowl commented on #783
@srivatsn why is the bug in the SDK? Isn't it a project system bug?

[2016-11-29 19:08] 333fred opened #836 "Refactor EditProjectFileCommand state machine"
The EditProjectFileCommand effectively has an internal state machine. We should refactor it, as commands shouldn't have internal state.

[2016-11-29 21:05] 333fred opened #837 "Flaky Test: DependenciesGraphProvider_TrackChangesAsync"
[code]
PR Link: https://github.com/dotnet/roslyn-project-system/pull/835
Jenkins Link: https://ci.dot.net/job/dotnet_roslyn-project-system/job/dev15-rc2/job/windows_release_prtest/1/

@abpiskunov

[2016-11-29 21:13] srivatsn commented on #783
It's actually a native project system bug. So the fix is in internal devdiv repo and is going in today.

[2016-11-29 23:53] davkean commented on #829
@jinujoseph Can you verify if you can run into this in today's build? I'm pretty confident this is the NuGet bug.

[2016-11-29 23:53] #829 closed

[2016-11-29 23:55] jinujoseph commented on #829
yes , i verified this on d15prerel/15.0.25929.0

[2016-11-30 00:08] RaulPerez1 commented on #819
It is a dupe of #405, the root cause is that the CPS hierarchy does not implement IVsBuildMacro which used to be implemented in the old project system

[2016-11-30 00:08] #819 closed

[2016-11-30 00:09] RaulPerez1 commented on #405
Root cause is that the CPS hierarchy does not implement IVsBuildMacroInfo while the old project system hierarchy did so the cast fails and crashes.

[2016-11-30 00:11] davkean commented on #405
Okay, do we think this is something that is applicable to all project types? If so, we should implement it in CPS, otherwise, make use of the new ability to add interfaces to the project node via the new COM aggregation they did.

[2016-11-30 00:20] davkean opened #838 "Tests are taking an extra ~30 seconds to finish due to tests leaking some threads"
The Test Explorer guys found that our tests were taking an extra 30 seconds to finish because we were leaking threads:

We should fix that:
[code]

[2016-11-30 01:14] RaulPerez1 commented on #405
I was browsing through the VS codebase to see where else that interface is used and I found only a handful of hits so I'm not sure that it's worth doing it that way unless we want to preserve absolute backwards compatibility. The CPS way of doing this is to import IProjectPropertiesProvider and from there getting the project storage and eventually calling GetEvaluatedPropertyValueAsync.

[2016-11-30 02:33] davkean commented on #405
We're trying to avoid having two separate paths for the AppDesigner/prop pages. We have to continue to support IVsBuildMacroInfo because it still sits on the old project system. Given its one method, it looks much simpler to just shim it in CPS like we're doing with most of old interfaces.

[2016-11-30 02:34] davkean commented on #405
Looks like it's also used in text templating, so you'd also have to have that branch for both versions.

[2016-11-30 03:34] davkean opened #841 "Unable to change project properties via the AppDesigner"
1. Create new .NET Core applicaton
2. Change Assembly Name
3. Tab to the next control

Expected: Assembly name to remain the same
Actual: Assembly reverts to its previous value

[2016-11-30 03:36] davkean commented on #841
I quickly debugged this - this is an issue in PropertyDescriptionSetValueHelper.SetValue, the _valueChangedWasFired isn't being set to true, so we think the project was about to be checked out from source control, and the user cancelled it. This looks very much like the issue we had in CPS a couple of months ago. //cc @srivatsn

[2016-11-30 04:43] davkean opened #842 "TypeResolutionService needs to support System.Runtime"
The type resolution service, in particular VsTargetFrameworkUniverse.GetSystemAssembly, needs to support looking System.Runtime-based frameworks. Currently, it always expects to find mscorlib.

[2016-11-30 04:47] davkean opened #843 "CPS needs to support returning IVsDesignTimeAssemblyResolution from IVsProject.GetItemContext"
Currently CPS implements IVsDesignTimeAssemblyResolution on the hierarchy node. However, most code that uses IVsDesignTimeAssemblyResolution, uses it via IVsProject.GetItemContext both with ROOT and specific items.

We need to add support for this.

[2016-11-30 05:13] davkean opened #844 "Framework assemblies from NuGet packages aren't being found via IVsDesignTimeAssemblyResolution.ResolveAssemblyPathInTargetFx"
Framework assemblies from NuGet packages aren't being found via IVsDesignTimeAssemblyResolution.ResolveAssemblyPathInTargetFx.

This method basically directly calls ResolveAssemblyReference outside of a build with evaluated properties from an MSBuild instance, thereby skipping NuGet build target that raises NuGet packages as References.

[2016-11-30 05:31] davkean commented on #660
I've split this bug into three items:

https://github.com/dotnet/roslyn-project-system/issues/843
https://github.com/dotnet/roslyn-project-system/issues/842
https://github.com/dotnet/roslyn-project-system/issues/844

While the first two have fixes - the 3rd one is more complicated, and requires significant changes to CPS's implementation of DTAR.

[2016-11-30 05:33] davkean commented on #844
My mistake, it does do a design-time build by calling GetFrameworkPaths to populate ResolveAssemblyReference, however it's cached for the lifetime of a project.

[2016-11-30 05:37] davkean commented on #844
Wondering aloud if we just provide our own instance of IVsDesignTimeAssemblyResolution that just remembers results from the last design-time build. It might be calling ResolveAssemblyReference so that it gets framework unification, what if we just simplified it and did it ourselves?

[2016-11-30 05:51] davkean commented on #844
Looking through the old project system - this is effectively what it does, it remembers the results from the last Rebuild, Build, Compile or ResolveReferences and then uses those results.

[2016-11-30 06:49] davkean commented on #841
Walked through this – this looks like this was caused by Jinu’s change to hide properties from the Properties window. This caused a different descriptor “HiddenPropertyDescriptor” to be returned instead of the DynamicPropertyDescriptor which meant that the events where no longer being fired.

[2016-11-30 18:18] mavasani opened #846 "Broken integration test AnalyzersNode_NetCore.xml"
Once we add an "Analyzers" node under Dependencies, we should fix and enable [this](https://github.com/dotnet/roslyn-internal/blob/master/Closed/Hosting/RoslynTaoActions/IntegrationTests/AnalyzersNode_NetCore.xml) integration test.

[2016-11-30 18:19] #830 closed

[2016-11-30 18:50] jinujoseph commented on #777
Doesn't repro any more , verified on d15prerel/25929.3

[2016-11-30 18:50] #777 closed

[2016-11-30 20:01] jinujoseph opened #848 "P2P Reference fails to build"
**Repro Steps**

- Create a Core Console Applciation
- Create a Core ClassLibrary
- Reference ClassLibrary from Console.
- Restore will fail saying the CL is not compatible with .14
- Edit the Class Library project and set to .NetStandard 1.5 or
- Build

**Expected**
It builds fine

**Actual**
![image](https://cloud.githubusercontent.com/assets/12449387/20768869/728c275a-b6f4-11e6-82b1-3d6dd3f74d7

[2016-11-30 20:03] jinujoseph commented on #848
This is on d15prerel/25929.3

[2016-11-30 20:46] jinujoseph commented on #848
If you got this to build successfully, close the solution and reopen and try again

[2016-11-30 20:49] srivatsn commented on #848
Looks like that warning is issued by the SDK?

[2016-11-30 22:09] mavasani opened #850 "Fix and re-enable integration test BasicSquiggles_NetCore.xml"
Test fails with the below log:

[code]

[2016-11-30 22:17] mavasani opened #851 "F5 does not work for a newly create netcore console app"
1. Enlist into SDK repo and build latest sources
2. Install the built C# and VB templates VSIX
3. Create a C#/VB netcore console app, say "TestProj"
4. F5

**Expected:** Application launches

**Got:**

[code]

If I close and re-open the solution and then attempt to F5, it works fine.

[2016-11-30 22:18] mavasani opened #852 "Enable integration test BasicDebuggerIntellisense_NetCore.xml"
Tests fail as attempting to F5 a netcore console app fails due to https://github.com/dotnet/roslyn-project-system/issues/851.

[2016-11-30 22:23] mavasani opened #853 "Enable integration test CrossLanguage_NetCore.xml"
Its currently failing with:

[code]

[2016-11-30 22:32] mavasani opened #855 "Enable integration test Workspaces_NetCore.xml"
Its currently failing with the below Roslyn assert:

[code]

[2016-11-30 22:49] mavasani commented on #851
@srivatsn Do you know if this broke recently? I thought this used to work fine...

[2016-11-30 23:02] RaulPerez1 opened #857 "Changes to Pre/Post Build events are not saved"
ValueChanged isn't firing on the function below so it falls on the "user cancelled" code path. Most likely an issue with Descriptor.SetValue for these two properties.

Microsoft.VisualStudio.AppDesigner\PropPages\PropertyControlData.vb

Public Sub SetValue(Descriptor As PropertyDescriptor, Component As Object, Value As Object)
                'Hook up to detect if ValueChanged is fired

[2016-11-30 23:20] RaulPerez1 commented on #841
#857 is most likely a dupe of this.

[2016-11-30 23:51] davkean commented on #857
Yeah as you suspected this is a dup of https://github.com/dotnet/roslyn-project-system/issues/841

[2016-11-30 23:51] #857 closed

[2016-12-01 18:55] #416 closed

[2016-12-01 18:56] #417 closed

[2016-12-02 17:01] nguerrera opened #862 "VS fails to open project targeting netcoreapp1.1"
See https://github.com/dotnet/cli/issues/4788#issuecomment-264126559

@kurtdevocht also reports that it builds and runs fine on the command line so the issue is somewhere on the VS side.

@jinujoseph @srivatsn @natidea

[2016-12-02 18:34] nguerrera commented on #862
I did not try to repro. Perhaps this has already been fixed since RC?

[2016-12-02 18:54] jinujoseph commented on #862
I tried on latest d15rel/15.0.26001.0, seems to work.

![image](https://cloud.githubusercontent.com/assets/12449387/20846093/d139b0d6-b87c-11e6-90eb-21dd856f8240.png)

[2016-12-02 18:57] nguerrera commented on #862
Can you confirm that it repros on RC?)I'm locked out of corpnet today, which is why I didn't try myself.) If so, we can be sure this is fixed and not that we're just missing a repro step.

[2016-12-03 17:40] davidfowl opened #864 "The delete button doesn't work for nuget package references or project references in the solution explorer"
It just no-ops. Assemblies work though...

[2016-12-03 18:21] davidfowl opened #865 "Broken assembly references don't show as broken in the solution explorer"
It should show up in the usual broken reference way.

![image](https://cloud.githubusercontent.com/assets/95136/20861325/ebf4dcf0-b941-11e6-86df-d8782558f8e5.png)

[2016-12-04 10:42] kurtdevocht commented on #862
@jinujoseph Can you check what happens if you:
1) Close Visual Studio
2) Set Microsoft.NETCore.App to V. 1.1.0
` <PackageReference Include="Microsoft.NETCore.App">
      <Version>1.1.0</Version>
    </PackageReference>`

3) Do a `dotnet restore` and `dotnet build` on the command line => This succeeds on my system
4) Try to reopen the project/solution with VS2017 => Opening the project fails on my

[2016-12-04 18:16] developer-controls commented on #862
I can repro what @kurtdevocht is seeing.  A new WebApplication can be created in VS2017, edited to netcoreapp1.1.  The project can be unloaded loaded or removed and readded ok.  If I exit VS and reload the sln, then VS throws the error.  I also tried with switched Microsoft.NET.Sdk to ver: 1.0.0-alpha-20161203-1-150

[2016-12-04 18:17] dbeattie71 commented on #862
I can repro what @kurtdevocht is seeing. A new WebApplication can be created in VS2017, edited to netcoreapp1.1. The project can be unloaded loaded or removed and readded ok. If I exit VS and reload the sln, then VS throws the error. I also tried with switched Microsoft.NET.Sdk to ver: 1.0.0-alpha-20161203-1-150.

[2016-12-04 22:05] davkean commented on #864
Projects used to work...

[2016-12-04 22:08] davkean commented on #862
Thanks for the repro, we'll take a look.

[2016-12-05 01:21] davkean commented on #807
It gets worse:

![image](https://cloud.githubusercontent.com/assets/1103906/20871050/39a9fcf6-bae5-11e6-86a9-ce74b6418821.png)

This is a clean machine with zero project types/templates installed, and these have roamed from another high DPI machine.

[2016-12-05 02:07] davidfowl commented on #774
Related to https://github.com/dotnet/sdk/issues/26

[2016-12-05 04:08] davkean opened #866 "Very slow VS builds with cross compile"
_From @onovotny on December 4, 2016 4:22_

**Version Used**:
Microsoft (R) Build Engine version 15.1.371.0
Visual Studio 2017 RC 15.0.25920.0

**Steps to Reproduce**:
clone https://github.com/onovotny/bc-csharp and check out the `netstandard` branch.
Open in VS 2017. Build.

Very slow builds in VS, fast on CLI running dotnet build.

**Expected Behavior**:
Build in VS should be as fast as CLI
**Act

[2016-12-05 04:08] davkean commented on #866
_From @onovotny on December 4, 2016 4:24_

Build log from VS:

[code]

[2016-12-05 04:08] davkean commented on #866
_From @onovotny on December 4, 2016 4:25_

On the CLI, it takes 11.56 seconds do run `dotnet build` on the same sln after running `dotnet clean`, `dotnet restore`.

[2016-12-05 04:08] davkean commented on #866
_From @onovotny on December 4, 2016 14:42_

/cc @piotrpMSFT

[2016-12-05 04:08] davkean commented on #866
_From @piotrpMSFT on December 4, 2016 20:7_

@srivatsn @dsplaisted this is a pretty bad issue. Any ideas?

[2016-12-05 04:14] onovotny commented on #866
It gets "stuck" here for a while before it continues:
[code]

[2016-12-05 04:23] onovotny commented on #866
Here is a build log at diagnostic verbosity. Total time is  00:03:42.58 since there's an extra target or two in there compared to my initial report.

[build.txt](https://github.com/dotnet/roslyn-project-system/files/630122/build.txt)

[2016-12-05 05:08] davkean commented on #866
Hmm, then we might reopen it. :) Sorry about that.

[2016-12-05 05:14] davkean commented on #866
Reopened https://github.com/dotnet/roslyn/issues/15662 based on above.

[2016-12-05 13:35] mjcheetham opened #867 "Add file as link does not work in VS2017 RC.2"
#### Build info
d15prerel/15.0.26002.0
#### Repro steps
1. File > New > Project... > Visual C# > Class Library (.NET Standard)
1. Add a simple text file on the file system either
a. outside of the previously created project tree directory (e.g., ../file1.txt, ../../dir/file2.txt),
b. underneath the previously created project tree directory (e.g., ./file3.txt)
1. Right-click ClassLibrary1 in the So

[2016-12-05 17:38] michaeldaw commented on #766
One of my favorite features of the project.json system was having intellisense when manually adding Nuget packages, for both names and versions. I've found the csproj system frustrating because it lacks this.

[2016-12-05 18:23] jinujoseph opened #869 "Properties Page TFM list is missing .Net CoreApp 1.1"
- Create a console application
- Edit project and target to netcoreapp1.1

<TargetFramework>netcoreapp1.1</TargetFramework>

Right click project properties ..
![image](https://cloud.githubusercontent.com/assets/12449387/20896920/cd528eca-bad4-11e6-9955-ab56d1a1cef4.png)

netcoreapp1.1 is missing from the list of TFMS

[2016-12-05 18:38] aL3891 opened #870 "Custom tools in the new project system"
I'm not sure if this issue should go in msbuild or this repo, but is there/will there be support for "custom tools" in the new build system? By custom tool I mean the property you can set on a file in vs to run design time processing logic on a file, such as code generation.

I've seen that you can set a property called "custom tool" on _some_ files but not all, this creates a `Generator` tag in t

[2016-12-05 18:41] aL3891 commented on #639
I've started implementing this and several other methods of specifying references over at https://github.com/aL3891/CustomPackageReferences if you're interested. early days but the concept works at least :)

[2016-12-05 18:49] aL3891 commented on #37
Hey @Mike-EEE I've started looking at doing something like this via a custom msbuild task over at https://github.com/aL3891/CustomPackageReferences, i'd love your input :)

[2016-12-05 20:16] prasethu commented on #807
@davkean This needs to be filed in the VS IDE bug database.

I think the issue is when the icon is roamed from a high DPI to a non high DPI machine. Would that be accurate?

[2016-12-05 20:36] Mike-EEE commented on #37
Very cool @aL3891 !  Thanks for the mention. 😄

FWIW [I was/am working on a POC](https://github.com/Mike-EEE/Stash/tree/master/MsftBuild.Model) as well for https://github.com/Microsoft/msbuild/issues/613.  Just a real simple console app will read in a [JSON](https://github.com/Mike-EEE/Stash/blob/master/MsftBuild.Model/SampleFormats/Json/Project.json)/XML and yes [XAML](https://github.com/Mike-EEE

[2016-12-05 21:36] 333fred opened #871 "EditProjectFile command specifies XmlEditorFactory"
The EditProjectFile command doesn't respect the user's setting for what editor to use for project files. It needs to not hardcode the xml editor.

[2016-12-05 22:17] aL3891 commented on #37
That is basically what this project does :) You just implement `IEnumerable<PackageReference> GetPackages(string projectPath, string targetFramework)` and just return `ProjectReference` that you create however you want. The base class just emits the `ProjectReference` items to the msbuild pipeline that are then picked up by dotnet restore

[2016-12-05 22:19] #659 closed

[2016-12-05 23:29] Mike-EEE commented on #37
OK I am seeing it now @aL3891.  So this is for project references, then?  So you can describe your project (package) references in any format you wish?  I like the approach here, my only concern is that there is much more to a project file than references. :)  Are you looking to add more of that here or do I have this misunderstood?

[2016-12-05 23:32] mavasani commented on #837
This failed the signed build as well: https://devdiv.visualstudio.com/DevDiv/_build?buildId=456805

@abpiskunov can you please investigate?

[2016-12-05 23:35] mavasani commented on #837
Another failure: https://ci.dot.net/job/dotnet_roslyn-project-system/job/master/job/vsi/42/console

[2016-12-06 01:18] 333fred commented on #742
Fixed in https://github.com/Microsoft/msbuild/issues/1340.

[2016-12-06 01:18] #742 closed

[2016-12-06 01:19] aL3891 commented on #37
Well its for package references (I realize I said project references above, that was a typo)
currently it allows you to specify package references in any way you want.

It is only for package references at the moment, although you could set other build properties if you'd like. Even if there are some limitations on what you can do in a target. From what I've seen though, being able to specify pack

[2016-12-06 01:29] #405 closed

[2016-12-06 02:14] 333fred commented on #738
This is going to need more design time and won't meet the escrow bar. Moving to RC3.

[2016-12-06 03:08] davkean commented on #807
Closed in lieu of an internal bug.

[2016-12-06 03:08] #807 closed

[2016-12-06 03:40] davkean commented on #821
This is most definitely caused by using the old scaling code:
[code]

We should move to this the .NET 2.0 scaling modes.

[2016-12-06 04:19] davkean opened #877 "Changing theme while the resources editor is open, crashes Visual Studio"
1. File -> New -> .NET Framework project
2. Right-click project -> Properties -> Resources -> Create new resource
3. Change theme Blue -> Black or vice versa

---Crash---

[code]

[2016-12-06 05:23] davkean opened #879 "Build action for additional files should be called something more than "AdditionalFiles""
I raised this in the code review and there was push back on it, but I'm going to raise it again. I think the AdditionalFiles build action should:

1. Follow the casing of the other build actions
2. Be called some more than just AdditionalFiles. Developers who do not work on the Roslyn compiler will not know what this is. If I do a google search for "AdditionalFiles build action", Google work break

[2016-12-06 05:35] mavasani commented on #879
Note that desktop projects follow the same AdditionalFiles build action convention and so does all Roslyn APIs and command line compiler switches. Additionally, the MSBuild item group is also called AdditionalFiles. I agree we need more documentation for it, but I feel using a different build action name will just make it inconsistent and confusing relative to the rest of the pipeline.

[2016-12-06 05:37] mavasani commented on #879
We can fix the casing, but I don't think 2 should be changed.

[2016-12-06 05:42] davkean commented on #879
None of my comments have said calling something "different", just adding additional information to it;
"C# compiler additional files" or "C# analyzer additional files" - don't see how that's more confusing than what it is currently. Searching "AdditionalFiles buildaction" brings up *zero* results related to what this is, searching for "C# analyzer additional files" brings up relevant results.

[2016-12-06 07:12] AArnott opened #880 "Project reload prompt after saving project file in editor."
VS: d15prerel 26005.5

1. Create a new .NET Core console app
1. Edit the project in the editor (while the project remains open)
1. Change TargetFramework property to TargetFrameworks (add an 's'). Save the file.

**Expected**
The project picks up the change immediately without a prompt.

**Actual**
I see this prompt first:

![image](https://cloud.githubusercontent.com/assets/3548/20916340/21d20cee

[2016-12-06 07:19] AArnott opened #881 "ResolveComReferencesDesignTime target not found after editing project"
VS: d15prerel 26005.5

1. Create a new .NET Core console app
1. Edit the project in the editor (while the project remains open)
1. Change TargetFramework property to TargetFrameworks (add an 's') and add `;net45` to the value.
1. Add `Condition=" '$(TargetFramework)' == 'netcoreapp1.0' " ` to the two package references.
1. Save

**Expected**
The project picks up the change immediately.

**Actual**

[2016-12-06 08:46] davkean commented on #880
This looks like a known regression in MSBuild that is being fixed right now. @333fred is this caused by the same one?

[2016-12-06 10:25] Mike-EEE commented on #37
Ah!  OK @aL3891 haha TBH I am not 100% up to date caught up with VS15 and all the new finangled nomenclature. :(  So package/project was confusing.  Thank you for clarifying.  I am still on VS2015 (not to be confused with VS15 ;) ;) ;)) so ATM not able to open that solution without a bombardment of errors in the IDE.

So I do have a suggestion and have [opened your first issue to discuss it](https

[2016-12-06 11:42] gulbanana commented on #400
Are references of this type ok within an ItemGroup with Condition="$(TargetFramework) == 'net461'"?

[2016-12-06 11:46] davkean commented on #400
Yes, and we'll let you consume when targeting .NET Framework.

[2016-12-06 17:40] abpiskunov commented on #400
To clarify, if my project has a target net461, how do i add a framework assembly reference if we would hide that tab in Add Reference dialog?

[2016-12-06 18:51] 333fred commented on #880
Yeah, this is the same bug as we were talking about offline. It's fixed by this pull: https://github.com/Microsoft/msbuild/pull/1446. With @rainersigwald's latest private, I no longer see it.

[2016-12-06 18:57] rainersigwald commented on #881
If you condition out the `Microsoft.NET.Sdk` package, you're conditioning out the mechanism that (in that very-slightly-old build) provides that target.

In the latest builds, the targets will be provided by imports from the `Sdk` attribute on the project rather than a NuGet `PackageReference`, so you won't be able to create this situation.

For now, just don't condition out the `Sdk`.

[2016-12-06 19:09] #869 closed

[2016-12-06 19:56] #841 closed

[2016-12-06 19:57] jinujoseph commented on #389
Validate #841 and #814 , when fixing this issue

[2016-12-06 20:50] natidea opened #883 "Editing one Console App project leads to errors in subsequent projects in that session"
After applying the changes in #835 , the following repro steps lead to errors:

1.	Create new .NET Core App ConsoleApp1.csproj
2.	Edit the CSPROJ
3.	Close the Solution
4.	Create new .NET Core App ConsoleApp2.csproj
5.	Right-Click Project -> Manage NuGet Packages and add NewtonSoft.Json
6.	Observe the following errors. Note the reference to ConsoleApp1.csproj

- Could not find a part of the path 'C

[2016-12-06 20:56] 333fred commented on #883
This only occurs when the solution is closed without closing the csproj editor first. The cause is that during solution close, https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Utilities/IMsBuildAccessor.cs#L67 attempts to get the current active configured project. However, because the solution is closing, there isn't a

[2016-12-06 22:58] 333fred commented on #256
The command for the right-click menu is `VSConstants.VSStd2KCmdID.ViewInClassDiagram`. Old csproj handled this by using an IViewInClassDiagram instance, which is defined in MS.VS.EnterpriseTools.Shell. This binary isn't always installed, so rather than having the project system handle this command and check so see whether the designer is installed, we should make the designer handle the command it

[2016-12-06 23:00] davkean commented on #256
It's already handling View In Class diagram for Class View, so I think it makes more sense to live in the class diagram code.

[2016-12-06 23:01] srivatsn commented on #256
That seems fine - why do you think it's beyond the scope of RC3?

[2016-12-06 23:04] 333fred commented on #256
With the edit csproj changes and migration changes, I'm not sure I'll have time for this as well.

[2016-12-06 23:11] srivatsn commented on #256
Ah ok. @RaulPerez1 would you be able to look into this?

[2016-12-06 23:13] davkean commented on #814
@jinujoseph This was fixed by your revert? This looks very different.

[2016-12-06 23:22] jinujoseph commented on #814
you are right , just tested this d15rel/15.0.26005.1
This is still broken. Weird it's working fine on my dev hive . I will try on clean machine

[2016-12-06 23:40] nguerrera commented on #848
This did not repro in d15rel/15.0.26005.1. This could have happened if the assets were incorrect at some point due to another bug.

[2016-12-06 23:58] jinujoseph commented on #848
I retried this and not seeing the repro on d15rel/15.0.26005.1

[2016-12-06 23:58] #848 closed

[2016-12-07 00:07] srivatsn commented on #746
Fixed by #835

[2016-12-07 00:07] #746 closed

[2016-12-07 00:07] srivatsn commented on #812
Fixed by #835

[2016-12-07 00:07] #812 closed

[2016-12-07 00:07] srivatsn commented on #787
Fixed by #835

[2016-12-07 00:07] #787 closed

[2016-12-07 00:22] basoundr opened #888 "Deploy Extension while building solution in Jenkins"
Changes were made to not deploy extensions in PR #882 since RC2 images were required for #860. Once we have RC2 images in Jenkins, revert this change

[2016-12-07 01:15] srivatsn commented on #851
@mavasani do you see this for c# projects as well? VB has some issues that requires a new compiler and some adjustment to the SDK but C# should work fine.

[2016-12-07 01:25] #877 closed

[2016-12-07 01:28] RaulPerez1 commented on #400
I'm a bit fuzzy on the high level picture, if your project is targeting 4.6.1 it wouldn't be pulling in the .Net Core SDK right? If that is the case then you'll still get the tab on the reference manager since it would be the SDK targets that force it to be gone. If that is not the case lets chat.

[2016-12-07 01:28] mavasani commented on #851
Yes, I do for new C# and VB projects both.

[2016-12-07 01:31] davkean commented on #400
The capabilities will be/should be set based on the target framework in the SDK. When targeting .NET 4.6.1, the capability will be present (or not present).

What we don't have, is a good experience when you target both - we're basically going to pick the TFM that is first listed as the "current TFM" - that will dictate whether it shows up or not.

[2016-12-07 01:33] srivatsn commented on #851
Can you try the latest RC2 build? Some other folks mentioned that this is working fine in RC2 builds.

[2016-12-07 01:34] mavasani commented on #851
Ok, will do.

[2016-12-07 02:29] davkean commented on #851
Is it a timing thing? F5'ing before restore?

[2016-12-07 03:34] mavasani commented on #851
No the assembly was built as .dll instead of .exe

[2016-12-07 03:36] davkean commented on #851
Could this be the result of the output type broken thing?

[2016-12-07 04:07] weidazhao opened #891 "ILaunchSettingsProvider.WaitForFirstSnapshot() should have Async as suffix in the name"
The method is the only method returning Task/Task<T> in the class that doesn't have Async as suffix in the method name. It violates a common naming convention of async methods.

[2016-12-07 04:21] gulbanana commented on #400
Sounds ok, as long as there aren't conflicting capabilities which mean we have to swap the order back and forth.. X(

[2016-12-07 04:27] gulbanana commented on #639
I'm curious, were these merge conflicts a problem with project.json also?

[2016-12-07 04:42] davkean opened #892 "Build warning about conflict building CPS project"
[code]

[2016-12-07 05:04] davkean opened #893 "Special file provider defaults to the project root, despite if they are created under AppDesigner folder"
Our special file provider src\Microsoft.VisualStudio.ProjectSystem.Managed\ProjectSystem\SpecialFileProviders\AbstractSpecialFileProvider.cs defaults to the project root when special file doesn't exist and asked not to create it, regardless of the file is supposed to be created under AppDesigner folder by default.

[2016-12-07 06:59] davkean commented on #639
It is actually a C#/VB project system question as we own/control how package references work for managed code.

While @aL3891's approach will work outside Visual Studio - due to our current design inside Visual Studio, where we don't run MSBuild code to gather <PackageReference>, it's not going to work.

Another approach is to do this advantage of the fact that you can easily share data between pr

[2016-12-07 07:03] davkean commented on #639
Also, sorry for the late reply - I missed this while on holidays.

[2016-12-07 09:40] Mike-EEE commented on #639
Happy to see _any_ effort made towards mending the divide here and allowing developers to work in their desired/preferred formats, @davkean. 👍 Much appreciated.  Thanks again for getting the ball rolling, @aL3891.  I am starting to learn the power of simple POC projects to start the inspirations. :)

[2016-12-07 12:25] aL3891 commented on #639
@davkean Thanks for the detailed reply!
Yes, my approach is a little rough inside VS, but it does work (kind of) if you run dotnet restore from the cli, then the lock files gets written and VS will pick up the changes. it does however require you to unload/reload the project, so not exactly smooth :D
it would be really cool to see VS support this kind of approach! Should I open another issue for t

[2016-12-07 17:51] jinujoseph opened #895 "Property Value for "Treat warning as errors" is not preserved"
**Repro steps**
- Create a console application
- Right click properties
- Select Build tab on the left
- Select the radio button for "Treat warnings as errors"
![image](https://cloud.githubusercontent.com/assets/12449387/20979644/9314cf4a-bc62-11e6-868e-88aaa58e53a2.png)

- Save the page
- Close the properties page and reopen

**Expected**
Value is preserved
**Actual**
Value is not preserved

**Fo

[2016-12-07 18:15] srivatsn commented on #851
The last time I saw this issue it was a race - the component that launches the debugger computes the executable to launch and in a pre-restore state the TFI is .NETFramework so it think it needs to run foo.exe. However post-restore the TFI changes to .NETCoreApp and the build produces foo.dll which is correct. Now with SDKs since we don't have a pre-restore state at all there's no chance for the d

[2016-12-07 18:32] jinujoseph opened #896 "Migration Throws "Object reference Exception ""
**Repro Steps**

- Copy the project from \\scratch2\scratch\jinuj\TestSceanrio\VSMigrationDemo.zip
- Unzip to your machine
- open the VSMigrationDemo\VSMigrationDemo.sln file
- Accept all the migration notification.

**Expected**
Project migrated successfully

**Actual**
![image](https://cloud.githubusercontent.com/assets/12449387/20980234/96fb7c88-bc64-11e6-83ca-abf402ac6e77.png)

Log says

Syste

[2016-12-07 18:38] srivatsn commented on #896
Tagging @rrelyea and @alpaix since this seems to be in `NuGet.PackageManagement.VisualStudio.SolutionRestoreWorker`

[2016-12-07 18:41] jinujoseph commented on #851
Seems to work fine in the latest build
![image](https://cloud.githubusercontent.com/assets/12449387/20981429/99147010-bc69-11e6-9e09-e582f4eea1e8.png)

[2016-12-07 18:41] rrelyea commented on #896
Should we consider this an RC2 or RC3 issue?

[2016-12-07 18:58] rrelyea commented on #896
Port to https://github.com/NuGet/Home/issues/4067
Feel free to close this issue. Please do answer the RC2 v RC3 question.

[2016-12-07 21:57] srivatsn commented on #896
Communicated risk with Rob. Closing this since we are tracking the issue on NuGet.

[2016-12-07 21:57] #896 closed

[2016-12-07 22:14] srivatsn opened #899 "Transitive P2P: Add ref to a project should write a PackageRef with path."
Adding a Project ref from the UI should write a transitive ProjectRef for netcore projects.

[2016-12-07 22:16] srivatsn opened #900 "Transitive P2P: Tell solution build manager about the PackageRefs which are projects."
Solution build manager needs to know about the P2Ps which are transitive. The entire closure is probably not needed since the solution will build in dependency order.

[2016-12-07 22:30] RaulPerez1 commented on #437
Some of this is the fallout of #813, going to revisit the list of things here after looking at that one.

[2016-12-07 22:34] jinujoseph commented on #803
The rename works fine in d15rel/15.0.26006.2 and the failure message is only displayed for the first project and  rebuilding clears the failure

[2016-12-07 22:39] #866 closed

[2016-12-07 23:32] jinujoseph opened #902 "P2P UWP App -> .Net Standard Class Library"
**Repro Steps**

- Create a new Windows Universal -> Blank App (Universal Windows)
- Select the default
![image](https://cloud.githubusercontent.com/assets/12449387/20991185/e9ce82b6-bc91-11e6-8927-1e71dc2c36e3.png)
- To the solution add new -> New Project -> .Net Core -> Class Library (.NET Standard)
- Add reference from App - > Class Library
- Build

**Expected**
Successful Build with no warning

[2016-12-08 00:17] jinujoseph opened #903 "No AutoComplete/Suggestion on PackageReference"
**Repro Steps**

Create a console application
right click Edit Project
Type <Package

**Expected**
you should get AutoComplete

**Actual**
![image](https://cloud.githubusercontent.com/assets/12449387/20992338/55543a02-bc98-11e6-8f04-c0f9cba07879.png)

[2016-12-08 00:19] 333fred opened #904 "Projects migrated previous to RC2 should be disallowed from loading"
We should disallow projects that have been migrated previous to RC2 from loading. They can get into a bad state when you have projects migrated before and projects migrated after, they can conflict and get into a bad state. /cc @davkean @piotrpMSFT @livarcocc.

[2016-12-08 00:24] abpiskunov commented on #400
@davkean Yes, i was more interested in the scenario when we have both - taking first TFM will look confusing ...

[2016-12-08 00:44] davkean commented on #400
@abpiskunov Until we can update the rest of VS to understand multiple TFMs - what's your alternative?

[2016-12-08 00:50] abpiskunov commented on #400
In dnx/dotnet project system we provided our own implementation of Assemblies tab provider , that allowed adding assemblies only for full framework targets. We had another level of targets under Assemblies tab for each project TFM and displayed assemblies to be selected only for full desktop tfms.

[2016-12-08 00:51] davkean commented on #400
Can you post a screen shot? I don't the bits installed.

[2016-12-08 01:00] abpiskunov commented on #400
![image](https://cloud.githubusercontent.com/assets/1592091/20993368/9a722a26-bc9e-11e6-9c66-0ff42da0587c.png)
in .Net 4.6 tab we show assemblies to be selected, however if .NetCoreApp is selected - it does not display any assemblies

[2016-12-08 01:32] davkean commented on #902
These warning don't appear without the reference?

[2016-12-08 02:32] jinujoseph commented on #902
you are right , it should this warning for just UWP app alone.

Closing this.

[2016-12-08 02:32] #902 closed

[2016-12-08 07:14] davkean commented on #891
LaunchSettingsProvider.GetSnapshotThrowIfErrors is also this bucket.

[2016-12-08 09:49] romerod commented on #199
@davidfowl when swapping a package with a project should the project be open in the solution or do you work in another visualstudio instance? And will the UI take care not removing the Project="$(Microsoft.AspNetCore.Mvc)" part when updating a project?

[2016-12-08 10:39] KirillOsenkov opened #906 "Guard against $(ManagedXamlResourcesDirectory) not ending with \"
Currently there's an assumption that ManagedXamlResourcesDirectory always ends in a backslash.

However it is violated here:
https://github.com/dotnet/roslyn-project-system/blob/master/src/Targets/Microsoft.Managed.DesignTime.targets#L22

and in all places where ManagedXamlResourcesDirectory is used, e.g.:
https://github.com/dotnet/roslyn-project-system/blob/master/src/Targets/Microsoft.Managed.De

[2016-12-08 10:51] davkean commented on #906
The number of times I've fixed those bloody back slashes...

[2016-12-08 19:22] BillHiebert commented on #699
@333fred  - are you still seeing this? The link in the issue is no longer available

[2016-12-08 19:50] BillHiebert commented on #699
@333fred  - I see what the problem is. The test code assumes the task will never run, but due to scheduling it could execute.

[2016-12-08 20:34] BillHiebert commented on #748
Closed with: https://github.com/dotnet/roslyn-project-system/pull/910

[2016-12-08 20:34] #748 closed

[2016-12-08 21:36] #699 closed

[2016-12-08 22:49] KirillOsenkov commented on #906
Correction: $(MSBuildThisFileDirectory) is guaranteed to end in a backslash, so that is correct. However if you specify a custom one (like I did), I don't know what's the best way to do it, either use $([System.IO.Path]::Combine($(Path1),$(Path2))) or mutate the property by appending a backslash if missing.

[2016-12-08 22:55] rrelyea opened #914 "Build more complete support to install/uninstall nuget packages by right clicking on nodes in the solution explorer."
Internal bug [AB#283541](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/283541) covers this request.

Repro Steps:

1. create asp.net core app
2. when we uninstall any nuget package, we can't uninstall another as because the 'Uninstall Package' option is not present

![image](https://user-images.githubusercontent.com/350947/75496103-57605c00-5a14-11ea-9e7e-336

[2016-12-08 23:07] RaulPerez1 commented on #814
This is a dupe of #813

[2016-12-08 23:07] #814 closed

[2016-12-09 00:04] davkean commented on #914
This would be xproj parity, right?

[2016-12-09 00:10] BillHiebert commented on #602
This appears to have something to do with running in XUnit.  The call to Dispatcher.InvokeShutdown() doesn't seem to do anything. After the call neither of the flags HasShutdownStarted\HasShutdownFinished are set. I would expect at least HasShutdownStarted to be set to true. I also hooked up to the ShutdownStarted\ShutdownFinished events and these aren't called either. I am not sure what is going

[2016-12-09 00:31] RaulPerez1 commented on #437
@dotnet/project-system I need some input here - There are two approaches:

1) Add default properties for everything that's missing so that the cast that is forcing this to be indeterminate succeeds. One problem with this is that any new boolean property will always need to have a default value.

2) Adjust the check to check if the value is an empty string and if it is set the control state to fals

[2016-12-09 00:43] davkean commented on #437
Defaults aren't always false, right?

[2016-12-09 00:59] RaulPerez1 commented on #437
Empty (which is the default for MsBuild) means false. IMO if you explicitly want to default to true at that point you should then add the default value.

[2016-12-09 01:14] davkean commented on #437
Anyway you need to coordinate with the SDK to agree on who's defining defaults - looks to be a bunch of properties broken, including generate serialization assemblies, pdb, overflow/underflow, etc.

Just compare desktop with the .NET Core and you can see what's different/broken.

[2016-12-09 01:22] srivatsn commented on #437
Wait we had discussed this a while and said that instead of adding defaults values in msbuild which may break existing projects, we should instead add defaults to the XAML rules and then create a rule provider like the existing UserFileWithXamlDefaults which gets the value from the project but if the value is not defined in the project, gets it from the XAML file instead. Just adding the defaults

[2016-12-09 01:23] davkean commented on #437
Whoops didn't mean to close this...

[2016-12-09 01:23] srivatsn commented on #437
The new provider would be something like ProjectFileWithXamlDefaults.

[2016-12-09 16:41] #740 closed

[2016-12-12 03:50] davkean opened #916 "Combo drop down on property pages are dropping in wrong location on certain DPIs"
This is 125% on a 2560 x 1600 30" monitor:

![image](https://cloud.githubusercontent.com/assets/1103906/21087486/45a7dc18-c07a-11e6-9858-8cc30d7141cf.png)

[2016-12-12 20:20] onovotny opened #919 "Removing the xmlns from within VS and saving causes VS to re-add it"
When editing a csproj that has the following in it (using the latest RC from today):

`<Project ToolsVersion="15.0" Sdk="Microsoft.NET.Sdk.Web" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">`

If I remove the xmlns, as soon as I hit save, it gets added back.

If I unload the project, hit edit, it doesn't appear. Then when I reload the project, it seems to stay gone.

[2016-12-12 20:56] srivatsn commented on #919
Sounds like an artifact of how we get the xml to display in the editor?

[2016-12-12 21:15] rainersigwald commented on #628
This is possible for new .NET Core projects with https://github.com/Microsoft/msbuild/pull/1403, released with the updated VS2017 RC.

[2016-12-12 21:29] basoundr opened #921 "ArgumentException at Line 104 ProjectLockFileWatcher.cs when creating a new .Net Core Console Project"
On VS D15Prerel 26012.0

`objDirectory = _projectServices.Project.MakeRooted(objDirectory);` throws ArgumentException.

Because  `objDirectory` is empty from the previous statement
`var objDirectory = (string) await configurationGeneral.BaseIntermediateOutputPath.GetValueAsync().ConfigureAwait(false);`

Stack Trace
------------

   at Microsoft.Requires.NotNullOrEmpty(String value, String paramete

[2016-12-12 21:48] #628 closed

[2016-12-12 21:48] basoundr commented on #921
Seems like the none of the XAML rule property is working and I don't see any CPS error in the output during the project load

[2016-12-12 22:20] dsplaisted opened #922 "Toggling "Show all files" in solution explorer replaces project in editor"
- Create a new .NET Core Console app
- Right click on the project, chose Edit .csproj file
- Click "Show all files" button in solution explorer

Expected: Solution explorer shows all files
Actual: Solution explorer shows all files, but contents of the editor with the project file in it are replaced with:

[code]

@333fred

[2016-12-13 00:17] jcansdale opened #924 "ProjectItem.FileCodeModel throws TargetInvocationException"
Hello,

When I try to read the `FileCodeModel` property from a `ProjectItem`, a `TargetInvocationException` is being thrown:

[code]

Any idea what the issue is?

Thanks!

[2016-12-13 00:27] davkean opened #925 "Allow selection of .NETCore/.NETStandard version during project create."
_From @eyalsk on December 1, 2016 0:4_

_Disclaimer: Sorry if this is the wrong place to write it but I've reported this before on uservoice and other places such as msft blogs and nothing was done with it._

This is relevant to all versions of Visual Studio but maybe it can be changed for Visual Studio 15 RTM.

So when we create a new project today in Visual Studio and open the New Project dialog

[2016-12-13 00:27] davkean commented on #925
_From @Pilchie on December 12, 2016 21:17_

@srivatsn @davkean This is definitely something we should think about after VS 2017.  Should we track it on the project system repo?

[2016-12-13 00:43] 333fred commented on #922
This is actually a side-effect of the same bug that https://github.com/dotnet/roslyn-project-system/pull/923 addresses.

[2016-12-13 01:15] NickCraver opened #926 "Editing .csproj of a project referenced by other projects causes a reload prompt."
I have a repro here: https://github.com/MiniProfiler/dotnet/commit/0322808bfa20163d03c3a7181db666ede6e8be7f

When editing the `MiniProfiler.Shared` project, a reload prompt is caused when saving *any* changes (whitespace included):

<img width="711" alt="screen shot 2016-12-12 at 20 07 32" src="https://cloud.githubusercontent.com/assets/454813/21123508/254447b8-c0a7-11e6-83ea-7d92aca67715.png">

#

[2016-12-13 01:18] davkean commented on #926
tag @333fred, can you take a look when you get a chance?

[2016-12-13 01:23] davidfowl opened #927 "Show path to package for graph nodes"
That's the one piece of information I want when I use the property grid:

![image](https://cloud.githubusercontent.com/assets/95136/21123780/9faabaf4-c08f-11e6-876e-a99d06e71145.png)

[2016-12-13 01:26] davkean commented on #927
👍

[2016-12-13 01:27] 333fred commented on #926
I'm not seeing the unsaved changes prompt locally, but I am seeing it write out a new project file a _lot_ of times. That part is probably caused by #738.

For the save/reload battles, that should be reduced by fixing #738 and moving to an in-memory edit model instead of temp-file based. I don't think it can ever fully go away though: if you have two different VS instances open and both have unsav

[2016-12-13 01:32] davkean commented on #924
Hmm, this is nothing you are doing. This is one of those "not sure exactly how this is possible, kinds of things". Is this pretty consistent? Looking at stack - this should occur for normal .NET Framework projects, does it?

@pharring have you seen this before in the past? How would this even occur? Broken IID_IComWrapper registration pointing to the wrong object?

@jviau, do you think anything ar

[2016-12-13 02:09] shaggygi commented on #282
@davkean @srivatsn I just retried this again after updating to VS15RC2 and appears to work as expected.  Also... the performance seems to be MUCH better in this version.

You can go ahead and close issue unless you need it for something else.

Thanks 👍 👍

[2016-12-13 02:09] #282 closed

[2016-12-13 02:15] davkean commented on #282
Great to hear!

[2016-12-13 02:27] dsplaisted opened #928 "Suppress compilation errors until there has been a successful restore"
- Create a new C# Console app
- Observe C# editor window and Error List

Expected: No errors show up, either in the Error List or as squigglies in the editor
Actual: Errors may be displayed temporarily until the NuGet restore operation completes

Suggested fix: When we open a project, disable errors from the compiler until a restore operation has completed for the project.  (We should still probab

[2016-12-13 02:56] jcansdale commented on #924
This was with the original Visual Studio 2017 RC release and ".NET Core and Docker (Preview)". It appeared to be consistent and only with .NET Core projects.

I've just tried installing the recent RC update to see if that makes a difference. Unfortunately .NET Core projects no longer seem to work (1.0.1 or 1.1.0).

![netcore](https://cloud.githubusercontent.com/assets/11719160/21125693/58987188-c0

[2016-12-13 03:00] davkean commented on #928
I don't think we should suppress all "errors", we should suppress the same ones that we suppress in Misc.

[2016-12-13 03:22] jviau commented on #924
I am not sure if this is a CPS issue, but I have seen this in CPS before with the COM aggregation work. I *think* it is thread affinity. `ComWrapperFactory.CreateAggregatedObject` needs to be on the main thread.

[2016-12-13 04:17] davidfowl commented on #928
We used to do this in xproj, it was one of the big things that we had to do because you could get errors in the 100K range (for larger solutions) on open. We should also block build until the first successful restore is complete.

/cc @BillHiebert @abpiskunov

[2016-12-13 04:23] davkean commented on #928
The design of background restore was supposed to block build @natidea ?

[2016-12-13 04:24] davkean commented on #928
We should basically get a mix of Misc Files with project context (source files, raw references, project references, etc) - Roslyn doesn't have this concept yet, so we'd need to plumb it through.

[2016-12-13 05:28] davkean commented on #924
Yeah that's exactly it. Jamie, I'm guessing you are doing this on a background thread? In the old project system due to COM marshalling would have automatically marshalled back to the UI thread.

I'm pushing this logic FileModel retrievable onto the UI thread - which Rolsyn is expecting anyway.

[2016-12-13 07:41] jinujoseph opened #931 "(d15prerel) Creating Net Core projects crashes VS"
**Repro Steps**
-Create Console App (.Net Core )

**Expected**
Project created successfully

**Actual**

![image](https://cloud.githubusercontent.com/assets/12449387/21131429/771d7f70-c0c3-11e6-9203-31f0aada7654.png)

Dmp file : \\mlangfs1\public\Jinuj\dmp\CreateCoreProject.dmp

![image](https://cloud.githubusercontent.com/assets/12449387/21131500/ddae935a-c0c3-11e6-87ee-3359e8db14d4.png)

System.

[2016-12-13 08:08] natidea commented on #928
Yes, background restore is registered as a critical task in CPS. That means [operations](http://index/?leftProject=Microsoft.VisualStudio.ProjectSystem&leftSymbol=dwr9zv0pqnui) like build, save, project rename and project reload block while restore is happening.

[2016-12-13 08:59] jcansdale commented on #924
Thanks folks. Yes, this is on a background thread.

This code was written in the bad old days, way before async. Is there an easy way I could marshal onto the UI thread for this call? I could probably execute it as a separate command, but this would be pretty convoluted.

To add little extra complexity, what if the thread was running in a separate app domain? When this code is deployed it won't be

[2016-12-13 10:17] davkean commented on #931
Dup of this: https://github.com/dotnet/roslyn-project-system/issues/921

[2016-12-13 10:17] #931 closed

[2016-12-13 10:17] davkean commented on #921
When we fix the rules, we should make this not crash if its empty.

[2016-12-13 10:24] davkean commented on #921
@srivatsn Can you get someone to have a look at this tomorrow morning - sounds like the builds are broken.

[2016-12-13 13:25] onovotny opened #932 "Commenting out csproj elements moves them to top on save"
When I have a CSproj open for editing, if I comment-out a property group, when I hit save, it moves the commented area to the top of the file, right under project. That's startling and wrong as it moves items from where I want. Further, if it can change the meaning if they're uncommented and not restored to the correct location (which someone may not know where it belongs).

[2016-12-13 13:47] eyalsk opened #933 "Can projects that haven’t migrated to .NET Core yet use the simplified csproj?"
Can projects that haven’t migrated to .NET Core yet use the simplified csproj? also, as far as I can see I still need to unload the project in order to edit it whereas it isn’t the case with .NET Core projects, any plans to bring _legacy_ projects more closer to the way .NET Core projects work?

[2016-12-13 14:02] davkean commented on #932
Yeah, not by design.

[2016-12-13 16:52] bricelam opened #934 "OAProject isn't MarshalByRefObject"
When trying to use the Entity Framework 6 PMC commands (e.g. `Add-Migration`) on a ASP.NET Core project targeting .NET Framework, you get the following error.

Is there any way to make that a `MarshalByRefObject` like it is on the other project types?

cc @divega

[2016-12-13 17:08] srivatsn commented on #934
@jviau thoughts?

[2016-12-13 17:31] jviau commented on #924
If the underlying object that is being wrapper can be ran on any thread, then I suggest using `WrapperPolicy.CreateFreeThreadedAggregatedObject`. The aggregation still needs to be on the main thread, but usage of the returned object can be any thread.

[2016-12-13 17:54] eyalsk commented on #933
This was answered by Matt Gertz at the .NET blog:

[2016-12-13 18:25] 333fred commented on #932
I opened https://github.com/Microsoft/msbuild/issues/1472. Leaving this open to track.

[2016-12-13 18:27] 333fred commented on #837
Another failure: https://ci.dot.net/job/dotnet_roslyn-project-system/job/master/job/windows_release_prtest/117/console. @abpiskunov

[2016-12-13 19:09] jcansdale commented on #924
Thanks for the tip! Does this need to be done on a per object basis? Or would wrapping DTE, wrap the objects returned recursively? (I realize I'm probably being a bit optimistic 😉)

[2016-12-13 19:21] onovotny opened #935 "Solution Explorer doesn't show files conditionally included"
The Solution Explorer lacks any kind of context to display files that may be selectively included by conditions.

See
https://github.com/onovotny/Zeroconf/blob/f72ae4c009b540d22096b0233c75e61e6ad8fa9f/Zeroconf/Zeroconf.csproj

In that file, there are platform-specific files that are included in some cases. When open in the IDE, the IDE has the correct per-file context, but there's no way to pick t

[2016-12-13 20:03] RaulPerez1 commented on #921
This may be a race condition on restoring. That property is coming from the SDK (common.props)

<BaseIntermediateOutputPath Condition="'$(BaseIntermediateOutputPath)' == ''">$([System.IO.Path]::GetFullPath('$(RepositoryRootDirectory)bin\obj\$(MSBuildProjectName)'))\</BaseIntermediateOutputPath>

And opening an existing project (which already restored at least once) does not repro the issue.

[2016-12-13 20:05] srivatsn commented on #921
But in the new SDK attribute, the props are always present and there is no restore needed at all.

[2016-12-13 20:29] onovotny opened #936 "Netstandard 1.0 PCL (classic) cannot add P2P ref to cross-compiled CPS proj"
I have a "classic" PCL project that targets `netstandard1.0` and has a `project.json`. When I try to add a P2P reference to a "modern" cross-compiled project that also has a `netstandard1.0` target, I get an error.

![err](https://cloud.githubusercontent.com/assets/1427284/21157841/e9651f36-c148-11e6-97cc-09e302275557.png)

Manually adding the p2p ref in code has a compile time failure:

C:\Progra

[2016-12-13 20:41] onovotny commented on #936
This also happens when trying to add a P2P ref from a WP8 Silverlight project to the same cross-compiled lib. Do you want a new issue or attach it to this one?

[2016-12-13 20:42] srivatsn commented on #936
Single issue is fine.

[2016-12-13 20:43] onovotny commented on #936
Okay, cool.

So if I add it manually to the WP8 SL project, I get a different compile time error:

[code]

[2016-12-13 20:52] srivatsn commented on #933
You can make a project with the SDK attribute and target the desktop framework and that will work and be "simplified". It will open with the new project system. However, we haven't implemented all the features that the old project system had and there are lots of compat gaps. So there's a bunch of work to be done before we can switch all projects to use the new project system but as Matt says we w

[2016-12-13 20:52] #933 closed

[2016-12-13 20:56] eyalsk commented on #933
@srivatsn Thanks. :)

[2016-12-13 20:56] srivatsn commented on #928
We should set the language service's [LastDesignTimeBuildSucceeded](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/AbstractProject.cs,01487da8eaaca643,references) property to false until the first restore is complete. Today we set that flag if a design time build fails. However in the unrestored state, design time build succeed (since it's just collec

[2016-12-13 21:30] onovotny opened #937 "P2P ref from UWP picks the win8 version instead of uap10.0 ver of cross-compiled lib"
A UWP project isn't getting the correct output of a cross-compiled project. Instead it's getting the win8 version.

Check out
https://github.com/onovotny/Zeroconf/tree/847ef218c7f94a1dc0b0dfa35a4c11d954c97f98

The ZeroconfTest.UWP project has a P2P ref to Zeroconf. Zeroconf has lots of targets. The product in the dll shows what TFM it was built for. When looking at what's in the UWP\bin\x86\Debug

[2016-12-13 21:32] RaulPerez1 commented on #903
This is on MsBuild. I'll ping them again to see why the schemas that VS ships are not getting pulled from the MsBuild insertions.

[2016-12-13 21:43] srivatsn commented on #893
I believe that's what csproj does - not sure if there's any ramifications to doing otherwise.

[2016-12-13 21:45] srivatsn commented on #881
This should be fixed in latest builds because the SDK will always be there. Please reopen if you see this still.

[2016-12-13 21:45] #881 closed

[2016-12-13 21:45] srivatsn commented on #880
Closing since this is fixed by https://github.com/Microsoft/msbuild/pull/1446

[2016-12-13 21:48] srivatsn commented on #870
Yes single file generators are supported in the new project system. There is some documentation here - https://github.com/Microsoft/VSSDK-Extensibility-Samples/tree/master/Single_File_Generator

[2016-12-13 21:48] #870 closed

[2016-12-13 21:55] srivatsn commented on #867
Just tried this on d15rel/15.0.26002.2 and this works fine for me. @RaulPerez1 since you have a prerel build installed, can you see if this repros for you?

[2016-12-13 21:55] nguerrera commented on #937
I believe this is because we're passing TargetFrameworkMoniker instead of NugetTargetMoniker in GetTargetFrameworkProperties. The fix would go in msbuild if so.

@onovotny Can you try the following patch to https://github.com/Microsoft/msbuild/blob/xplat/src/XMakeTasks/Microsoft.Common.CurrentVersion.targets#L1511 in
C:\Program Files (x86)\Microsoft Visual Studio\2017\[sku]\MSBuild\15.0\Bin or C:\

[2016-12-13 21:56] srivatsn commented on #851
Closing since this seems to work and shouldn't have races in the SDK world. Please reopen if you still see this on latest builds.

[2016-12-13 21:57] davkean commented on #851
Two people have reported this - I don't think this is a fluke. I suspect it's a broken configuration as I'm seeing active configs changes during startup,

[2016-12-13 21:58] nguerrera commented on #937
And for a workaround that is less invasive while waiting for a new build,  you can override _GetProjectReferenceTargetFrameworkProperties somewhere else than editing Microsoft.Common.CurrentVersion.targets. ;)

[2016-12-13 21:58] davkean commented on #851
Sorry, wrong bug, but I still think it's related to this: https://github.com/dotnet/roslyn-project-system/issues/921

[2016-12-13 21:58] #851 closed

[2016-12-13 21:59] #922 closed

[2016-12-13 21:59] 333fred commented on #922
Fixed in #923.

[2016-12-13 22:00] davkean commented on #934
The other project types aren't MarshalByRef - they're native components and hence span AppDomains. :)

But I suspect as we bring up desktop compat we're going to see more and more like this, such as this: https://github.com/dotnet/roslyn-project-system/issues/924

[2016-12-13 22:06] srivatsn commented on #827
@codito - can you comment on this?

[2016-12-13 22:07] srivatsn commented on #826
@codito - can you please comment on this?

[2016-12-13 22:07] onovotny commented on #937
Just tested and it didn't change the result. The win8 ver is in the output directory of the UWP app. Keep in mind that the UWP project is a "regular" UWP project and does not use the SDK to build.

[2016-12-13 22:08] davkean commented on #924
@jviau Jamie is a consumer of these objects, not creating them, he shouldn't be using WrapperPolicy.

Jamie, as a workaround until this issue is fixed, marshal to the UI thread before access the FileCodeModel , here's an example:

[code]

[2016-12-13 22:11] srivatsn commented on #818
This is now fixed in the latest update to the RC.

[2016-12-13 22:11] #818 closed

[2016-12-13 22:13] nguerrera commented on #937
I understand that, this target is for the referring side which can be any project that uses common targets.

I'll go ahead and repro this myself. I still suspect it's something along the lines above.

[2016-12-13 22:13] onovotny commented on #937
Gotcha, yeah you should be able to repro with the commit above (should be the head of branch currently)

[2016-12-13 22:54] bricelam commented on #934
@davkean I knew you were going to say that as I filed it. 😄 I should know not to over-simplify on a Managed Languages repo.

[2016-12-13 23:18] nguerrera commented on #937
My fix worked for me:

![image](https://cloud.githubusercontent.com/assets/75470/21163208/9338713c-c146-11e6-865f-7c563fa580c9.png)

[2016-12-13 23:25] nguerrera commented on #937
I fixed some minor typos in the patch if you want to try again. Make sure to edit the same copy that is used by msbuild. Try kill msbuild.exe instances and closing VS too.

Look for the following in a diag log if the fix is correctly applied (sorry for the French, search for GetTargetFrameworkProperties and GetNearestTargetFramework):

Referring side passing UAP 10 instead of .NETCore 5:
[code]

R

[2016-12-13 23:30] nguerrera commented on #937
Moved to Microsoft/msbuild#1474

[2016-12-13 23:30] #937 closed

[2016-12-13 23:34] davkean commented on #934
:)

[2016-12-13 23:41] nguerrera commented on #937
Here's an easier workaround:

Add this to the bottom of Zeroconf/Zeroconf.csproj:

[code]

This will intercept when the x-targeting project is deciding which dll to give back to the referring project and swap out the input given to nuget for the selection from .NET Core 5 to UAP 10.

[2016-12-13 23:53] onovotny commented on #937
Thanks, that workaround did the trick

[2016-12-14 01:04] davkean opened #939 "Dependencies node sometimes doesn't show up"
1. File -> New Console App (.NET Core)
2. Unload project
3. reload project
4. Repeat until the node is missing (1 out ever 5 or so for me)

Looks like a race.

[2016-12-14 01:05] RaulPerez1 commented on #921
Looks like the SDK attribute is what's causing the problem. Older projects didn't have it so that's why those are working fine.

@srivatsn Who has more context on the SDK change? On the surface it looks like we may be missing matching MsBuild support and that's what's causing the missing imports. This is the build output of a manually modified project (hand created from the shipping template):

"E

[2016-12-14 01:07] davkean commented on #921
I installed today's build and it's working.

Do you have this directory: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks?

[2016-12-14 01:09] srivatsn commented on #939
Wow are the targets file not getting included somehow? Can you see what msbuild /pp says?

[2016-12-14 01:10] davkean commented on #939
Actually, this has nothing to do with the comment - it just happened when I was changing the comment. Looks like there's a race here - if I unload/reload a project over and over, the dependencies node is missing 1 out of ever 5 or 6 reloads.

[2016-12-14 01:13] RaulPerez1 commented on #921
Yes:
![clipboard01](https://cloud.githubusercontent.com/assets/19919028/21165897/03c0d5d8-c157-11e6-85a3-2f8345d2de10.jpg)

I'm going to update my build to today's. If this is already fixed there's no sense in trying to drill down further. As a follow up, for preventing the crash in general - It looked like a whack a mole since the project is unusable without it's imports so there were many more e

[2016-12-14 01:23] srivatsn commented on #557
Closing since there's a menu item for this.

[2016-12-14 01:23] #557 closed

[2016-12-14 01:24] srivatsn commented on #778
With the latest RC there is no pre-restore state any more for the SDK. so this should be fixed.

[2016-12-14 01:24] #778 closed

[2016-12-14 01:38] RaulPerez1 opened #940 "Hierarchy needs to implement __VSHPROPID5.VSHPROPID_SupportedOutputTypes"
The property is not implemented so the property pages are defaulting to showing Console App/Windows App/Class Library instead of letting the project decide what to show.

[2016-12-14 01:55] dsplaisted opened #941 "Visual Studio hangs when project file is edited outside VS to be invalid"
- Create a new .NET Core Console App
- Open up the project file in an external editor and add the following:

[code]

(Note that there is an extra single quote at the end of the Condition attribute.)

- Save

EXPECTED: Some sort of semi-graceful failure.  Perhaps the project should be unloaded and the error message could be shown in the Solution output (this is what happens when you try to open a

[2016-12-14 02:23] davkean commented on #940
Yeah, we should drive this from msbuild properties - as it will likely change per TFM/platform.

[2016-12-14 02:38] dsplaisted commented on #935
Possibly related: Microsoft/MSBuild#1475

I'm not exactly sure what's going on here.  I thought VS would evaluate the project with `ShouldEvaluateForDesignTime` set to true, so that all conditioned `Compile` items would be shown, but that doesn't seem to be happening here.  Perhaps CPS and the Roslyn based project system don't use `ShouldEvaluateForDesignTime` anymore, but Microsoft/MSBuild#1475 m

[2016-12-14 03:21] davkean commented on #935
The new project system currently drives the solution tree off the "active" configuration.
The old project system drives the solution tree by  ignoring conditions. They both have advantages/disadvantages.

Under the covers, in the new project system we represent TFMs as simply additional traits along the same lines as _Platform_ and _Configuration_, so targeting netcoreapp1.0 and net46, results in

[2016-12-14 03:32] davkean commented on #935
We also considered adding another drop down, similar to Debug and Platform drops downs to let the user choose the "active" TFM (like the editor drop down but for all of VS not just the editor) - but we felt that we're better off building out the experience so that features are aware of multiple TFMs. For example, we think that devs would rather have their tests run across all platforms rather than

[2016-12-14 04:04] jviau commented on #934
We moved CPS IVsHierarchy to COM Aggregation, but not the DTE layer. Are we wanting to start implementation MarshalByRefObject on the CPS DTE layer? That means ensuring all the objects we return are MarshalByRef, and I am not sure how deep that rabbit hole goes.

COM Aggregation / wrapping in a COM layer for the DTE feels unnecessary right now as we have no request to aggregate with anything yet.

[2016-12-14 04:13] davkean commented on #934
There's no current need to aggregate it, but we may need to implement the DTE layer as marshal by ref, if we want to be a drop in replacement for the existing project system.

I've seen two different consumers so far who use us in a separate AppDomain. ([TestDriven.NET](https://github.com/dotnet/roslyn-project-system/issues/924) and above.

[2016-12-14 05:44] pzgulyas commented on #796
I still see this error with the latest VS2017 update. To workaround it when happens, I now have to
1. Close solution,
2. Delete obj and bin directories,
3. Reload solution

[2016-12-14 06:22] davkean commented on #796
@srivatsn Can you give this to someone else to look at? Don't think I have time to pick this up before RC3.

[2016-12-14 08:59] aL3891 commented on #870
Interesting, @Srivatsn, that sample seems to be for vs2015 though, is the same syntax supported in vs2017? also, how are custom tools located in vs2017? in earlier versions you had to put them in the registry if i'm not mistaken, but I imagine now that things are a bit more cross plat, that is not longer the only option? ideally i'd want to put mine in a nuget package

Also, are custom tools only

[2016-12-14 09:52] Antaris opened #948 "Compile link include in external msbuild file not displayed in Solution explorer, VS2017"
I have a project defined in my `\src\Fx.Common\Fx.Common.csproj` path:

[code]

In the root of my solution, alongside the solution folder, I have `\SharedVersionInfo.cs` which is generated as part of a Cake build for CI. Additionally, I've defined a `\SharedProperties.props` file at the root:

[code]

This is referenced by my project `Fx.Common`, but the `Link` element at `Properties\SharedVersion

[2016-12-14 10:12] davkean commented on #948
cc @jviau

[2016-12-14 11:50] gulbanana commented on #935
That definitely sounds like the experience I want someday.

[2016-12-14 12:38] onovotny commented on #935
Thanks for the explanation @davkean. I would agree that we need all of the features are multi-TFM aware, especially unit tests :)

[2016-12-14 19:11] mavasani commented on #353
This is now blocked by https://github.com/dotnet/roslyn/issues/15871

[2016-12-14 19:18] jviau commented on #948
With the new `Sdk` attribute on the project node any `<Import />` within the project is ignored. @Antaris if you were to run `msbuild /pp:pp.txt` on Fx.Common.csproj you would not even see your import anywhere in that output file.

@cdmihai is this a known issue?

[2016-12-14 19:25] gardnerjr opened #949 "There is no way to query PackageReferences in a project"
There are API's to Add or Remove a PackageReference, but there is currently no way to ask if a package reference exists in a project, and if so, what version is it.  There's also no way to just enumerate all existing package references.

So you can't positively know if a package is referenced in a project until you have **successfully** restored packages in a project, at which time existing NuGet

[2016-12-14 20:44] cdmihai commented on #948
The SDK attribute does not cause other existing imports to be ignored, it just adds top and bottom implicit imports.

[2016-12-14 21:55] jviau commented on #948
@cdmihai @Antaris nevermind, it wasn't showing because my import was reverted.

I am seeing the file being imported just fine
![linkedfile](https://cloud.githubusercontent.com/assets/5439812/21202740/7611e1a6-c204-11e6-8e9b-3ae81d49f611.png)

My Project file:
[code]

Shared.props is the same as the `\SharedProperties.props` above.

[2016-12-14 22:32] dasMulli commented on #948
I played around with this a little after a short slack chat with @Antaris and discovered why it may seem to not work at first:
Every time I change the shared props file, the changes do not take effect no matter how much I edit the csproj or even if i unload and reload the project. Only a close/open solution makes those changes take effect (e.g. changing the value inside the Link-metadata).

[2016-12-14 22:35] davkean commented on #948
Ah, yeah, that's currently a limitation in MSBuild.

@cdmihai Do you already have a issue tracking this? Unsure if this should be a CPS - or MSBuild feature.

[2016-12-14 22:42] jviau commented on #934
Okay, we will work with the EF team to find out what we all need to marshal by ref.

[2016-12-14 22:45] basoundr opened #951 "Add PackageReference to the end of the Itemgroup instead of adding it to the top of the itemgroup"

[2016-12-14 22:48] srivatsn commented on #523
Fixed by #946

[2016-12-14 22:48] #523 closed

[2016-12-14 22:49] davkean commented on #523
Ha, forgot that I filed this. Just saw it again and chose to fix it. :)

[2016-12-14 23:28] jviau commented on #951
@basoundr is the code that adds the item to msbuild in CPS or in your project system? If it is in CPS we have a helper that this should be using. It tries to find the best place for an item to be added at (groups with similar items and then goes alphabetically).

[2016-12-14 23:53] basoundr commented on #951
This code is in CPS. Could you point me to the helper?

[2016-12-15 00:01] abpiskunov commented on #951
we might want to check if ItemGroup packages were sorted before we add: if yes, we need to insert to corresponding place, if not - at the end. Thats what we did in *.xproj in Dev14

[2016-12-15 00:04] alrz opened #953 "Support adding possibly identical references with extern alias"
As csc does support this from cli.

[2016-12-15 00:12] cdmihai commented on #948
Which limitation is that? There's many limitations :)

[2016-12-15 00:13] davkean commented on #948
That once an import has been loaded into a ProjectCollection its never reloaded.

[2016-12-15 00:20] cdmihai commented on #948
Is this it? https://github.com/Microsoft/msbuild/issues/1185

A new ProjectCollection API to invalidate a specific entry would fix this right? Or something like `new Project(invalidateCache: true)`

[2016-12-15 00:26] cdmihai commented on #948
Looks like we could pipe this constructor call all the way up to some public API: https://github.com/Microsoft/msbuild/blob/68b96728bc2b7c554a37d12723e68e5d37768743/src/XMakeBuildEngine/Evaluation/ProjectRootElementCache.cs#L131

[2016-12-15 00:30] RaulPerez1 opened #954 "Adding/removing a Shared Project does not update the dependency node"
Repro steps:
1) Create a new .Net Core console app
2) Add a shared project to the solution
3) Right click on the console app and "Add Reference"
4) Select the shared project and press Ok

Expected: Dependency node is update
Actual: Dependency node is not updated.

[2016-12-15 00:50] davkean opened #955 "Add two references in the same name doesn't display an error"
1. Right-click on project -> Add Reference
2. Browse to ..\..\..\..\..\..\..\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5.1\Microsoft.Build.Engine.dll click OK
3. Browse to ..\..\..\..\..\..\..\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5\Microsoft.Build.Engine.dll
4. Click OK

Expected: No error and both refs get added, or an e

[2016-12-15 00:53] jviau commented on #951
Looks like the item is being added with a simple msbuild `Project.AddItem()` call in the base class. We can override this to use our more explicit logic.

@abpiskunov CPS doesn't do exactly that and I think it falls out of scope of this release. If it is unsorted CPS won't try to sort it, it will place it in front of the first item it finds that comes after it alphabetically. Is this acceptable fo

[2016-12-15 00:55] RaulPerez1 commented on #867
Not reproing on prerel 26013.2

[2016-12-15 00:55] #867 closed

[2016-12-15 00:58] davkean commented on #953
By "support" here, can you clarify? Support via the UI? Support via MSBuild?

The later should work via the Aliases metadata.

[2016-12-15 01:52] 333fred opened #956 "Red squiggles after migrate and successful build"
With RC2. Repo is here: https://github.com/balaTest/ProjectKTestProjects,
Migrate Dev14_K101/Tooling202/AspNetCoreWeb_IndAuth_WithAI_1, open HomeController.cs. Red squiggles in the editor, even though the project builds successfully.

![image](https://cloud.githubusercontent.com/assets/2371880/21208871/cfc2f688-c225-11e6-945d-6ae50d3dd080.png)

@davkean, seen this before?

[2016-12-15 02:09] davkean commented on #951
@jviau I think that's fine for now - let's get a bug on it though. I'm a little worried by other bugs on your plate at the moment. :)

[2016-12-15 02:19] davkean commented on #867
@mjcheetham Can you repro this? I would expect this error to occur if you attempted to add a file to a folder that had been deleted from disk, but never for a linked file.

[2016-12-15 02:28] abpiskunov commented on #951
yep, tracking it with other issue should be fine

[2016-12-15 04:22] davkean opened #958 "Renaming a file only by case results in a error"
1. File -> New Console App (.NET Core)
2. Rename Program.cs -> program.cs
3. Click Yes when prompted to rename

Expected: For `class Program` -> `class program`
Actual:

Sometimes an error about not being able to rename, other times, nothing happens.

[2016-12-15 10:24] dasMulli commented on #948
There also is #268 that seems related..
Would be great if changes could be detected to the imported file just like to the csproj..

[2016-12-15 14:31] jinujoseph commented on #958
Can you check if the behaviour  was #803

[2016-12-15 15:06] BladeWise commented on #862
I can confirm this issue with VisualStudio 2017 RC, but I set the framework to netcoreapp1.1 through Project -> Properties, then updated a bunch on NuGet packages.

In my case, deleting obj and bin folders makes the trick, and projects can be loaded again.

[2016-12-15 17:54] jinujoseph opened #960 "Solution Explorer shows cascading folder structure"
Create a console application.
Build
Edit .csproj file
change package reference
![image](https://cloud.githubusercontent.com/assets/12449387/21235780/1ae35d60-c2ad-11e6-88a8-d62aa51f0137.png)

Build
Close solution and reopen
watch the solution explorer

![image](https://cloud.githubusercontent.com/assets/12449387/21235469/ba88f962-c2ab-11e6-9f15-901a12f82e5d.png)

**Found in Build**
d15rel/15.0.260

[2016-12-15 19:39] #960 closed

[2016-12-15 19:39] jinujoseph commented on #960
there is already bug on this

[2016-12-15 19:58] RaulPerez1 opened #962 "Project needs to fail to load gracefully when it's missing targets"
This is potentially an MsBuild bug. When the project is missing targets it should fail to load (in the same way as a missing import). Currently it's loading but due to it missing targets there are many issues down the road (#921 is an example of this)

[2016-12-15 19:58] RaulPerez1 commented on #921
This is fixed on later builds, opened a new bug to handle missing targets gracefully.

[2016-12-15 19:58] #921 closed

[2016-12-15 21:15] Ponant commented on #660
@davkean I had the same problem with VS 2017 RC but with v=1.1. In addition there is a [strange behavior](https://developercommunity.visualstudio.com/content/problem/7620/danger-c-drive-appears-in-solution-explorer-when-u.html) in VS when switching from 1.0 to 1.1.

[2016-12-15 21:55] davkean commented on #958
Why did you close #803?

[2016-12-15 21:56] davkean commented on #958
Either way, the error is probably 803, but even after the error future renames don't work.

[2016-12-15 21:58] jinujoseph commented on #958
it did not repro in next couple of builds , so was closed as no repro.
but further renames did work. Did you get prompted for rename in future renames ?

[2016-12-15 21:58] jinujoseph commented on #803
Flaky occurance

[2016-12-15 22:48] davkean opened #963 "Remove "undocumented" properties from the MSBuild schema"
Schema validation warnings are now turned off - so we can remove the "undocumented" properties the MSBuild schema (such as ones that begin with "_").

[2016-12-15 23:00] alrz commented on #953
@davkean UI I guess.. Currently I get an error if a reference with the same name already exist in the project. Since csc does support this and VS expose "alias" property I don't see why this shouldn't be supported in the UI.

[2016-12-15 23:17] davkean commented on #962
This isn't targets per se, but "SDKs". I think missing with regards to missing targets - there is a more graceful errors (and then the Installer query runs, to check for missing workloads)

[2016-12-15 23:19] RaulPerez1 commented on #903
https://github.com/Microsoft/msbuild/issues/1488

[2016-12-15 23:19] #903 closed

[2016-12-15 23:36] RaulPerez1 opened #966 "Handle multi targeting for displayed references"
See suggestion on #400

[2016-12-15 23:37] balachir opened #967 "Documentation provided in the "More information" link of the "One-Way Upgrade" dialog is inaccurate in the context of .NET Core and ASP.NET Core projects"
When migrating a project from Dev14, we get this dialog

![image](https://cloud.githubusercontent.com/assets/8246794/21246184/ff42961e-c2db-11e6-9ff9-f31d14a99e5a.png)

**ACTUAL**

Documentation provided in the "[More information](https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects)" link of the "One-Way Upgrade" dialog is inaccurate in the context

[2016-12-15 23:47] #590 closed

[2016-12-15 23:49] jviau commented on #951
I opened an internal bug for this and assigned it to myself. The fix should be easy, so no need to worry @davkean haha.

[2016-12-16 00:00] jviau commented on #962
I think this is 2 issues.

1) SDK is missing. In this case MSBuild should throw an exception and it will be displayed to the user.
2) Props/Targets is missing critical XAML Rule files. This will be a CPS fix. Right now CPS throws an obscure error along the lines of "ConfigurationGeneral BrowseObject could not be found" when critical rule files that must be present for CPS to run are missing. We ne

[2016-12-16 00:08] jviau commented on #949
Are you looking for a general API that works with any form of nuget packaging style? As in the same API will work for packages.config, project.json, and .csproj PackageReference? Or are you okay with have a special case check for the new PackageReference? And also does this have to work outside of VS?

If you are okay with a special case for this and only running inside VS then there is multiple w

[2016-12-16 01:39] NickCraver commented on #159
I'm really interested in this - we make extensive use of it at Stack Overflow. For example, for a `User` object, we have `User.cs`, `User.Render.cs`, etc. Here's a view:

<img width="297" alt="screen shot 2016-12-15 at 20 28 34" src="https://cloud.githubusercontent.com/assets/454813/21248436/170424ba-c305-11e6-876f-4a06dab9c124.png">

We also use a similar dot-delineation pattern for views and the

[2016-12-16 02:01] davkean opened #970 "Props/Targets should be reloaded if they change"
Currently if an imported props or targets is changed, Visual Studio does not reload it, it is cached for the lifetime of Visual Studio.

This was previously a frustrating experience before but has now become a functional problem due the design of the [project].nuget.g.props/[project].nuget.g.targets that NuGet uses to auto import props and targets from packages. As your installed packages are inst

[2016-12-16 02:02] davkean commented on #268
@jviau has an approach that might work on our side to handle this:

now that is interesting

[2016-12-16 02:03] davkean commented on #268
@srivatsn I think this is a functional issue that we should either workaround or tackle for v1.

This was previously a frustrating experience before but has now become a functional problem due the design of the [project].nuget.g.props/[project].nuget.g.targets that NuGet uses to auto import props and targets from packages. As your installed packages are installed/ununinstall, this file will remain

[2016-12-16 02:04] davkean commented on #948
@dasMulli Thanks.

I'm going to close this as you've resolved "why" they weren't showing up. We'll use #268 to track reloading props/targets.

[2016-12-16 02:04] #948 closed

[2016-12-16 02:08] davkean commented on #970
Closing in lieu of #268.

[2016-12-16 02:08] #970 closed

[2016-12-16 03:44] jviau commented on #268
@davkean one thing I didn't consider with my suggestion is the lifetime of these imports in the cache after the user unloads the project, but doesn't close VS.

[2016-12-16 03:54] davkean commented on #953
Related to: https://github.com/dotnet/roslyn-project-system/issues/955.

[2016-12-16 04:08] davkean commented on #949
I don't think falling back to MSBuild is the right solution here - design-time builds could supplement (or even remove) these things, so just using evaluation will give misleading results.

@jviau What do we do for references here? I think asking consumers of the project system to fall back to MSBuild or listen to the project subscription is too hard and easy to get wrong.

We should have friendly

[2016-12-16 04:09] davkean commented on #967
Hmm, doesn't this belong over on https://github.com/Microsoft/visualstudio-docs/issues?

[2016-12-16 05:05] srivatsn commented on #268
To be clear though, the nuget staleness issue already exists for UWP-style project.json.

[2016-12-16 05:34] davkean opened #971 "Investigate UI blocks on project load"
It appears that there are some UI blocks on project load - much more than desktop and it runs design-time builds on the UI thread.

We should investigate - it's much more obvious under the debugger where it can block for 10 or 20 seconds at a time.

[2016-12-16 11:28] gulbanana opened #975 "System.IO.File in .NET Standard library fails when run in unit test"
Possibly this issue should be in a vstest repository but I can't find one.
Repro: https://github.com/gulbanana/repro-netstandard-systemio

When using System.IO in a .NET Standard 1.4 class library, unit tests referencing the library fail. The error is
`Message: System.IO.FileLoadException : Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f

[2016-12-16 11:35] gulbanana commented on #826
I am still experiencing this problem in RC Refresh.

[2016-12-16 11:37] gulbanana commented on #827
In RC Refresh, this problem no longer applies when RID `win7-x86` is used, but still occurs for RID `win7-x64`.

[2016-12-16 11:54] gulbanana opened #976 "No tests are discovered when multi-targetting"
This is a project file created from the default template and then edited to add a second TFM.
[code]

No tests are discovered for either TFM, although each works separately (e.g. if the TargetFrameworks is changed to TargetFramework). Here is the build log with /v:diag, which includes a warning about irreconcilable dependencies and some issues finding test adapters: https://gist.github.com/gulbana

[2016-12-16 14:41] codito commented on #827
@gulbanana for test projects targeting desktop framework, the `OutputType` property need not be set (i.e. Library by default). If the `OutputType` is library, a RID is not required.

A test project that multitargets to desktop and netcore could define the `OutputType` under a conditional. E.g. `<OutputType Condition=" '$(TargetFramework)' == 'netcoreapp1.0' ">Exe</OutputType>`

[2016-12-16 14:48] codito commented on #826
@gulbanana created https://github.com/xunit/xunit/issues/1054 to track this.

[2016-12-16 17:16] RaulPerez1 commented on #437
After some discussion and input from folks knowledgeable in CPS we decided to go with the defaults.

[2016-12-16 17:16] #437 closed

[2016-12-16 17:28] mavasani opened #977 "Hide AssemblyInformation button on ApplicationPage for dotnet core projects"
We have moved these properties to Package page as part of https://github.com/dotnet/roslyn-project-system/pull/950

[2016-12-16 18:43] abpiskunov opened #979 "[Dependencies] if there is any error or unresolved reference , error icon should bubble up to Dependencies node"

[2016-12-16 18:56] RaulPerez1 commented on #809
Not reproing this anymore, most likely fixed by one of the other property page changes I have.

[2016-12-16 18:56] #809 closed

[2016-12-16 19:11] abpiskunov opened #980 "when *.tt file is added to csproj containing folder it is being added to csproj even when it already satisfy to a globbing pattern"
I had an empty csproj file and existing Startup.tt file that was showing in Solution Explorer by globbing. Then I removed this file in Windows explorer and returned it back.

This entry was added to csproj:

  <ItemGroup>
    <Content Update="Startup.tt">
      <Generator>TextTemplatingFileGenerator</Generator>
    </Content>
  </ItemGroup>

It seems a little controversial since before I deleted f

[2016-12-16 19:31] RaulPerez1 commented on #415
@dotnet/project-system - Under what conditions can portable (or embedded) be set? The issue here is that the control is hardcoding 3 of the 5 options instead of conditionally initializing it based on the project.

[2016-12-16 19:52] RaulPerez1 opened #981 "CommandLineParserService.Parse returns no parsers"
This feels like a race condition, getting it maybe 1/4 of the time while debugging

System.InvalidOperationException occurred
  HResult=0x80131509
  Message=Operation is not valid due to the current state of the object.
  Source=Microsoft.VisualStudio.ProjectSystem.Managed
  StackTrace:
   at Microsoft.VisualStudio.ProjectSystem.LanguageServices.CommandLineParserService.Parse(IEnumerable`1 argumen

[2016-12-16 19:57] #895 closed

[2016-12-16 20:24] RaulPerez1 commented on #977
@mavasani I have changes in flight to condition other stuff on .Net Core. I can add this check in there as well.

[2016-12-16 20:29] abpiskunov commented on #980
Closing it for now, since per Lefing comments msbuild item added to csproj is Update and globbing can not clean csproj later.

[2016-12-16 20:29] #980 closed

[2016-12-16 20:31] srivatsn commented on #975
@codito

[2016-12-16 20:31] srivatsn commented on #976
@codito

[2016-12-16 20:32] mavasani commented on #977
Thanks Raul.

[2016-12-16 20:50] jcouv opened #983 ".Net Core project does not respect langversion setting"
Repro:
1. Using RC2 (Microsoft Visual Studio Enterprise 2017 RC - Version 15.0.26006.2 D15REL)
2. Create a Core console app
3. Change the language version for this project to use C# 6.0 (see screenshot below)
4. Use a C# 7.0 feature (for instance, typing `_ = 1;` or `(int, int) t = (1, 2);`)

I expect to see an error about language version (`CS8059	Feature 'xyz' is not available in C# 6.  Please u

[2016-12-16 20:54] srivatsn commented on #983
@RaulPerez1 maybe another missing rule?

[2016-12-16 20:57] srivatsn commented on #415
@tmat?

[2016-12-16 21:04] tmat commented on #415
This dialog is odd. The compiler doesn't have "internal error reporting". Why is check for overflow/underflow disabled?

[2016-12-16 21:05] tmat commented on #415
Re PDB - the list should always include portable and embedded.

[2016-12-16 21:09] srivatsn commented on #415
@tmat - "Internal error reporting" maps to csc's /errorreport switch. The disabled checkbox for overflow\underflow has been fixed - https://github.com/dotnet/roslyn-project-system/issues/416

[2016-12-16 21:15] tmat commented on #415
I think we should remove "Internal error reporting". This is what it does in Roslyn:
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/CommandLine/CSharpCommandLineParser.cs,1066

[2016-12-16 21:50] morrisjoe commented on #967
Let me ask the Gordon and team who the right contact is that we should be working with

[2016-12-16 22:06] RaulPerez1 commented on #983
Not a property issue, this is getting read/written properly to the project. Most likely the value is not being passed to the compiler on the targets

[2016-12-16 22:14] mavasani commented on #758
Fixed with https://github.com/dotnet/roslyn-project-system/pull/950

[2016-12-16 22:14] #758 closed

[2016-12-16 22:16] mavasani commented on #762
We are going to hide the AssemblyInformation button in Application page: https://github.com/dotnet/roslyn-project-system/issues/977. These properties can be correctly set in the Package property page.

[2016-12-16 22:38] RaulPerez1 commented on #413
Problem is here:

Public Function GetPropertyPages() As PropertyPageInfo()

Dim ConfigPageGuids As Guid() = GetPageGuids(GetActiveConfigBrowseObject())
Dim CommonPageGuids As Guid() = GetPageGuids(GetProjectBrowseObject())

The code is expecting a couple things:
1) The common pages come before the config pages
2) That the browse object controls which pages are config specific

The project object i

[2016-12-16 22:47] #399 closed

[2016-12-16 22:48] #400 closed

[2016-12-16 22:55] davkean commented on #762
If the code still exists that adds it to AssemblyInfo.cs, then this is still relavant.

[2016-12-16 22:56] davkean commented on #762
Hmm, this might actually be the special files provider? Can you see if this repro's before you changes? As this will still be an issue if you remove the button.

[2016-12-16 23:00] mavasani commented on #796
I am unable to repro this with the original repro project on the latest D15PreRel build. @pzgulyas can you share your repro project?

[2016-12-16 23:03] davkean commented on #981
I also hit this - but couldn't repro it again.

Can you check the MEF cache at the time you hit it? It look like they got rejected because Roslyn couldn't be found in my case.

[2016-12-16 23:10] RaulPerez1 commented on #983
I take that back, after some digging in the targets I found the problem. The compiler property is LangVersion and the property page is using LanguageVersion so it needs to be rerouted.

[2016-12-16 23:14] mavasani commented on #928
@natidea @srivatsn Is there any existing service in our repo that can be queried to find out if the first restore is complete? If not, is the correct approach to set a flag [here](https://github.com/dotnet/roslyn-project-system/blob/adf29b057343bcba9499a85b8dc2e7f852908657/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/NuGet/NuGetRestorer.cs#L144) in the NugetRestorer and exp

[2016-12-16 23:24] #983 closed

[2016-12-16 23:25] mavasani commented on #762
Thanks Dave. Yes, indeed setting the flag to emit the properties in AssemblyInfo causes the crash. Investigating further.

[2016-12-16 23:29] RaulPerez1 commented on #256
@davkean where is the class diagram code? I couldn't find any reference in the project system repo so I'm presuming this is in VS?

[2016-12-16 23:30] davkean commented on #256
Yeah, look at the usages of IViewInClassDiagram on index.

[2016-12-16 23:58] RaulPerez1 commented on #256
Even though the core class diagram code handles the command (for class view) it does nothing so I think we're going to need changes on our side one way or another.

@srivatsn I think this is going to be larger than a regular bug fix and will definitely not fit in for RC3.

[2016-12-17 02:30] gulbanana commented on #827
In that case the only remaining work will be the document this or add templates/gui settings for it (since i don't think anyone is going to guess that solution :)).

[2016-12-17 03:15] codito commented on #827
Agree, we should document this or possibly get rid of this requirement.

[2016-12-17 04:18] AArnott opened #986 "VS2017 RC2 error list shows netstandard library project compiles all files twice"
Using d15rel 26014.00.

[code]

The error list in VS2017 RC2 shows many errors around ambiguous calls because the language service is compiling each file twice. Yet when I build the project, the output window clearly shows that problem is not in the build itself. (A few errors are there, but they are unrelated).

Error	CS0121	The call is ambiguous between the following methods or properties: ...

[2016-12-17 06:39] jnm2 commented on #368
I was going to file an issue asking if there was a better way to specify the filename than `bin\Debug\netstandard1.3\ProjectName.xml`, what with multiple configurations and multiple targets. But I'd be just as happy with a bool because I can't think of a scenario in which I'd want to customize the name.

[2016-12-17 06:48] jnm2 commented on #762
If I want to set assembly info without creating a NuGet package, is the recommended way to add an `AssemblyInfo.cs` next to the .csproj? Or will something new happen, like putting the information inside the csproj?

[2016-12-17 17:27] jnm2 commented on #814
ICreating a .NET Standard class library also shows in the app designer as output type "Windows Application" in 15.0.26014.0. In spite of that it's building correctly, so am I right in thinking that class library output is the default and that I don't need to be manually specifying it in the .csproj?

[2016-12-17 17:40] jnm2 commented on #762
I'm getting CS0579 duplicate attribute errors for `AssemblyCompany`, `AssemblyProduct`, `AssemblyVersion`, `AssemblyInformationalVersion` and `AssemblyTitle`, but not for `AssemblyCopyright` or `ComVisible(false)`.

I'm not sure where else these could be defined though. The VS crashes if I change any of these in the app designer, and I don't see them in any file.

[2016-12-17 17:54] jnm2 opened #987 "Targeting net20 results in broken reference warnings"
(I'm multitargeting `net20` and `netstandard1.3` but this happens also when just targeting `net20`.)

Under Dependencies > Assemblies I have `System`, `System.Core`, `System.Data`, `System.Drawing`, `System.Runtime.Serialization`, `System.Xml` and `System.Xml.Linq`. Of these I only actually need `System`, so ordinarily I'd delete the rest. However deleting is impossible since they are defined outs

[2016-12-17 20:55] jnm2 opened #988 "Enable code analysis"
In build 15.0.26014.0:

- _Analyze > Run Code Analysis > On Solution_
  - does nothing
- _Analyze > Configure Code Analysis > For Solution_
  - shows "There are currently no analyzable projects loaded."

[2016-12-17 21:00] jnm2 opened #989 "Single-targeting net20 results in MSB4086"
With `<TargetFramework>net20</TargetFramework>`, you get MSB4086:

With `<TargetFrameworks>net20</TargetFrameworks>` all is well.

Build 15.0.26014.0

[2016-12-17 22:43] jnm2 commented on #987
Correction: the build warnings always show up when compiling at the command line.

[2016-12-17 22:43] davkean commented on #814
Yes, this is just this bug. The designer is wrong - class library is the default.

[2016-12-18 22:10] davkean commented on #987
This issue was moved to dotnet/sdk#532

[2016-12-18 22:11] #987 closed

[2016-12-18 22:11] davkean commented on #989
This issue was moved to dotnet/sdk#533

[2016-12-18 22:11] #989 closed

[2016-12-18 22:32] davkean commented on #988
Thanks - by Code Analysis here, you're looking to use FxCop and not C#/VB's automatic analysis?

[2016-12-19 01:30] jnm2 commented on #988
Yes, FxCop on a library targeting net20 and netstandard1.3.

[2016-12-19 09:34] mjcheetham commented on #867
@davkean, I was definitely able to repro this on d15prerel/15.0.26002.0.
I have since tried a later build from d15prerel and this seems to be OK now.

[2016-12-19 14:44] onovotny commented on #935
Found one potential workaround until this is done "the right way"

[code]

Then later down, under an `ItemGroup` that's conditioned to a TFM, I do
'''
 <Compile Include="Platforms\iOS\**\*.cs" />
[code]

[2016-12-19 14:45] Yves57 opened #995 "Unexpected message when starting project execution"
I cloned the ASP.NET Razor sources.
When I start the RazorPageGenerator project (to debug or just run, even with a Release compilation), I have the message "Object reference not set to an instance of an object". I just have to validate it to continue, but it is strange.
![image](https://cloud.githubusercontent.com/assets/11701094/21316645/04eab366-c602-11e6-932b-3fe4c64e7a28.png)

Please note that

[2016-12-19 14:51] Yves57 opened #996 "Cannot use the Visual Studio Performance Profiler in some solutions"
I'm not sure that it is right place to declare this issue...

When I want to to use the Visual Studio 2017 RC Profiler with some solutions, I cannot select the executable I want.
If I create a new .NET Core Console App, everything is OK.
But for instance when I want to profile the RazorPageGenerator (ASP.NET Core Razor repository), the project is not selectable.
![image](https://cloud.githubuserco

[2016-12-19 18:16] jinujoseph commented on #413
This behaviour you saw after you turned the configuration to  true [here](https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.CSharp.VS/ProjectSystem/VS/Properties/CSharpProjectDesignerPage.cs#L13

[2016-12-19 19:57] onovotny commented on #937
I'm seeing this now in a .NET 4.5 test project referencing a project that multi-targets to the following:
`netstandard1.2;netstandard1.3;net45;win81;wpa81;MonoAndroid70;Xamarin.iOS10`

It's using the `netstandard1.2` version (the first in the list?) instead of the `net45` ver.

[2016-12-19 21:12] onovotny opened #997 "Saving a CPS multi-targeting project unglobbed net45 subtypes"
Look at this commit:
https://github.com/onovotny/microsoft-authentication-library-for-dotnet/commit/f8880e6a7ff4b0e586d6195c57ca9fac9b9bf4d3

All I did was change net45 to be first in the order but then VS expanded a bunch of crapL
https://github.com/onovotny/microsoft-authentication-library-for-dotnet/commit/f8880e6a7ff4b0e586d6195c57ca9fac9b9bf4d3#diff-9abb1283a16cd21deac528e4738327f7R147 by add

[2016-12-19 21:41] mavasani opened #998 "Implement the Pack command"
See this TODO: https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Input/Commands/AbstractGenerateNuGetPackageCommand.cs#L35

[2016-12-19 21:41] mavasani commented on #998
@srivatsn I have a bunch of perf regressions to investigate, so might not be able to get to it this week. If it is fine to push this to next week, I can take this one.

[2016-12-19 22:22] davkean commented on #997
Not sure how this even happened, we haven't even implemented sub type support.

[2016-12-20 00:03] RaulPerez1 opened #1000 "Call to CreateProjectContext needs to go back to the foreground thread"
Hitting this on opening projects.Full chain below but looks like the root issue is that the code switches to the UI thread to get the configuration and then goes to Roslyn which has an explicit check for the call being on a background thread.

src\Microsoft.VisualStudio.ProjectSystem.Managed\ProjectSystem\LanguageServices\LanguageServiceHost.cs

[code]

**Exception:**

[code]

[2016-12-20 00:11] davkean commented on #1000
Do you have a private build of Roslyn? You're likely running into the fallout of https://github.com/dotnet/roslyn/pull/15852.

[2016-12-20 00:12] davkean commented on #995
Can you attach the project that is causing the issue?

[2016-12-20 01:14] mavasani commented on #1000
Yes, I think this is the fallout of @mattwar PR that mandates AbstractProject and VisualStudioProjectTracker APIs to be invoked on the foreground thread. I think his change moved all the methods in https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs to switch back to foreground thread before invoking into its base type, b

[2016-12-20 01:16] mavasani commented on #1000
@RaulPerez1 can you port this bug to Roslyn and assign it to me? Thanks.

[2016-12-20 01:35] RaulPerez1 commented on #413
Some more data - Debugging through this I'm finding a bunch more issues:
- The asserts on the config specific properties are not specific to the config. A bunch of things are not doing anything at all but not asserting because there is no check on that code path.
- The properties object returned by CPS does not implement VSLangProj.ProjectProperties so _projectPropertiesObject is set to null and t

[2016-12-20 02:32] RaulPerez1 opened #1001 "Visibility of the new Package property page need to controlled via a capability"
Currently the page will always be visible regardless of the project type. It should be controlled via a capability (PackagePage was suggested on a different thread).

src\microsoft.visualstudio.projectsystem.csharp.vs\projectsystem\vs\properties\csharpprojectdesignerpageprovider.cs

        public Task<IReadOnlyCollection<IPageMetadata>> GetPagesAsync()
        {
            return Task.FromResult

[2016-12-20 04:34] davkean commented on #981
The MEF cache states:
[code]

My guess that is Roslyn went from 2.0 -> 2.1, and the binding redirects are not in place or being respected, and hence we can't find them.

[2016-12-20 04:59] basoundr commented on #899
Closing this since we have decided that all project references will transitive by default for .Net Core Projects

[2016-12-20 04:59] #899 closed

[2016-12-20 05:00] basoundr commented on #900
Closing this since we have decided that all project references will transitive by default for .Net Core Projects

[2016-12-20 05:00] #900 closed

[2016-12-20 13:10] #891 closed

[2016-12-20 14:58] Yves57 commented on #995
Sorry, I have probably not clear: there is no secret project to use, I just play with the [ASP.NET Razor](https://github.com/aspnet/Razor) sources.
Additional information:
- I tried to create a ".NET Core Web Application" from scratch, and I have not the same problem.
- My computer is quite old, so there is maybe a kind of timeout problem?
- I have tried to restart Visual Studio, but the message i

[2016-12-20 16:18] onovotny commented on #826
@srivatsn we have a fix but uncovered an issue with the TestPlatform ObjectModel lib: https://github.com/xunit/xunit/pull/1055#issuecomment-268281826. The PortableSymbolReader isn't getting data for async state machine stuff. Affects both MSTest and xUnit (and anything else that wants the data). Not sure who owns that but I'd think it should be an RC3 blocker.

[2016-12-20 19:00] srivatsn commented on #826
Thanks Oren. @dotnet/vstest owns this code. I'll track this for RC3.

[2016-12-20 19:18] basoundr commented on #951
@jviau fixed it [here](https://mseng.visualstudio.com/VSIDEProj/_git/VSIDEProj.CPS/pullrequest/170000?_a=overview)

Thank you @jviau

[2016-12-20 19:18] #951 closed

[2016-12-20 19:20] basoundr commented on #888
Fixed #882

[2016-12-20 19:21] basoundr commented on #755
Moving to RTM since the dependent teams have already started using CPS to obtain the required properties and we don't know of other consumers who are in need of this

[2016-12-20 21:52] #906 closed

[2016-12-20 21:55] srivatsn commented on #846
We already have an Analyzers node that will show up if there are analyzer assembly dependencies.

[2016-12-20 22:30] srivatsn commented on #1001
Currently only netcore projects will show this page since the project system is only for NetCore. This bug is needed when we bring up desktop proejcts.

[2016-12-20 22:57] srivatsn commented on #976
@dotnet/vstest

[2016-12-20 22:57] srivatsn commented on #975
@dotnet/vstest

[2016-12-20 23:23] basoundr commented on #630
Does not repro in 26020.0.d15prerel. Closing this issue. Please reopen with updated stack trace if it repro-es again.

[2016-12-20 23:23] #630 closed

[2016-12-20 23:58] basoundr commented on #515
With the current state of the project, where the SDK tooling is present in the machine before loading the project, we are not going to see dynamic change in capabilities.

Although, in the future, we could have a different tooling story, where the above statement could be false. In that case, the components that are loaded and unloaded based on the capabilities should move over to `ProjectDynamicL

[2016-12-20 23:58] #515 closed

[2016-12-21 00:00] davkean commented on #515
What if I change the Sdk element of my project?

[2016-12-21 01:15] 333fred opened #1012 "Missing SDK Element crashes Visual Studio"
1. Create a new .NET Core Console App.
2. Open the csproj and remove the SDK attribute. (Internal editor or external, doesn't matter).
3. Project will reload.

Expected:
Reloads in some degraded state. Maybe it says failed to load with some reason.

Actual:
![image](https://cloud.githubusercontent.com/assets/2371880/21373920/5e3020c0-c6d7-11e6-97e3-fd443ac68232.png)

Attempting to open a solution

[2016-12-21 01:34] codito commented on #976
(sorry for delay in response)

@gulbanana can you try with conditional `<OutputType Condition='$(TargetFramework)' == 'netcoreapp1.0'>Exe</OutputType>` and remove the RID from csproj?

[2016-12-21 01:41] codito commented on #827
Update: we will fix the Microsoft.NET.Test.Sdk package to take care of conditional OutputType.

Thanks @gulbanana for reporting this. Please keep the feedback coming :)

[2016-12-21 02:25] onovotny opened #1013 "File context drop down doesn't stick with multi-targeting"
When I try to change the context of a file open in the IDE, after changing the drop down, it immediately reverts.

To repro:

- Checkout https://github.com/Reactive-Extensions/Rx.NET/tree/618817a75b466734f100b27f1ee74d5e2a54c46a
- Load Rx.NET/Source/System.Reactive.sln

Open up Observable.Queryable.cs (in ..\System.Reactive.Providers\Reactive\Linq). Now try to change the context of the file in the

[2016-12-21 02:48] davkean commented on #1013
We're still not populating IsInCurrentContext - so that's probably related. Are you saying that it works for you for files inside of the project folder in above project?

[2016-12-21 02:52] onovotny commented on #1013
Yes, that appears to be the case. If I add a blank file, `Class1.cs` to the root of the project, then the context for that file appears to stick.

[2016-12-21 02:58] davkean commented on #986
I suspect we're passing the sources files twice.

[2016-12-21 03:56] mavasani commented on #1013
Dave, we are populating IsInCurrentContext, so this is expected to work.

[2016-12-21 03:59] dsplaisted commented on #880
I'm still seeing this, on d15prerel 26020.2, with MSBuild binaries copied over from a locally-built copy of the latest version of the MSBuild xplat branch.  The reload prompt shows up whether you edit and save the project file in the VS editor or outside of VS.

[2016-12-21 04:00] mavasani commented on #1013
There is a known Roslyn bug due to which closing and opening any source file causes context changes to not be respected henceforth. @onovotny are you by any chance closing the file, re-opening and then trying the context switch?

[2016-12-21 04:02] gulbanana commented on #827
no problem, thanks for looking into it

[2016-12-21 04:05] onovotny commented on #1013
Nope, just opening it once.

Sent from my Windows 10 phone

From: Manish Vasani<mailto:notifications@github.com>
Sent: Tuesday, December 20, 2016 11:00 PM
To: dotnet/roslyn-project-system<mailto:roslyn-project-system@noreply.github.com>
Cc: Oren Novotny<mailto:oren@novotny.org>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [dotnet/roslyn-project-system] File context drop down doesn't st

[2016-12-21 04:05] dsplaisted opened #1014 "File reload prompt appears if .csproj file is open and you make a change to the project file"
- File \ New Project \ Console App (.NET Core)
- Right click on project, select "Edit .csproj"
- Right click on "Program.cs", select "Exclude from project"

EXPECTED: `.csproj` file is reloaded in editor
ACTUAL: Prompt asking you if you want to reload the project file:

![image](https://cloud.githubusercontent.com/assets/145043/21377059/727cf464-c6ef-11e6-8b61-3d20bd467fd3.png)

The prompt doesn't

[2016-12-21 04:42] dsplaisted opened #1015 "Cannot modify item property after editing .csproj file, closing, and re-opening project"
- File \ New Project \ Console App (.NET Core)
- Right click on project, select "Edit .csproj"
- Close project, then re-open it (in the same instance of Visual Studio)
- Select Program.cs in solution explorer
- In Properties window, change "Copy to Output Directory" to "Copy if newer"

EXPECTED: Property change is applied
ACTUAL: Property value is not valid error

![image](https://cloud.githubuser

[2016-12-21 04:50] davkean commented on #981
Even more confidence that this is caused by Roslyn changing their version number accidentally, in master right now 2.1 is building - I installed this and started running into it.

[2016-12-21 05:36] davkean commented on #1012
Updated title to better describe the issue.

[2016-12-21 05:43] davkean commented on #390
Here are the requirements that I have in mind:

1. Projects start off with a Properties folder (or My Project in VB)
2. Developers can add/drag items by default into the Properties folder
3. Developers can delete the Properties folder from their project.
4. No visible elements inside the project file appear in reference to the Properties folder when they create the project
5. No visible elements i

[2016-12-21 06:09] #446 closed

[2016-12-21 06:09] #536 closed

[2016-12-21 11:44] gulbanana commented on #976
OK, I've tried that and it doesn't fully work. Here is a repro: https://github.com/gulbanana/repro-testdiscovery-multitarget

With this setup, `dotnet test` runs tests for both tfms. However, Visual Studio does not discover any tests at all. If you change the order of target frameworks to `netcoreapp1.0;net461` then Visual Studio is able to discover only the netcoreapp tests, but still not the net

[2016-12-21 12:50] codito commented on #975
We're investigating this issue. As a workaround, please use `<PackageReference Include="NETStandard.Library" Version="1.6.0" />` instead of `1.6.1` in netstdlib.csproj.

[2016-12-21 13:47] gulbanana commented on #975
The workaround works on my system (until I want to use a nuget package which references 1.6.1 :))

[2016-12-21 14:49] mkyjakova opened #1016 "[loc][Query][dotNet] Possible error in the English source"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
&Bro&wse...

File Name:
DebugPropPage.ko.xlf

Query:
It seems that one of the ampersands is redundant and should be removed. Can you please confirm? Thanks!

[2016-12-21 17:49] srivatsn commented on #1016
Sounds like an error to me - the second & should be there since there's a different Browse button on the same with ampersand on the 'B'.

[2016-12-21 17:50] srivatsn commented on #815
Is this still happening?

[2016-12-21 17:51] srivatsn commented on #880
@333fred can you take a look - maybe a different msbuild exception?

[2016-12-21 17:51] srivatsn commented on #934
@jviau can you close this if you're tracking this issue in your database?

[2016-12-21 17:57] srivatsn commented on #962
2 is tracked by https://github.com/dotnet/roslyn-project-system/issues/793

[2016-12-21 18:00] srivatsn commented on #962
Changing this issue to track the work to show some UI around missing SDK and offering some acquisition experience.

[2016-12-21 18:02] srivatsn commented on #1012
Dupe of https://github.com/dotnet/roslyn-project-system/issues/793. Looks like the experience has degraded further from showing some weird dialogs to VS crashing. Let's use #793 to track this.

[2016-12-21 18:02] #1012 closed

[2016-12-21 18:03] srivatsn commented on #793
Tagging @jviau and @lifengl. Per #1012 we now crash VS in this case. Can we pursue some fix for this for RTM?

[2016-12-21 18:09] srivatsn commented on #1014
With the approach that we are using currently this is by design. Fred's trying to move to an in-memory model which will get rid of this issue but ofcourse that approach comes with a different set of issues. Using this issue to track the in-memory approach.

[2016-12-21 19:30] mavasani opened #1017 "Remove the property intercepter for AssemblyVersion and FileVersion"
Defaults for these are provided by the SDK target "GetAssemblyInfo", we should try to use this target to compute the defaults instead of the duplicate logic defined in AssemblyVersionValueProvider and FileVersionValueProvider.

[2016-12-21 21:08] basoundr opened #1019 "Return AbstractProject for EnC instead of Reimplementing the interface and reforwarding the EnC calls"
For more context: Look at the PR #968 comments

[2016-12-21 21:28] #762 closed

[2016-12-21 22:53] #810 closed

[2016-12-21 22:53] #837 closed

[2016-12-21 22:53] adrianvmsft opened #1020 "Rename prompt should respect UI suppression for automation at the time when the operation was invoked"
Issue #408 added support for UI suppression.
However that code gets executed async and if you want UI suppression to be scoped to that particular rename operation, there is no good way to do that.
Also, there is no good way to know when to stop the UI suppression.

Here is a repro:
- Create new Extensibility -> VSIX Project
- Add New Item -> Extensibility -> Custom Command
Insert the following cod

[2016-12-21 22:58] abpiskunov commented on #939
Just tried it with d15rel RC.2 - does not repro. There were no changes in Dependencies tree in RC3 yet. What VS build you have? Van it be related to latest sdk changes?

[2016-12-21 23:03] davkean commented on #939
This consistently occurs on any recent build (I installed yesterdays).  I don't have an RC2 build to check.

The resulting project once in this state has a language service, builds and F5s, so I'm guessing it's a race of some kind.

[2016-12-21 23:05] davkean commented on #939
Here's an example:
![image](https://cloud.githubusercontent.com/assets/1103906/21409395/1ec43946-c82e-11e6-8a13-8cd5630d1f03.png)

[2016-12-21 23:07] davkean commented on #939
I tried it a few times, by "consistent" I actually mean "inconsistent". It took me 3 reloads to get above, but took me another 10 to get it repro again.

[2016-12-21 23:09] davkean commented on #939
Note, if you rename the project in this state, the node comes back.

[2016-12-21 23:14] abpiskunov commented on #939
recent build from d15prerel?

[2016-12-21 23:15] davkean commented on #939
Yeah.

[2016-12-21 23:29] davkean opened #1021 "Retargeting your project causes "C:" drive to appear in project"
Team Procedure that leads to the bug

1. Start new .Net Core console app target 4.5.2 (also tested 4.6.2)
2. Right click on project-->properties and set .NetCoreApp to 1.1 (default is 1.0)
3. Save properties file and close
4. Right click Dependencies Nuget-->Updates and install Microsoft.NETCore.App v1.1

Your C: Drive should appear in Solution explorer down to .nuget-->(folders)-->1.4.0->runtimes

[2016-12-21 23:40] jviau commented on #934
@srivatsn I don't have permissions to close issues. But yes, we are tracking this in our database.

[2016-12-21 23:44] #934 closed

[2016-12-21 23:58] #258 closed

[2016-12-22 00:03] mlorbetske opened #1022 "Referencing a PCL breaks Intellisense in VS2015 Update2 but still compiles"
Moved from dotnet/cli#3126 (and aspnet/tooling#849) on behalf of @storment.

------

## Steps to reproduce

Create a PCL (PortableClassLibrary1) targeting .NETPortable,Version=v4.5,Profile=Profile111

[code]

Create a test class in the PCL

[code]

Create a project (Project1) targeting netstandard1.5 or netcoreapp1.0
Edit frameworks in project.json to import the PCL.

[code]

Create a test class i

[2016-12-22 00:19] jviau commented on #793
@srivatsn this is a CPS issue. We won't be able to load the project, as without the XAML rules CPS has no idea how to interpret the project file. The best we could do is a descriptive error. Maybe we can load the .csproj file but have an empty tree with a message saying that no xaml rules were loaded.

I opened a bug in our database to track this.

[2016-12-22 00:20] mavasani commented on #977
@RaulPerez1 I have a fix for this, sending a PR soon.

[2016-12-22 01:25] 333fred commented on #1015
This is caused by the fact that the csproj editor is still open, but the project closed so it removed the temp file. This will be going away in a pull that I'll be submitting shortly that will close the csproj editor when the project is unloaded.

[2016-12-22 01:27] 333fred commented on #1014
Closing this in favor of #780.

[2016-12-22 01:27] #1014 closed

[2016-12-22 01:55] 333fred commented on #880
Hmm. I'm not seeing this on 26019.5, with no external changes. I'll try updating in a bit.

[2016-12-22 03:33] wjk commented on #785
I'm seeing the converse of what @davidfowl is reporting: I add a `<PackageReference>` to the csproj, run `dotnet restore`, and find that the autocompletion does not present APIs in the added package. If I manually type the full name of an API, it is colored properly, and member and parameter IntelliSense works properly; only completion of the type names themselves seems to be broken. This conditio

[2016-12-22 04:32] codito commented on #976
@gulbanana thanks for reporting this. We're tracking this issue for an upcoming release.

[2016-12-22 10:14] KirillOsenkov opened #1028 "Duplicate declaration of CSharp PropertyPageSchemas both in MPS and MSBuild"
Exhibit A:
https://github.com/dotnet/roslyn-project-system/blob/master/src/Targets/Microsoft.CSharp.DesignTime.targets#L21-L31

Exhibit B:
https://github.com/Microsoft/msbuild/blob/xplat/src/XMakeTasks/Microsoft.CSharp.CurrentVersion.targets#L49-L59

I'm curious if somehow the items defined by MSBuild are turned off in Roslyn Project System? Because I'm getting this from the CPS trace logger (host

[2016-12-22 10:32] davkean commented on #1028
"MPS", I like.

[2016-12-22 12:27] KirillOsenkov opened #1029 "Generating snapshot for rule "ConfigurationGeneral" failed -- Benign?"
If I enable tracing in my host I get these messages:

[code]

This is the code in CPS that probes the DataSource of the ConfigurationGeneral rule and doesn't find MSBuildTarget:

[code]

originating from this stack:
[code]

[2016-12-22 15:39] srivatsn commented on #793
Thanks i'll keep this issue open as a tracking item.

[2016-12-22 17:16] basoundr commented on #510
Blocked until LOC is completely moved over to GitHub and the insertion happens from the new source

[2016-12-22 18:35] srivatsn commented on #1021
This is because of an issue in the diasymreader.native package which is a newly added dependency in 1.1. The package has been fixed and https://github.com/dotnet/corefx/issues/14627 is tracking updating the package in 1.1.1 for this issue.

The package is adding a Content item and so the project system is basically doing showing the content item. Not sure if there's anything we can do to fix the 1

[2016-12-22 18:39] srivatsn commented on #1028
For all the rules that come from Common.CurrentVersion.targets, there's a flag to turn them off and we set that [here](https://github.com/dotnet/roslyn-project-system/blob/master/src/Targets/Microsoft.Managed.DesignTime.targets#L12) We should make CSharp.CurrentVersion.targets respect that flag as well.

[2016-12-22 18:40] srivatsn commented on #1029
@lifengl @jviau @adrianvmsft - any idea if this is an issue?

[2016-12-22 19:16] srivatsn opened #1030 "Ambiguity between same member with linked source file."
Reported through [VS Feedback](https://developercommunity.visualstudio.com/content/problem/2482/ambiguity-between-same-member-with-linked-source-f.html)

If a source file is added as a link in a .Net Standard library, all references to members inside the source file (class source file) all have the issue of "Ambiguity between 'Class.Member' and 'Class.Member'". If the member definition name is cha

[2016-12-22 19:20] srivatsn commented on #1030
I can repro this. The compiler builds fine and this only happens in the IDE. When I look at the design time build log it's passing only that one linked file to compiler. I think there's a bug in our LS host that's causing us to send the same linked file twice to the language service.  If I simply have another copy of this file in a regular project I see the ambiguity error in copy and a whole bunc

[2016-12-22 19:22] mavasani commented on #1030
Dupe of https://github.com/dotnet/roslyn-project-system/issues/986?

[2016-12-22 19:25] srivatsn commented on #1030
Could be - can you please take a look?

[2016-12-22 20:37] srivatsn opened #1031 "Build Events in project lose line separators making them very hard to read and maintain"
Using Dev15 d15rel 15.0.25831.1
File->New->Project->C# WpfApp
Project->Properties->BuildEvents->Edit Post Build event:
paste in these 2 lines
@echo hi
@echo there
They look fine.
Examine the .CSPROJ with a binary editor
Confirm that there are Cr/Lf between the lines
Close the solution,
Reopen the solution
Project->Properties->BuildEvents
Observe that the 2 lines are together now with no cr/lf betw

[2016-12-22 21:16] davkean commented on #1031
Is this the page or the project system? Does the same thing happen for .NET Core?

[2016-12-22 21:22] srivatsn commented on #1031
Don't know. This was reported through VSFeedback multiple times - [Link1](https://developercommunity.visualstudio.com/content/problem/2615/vs-2017-rc1-project-properties-box-prepost-build-e.html) [Link2](https://developercommunity.visualstudio.com/content/problem/2588/problem-during-opening-project-with-build-events-v.html) [Link3](https://developercommunity.visualstudio.com/content/problem/4730/c

[2016-12-22 21:41] mavasani commented on #1030
This is indeed a dupe of #986. Repro is even simpler - just add a source file to your project from any parent OR sibling directory of the project directory (need not be a linked file) and you will see duplicate member results.

[code]

Seems like we are receiving more than one evaluations with same source file added. Investigating..

[2016-12-22 21:46] basoundr commented on #1019
The changes to make this happen is at [basoundr/ModifyEnc](https://github.com/basoundr/roslyn-project-system/tree/ModifyEnc)

Note: If the EnC capability is not added to the Initial capabilities during project load then the EnC component does not participate in Com Aggregation.

[2016-12-22 21:50] mavasani commented on #1030
Ah seems like we receive 2 evaluations with following paths:

1. `%root%\Class1.cs`
2. `%root%\ClassLibrary1\..\Class1.cs`

We have a hash set of added source files in our SourceItemHandler, but that caches the provided paths in the CPS update, not the normalized paths.

[2016-12-22 21:52] davkean commented on #1021
Yep, but we should figure out if this is the correct behavior for CPS. This is a different behavior from the legacy project system where it wouldn't show items that came from targets.

I suspect that other packages do this same thing, such as the desktop version of xUnit.

[2016-12-22 22:30] srivatsn commented on #1031
[One more VSFeedback report](https://developercommunity.visualstudio.com/content/problem/6649/events-assembly-when-you-save-a-project-closing-op.html)

[2016-12-22 22:41] basoundr commented on #995
@Yves57 I tried to repro this issue but I am having some trouble getting the test solution ready.

I cloned the repo and ran build.cmd. It gave the following error(pasted just the erroring portion)

---------------------------------------------------------------------
info: Run target: test
info: Run target: package-prepare
info: Run target: nuget-verify
info: Exec
info:   program: dotnet
info:

[2016-12-22 23:11] Yves57 commented on #995
@basoundr
I use directly Visual Studio to compile the sources, not "build.cmd". And I had some problems to build it (see aspnet/KoreBuild#152), but clearly not this kind of problem. And I finally succeeded to build the sources.
The error dialog is displayed after, only when debugging the "RazorPageGenerator" application.

[2016-12-22 23:39] KirillOsenkov commented on #1028
Yes but from what it looks like this may require an MSBuild change because they don't seem to provide a way to turn their stuff off. That part of the file (ItemGroup) is unconditional.

/cc @RainerSigwald @AndyGerlicher

[2016-12-23 00:32] 333fred commented on #363
One question I have on this: do we want to do namespace renames? If we move a file from a path that is a valid namespace to a path that is a valid namespace, it seems reasonable that we should prompt to move the namespace the contained class is in.

[2016-12-23 00:44] mavasani commented on #1001
Already have a PR out for this: https://github.com/dotnet/roslyn-project-system/pull/1023

[2016-12-23 00:44] mavasani commented on #1000
PR to fix this: https://github.com/dotnet/roslyn/pull/16063

[2016-12-23 00:44] mavasani commented on #977
https://github.com/dotnet/roslyn-project-system/pull/1023

[2016-12-23 01:05] davkean commented on #363
Move or sync it? My opinion is that I don't think we should ever prompt - we should just add an undo unit so that the user can under the rename.

[2016-12-23 01:05] #986 closed

[2016-12-23 01:05] #1030 closed

[2016-12-23 01:08] #924 closed

[2016-12-23 01:16] 333fred opened #1035 "Moving a file in the project should offer to move the type"
If the user drags and drops a file inside the project, we should offer to move the types in the file to the new namespace. Example:

`Project/Foo/Bar.cs` (contains type `Foo.Bar`) -> `Project/Baz/Bar.cs` (prompt to move `Foo.Bar` to `Baz.Bar`)

[2016-12-23 01:17] 333fred commented on #363
Filled https://github.com/dotnet/roslyn-project-system/issues/1035 for that idea.

[2016-12-23 04:06] wjk opened #1036 "Transitive package references not followed"
Please forgive me if this is a duplicate of something, or is filed in the wrong place; I have read several issues regarding reference handling errors and was not certain which most closely matches my symptoms.

Here is what I did to trigger this bug:

1. Create a Visual Studio solution.
2. In a subfolder, run `dotnet new`, then `dotnet restore`. I have modified the default csproj format slightly,

[2016-12-23 05:27] sujaysarma commented on #1031
Why are we tracking this bug under Roslyn? This is a .csproj bug (old project system). Also, as of Build VisualStudio/public.d15rel/15.0.26009.0 this is no longer an issue. It is working correctly now.

[2016-12-23 06:17] davkean commented on #1031
Because the page lives in this repo.

[2016-12-23 08:10] davidfowl commented on #1036
I can't reproduce this with a file new project in VS 2017 RC2

[2016-12-23 14:00] jcansdale commented on #924
@davkean Thank you very much for the workaround and the fix. I look forward to trying the new version.

Happy holidays! 😄

[2016-12-23 22:17] wjk commented on #1036
@davidfowl Sorry I didn't get back to you earlier. I just created a brand-new project (`dotnet new`, unmodified), restored it, and it won't build. It complains that the `Console` type is not found, just as above. Creating the project using Visual Studio has the same issue, plus some complaints from MSBuild. (I will file an issue on `dotnet/sdk` about those.) Here is my `dotnet --info` output:

[co

[2016-12-24 01:06] davkean commented on #924
No problems, happy holidays back to you.

[2016-12-24 01:06] davkean commented on #924
If you run into any sort of weirdness or behavior difference from the old project system, feel free to file a bug.

[2016-12-24 16:51] djanosik commented on #796
Try this:
1) Create a new .NET Core console app.
2) Edit the .csproj to target .NET Core 1.1 (change TFM and dependency version).

The following item should appear in solution explorer.

![image](https://cloud.githubusercontent.com/assets/858180/21468021/8479c830-ca01-11e6-84ca-ab1eab9499e7.png)

The project will not load next time.

[2016-12-26 15:04] sweetwxh commented on #862
I have the same issue with the last version of vs2017. When I updated all packages(include Microsoft.NETCore.App to 1.1.0) with netcoreapp1.0, everything goes fine. But after change netcoreapp to 1.1, the project can't be opened by VS. When I change netcoreapp to 1.1 first, then update all packages, a "c" driver directory appears in project.

[2016-12-26 15:58] NickCraver opened #1038 "VS 2017 RC 15.0.26014.0 Continually building with new project system"
I'm seeing VS 2017 continually compile, eating CPU and battery with the current MiniProfiler solution ([exact commit here](https://github.com/MiniProfiler/dotnet/tree/9f46ce58d730f8899195bcf36bf3bfb1feff2329)). There's a consistent stack of NuGet trying to restore (`NuGet.PackageManagement.VisualStudio.SolutionRestoreWorker`), but that may just be the normal behavior (waiting point) and not relate

[2016-12-26 16:07] davkean commented on #1038
By continually compile, what do you mean exactly? Is there a visible build going on in Visual Studio? Or just the compiler service going on in the background?

[2016-12-26 20:34] dsplaisted opened #1039 "In item properties, "<reset to default>" does not appear in dropdown until item has been deselected and reselected"
- Create a new Console App (.NET Core)
- Select Program.cs in Solution Explorer
- In Properties window, change "Copy to Output Directory" from "Do not copy" to "Copy if newer"
- Open dropdown for "Copy to Output Directory" properties

EXPECTED: Dropdown includes "<reset to default>"
ACTUAL: Dropdown does not include "<reset to default>", until you deselect and reselect the item in Solution Explore

[2016-12-26 20:37] dsplaisted opened #1040 "In item properties, property value for "Copy to Output Directory" should be displayed after selecting "<reset to default>""
- Create a new Console App (.NET Core)
- Select Program.cs in Solution Explorer
- In Properties window, change "Copy to Output Directory" from "Do not copy" to "Copy if newer"
- Deselect and reselect Program.cs in Solution Explorer (workaround for #1039)
- Open dropdown for "Copy to Output Directory", and select "<reset to default>"

EXPECTED: Property value shows "Do not copy" unbolded, to indica

[2016-12-27 00:24] dsplaisted opened #1041 "Project system crash with items that have Link metadata defined using recursive path properties"
Attempt to use a wildcard to include source files in a shared folder, and to set the `Link` metadata to control how they appear in the project tree, like this:

[code]

Repro project: [LinkMetadataRepro.zip](https://github.com/dotnet/roslyn-project-system/files/673392/LinkMetadataRepro.zip)

- Open project

EXPECTED: Project opens successfully
ACTUAL: Project system has encountered an error:

[cod

[2016-12-27 00:38] dsplaisted opened #1042 "Removing Link metadata of item while project is open causes crash"
- Create a new Console App (.NET Core) project
- Add a source file outside of the project folder to the project, using "Add as Link".  Save the project file.  You will get an item like the following:

[code]

- Open the project file in an external editor, and delete the `Link` metadata item, so you end up with an item like `<Compile Include="..\..\Shared\Class1.cs" />`
- Save the edited project fi

[2016-12-27 00:42] dsplaisted opened #1043 "Use item attribute instead of sub-element for Link metadata"
When you "Add as Link" items which are outside of the project folder, you get XML like the following:

[code]

We should consider writing the `Link` metadata as an attribute, so that the result is instead:

[code]

[2016-12-27 02:34] NickCraver commented on #1038
@davkean no visible activity in Visual Studio - only sign this was happening was CPU being eaten by Parallels, and me looking at Task Manager to find the culprit. Both VS 2017 and MSBuild are eating 10% CPU a piece, so both are in play...but it's a background operation from the user/UI point of view.

[2016-12-27 02:50] davkean commented on #1038
Okay, we'll investigate the stack. Do you have Live Unit Testing turned on?

[2016-12-27 02:53] NickCraver commented on #1038
Nope on live unit testing - I couldn't get it to work at the time and disabled it again after tinkering for an hour.

[2016-12-27 16:50] SomeAnon42 opened #1044 "Unable to change build action/related options: property value is not valid"
Steps to reproduce:
1. Create a new C# project (in my case, it was a shared project)
2. Add an existing file ~~with a double extension~~ to the project (e.g. 'program.exe.vcdiff')
**3/7/2017:** the file extension doesn't really matter, I was able to repro this with _New Text Document.txt_
3. Try to rename it or change the build action **and** some other related property (e.g. _Copy to Output Direc

[2016-12-27 18:49] basoundr commented on #995
@Yves57 I am currently working on a newer build of Visual Studio and I don't see the Null Reference Exception. Could you please verify this repro-es? Also, from the screenshot, is the Exception thrown at the line `if (args == null || args.Length != 1)`?

[2016-12-27 21:37] Yves57 commented on #995
I'm not a Microsoft developer, so I can't test "new builds". And the problem is visible in debug mode or not. It is not about the breakpoint or the line under the breakpoint.

[2016-12-27 23:35] srivatsn opened #1046 "Request: easier to switch between PCL and ClassLibrary"
_From @ljw1004 on November 6, 2015 22:30_

Please make it easy to switch between a PCL and a ClassLibrary.

Scenario: I wrote an analyzer a while ago during beta period, when the analyzer template still spat out ClassLibraries. Then RTM happened, and guidance was to write them as PCLs. I don't know how to switch a library "in-place", so I had to delete my existing folder, create a new project in i

[2016-12-27 23:35] srivatsn commented on #1046
_From @Pilchie on September 15, 2016 16:59_

Tag @srivatsn @davkean Sounds like this should move to the project system repo?

[2016-12-27 23:47] srivatsn commented on #870
These single file generators are only run in VS. To run tools x-plat and in msbuild, you probably want to build a CLI tool. @piotrpMSFT do we have any docs on that?

[2016-12-28 00:42] rrelyea opened #1047 "Upgrading from .net core 1.0 to .net core 1.1 in vs2017 has extra content in solution explorer"
Porting from: https://github.com/NuGet/Home/issues/4152
(which was based on 2 vsfeedback issues).

Procedure that leads to the bug
- Start new .Net Core console app
- Right click on project-->properties and set .NetCoreApp to 1.1 (default is 1.0)
- Save properties file and close
- Right click Dependencies Nuget-->Updates and install Microsoft.NETCore.App v1.1
- Your C: Drive should appear in Solut

[2016-12-28 01:45] #1000 closed

[2016-12-28 01:45] mavasani commented on #1000
Fixed in Roslyn.

[2016-12-28 07:29] dsplaisted opened #1048 "Dragging file between folders which match wildcards for different Build Action items results in file being included in both"
- Create a new Console App (.NET Core) project
- Add the following to the `.csproj` file:

[code]

- Create a `wwwroot` folder in the project folder
- Create `TextFile1.txt` in wwwroot folder
- Create `TextFile2.txt` in project root folder
- Alternatively, open the following repro project instead of the provious steps: [FolderBuildActionRepro.zip](https://github.com/dotnet/roslyn-project-system/fi

[2016-12-28 09:20] rhegner commented on #660
I have the same problem with VS 2017 RC with v=1.0.
Is there a workaround for this?

[2016-12-28 10:08] BladeWise commented on #660
I am able to open such projects by deleting bin and obj folders.
You can use the attached batch (put it inside the solution folder).
[CleanUp.zip](https://github.com/dotnet/roslyn-project-system/files/675379/CleanUp.zip)

[2016-12-28 20:41] srivatsn commented on #1041
@lifengl @jviau @adrianvmsft sounds like a CPS issue?

[2016-12-28 20:50] srivatsn commented on #1048
Is this a CPS issue - @lifengl @jviau @adrianvmsft?

[2016-12-28 20:51] srivatsn commented on #1047
Dupe of #1021

[2016-12-28 20:51] #1047 closed

[2016-12-28 20:52] srivatsn commented on #1042
@lifengl @jviau @adrianvmsft - looks like a CPS issue?

[2016-12-28 20:58] srivatsn commented on #1022
This is an issue in the PCL tooling in the old project system. Filed a internal TFS issue as that code is not in this repo.

[2016-12-28 20:58] #1022 closed

[2016-12-28 20:58] srivatsn commented on #1021
@lifengl @jviau @adrianvmsft thoughts?

[2016-12-28 22:11] 333fred commented on #888
Reverted with https://github.com/dotnet/roslyn-project-system/pull/1049.

[2016-12-28 22:21] srivatsn opened #1050 "Make Project Properties Page Fields Responsive Instead of Fixed Width"
Reported through [VS Feedback](https://developercommunity.visualstudio.com/content/problem/8223/make-project-properties-page-fields-responsive-ins.html)

Surely there's some way of increasing its usability by making the page more 'reponsive', or at least making the field multiline like the 'Command Line Arguments' field is.

![image](https://cloud.githubusercontent.com/assets/20570/21532811/de02e7

[2016-12-28 22:44] lifengl commented on #1042
I am pretty sure that our code doesn't handle this change, because it doesn't happen without editing the file directly.  We don't support a file item outside the project folder without link metadata well, but should not crash.

Maybe more important is to ensure we don't crash when handling an unsupported change in this version, instead of this specific change in the RTM.  I am pretty sure this is

[2016-12-28 22:50] lifengl commented on #1021
Unfortunately, the CPS project tree is driven by the instance model of the msbuild evaluation results.  We don't know whether an item is coming from a target or not.  It would be a breaking change too.  You also want to put globbing in targets files.

Sent from my phone

On Dec 29, 2016, at 4:59 AM, Srivatsn Narayanan <notifications@github.com<mailto:notifications@github.com>> wrote:

@lifengl<htt

[2016-12-28 22:53] lifengl commented on #1041
This scenario is not supported at this moment.

Sent from my phone

On Dec 29, 2016, at 4:41 AM, Srivatsn Narayanan <notifications@github.com<mailto:notifications@github.com>> wrote:

@lifengl<https://github.com/lifengl> @jviau<https://github.com/jviau> @adrianvmsft<https://github.com/adrianvmsft> sounds like a CPS issue?

-
You are receiving this because you were mentioned.
Reply to this email di

[2016-12-28 23:08] dsplaisted commented on #1041
@lifengl Is there any way to include files outside the project directory without listing each one in the project file, and have them display nicely in the project tree?

[2016-12-28 23:20] davkean commented on #1041
@lifengl Can we not crash in this case though?

[2016-12-28 23:26] davkean commented on #1021
Today's behavior from inheriting from targets sounds okay, especially given we're making use of this for the globs. However, it sounds like from this: https://github.com/dotnet/roslyn-project-system/issues/1047 the item is marked as `<Visible>false</Visible>`. Upgrading my build so can't check this - but we should at least respect this, and if we're not we should fix that.

[2016-12-28 23:45] davkean commented on #1021
Just tested this, CPS _does_ respect `<Visible>false</Visible>` on an item, however, it's creating folders in the visible that represent the path to those items, even if there are no visible items.

That, I think is the bug.

[2016-12-29 02:12] lifengl commented on #1021
I agree it is somewhat a bug.

It would be tricky to fix though.  Because it only happens when you have some target files like this, maybe we can move it after RTM.

Currently, the visibility and other flags are calculated by tree property providers, but only parent node affects children.  No visible children is a condition not supported by this model or we will produce loop dependencies and canno

[2016-12-29 02:13] lifengl commented on #1041
Of course, we should not crash.

Sent from my phone

On Dec 29, 2016, at 7:20 AM, David Kean <notifications@github.com<mailto:notifications@github.com>> wrote:

@lifengl<https://github.com/lifengl> Can we not crash in this case though?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/dotnet/roslyn-project-system/issues/1041#is

[2016-12-29 02:21] dsplaisted commented on #1021
@lifengl How do you fix this in the target file?  My understanding of @davkean's description is that even if you set Visible to false on the item, the folder structure still shows up.

[2016-12-29 02:21] lifengl commented on #1041
It is in our backlog.

Calculating link metadata through some msbuild ways might provide a workaround for now, which is what you tried.

I am not sure why you hit the exception.  It could be some items mapped to the same path and causing conflicts, which we don't handle well.

But our code doesn't handle the project you created in this way, when the user manipulates the project, and may corrupt th

[2016-12-29 02:28] lifengl commented on #1021
I see.  I thought those items would be removed from the target file, or using some item types, which would not be shown.

A workaround may be that you add a folder node to the target file, and set the visibility to false.

The default folder rule doesn't support visible, so you have to update the folder rule too.

Sent from my phone

On Dec 29, 2016, at 10:21 AM, Daniel Plaisted <notifications@git

[2016-12-29 02:53] 333fred commented on #888
Reverted because the Jenkins machines are having licensing issues currently, causing a pop-up to occur and extension deploy to time out.

[2016-12-29 03:33] onovotny opened #1051 "Exclude Glob crashes VS"
I have the following glob that as I hit Ctrl+S to save, instantly crashes VS:

`Exclude="Platforms\**.*"`

[code]

[2016-12-29 03:38] davkean commented on #1051
Is this CPS or MSBuild? @lifengl cdmihai ?

[2016-12-29 03:39] onovotny commented on #1051
CPS, I assume, it was when modifying the exclude glob in this line:
https://github.com/onovotny/MultiTargetTheWorld/blob/9a29dfe243c6e715b9853a6a4676e2c1390059de/MultiTargetTheWorld/MultiTargetTheWorld.csproj#L36

[2016-12-29 03:41] davkean commented on #1051
FileMatcher.GetFiles null referenced, it looks like an MSBuild issue.

[2016-12-29 03:42] onovotny commented on #1051
@davkean ah, sorry, misread your question, thought you were asking about which project system I was using for this.

[2016-12-29 05:26] davkean commented on #893
I stepped through this and confirmed this behavior, but it looks like wrong on both sides. It looks this works by change with the current design of the settings/resources editors - it's actually [using the resulting path](https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.AppDesigner/ApplicationDesigner/ApplicationDesignerView.vb#L767) expecting it to be correct

[2016-12-29 09:06] cjbhaines commented on #1021
@lifengl I think it would be good to get this fixed before RTM. I reported this already and I've seen many other duplicates. It looks really weird and I think you are going to get a lot of noise if you release this as it is.

[2016-12-29 19:11] mavasani commented on #796
@djanosik I tried this on the latest internal VS drops and I can repro the above folder tree showing up after changing the project target framework and dependency to 1.1. However, the project loads fine the next time (I tried closing and opening the solution multiple times). The former issue is tracked by https://github.com/dotnet/roslyn-project-system/issues/1021, and the latter seems to have bee

[2016-12-29 19:11] #796 closed

[2016-12-29 19:22] 333fred commented on #880
I'm not seeing this on 26029.01.

[2016-12-29 22:10] rrelyea commented on #1021
yes, we got at least 2 vsfeedback issues to the nuget team. likely many dupes.

[2016-12-29 22:24] davkean opened #1056 "Rename Microsoft.VisualStudio.Editors.Designer.Designer and Microsoft.VisualStudio.AppDesigner.Designer.Designer resource classes"
AppDesigner/Editors have resources classes called [Microsoft_VisualStudio_AppDesigner_Designer](https://github.com/dotnet/roslyn-project-system/blob/b22cf2e196665e747a00c60d53aba0865567f329/src/Microsoft.VisualStudio.AppDesigner/Resources/Microsoft.VisualStudio.AppDesigner.Designer.Designer.vb) and [Microsoft_VisualStudio_Editors_Designer](https://github.com/dotnet/roslyn-project-system/blob/b22cf

[2016-12-29 23:20] mavasani commented on #1038
I tried to repro this issue on the latest VS2017 prerel build, but with no luck:
[code]

@NickCraver I opened the MiniProfiler.sln, was able to restore and build it, but opening the solution in VS and waiting for background activity doesn't show any MSBuild or devenv CPU consumption, as mentioned in your repro. I also played around with editing csproj files, but any CPU activity after edits last f

[2016-12-29 23:39] wjk opened #1057 "Visual Studio editor coloring lag"
When I edit a .NET Core project in Visual Studio 2017 RC (version 15.0.26014.0), the syntax coloring in the editor is laggy. While screenshots might illustrate this issue better, it is rather difficult to provide them, due to the extremely small time period when it is evident. When I type code into a C# file in my .NET Core project, the syntax coloring does not update to reflect the code just ente

[2016-12-30 00:14] davkean commented on #1057
What kind of project are you writing? It is targeting multiple frameworks?

[2016-12-30 00:39] davkean opened #1058 "RESX code generation does not respect <LogicalName>"
The RESX code generation does not respect the `<LogicalName>` metadata item on a `<EmbeddedResource/>` item.

For example, the following:

[code]

Should result in code gen with:

[code]

but actually results in:

[code]

We hit this fixing: https://github.com/dotnet/roslyn-project-system/issues/1056

[2016-12-30 01:47] #1056 closed

[2016-12-30 02:23] wjk commented on #1057
I am only targeting `netcoreapp1.0`. This occurs in both command-line tool and in library projects.

[2016-12-30 04:11] davkean commented on #1057
Thanks we'll investigate.

[2016-12-30 05:18] davkean commented on #522
No longer relevant given the SDK changes where we reference it by default.

[2016-12-30 05:18] #522 closed

[2016-12-30 05:18] davkean commented on #66
This has been removed - there's no work to do here.

[2016-12-30 13:03] tmat commented on #66
Actually, it's still there to support DTEE for class libraries. It's only loaded when DTEE is used.

[2016-12-30 20:49] 333fred commented on #690
This was fixed in the CLI when running migrate on a solution file.

[2016-12-30 20:49] #690 closed

[2016-12-30 22:10] 333fred commented on #880
@dsplaisted and I talked offline, it's not reproing.

[2016-12-30 22:10] #880 closed

[2016-12-30 22:14] 333fred commented on #743
Adding whitespace to this bug as well, as they're the same issue. A CPS change is needed to fix this.

[2016-12-31 22:45] lifengl commented on #1021
Hmm,

I guess set visible = false will add an show--when-show-all-file-is-on item, so they will be shown when the user turns on the option.  That is not what we want.  We need at least fix the CPS tree flag logic and change it to always-hidden for nodes outside of the project cone.  Only fix the top node should be enough.

I need think about the second part of the fix.  I think we need add one mor

[2017-01-03 03:45] davkean opened #1063 "Visual studio very high CPU usage after drag drop"
Ported from https://devdiv.visualstudio.com/DevDiv/_workitems?id=274513&fullScreen=true&_a=edit.

VS can get into a permanent state of very high CPU usage (~80% CPU used at idle on a VM) after performing some drag drop operations in the solution explorer. VS also hung for a few minutes.

[2017-01-03 03:46] davkean commented on #1063
I looked at the dump - it looks there's a bunch of rename sessions being kicked off. This looks like due to our renamer.

[2017-01-03 17:33] mavasani commented on #1017
This is now blocked by https://github.com/dotnet/sdk/issues/574

[2017-01-03 18:34] gardnerjr commented on #949
it would be nice to have one common thing that tells what the references are whether they are installed or not, without knowing about msbuild or walking build trees/etc, what kind of project it is, etc.  It's strange that *some* kinds of csproj projects give you one answer when calling nuget packages whether installed/restored or not, and another kind of csproj gives you different answers dependin

[2017-01-03 18:45] gardnerjr commented on #949
aside: @jviau can you give me details about your "get a hold of the msbuild project and ask it for package reference items" workaround?  we need do to *something* until there's a better way.

[2017-01-03 18:51] adrianvmsft commented on #1048
I think that behavior is by design... when you drag drop the file, the physical file gets removed from the source, so it doesn't need to be removed from Content anymore.

[2017-01-03 19:26] 333fred commented on #956
This is still repro'ing for me on d15prerel/26102.03. Looking at the solution explorer, it seems like the design-time build isn't getting the NuGet packages for some reason:
![image](https://cloud.githubusercontent.com/assets/2371880/21620090/87fcf4d4-d1a7-11e6-9b52-ab129fc5d130.png)

[2017-01-03 19:52] #977 closed

[2017-01-03 20:00] srivatsn commented on #956
Can you take a look? Could it be related to #785?

[2017-01-03 20:19] #1043 closed

[2017-01-03 20:44] jviau commented on #949
@davkean CPS does have support for `VSLangProj.References` and other types through our `OAVS*` classes. I did some investigation and found that the new Dependencies tree is not working with our implementation. I will keep looking into it and see where the fix should go.

@gardnerjr the MSBuild way will only tell you what packages should be there, but not what is restored or not, so it may not be s

[2017-01-03 20:49] gardnerjr commented on #949
@jviau knowing what packages should be there is all we actually need to know.  if it *should* be there, then our tool would show "configure" options, if it isn't found as "should | installed" then we'd show our "add" menu items/etc.  given the time left in RC3 is very short, even that kind of workaround is good enough for us for now.

[2017-01-03 20:50] jviau commented on #1040
@dsplaisted this is a known issue in CPS, we do not refresh the properties window until the item is deselected then re-selected. We would like to fix this, but it was moved out of RTM. It is on our backlog though and will be revisited later.

[2017-01-03 20:51] #1040 closed

[2017-01-03 20:54] jviau commented on #1048
This is by design. You can see our globbing behavior document [here](https://github.com/Microsoft/VSProjectSystem/blob/master/doc/overview/globbing_behavior.md). When moving/renaming an item CPS' end goal is that the item remains included under its **current** item type. This means adding a `<None />` include for it. We do not care if there is an existing glob for another item type at the target l

[2017-01-03 22:16] NickCraver commented on #1038
@mavasani Sorry, I just now got back to this - I have the trace (38MB), do you want to send me an upload location? My email is craver at stackoverflow.

[2017-01-03 22:49] dsplaisted commented on #1048
@jviau

I don't think this matches user expectations.  If I drag an item from a folder covered by a `None` glob to a folder covered by a `Content` glob, I expect either:

- That the item will be included in `None` but not in `Content` (preserving the item type / build action)
- That the item will be included in `Content` but not in `None` (matching the default item type / build action applied to t

[2017-01-04 00:37] basoundr opened #1067 "Debug property page font size regressed"
![image](https://cloud.githubusercontent.com/assets/10550513/21628241/c9d3b462-d1d2-11e6-9b4f-30c5cef8d599.png)

d15prerel 26102.3

[2017-01-04 00:47] davkean commented on #1067
This is just: https://github.com/dotnet/roslyn-project-system/issues/646.

[2017-01-04 00:47] #1067 closed

[2017-01-04 00:48] davkean commented on #1067
You can tell it's a dup - look at the size of your tabs and their font, that's not the default DPI/font size.

[2017-01-04 01:02] 333fred commented on #761
Fixed via 0062e1.

[2017-01-04 01:03] #761 closed

[2017-01-04 01:39] #1016 closed

[2017-01-04 15:57] john-t-white commented on #745
I know this issue is closed and the link says it is fixed, but I am running into the same issue.  My visual studio 2017 version is VisualStudio/public.d15rel/15.0.26014.0.  I am also getting an error that the OutputPath is missing when I build and noticed there is no default namespace set in the project properties.

[2017-01-04 17:31] jinujoseph opened #1069 "Application properties page section relevance to .NET Core projects"
![image](https://cloud.githubusercontent.com/assets/12449387/21652161/772dcfa2-d260-11e6-908b-8ace4487ef0f.png)

[2017-01-04 18:05] drieseng commented on #1041
For me, this works fine:

[code]

The only issue I have is that any folder that is recursively linked is marked as deleted:

![image](https://cloud.githubusercontent.com/assets/312863/21653200/42827faa-d2b0-11e6-989a-5dee1e3f0805.png)

To reproduce, open the **Renci.SshNet.VS2017** solution in https://github.com/sshnet/SSH.NET/commit/d95276d8614a503309c7248f99e233bdea3bb4bb and expand the **Renci.

[2017-01-04 18:24] jinujoseph commented on #1069
Reported by @DamianEdwards

[2017-01-04 18:27] jinujoseph opened #1071 "Reference Paths properties page relevance to .NET Core projects"
![image](https://cloud.githubusercontent.com/assets/12449387/21653915/4047f85c-d268-11e6-9cf5-a5a296ac6d19.png)

o	What does this do? Does it make sense in a .NET Core/.NET Standard project to have it?

Reported by @DamianEdwards

[2017-01-04 18:35] 333fred commented on #806
This was fixed in #1065.

[2017-01-04 18:35] #806 closed

[2017-01-04 18:46] rrelyea opened #1072 "Richer support for manipulating NuGet dependencies in solution explorer"
internal feedback item: 732977 (resolved dupe to this new item)
From Daniel Roth, asp.net core team - When you right click on the NuGet node under Dependencies in a .NET Core project you don't get the option to Manage NuGet Packages. This is inconsistent with the experience for Bower packages - you can right click on Bower and manage your Bower packages. The work around is to right click on the De

[2017-01-04 21:47] jviau commented on #949
@gardnerjr this document [subscribe_to_project_data](https://github.com/Microsoft/VSProjectSystem/blob/master/doc/automation/subscribe_to_project_data.md) is probably the best option for you. You will want to subscribe to "PackageReference". And here is how you obtain the `UnconfiguredProject` the example uses: [finding_CPS_in_a_VS_Project](https://github.com/Microsoft/VSProjectSystem/blob/master/

[2017-01-04 22:16] davkean commented on #745
@john-t-white Please open a new bug with a repro project.

[2017-01-04 22:38] 333fred commented on #785
@davidfowl, I'm not able to repro this issue on the latest internal builds.

@wjk, I'm not seeing that issue either. I'm confused what you mean by manually running `dotnet restore` though; when you modify the project file to add a `PackageReference`, we should be automatically picking up the change and restoring the new packages, without you having to do anything extra. Could you tell me what step

[2017-01-04 22:44] davkean commented on #1069
It might not be as relevant but it's still relevant, If you run on Windows and you need a win32 manifest (perhaps you want to avoid being version shimmed, or you want to be always elevated).

My question is, though, do we respect it via "dotnet exec" - probably not.

[2017-01-04 22:58] davkean commented on #1071
Yeah, it's not that relevant, it's basically used to supplement the directories where we look for "Bar" in `<Reference Include="Bar"/>`.

I'd argue that we should probably remove this page in general for all projects - it burns a set of paths in the .user file - so a team member doesn't see it, or a 'git clean' and you've lost the settings.

[2017-01-04 23:04] davkean commented on #949
@jviau I pinged Andrew/Lifeng on this offline but I think asking consumers to listen to the project subscription data is the wrong approach, it requires him to understand:

-	The msbuild representation of what makes up a package reference both at evaluation and design-time and make sure I agree with all the other services (language service, dependency node, VSLangProj.Referenes, etc). For example,

[2017-01-04 23:08] jviau commented on #949
@davkean yes I agree, but @gardnerjr  wanted a workaround for the time being. @abpiskunov and I are working on getting VSLangProj.References working again with the dependency tree. We are also considering including support for PackageReference in this work as well, but it will need some design.

[2017-01-04 23:13] gardnerjr commented on #949
Yes, i just need a workaround.  Is there any way to do this without all the subscriptions?  i need a "what are the packagereferences *right now*" type check for some BeforeQueryStatus VSCT calls.  I don't need (or really want) to watch ongoing changes while the user is doing things.

[2017-01-04 23:25] #507 closed

[2017-01-04 23:55] #734 closed

[2017-01-05 00:12] jinujoseph commented on #419
I am seeing this still in latest build .

[2017-01-05 00:13] jinujoseph commented on #419
i beleive https://github.com/dotnet/roslyn-project-system/pull/1060 this should address this.

[2017-01-05 00:25] jinujoseph opened #1076 "Resource editor, doesn’t restrict the resource type to String, which is the only resource type supported in .NET Core"
![image](https://cloud.githubusercontent.com/assets/12449387/21664257/4418a0d0-d29a-11e6-9461-cfa6620b2c8b.png)

Reported by @DamianEdwards

[2017-01-05 00:30] davkean commented on #419
Depends on what you're seeing. This issue is tracking 2 or 3 bugs. Can you open a new one with the underlying issue you are seeing?

[2017-01-05 00:37] lifengl commented on #1041
I see the link file feature expects to link an external file to an existing folder.  There is no virtual folder node concept for file links today.

Sent from my phone

On Jan 5, 2017, at 2:05 AM, Gert Driesen <notifications@github.com<mailto:notifications@github.com>> wrote:

For me, this works fine:

<Compile Include="..\Renci.SshNet\**\*.cs" Exclude="..\Renci.SshNet\Properties\AssemblyInfo.cs">

[2017-01-05 00:38] davkean commented on #1076
If I read the code correctly - this was supposed to be disabled based on whether the types existed or not in the target framework, so might just work once I've fixed https://github.com/dotnet/roslyn-project-system/issues/660. However, in saying that, in portable it didn't - so we disabled the commands manually via a priority command handler but this was real hack.

Instead, we should do it based o

[2017-01-05 00:39] 333fred opened #1077 "Debug.Assert in unit tests opens a dialog when run from the command-line"
Our listener for replacing the Debug.Assert popup isn't working when running tests from the CLI. We need to fix this to allow us to test these conditions from the command line by doing one of two things (quoting @davkean):

1. create a "xunit framework" that wraps regular xunit but puts in a call to add the listener
2. Change xunit's runner app.config to include the listener.
    * ie copy xunit t

[2017-01-05 00:39] jinujoseph opened #1078 "Fails to add a new resource file , Works fine if the file already exists"
![image](https://cloud.githubusercontent.com/assets/12449387/21664581/4846deb8-d29c-11e6-9689-57a3d97aa54a.png)

[2017-01-05 00:40] davkean commented on #419
Oh - I see your image now, sorry - yes this particular error will be fixed by my change, but the question is whether things are still broken after that though.

[2017-01-05 00:41] davkean commented on #1078
Yeah, this will be fixed by https://github.com/dotnet/roslyn-project-system/pull/1060.

[2017-01-05 04:10] davkean commented on #1077
We have a debug trace listener (see src\Common\Test\App.config) that's supposed to prevent it from opening, but this only works inside VS. From the command-line, xunit.AppDomain option is turned off ("denied") which prevents xunit from seeing the App.config settings that apply to a given AppDomain. We can turn it back on but then run the risk of running into https://github.com/dotnet/roslyn/issues

[2017-01-05 18:12] nguerrera opened #1085 "Unit tests fail on non-English machine"
Repro steps: set UI language to French, build.cmd.

These tests have hard-coded expectations for the English value of strings:
✘  EditProjectFileCommand_ValidNode_ShouldHandle
✘  MigrateXprojProjectFactory_NonExistantProjectJson_DoesNotBackUp
✘  MigrateXprojProjectFactory_ValidArgs_BackupsCorrectly
✘  MigrateXprojProjectFactory_WithXprojUser_BackupsCorrectly
✘  PackageFrameworkAssembliesDependency

[2017-01-05 18:32] 333fred commented on #1085
I'll take this, since about half the failures are in my tests.

[2017-01-05 19:22] #1085 closed

[2017-01-05 20:53] abpiskunov commented on #939
Opened TFS bug 364539 for CPS

I tried repro thisissue and was able to get into that state. Then i attached debugger and renamed project, my break point in the tree provider was hit and i saw that dependency node did exist (it was sent to me by
SubmitTreeUpdateAsync parameter) and all my sub tree providers nodes existed (Nuget, Projects etc) they were not displayed in the tree though.

It seems li

[2017-01-05 20:54] 333fred commented on #956
Alright, so this no longer repros on the latest build of master, and appears to have been fixed by https://github.com/dotnet/roslyn-project-system/pull/1073. Still looking into why that fixed the issue. My current working theory is that when the old project file is there, something caches that the project file was the xproj, and we attempt to get intellisense from building the xproj instead of the

[2017-01-05 20:55] #956 closed

[2017-01-05 21:08] balachir opened #1087 "Output type for ASP.NET Core web application shows up as 'Windows application' in the property page"
Dev15 RC.3 build d15prerel.26105.02

1. New ASP.NET Core Web Application (.NET Core) > Empty
2. View Property Pages

ACTUAL
Output type shows "Windows Application"

![image](https://cloud.githubusercontent.com/assets/8246794/21697603/03888978-d348-11e6-9733-71024f97ce68.png)

EXPECTED
Output type shows "Console Application"

[2017-01-05 21:22] abpiskunov commented on #391
Its not possible now, since CPS sorts alphabetically all special folders that have BubbleUp flag. i opened this TFS bug 364549 to request a way to set order explicitly on BubbleUp folders.

[2017-01-05 22:01] davkean commented on #1087
@RaulPerez1 You marked this as fixed over here: https://github.com/dotnet/roslyn-project-system/issues/813, but if I'm debugging I still run into the same thing.

[2017-01-05 22:56] abpiskunov commented on #949
FYI: we were discussing supporting VSLangProj.References with @jviau  and are making corresponding changes in Managed project system and CPS. It should work soon hopefully ..

[2017-01-05 23:02] abpiskunov commented on #1072
@srivatsn i assign it to myself, however not sure what milestone it will be go to.

[2017-01-05 23:02] davkean commented on #949
What will packages show up as? Or are we adding new API to support this?

[2017-01-05 23:05] abpiskunov commented on #949
in the UI nothing changes for users. After my change in managed project system, without CPS changes VSLangProj.References would only show usual references (assemblies, projects etc). If CPS changes would be done , then we could also include packages to references and have a new reference type "package" ...

[2017-01-05 23:06] davkean commented on #949
yeah, I'm talking about VSLangProj APIs.

[2017-01-05 23:10] abpiskunov commented on #949
The way it implemented in CPS now, to support VSLangProj.References they look in the tree nodes and check nodes with Reference flag. Then the match them to rules from DT build . I did not support Refernce flag for Dependency nodes, and adding this support right now (review will be soon). This will bring support for regular references. However CPS currently has hardcoded list of rules that thay try

[2017-01-05 23:45] #798 closed

[2017-01-06 00:14] srivatsn commented on #1087
Are you using the updated rules? I think he added a rule in his fix

[2017-01-06 00:59] davkean commented on #1087
This still looks broken in 26102.0 D15PreRel.

[2017-01-06 01:04] srivatsn commented on #1087
The change just got inserted today

[2017-01-06 02:07] davkean opened #1089 "Visual Studio hangs unloading projects"
@jnm2 wrote:

[2017-01-06 02:09] davkean commented on #1089
I suspect this is CPS flushing pending async tasks and blocking on the NuGet restore task.

It should be fixed, but we should verify.

[2017-01-06 02:23] davkean opened #1090 "Clean up suppressions that were added for bugs"
We have a bunch of suppressions in GlobalSuppresion.cs that were added to work around Roslyn bugs. We should remove them once those bugs are fixed for RC3.

[2017-01-06 02:34] jnm2 commented on #1089
I apologize. I'm sure it was some extension setup conflict on my end. After disabling and reenabling NCrunch and ReSharper, the issue has disappeared.
The odd thing is that the same thing has happened on all three machines I use, and there are always MEF errors shown after installing NRunch and ReSharper. I don't know what the real bug is here, if any.

[2017-01-06 06:30] srivatsn commented on #199
This is now done.

[2017-01-06 06:30] #199 closed

[2017-01-06 15:34] Ziflin commented on #413
I posted an issue about some of this on developercommunity.visualstudio.com for VS2017 RC. I'll paste the issues that I've run into here as well since I was directed here.

It seems that it currently impossible to set a Debug or Release-only #define variable/symbol for .Net Core projects in VS 2017 RC. Attempting to set one from the "Project's Properties / Build / Conditional compilation symbols:"

[2017-01-06 17:26] tannergooding opened #1093 "Project files should include the xml prolog by default"
While the XML prolog (`<?xml version="1.0" encoding="utf-8"?>`) is optional (according to the xml spec), it should be included by default in our project files.

Almost all external editors with syntax highlighting will recognize the XML prolog and do the appropriate thing. However, very few will recognize the various extensions (*.csproj, *.vbproj, etc) out of the box.

We currently add the XML pr

[2017-01-06 17:50] 333fred opened #1094 "Editor State Machine does a whitespace-insensitive comparison for up-to-date checks"
In order to work around #743 and #512, we strip whitespace when performing an up-to-date check while updating the contents of the buffer. When those are fixed in CPS/MSBuild, we should move to a regular-old  content comparison with no whitespace stripping.

[2017-01-06 17:53] jviau commented on #793
@srivatsn is there an issue tracking the 2nd point @adrianvmsft pointed out? `ProjectLockFileWatcher.GetProjectLockFilePathAsync` crashes VS if `BaseIntermediateOutputPath` is not defined in the project or set to an empty string. For example, shared projects do not have that property set, so trying to load one right now crashes VS due to this.

[2017-01-06 18:25] adrianvmsft commented on #793
I think that was #1012 but got duped against this one. So I guess we could either reactivate it or have this bug (but in that case we should remove the Tracking tag).

[2017-01-06 18:57] #836 closed

[2017-01-06 18:57] #883 closed

[2017-01-06 18:57] #1015 closed

[2017-01-06 19:00] 333fred commented on #926
@NickCraver, the frequency of these prompts should be significantly reduced by #1027, and you shouldn't see a prompt on file save anymore after the next release. Please reopen if you continue to see issues.

[2017-01-06 19:00] #926 closed

[2017-01-06 19:21] mavasani commented on #1001
Fixed now.

[2017-01-06 19:21] #1001 closed

[2017-01-06 19:29] #363 closed

[2017-01-06 19:29] #1063 closed

[2017-01-06 19:39] #998 closed

[2017-01-06 20:07] BillHiebert commented on #941
I confirmed this is fixed with PR https://github.com/dotnet/roslyn-project-system/pull/859. You now see the following message:
[code]

[2017-01-06 20:07] #941 closed

[2017-01-06 20:24] sayedihashimi opened #1097 "Enable Access Modifier on .resx files"
In a core project if I add a .resx file I cannot change the Access Modifier. See image below.
I was hoping that this would come "for free" when we moved to the roslyn project system, but it looks like there may be some pending work here. Is this on the radar?

<img width="308" alt="access-mod" src="https://cloud.githubusercontent.com/assets/1283154/21731769/e5327574-d40a-11e6-8240-27baf5b9e9d3.png

[2017-01-06 21:31] mavasani commented on #1038
I followed up with @NickCraver offline. I investigated his trace but unfortunately there seems to be nothing suspicious in devenv/MSBuild in the trace. Additionally, there are no NuGet related stacks in it. Nick, can you collect couple more traces and upload it? Thanks again.

[2017-01-06 22:33] BillHiebert commented on #585
This change has been committed. PR https://github.com/dotnet/roslyn-project-system/pull/1075

[2017-01-06 22:33] #585 closed

[2017-01-06 22:42] cdmihai commented on #1051
Should have been fixed by this: https://github.com/Microsoft/msbuild/pull/1349
What's your VS version?

[2017-01-06 23:10] NickCraver commented on #1038
@mavasani absolutely - I'll capture several. I'm seeing this consistently in Task Manager. I'm updated to the latest RC build today...will see if I can repro tonight or this weekend (as soon as the snow allows!)

[2017-01-06 23:17] #776 closed

[2017-01-06 23:26] abpiskunov opened #1101 "[Potential breaking change] Need to add a formal Name for IDependencyNode"
We relied on Caption before since we used IProjectTree nodes and used full itemspecs everywhere, but now we use IProjectItemTree which need use Name for package nodes.

Note: package nodes have non standard ItemSpec but serialized id with properties, thus for them we use Name rooted with project path.

If we use Caption it would be wrong since it has Name + Version and for operations like Remove w

[2017-01-06 23:57] srivatsn commented on #129
This is now complete.

[2017-01-06 23:57] #129 closed

[2017-01-06 23:59] srivatsn commented on #904
At this point, given the backlog of issues, I don't think this is worth the cost.

[2017-01-06 23:59] #904 closed

[2017-01-07 00:01] srivatsn commented on #415
Fixed by #929

[2017-01-07 00:01] #415 closed

[2017-01-07 00:02] srivatsn commented on #823
Fixed by #929

[2017-01-07 00:02] #823 closed

[2017-01-07 00:06] srivatsn commented on #958
Is this fixed by your latest PR?

[2017-01-07 00:10] srivatsn commented on #1097
@333fred didn't you fix this? Or does this require @davkean's DTAR changes?

[2017-01-07 00:42] abpiskunov commented on #865
This is a bug in dependency nodes - DT build sends us updates unresolved reference in this case, which we don't process correctly in  DependenciesSubTreeProviderBase.ProcessDependenciesChanges. I would need to fix that after i am back.

[2017-01-07 00:44] jinujoseph commented on #958
no, this is still pending

[2017-01-07 01:41] 333fred commented on #1097
It appears to be working for me, tested on both the latest public bits and d15prerel/26105.09. I tested using asp.net empty web applications with both 1.0.3 and 1.1. @sayedihashimi, what project type are you using?

[2017-01-07 03:13] abpiskunov opened #1102 "Add a separate xaml rule for generic dependency nodes to show some default node properties"
Our standard nodes all have xaml rules associated with them, however if someone else adds a provider with custom Sub Node , they would not have xaml rules and properties would not show anything. To work it around we now supply Folder xaml rule for such custom nodes.

[2017-01-07 03:44] #864 closed

[2017-01-07 03:45] #398 closed

[2017-01-07 03:46] #708 closed

[2017-01-07 03:47] abpiskunov commented on #403
For project context menu shows up but they are not opening in the Object Browser. Assemblies do open. Keeping this issue open until figure out why projects not showing up, it might be in CPS..

[2017-01-07 03:49] abpiskunov commented on #593
this is a dupe of #59 , closing it

[2017-01-07 03:49] #593 closed

[2017-01-07 15:40] onovotny commented on #1051
This was in 15.0.26014.0

[2017-01-07 20:20] cdmihai commented on #1051
This is a new bug: https://github.com/Microsoft/msbuild/issues/1523

Beyond the exception, the pattern you mentioned is incorrect if it means to express recursive directories. It should be `Platforms/**/*.*` or `Platforms/**`. `**` means `any subdirectories or files` and should appear alone in a path fragment.

[2017-01-07 20:50] onovotny commented on #1051
Yep, definitely was a typo and would not expect it to match anything, just didn't expect it to crash VS :)

[2017-01-08 23:34] davkean commented on #1093
To simplify the project file format, it was deliberate that the prolog was removed. We're not going to add it back without significant feedback. Some editors, such as Sublime, make it very easy to associate an extension with a format - wondering if we put up with that.

[2017-01-08 23:35] davkean commented on #1087
Installed 26107.1 and confirmed this has been resolved.

[2017-01-08 23:35] #1087 closed

[2017-01-08 23:48] davkean opened #1103 "Opening a web application sometimes displays a "The project system has encountered an error""
Build: 26107.1.d15prel

I ran into this sometimes when opening a web application:

[code]

Stack:

[code]

[2017-01-08 23:54] davkean opened #1104 "Visual Studio deadlocks if you attempt to close a project before NuGet restore has finished"
26107.1.d15prel

1. Create new Empty Web Application
2. Close Solution and VS
3. Open Solution
4. File -> Close Solution *before* NuGet restore has started/finish

--Deadlock--

If I did this quickly, was I able to deadlock VS 100% of the time.

Dump: [internalMLshare]\public\davkean\project-system\1104

[2017-01-09 00:04] davkean commented on #1104
tag @natidea @alpaix @rrelyea - who owns registering the async task with CPS, it looks like the deadlock is when CPS is draining the async tasks on close.

[2017-01-09 03:16] codito commented on #827
As of https://github.com/dotnet/sdk/commit/e4eb65dee3fa7b4a5bf21a9b73f74171511b89f6, `Microsoft.Net.Test.Sdk` can handle `OutputType` mismatch between net4x and netcoreapp targets. `OutputType` tag need not be specified in the test project.

This fix should be available in next VS update.

[2017-01-09 03:32] #892 closed

[2017-01-09 05:12] davkean opened #1109 "Analyzer packages list "frameworkAssemblies" despite having no API"
The following analyzer packages have "System" listed as a framework assembly, despite them providing zero API and not actually needing this reference:

[code]

This causes an build warning inside VS in projects that reference System.dll and use project.json due to the way the NuGet build tasks "removes" duplicate framework assemblies.

[2017-01-09 06:32] davkean commented on #1109
Accidentally opened this here, instead of https://github.com/dotnet/roslyn-analyzers/issues/1092.

[2017-01-09 06:32] #1109 closed

[2017-01-09 07:43] gulbanana commented on #827
cool, i'll try it out when available

[2017-01-09 08:17] davkean opened #1111 ""build.cmd /modernvsixonly" outside of MicroBuild says it succeeds even though it doesn't do anything"
1. Run: `build.cmd /modernvsixonly`

Expected: For it to fail saying the required tools aren't available or installed or something
Actual:

[code]

But nothing is built.

[2017-01-09 09:42] davkean commented on #916
I think this is a WinForms bug.

[2017-01-09 13:06] pvlakshm commented on #826
This issue is fixed with https://github.com/dotnet/sdk/commit/e4eb65dee3fa7b4a5bf21a9b73f74171511b89f6. You can try the fix by updating Test.SDK version in csproj as shown below.

`<PackageReference Include="Microsoft.NET.Test.Sdk" Version="15.0.0-preview-20170106-08" />`