[2019-10-06 06:51] davkean commented on #5564
Don't we (deliberately) leave the buffer open once it has been opened once?

[2019-10-06 06:52] davkean commented on #5564
That seems wrong though.

[2019-10-06 21:01] davidwengier commented on #5564
The buffer manager should live for the life of the project, regardless of whether the editor has been opened. This was done in 16.2 to handle edits made without the editor, like those from Replace in Files.

[2019-10-06 21:49] davidwengier commented on #5564
Also tracked by AB#994429

[2019-10-06 22:33] drewnoakes commented on #5556
The existing terminology for this is _unconfigured project_ and _configured project_. Being explicit about it in both cases avoids confusion.

[2019-10-06 22:52] drewnoakes commented on #5561
Project files are inputs to compilation. Any time an input changes, the project is considered out-of-date. This compilation includes PreBuildEvent. There's no way to know whether the changed input modifies the behaviour of PreBuildEvent or not.

Why is your build modifying the build script? Perhaps there's some other way to achieve what you need.

[2019-10-06 23:02] drewnoakes commented on #5372
ReSharper stores this data in their own resource file, outside of the project file. We would want to store it in the project file directly.

For example:

[code]

Currently this `Folder` item is removed as soon as a class is added to that folder. We'd need to ensure `Folder` items with custom metadata are not removed in such cases.

[2019-10-06 23:08] drewnoakes commented on #5548
@vgriph I'm glad you found a way forward, and thanks for sharing your solution.

[2019-10-06 23:08] #5548 closed

[2019-10-07 06:45] davidwengier opened #5565 "SDK-style projects load text buffers on project close"
Found while looking into memory leaks for #5564.

When a file is in the MRU the shell calls into its text buffer to get its caret position so it can be saved. If an SDK-style project is in the MRU and the buffer for it doesn't get loaded (ie, the editor never gets open or no Find in Files is done) then when closing the project, it triggers a load at that point, which is wasteful (and then leaks un

[2019-10-07 06:55] davidwengier commented on #5565
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/206374?_a=overview

[2019-10-07 23:14] drewnoakes commented on #5418
This is potentially caused by metadata filtering in the DTB cache for task items. From the (internal) ProjectServices repo:

This filtering applies when writing the cache, which fits with the above repro steps. My current hunch is that data needed by the Analyzers node is being filtered out by the cache, but this needs further investigation.

[2019-10-08 00:18] davidwengier commented on #5565
PR completed.

[2019-10-08 00:18] #5565 closed

[2019-10-08 00:20] davidwengier commented on #5564
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/206586

[2019-10-08 13:07] ds1709 commented on #4807
Is there any progress with this? I'm using .Net Core 3 (WindowsDesktop/WindowsForms), and problem still exists. By the way, that was unpleasant surprise for me after migrating from classic csproj to Sdk style.

[2019-10-08 13:15] nguerrera commented on #4807
@ds1709 Please open a new issue with the details of what you are seeing. https://github.com/microsoft/msbuild/issues/4488 was implemented and should have solved the problem this tracked.

[2019-10-08 13:53] ds1709 opened #5566 "System.Resources.MissingManifestResourceException when DependentUpon not specified and .resx path not match with Control/Form namespace"
**Visual Studio Version**:
16.3.0

**Summary**:
.Net Core 3.0
Microsoft.NET.Sdk.WindowsDesktop
UseWindowsForms = true
System.Resources.MissingManifestResourceException when DependentUpon not specified and .resx path not match with Control/Form namespace.

**Steps to Reproduce**:
1. Create new WindowsForms project (sdk style, net472).
2. Add local resource to Form1 (e.g. BackgroundImage).
3. Change

[2019-10-08 14:08] ds1709 commented on #5566
Also forget to point, what in visual studio resx files looks like dependent from it's component cs file, but in fact we need to specify DependentUpon attribute explicitly, and it's confusing.

[2019-10-08 21:30] davidwengier commented on #5566
@nguerrera is this an SDK issue?

[2019-10-08 21:30] johnwc commented on #5561
It's not modifying the build script, it's modifying the csproj file. We have a script that runs that updates the version in the csproj file.

I understand that a csproj file is considered inputs, but the calculation that is run to store the hash of the csproj file should run after the PreBuildEvent. That way it is calculated after any changes are applied during a PreBuildEvent. Otherwise it thinks

[2019-10-08 23:52] davidwengier commented on #5564
PR completed

[2019-10-08 23:52] #5564 closed

[2019-10-09 05:16] davidwengier commented on #5559
This happens for any configuration in the property pages that is stored in launchSettings.json

[2019-10-09 05:57] davidwengier commented on #5551
As per Mads' blog post [Building C# 8.0](https://devblogs.microsoft.com/dotnet/building-c-8-0/) C# 8 is not supported on .NET Framework, and the legacy project system only supports .NET Framework so this is not something we want to invest engineering effort into supporting.

[2019-10-09 05:57] #5551 closed

[2019-10-09 08:04] rolfik commented on #1162
I have the similar warning while referencing project A targetted to uap10.0.16299;netstandard2.0;net462 with Project reference in project B tagetted to .NET Framework 4.7.2 }old .csproj format):

Warning The project 'A' cannot be referenced. The referenced project is targeted to a different framework family (.NETCore)

Using Visual Studio 2019 16.3.1

[2019-10-09 11:16] networkfusion commented on #5239
@drewnoakes We have used the Project System Tools to take logs from both VS2017 and VS2019 and I have been through them with a fine tooth comb... Although there are some differences, we cannot find anything suspect that would cause the issues we are seeing.

Is there anywhere with an extensive changelog that we can use. Also I can send the logs we have generated if helpful.

Finally, after spendin

[2019-10-09 13:21] networkfusion commented on #5239
![image](https://user-images.githubusercontent.com/11439699/66485049-0620f180-eaa0-11e9-96b2-6b4f0d3a8eeb.png)

[2019-10-09 17:18] jnm2 commented on #5551
Thanks for the update. At the end of November when https://github.com/dotnet/project-system/issues/4938 ships, we will be able to use SDK-style csproj.

I would like to express strong disappointment that C# 8 is not supported on .NET Framework, and with the concept that @terrajobst [stated](https://github.com/dotnet/corefx/issues/40039#issuecomment-523650587): "we don't support individual language

[2019-10-09 17:50] jnm2 commented on #5551
Addendum: I don't mind temporary pain. We need a sense either that you've already planned out these side effects and have specific guidance ready, or that you are willing to listen and reconsider.

The type of guidance I have in mind is not "this is hard, you're definitely on your own, figure it out" but rather e.g. "We think it's best for libraries not to ship nullability annotations until they a

[2019-10-09 20:03] cartermp commented on #5551
@jnm2 There may be a statement along those lines, likely, on the .NET Blog. But the current policy is that all new features are for .NET Core 3.0, and the way that flows through tooling has ramifications like what you're mentioning here. Until then, the official statement on the matter is here: https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net/

Beyond that, we won't be doing add

[2019-10-09 20:36] swesonga commented on #5239
@networkfusion I had also compared the project system logs from VS2017 and VS2019 and didn't see anything that stood out as unusual. I can successfully reproduce the behavior you have described, so there's no need to share log files at this time. As for changelogs, note that VS2017 used the LanguageServiceHost which was removed in https://github.com/dotnet/project-system/commit/b102468acb45da4360f

[2019-10-09 22:16] davidwengier commented on #5559
Actually that may not work without opening the launchSettings.json file in an editor... Will have to investigate

[2019-10-10 02:00] drewnoakes commented on #5561
VS's fast up-to-date check works on file system time stamps, not hashes. The idea is to be as fast as possible. Computing a hash of every input to compilation would be too expensive. If VS considers the project not up-to-date then it calls MSBuild which performs a more rigorous series of checks. It is possible that VS tells MSBuild to build, and MSBuild concludes everything's up to date. The VS ch

[2019-10-10 06:44] davidwengier commented on #5530
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/207123?_a=overview

[2019-10-10 18:35] AdamDotNet commented on #5566
I've been researching this too, lately. Try adding this property to your CSProj.
[code]

Which I found via: /dotnet/sdk/pull/3533

Remove your workaround `<EmbeddedResource Update="..."` after adding the above property and you should be good to go.

Note that this flag is set to true for .Net Core 3.0+ and .Net Standard 2.1+, but needs to be opted in like this for other TFMs. This flag has worked

[2019-10-10 18:55] nguerrera commented on #5566
@AdamDotNet is exactly right. The convention was not applied by default to existing TFMs to avoid a breaking change. Opting in as shown above is the solution.

[2019-10-10 18:55] #5566 closed

[2019-10-10 19:00] davidmatson opened #5572 "There's a missing space in ".NETFramework 4.8" in the Target framework dropdown in Project Properties; and it doesn't work"
**Visual Studio Version**:
16.3.3

**Summary**:
When using a new-style csproj (Common Project System), a new item appears in the listn after a recent VS update, but it's missing a space. It shows ".NETFramework 4.8" instead of ".NET Framework 4.8"

**Steps to Reproduce**:

1. Create a new .NET Core exe project.

2. Unload the project file and change TargetFramework to something like net47.

3. Rel

[2019-10-10 19:49] davidmatson commented on #5572
After installing .NET Framework 4.8 Targeting Pack in VS Setup, both problems go away. I suspect this bug may occur if .NET Framework 4.8 SDK installed but the Targeting Pack isn't.

[2019-10-10 20:31] vsfeedback opened #5835 "asp.net core projects wont load in VS 2019 16.2 preview 4"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/648584/aspnet-core-projects-wont-load-in-vs-2019-162-prev.html)._

---
just updated to VS 2019 16.2 preview 4 this afternoon, now my solutions cannot load asp .net core projects nor can I make a new project of this type (template is missing in the list)

attempting to open

[2019-10-10 20:53] #5572 closed

[2019-10-10 20:56] davidmatson commented on #5572
@davidwengier - I think there's still a bug here - this item shouldn't show up in the list if the SDK is installed but the Targeting Pack isn't, right?

[2019-10-10 21:11] davidwengier commented on #5530
PR completed

[2019-10-10 21:11] #5530 closed

[2019-10-10 21:11] #5526 closed

[2019-10-10 21:16] davidwengier commented on #5572
Unfortunately its not possible to filter the list of options here based on what is installed, as that would require doing a build before being able to show the project properties. The error message on build that says to install the targeting pack is the best we can do for now.

[2019-10-10 23:07] JamesNK opened #5573 "Visual Studio error when changing proto properties in gRPC template"
1. Create a new gRPC service using VS template
2. View the `greet.proto` properties in Visual Studio

   ![image](https://user-images.githubusercontent.com/303201/66433319-99483000-ea7c-11e9-8f4b-c1869292e316.png)

3. Change `gRPC Stub Classes` from `Server only` to `Client only`.
4. Visual Studio errors

    ![image](https://user-images.githubusercontent.com/303201/66433509-f5ab4f80-ea7c-11e9-812

[2019-10-10 23:08] JamesNK commented on #5573
Some more detail:

It doesn't happen if VS was opened (or the project is unloaded and reloaded) with no value in XML. If there is no value in XML then the value can be modified successfully until VS is reopened.

Also, the same error happens with other properties on the `<Protobuf>` element: `Access`, `ProtoCompile`

[2019-10-11 00:44] terrajobst opened #5574 "F1 context doesn't include TargetFrameworkMoniker"
When invoking help in the code editor, the current target framework isn't correctly forwarded.

In a .NET Framework 4.5 (old-CSPROJ) invoking F1 on `Console.WriteLine` yields this URL:

[code]

Invoking F1 in an SDK-style projects yields this URL:

[code]

Notice how `k(TargetFrameworkMoniker-.NETFramework,Version%3Dv4.5);` is missing from the query string.

Currently, there is also a bug where th

[2019-10-11 01:04] davidwengier commented on #5573
The Protobuf rule [here](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Tools/build/_protobuf/Protobuf.CSharp.xml) (am I looking in the right place?) defines data sources for all of these properties, but doesn't specify HasConfigurationCondition, so MSBuild is using the default which is [`true`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.framework.xamltypes.datasource.ha

[2019-10-11 01:29] JamesNK commented on #5573
Thanks for looking into it! Fixing Grpc.Tools sounds like the first step.

Double checking, is this - https://github.com/grpc/grpc/pull/20569 - what you meant by adding `HasConfigurationCondition="false"` to data sources.

[2019-10-11 01:58] davidwengier commented on #5573
Yep, that looks like it should solve the problem.

[2019-10-11 07:53] ds1709 commented on #5566
Yes, it works now. Thanks.

[2019-10-11 08:33] goswinr opened #5576 "<ProjectGuid> ignored ?"
I undestand that a  `<ProjectGuid>` [is no longer needed](https://github.com/dotnet/project-system/pull/3303) [or desired](https://github.com/dotnet/project-system/issues/2940).
But it seems that even if it is present it is silently ignored. Is that intended?
Where would I look for the official documentation of this behavior?
I need to have a Guid in my dll in order to load it as a plugin into ano

[2019-10-11 09:25] drewnoakes commented on #5576
The [`[assembly: Guid(...)]`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.guidattribute?view=netframework-4.8) attribute determines an assembly's GUID.

In .NET Framework, the project GUID was synchronised between `.sln`, `.csproj` and `AssemblyInfo.cs`.

In SDK-style projects, the project GUID only exists in the `.sln` file. Looking at the generated `obj\Debug\netst

[2019-10-11 13:19] maxinfet commented on #5529
@davidwengier Is this ticket able to be closed given the state of the two linked tickets?

[2019-10-11 16:16] maxinfet commented on #2670
@davkean In regards to this comment

I would be willing to go through the default templates and put them on the new project system and see what features I am aware of work and don't work. Is this typically how someone on your team would do this investigation or do you have sources that would give a better idea of what features you are looking for to see if they work?

[2019-10-11 21:40] davidwengier commented on #5529
No, those tickets have solved the issue for SDK-style projects, but legacy projects opened with CPS (the Common Project System that SDK-style projects run on top of) will still exhibit the problem.

Note that at the moment you have to work really hard and know what you're doing in order for this scenario to occur, so its most likely not anything you need to worry about. In general using WPF with S

[2019-10-13 22:07] #5576 closed

[2019-10-14 00:18] davkean commented on #5572
We can do that - and this is exactly what legacy does.

[2019-10-14 00:37] drewnoakes commented on #2867
Possibly related to https://dev.azure.com/devdiv/DevDiv/_workitems/edit/719762

[2019-10-15 00:28] ryzngard opened #5580 "Undo of rename operation pops up dialog in CPS"
While enabling more [code refactoring in CPS](https://github.com/dotnet/roslyn/pull/39225) I came across this behavior.

![cfbce04d-3bcf-41e8-a504-084f6f04949d](https://user-images.githubusercontent.com/475144/66791109-a1063b00-eea7-11e9-974e-7b27cbb06561.gif)

Action in the gif is to apply the file rename code action then undo with ctrl+z.

cc @jmarolf  @davkean

[2019-10-15 00:30] davkean commented on #5580
Dupe of: https://github.com/dotnet/project-system/issues/5139.

[2019-10-15 00:30] #5580 closed

[2019-10-15 00:31] davkean commented on #5139
Here's a video:

![cfbce04d-3bcf-41e8-a504-084f6f04949d](https://user-images.githubusercontent.com/475144/66791109-a1063b00-eea7-11e9-974e-7b27cbb06561.gif)

[2019-10-15 00:32] jmarolf commented on #5580
@davkean 	this is an issue that _will_ happen if [this PR](https://github.com/dotnet/roslyn/pull/39225) is merged but as far as I am aware does not happen today

[2019-10-15 00:32] davkean commented on #5139
This is going to because we conflating "renames" via dataflow with user actions.

[2019-10-15 00:32] jmarolf commented on #5139
@davkean 	I cannot reliably repo this today, can you provide consistent repro steps on a build we've release?

[2019-10-15 00:34] davkean commented on #5139
I mentioned early on in the rewrite that we shouldn't be using dataflow renames as an indication that the user renamed the type, any use of ProjectItem.Rename will result in this.

[2019-10-15 00:38] jmarolf commented on #5139
I think I see where I mis-understood @davkean 	when you saith this:

I thought you mean't F2 in the solution explorer, I assume you actually meant F2 on the class definition, which I can repro

[2019-10-15 00:40] jmarolf commented on #5139
yeah, well need to re-write everything again...

[2019-10-15 19:26] dfoulk commented on #4471
@jmarolf I don't believe that issue is what I'm experiencing. I do see the prompt- but if I respond too quickly (i.e. spamming **Enter**)- the renaming of references in other files fail.

It may be worth mentioning I'm working in .NET Core and renaming files referenced in other projects (which may have an impact on execution times).

I do not have 16.4 installed, but I will try to reproduce when I

[2019-10-15 20:20] RobSwDev opened #5581 "VS2019 hangs opening solution"
**Visual Studio Version**:
16.3.5
**Summary**:
Visual Studio 2019 hangs when opening solution. (Does not hang in VS2017)
[Hanging.zip](https://github.com/dotnet/project-system/files/3731270/Hanging.zip)

Has happened a couple of times. We are (mostly successfully) converting our projects to the new sdk-style format so we can multitarget. I assume it's something to do with that.

**Steps to Reprodu

[2019-10-15 21:17] jjmew commented on #5581
@RobSwDev I am able to repro the issue but the project file is invalid. It is using <TargetFrameworks> without adding the SDK tag. It should look like this:

<?xml version="1.0" encoding="utf-8"?>
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
  	<TargetFrameworks>net461</TargetFrameworks>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
  </ItemGroup>
</Project>

[2019-10-15 21:17] #5581 closed

[2019-10-16 09:46] RobSwDev commented on #5581
@jjmew It is using "what" without adding the SDK tag?

The history is that we converted all projects to the new sdk style, but then converted WinForms projects back to legacy style.

So the project is supposed to be legacy, not new sdk style.  E.g. it has
<Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />
Admittedly, that's far more obvious in my Company's project than in the stripp

[2019-10-16 09:49] RobSwDev commented on #5581
I guess adding <TargetFrameworks> to a legacy project is what causes the issue in VS2019?

[2019-10-16 12:18] drewnoakes commented on #5581
You can have both SDK and legacy projects in a single solution.

The project file you attached produces a hang. This is a bug in VS that we aim to fix. In the meantime you should ensure your project defines the necessary configuration properties. Use a new WinForms project file for reference, or diff your WinForms project files as they are now to how they were before your initial conversion.

[2019-10-16 15:38] jjmew commented on #5581
Here is an example of a valid WinForms project for .NET Framework
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
  <PropertyGroup>

[2019-10-16 19:11] jnm2 commented on #4938
Just tried preview 2 and designers are now loading! After poking around a bit, it looks like there won't be anything keeping our Windows Forms projects back from the new-style csproj. I'm really happy about this! Thank you!

[2019-10-17 00:32] drewnoakes commented on #5498
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/ProjectServices/pullrequest/207666

[2019-10-17 00:47] swesonga commented on #5239
@networkfusion Could you check whether the intellisense issue is resolved by including the LanguageService project capability and the language service properties listed in the commit at https://github.com/swesonga/nf-Visual-Studio-extension/commit/b53d5b22d71af43bb20622395e93dd3986eb21cf

[2019-10-17 01:32] drewnoakes commented on #5381
This applies to the legacy project system. We should first determine whether it applies to SDK-style projects.

[2019-10-17 13:03] networkfusion commented on #5239
@swesonga YOU ARE THE MAN! I have tested your changes and it does indeed fix all of the issues we have been experiencing. Would you like to raise a PR? If not, I will...

[2019-10-17 18:55] swesonga commented on #5239
@networkfusion Glad to hear that commit resolves the issues you ran into. I'm investigating other issues as well so I'll close this issue and let you handle the PR on the nanoFramework side.

[2019-10-17 18:55] #5239 closed

[2019-10-17 19:28] networkfusion commented on #5239
@swesonga Okay... PR raised. Thanks again!

[2019-10-18 00:12] davkean commented on #5588
Moved this over to us, @rainersigwald @nguerrera I'm making this bug about the project-system changes to make this occur. If you want to track the MSBuild changes/CLI/SDK making a change here, you'll need a different bug. We won't block on that decision.

[2019-10-18 03:31] drewnoakes commented on #5528
PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/208768

[2019-10-18 03:54] drewnoakes commented on #5498
PR merged.

[2019-10-18 03:54] #5498 closed

[2019-10-18 05:29] davkean commented on #5574
@swesonga I have absolutely no idea how this works, it may have something to do with IVsUserContext.

[2019-10-18 05:30] davkean commented on #5574
@drewnoakes Removed multi-targeting as this isn't a multi-targeting bug, it just needs to be factored in.

[2019-10-18 15:27] chickenfeetsd opened #5589 "Dataset Designer Code Generator Fails in .NET Core 2.1"
**Visual Studio Version**:
VS2019 Enterprise v16.3.5
**Summary**:
Open any legacy dataset or create a new dataset (.xsd) that contains a DataTable with a Guid column. The code generator fails to generate the designer code after any change to the dataset is made.
The following errors are shown:

- Failed to generate code. Unable to convert input xml file content to a DataSet. Column requires a vali

[2019-10-18 17:36] johnwc commented on #5561
Yes, but the version is updated prior to the build/compile, so it really shouldn't be considered and edit on the second+ builds.

It is an increment, but a version increment should not occur if nothing has changed. It should not see that the version update made prior to the compile is a change the next time I hit F6. Example: If I edit some code and then hit F6 twice, the second F6 should not buil

[2019-10-18 19:42] 4creators opened #5590 "VS 2019 v16.3.4 and v16.4.prev2 are unable to build netcoreapp3.0 projects which use custom MSBuild tools targeting netcoreapp3.0"
**Visual Studio Version**: v16.3.4 and v16.4.prev2

**Summary**: build of the [DjvuNet](https://github.com/DjvuNet/DjvuNet) repo with VS 2019 on Windows 10 x64 fails due to inability to load custom `DjvuNet.Git.Tasks.dll` MSBuild tasks which by design should target only netcoreapp3.0

**Steps to Reproduce**:

1. Clone DjvuNet repo on Windows machine and ensure that you are in the branch with rever

[2019-10-18 20:10] 4creators commented on #5590
This issue is blocking https://github.com/DjvuNet/DjvuNet/issues/135

[2019-10-19 22:02] drewnoakes commented on #5528
CPS PR merged.

[2019-10-19 22:02] #5528 closed

[2019-10-20 19:13] aodl opened #5592 "IntegratedConsoleDebugging project capability not respected"
**Visual Studio Version**:
16.2.0

**Project Type**
ASP .Net Core 2.2

**Summary**:
There is an 'IntegratedConsoleDebugging' project capability that could be detected to decide whether or not to launch inside the integrated console, but it isn't used. See [issue 3667](https://github.com/dotnet/project-system/issues/3667) (which indicates that the 'IntegratedConsoleDebugging' should be used) and th

[2019-10-20 23:52] drewnoakes commented on #5592
@aodl would you like to submit a PR for this? It seems like you're clear on what's needed.

[2019-10-21 05:36] macux commented on #1553
Would be really good if this error could be removed, it just sent me on a wild goose chase whilst trying to localize data annotations in a dotnet core app (which itself is confusing enough).

[2019-10-21 06:41] aodl commented on #5592
I'd be happy to give it a try, but I'm not currently aware of where the decision to launch inside the integrated console is made, and why it's made there. Or how to actually tell VS to run an app in the integrated console (I have a feeling it's outside of CPS). @davkean, would you be able give me some pointers?

My thoughts are that if a project has "LaunchProfiles" capability, the debug launch pr

[2019-10-21 06:45] YunWeiaa opened #5593 "An installation file didn't download during the Visual Studio installation process."
**Visual Studio Version**: master-29420.07 (16.4 Preview 3)

**Steps to Reproduce**:

1.  Install VS master([29420.07](https://vsdrop.corp.microsoft.com/file/v1/Products/DevDiv/VS/c13bd953d1b1230c3934b67d1e27a56ec2c18127/7136ad05-5ec6-09ff-794a-6902fe55826f%3bchannels/internal/Preview/bootstrappers/fixed/Enterprise/vs_Enterprise.exe))

2.  A message dialog with "An installation file didn't downloa

[2019-10-21 06:47] springy76 commented on #1821
Why can't you fix that annoying bug within 2 1/2 years? Gits auto-merge tends to fuck up .sln files and often you end with two consecutive "Project ..." or "EndProject" lines, which is a big PITA.

**Everyone** in our company is using newest **VS 2019 on Windows**, **every** new project is of type netcore or netstandard, **every** new project gets added with FAE04EC0-301F-11D3-BF4B-00C04F79EFBC an

[2019-10-21 07:08] YunWeiaa commented on #5593
Move to [Bug 1005190](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1005190)

[2019-10-21 07:08] #5593 closed

[2019-10-21 19:17] aodl commented on #5592
I've raised the ^above PR with a minor commit that addresses this for `ConsoleDebugTargetsProvider` (hoping that the build tests pass with my latest commit).

However this won't address the issue for ASP.Net Core projects, as they appear to use [ProjectDebuggerProvider](https://github.com/dotnet/project-system/blob/138f25249f2170a9cf3c3df1b6cea419f4dc469b/src/Microsoft.VisualStudio.ProjectSystem.M

[2019-10-22 00:03] 333fred opened #5595 "InvalidCastException when attempting to open project property pages"
I'm not quite sure how I got into this state, but when I right-click on my project node and click properties, nothing happens. When I attach a debugger and turn on first-chance exceptions, I see an `InvalidCastException` in CPS. VS Version 16.4.0 Preview 3.0 [29420.8.master]. This _only_ repros on one of my solutions, but it repros consistently there, after restarting.

I've taken a dump and saved

[2019-10-22 00:10] davkean commented on #5595
Yes, I've just hit this - looks to be a operation progress bug and occurs when you attempt to open the property pages while we're restoring/doing design-time builds in the back.

[2019-10-22 00:15] davkean commented on #5590
It is deliberate that VS uses .NET Framework build of MSBuild. While longer we want to move away from this, until then, Task authors must provide a .NET Framework version of their library if they run under Visual Studio.

[2019-10-22 09:55] drewnoakes commented on #5561
In which case the input will always be newer than the output, and a build will occur.

The only way I can see around this is to compute the value at build time in such a way that it's not included in the input. For example you might include the current UTC date/time somehow in the version. Or you can use part of a git SHA-1 hash, for example.

[2019-10-22 17:40] pranavkm opened #5596 "Add a way to associate inputs and outputs in FastUpToDate"
**Visual Studio Version**: 16.4 Preview 2.0

**Summary**:

Linked ASP.NET Core issue: https://github.com/aspnet/AspNetCore/issues/13204

ASP.NET Core projects produce two compiled outputs: `.cs` files (et al) produce an `App.dll`, `.cshtml` files produce an `App.Views.dll`. When a cshtml file changes, `App.dll` remains unchanged, but a newer `App.Views.dll` needs to be compiled.

To allow a build

[2019-10-22 17:45] 4creators commented on #5590
@davkean Thanks for the reply. The news are baaad.

[2019-10-22 19:33] aodl commented on #5592
@drewnoakes thanks for your response a couple of days ago. After doing what you suggested and raising a PR, I looked into this further in the case of Asp.Net Core projects, and it turns out that the magic happens when `ProjectDebuggerProvider.QueryDebugTargetsAsync` calls `IDebugProfileLaunchTargetsProvider.QueryDebugTargetsAsync`. If the active launch profile's command name is 'Project' (which ca

[2019-10-23 00:48] drewnoakes commented on #5596
This seems like a good idea. Let's design the feature.

We could add new optional metadata to the existing `UpToDateCheckInput` item. For example:

[code]

How this might behave:

1. The `ProducesOutputFile` metadata, when present, would mean the fast up-to-date check would only compare that input with the specified output.
1. If this metadata is omitted, the input is compared against all outputs.

[2019-10-23 16:56] tmeschter commented on #5596
@drewnoakes What if we generalized it a bit and instead of specifying the output file on the `UpToDateCheckInput`, we associated both `UpToDateCheckInput`s and `UpToDateCheckOutput`s with an "up-to-date set"? For example:

[code]

This way we don't have to know the names of the output files when the input items are created, and we can easily associated multiple outputs with a group of inputs.

[2019-10-23 16:57] tmeschter commented on #5596
Also, can we think of any other scenarios where we might be able to use this functionality?

[2019-10-23 17:23] pranavkm commented on #5596
How does this work with the items in `UpToDateCheckBuilt`? The RazorSDK would likely need to continue specifying a value for it to remain compatible with older versions of VS. @tmeschter's design sounds pretty neat in this regard, it's just an additional attribute specified as part of inputs and outputs.

/cc @nguerrera \ @rainersigwald in case you're aware of this.

Specifying the input as part o

[2019-10-23 17:28] nguerrera commented on #5596
Other scenarios: I am actually hitting this in SDK build. I had to add some extra up-to-date check inputs for things that we copy post-build. But then it's stuck out of date. I could tell the project system, that the outputs of these things are just where they get copied to, not the dll that might not need to be recompiled.

[2019-10-23 17:29] nguerrera commented on #5596
Generally, should check on anything that is content with copy to ouptut directory, now that I think of it.

[2019-10-23 17:42] tmeschter commented on #5596
@nguerrera As an aside, why do those files need to be copied as part of build? Would it make more sense to copy them as part of publish instead of build? (This is where I admit I don't really understand what publish is meant to do.)

[2019-10-23 17:47] nguerrera commented on #5596
There is often no publish. In my case and many others, the build is the only step.

[2019-10-23 17:51] nguerrera commented on #5596
I am genuinely curious what happens with:

[code]

And then I change foo.txt without changing a cs file. It should build, the dll will be up to date, then copy the file. Then it should be fast up to date after the build. This would be a common scenario. That construct dates back ages and ages. If that works (the sdk case was much more convoluted, due to custom build steps) then I would be curious

[2019-10-23 18:01] ocallesp commented on #5238
We have investigated and after further investigation we have determined that this is not a supported scenario. Our code is not designed to deal with two references having the same name.

In the old project, the alias Newtonsoft.Json is the same for the NuGet package and project name.
Making changes to support this scenario is too risky.

https://developercommunity.visualstudio.com/content/problem/

[2019-10-23 18:01] #5238 closed

[2019-10-23 18:06] nguerrera commented on #5596
For the SDK, the content in question are the build targets that go with the msbuld tasks in the dll. With incorrect update handling, we had to touch a cs file for tests to see our targets changes. With my fix, it is considered not up to date from the time I touch a targets file to the time I touch a cs and build.

[2019-10-23 21:03] drewnoakes commented on #5596
@tmeschter I really like the idea of pooling inputs/outputs into sets. I started looking into the implementation between conference sessions yesterday and not only will it be easier to use when authoring projects, the implementation within the check itself should be easier to reason about.

@nguerrera I checked this:

When `Foo.txt` is copied to the output directory, the destination file ends up w

[2019-10-23 21:23] drewnoakes commented on #5596
Using sets will also make the up-to-date log output easier to read.

I will allow an item to belong to multiple sets (`Set1;Set2`).

We should decide what happens when a set has only inputs or only outputs. This seems like an invalid state. Can anyone think of a reason we might want this? If not, perhaps we consider such states as not up-to-date and log a warning message.

[2019-10-23 21:25] nguerrera commented on #5596
It looks like it's comparing the preservenewest files independently and not as regular up to date inputs to be compared to all up to date outputs. So these are special cased? Should they be handled as sets too with this design?

In the SDK case, we had our own target calling copy so the files were ignored from up to date. When I added them to up to date input, they get compared against the dll, no

[2019-10-24 07:13] aL3891 commented on #2491
Any update on this one?

[2019-10-24 15:56] rainersigwald commented on #5596
The sets idea sounds good to me.

In MSBuild targets, Outputs must be specified if Inputs are, and having only-inputs FUTD sets seems like a similar error I can't think of a reason for. Outputs-only targets don't ever get skipped as up to date, so an output-only FUTD set would be equivalent to but worse than setting `DisableFastUpToDateCheck=true`. So I think I'm on board with a warning for either

[2019-10-24 20:31] ocallesp commented on #4932
this is a duplicate of #5350

[2019-10-24 20:31] #4932 closed

[2019-10-25 06:08] RudeySH commented on #5551
We've discussed this issue on StackOverflow ([here](https://stackoverflow.com/questions/58154707/nullable-reference-types-in-net-framework-projects-not-working-with-intellisens)) and came to the conclusion that only Visual Studio's **IntelliSense** does not recognize `<Nullable>`, but msbuild does. And, like @jnm2 also said, using `#nullable enable` in every file fixes the problem in Visual Studio

[2019-10-25 16:39] heaths commented on #4471
I'm still getting this problem in 16.4 Preview 2. I'm prompted to rename the class after renaming the file, but then nothing happens. It's been this way for a while now (probably all of 16.4 previews).

[2019-10-25 16:49] abpiskunov opened #5597 "Exception during renaming a property in the interface."
**Visual Studio Version**:
VS master, 29417.175

**Summary**:

Cannot rename a property on the interface using F2. It shows error at the end and log has an exception below. Property was used in 60 places and 5 files. Cannot repro anymore, however at that time even closing , reopening VS did not help, which suggests that there is some corner case persistent scenario, not really depending on VS desi

[2019-10-25 17:41] jmarolf commented on #4471
@heaths are you using a sdk-style project or the old project format?

[2019-10-25 18:51] ocallesp commented on #5350
devdiv.visualstudio.com PR 209739 merged

[2019-10-25 18:51] #5350 closed

[2019-10-25 20:23] heaths commented on #4471
SDK-style. Thing is, it did work some weeks ago, and quite a while before that. Happens for small (2 projects) and medium (~12 projects) solutions now, but certainly worked before. Maybe 16.3? I'm on the Preview channel for VS2019.

[2019-10-25 21:29] jmarolf commented on #4471
@heaths 	if it reproduces 100% of the time can you let me try your project? I am not aware of this particular problem in 16.4 Preview. There are other bugs in rename related to undo stacks but this might be new.

[2019-10-26 00:21] heaths commented on #4471
Yes, it repros 100% of the time.

VS: VisualStudioPreview/16.4.0-pre.2.0+29411.138
Solution: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.sln

[2019-10-26 00:53] jmarolf commented on #4471
Thanks! I'll take a look

[2019-10-27 21:11] davidwengier commented on #5597
This has the same stack as https://devdiv.visualstudio.com/DevDiv/_workitems/edit/946971 which was fixed in 16.3 Preview 3 (29120.11) which is odd. @abpiskunov you say you can't repro any more, is there a chance you were using an older installation of VS when it first happened?

[2019-10-28 05:08] drewnoakes opened #5599 "Implicit configuration syntax support"
(Written by @davkean)

# Implicit configuration syntax support

Legacy projects detect their configuration dimensions by inspecting `Condition` attributes.

For example given the following constructs:

[code]

The project would be considered as having the following dimensions and values:

Configuration|Platform
---|---
Debug|AnyCPU
Release|AnyCPU

This is contrast to the new project system that de

[2019-10-28 15:42] sharwell opened #5600 "RunAnalyzersDuringLiveAnalysis should be a per-user property"
**Visual Studio Version**: 16.4 Preview 2

**Summary**:

The `RunAnalyzersDuringLiveAnalysis` property should be a per-user property (stored in the .csproj.user file instead of the .csproj file).

**Steps to Reproduce**:

1. Create an SDK project
1. On the **Code Analysis** page, uncheck **Run on live analysis**
1. Save the project

**Expected Behavior**:

* No changes are made to the project file

[2019-10-28 16:11] abpiskunov commented on #5597
hm it might, i am using 4 different instances. Ok let me close it, i will reopen if i see it again.

[2019-10-28 16:11] #5597 closed

[2019-10-28 16:27] tmeschter commented on #5600
Achieving this should be as simple as passing `ControlDataFlags.PersistedInProjectUserFile` when creating the `PropertyControlData` at [CodeAnalysisPropPage.vb line 69](https://github.com/dotnet/project-system/blob/caf15122c2b1eb08b1aa82d17e1b1f36cda8b0ad/src/Microsoft.VisualStudio.Editors/PropPages/CodeAnalysisPropPage.vb#L69). Whether or not that is actually desirable behavior I'll leave to othe

[2019-10-28 16:37] mavasani commented on #5600
@tmeschter Thanks for the suggestion on the implementation. However, I would want to eventually pass down this property down to the Roslyn language service, so it can be respected. I did it with https://github.com/dotnet/project-system/pull/5598/files, but I presume it would now need to implemented differently if the property is set in a user specific file. Any pointers to how I can accomplish tha

[2019-10-28 16:49] tmeschter commented on #5600
The .user file is still just an MSBuild project file, but by convention it is treated as user-specific and is not checked into source control. Whether the value is stored in the .user or .csproj file shouldn't affect how it is passed from MSBuild to the project system and then on to the language service.

That being said, the .user file may not get used all that much by SDK-style projects so you w

[2019-10-28 18:52] mavasani commented on #5600
Thanks @tmeschter! I have a PR out that should fix this: https://github.com/dotnet/project-system/pull/5601

[2019-10-28 20:27] #5600 closed

[2019-10-29 09:46] #5592 closed

[2019-10-29 09:47] davkean commented on #5592
Thanks for your contribution @aodl!

[2019-10-29 12:16] drewnoakes commented on #5596
I've made good progress with this and will get a PR in tomorrow. Some notes.

@pranavkm

The following three item types may have a `Set` property:

- `UpToDateCheckInput`
- `UpToDateCheckOutput`
- `UpToDateCheckBuilt`

`*.cshtml` are currently represented as `UpToDateCheckInput` items, while the `*.Views.dll` file is currently represented as `UpToDateCheckBuilt`. Both will need `Set` metadata.

I

[2019-10-29 12:19] drewnoakes commented on #5596
Build after changing `Index.cshtml:

[code]

Building again immediately:

[code]

[2019-10-29 12:53] nguerrera commented on #5596
Oh, `Original` metadata looks like what I was after, thanks. I guess that means I don’t have a second use case for this feature.

[2019-10-29 12:54] aodl commented on #5592
Thanks @davkean!

However I don't think this issue should be closed just yet. The pull request fixed the `ConsoleDebugTargetsProvider`, but I don't believe Asp.Net Core projects typically use this provider - they use `ProjectDebuggerProvider` instead. Due to the more complicated nature of Asp.Net Core debug launches, I think this actually needs fixing in the `IDebugProfileLaunchTargetsProvider`s t

[2019-10-29 12:59] nguerrera commented on #5596
@rainersigwald was Update in targets finally fixed or does @drewnoakes code above get lucky?

[2019-10-29 14:34] rainersigwald commented on #5596
It's getting lucky :( (microsoft/msbuild#2835 for context)

@drewnoakes use something like this instead:

[code]

(I know the `String.Copy` thing there is a horror: microsoft/msbuild#1155)

[2019-10-29 16:14] pranavkm commented on #5596
Yup, that should be doable. I'd be happy to try out a local build with your changes to verify the changes on our end end-to-end. But logs looks great.

Out of curiosity, what's `UpToDateCheckOutput`? I thought @tmeschter mis-remembered `UpToDateCheckBuilt` in the [earlier comment](https://github.com/dotnet/project-system/issues/5596#issuecomment-545538401), but it's clearly a thing. Should we be s

[2019-10-29 18:01] chickenfeetsd commented on #5589
@davkean: by any chance this issue was erroneously closed? I didn't see any relation between the issue that I reported and the fix IntegratedConsoleDebugging capability in #5605. I believed the issue that I reported hasn't been resolved yet.

[2019-10-29 21:24] m-pollack commented on #2961
This would be a nice feature that we could use today

[2019-10-29 21:59] davkean commented on #5589
@chickenfeetsd Good catch, yes you are correct. I'll reopen.

[2019-10-29 22:04] davkean commented on #5592
@aodl Can you file a bug via Help -> Send Feedback -> Report a Problem and I'll route to them? They don't track bugs here.

[2019-10-29 22:05] davkean commented on #5595
Dup'ing against https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1005856.

[2019-10-29 22:05] #5595 closed

[2019-10-29 22:21] drewnoakes commented on #5596
@rainersigwald thanks for the fix. Thankfully the horror will be contained within a local test project.

@pranavkm once the PR is up you'll be able to F5 this repo to get the change into the `Exp` hive for further testing.

I asked @panopticoncentral about the difference between `UpToDateCheckOutput` and `UpToDateCheckBuilt` and the conclusion was that it's historical. As part of the PR I'm prepar

[2019-10-30 01:14] drewnoakes commented on #5596
PR #5609 is now available with the fix for this issue..

@pranavkm you can pull down [my branch](https://github.com/drewnoakes/project-system/tree/up-to-date-sets) to test against.

[2019-10-30 04:18] davkean commented on #5588
I've made the change to VS here: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/211126?_a=overview (Microsofties only).

[2019-10-30 05:48] drewnoakes commented on #2961
`.csproj.user` is an MSBuild file. It would be a fair bit of work to redesign the launch settings code to store its data in properties. I'm not sure how you'd replicate that structure with a flat list of properties.

The issue seems to be that the name `launchSettings.json` doesn't hint whether the file should be version controlled.

Two ideas come to mind:

1. Move the file to within the `.vs` fo

[2019-10-30 16:35] tmat commented on #2961
Why not just store the content as a single string property that contains the whole JSON?

[2019-10-30 21:06] drewnoakes commented on #2961
While that could work, I'm not a fan, and it'd still be much more work than just adding logic to look in the `.vs` folder. I don't see there being enough payoff for changing the representation. Docs need updating, people have to re-learn a bunch of stuff. By contrast, allowing this file to be in the `.vs` folder is a single concept which is easy to understand and document.

[2019-10-30 21:12] davkean commented on #5588
This has been fixed and will be available in the first preview of 16.5.

[2019-10-30 21:12] #5588 closed

[2019-10-30 22:21] KirillOsenkov commented on #4348
@davkean @davidwengier @jmarolf @panopticoncentral @jjmew any change we could have these properties documented soon?

It would be really helpful to have authoritative guidance on how to properly run design-time builds. This would greatly help VSMac.

[2019-10-30 22:51] #5590 closed

[2019-10-31 06:08] #5596 closed

[2019-10-31 21:05] DavidKarlas opened #5615 "HostAgnostic project depends on Microsoft.VisualStudio.LanguageServices"
See this NuGet reference: https://github.com/dotnet/project-system/blob/a70b016013ee5e45350661fcd3fcbc5684e41235/build/import/HostAgnostic.props#L41
This is blocking any exploration of using this host agnostic layer in non-Visual Studio scenarios.

[2019-10-31 23:14] drewnoakes commented on #2961
Discussed this with the team and the conclusion was that there are valid reasons to have this file in version control ([example](https://github.com/dotnet/project-system/blob/master/setup/ProjectSystemSetup/Properties/launchSettings.json)).

The file also exists per-project, so would need to be renamed if in the `.vs` folder.

I'm now interpreting this request as for the ability to control whether

[2019-11-01 02:49] davkean commented on #5615
This is known. We would need host-agnostic activation of Roslyn (owned by Roslyn), which will likely come due to other upcoming changes. Please reach out to me internally if you want to start the conversations around this.

[2019-11-01 02:49] #5615 closed

[2019-11-01 03:46] davkean commented on #2972
@jinujoseph @heejaechang I'm closing this bug, there's nothing actionable that we can do our side - if the feeling is that operation progress doesn't address this, please come up with a design on how this should work in Roslyn and we'll call the appropriate APIs.

[2019-11-01 03:46] #2972 closed

[2019-11-01 05:18] drewnoakes commented on #4100
@MansVestin we've improved the documentation around customising the behaviour of the up-to-date check:

https://github.com/dotnet/project-system/blob/master/docs/up-to-date-check.md

I don't see a code change that we would apply here to cover this scenario. If you want the up-to-date check to consider more files than it currently does, you'll need to add them to `UpToDateCheckInput` and `UpToDateC

[2019-11-01 05:18] #4100 closed

[2019-11-01 19:22] KirillOsenkov opened #5619 "Add SourceLink"
Microsoft.VisualStudio.ProjectSystem.Managed.dll doesn't appear to be SourceLinked. Would be super nice to add SourceLink for easier debugging.

[2019-11-01 20:12] jmarolf commented on #5619
@tmat can you point me to the targests in arcade that do sourcelink? I think the easiest way forward is to copy those

[2019-11-01 20:26] tmat commented on #5619
@jmarolf Is Project System official built done from an internal mirror in dnceng/devdiv? If not, you can just add a package reference to Microsoft.SourceLink.GitHub package. You don't need anything special.

Is there a plan to move PS to Arcade?

[2019-11-01 21:10] aodl commented on #1826
Until this is fixed is there a recommended work around - an event to listen for that would indicated that vsproject.References has been populated?

[2019-11-01 23:25] jmarolf commented on #5619
No arcade is all about shipping as part of the .NET Core SDK and has very little support for VSIXes shipping in Visual Studio. As a VS only component 90% of arcade is noise to us

[2019-11-01 23:34] tmat commented on #5619
That's not quite true. We use Arcade for Interactive Window repo as well.

[2019-11-01 23:36] tmat commented on #5619
This repo is using RepoToolset which is no longer maintained. Arcade SDK is.

[2019-11-01 23:36] jmarolf commented on #5619
Does it build out of dnceng internal like arcade recommends?

[2019-11-01 23:49] tmat commented on #5619
Not currently, I was about to switch to that if possible. Whether the official builds build from devdiv or dnceng is orthogonal to Arcade though. Roslyn also builds from devdiv currently.

[2019-11-02 10:07] Pzixel commented on #4100
Thanks for the change. Unfortunately it seems that it doesn't work properly for me. My build also runs some dotnet-cli tools. And I can see that even with build restarted they don't produce the same result as I get when I hit rebuild button. The compilation time is also different.

I can try to present a MRE if you're interested in one.

[2019-11-02 10:33] drewnoakes commented on #4100
@Pzixel could you open a new issue with a repro and I'll take a look?

[2019-11-02 11:24] Pzixel commented on #4100
Ok, sure.

[2019-11-03 01:03] jjmew commented on #4348
@davkean Is it even possible to emulate a DTB?

[2019-11-03 03:51] jmarolf commented on #5619
Alright, there is no easy path forward. The existing repotoolset targets set out-of-date properties that interfere with sourcelink. We either need to move off of repotoolset entirely or move to arcade.

I'll leave this decision up to @drewnoakes and @davkean and the @dotnet/project-system team to decide

[2019-11-03 04:34] panopticoncentral commented on #4348
It's definitely possible, just a matter of replicating the properties set when the build is run. I tried at one point to work out the various properties set by CSProj and there were actually some variances between the various codepaths that run them. It would be helpful to bring everyone into agreement on what to set.

[2019-11-03 22:10] drewnoakes commented on #4901
I started an integration test to compare the DTE view of roughly equivalent legacy and SDK-style projects and found the following differences in project properties:

[code]

- Properties marked ⚠ are not present in legacy, so probably don't factor in when considering parity.
- Values shown as `null` were either not present or threw when queried.
- Some of the ❌ are expected to differ, such as `Ass

[2019-11-04 03:08] davkean commented on #5619
Can you point me to this conclusion?

[2019-11-04 04:31] jmarolf commented on #5619
@davkean pull down the branch from https://github.com/dotnet/project-system/pull/5620

you will get this build error
[code]

looking at the [binlog](https://dev.azure.com/dnceng/public/_build/results?buildId=413390) (that is in spanish? I guess we have all the binlogs written to the same place?) you can see the two sourcelink targets interact.
[code]

[2019-11-04 04:36] davkean commented on #5619
Okay thanks, I think we can handle that without throwing the baby out with the bath water.

[2019-11-04 04:41] jmarolf commented on #5619
I suppose some careful over-ridding of targets could make things work. I will freely admit that is beyond me. Look forward to seeing the solution

[2019-11-04 09:27] Pzixel opened #5621 "UpToDateCheck does not work with CLI tools"
**Visual Studio Version**: 16.3.5

**Summary**: I found an [article](https://github.com/dotnet/project-system/blob/master/docs/up-to-date-check.md) where they show how to use this new setting. The problem is that this setting restart build but only partially. This way build artifacts differs from when I use full `rebuild`.

**Steps to Reproduce**:

1. `git clone -b UpToDateCheckBug --single-branch

[2019-11-04 09:29] Pzixel commented on #4100
@drewnoakes see #5621

[2019-11-04 11:46] drewnoakes commented on #5621
Thanks for filing a separate issue 👍

The documentation you linked to about the _fast_ up-to-date check, which is a component of Visual Studio and isn't involved in your CLI repro above.

In your branch I see this edit:

[code]

Is there a reason for this change? Was your up-to-date check not working in VS before this change? If you revert the above diff does everything work correctly in both VS a

[2019-11-04 11:57] Pzixel commented on #5621
Yes, it didn't work with `CustomAdditionalCompileInputs`. I'm actually looking for any way to make this happen and I'm failing so far.

[2019-11-04 12:10] drewnoakes commented on #5621
Can you explain more about why you changed it? Was it previously working on CLI/VS/neither? Does it now work on CLI/VS/neither?

[2019-11-04 12:35] Pzixel commented on #5621
I didn't work in neither VS or CLI. You can see it yourself. Open project in VS, rebuild, see build time, then change anything in `sol` file and build it again. You won't see any changes in output.

[2019-11-04 23:43] petehauge opened #5624 "Rename and FindAllReferences broken across projects in Visual Studio 2019 based on Azure Functions projects"
**Visual Studio Version**:  Visual Studio 2019 (16.3.6)

**Summary**:  We are working with an Azure Functions project with associated unit tests and we’ve found that find all references, rename, etc, for the existing solution (VS 2019) doesn't work across all the projects.  We followed all the troubleshooting online (ensure project-to-project references, clearing the intellisense cache, etc), but

[2019-11-05 21:03] rcurtis commented on #3756
Has there been any update on this?  This is a major blocker for migrating to the new csproj format and dotnet core.

[2019-11-05 23:03] davkean commented on #5624
@petehauge As per an internal thread:

[code]

This an Azure functions issue.

[2019-11-06 13:32] danielmeza commented on #2498
@csdinon  we need also to define the scope of this, there are other work in the IDE to do, like run the project, pack the app etc. I'm not sure but this is one of the expected features for .net 5 since it pretends to be used as run-time for the Xamarin projects (iOS too), and cause this other project teams need to be involved.

[2019-11-06 13:44] DeRas commented on #5009
It should be possible to specify the debugger in the launchsettings.json, as it is currently possible in VS Code. Anyone knows any workarounds or solutions to this issue?

[2019-11-06 16:28] ckelley7 commented on #4716
![image](https://user-images.githubusercontent.com/11668417/68317006-3c399d00-006f-11ea-8e2f-0997c34ac381.png)

I'm seeing this after migrating from .Net Core 2.2 to 3.0 for my Angular 7 app.

[2019-11-07 05:28] davkean commented on #3756
@rcurtis We will be adding remote debugging support in .NET 5 timeframe, which does not yet have a date.

[2019-11-07 05:32] #2640 closed

[2019-11-07 05:34] davkean commented on #5537
@airbreather This looks like a duplicate of https://github.com/dotnet/roslyn/issues/35514, which was fixed in 16.3. Can you try upgrading builds and see if this still occurs?

[2019-11-07 05:34] #5537 closed

[2019-11-07 05:51] davkean commented on #5562
Closed in lieu of https://github.com/NuGet/Home/issues/8797.

[2019-11-07 05:51] #5562 closed

[2019-11-07 05:55] davkean commented on #5624
As per internal, this is a build issue. Azure functions should avoid manipulating the output path.

[2019-11-07 05:55] #5624 closed

[2019-11-07 06:03] davkean commented on #5563
I don't have a great answer for you, there's no way to do this currently. The legacy project system has a fixed set of capabilities that does not change for the lifetime of a project, and it current has zero awareness of whether its in packages.config or PackageReference mode - this is entirely driven by NuGet.

Given our investment has moved almost entirely to the new project system, I cannot see

[2019-11-07 06:03] #5563 closed

[2019-11-07 06:23] MagicAndre1981 commented on #3756
way to long. So we need to wait 1 more year for a basic feature  🤦‍♂️

[2019-11-07 06:35] davkean commented on #5543
We'll tackle this as a part of WinUI/.NET 5 bringup.

[2019-11-07 06:45] davkean commented on #2234
This no longer repros.

[2019-11-07 06:45] #2234 closed

[2019-11-07 17:29] TFTomSun commented on #3756
For all who are interested in a workaround: I've created a sdk package (RemoteDebugging.Sdk) that is recognized as a old format project. I add a project with this sdk always then when I need remote debugging support. It doesn't contain any sources, it just contains the remote debugging settings for a real SDK style project next to it.

[2019-11-07 18:21] MagicAndre1981 commented on #3756
Can you post a demo which shows your SDK? @TFTomSun

[2019-11-07 21:00] ShemJM opened #5634 "Unable to add datasource in designer"
I am trying to add a datasource to my C#, WPF, .net core 3.0 application. After choosing my data connection in the wizard I press next then get this error

![image](https://user-images.githubusercontent.com/42591036/68426845-e402b800-01a0-11ea-9e51-36ec989866cf.png)

If I start a fresh project and try to add a datasource I get this error at the end of the wizard:

![image](https://user-images.gith

[2019-11-07 23:01] davkean commented on #5546
Reopened the dev community bug as its either CPS or shell.

[2019-11-07 23:01] #5546 closed

[2019-11-08 07:16] davkean commented on #5574
It sets it here in particular: https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fvsproject%2Fvsproject%2FCVsProjBaseFolderNode.cpp&version=GBmaster&line=1754&lineEnd=1755&lineStartColumn=1&lineEndColumn=1&lineStyle=plain.

[2019-11-08 07:23] davkean commented on #5574
Okay this is actually a pretty big work item, CPS basically doesn't support setting any "help context" at all, so the feature will be adding the ability to CPS to respond to VSHPROPID_UserContext for all nodes in a tree, and then have each node

[2019-11-08 07:26] davkean commented on #5574
tag @lifengl, need to figure out which team will pick this up.

[2019-11-08 07:59] KlausLoeffelmann opened #5629 "The Managed Resource Editor fails to show content of resource files created with the Core Designer"
**Visual Studio Version**:
Visual Studio 2019 >16.5.0.
(The necessary Core-Designer ResourcePicker feature has not been merged at the time of creating this issue, though).

**Summary**:
With the WinForms Core Designer, local resource files (later also project resource files) for Forms or UserControls are added, whose images content is not created by the runtime but by the out-of-proc Designer Surf

[2019-11-11 01:17] swesonga commented on #5239
@davkean Could you please take a look at the fix I suggested for this issue and see whether the project system should use IUnconfiguredProjectCommonServices or some other mechanism to work around a case where important properties are missing. Or whether this is something that the project system diagnostic tools should be looking for.

[2019-11-11 02:59] davkean commented on #5239
We warn in other situations when missing properties are missing, we should the same here. Building on top of our project system is not a supported scenario at the moment and this will be a constant moving target until https://github.com/dotnet/project-system/issues/4104 is fixed.

[2019-11-11 03:03] davkean commented on #4781
Hit count here: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/989345?src=WorkItemMention&src-action=artifact_link.

[2019-11-11 03:22] davkean commented on #4717
I'm going to close this as its not actionable by itself.

[2019-11-11 03:22] #4717 closed

[2019-11-11 03:25] davkean commented on #5621
@drewnoakes Please investigate and figure out what the cause is.

[2019-11-11 04:22] drewnoakes commented on #3990
This is no longer an issue.

https://github.com/dotnet/project-system/blob/cbbaee5e95dc1af364ef7bddca58dd6125cba09c/tests/Microsoft.VisualStudio.ProjectSystem.IntegrationTests/OpenProjectTests.cs#L56-L58

[2019-11-11 04:22] #3990 closed

[2019-11-11 04:23] #4839 closed

[2019-11-11 04:32] drewnoakes commented on #5268
Just checked, and there's no newer version of public Apex packages to test against:

https://dev.azure.com/azure-public/vside/_packaging?_a=package&feed=vs-impl&package=Microsoft.Test.Apex.VisualStudio&protocolType=NuGet&version=16.3.29003.189

[2019-11-11 04:32] #4833 closed

[2019-11-11 04:33] #4837 closed

[2019-11-11 04:50] drewnoakes commented on #4805
`IProjectSubscriptionService` has an `ImportTreeSource` property that provides this data via dataflow.

Consider using a custom tree provider, similar to the 'debug capabilities' provider.

[2019-11-11 04:54] davidwengier commented on #1311
Going to dupe this against #5559 as there is a devcomm issue linking to that.

[2019-11-11 04:54] #1311 closed

[2019-11-11 05:00] #5545 closed

[2019-11-11 05:01] davkean commented on #5545
This has been fixed for ConsoleDebugTargetsProvider. @gregg-miskelly If there's additional ones, do you know what they are?

[2019-11-11 05:30] davkean commented on #4950
PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/213487?_a=overview

[2019-11-11 05:59] #3333 closed

[2019-11-11 11:10] davidwengier commented on #4314
For reference of non-Microsofties the new logic implemented in that PR checks for:

* A `Project` element with an `Sdk` attribute.
* An `Import` element with an `Sdk` attribute.
* An `Sdk` element.
* A `TargetFramework` element.
* A `TargetFrameworks` element.

[2019-11-11 18:37] gregg-miskelly commented on #5545
@srdjanjovcic was seeing this with WPF, which I am assuming is not ConsoleDebugTargetsProvider. Correct?

[2019-11-11 21:51] drewnoakes commented on #4314
There are a few extra conditions on each of those checks. To be considered an SDK-style project, it must have at least one of:

* A top-level `Project` element with an `Sdk` attribute.
* An `Import` element with an `Sdk` attribute whose parent is either a `Project` or `ImportGroup` element.
* An `Sdk` element whose parent is a `Project` element.
* A `TargetFramework` element whose parent is a `Pro

[2019-11-11 22:21] davkean commented on #5634
I've moved this over to us, @davidwengier please take a look. @ShemJM What version of VS are you using, 16.3?

[2019-11-11 23:45] davkean commented on #4950
Fixed.

[2019-11-11 23:45] #4950 closed

[2019-11-12 02:38] davidwengier commented on #5634
Will have to dig in, this used to work, but looks like there were recent changes that change how the window works with .NET Core projects and might have exposed a pre-existing bug (Microsofties: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/978885/)

[2019-11-12 07:18] ShemJM commented on #5634
Thanks, yes I am using 16.3. Good luck with the fix.

[2019-11-12 08:21] drewnoakes commented on #4805
https://dev.azure.com/devdiv/DevDiv/_git/CPS/pullrequest/213734 is needed for this, in order to populate the tree only when needed.

[2019-11-12 08:21] weltkante commented on #4938
FYI at anyone still watching this issue, seems LC.exe will not be ported and there will be something new instead. You probably should follow dotnet/winforms#1462 and dotnet/sdk#3631 if you care about licensing, I assume someone will post there with more information.

[2019-11-12 09:00] MagicAndre1981 commented on #3756
@TFTomSun any update? Can you share the SDK? Or is this not allowed?

[2019-11-12 12:48] TFTomSun commented on #3756
@MagicAndre1981 I've published the package: RemoteDebugging.Sdk

Use it in the following way.
example you want to remote debug the project: MyTool
create another project "MyTool.RemoteDebug"
with the following content:

[code]

[2019-11-12 13:30] rcurtis commented on #3756
@TFTomSun Where is this package?  Can you provide a demo repo?

[2019-11-12 15:08] TFTomSun commented on #3756
@rcurtis here: https://www.nuget.org/packages/RemoteDebugging.Sdk/

as mentioned, just create a project with the package as a sdk dependency. Did you try that already? Which part is unclear?

[2019-11-12 20:00] rcurtis commented on #3756
@TFTomSun Ok, so I added your package with Nuget.  What now?  The Debug menu is still lacking the 'Use Remote Machine' option.  I'm not sure where I would add the included xml you linked:

A demo repo or a working example would really answer a lot of questions.

[2019-11-12 20:27] TFTomSun commented on #3756
@rcurtis the xml is the content of the remote debugging project file (csproj). don't add the package via nuget cli or package manager. they don't add sdk packages properly.

[2019-11-13 01:23] vsfeedback opened #5640 "Out of memory VS2019 with ProjectSystemTools"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/815567/out-of-memory-vs2019-with-projectsystemtools.html). Please vote and comment there to make sure your voice is heard._

---
The repro:

1. Install ProjectSystemTools https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools
2. get unr

[2019-11-13 02:03] drewnoakes commented on #5334
An example of such feedback: https://developercommunity.visualstudio.com/content/problem/801896/how-i-do-make-c8-default-for-al-projects.html

[2019-11-13 02:28] drewnoakes opened #5641 "VB.NET build event editing removes $(ProjectDir) and possibly other variables"
**Visual Studio Version**: Version 16.5.0 Preview 1.0 [29511.109.master]

**Summary**:

The editor for VB.NET build events is removing `$(Property)` variables.

**Steps to Reproduce**:

1. Create a new VB.NET (.NET Core) project
2. Project properties -> Compile -> Build Events...
3. Add pre-build event command line text of `"$(ProjectDir)"`
4. Click OK
5. Open project file, see `<PreBuildEvent>"$(

[2019-11-13 12:39] drewnoakes opened #5643 "Support "View in Object Browser" for framework references"
~The "View in Object Browser" context menu currently does nothing for framework references.~

~It should either be removed or made to work.~

The "View in Object Browser" menu item was removed from framework references in https://dev.azure.com/devdiv/DevDiv/_git/VS/pullrequest/231736?_a=files.

We could bring it back and make it work.

![image](https://user-images.githubusercontent.com/350947/6876

[2019-11-13 13:32] MagicAndre1981 commented on #3756
ok, this works, I see the remote debugging options again in this extra project. But it has the drawback that I can't add nuget packages to it to do the robocopy task to copy folder to remote device in that project.

It also skips my modifications Directory.Build.props/Target in root directory where I did solution wide modifications (obj/bin locations). I'll play with it a bit more.

[2019-11-13 22:02] davkean commented on #5643
I'm not sure I agree on this - I think this should open the Object Browser with all the assemblies in that Framework reference in the same way that you can filter the list for a given TFM.

[2019-11-13 22:30] TFTomSun commented on #3756
@MagicAndre1981 my approach is not to copy anything and use network sharing instead and start the application directly from the binary output of the dev machine.

The project does not produce any output on its own that's why i didn't add the ability to apply directory.build.props or targets hooks. there might also be some unwanted side effects of those hooks...anyway that feature could be added ea

[2019-11-13 23:51] drewnoakes commented on #5643
@davkean updated issue to keep the option of showing all open. Personally I think opening ~100 assemblies probably isn't what the user wants, and that we should allow expanding to show contained assemblies which may then be opened individually or in aggregate via multi-selection.

[2019-11-13 23:54] davkean commented on #5643
@drewnoakes If they don't want that, they can dig down to the individual assemblies. Right now we have an experience gap where you don't get the following for .NET Core:

![image](https://user-images.githubusercontent.com/1103906/68814487-16df0b80-06cd-11ea-9327-261c3b17f2c3.png)

[2019-11-14 08:52] MagicAndre1981 commented on #3756
When I set the option to "use remote machine", entered the name:Port I see in remote debugger but application runs on local device.

please provide an demo repo here on github with an application and the remote debug project which explains how to use it. As you can see me and @rcurtis are not able to understand your idea.

[2019-11-14 17:44] srdjanjovcic commented on #5545
I’ve seen it with all .NET Core projects.

From: Gregg Miskelly <notifications@github.com>
Sent: Monday, November 11, 2019 10:38 AM
To: dotnet/project-system <project-system@noreply.github.com>
Cc: Srdjan Jovčić <srdjan@jovcic.net>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/project-system] ConsoleDebugTargetsProvider.QueryDebugTargetsForDebugLaunchAsync is not populating property P

[2019-11-14 18:00] TFTomSun commented on #3756
@MagicAndre1981 can you make a screenshot of the debug settings in the RemoteDebug project? Did you set the remotedebug project as startup project?

[2019-11-14 20:21] MagicAndre1981 commented on #3756
I can't set it as startup, here I get an error message (something sln meta related).

Please provide a working demo.

[2019-11-14 21:43] gregg-miskelly commented on #5545
@davkean should we open a new issue?

[2019-11-14 22:42] drewnoakes commented on #4716
@ckelley7 that is being tracked by #5418.

[2019-11-15 03:30] Varorbc commented on #4454
No longer appear in vs 2019, close the issue

[2019-11-15 03:30] #4454 closed

[2019-11-15 18:59] TFTomSun commented on #3756
Is "foo" a target that is defined in your build environment? Seems like your build is customized in a not standard way.

[2019-11-15 20:14] MagicAndre1981 commented on #3756
no, I replaced my app name with foo. I selected the 2 nd option and specified the exe and when I set the Foo.remotedebug as startup I get this error during compile/start

[2019-11-16 09:23] drewnoakes commented on #5621
@Pzixel I took a look at your solution and cannot reproduce the behaviour you're seeing. It would help if you could be more specific about what you see and what you expect.

From my investigation I do not believe this to be a bug in VS or MSBuild. Your issue may be related to the code generation package you're using, potentially as the package's targets don't specify inputs/outputs and so MSBuild

[2019-11-16 09:23] #5621 closed

[2019-11-16 11:16] Pzixel commented on #5621
@drewnoakes hmm, you didn't see the behaviour I described above? That sounds really strange because this is why I created this MRE branch. Is have to show the problem.

I thought this is VS related issue because I have seen "dotnet cli call" in logs but it didn't produce the required result so I expected VS calls some "fast path" which isn't valid in all cases.

I will create an issue in the repo

[2019-11-16 23:16] davkean commented on #5545
@gregg-miskelly @srdjanjovcic ConsoleDebugTargetsProvider is named badly, it's used for all .NET Core launches, with exception to some web scenarios, If you are seeing in web scenarios, please open a bug against web tools internally.

[2019-11-17 22:58] Rabadash8820 commented on #4314
@davidwengier @drewnoakes Thanks for the clarification. I just ran into this "One-way upgrade" issue today and was tearing my hair out for a couple hours in confusion 😛. However, I'm concerned that I'm still seeing this issue in VS 16.3.9 (i.e., not being able to have a shared `TargetFramework` in `Directory.Build.props`). Has the fix that @tmeschter mentioned not been shipped yet?

[2019-11-18 00:29] drewnoakes commented on #4314
@Rabadash8820 the fix is in 16.4. You can verify this by installing one of the preview builds, or wait for the GA release.

[2019-11-18 01:31] DanVicarel commented on #4314
Excellent, thanks for the quick reply. I can wait for GA with the [`TargetFramework` workaround](https://github.com/dotnet/project-system/issues/1358#issuecomment-485243019). Keep up the good work y'all!

[2019-11-18 16:56] gregg-miskelly commented on #5545
Ah. Thanks!

[2019-11-18 19:01] gregg-miskelly commented on #5545
Fix verified BTW.

[2019-11-18 21:38] tmeschter opened #5649 "Save Tools | Options settings to the cloud environment"
Once https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1023320 is fixed we need to update our .pkgdef file to specify that our Tools | Options settings should be saved to the could rather than just locally.

[2019-11-18 21:51] davidwengier opened #5650 "COMException when disposing SolutionService"
`SolutionService.Dispose()` retrieves the `Value` property of an `IVsUIService` but it doesn't do so from the UI thread so we get a `COMException` when closing the solution. This presumably leads to us leaking solution events. This should only happen when VS is shutting down so its probably not going to have any real world side effects, but worth fixing.

See here:
https://github.com/dotnet/projec

[2019-11-18 22:12] davkean commented on #5545
Thanks for the followup.

[2019-11-19 00:52] #5650 closed

[2019-11-19 21:05] 333fred opened #5653 "Design-Time Target Failure Causing Loading Errors"
I have a branch of roslyn, https://github.com/333fred/roslyn/tree/xlf-break, that demonstrates this issue. The xlf task running during the design time build fails because the xlf files are out of date, and that causes the project to be incorrectly loaded by the project system. This causes a myriad of non-obvious downstream issues, including partial intellisense/highlighting, missing framework type

[2019-11-19 21:08] 333fred commented on #5653
I've also filed a separate issue on xliff-tasks about not running their tasks during the design-time build, https://github.com/dotnet/xliff-tasks/issues/233, but even if we can't do anything more than putting something in the error list to indicate the design-time failure, we need to a better job here. I only discovered about this failure after attempting to load the solution in omnisharp and seei

[2019-11-20 01:25] drewnoakes commented on #5653
The error here (for `src\Compilers\CSharp\Portable\Microsoft.CodeAnalysis.CSharp.csproj`):

Design-time builds run with the `ContinueOnError` property set to `ErrorAndContinue` which is intended for this kind of thing, so one fix would be to change xliff-tasks to respect that property, though it's somewhat VS specific.

Looking at the xliff-tasks README, that package supports the following option:

[2019-11-20 02:15] davkean commented on #5653
It should run for design-time builds, they need to respect it, see: https://github.com/dotnet/xliff-tasks/issues/36.

[2019-11-20 02:21] davkean commented on #5653
@333fred Did the error not show up in the Error LIst?

[2019-11-20 04:50] 333fred commented on #5653
@davkean nope. I got no errors of any kind, just the weird vs state when only partial types are available. I could go to def on things in the current file, for example, but not defined elsewhere. You can repro with the branch I linked to in my fork, browse around the CSharp compiler project. I was specifically in LanguageParser.cs when I saw the issue.

[2019-11-20 05:47] drewnoakes commented on #5653
Filed https://github.com/dotnet/xliff-tasks/pull/234 which I believe should fix this problem.

[2019-11-20 09:14] drewnoakes commented on #5621
@Pzixel I took another look at this and have a few observations.

Firstly, I think you need to add your `.sol` file as both `UpToDateCheckInput` (for the VS fast up-to-date check) and as `CustomAdditionalCompileInputs` for the MSBuild up-to-date check. There was a time when VS considered `CustomAdditionalCompileInputs` too, but IIRC @rainersigwald advised against this. Rainer does it seem right th

[2019-11-20 09:44] Pzixel commented on #5621
But touching `SolidityGenerator.cs` doesn't make any sense. Of course you can touch any `cs` file in `Solidity.Roslyn` directory and it will make the whole thing rebuild but it's just because standard dotnet toolchain sees that file has changed to it rebuilds the package. And transitively rebuild all the depended packages.

That makes sense. But if you consider `Solditiy.Roslyn` to be shipped as a

[2019-11-20 23:25] davkean commented on #2153
@panopticoncentral These files don't exist and don't have ever existed based on:

[code]

Are you referring to something else?

[2019-11-20 23:25] #2153 closed

[2019-11-20 23:27] davkean commented on #2702
Closing this out - it continues to get punted and its not clear what this is tracking anymore. @dmonroym is moving RPS test to a new system which is using a different bug to track it.

[2019-11-20 23:27] #2702 closed

[2019-11-20 23:30] davkean commented on #3733
@jcouv What exactly is this tracking anymore? The ability to select language versions has been removed from C#, so it won't be used for tracking adding this to VB. @paul1956 If you are still running into issues with VS picking the wrong version - can you open a bug against Roslyn http://github.com/dotnet/project

[2019-11-20 23:30] #3733 closed

[2019-11-20 23:34] davkean commented on #3427
While there's no way to block on specific version, operation progress support replaces this.

[2019-11-20 23:34] #3427 closed

[2019-11-20 23:35] davkean commented on #4189
@davidwengier @cartermp Is this bug still relevant? It's been punted through 4 different versions.

[2019-11-20 23:36] davkean commented on #4797
We store this information to compare it with a new version of it to avoid notifying NuGet of unneeded restores - we should hash the thing, and notify if the hash has changed.

[2019-11-20 23:38] cartermp commented on #4189
This should still be valid, since we want to let users know when the project they're loaded is unsupported. Can't speak towards the severity.

[2019-11-20 23:38] davkean commented on #4835
@dmonroym Please bite this off in 16.5 and automate the publishing of NuGet packages from the CPS build. This is a large pain point.

[2019-11-20 23:41] davkean commented on #4189
I think if we do this, it would be using IVsRetargetProject interface to trigger non-invasive way of telling the user and not through gold bars or dialogs. I've punted this to the backlog, we have much higher priorities than this.

[2019-11-20 23:43] davidwengier commented on #4519
CPS is tracking this here: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1025549

[2019-11-20 23:46] cartermp commented on #4189
Makes sense.

[2019-11-21 00:03] davkean commented on #4827
@dmonroym I've picked this up.

[2019-11-21 00:43] #4827 closed

[2019-11-21 02:01] davidwengier commented on #5197
Closing this as a duplicate of #4519

I've confirmed that if we don't set property values to their current values this doesn't repro. The real fix for this will be done in CPS (see https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1025549)

[2019-11-21 02:01] #5197 closed

[2019-11-21 02:11] davkean commented on #3684
This was fixed in https://github.com/dotnet/project-system/pull/3768, back in 16.0.

[2019-11-21 02:11] #3684 closed

[2019-11-21 03:22] davidwengier commented on #4215
Internal PR and this repos PR have been merged.

[2019-11-21 03:22] #4215 closed

[2019-11-21 09:10] drewnoakes commented on #5621
My testing shows that the project _is_ rebuilding, but the generated code is not being changed unless I touch `SolidityGenerator.cs`. I agree that makes no sense for what you're wanting, but at this point I think your question is best suited for the library author as I don't see it having anything to do with either the VS fast-up-to-date check, or MSBuild's up-to-date check.

[2019-11-21 09:21] Pzixel commented on #5621
In my opinion trigger for manual rebuild and rebuild_if_anything_has_changed should be the same.

In this case there won't be any difference in outputs since it's the same.

However currently it clearly works in different ways. I think we can cooperate with library author to see what differs but it's somewhat beside the point.

I mean triggering build this or other way should be indistinguishable

[2019-11-21 19:08] rainersigwald commented on #5621
I think this was answered by further discussion, but: No, I don't think this makes sense, but I don't think it should be required. In the everything-is-behaving-correctly case:

* The true inputs are known for the VS fast up-to-date check (via `UpToDateCheckInput`).
* The code generator has correct incremental behavior and adds a generated source file to the normal compile inputs
* The compiler th

[2019-11-21 19:36] Pzixel commented on #5621
@rainersigwald right. It seems that I'm wrong and my tool explicitly perform its own check to skip builds. Sorry for bothering you guys. Awesome work.

[2019-11-21 20:57] panopticoncentral commented on #2153
I know there was something that needed to be removed, but it's been 2.5 years now and I can't find it so, ¯\_(ツ)_/¯

[2019-11-22 00:36] drewnoakes commented on #5621
@rainersigwald thanks for your insight and for joining the dots to that existing issue. I missed that.

@Pzixel no bother at all. This was interesting and I learned a few things along the way. Good luck getting this resolved.

[2019-11-22 05:59] davkean commented on #4930
To reduce the number of bugs we just punt from release to release, I've moved this from a milestone to the backlog. @tmeschter Feel free to move it to a milestone of when it actually needs to be done.

[2019-11-22 06:02] davkean commented on #4838
This represents putting the CPS implementation assemblies (Microsoft.VisualStudio.ProjectSystem.Implementation, Microsoft.VisualStudio.ProjectSystem.VS.Implementation) into a private NuGet package that we can consume and fire up real CPS-based projects in tests without needing to mock or fire up real VS instances.

[2019-11-22 06:06] davkean commented on #4441
The first issue called out into this thread has been fixed via https://github.com/dotnet/sdk/issues/2322. The second issue isn't currently actionable without some sort of repro project. If you encounter again, please open a bug against http://github.com/dotnet/sdk.

[2019-11-22 06:06] #4441 closed

[2019-11-22 06:39] davkean commented on #4494
@jeromelaban Sorry for the lack of followup on this. I believe this is fixed, I cannot repro in current builds but that branch I sync'd to is pretty old and there's other errors - so can't get the exact repro anymore. The root cause of this was due to us (incorrectly) pulling the build in-proc when we encountered certain code generators, and was fixed in the 16.3 timeframe.

[2019-11-22 12:34] jeromelaban commented on #4494
Thanks for the update !

Unfortunately, this still happens, when building the Uno solution:
[code]
with the same check, using `Version 16.4.0 Preview 4.0`.

[2019-11-22 12:35] jeromelaban commented on #4494
Should I reopen this issue or create a new one ?

[2019-11-22 20:38] panopticoncentral commented on #4332
"Don't cache build results in BuildManager" was fixed a while ago

[2019-11-23 02:44] davkean commented on #4494
@jeromelaban Can you give me a branch that builds without errors other than that? And create a VSConfig with the installed features?

[2019-11-25 04:36] vsfeedback opened #5658 "Changing .NET Core WPF project item from None to Resource does not embed item in output assembly"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/802033/in-sdk-style-csproj-changing-build-action-between.html). Please vote and comment there to make sure your voice is heard._

---
This issue is present in VS2019 16.3.7, when targeting WPF and .NET Core 3.0 or .NET Framework 4.7.2 with the new SDK-Style .csproj format.

W

[2019-11-25 05:01] drewnoakes commented on #5658
I intend to transfer this to https://github.com/dotnet/wpf but no longer have permission to do so. However this may be related to a GitHub outage seen today, so will try again later before escalating.

[2019-11-25 05:35] sharwell commented on #5658
@terrajobst can you transfer this issue for us?

[2019-11-25 18:08] dmonroym commented on #5658
Closing. Will be tracking this in https://github.com/dotnet/wpf/issues/2240

[2019-11-25 18:08] #5658 closed

[2019-11-25 18:51] kartheekp-ms opened #5659 "[Test Failure] The .csproj file of .net core project can’t be edited at the second time after installing a package"
Copied from /NuGet/Home#8854

## Details about Problem

NuGet Version: Implicit NuGet Client Dev\5.5.0.6319
VS Version: VS Master\29522.92
OS Version: Windows-10-Enterprise-19H2

## Installation step:
[https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3268236&view=results](url)

## Repro steps:
1. Create a C# Console App (.Net Core) project.
2. Unload the project.
3. Reload the project

[2019-11-25 19:32] terrajobst commented on #5658
@sharwell:

FYI: You no loner need owner/admin status for that but you're probably lacking push permissions in WPF.

[2019-11-25 20:05] sharwell commented on #5658
@terrajobst Correct. After the permissions change we aren't sure who has push access to both project-system and wpf, but I figured if anyone does it's you. 😄

[2019-11-25 21:37] davkean commented on #5659
@davidwengier I've marked this as a regression but haven't actually confirmed that.

[2019-11-25 21:58] Grand-Poobah commented on #2961
while you are at it can you look at the settings for running a solution as a website and using the run in express button

To speed development up I prefer setting the site up in IIS, it is faster than having express spin up every time

Other "developers" use the run button since they have no idea how to set up a web site

the issue is that once the run in IIS express has been launched values are a

[2019-11-25 22:06] jzabroski opened #5661 "Copy-pasting files matching globbing patterns produces spurious results"
**Visual Studio Version**: 16.3.10

**Summary**: Possible Brock-Ackerman Anomaly in globbing / copy-pasting files matching globbed patterns

**Steps to Reproduce**:

1. Start with a csproj SDK file format with the following `ItemGroup`:
[code]

2. In the Visual Studio Solution Explorer, click on `App.config`, press <kbd>control</kbd>+<kbd>C</kbd>, <kbd>control</kbd>+<kbd>V</kbd> (doing copy-paste)

[2019-11-25 22:38] davidwengier commented on #5634
This is happening because the single file generator isn't creating the `.Designer.cs` file until after the Data Source Wizard goes to look for it.

[2019-11-25 22:45] davkean commented on #5634
Ah, single file generation is probably async. I wonder if the wizard can force generation via the ProjectItem

[2019-11-25 22:48] davkean commented on #5634
Yeah they can via https://docs.microsoft.com/en-us/dotnet/api/vslangproj.vsprojectitem.runcustomtool?view=visualstudiosdk-2017.

[2019-11-25 23:37] davidwengier commented on #5634
Logged an issue internally for this at AB#1027669. I will update this issue as the status of that changes.

[2019-11-26 00:14] davidwengier commented on #5661
Thanks for the report, there are a few things going on here:

* The spurious `<None Remove` options are there because the project system tries to ensure a single file is only included in one item type, and `None` has a default glob of `*.*`
* The spurious `<Content Include="App - Copy.config">` entries are included because when copying and pasting the `App.config` file the project system includes

[2019-11-26 00:21] davidwengier commented on #5659
Yep, this is a regression, doesn't repro in 16.3 or 16.4.

[2019-11-26 00:25] jzabroski commented on #5661
@davidwengier Thanks, I will submit and cross-link the community post here.

Thanks also for the very helpful explanation of what I am seeing.

This is a bit of a hack, but in this scenario, I see no real harm with your suggestion other than reduced readability.  I can mitigate the readability with an XML comment pointing to this issue:

[code]

In this case, its not clear if I am wrong about my h

[2019-11-26 00:59] davidwengier commented on #5659
Turns out its not leaking any buffers, its that when the project is unloaded we don't get the OnFrameDestroyed event for the project file editor (that opened via the provisional tab when the project was reloaded), so we don't unlock the document in the RDT.

[2019-11-26 02:28] davidwengier commented on #5659
Okay, this regression has nothing to do with Nuget, it occurs whenever there are multiple project editor window frames open. Completely my fault and simple fix :)

[2019-11-26 04:48] davidwengier commented on #5659
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/216089

[2019-11-26 10:35] drewnoakes commented on #2961
@Grand-Poobah this is unrelated to this issue and potentially unrelated to this GitHub repo. Please file a suggestion as described in https://docs.microsoft.com/en-us/visualstudio/ide/suggest-a-feature?view=vs-2019. Thank you.

[2019-11-26 16:45] msmolka commented on #1162
Still issue after 2 years?

[2019-11-27 00:58] NickDarvey opened #5665 "Guidance on programmatic up-to-date check"
**Visual Studio Version**: 16.3.9

I'm building [an MSBuild tools NuGet package](https://github.com/NickDarvey/FSharp.Data.SqlClient.DACFx.MSBuild/blob/411e63a62e76ac7b6f670793055f9231149d46c9/source/FSharp.Data.SqlClient.DACFx.MSBuild/FSharp.Data.SqlClient.DACFx.MSBuild.targets#L31) (or whatever they're actually called) which takes artefacts produced from an SSDT project (.sqlproj) and uses them

[2019-11-27 01:23] drewnoakes commented on #5665
Hi Nick,

Looking at [your `Dacpac` target](https://github.com/NickDarvey/FSharp.Data.SqlClient.DACFx.MSBuild/blob/411e63a62e76ac7b6f670793055f9231149d46c9/source/FSharp.Data.SqlClient.DACFx.MSBuild/FSharp.Data.SqlClient.DACFx.MSBuild.targets#L21-L40), I'm wondering whether you can remove that target altogether and hoist those `ItemGroup` and `PropertyGroup` elements to the `Project` so that they

[2019-11-27 03:38] NickDarvey commented on #5665
Hey Drew,

That sounds like an easier approach. I can't remember if this is why I originally had those `ItemGroup` and `PropertyGroup` elements nestled inside a `Target`, but now I get:

[code]

The workaround for that is [putting it inside a target or using a property group to store it](https://stackoverflow.com/a/49250218/1259408). I'll try the latter though I'm not quite sure how that would loo

[2019-11-27 04:18] davidwengier commented on #5659
PR complete

[2019-11-27 04:18] #5659 closed

[2019-11-27 04:49] drewnoakes commented on #5665
Interesting. TIL!

You might also try creating a task that runs before `CollectUpToDateCheck*DesignTime` and which adds the items you need there. For example:

[code]

That way you avoid copy/pasting the current `CollectUpToDateCheckBuiltDesignTime` target definition, which could change in future.

[2019-11-27 05:15] NickDarvey commented on #5665
I think that's got me one step closer, even though it's an error:

[code]

 I'm not sure what `UsingTask` I should be adding (if I should), I couldn't find one in `Microsoft.Managed.DesignTime.targets`.

I did notice [those targets](https://github.com/dotnet/project-system/blob/bd3d123ed061e28594f0d938dc9fefa434f5e05b/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets

[2019-11-27 05:30] davidwengier commented on #5665
You forgot `<ItemGroup>` around the `<UpToDateCheckBuilt>`, which is why it thinks that is a target, not an item :)

[2019-11-27 05:47] NickDarvey commented on #5665
Well that's embarrassing. [Fixed](https://github.com/NickDarvey/FSharp.Data.SqlClient.DACFx.MSBuild/commit/39f0faffe2167a6a438f9981b42a97937beda8ea)!

Though unfortunately it is still skipping:
<details>
<summary>'Build solution' with verbose logs for up-to-date check</summary>
1>------ Build started: Project: TestDatabase, Configuration: Debug Any CPU ------
1>		Loading project references...
1>

[2019-11-27 06:21] drewnoakes commented on #5665
Getting closer! I would expect your target to have run. Perhaps it didn't, or perhaps it didn't include any items.

If you capture a binary log for the design-time build, we'll be able to see more details. There's a VSIX you can install that adds the ability to capture design-time build logs:

https://github.com/dotnet/project-system/blob/master/docs/design-time-builds.md#visual-studio-2017-or-lat

[2019-11-27 07:02] NickDarvey commented on #5665
Ah yes.

Unfortunately when I start recording the build fails with no errors in the output:

<details>
<summary>With build log recording, build failure, up-to-date check verbose</summary>

[code]

</details>

Based on the last line, I would say that's the SSDT project that's failing when 'build log' is recording?

The bin log is pretty empty:
[code]

When I stop recording and hit build (F6) again,

[2019-11-27 07:25] NickDarvey commented on #5665
Ah! I was about to add that `Message` when I realized [I was missing a `DependsOnTargets="Dacpac"`](https://github.com/NickDarvey/FSharp.Data.SqlClient.DACFx.MSBuild/commit/dbeda1cb7449ae42d07f251347f3de64a2894ba3)!

That's done something. At least, it's publishing the database when I tweak a table now in the sqlproj, even if I haven't touched the fsproj.

I'm running into a different issue now, j

[2019-11-27 09:32] NickDarvey commented on #5665
Ok, that has done the trick. Thank you!

Though as an aside, adding a [`Message` in that target](https://github.com/NickDarvey/FSharp.Data.SqlClient.DACFx.MSBuild/blob/742581df0c03311d9be1085f0d5dc9b2cbc95f71/source/FSharp.Data.SqlClient.DACFx.MSBuild/FSharp.Data.SqlClient.DACFx.MSBuild.targets#L44) doesn't actually get printed at all, even when [others elsewhere](https://github.com/NickDarvey/FSh

[2019-11-27 20:23] davidwengier commented on #4519
Internal PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/215694 has been completed.

[2019-11-27 20:23] #4519 closed

[2019-11-27 20:25] davidwengier commented on #5197
In case anyone is watching this issue, the linked duplicate has been fixed.

[2019-11-27 22:32] jackfoxy opened #5666 "F# Visual Studio build fails despite presence of global.json"
**Visual Studio Version**: 16.3.10

**Summary**:
F# project builds successfully in batch, but not in Visual Studio, despite a global.json file in the solution root .

**Steps to Reproduce**:

See instructions in ReadMe of demonstration project
https://github.com/jackfoxy/TestFSharpGlobalJson

**Expected Behavior**:
Expect build in Visual Studio to succeed.

**Actual Behavior**:
Visual Studio build

[2019-11-28 00:40] davkean commented on #5666
Error inside VS is:

[code]

[2019-11-28 01:02] cartermp commented on #5666
@jackfoxy two questions:

1. When you say "batch", do you mean `dotnet build`? Because that fails, but the `build.cmd` file succeeds. So there is definitely something wrong with the way the project is configured.
2. I noticed that this project doesn't depend on `Thoth.Json.Net`, but that's required to use Thoth.Json on .NET Core. Given this I'm not sure how this project is supposed to build in VS,

[2019-11-28 01:03] vsfeedback opened #5667 "Debugging program with environment variables"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/353814/debugging-program-with-environment-variables.html). Please vote and comment there to make sure your voice is heard._

---
<p>In the debugging panel of a .Net application: </p><p><a href="https://developercommunity.visualstudio.com/storage/attachments/43600-debugging.png">

[2019-11-28 01:07] vsfeedback opened #5668 "Stop closing SDK-style .csproj open as document when loading it as project"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/808385/stop-closing-sdk-style-csproj-open-as-document-whe.html). Please vote and comment there to make sure your voice is heard._

---
It's questionable if one could call it a "feature" to have VS _not_ close a document when simply (re-)loading a project in an existing Solution,

[2019-11-28 01:10] vsfeedback opened #5669 "Add support for module references for .NET projects"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/814199/add-support-for-module-references-for-net-projects.html). Please vote and comment there to make sure your voice is heard._

---
Additional item in References

---
### Original Comments

#### Visual Studio Feedback System on 11/11/2019, 01:01 AM:

Thank you for taking the

[2019-11-28 01:16] vsfeedback opened #5670 "GacUtil in Visual Studio"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/801401/gacutil-in-visual-studio.html). Please vote and comment there to make sure your voice is heard._

---
<p>Hello</p><p>The most common change we always make to a new project here at Fujitsu, is adding the newly created dll to the GAC. We do it in the Post build event comman

[2019-11-28 01:16] cartermp commented on #5670
Even though this project system is primarily for .NET Core, I moved this here to see if we'd consider it since you can use .NET SDK-style here

[2019-11-28 01:17] vsfeedback opened #5671 "Add a way to add <Nullable> to csproj without having to edit manually the file"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/795142/add-a-way-to-add-to-csproj-without-having-to-edit.html). Please vote and comment there to make sure your voice is heard._

---
Today when we create a NET Core 3  app with C# 8 nullables are not enabled by default. Why is this, I will never understand it. THe only way to e

[2019-11-28 01:43] drewnoakes commented on #5665
Is your design-time build failing? If so then it's important we fix it DTB failures cause all kinds of weird errors in the IDE. Please check this column:

![image](https://user-images.githubusercontent.com/350947/69770306-a364f000-11dc-11ea-8410-b4bc21fdcb5b.png)

How are you viewing it? Did you use this tool? http://msbuildlog.com/

In this case you're recording non-DTB builds, but it seems like

[2019-11-28 01:54] drewnoakes commented on #5671
Agree this would be a useful feature.

Duplicates #4058.

[2019-11-28 01:54] #5671 closed

[2019-11-28 01:58] davidwengier commented on #5665
Oh, I meant to comment about that, as I saw it in person - it was a normal build, and with Build Logging turned on it silently failed, and with logging stopped it worked fine. I couldn't reproduce it on my machine unfortunately, at least with a local build of project system tools, so there is a chance its a bug that has been fixed depending on when the last release was done.

[2019-11-28 02:00] NickDarvey commented on #5665
Oh, hang on. It turns out that 'Build Logging' fails the first solution build only, it works after that. See [this video](https://1drv.ms/v/s!AnnX4cHM9BgSzohxtF3o33Y2BwBGXA?e=LeRfyo). (The menu isn't showing, but the item I'm clicking is 'Build Solution (F6)'.)

If it means anything, the two projects that fail (I assume) are the SSDT and Azure Functions projects.

<details>
<summary>Visual Studio

[2019-11-28 02:04] NickDarvey commented on #5665
Thanks for the guidance on the up-to-date check, @drewnoakes. Super helpful! I very much appreciate it. I'll continue on the MSBuild side of things now!

[2019-11-28 02:04] #5665 closed

[2019-11-28 02:17] vsfeedback opened #5673 "Copy paste .cs file from one Visual Studio instance to another"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/803508/copy-paste-cs-file-from-one-visual-studio-instance.html). Please vote and comment there to make sure your voice is heard._

---
I have opened two solutions, each in a separate Visual Studio window instance. I would like to copy a .cs file from Solution Explorer of the fir

[2019-11-28 02:20] davkean commented on #5673
Dupe of https://github.com/dotnet/project-system/issues/112.

[2019-11-28 02:20] #5673 closed

[2019-11-28 03:14] davidwengier commented on #5665
I opened https://github.com/dotnet/project-system-tools/pull/211 to fix the problem with the first build so keep an eye out for a new release of Project System Tools in the not too distant future.

[2019-11-28 11:02] tomaustin700 commented on #3164
This is still an issue, has there been any progress made on this? Having to manually remove the obj folder when moving between branches is less than ideal.

[2019-11-28 13:53] jeromelaban commented on #4494
This branch:
https://github.com/unoplatform/uno/commit/06ddf8f02e604ace3a03b32b95ac1e4392b388d9

It has `.vsconfig` setup. It generally seems to happen more with the Xamarin.Android filtered solution.

To build:
- Copy the `src/crosstargeting_override.props.sample` to `src/crosstargeting_override.props`
- Uncomment `UnoTargetFrameworkOverride` and set `MonoAndroid90` as the value
- Open the `Uno.U

[2019-11-28 14:16] Brondahl opened #5678 "UI for "PackageVersion" in C# Project Properties does not update the PackageVersion tag in the .csproj file"
Originally uncovered in report of a Nuget Issue: https://github.com/NuGet/Home/issues/7542
Considered to be a VS UI bug, rather than a Nuget Pack bug.

**Visual Studio Version**:
I have personally reproduced it on:
2017 Professional.
2017 Community.
2019 Professional.

**Summary**:
Setting the "PackageVersion" in the VS UI, modifies the `<Version>` tag, but not the `<PackageVersion>` tag, in the `

[2019-11-28 15:39] jackfoxy commented on #5666
@cartermp  yes, I mean dotnet build.

Yeah, I see that's not in paket.lock.
I first reported this in the Thoth.Json project
https://github.com/thoth-org/Thoth.Json/issues/45#issuecomment-558045431

Close here and reopen there?

[2019-11-28 19:50] matthid commented on #5666
@cartermp it should build with `Thoth.Json` this package cannot be used in dotnet runtime but it has everything to make the compiler happy.

By the way. I see the error in VS2019 and in dotnet build. To be honest I'm not even sure what to look for. This looks similar to https://stackoverflow.com/questions/55117499/how-to-fix-f-error-fs0193-fsharp-core-does-not-contain-vallinkagepartialkey-f and ht

[2019-11-28 19:53] matthid commented on #5666
I can send (in private) MSbuild binlogs of a successful and a failing invocation and maybe work out a minimal repro (again probably private only). I'll try to make a public repro as well but I cannot promise anything.

[2019-11-28 20:19] malylemire1 opened #5679 "EnvDTE.ProjectItem.Value.Object as VSLangProj.VSProjectItem RunCustomTool in T4 Template freeze visual studio."
**Visual Studio Version**:
2019 Professional

**Summary**:
Was working fine with old project format.

EnvDTE.ProjectItem.Value.Object as VSLangProj.VSProjectItem RunCustomTool freeze visual studio in T4 Template with new project format.

When debugging the T4 template everything seems to run.

**Steps to Reproduce**:

1. Add a T4 template to a new class library project. (Tested for .net standard b

[2019-11-28 21:46] drewnoakes commented on #5678
Notes about this bug:

A project and its outputs may have several versions:

- Assembly version (`<AssemblyVersion>`)
- Assembly file version (`<FileVersion>`)
- Package version (`<PackageVersion>`)

Usually you want the same value across all these versions. The `<Version>` property makes that straightforward by giving a single property that populates all of the above.

In the UI, the "Package" pr

[2019-12-01 20:18] cartermp commented on #5666
Given the activity here: https://github.com/thoth-org/Thoth.Json/issues/45

And in linked issues, I do not think this is an issue in either the .NET project system or the F# compiler. I recommend closing this out, since the issue is not about VS failing to respect a pinned SDK.

[2019-12-01 20:48] matthid commented on #5666
@cartermp I'd say this is a compiler bug for sure, what should that message even mean? If the failure is really expected (and this has yet to be proven) then at the very least the error message needs a hard rework. The code location is useless as well.

[2019-12-01 21:11] cartermp commented on #5666
@matthid there's generally a bug insofar as an internal error like that shouldn't leak, but that doesn't mean the root issue is in the compiler. Discussion about the environment leads me to believe it's not to do with the compiler in a .NET Core environment.

[2019-12-02 12:29] bairog commented on #5551
**Default interface members** is the only C# 8 feature that **will not** work on .NET Framework 4.8/.NET Standart 2.0.
**[Asynchronous streams](https://www.nuget.org/packages/Microsoft.Bcl.AsyncInterfaces/)**, **[Indices and ranges](https://github.com/slang25/csharp-ranges-compat)** and even **[nullable attributes](https://github.com/manuelroemer/Nullable)** are available via Nuget packages.
All o

[2019-12-02 14:11] RudeySH commented on #5551
@bairog I read that post. It says:

It says nullable reference types are supported (to a degree), but fails to mention that IntelliSense does not support it at all when using old-style .csproj, which makes it completely unusable when developing with Visual Studio.

Why hasn't this issue been acknowledged yet? Currently this issue is closed because "C# 8 is not supported on .NET Framework" but that

[2019-12-02 18:37] terrajobst commented on #5551
@RudeySH

There is a difference between "doesn't fail" and "is supported". We don't support C# 8 on .NET Framework, period. Of course, you can force it via tooling (e.g. by specifying language version in the project file) and provided you install the right set of NuGet packages, stuff will often just work fine (like it has with past versions and bridge packages).

However, our experience with back

[2019-12-02 21:10] jackfoxy commented on #5666
@cartermp There is sometimes a difference in VS and dotnet build output messages. Probably having to do with VS shelling out to MSBuild.exe, and dotnet using MSBuild.dll (maybe I have that backwards).

I'm guessing the leaking has to do with that, and in this case not only a message leaked, but a severity.

[2019-12-02 23:25] davidwengier opened #5689 "Add AppX Manifest Support"
We need to add AppX Manifest Support for WinUI

* Special file handler logic
* File template for AppX Manifest

[2019-12-02 23:27] cartermp commented on #5666
@jackfoxy that's not what's going on. Since it's a .NET Core project, it's effectively doing what `dotnet build does` (parallelism strategy is different than from the CLI, but that's not what's affecting this). I do not believe this is an issue related to building with a global.json - I recommend this issue be closed and discussion continue in the Thoth repository, which has more information about

[2019-12-02 23:28] davidwengier opened #5690 "Add RESW file support"
For WinUI support we need to support RESW resource files:

* Special file handler logic
* Item Template (WinUI own?)

[2019-12-02 23:40] davidwengier opened #5691 "Add retargeting support"
CPS currently implements IVsRetargetProjectAsync so we need to validate or possible expand that support, and then implement WinUI retargeting on top of it.

* Property Pages
* Template wizard
* IVsRetargetProject retargeting (retargeting entire solution to new version, prompting when prerequisite is missing)

Retargeting .NET Core projects should be considered too, and could be a way to work on th

[2019-12-02 23:43] davkean commented on #5691
Have a look at how we did this for UWP/Portable/Phone here: http://index/?leftProject=Microsoft.VisualStudio.ProjectFlavoring&file=Microsoft%5CVisualStudio%5CProjectFlavoring%5CRetargeting%5CVsRetargetProjectManager.cs. I would port this as it adds a simplified layer (separating into "Acquisition" and "Retargeting") over IVsRetargetProject

[2019-12-02 23:45] davkean commented on #5691
Although bear in mind that looks like it changed to hardcode Windows SDK platforms for some reason, which should be removed.

[2019-12-03 07:11] davkean commented on #102
First part of this PR is: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/216780.

[2019-12-03 10:38] SimonCropp commented on #2873
@Pilchie did this ever get a release?

[2019-12-03 13:32] davkean commented on #2873
@davidwengier We had a bunch of changes both in single file generators and editing since above - can we verify if this still exists? The internal bug was won't fix but we've had feedback here and https://github.com/Microsoft/msbuild/issues/2352#issuecomment-454076634.

[2019-12-03 20:19] danteMesquita commented on #4678
I have the same issue

[2019-12-03 20:24] jnm2 commented on #4938
Visual Studio 16.4 is out now!

[2019-12-03 21:03] drewnoakes opened #5697 "Replace progression APIs with IAttachedCollection"
We currently use progression APIs (graph nodes) for populating transitive dependencies in the Dependencies node.

There's an initiative by the IDE team to avoid loading the seven DLLs needed for progression to reduce startup time, working set and also make Solution Explorer more responsive.

To deliver that benefit to Visual Studio, the Dependencies node will need to move away from progression, us

[2019-12-03 21:04] drewnoakes commented on #5697
Related experience: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/723450

[2019-12-03 21:22] davidwengier opened #5698 "Project file contents don't get found in the new Replace In Files experience"
**Visual Studio Version**: 15.5

**Steps to Reproduce**:

1. New .NET Core Console App
2. Find in Files, search for "Exe" (observe, one result)
3. Replace in Files, search for "Exe", replace with "Library"

**Expected Behavior**:
Project should change to Class Library

**Actual Behavior**:
No results

The previous Find in Files experience, available in the Preview Features pane of the Options dial

[2019-12-03 21:33] davidwengier opened #5700 "Project reload error when Replace in Files is used with unsaved project changes"
**Visual Studio Version**: 15.5

**Steps to Reproduce**:

1. New .NET Core Console App
2. Change the project without saving the file (eg, Exclude a File)
3. Replace in Files, change Exe to Library

**Expected Behavior**:
Project should silently change to Class Library

**Actual Behavior**:
Project reload prompt

**User Impact**:
Annoyance, or possibly lost work from project resetting (if they pick

[2019-12-03 21:55] drewnoakes commented on #4678
@danteMesquita can you please share a screenshot? In @rolandh's screenshot above there did not appear to be a shared project in the solution to reference.

[2019-12-03 23:07] davidwengier commented on #5698
Logged https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1030662 after talking to the editor team. Will leave this open for tracking, or if there are changes we need to react to.

[2019-12-03 23:53] RoySalisbury commented on #5547
Installed release of Visual Studio 16.4 (which includes .NET Core 3.1). Unable to select 3.1 as target framework as described above.

[2019-12-03 23:56] nguerrera commented on #5547
@RoySalisbury Do you have a global.json specifying an earlier SDK then 3.1.100 by chance?

[2019-12-04 00:00] RoySalisbury commented on #5547
@nguerrera not that I can find.  Not in the project folder or any parent folders.

[2019-12-04 00:10] RoySalisbury commented on #5547
If I change the project file manually to netcoreapp3.1, then the IDE complains about it not being defined in

`"C:\Program Files\dotnet\sdk\3.0.101\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.TargetFrameworkInference.targets"`

So it looks like the IDE is still looking in the 3.0.1 directory and was not updated to look in the 3.1 directory.

[2019-12-04 01:27] nguerrera commented on #5547
Can you share `dotnet --info` run from the project directory?

[2019-12-04 02:49] webprofusion-chrisc commented on #5547
I ran into this as well, I did have a global.json which limited it, then restarted VS and can see it now. This probably needs UI in Visual Studio along the lines of 'Targets are limited to 3.0.1 by current global.json' just to avoid the head scratching (I reinstalled the 3.1 sdk, restarted VS a couple times, restarted machine, then googled it and got here).

[2019-12-04 08:39] bairog commented on #5551
What do you mean? I've created new Console Application for .NET Framework 4.0 with VS 16.3.10 (old-stye csproj) and then followed [this guide](https://github.com/manuelroemer/Nullable/wiki/%5BInstallation%5D-Traditional-.csproj-format) for **Nullable** Nuget package. And now I have compler warning and **AllowNullAttribute** hilighting.

[2019-12-04 15:46] RoySalisbury commented on #5547
[code]

[2019-12-04 15:55] RoySalisbury commented on #5547
Seems restarting Visual Studio did not help, but rebooting the OS did.  Perhaps Visual Studio was holding a lock someplace on a file.  But now I can choose 3.1.0 as the target framework.

Very odd..

[2019-12-04 23:35] davkean commented on #5349
I would split this into two features;

- First, make View Class Diagram work for a project node.
- Then, make View Class Diagram work for multiple selected files.

[2019-12-04 23:49] davkean commented on #4737
@drewnoakes Going to give this to @ocallesp as an intro into how this stuff works.

This logic lives inside BuildUpToDateCheck and you can turn on logging via the following which will help you understand what's going on:

![image](https://user-images.githubusercontent.com/1103906/70191449-e549e500-174c-11ea-84d5-7163f71afda8.png)

[2019-12-04 23:56] davkean commented on #3670
@ocallesp This is likely the cause: https://github.com/dotnet/project-system/issues/3670#issuecomment-400475289.

[2019-12-04 23:58] davkean commented on #3670
Have a look inside AggregateCrossTargetProjectContext where it persists the targetfamework.

[2019-12-05 01:25] PureKrome commented on #2961
I've had some grief with this issue for a while. Last night I posted a tweet about this and @VisualStudio said to create a feedback request, [which I did](https://developercommunity.visualstudio.com/idea/844362/vs-propertieslaunchsettings-and-vscode-vscodelaunc.html).

This issue is about global launchSettings vs user-based launchSettings. I'm hoping to tweek this issue a bit further and say that

[2019-12-05 04:21] drewnoakes commented on #4737
@ocallesp let me know if you want to sync up on this.

[2019-12-05 04:29] davidwengier commented on #5589
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/217284

[2019-12-05 04:37] #4805 closed

[2019-12-05 04:37] drewnoakes opened #5702 "Project import tree improvements"
Following #4805 and #5639 there are some pending items we are considering for the project import tree:

- [ ] Browse object showing path, label, group label
- [ ] Option to show these at all times
- [ ] Include imported files in "Find in Files"
- [ ] (Maybe) track "Show all files" state via Dataflow

[2019-12-05 04:44] drewnoakes opened #5703 "Investigate providing browse objects lazily"
Currently in CPS, all tree items are constructed with a populated browse object. This means each tree item retains its `IRule` instance even though the vast majority of these will never be displayed.

CPS provides these objects to VS in response to an event.

We should investigate whether there would be benefit to a CPS extension point that would allow producing these objects lazily.

These object

[2019-12-05 10:25] thothothotho commented on #3619
The current working directory is absolutely essential on unix, maybe not that used on windows.
From the code point of view:
[code]
and

[code]

should not expose different behavior (the CWD should be the same (`.../someDir`).

This is the universal convention respected by all good citizens in the unix world (python, ruby, go, ...).
It has some nice advantages on its own.  For instance, you can cal

[2019-12-05 20:21] Crono1981 commented on #5351
I'm having the issue right now with Visual Studio 16.4, on a side project that is *not* an EXE but rather a controls and forms library.

@davidwengier workaround with `_ExplicitReference` seems to do the trick, but I don't feel confident going forward with migrating about a hundred legacy VB projects to the new SDK with it.

Can anyone explain what's going on with VB.NET support in MS products rig

[2019-12-06 01:18] dmonroym opened #5705 "test"
[AB#761238](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/761238)

**Visual Studio Version**:

**Summary**:

**Steps to Reproduce**:

1.

2.

3.

**Expected Behavior**:

**Actual Behavior**:

**User Impact**:

[2019-12-06 01:19] #5705 closed

[2019-12-06 05:43] davidwengier commented on #2873
Internal PR here: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/217519

[2019-12-06 07:24] SimonCropp commented on #2873
i also note that renaming a parent file, that has dependents globbed under it, results in those dependents  being explicitly duplicated in the csproj. will the fix for this issue also resolve that?

[2019-12-06 07:25] davkean commented on #2873
@SimonCropp No, can you file a new one for that here?

[2019-12-06 09:51] SimonCropp opened #5706 "rename on Globbed DependsUpon duplicates files into csproj"
When rename on an item with DependsUpon  files nested under it, those files are incorrectly duplicated into the csproj.

related to https://github.com/dotnet/project-system/issues/2873

here is a PR after a rename has occured https://github.com/SimonCropp/NestedRepro/pull/1/files

Repo'd on VS Versions

 * Community VisualStudio.16.Preview/16.5.0-pre.1.0+29521.150
 * Community VisualStudio.16.Rele

[2019-12-06 09:51] SimonCropp commented on #2873
@davkean done https://github.com/dotnet/project-system/issues/5706

[2019-12-06 10:32] davidwengier opened #5707 "Considering adding more EmbeddedResource metadata to the sdk"
Once #2873 is fixed we can potentially include more metadata into the [default glob in the SDK for `EmbeddedResource`](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.props#L34) to simplify the project file with respect to resource files (*.resx).

For example, consider if the SDK was expanded to the following:
[code]

This would

[2019-12-06 10:51] davidwengier commented on #5706
Thanks for the simple repro!

[2019-12-06 10:54] SimonCropp commented on #5706
@davidwengier no worries. let me know if u need any help/more info. or a smoke tester for a beta release

[2019-12-06 11:58] davkean opened #5708 "Crash on shutdown in editor frame watching"
Looks like the project file editor tried to reopen the editor on shutdown:

**Steps to Reproduce**:

[code]

**Expected Behavior**:

**Actual Behavior**:

**User Impact**:

[2019-12-06 14:54] swythan commented on #5551
@terrajobst

Both here and in Mads' [blog post about NRT adoption](https://devblogs.microsoft.com/dotnet/embracing-nullable-reference-types) it is acknowledged that there is no way to produce a NuGet package with nullable annotations without either dropping .Net Framework support, or compiling in this "C#8-on-NetFx" configuration which you are so keen to point out is unsupported.

 * Is it reasona

[2019-12-06 22:06] terrajobst commented on #5551
There are two different things here:

1. Consuming C# 8 to build a null-annotated .NET Standard 2.0 library.
2. Consuming C# 8 in .NET Framework.

(1) We will support library authors using C# 8 to build null-annotated libraries targeting .NET Standard 2.0. However, even in .NET Standard, this doesn't make *all* of C# 8 supported, only this particular subset. The goal of this effort is to allow lib

[2019-12-07 03:55] davkean commented on #5708
tag @davidwengier

[2019-12-07 06:11] bairog commented on #5551
Could you clarify ht situation:

- If I use C# 8 directly in my .NET Framewrok application - that is not supported.

- If i use C# 8 in my .NET Standart 2.0 library, produce Nuget package and then consume that package in my .NET Framework application - that is supported.

Does that make sense?

[2019-12-09 00:30] davidwengier commented on #5708
Do you hit this reliably?

From the stack, we're getting an event telling us the frame is becoming visible from DisposeManagedResources, which seems odd to me, and isn't happening on my machine with a debugger attached at least.

[2019-12-09 00:31] davkean commented on #5708
It's coming visible because you are reading a property on the frame.

[2019-12-09 00:38] davidwengier commented on #5708
It's being reopened because of that, but the first appearance of CPS on the stack is here:

[code]

The fact that TrackWindowFrame is being called means `newIsVisible` is true (see [here](https://devdiv.visualstudio.com/DevDiv/_git/CPS?path=%2Fsrc%2FMicrosoft.VisualStudio.ProjectSystem.VS.Implementation%2FEditor%2FProjectFrameOpenCloseListener.cs&version=GBmaster&line=238&lineEnd=239&lineStartColu

[2019-12-09 00:39] davkean commented on #5708
Okay, then I have no idea.

[2019-12-09 03:21] SimonCropp commented on #5706
if anyone knows of a workaround it would be appreciated

[2019-12-09 03:52] drewnoakes commented on #5702
- [ ] While the import tree is visible, drag/dropping the project's `.csproj.user` file into the editor gives:

[2019-12-09 04:22] vsfeedback opened #5710 "Deleted folder does not appear in Recycle Bin"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/829439/deleted-folder-does-not-appear-in-recycle-bin.html). Please vote and comment there to make sure your voice is heard._

---
[regression] [worked-in:Visual Studio 2017 Professional]
Deleting a folder from a C# project does not move it to Recycle Bin. Instead, it complete

[2019-12-09 04:32] drewnoakes commented on #5710
In CPS, the enum member `DeleteFromStorage` will be a good place to start looking.

[2019-12-09 04:37] drewnoakes commented on #5702
- [ ] Review context menu on the "Imports" node

[2019-12-09 10:41] swythan commented on #5551
@terrajobst

This disagrees with your previous statement:

and also disagrees with @MadsTorgersen's bog post:

Can you see why this is confusing?

I've been looking for a page where the support policy is actually stated, but couldn't find one. I did find this github issue, though, which may be a better place to have this discussion:
https://github.com/dotnet/csharplang/issues/2651

[2019-12-09 13:57] cartermp commented on #5551
@swythan the documentation is here: https://docs.microsoft.com/dotnet/csharp/language-reference/configure-language-version

I recommend we halt conversation in this issue, since it is not about the general support of C# 8, and there will be no further tooling support in the legacy project system to enable the `<Nullable>` property.

[2019-12-09 16:49] JohannZhu commented on #1308
Any updates on this issue? Finding one single executable project from dozens of projects is not funny... And I know some teams have hundreds of projects...

[2019-12-09 20:45] Rabadash8820 commented on #4314
@drewnoakes I just installed VS 16.4 and can confirm that importing `TargetFramework` from a `Directory.Build.props` file is working as advertised. Thanks again!

[2019-12-09 23:35] davkean commented on #4314
@Rabadash8820 thanks for following up!

[2019-12-09 23:57] CyrusNajmabadi opened #5733 "Hangs for long periods of time in latest preview"
Capturing dump.  UI eventually comes back.  But hangs come and go constantly.  Experience is quite poor.

I'm on:

![image](https://user-images.githubusercontent.com/4564579/70483205-a1ccdf00-1a9c-11ea-84a5-edd2fca62af7.png)

Product has very serious perf regressions, seemingly across the board.

[2019-12-10 00:08] davidwengier commented on #5574
Based on the link to the legacy implementation, what we need here is something like the following:

* CPS needs to respond to the VSHPROPID_UserContext with information it knows (like project, project item)
* CPS needs a new extension point so that extenders can add data to the context (allowing for multiple extenders in some fashion)
* We need an implementation of that extension point that adds T

[2019-12-10 00:16] drewnoakes commented on #5259
Chase up the Roslyn bug related that causes subtype to change when changing configurations.

[2019-12-10 00:23] drewnoakes commented on #5090
No longer reproduces in Version 16.5.0 Preview 2.0 [29608.6.master]. May be related to project file editing bugs that have since been fixed.

[2019-12-10 00:23] #5090 closed

[2019-12-10 00:30] davidwengier commented on #2873
This has been fixed.

[2019-12-10 00:30] #2873 closed

[2019-12-10 00:31] drewnoakes commented on #4944
@melytc we've been triaging issues. Let's take a look at this together some time in the 16.6 timeframe, as it should be a good introduction to the rules.

[2019-12-10 00:45] drewnoakes commented on #4338
Closing as a duplicate of #2487.

[2019-12-10 00:46] drewnoakes commented on #2487
Be sure to check the case in duplicate issue https://github.com/dotnet/project-system/issues/4338.

[2019-12-10 01:00] drewnoakes commented on #3670
@ocallesp feel free to reach out if you would like to discuss this.

[2019-12-10 01:07] drewnoakes commented on #3435
We will break this down into tasks and assign those tasks to 16.5 and 16.6.

[2019-12-10 02:42] jeromelaban commented on #4338
Closing ;)

[2019-12-10 02:42] #4338 closed

[2019-12-10 03:08] drewnoakes commented on #5690
Review assignment once requirements clear.

[2019-12-10 03:15] drewnoakes commented on #5599
@davkean to spec this out a bit more to work out approach from the MSBuild side.

[2019-12-10 03:28] #5428 closed

[2019-12-10 03:29] drewnoakes commented on #5428
Triage: decided not to complete this.

[2019-12-10 03:36] davkean commented on #5349
Triage: We've moved to @dmonroym to pick up for 16.6.

[2019-12-10 03:40] davkean commented on #4781
Triage: This needs to be spec'd out a little more so that other folks can pick it up.

[2019-12-10 21:41] drewnoakes commented on #5702
- [ ] Review whether ordering of children in tree reflects ordering of imports, including in the case of updates that change order
- [ ] Investigate the 'Search within file contents' option of Solution Explorer's search:
   ![image](https://user-images.githubusercontent.com/350947/70571401-efa72b80-1bf1-11ea-9396-b2c246667d05.png)

[2019-12-11 00:32] drewnoakes opened #5711 "Imports tree should support duplicate node names"
Originally this was an error report (see below). That error has now been fixed, but duplicate nodes are hidden. Instead, we should show all nodes so that the import tree is not misleading.

---

A project file that imports two files with the same file name causes this exception:

[code]

Names should be disambiguated to be made unique.

Repro: https://devdiv.visualstudio.com/DevDiv/_git/VS-Platfor

[2019-12-11 03:23] davidwengier opened #5712 "Add a reference to CPS project, it does not display in the Assemblies list"
_Copied from [AB#719762](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/719762)_

**Affected Branch:** d16.0

**Affected Build:** 28229.52

**Steps to reproduce:**

1. Copy CPS template(all zip files) from \\vspfs3\public\CPS\Templates\ProjectTemplates\Visual C#\CPS Barebone to local machine template path, such as %USERPROFILE%\Documents\Visual Studio 2019\Tem

[2019-12-11 03:26] davidwengier opened #5713 "VS hangs every time when opening MessagePack.sln"
_Copied from [AB#801326](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/801326)_

**Repro steps:**
git clone https://github.com/AArnott/MessagePack-CSharp.git
cd MessagePack-CSharp
notepad sandbox\PerfNetFramework\PerfNetFramework.csproj
Add the following line to the first PropertyGroup and save the file.
    <Platforms>x86</Platforms>

Use Visual Studio 2019

[2019-12-11 03:29] davidwengier opened #5714 "Add telemetry points to Property Pages"
_Copied from [AB#827704](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/827704)_

Today, we lack telemetry to tell us which property pages pages are used, and which parts of a given property page are used. Because of this, we only know how many people open the property pages, which is not enough to inform which ones need work the most.

[2019-12-11 03:32] davidwengier opened #5715 "Regression in CPS load time in d16.1 on solutions with 260+ projects"
_Copied from [AB#842321](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/842321)_

Scalability measurement of CPS-ProjectSystem for d16.1 on VS (Version:[28802.258.d16.1]]). The solution load time is longer than 16.0P4. Here is the compared result as below:

![image](https://user-images.githubusercontent.com/754264/70589118-074ad800-1c23-11ea-9362-5c4d81a94d59.

[2019-12-11 03:37] davidwengier opened #5716 "CPS deadlocks VS when opening .csproj that does not belong to a solution"
_Copied from [AB#896129](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/896129)_

git clone https://devdiv.visualstudio.com/DevDiv/_git/DevCore
cd DevCore\src\clr
nuget restore
.\samples\ServiceHub.Sample.NugetClientApp\ServiceHub.Sample.NugetClientApp.csproj

**Expected**

VS opens to a (new) solution containing the project I indicated.

**Actual**

VS hangs

[2019-12-11 03:39] davidwengier opened #5717 "NFE: System.Runtime.InteropServices.COMException in Microsoft.VisualStudio.Setup.Configuration.ISetupConfiguration.GetInstanceForCurrentProcess"
_Copied from [AB#957685](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/957685)_

See: [Project Fault Investigation (Web view)](https://microsoft.sharepoint.com/teams/DD_VSIDE/_layouts/OneNote.aspx?id=/teams/DD_VSIDE/Documents/Squads/Project%20and%20Build/TeamInfo/CPS&wd=target%28Diagnostic.one%7cACCBE161-B1E3-42E2-9E1F-92A7D57F7312/Project%20Fault%20Investiga

[2019-12-11 03:42] davidwengier opened #5718 "NFE: System.InvalidOperationException in Microsoft.VisualStudio.Shell.Design.VsTargetFrameworkUniverse..ctor"
_Copied from [AB#957687](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/957687)_

See: [Project Fault Investigation (Web view)](https://microsoft.sharepoint.com/teams/DD_VSIDE/_layouts/OneNote.aspx?id=/teams/DD_VSIDE/Documents/Squads/Project%20and%20Build/TeamInfo/CPS&wd=target%28Diagnostic.one%7cACCBE161-B1E3-42E2-9E1F-92A7D57F7312/Project%20Fault%20Investiga

[2019-12-11 03:56] davidwengier opened #5719 "Visual Basic shows up twice in All Languages filter on RUS language"
_Copied from [AB#961245](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/961245)_

**Simplified repro steps:**

Install VS 2019 from master branch with .NET desktop development selected
Open a command prompt and navigate to VS install dir
Run `dir /s *Wpf.Control*` and `dir /s *Wpf.Custom.Control*` to find the folder containing WPF Control VB .NET Core template

[2019-12-11 03:59] davidwengier opened #5720 "Regressions for CPS memory usages in 16.3 P2 master ([29131.210.master])"
_Copied from [AB#961468](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/961468)_

Scalability measurement of CPS-ProjectSystem for d16.3P2 master on VS (Version:[29131.210.master]]). Here is the compared result as below:
![image](https://user-images.githubusercontent.com/754264/70590408-bc32c400-1c26-11ea-85f2-a8a9b9fef4f9.png)

![image](https://user-images.gi

[2019-12-11 04:01] vsfeedback opened #5721 "MSBuild process constantly starting and ending"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/667419/msbuild-process-constantly-starting-and-ending.html). Please vote and comment there to make sure your voice is heard._

_Copied from [AB#961596](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/961596)_

---
The MBuild process seeems

[2019-12-11 04:01] davkean commented on #5716
Dup'ing against https://github.com/dotnet/project-system/issues/3425. The root cause is that we don't have a way to handle configuration switches during soluton load which causes us to wait for init of the language service that will never complete. This is being tracked by the API additional.

[2019-12-11 04:01] #5716 closed

[2019-12-11 04:01] davkean commented on #5713
Dup'ing against https://github.com/dotnet/project-system/issues/3425. The root cause is that we don't have a way to handle configuration switches during soluton load which causes us to wait for init of the language service that will never complete. This is being tracked by the API additional.

[2019-12-11 04:01] #5713 closed

[2019-12-11 04:02] vsfeedback opened #5722 "File Nesting Not Working for all Class or Shared Library Projects"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/483587/file-nesting-not-working-for-all-class-or-shared-l.html). Please vote and comment there to make sure your voice is heard._

_Copied to [AB#986508](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/986508)_

---
File Nesting is just no

[2019-12-11 04:05] vsfeedback opened #5723 "no localregistry service message popping up"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/717378/no-localregistry-service-message-popping-up.html). Please vote and comment there to make sure your voice is heard._

_Copied from [AB#991802](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/991802)_

---
fresh install of VS 2019 Pre

[2019-12-11 04:09] davkean commented on #5721
Closed in this lieu of the AzureDevOps bug which is assigned to Roslyn.

[2019-12-11 04:09] #5721 closed

[2019-12-11 04:10] davidwengier commented on #5659
Also tracked by AB#1007299

[2019-12-11 04:13] davidwengier commented on #5714
@melytc this may be already covered by https://github.com/dotnet/project-system/pull/5575 ? If so, feel free to close this.

[2019-12-11 04:32] davidwengier opened #5724 "PLM: OP stuck in PackageRestoreProgressTracker - project.assets.json not getting created"
_Copied from [AB#1032715](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1032715)_

**Dump:**
`\\scratch2\scratch\peterspa\devenv intellisense stuck.zip`

**Repro steps:**
1. Install VS from master branch: https://aka.ms/vs/16/int.master/vs_enterprise.exe
2. Open PowerShell and run `Set-ExecutionPolicy Unrestricted`
3. `cd \\vspfs3\Public\AdrianV\Tools\Operati

[2019-12-11 04:35] davidwengier opened #5725 "[Cloud] C# files are being opened under Miscellaneous files"
_Copied from [AB#1031759](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1031759)_

**Steps to reproduce:**

1. Create a connected environment  (instructions here)
2. Us the following repo: https://github.com/dotnet/project-system.git
3. Open the solution
4. click on C# file

**Result:** The file gets open under "Miscellaneous files"

[2019-12-11 04:38] davidwengier opened #5726 "[Cloud] Modifying a project on the server does not cause NuGet restore to run"
_Copied from [AB#1020118](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1020118)_

**Steps to reproduce:**

1. Create a .NET Core project and load it up in a cloud server (using these instructions).
2. Connect using a client.
3. On the server, use Notepad to edit the project to add <PackageReference Include="Newtonsoft.Json" Version="12.0.3" />

**Expected re

[2019-12-11 04:42] davkean commented on #5702
@drewnoakes This is marked tracking but it actually has work inside of it.

[2019-12-11 04:44] davidwengier opened #5727 "[Cloud] Build behavior is inconsistent in .NET Core project"
_Copied from [AB#1006986](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1006986)_

**Client build:** 29423.80.master
**Server build:** 29423.80.master
**LS:** "\\cpvsbuild\drops\cascade\vs\Insiders\master\1.0.1067\drop\Microsoft.VisualStudio.LiveShare.vsix"

**Steps to reproduce:**

1. Follow the steps in Setup and Configure a static Online Environment to set

[2019-12-11 04:49] davidwengier opened #5728 "[Cloud] Properties and References nodes have generic document icon when displaying a WPF Application using LiveShare (WPF project hierarchy nodes do not support image monikers)"
_Copied from AB#1008537_

**Affected Branch:** master
**Affected Build:** Version 16.4.0 Preview 3.0 [29425.28.master]

**Steps to reproduce:**

1. Install latest master drop with .NET Desktop workload including Live Share.
2. Create a solution with a WPF Application (.NET Framework) and a Class Library (.NET Framework). Or open the attached Solution1.
3. Start a Live Share session.
4. Launch a ne

[2019-12-11 09:17] drewnoakes commented on #5712
For context, the repro steps given here require using CPS project templates that are not shipped anywhere.

[2019-12-11 10:31] MagicAndre1981 commented on #3756
@TFTomSun

ok, I used VS2017 and now I tried it in VS2019 and here it works.

[2019-12-11 15:45] ollypapi commented on #1741
You gonna need to install some nugget, create a table and do db-migration

[2019-12-11 18:34] CyrusNajmabadi opened #5729 "Hangs for long periods of time in latest preview"
Capturing dump.  UI eventually comes back.  But hangs come and go constantly.  Experience is quite poor.

I'm on:

![image](https://user-images.githubusercontent.com/4564579/70483205-a1ccdf00-1a9c-11ea-84a5-edd2fca62af7.png)

Product has very serious perf regressions, seemingly across the board.

[2019-12-11 18:48] panopticoncentral opened #5730 "ProjectServices should dedup strings coming from MSBuild"
Looking at memory dumps of large solutions, one source of duplicate strings is the ProjectServices's `DesignTimeBuildResultCache` object. @drewnoakes did a bunch of work to dedup strings when saving to and loading from the cache, but this situation is where the cache was empty and we ran a design-time build. We should consider whether we could dedup strings in this case at least within an individu

[2019-12-11 18:59] sharwell commented on #5729
@CyrusNajmabadi I would need a performance trace to review along with the heap dump. If the automated collection tools are not working, you can collect the performance trace manually using the General Purpose scenario here:
https://github.com/dotnet/roslyn/wiki/Recording-performance-traces-with-PerfView#general-purpose

[2019-12-11 20:48] drewnoakes commented on #5730
I remember talking to @lifengl around the time I worked on Project Services and IIRC he said that MSBuild already de-dupes strings.

When I look at this I'll verify by inspecting dumps.

[2019-12-11 21:20] melytc commented on #4944
Sounds good, thanks Drew!

[2019-12-11 21:40] davkean opened #5732 "Show performance warning when evaluation time is high"
https://github.com/microsoft/msbuild/issues/4025 increases evaluation time significantly, we should plug into the performance center/yellow bar to warning when we encounter these sorts of situations so that the user is aware that opt'ing into the NuGet resolver is the cause of the underlying UI delays.

[2019-12-11 21:42] davkean commented on #4410
@jjmew That's exactly what I turned this into: https://github.com/dotnet/project-system/issues/5732.

[2019-12-11 21:42] #4410 closed

[2019-12-11 22:42] vsfeedback opened #5753 "Put a tooltip on reference warnings"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/829635/put-a-tooltip-on-reference-warnings.html)._

---
If I have a warning on a reference, every now and then, I *might* get a build warning explaining it, but usually not.  I just have a yellow triangle in my reference tree with no discernible way to figure out what the prob

[2019-12-11 23:28] spadapet commented on #5724
This seems to only repro on one of my machines. I can't find any way to repro this failure on another machine and not even in other folders on that same repro machine. It _only_ repros with the test project folder as created by the XAML integration test. So if you need to debug anything on my machine, I'll help.

[2019-12-12 02:08] davkean commented on #4551
This is probably causing by including an item multiple-times.

[2019-12-12 02:15] davkean commented on #4551
I spent some time trying to repro this and couldn't a dump next time might be helpful.

[2019-12-12 02:15] #4551 closed

[2019-12-12 02:21] davkean commented on #2963
Going to close this - WPF/WinForms support was adding in 16.3/16.4 timeframe. I've looked through all the listed itens and we have addressed all them. Please file individual bugs for any new issues that you encounter.

[2019-12-12 02:30] davkean commented on #4845
Reopening for triage - cut is broken between projects when the file is already open.

[2019-12-12 02:36] davkean commented on #4845
NOTE: The file still exists in the soure location in my testing and updated Jason's repro.

[2019-12-12 02:43] davkean commented on #5733
@CyrusNajmabadi Please record a ~30 second (shorter the better) trace via Help -> Report a Problem -> Send Feedback and send me the link that you get via email. This dump doesn't give us enough information. Please use Report a Problem because that will let me dig into your UI delays as well. I'll close this bug until then.

[2019-12-12 02:43] #5733 closed

[2019-12-12 02:45] davkean commented on #5730
This was moved to 16.5 - but we've already booked for that unless you pick this up Paul. I've unassigned the milestone, we'll pick this up in triage.

[2019-12-12 02:51] davkean commented on #5724
@spadapet Can you repro this manually? If so, capturing design-time build logs via https://github.com/dotnet/project-system/blob/master/docs/design-time-builds.md#visual-studio-2017-or-later would be extremely helpful.

[2019-12-12 02:58] davkean commented on #5328
C++ owns their own shared file hierarchy, so I don't think this will affect C++.

[2019-12-12 03:02] davkean commented on #4469
@TIHan This has been sitting for a year - it's unclear what this is blocking/impacting. I'm going to close it, please open if still relevant and point to what this is going to fix/resolve for you.

[2019-12-12 03:02] #4469 closed

[2019-12-12 03:06] davkean commented on #4408
@TIHan This has been open for a year and doesn't have enough data to be actionable. I'm closing for now - feel free to reopen when you have additonal data around what's needed here.

[2019-12-12 03:13] CyrusNajmabadi commented on #5733
Unfortunately, i cannot.  that tools just gives me a blank screen in VS :-/ :(  but @sharwell linked me to something that looks like i should be able to collect enough data.

[2019-12-12 03:16] #2963 closed

[2019-12-12 08:11] ShemJM commented on #5634
I have updated to the latest version of visual studio and the data sources window now seems to be broken.

![image](https://user-images.githubusercontent.com/42591036/70694066-abca2a00-1cb6-11ea-8da3-ebf46292d8ec.png)

I think this is relevant to this issue.

Although I can now add data tables using the wizard if I use the toolbox.

[2019-12-13 00:43] TFTomSun opened #5734 "Set debuggertype to Javascript (chrome) in launchsettings.json"
Is it possible to set the debugger type in the launchsettings.json file? When I select chrome as the executable the debugging always starts only with managed and/or native engine.

[2019-12-13 00:44] davkean commented on #5734
I moved this over to us, I believe web launch should do this automatically for you, is that not working for you? Or are you not using a web project?

[2019-12-13 02:25] davkean commented on #5670
Thanks for the suggestion. We have no plans to invest in this area.

As a workaround, to avoid the path changing, you can refer to it using an environment variable:

[code]

[2019-12-13 02:25] #5670 closed

[2019-12-13 05:14] TFTomSun commented on #5734
@davkean yes, it's not a web project.

[2019-12-13 20:55] tmeschter commented on #5725
Workaround when hosting the server locally: point the server to the solution file rather than a folder path. There seems to be an assumption in LiveShare that once a "workspace" is open you won't/can't switch to another. However, in the cloud environment you fill often start in the "folder" workspace and then transition to a "solution" workspace, and that isn't being respected right now.

[2019-12-13 20:55] tmeschter commented on #5725
This issue is now being tracked by https://github.com/dotnet/roslyn/issues/40362.

[2019-12-13 20:55] #5725 closed

[2019-12-16 00:05] #4408 closed

[2019-12-16 00:53] drewnoakes commented on #5730
@lifengl's comment was here: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/603660

I fixed the cache dupes a month or so back. When I get to this issue I'll look at some dumps to see if it still applies.

[2019-12-16 06:12] JohnyL opened #5735 "Incorrect COMReference entry when using Office interop"
To include Excel interop libraries, I do the following: `Dependencies -> Add Reference -> COM -> Microsoft Excel 14.0 Object Library`. When I do this, I get the following `ItemGroup`:
[code]
However, I get the following runtime error:

In order to work, I have created .NET Framework app, added COM reference there and copied its COMReference - and **it works**:
[code]
As noted [here](https://github

[2019-12-16 06:44] drewnoakes commented on #5735
Repro steps:

1. New `netcoreapp3.1` console application
1. Right-click Dependencies node
1. Select COM
1. Select "Microsoft Excel 16.0 Object Library"
1. Reference a type within code (e.g. `Microsoft.Office.Interop.Excel.Chart`)
1. Try to run the console app. It fails as described.
1. Add `<EmbedInteropTypes>True</EmbedInteropTypes>`
1. Running now works

### netcoreapp3.1

[code]

### net471

[c

[2019-12-16 09:43] JohnyL commented on #5735
Beg your pardon - I forgot to mention that this happens in .NET Core.

[2019-12-16 12:13] drewnoakes commented on #5702
@shyamnamboodiripad I looked into the ordering of tree items. They're being displayed alphabetically. Once #5736 lands, they'll be displayed in the correct evaluation order.

[2019-12-16 19:10] vsfeedback opened #5737 "Accept Platform "AnyCPU" for a solution"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/426844/accept-platform-anycpu-for-a-solution.html). Please vote and comment there to make sure your voice is heard._

---
<p>Please change build of a solution to treat &quot;AnyCPU&quot; the same as it does &quot;Any CPU&quot;.</p><p>Trying to build either a project or solution

[2019-12-16 19:16] vsfeedback opened #5738 "Not All Shared Projects are Listed in Solution Explorer"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/548422/not-all-shared-projects-are-listed-in-solution-exp-1.html). Please vote and comment there to make sure your voice is heard._

---
<p>In a .Net Core 3.0 project I reference several additional shared projects. <br><br>Some shared projects are referenced directly (i.e. &quot

[2019-12-16 19:19] shyamnamboodiripad commented on #5702
@drewnoakes Sounds great - Thank you!

[2019-12-16 19:22] vsfeedback opened #5739 "Drag one file from one instance of visual studio to another to open it"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/779245/drag-one-file-from-one-instance-of-visual-studio-t.html). Please vote and comment there to make sure your voice is heard._

---
<p>Problem:</p><p>My product consists of code from different solutions. I have a solution A and want to debug a class from a second solution B.

[2019-12-16 19:24] vsfeedback opened #5740 "Add package file/contained assembly paths to browse object"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/idea/781589/cannot-see-the-path-for-a-dll-reference-via-packag.html). Please vote and comment there to make sure your voice is heard._

---
Hi,

After migrating to the `<PackageReference>` syntax, we cannot see the path of dll(s) in **Properties** tool window any more.

I know the default pa

[2019-12-16 19:39] vsfeedback opened #5741 "show a thumnail when hovering vector drawable inside resource folder"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/664173/show-a-thumnail-when-hovering-vector-drawable-insi.html). Please vote and comment there to make sure your voice is heard._

---
show a thumnail when hovering vector drawable inside resource folder
and we still need support for webP images in imageview

---
### Original Co

[2019-12-16 19:50] vsfeedback opened #5742 "Visual studio 2019: Dotnet Core Windows Subsystem for Linux Support"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/436341/visual-studio-2019-dotnet-core-windows-subsystem-f.html). Please vote and comment there to make sure your voice is heard._

---
<p>Windows now has WSL. </p><p>When I develop dotnet core apps I like to test them on linux. With WSL, you can literally just run `dotnet run` i

[2019-12-16 20:07] TwentyFourMinutes commented on #3163
Is #17574 already included in .Net Core 3.1?

[2019-12-16 22:00] davkean commented on #3163
This bug has not been fixed, @BillHiebert can give you an update on its progress.

[2019-12-16 23:08] spadapet commented on #5724
@davkean I finally saw your question. Yeah I installed that extension, turned on logs, opened the project that never finishes intellisense, and here's the logs:

[BuildLogs.zip](https://github.com/dotnet/project-system/files/3970573/BuildLogs.zip)

Hope that helps. I can repro any time.

[2019-12-16 23:10] spadapet commented on #5724
It's funny that I can't view the build log because the intellisense build is stuck :)

![image](https://user-images.githubusercontent.com/2523431/70950642-12807800-2016-11ea-9762-66ea06bd7955.png)

[2019-12-16 23:19] davkean commented on #5742
Triage: Please investigate, update this bug and send it back to triage. It sounds like there might be multiple bugs here and if so, break them out into individual issues.

[2019-12-16 23:20] drewnoakes commented on #5738
If you reference a shared project via a file like `Directory.Build.props` it won't be displayed in the Dependencies node.

### src/Project/Project.csproj

[code]

### src/Directory.Build.props

[code]

![image](https://user-images.githubusercontent.com/350947/70951200-db15d800-20b6-11ea-99fc-1850ccb51d4d.png)

Repro solution at `\\mlangfs1\public\drnoakes\issues\Issue5738ImplicitySharedProjectRefe

[2019-12-16 23:22] davkean commented on #5741
I've moved to this internally to another team that provides this functionality.

[2019-12-16 23:22] #5741 closed

[2019-12-16 23:24] davkean commented on #5740
Triage: We provide this functionality in the new project system but we are not investing in this area in the legacy project system.

[2019-12-16 23:27] davkean commented on #5740
Triage: This is a request to add the full path of the dll to the browse object of the graph nodes:

![image](https://user-images.githubusercontent.com/1103906/70951559-d43b9500-20b7-11ea-8d4c-e5b88a2e7e9a.png)

[2019-12-16 23:28] drewnoakes commented on #5740
I guess there are two things here:

1. Show the path to the `.nupkg` file when a package is selected
1. Show the path to the `.dll` file when a DLL is selected

[2019-12-16 23:37] drewnoakes commented on #3463
We now have the project import tree, which may be a good place to show such a version.

For example, we could show the value of `$(NETCoreSDKVersion)` on top-level `Sdk.props` and `Sdk.targets` tree items.

[2019-12-16 23:37] davkean commented on #5737
This is owned by the Solution Experience, and we'll use https://developercommunity.visualstudio.com/content/idea/426844/accept-platform-anycpu-for-a-solution.html to track it.

[2019-12-16 23:37] #5737 closed

[2019-12-16 23:44] davkean commented on #5717
Triage: Investigate the hits for this and if still in the top 10 hits of non-fatal watsons, fix it. Otherwise, close it and we'll it will be picked up when we do the next NFW pass.

[2019-12-16 23:45] davkean commented on #5714
Closing this for the work we did in https://github.com/dotnet/project-system/pull/5575, feel free to reopen if its not enough.

[2019-12-16 23:45] #5714 closed

[2019-12-16 23:47] davkean commented on #5712
Triage: This only repros in CPS barebone so we're not going to fix this unless it can be hit in a C#/VB/F# project, we don't support the dependency node outside of that. We'll happily take contributions to fix this - but we're not going to address this.

[2019-12-16 23:47] #5712 closed

[2019-12-16 23:51] davkean commented on #5702
@drewnoakes Can you split this up into individual issues that folks might be able to bite off under "Help-Wanted"?

[2019-12-16 23:56] davkean commented on #5734
@TFTomSun Can you provide background on why you don't want/can't use a web project to do this?

Triage: This is a request to add JavaScript engine to the Launch Providers properties page alongside the native and SQL engines. At same time grab any other common ones and add them at same time so we don't piecemeal this .

[2019-12-16 23:59] davkean commented on #5679
Triage: This was likely regressed in the recent changes around generators.

[2019-12-17 00:13] drewnoakes commented on #5702
I will once my current bout of work on it slows down.

[2019-12-17 00:19] davkean commented on #5733
@CyrusNajmabadi Was there a followup to this?

[2019-12-17 00:47] nguerrera commented on #3463
Is the full path to the Sdk.props/Sdk.targets visible somewhere in that tree? If so, there is the version in the path. I'm not saying this is the best way to present it, but it would mean it's at least something you could find now if the path to imports can be discovered.

[2019-12-17 00:48] nguerrera commented on #3463
Should I expect to see this in dogfood build already? I don't.

[2019-12-17 00:57] drewnoakes commented on #3463
Not yet, but the plan is to make it available in the properties panel. Best you can do now is double-click the file then see the path in the editor tab tool tip.

Yep, but you have to turn on 'Show all files' for the project. Feedback appreciated.

[2019-12-17 01:00] nguerrera commented on #3463
Nice!

So even if we don't do this feature (still think we should), I now have a way to find the version:

![image](https://user-images.githubusercontent.com/75470/70955354-68a8e780-2025-11ea-9066-40a97a1d7696.png)

[2019-12-17 01:08] CyrusNajmabadi commented on #5733
Unfortunately no.  To make progress on other work, i had to stop using this version of VS.  Note: i'm surpried the dump isn't useful.  It seems to indicate entirely whatthe problem is: FileChangeService.UnadviseFileChange is synchronously blocking during this path.

[2019-12-17 01:10] davkean commented on #5733
Taking another look at the dump.

[2019-12-17 01:17] heku commented on #5740
Thank you for consideration.

[2019-12-17 01:19] drewnoakes commented on #3463
Can you see any issues with using `$(NETCoreSDKVersion)`? For example if using `Microsoft.NET.Sdk.WindowsDesktop`? I haven't played around with it yet.

[2019-12-17 01:23] davkean commented on #3463
Is there a general purpose version that comes with the SDK itself that we can pull so we don't have to specifically handle this variable that is SDK-specific?

[2019-12-17 01:51] nguerrera commented on #3463
There isn't. But SDK resolvers return a version to MSBuild so I think that is the right general way would be to ask msbuild for a list of resolved sdks and their names and versions. (# 2 in  https://github.com/dotnet/project-system/issues/3463#issuecomment-513947382)

[2019-12-17 02:30] davkean commented on #5733
I had a look at the dump, it's dump taken via 64-bit version of TaskMgr and can't load 32-bit sos.dll or my extensions that I can use to find the cause of the bug. I can see the threads but they don't provide enough information as they are blocked on async tasks. When taking dumps, they need to be taken using via "C:\Windows\SysWOW64\Taskmgr.exe".

Can you try this version of VS again and see if i

[2019-12-17 04:05] davidwengier commented on #5708
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/219244

[2019-12-17 04:05] davidwengier commented on #5700
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/219244

[2019-12-17 06:21] davidwengier commented on #5181
A fix for this would be to force the project to reload immediately on Save, rather than queue the reload, and block the editor while its happening

[2019-12-17 10:26] davidwengier opened #5744 "Project File Editor not marked dirty when property changed"
**Visual Studio Version**: 16.5 Preview 1

**Summary**:
When a project property is changed there is no dirty mark added to any open project file editor. If the project file editor is opened after changing the property, it does correctly have a dirty indicator.

**Steps to Reproduce**:

1. New .NET Core console app
2. Right click the project node -> Edit Project File
3. Right click the project node

[2019-12-17 10:56] TFTomSun commented on #5734
@davkean
Sure, I played a bit with Bridge.NET which is a C# to javascript transpiler. They are offering also source map generation. I was able to debug bridge.net code within visual studio when I attach manually to the chrome browser with the JavaSciript Engine. Bridge.NET actually expects the projects to be .NET Standard and it also doesn't require and support any ASP.NET Core infrastructure.

Is

[2019-12-17 12:16] zspitz commented on #4686
I've had success by creating a shared project and storing the XAML files along with their code behind in the shared project. Other code files can go in the regular (SDK-format) project folder.

[2019-12-17 17:00] nguerrera commented on #3463
I would imagine it isn’t a huge change for msbuild to expose resolved sdks, but I could be very wrong. I think we should investigate what that would take.

[2019-12-17 17:02] nguerrera commented on #3463
The source of truth is what the sdk resolver returns to msbuild. The package resolver returns a package version.  The .NET core sdk resolver returns the .NET Core SDK version for all sdks it bundles.

[2019-12-17 22:54] cartermp opened #5745 "Searching Solution Explorer freezes VS"
**Visual Studio Version**:

16.5.0 Preview 2 [29616.133.master]

**Steps to Reproduce**:

1. Clone https://github.com/dotnet/fsharp

2. Run `Build.cmd` (might take a little while)

3. Open solution in latest dogfood 16.5 build

Now search for `language` in Solution Explorer:

**Expected Behavior**:

Filters Solution Explorer to have nodes with `language` in them.

**Actual Behavior**:

Filters, bu

[2019-12-18 00:49] ocallesp commented on #3670
@davkean this issue is only reproducible in VS 2017. Not able to repro in VS 2019/master.

[2019-12-18 01:07] #3670 closed

[2019-12-18 01:26] davkean commented on #5745
Can you grab the crash to expedite investigations? Either report a problem or merge this https://github.com/dotnet/project-system/blob/master/docs/repo/content/AlwaysSaveDevEnvCrashDumps.reg?

[2019-12-18 01:29] davkean commented on #5745
Nevermind can repro this on http://github.com/dotnet/project-system. Need to actually search for "language" for it to repro. Moving to Roslyn.

[code]

[2019-12-18 01:34] davidwengier commented on #5708
Logged https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1042486 for this too.

[2019-12-18 16:39] vsfeedback opened #5746 "Remove "Prefer32Bit" checkBox in . NetCore project settings."
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/791429/remove-prefer32bit-checkbox-in-netcore-project-set.html). Please vote and comment there to make sure your voice is heard._

---
<p>According to the question in [Prefer32Bit is ignored in .netcore3.0 app](https://developercommunity.visualstudio.com/content/problem/789878/p

[2019-12-18 18:30] cartermp opened #5747 "Solution Explorer search in VisualFSharp.sln consistently crashes VS"
**Visual Studio Version**:

Latest dogfood for me (29617.129.master)

**Summary**:

Consistent VS crash

**Steps to Reproduce**:

1. Clone https://github.com/dotnet/fsharp

2. Run `build.cmd` (may take a while to complete)

3. Open VisualFSharp.sln

4. Click Solution Explorer search

5. Search for "language" and hit Enter.

![image](https://user-images.githubusercontent.com/6309070/71112891-5e0365

[2019-12-18 18:45] jmarolf commented on #5747
Can you attach the stack trace that was reported in the windows event viewer?

[2019-12-18 19:17] cartermp commented on #5747
Stack trace:

[code]

[2019-12-18 19:17] cartermp commented on #5747
Looks like a Roslyn issue?

[2019-12-18 19:48] jmarolf commented on #5747
Yeah this looks like a roslyn or F# bug, exeption is coming from [here](https://github.com/dotnet/roslyn/blob/e2f494603ca59c4f36cd4970f39712adc073f32a/src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs#L344). We expect to get null symbols that do not support progression, instead we are getting an unknown symbol type

[2019-12-18 20:37] davidwengier commented on #5747
You logged this yesterday @cartermp :P

Closing as a dupe of https://github.com/dotnet/roslyn/issues/40466

[2019-12-18 20:37] #5747 closed

[2019-12-18 21:08] cartermp commented on #5747
wat - I swear this did not show up in my github history so I thought it was just deleted somehow

[2019-12-18 21:13] davidwengier commented on #5181
Looked into this a bit and seems the design around this needs fixing. Currently when saving the project file there are two saves, the first for the UnconfiguredProject if it has changes, and the second for the text buffer for the user changes. We then reload the project, as the text changes weren't applied to the project, and the file change watching are suppressed while saving.

The first save is

[2019-12-18 23:52] dmonroym opened #5748 "Move CPS build pipeline to VS2019"
This should work with VS2019 https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?definitionId=9020&_a=summary

[2019-12-18 23:53] dmonroym commented on #5748
This is related to CPS so internal PR is available here: https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/218389?path=%2Fbuild%2Fcloud%2Fartifacts%2F_vsts.ps1&_a=overview

[2019-12-18 23:59] dmonroym opened #5749 "Investigate why double copy happens on symbolic linking when publishing Artifact Declared by source"
28_Publish Artifact Declared by source.txt

E:\A\_work\4225\s\bin\Release\net472\Microsoft.VisualStudio.ProjectSystem.dll -> LocBin\
Cannot create a file when that file already exists.
E:\A\_work\4225\s\bin\Release\net472\Microsoft.VisualStudio.ProjectSystem.Implementation.dll -> LocBin\
Cannot create a file when that file already exists.
E:\A\_work\4225\s\bin\Release\net472\Microsoft.VisualStudio

[2019-12-19 01:08] dmonroym opened #5750 ""Modernize" CPS repo"
The repo is based off of VS-Platform and a few months ago they did several modifications including:

- [x] Update toolset to use VS 2019
- [ ] ~~Pin .NET SDK version used to build~~
- [ ] ~~Bump nuget.exe used to 5.0.2~~
- [ ] Only set the cloud build number once at the start of the build #6004
- [ ] Speed up first use of dotnet.exe #6003
- [x] Dramatically improve perf when downloading tools (e.g

[2019-12-19 02:15] davidwengier commented on #5744
Putting this back into triage to confirm the milestone. I played with it for a minute and its super easy to introduce a regression.

[2019-12-19 06:05] panopticoncentral commented on #5730
Actually, I realized this was a mistake on my part -- because the solution duplicates projects, it was creating false duplicates.

[2019-12-19 06:05] #5730 closed

[2019-12-19 23:19] drewnoakes commented on #5753
Duplicate of #4357.

[2019-12-19 23:19] #5753 closed

[2019-12-19 23:36] drewnoakes opened #5754 "Show import tree nodes in order of execution"
The import tree currently shows its nodes in alphabetical order.

It would be more useful to show them in evaluated import order.

CPS supports this (via "display order" which is used in F# projects) but this comes with a run time perf cost, so we don't want to turn it on for the entire tree.

[2019-12-20 00:18] davkean commented on #5750
Triage: We should split this into individual issues around things we actually want to do. For example, CPS doesn't use NuGet.exe so the upgrade NuGet version isn't needed.

[2019-12-20 00:25] davkean commented on #5744
Triage: This worked in 15.9.

[2019-12-20 00:30] davkean commented on #5678
Duplicate of https://github.com/dotnet/project-system/issues/3004.

[2019-12-20 00:30] #5678 closed

[2019-12-20 00:31] davkean commented on #3004
Triage: This behavior is as was designed, however, we should consider UI tweaks to fix the confusion.

@melytc Can you investigate what UI gestures need to change on this page to better indicate what's going to the user?

[2019-12-20 00:37] davkean commented on #5669
Triage: I don't think this would ever bubble up as a priority as modules are an advanced concept that we don't have great tooling around anyway, with the move to .NET Core modules have been deemphasized.
@jjmew Can you deal with the Feedback ticket?

[2019-12-20 00:45] davkean commented on #5668
Triage: Let's treat this issue as a tracking bug to finish off project file editing when a project isn't loaded, has failed to load at factory level or has entered CPS's failed "tree" state. The project file editor should work in all these situations and not require a successful CPS load to kick in.

[2019-12-20 00:52] davkean commented on #5667
Triage: This is the legacy project system's version of the Debug properties pages. For SDK-projects, we have a new Debug property page that lets you set environment variables. This would be the part of the same story of enabling customers to opt into CPS for legacy projects, which we are tracking via https://github.com/dotnet/project-system/issues?q=is%3Aopen+is%3Aissue+label%3AParity-Legacy-API+l

[2019-12-20 00:57] davkean commented on #5666
Triage: Based on @cartermp's comment, I'm closing this as external of this repository.

[2019-12-20 00:57] #5666 closed

[2019-12-20 05:39] davkean opened #5755 "Project system should aggressively cancel design-time builds that are in progress"
If you close Visual Studio or unload a solution while design-time build is in progress - VS/CPS will wait until the design-time build has finished before shutting down. If you have long design-time builds, this can take 10s of seconds depending on how many builds are in progress. We should aggressively cancel the builds as if the user had cancelled a normal build and bail as quickly as possible.

[2019-12-20 05:55] davkean commented on #5755
@panopticoncentral We should track this as part of the solution unload scenario.

[2019-12-20 17:17] #5669 closed

[2019-12-20 17:17] #5667 closed

[2019-12-20 19:12] tmeschter opened #5756 "Run single-file generator on the server when a .resx file is saved on the client"
Currently, when saving changes to a .resx file in a cloud-connected client the changes are propagated back to the server and saved there, but the single-file generator doesn't run.

The changes to support this need to be made at the CPS layer (or lower). This issue tracks verifying that it works properly in .NET Core projects once those changes have been made, and making any necessary bug fixes on

[2019-12-20 19:15] tmeschter opened #5757 "Determine the project context when opening the RESX designer"
Currently, when you open a .resx file in the designer on a cloud-connected client there is no way to tell what project the file is associated with. This creates the following known limitations in the designer experience:

- The user is unable to switch between "public" and "internal" access. This is because doing so requires we change the generator used, which requires updating metadata on the ite

[2019-12-20 19:20] tmeschter opened #5758 "Support picking server files in RESX designer"
Currently, when adding a file to a .resx as a resource the file picker shows files on the client. We need the file picker to instead show files on the server.

Providing a "server file picker" API is the responsibility of the LiveShare/Cloud Environment team. This issue tracks the changes needed in the .resx designer to use it in LiveShare/Cloud Environment scenarios.

Note this likely doesn't mak

[2019-12-20 19:24] tmeschter opened #5759 "Support concurrent editing of .resx files"
Currently, in a LiveShare session, both the client and server can edit the .resx file in the designer. However, when one of them saves it completely overwrites the text buffer, causing the other one to reload the data--and throw away any unsaved changes.

Instead, we should preserve local unsaved changes across remote modifications to the text buffer. One way to do this would be to have the design

[2019-12-20 19:41] tmeschter opened #5760 "Support "Edit Project File" in the Cloud Environment"
In local scenarios the "Edit Project File" command can open project files in the XML editor. We need to update the command so that it is available and displays in the cloud environment, as well.

Notes:

- In the current implementation the command is only available if the selected project supports the "editable project file" capability. As such it is _not_ available on every project.
- To achieve

[2019-12-20 20:08] tmeschter opened #5761 "Settle on a design for a new "App Designer" for the Cloud Environment"
We need to settle on a design for a new "App Designer" that supports new project property pages that can function properly in the Cloud Environment. Items for discussion:

- Do we re-use the application capability designer for this purpose, or write something new?
- How do we support both C++ and .NET Core projects?
- How do we expose configuration and platform to the user via the UI, and to the i

[2019-12-20 20:11] tmeschter opened #5762 "Implement a new "Application" project property page for the Cloud Environment"
Once we settle on a design for a new App Designer (see #5761) we then need to re-implement the "Application" project property page.

[2019-12-21 04:43] drewnoakes commented on #5710
Fixed by @melytc in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/220070.

[2019-12-21 05:34] drewnoakes commented on #5730
De-duping across projects may be helpful in some cases. We should get metrics on real-world solutions rather than synthesized ones.

[2019-12-22 20:59] davidwengier commented on #5708
An internal PR has been opened by the platform team to fix this, https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/220079

[2019-12-23 20:39] cartermp commented on #3121
This should probably be closed out given the .NET Core 3 changes around this UI

[2019-12-23 20:41] #3121 closed

[2019-12-23 23:29] jjmew commented on #5653
@nguerrera and @tmeschter  this is an issue that should be tracked in xliff-tasks as it is not a project system problem. Unfortunately we don't have the ability to transfer the issue. Can you transfer it?

[2019-12-23 23:29] #5653 closed

[2019-12-23 23:32] #5561 closed

[2019-12-23 23:39] 333fred commented on #5653
@jjmew the reason I opened a bug both here and on xliff was because of the bad experience around the failure. There was literally no indication in VS that something had failed: just bad info.

[2019-12-23 23:48] jjmew commented on #5549
Triage - After thinking more about it there seems to be no harm on showing all the available TFMs. That it is out of support doesn't mean that we shouldn't allow people to select it since there might be valid reason why they are choosing that.

[2019-12-23 23:48] #5549 closed

[2019-12-25 22:16] AcellaEDU commented on #5053
It is actual for netcore 3.1

[2019-12-29 13:51] JohnyL commented on #5735
I have found out that if you use `<WrapperTool>tlbimp</WrapperTool>`, then interop types *won't be*  embedded and Excel DLL is copied into app's folder, but if you use `<WrapperTool>primary</WrapperTool>`, then types *will be* embedded and Excel DLL is not copied into app's folder (of course, `<EmbedInteropTypes>true</EmbedInteropTypes>` must exist).

[2019-12-29 19:58] weitzhandler commented on #4467
One of the most annoying issues I have in VS. Still occurring in 16.4.2.

[2020-01-01 19:46] mrpmorris commented on #5372
This is useful when we want to add all of our class extensions in an `Extensions` folder but want them all to be in the main namespace.

I think the best option would be to allow us to bring up the Properties window and edit a DefaultNameSpace property on the folder.

[2020-01-02 02:20] drewnoakes commented on #5711
The current state of this is that duplicates are _hidden_. This fixes the exception we saw, but makes the tree misleading.

I'm re-opening this to track the feature gap.

#5736 fixed the problem completely in its first revision, however that required enabling "display order" support across the whole tree. Instead, we should do this only at the subtree level. This requires CPS changes, and a PR is

[2020-01-02 16:30] fpiazza99 commented on #3394
I see the same thing as @davkean in 2017-15.9.17. In my case i'm running in circles trying to figure out whether or not my latest changes are executing or if the first version of code launched is executing. The other problem is, i'm trying to debug application lifetime stops, but the web server is still running and my code never stops when I stop debugging. I can keep making api calls from the bro

[2020-01-03 07:00] danmosemsft opened #5765 "Infer <Link> missing attributes for files outside of project root"
**Visual Studio Version**:
16.4.1

**Summary**:
Right now, if a project contains a file outside of the project file's subtree, it is displayed as if it was in the project folder. If there are more than a few of these, one likely wants them to be in some kind of structure and right now that can only be achieved by manually adding many "Link" attributes.

Eg., in a project we have ~50 entries like t

[2020-01-03 07:47] drewnoakes commented on #5765
Does MSBuild currently need this metadata, or is it just for VS?

[2020-01-03 11:32] cmclernon-fvs commented on #95
What is the purpose of the "Reference Output Assembly"?  My understanding is that it provides an "implicit" reference to a project but hides the project types from the "main" project (the project doing the referencing).  If this is true then I would expect the referenced project's output to be included in the main projects build output folder. (Including all nuget references)

If I'm correct in my

[2020-01-03 14:52] jkotas commented on #5765
Build does not need this metadata, it is just for VS.

[2020-01-05 08:39] drewnoakes commented on #5748
@dmonroym I'm closing this as the CPS PR has been merged.

[2020-01-05 21:04] davidwengier commented on #5698
An internal PR has been opened to fix this issue.

[2020-01-06 12:50] drewnoakes commented on #5418
Paths are shown for unresolved analyzer references:

https://github.com/dotnet/roslyn/blob/ef4e36fd040f77ba5103434101138598f4c6233f/src/VisualStudio/Core/SolutionExplorerShim/AnalyzerItem/AnalyzerItem.cs#L83-L93

[2020-01-06 18:32] dmonroym commented on #5748
@drewnoakes This mas merged into CPS repo but [this PR](https://dev.azure.com/devdiv/DevDiv/_git/VS/pullrequest/221021) is still pending for insertion into VS master, is it best to create another issue to track that?

[2020-01-06 19:41] #5710 closed

[2020-01-06 23:44] jjmew commented on #5379
Thank you for the suggestion but this doesn't meet the bar.

[2020-01-06 23:44] #5379 closed

[2020-01-06 23:47] jjmew commented on #5364
Thanks for the suggestion. This currently doesn't meet our bar.

[2020-01-06 23:47] #5364 closed

[2020-01-06 23:50] drewnoakes commented on #4682
@melytc we can take a look at this together when we catch up tomorrow. In the meantime if you want to take a look at the code it is here:

- https://github.com/dotnet/project-system/tree/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/UpToDate
- https://github.com/dotnet/project-system/tree/master/tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/UpTo

[2020-01-06 23:51] jjmew commented on #5363
This belongs to a different team. We have move the original ticket to the correct team.

[2020-01-06 23:51] #5363 closed

[2020-01-07 00:12] drewnoakes commented on #5748
@dmonroym I'll reopen this and let you decide.

[2020-01-07 03:34] davidwengier opened #5767 "Remote debugging support"
Following on from #3756 we need to enable support for all of the features of remote debugging that the current ProjectFlavoring system supports like port providers etc.

[2020-01-07 05:19] davkean commented on #5748
We don't usually wait until insertion before closing an issue unless it's got a possibiliy of being rejected, such as during Ask Mode.

[2020-01-07 05:52] davkean commented on #95
@cmclernon-fvs This is referring to the VS UI experience, that question would be better asked over on http://github.com/microsoft/msbuild.

[2020-01-07 06:34] panopticoncentral commented on #5720
We've gotten back to 1560 projects in 16.4 after a number of fixes.

[2020-01-07 06:34] #5720 closed

[2020-01-07 19:16] dmonroym opened #5768 "Create an insertion of CPS into VS to have a clean baseline"
Last insertion made from CPS repo was [PR 218775](https://dev.azure.com/devdiv/DevDiv/_git/a290117c-5a8a-40f7-bc2c-f14dbe3acf6d/pullrequest/218775?_a=overview)

I tried inserting just the upgrades for VS2019 in [PR 219430](https://dev.azure.com/devdiv/DevDiv/_git/a290117c-5a8a-40f7-bc2c-f14dbe3acf6d/pullrequest/219430?_a=overview) but it was built using a topic branch
Once I tried using master bra

[2020-01-07 19:17] dmonroym commented on #5748
In this case the insertion seems to be getting stuck. Just discussed with the CPS team and they kicked off another insertion again. I'll close this issue and track the insertion on #5768

[2020-01-07 19:17] #5748 closed

[2020-01-07 21:46] davidwengier commented on #5698
PR has been completed.

[2020-01-07 21:46] #5698 closed

[2020-01-07 22:24] dmonroym opened #5769 "DDRITs coverage of VB projects is insufficient"
Moving this from AzDo AB#832602

PR 171537 broke loading of VB projects but passed DDRITs without issue. We need to add VB project coverage to the DDRITs, or expand existing coverage appropriately. We should also check that a similar break in C# projects would have been caught.

In this case, the VB projects still "loaded" but the project system ended up passing no information to the language serv

[2020-01-07 22:29] dmonroym commented on #5264
Easy local PR Validation (I should be able to do a test insertion from github by leaving a comment)
In the same manner it should be possible to tag the PR with something along the lines of /noship in order to not create a signed build/insertion PR

[Get a build of Visual Studio for your unmerged PR](https://microsoft.sharepoint.com/teams/ManagedLanguagesIDE/SiteAssets/Managed%20Languages%20IDE%20N

[2020-01-08 00:33] dmonroym commented on #5768
PR 221429 was completed and merged in succesfully.

[2020-01-08 00:33] #5768 closed

[2020-01-08 01:57] dmonroym commented on #4835
Release was modified and we should be publishing automatically now into https://dev.azure.com/azure-public/vside/_packaging?_a=feed&feed=vs-impl%40Local

[2020-01-08 01:57] #4835 closed

[2020-01-08 12:22] cmclernon-fvs commented on #95
Thanks @davkean.  I will do that.

Cheers,

Colm

[2020-01-08 12:38] PDostalek opened #5771 "[loc][Query][project-system] Localizability of 0; "OutputGroupPublishItemsDisplayName""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Publish Items

ID:
0; "OutputGroupPublishItemsDisplayName"

File Name:
Microsoft.VisualStudio.ProjectSystem.Managed\xlf\Resources.xlf

==========================================
Query:
Is "Publish" a verb her

[2020-01-08 17:45] vsfeedback opened #5772 "Visual Studio ran into an unexpected problem error when right clicking on .NET Core 3.0 project to edit"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/872024/visual-studio-ran-into-an-unexpected-problem-error.html). Please vote and comment there to make sure your voice is heard._

---
[regression] [worked-in:Previous dogfood version]
1. Create a new .NET Core 3.0 WPF project
2. Right-click on project and select "Edit"

Resu

[2020-01-08 21:07] davidwengier commented on #5708
PR has been completed

[2020-01-08 21:07] #5708 closed

[2020-01-08 21:23] CpBobette commented on #1162
Coming From #2777
 I still have this issue using VS2019, and referencing P2P from UWP(targeting 17763) a cross-platform library.`<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>`

[2020-01-08 21:48] davidwengier commented on #5771
@PDostalek No, "Publish" in this context is not a verb.

[2020-01-08 22:19] ocallesp commented on #4737
Fix
https://github.com/dotnet/project-system/pull/5773

Adding OutDir to documentation
https://github.com/MicrosoftDocs/visualstudio-docs/pull/4608

[2020-01-09 05:21] #5723 closed

[2020-01-09 19:05] #4737 closed

[2020-01-09 20:31] tmeschter opened #5776 "Implement new UI for project property pages"
This covers the overall work needed to create a new App Designer shell based on the App Capabilities Designer. Individual pieces have been split out into other work items which are now being tracked as dependencies.

- [ ] ~~Add a new assembly to hold the new App Designer. Don't forget setup authoring, loc, and signing.~~ _Split out to #5957._
- [ ] ~~Add a command and command handler to show the

[2020-01-09 20:35] tmeschter commented on #5762
Dependent on #5761 and #5776.

[2020-01-09 20:41] tmeschter opened #5777 "Create abstract implementations of configuration-dependent and configuration-independent property pages"
Our current property pages contain either configuration-dependent or configuration-independent properties. For the new App Designer we should define one or more abstract page types that handle the Configuration and Platform drop-down menus, including retrieving the available and current configuration and platform and exposing them to derived types.

Dependent on #5761, #5762, and #5776.

[2020-01-10 00:10] jjmew commented on #5771
Closing since the question has been answered

[2020-01-10 00:10] #5771 closed

[2020-01-10 00:15] jjmew commented on #5335
@drewnoakes It might be good to have @ocallesp  help with this one

[2020-01-10 00:25] davkean commented on #5641
Triage: Please check C# too.

[2020-01-10 04:00] davidwengier commented on #5700
PR has been merged

[2020-01-10 04:00] #5700 closed

[2020-01-10 05:53] davidwengier commented on #5772
The customers registry is missing the registration for `.csproj` to use the XML editor factory, and the registration for the diff view, that we set up here:
https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/Packaging/ProjectTypeRegistration.cs#L43-L44

There was a slight gap between the CPS insertion for the change that could have shown this e

[2020-01-10 06:21] davkean commented on #4845
This looks intentional, but feels like we should be able to do better than this as we own both sides of the copy/paste operation:

[code]

[2020-01-10 07:29] davkean opened #5779 "Feature: Paste as Link"
**Summary**:
Legacy supports pasting files as Linked files, CPS does not.

**Steps to Reproduce**:

1. Create two projects
2. In one project, rename Program.cs -> Program2.cs
3. Copy Program2.cs
4. Select the other project, and choose Edit

**Expected Behavior**:
![image](https://user-images.githubusercontent.com/1103906/72134038-09958300-33d7-11ea-8461-8c79bfa3a320.png)

**Actual Behavior**:
Past

[2020-01-10 07:32] davkean opened #5780 "Feature: Drag as link"
**Summary**:
Legacy supports pasting files as Linked files, CPS does not.

**Steps to Reproduce**:

1. Create two projects
2. In one project, rename Program.cs -> Program2.cs
3. Holding down _SHIFT+CTRL_ or _ALT_ drag Program2.cs to the second project

**Expected Behavior**:
For the file to be added to the project as a Linked file (not moved or copied)

**Actual Behavior**:
The file is copied to t

[2020-01-10 07:33] davkean commented on #5780
Note: You can create a linked file from CPS -> Legacy, but not from Legacy -> CPS, or CPS -> CPS

[2020-01-10 09:01] davkean commented on #4845
Note: Legacy prompts before doing this (see CVsProjHierarchy::OnBeforeDropNotify):
[code]

[2020-01-10 11:18] drewnoakes commented on #5418
This can be reproduced more easily by:

1. New ASP.NET Core Web Application (empty)
2. Close solution
3. Reopen solution

Deleting the `.dtbcache` file in the `.vs` folder between steps 2 and 3 fixes the problem, so the DTB caching in ProjectServices is looking like the culprit here.

[2020-01-10 18:51] ocallesp opened #5781 "Unit Test : "Adding OutDir property for msbuild" #5773"
**Summary**:

Implement the Unit Test in BuildUpToDateCheckTests.cs
https://github.com/dotnet/project-system/blob/master/tests/Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests/ProjectSystem/UpToDate/BuildUpToDateCheckTests.cs

https://github.com/dotnet/project-system/pull/5773#issuecomment-572291211

[2020-01-12 23:11] drewnoakes commented on #5641
I verified C# when filing this issue and it doesn't have the same problem. The VB pages have different UI and logic for build events.

For C# you get...

[code]

...and the property round trips correctly.

[2020-01-13 00:43] drewnoakes commented on #3242
Saint, you're looking at this so I've assigned it to you. Feel free to update/dupe this issue as necessary.

[2020-01-13 00:59] drewnoakes commented on #2745
This no longer shows an error dialog, but it also doesn't work as expected. It is removed from the UI, but not the project file. Re-open the UI and the platform is back in the dropdown list.

[2020-01-13 16:35] swesonga opened #5785 "Import web project nesting implementation into CPS"

[2020-01-13 16:35] swesonga opened #5786 "Update imported nesting implementation to build successfully"

[2020-01-13 16:36] swesonga opened #5787 "Refactor imported CPS nesting implementation"

[2020-01-13 16:36] swesonga opened #5788 "Unify CPS nesting with web project nesting"

[2020-01-13 23:57] jjmew commented on #3242
We will be tracking this as part of #5722

[2020-01-13 23:57] #3242 closed

[2020-01-14 00:06] jjmew commented on #5429
@davidwengier was this fixed by #4215?

[2020-01-14 00:11] jjmew commented on #5381
We need to check if this applies to new project system or only legacy.

[2020-01-14 02:14] NickCraver commented on #5722
FWIW, we are doing the `Directory.Build.props` approach as well:
[code]

It it helps, the reason I was given last time on this being restricted to ASP.NET Web projects by default is it's supported by _that workload in Visual Studio_. So the assumption is: dealing with ASP.NET? You're on that workload...or things are funky anyway. So that's where it's lit up.

To light it up for all projects, it'd

[2020-01-14 03:48] davkean commented on #3756
We're adding basic remote debugging support in https://github.com/dotnet/project-system/pull/5784, we'll follow that up with the full support that UWP projects have as we bring up WinUI support for .NET 5 this year.

[2020-01-14 21:01] hyrmn opened #5794 "Fast up-to-date check with SDK project doesn't see new embedded resources"
**Visual Studio Version**:
16.3.7

**Summary**:

I have set up a SDK-style `.csproj` to default all `.sql` files to be embedded resources. If I add a new `.sql` file via the file system (touch on the command line, context menu -> new file in Windows Explorer) or via File->New in Visual Studio, the new file will not be embedded as VS thinks the project is up to date.

**Steps to Reproduce**:

I hav

[2020-01-15 00:50] davidwengier commented on #5429
No, this is a limitation of the XML editor. I think we just close this out, if we want to do more work to provide a nicer editing experience we would use a different approach.

[2020-01-15 03:38] drewnoakes commented on #5381
This doesn't apply to the new project system.

This works as expected:

[code]

[2020-01-15 03:53] drewnoakes commented on #5794
Thanks for the great error report and the chuckle 👍

[2020-01-15 03:57] drewnoakes commented on #5722
@NickCraver we are investigating the cross-team move, to make the configurable nesting implementation that's currently available in web projects available for all SDK-style projects. This wouldn't require any special workloads beyond those you need to open SDK-style projects anyway.

[2020-01-15 07:45] MagicAndre1981 commented on #3756
@davkean when will this be part of VS2019? 16.5? What do you mean with full support like UWP? Automatic copy to remote target? That will be huge, it was always a pain to do this in PostBuild Event

[2020-01-15 07:52] davkean commented on #3756
Yes in 16.5. A machine selection UI, being able to select authentication and possible deployment.

[2020-01-15 10:35] ocallesp commented on #5781
https://github.com/dotnet/project-system/pull/5778/commits/2252919f5d3dc938dee6f511bc8365e993f4455e

[2020-01-15 11:14] drewnoakes commented on #3756
To be clear, 16.5 will have basic support (specifying a host name) as implemented in #5784.

Some later release, as yet unspecified, will have the richer UWP-style remote debugging support.

[2020-01-15 12:47] MagicAndre1981 commented on #3756
yes, I understood it already this way. Thanks for clarification @drewnoakes

[2020-01-15 16:37] jjmew commented on #5381
@drewnoakes Thank you for checking. We will close this issue.

[2020-01-15 16:37] #5381 closed

[2020-01-15 21:29] davidwengier commented on #5589
Internal PR: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/223226

[2020-01-16 00:18] DamianEdwards commented on #5418
@drewnoakes really appreciate the persistence on this 👍

[2020-01-16 01:52] davidwengier commented on #4494
I'm trying to repro this locally and I'm getting build errors about from the source generator. Is there anything else I need installed that isn't in the .vsconfig? I got a yellow bar complaining about nodejs so I installed that too, just in case.

[code]

[2020-01-16 03:32] drewnoakes opened #5797 "Debug page mnemonics"
The 'Debug' property page doesn't define any keyboard accelerators/mnemonics for text boxes, drop downs or buttons. This makes the page less accessible than it should be.

These are usually visible when holding down the <kbd>Alt</kbd> key:

![image](https://user-images.githubusercontent.com/350947/72491013-e05c7300-386c-11ea-83b4-a3444b12c59a.png)

Notice how the main menu items have underlined le

[2020-01-16 03:34] drewnoakes commented on #5797
We should copy these mnemonics from legacy where that makes sense, to help people with muscle memory.

[2020-01-16 03:40] drewnoakes opened #5798 "Project tree context menu design"
The NuGet client team are planning to improve their context menus across the dependencies node and wish to add some new commands and hang them off of these menus.

In discussing this we realised it would be good to think this through from a wider lens than just that of NuGet.

Once we have a design we'll circulate it to the relevant people for review, then use it to create the shared resources req

[2020-01-16 05:14] davkean commented on #102
@dsplaisted Linked folders can be made up of multiple items from multiple locations, not just a single glob. The logic to determine this and enable the command in that case is non-trivial and probably not worth addressing. Would welcome a contribution if you want to fix this. The logic lives in DefaultCommandSet2KHandler in the CPS code base.

[2020-01-16 05:23] davkean commented on #39
This was done as part of: https://github.com/dotnet/project-system/pull/4913. The Component Designer no longer opens by default. It can be explicitly opened by right-clicking and choose _View Designer_, or alternatively the user can make it the default by right-click -> Open With.

[2020-01-16 05:23] #39 closed

[2020-01-16 05:28] davkean commented on #99
We added support for this in 16.5, there are two remaining items which are being tracked by: https://github.com/dotnet/project-system/issues/102.

[2020-01-16 05:28] #99 closed

[2020-01-16 05:56] davkean commented on #101
Microsofties, PR for this: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/223369?_a=overview.

[2020-01-16 06:20] davkean commented on #66
Agreed, I don't think this will ever bubble up as important. Closing this out.

[2020-01-16 06:20] #66 closed

[2020-01-16 07:49] davkean commented on #101
see src\debugger\vsdebug\package\vspkg.cpp where it handles: cmdidStartNoDebug. Change StartWithoutDebugging so that it takes a bool indicating whether to choose selected project.

[2020-01-16 08:11] #3756 closed

[2020-01-16 08:18] drewnoakes opened #5799 "Review nullness of CPS services"
Several service providers (e.g. `UnconfiguredProjectServices`) have their service properties marked nullable.

Some of these should never be null. CPS should be updated to mark these non-nullable, and any `Assumes.Present` calls in our code relating to those properties can be removed.

[2020-01-16 12:21] jeromelaban commented on #4494
The root of the issue is most likely the fact that Xamarin.Android is considered not installed. NodeJS you can ignore.

Are you able to create and build a standard Xamarin.Android project? (The MapPresenter missing most probably the last error of a very long list of build issues).

Until the project called `Uno.UI.BindingHelper.Android` builds, the rest of the solution won't build.

[2020-01-16 15:16] #5781 closed

[2020-01-16 21:07] ocallesp opened #5801 "[PerfWatson] PerfWatsonHang: microsoft.visualstudio.projectsystem.managed.vs.dll!Microsoft.VisualStudio.ProjectSystem.VS.Automation.VSBuildManager.get_DesignTimeOutputMonikers"
**Summary**:

PerfWatsonHang: microsoft.visualstudio.projectsystem.managed.vs.dll!Microsoft.VisualStudio.ProjectSystem.VS.Automation.VSBuildManager.get_DesignTimeOutputMonikers

https://github.com/dotnet/project-system/blob/5a856d9fb67fccc8db12ec500359f8408addcb86/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Automation/VsBuildManager.cs#L84
**Steps to Reproduce**:

1.  Crea

[2020-01-16 21:26] stephengeorgewest-navitaire commented on #3164
Just hit this after creating a new branch. https://developercommunity.visualstudio.com/content/problem/312180/projects-fail-to-build-in-1580-due-to-errors-from.html (which I found from searching: "your project file doesn't list 'win' as a runtimeidentifier") redirected me here. Clearing out src/obj folders via https://stackoverflow.com/questions/755382/i-want-to-delete-all-bin-and-obj-folders-to-f

[2020-01-16 22:57] davkean commented on #5801
@ocallesp Can you point to the PerfWatsonhang?

[2020-01-16 22:59] davkean commented on #5801
Ah: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1028094.

Heads up @davidwengier - this is apparently 7th in 16.5.

[2020-01-16 23:00] davkean commented on #5801
@ocallesp We don't need cabs for this - we should be able to figure it out.

[2020-01-16 23:01] davkean commented on #5801
Strike that - its a hang not a delay, cabs would help.

[2020-01-17 00:11] davkean commented on #5794
Triage: @ocallesp Feel free to pull into 16.6 if you finish your work in that.

[2020-01-17 00:15] davkean commented on #5373
Triage: Solution Explorer actually supports this concept, see ProjectNode.CopyPaste.cs and __HierarchyDropArea.

[2020-01-17 00:15] davidwengier commented on #4494
A normal Xamarin.Android project builds fine, and indeed Uno.UI.BindingHelper.Android builds fine too. The only build errors are that one, and a couple complaining about missing or duplicate resources in the SamplesApp.Droid project.

[2020-01-17 00:17] davkean commented on #5372
@jinujoseph Are you tracking anything similar on your side?

[2020-01-17 00:26] davkean commented on #5317
Triage: This is figuring out what pages don't actually need design-time build results and stop blocking opening the AppDesigner while PLM/operation progress is in progress, and block pages that actually need operation progress.

[2020-01-17 00:32] davkean commented on #5275
@jinujoseph What release are you tracking this?

[2020-01-17 00:33] davkean commented on #5274
Triage: Can you investigate what warnings/errors show up by default and send this back to triage?

[2020-01-17 00:38] davkean commented on #5263
@dmonroym: Was this completed?

[2020-01-17 00:39] davkean commented on #5258
@ivanbasov @jinujoseph What release are we tracking this?

[2020-01-17 00:42] #5711 closed

[2020-01-17 00:42] #5754 closed

[2020-01-17 00:43] davkean commented on #5245
Even if we were to show these assemblies in the Extension tab, they would not resolve due to lack of AssemblyFoldersEx support which is being tracked by: https://github.com/dotnet/sdk/issues/994. There's no point doing this work until SDK adds support for it.

[2020-01-17 00:48] davkean commented on #5244
Triage: Agree with @tmeschter assessment.

If a missing target runs before CoreCompile, this should not block us from grabbing command-line arguments and passing that onto Roslyn to produce intellisense results. Those results might be somewhat invalid (say due to a missing reference that missing target provided), but it shouldn't block all intellisense because of it.

We should make sure that if w

[2020-01-17 00:56] davkean commented on #5237
Triage: This appears to be a bug in Test Explorer - please investigate if this is still an issue (they are calling CPS component on background thread that expects UI thread). This might be a legacy compat concern if they were relying on COM RPC in legacy to get to the UI thread.