[2020-12-07 11:14] drewnoakes commented on #3548
@lifengl I picked this up as part of our bug bash and found a solution. The PR in #6781 no longer uses the project instance. Instead it uses `DefiningProjectFullPath` from evaluation data.

Thanks again for reporting this issue. I'm really satisfied with the change in that PR. It gets us closer to the design I would like to see for dependency data ingestion.

[2020-12-07 19:03] tmeschter commented on #2100
I'm going to move this to dotnet/winforms as I don't think these problems have anything in particular to do with the project system.

[2020-12-07 19:33] tmeschter commented on #4317
I don't see a way to conditionally include a package, unfortunately.

Given that this is working for .NET Standard 2.1 and .NET Core 3.0 and later, I'm going to close this issue.

[2020-12-07 19:33] #4317 closed

[2020-12-08 06:30] #3548 closed

[2020-12-08 18:18] jjmew commented on #6780
This has been move to an internal database #ab1255781

[2020-12-08 18:20] #6780 closed

[2020-12-08 18:21] jjmew commented on #6728
This has been moved to an internal database #AB1255781 (https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1255781)

[2020-12-08 18:27] jjmew commented on #6767
@ivan-prodanov This doesn't fall into an area that we see as supported. Would you tell us a little bit more about why you can't use an ASP.NET Core project? we might be able to help

[2020-12-08 18:46] bachratyg commented on #2670
Adding these to the project seems to enable proper F5 debugging with launchSettings.json (generates `.vs\...\applicationHost.config`, uses ssl settings/launch url, launches browser, etc):
[code]
The first one makes the project system recognize the `IISExpress` launch command, the second one removes ANCM from the host config.

I see no issues with intellisense/code completion/breakpoints/etc in VS

[2020-12-08 19:17] BillHiebert commented on #2670
@bachratyg Do things (work better if you remove the explicit imports of sdk props and targets, and and change the Project element to this
`<Project Sdk="Microsoft.NET.Sdk.Web">`

You can remove the DotNetCoreWeb ProjectCapability but you still need the  SupportsSystemWeb capability to get Razor working and disable the ANCM support.

[2020-12-08 20:21] nimblejoe commented on #4455
@mojoex thank you for the tip.  I followed your concept above and moved Post-Build event to Rebuild.  However, instead of "Clean", I had to use "Rebuild" <Target Name="OnRebuild" AfterTargets="Rebuild"> <Exec Command="do stuff" /> </Target>.  The problem I had to solve is that locally I'm building in VS on a Windows workstation but in my pipeline I'm doing a Docker build on a Linux machine which c

[2020-12-08 20:49] bachratyg commented on #2670
@BillHiebert if the sdk import is implicit then the WebApplication.targets import would come before Sdk.targets and that causes some issues. The sdk import acts as a replacement for Microsoft.CSharp.targets in the old project format and initializes some properties that WebApplication.targets depends on e.g. `TargetFrameworkVersion`. Otherwise some dependent properties would have to be initialized

[2020-12-09 01:06] observer11111 commented on #5547
Same/similar problem here with VS2019 16.8.2.  Only .NET Frameworks show in my "Target framework:" list.  Yet "dotnet --list-sdk" shows them all - including the one I want: "5.0.101 [C:\Program Files\dotnet\sdk]". Installing both x64 and x86 versions doesn't help. Checking Tools|Options|Preview Features|Use Previews of .NET Core SDK doesn't help.

[2020-12-09 03:32] KlausLoeffelmann opened #6783 "Inserting the default Settings.settings file fails in a .NET 5 Visual Basic Application Framework WinForms App"
**Visual Studio Version**:
\> 16.8

**Summary**:
In an empty .NET 5 WinForms VB App, inserting the Default Settings.settings file via the Project Designer fails.

**Steps to Reproduce**:

1. Create a new .NET 5 VB WinForms App.
2. Open the Project Designer
3. Switch to the Settings Tab and click on the LinkLabel 'This project does not contain a default settings file. Click here to create one'.

**

[2020-12-09 03:49] KlausLoeffelmann opened #6784 "Updating the Default Settings file in a WinForms .NET 5 Visual Basic app fails."
**Visual Studio Version**:
\>=16.8
**Summary**:
Attempting to save after changing a value in the Default Settings file of a WinForms .NET 5 Visual Basic app fails.

**Steps to Reproduce**:

1. Create a new .NET 5 WinForms App.
2. Insert a new App.Config to the project by chosing Add/New Items and General/Application Configuration File.
3. Show All Files in the Solution Explorer and select the My P

[2020-12-09 03:55] swesonga commented on #6783
This is a dup of https://developercommunity2.visualstudio.com/t/Default-VBNet-Core-WinForms-Project-get/1174597 (with PR https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/292088 in progress)

[2020-12-09 08:30] ivan-prodanov commented on #6767
@jjmew Thanks, I'll give you more details. I'd like to have a project that launches a browser when the debugger starts in VS/code, but with minimal set of dependencies. E.g Blazor does this without relying on ASP.NET thanks to making the blazor projects externally hosted (by a devServer) - the devServer loads the blazor set of assemblies in mono.wasm and then calls the app's entry point through an

[2020-12-09 18:55] nbelley opened #6785 "No ActiveConfiguration on new project causes EFCore migration .deps.json does not exist error"
**Visual Studio Version**: VS2019 16.8.3

**Summary**: I was asked by the EFCore team to post here since it seems it's related to the project-system. I created a brand new project, added EFCore to it with a simple blog.cs class, then tried to add migration and received the dllname.deps.json file not found:

![image](https://user-images.githubusercontent.com/4919080/101673799-a0265600-3a25-11eb-82d

[2020-12-09 18:55] ltcmelo opened #6786 "inconsistent/diverging build outcome from API and dotnet build, msbuild, VS"
**Version Used**: 3.8.0

**Steps to Reproduce**:

Consider proj.sln with libX.csproj and libY.csproj, and with libY.csproj referencing **libX** as follows — in
a supposedly bogus .csproj, given that **libX** is referenced both as a project and as a binary/assembly.

[code]

Despite the duplicity of references to **libX** from libY.csproj, building the solution proj.sln is successful in all of:

-

[2020-12-09 19:52] KlausLoeffelmann opened #6787 "Cannot change the Startup Form in a .NET 5 WinForms Application Framework VB App."
**Visual Studio Version**:
\>=16.8

**Summary**:
In a .NET 5 WinForms Application Framework App, the Startup Form cannot be change via the UI. The changes are getting written to the wrong destination file.

**Steps to Reproduce**:

1. Create a new .NET 5 Visual Basic WinForms App.
2. Add a second Form to the project.
3. Go to the Project Designer, and change the existing "Sub Main" (which is the w

[2020-12-09 23:27] paul1956 commented on #6787
This happens with Default Form (Form1) if you change away from Sub Main as your Startup Form. Also startup form is not shown.  This whole thing is very confusing, I think you are saying Sub Main should not be listed in DropDown when there are VB Forms and the selected Form should be Form1, or whatever you want the first form to be.

[2020-12-10 06:43] Ali-YousefiTelori commented on #5372
I like these Examples:

1.Dynamic with folder name:

[code]

2.Static namespace:

[code]
3.Default from project namespace:

[code]

[2020-12-10 08:25] mrpmorris commented on #5372
I think * would be better than [FolderName]

[2020-12-10 15:18] ViktorHofer commented on #6777
Exactly... @drewnoakes is there a way to gather more information why the project evaluation with the custom SDK fails inside VS? cc @ericstj in case he has any ideas.

[2020-12-10 16:59] ericstj commented on #6777
I guess we debug CPS and find out why this is hitting:
https://github.com/dotnet/project-system/blob/3643cc56303a97a39bc5b6ebc1e1db7a5a76e566/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/Dependencies/Snapshot/DependenciesSnapshot.cs#L165-L171

It looks to me like `dependenciesByTargetFramework` is missing an entry for `net6.0`.  Perhaps we can examine the code to find out ho

[2020-12-11 00:02] tmeschter commented on #5735
@JohnyL, @shanselman: I've investigated and established several issues at this point:

1. The `Include` differs from what was generated in a .NET Framework project.
2. The `EmbedInteropTypes` metadata is not being added.
3. Once added, `EmbedInteropTypes` is not fully respected in a .NET Core 3.1 project.

We're going to fix 1 & 2 in the project system (though 1 is minor as the `Include` is just a

[2020-12-11 00:16] tmeschter commented on #5735
For .NET Core 3.1 projects, you can workaround the problem with `EmbedInteropTypes` not being fully respected by adding `<Private>false</Private>` metadata to the item.

.NET 5 projects do not seem to have the same issue.

[2020-12-11 00:38] kartheekp-ms commented on #1457
@RamjotSingh from Teams team has reported this issue through a [VS feedback ticket](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1255532). Any user action such as adding a class file, editing code in the IDE triggered a restore through project system nomination. The project had their patch version number set to
`<SemanticVersionPatch>$([MSBuild]::Divide($([System.DateTime]::Now.Subtract(

[2020-12-11 00:39] jjmew commented on #6783
@KlausLoeffelmann this has already been fixed by https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/292088

[2020-12-11 00:39] #6783 closed

[2020-12-11 00:54] jjmew commented on #6785
@nbelley Can you provide us with repro steps? we are not able to reproduce the issue.

[2020-12-11 09:41] JohnyL opened #6790 ""dynamic" data type is recognized as "object" when using Excel COM"
I have the following simple code which defines last cell with non-empty data, defines its row and gets its value:
[code]
When I'm building the project using .NET 5 (5.0.101 or 5.0.200-preview.20601.7 SDK), I get the following two errors _in Output window_:

Here are problems:
1. When I'm using .NET Framework 4.8. the project is built fine without any errors and code executes perfectly. In .NET 5,

[2020-12-11 12:44] nbelley commented on #6785
@jjmew Like I said in the original post, each time I start a project I have this problem, even on old projects now, since around January last year.

To reproduce on 2 of my computers (not just one)

1. Create a new project
2. Class Library .net Core 5
3. Add entityframework core
4. add a class Blog.cs
5. run any ef core package manager console commands.

[2020-12-11 18:44] tmeschter commented on #6790
Hi @JohnyL,

What version of Visual Studio are you using? You can get this from the "Help | About Microsoft Visual Studio" menu item, and it will be something like "Version 16.9.0 Preview 3.0 [30808.111.main]".

Also, can you show us the `COMReference`s in your project file (or better yet, attach the whole file)?

[2020-12-11 19:01] vsfeedback opened #6793 "Project editor should allow editing of CodeAnalysisTreatWarningsAsErrors"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Project-editor-should-allow-editing-of-C/1266567)._

---
[regression] [worked-in:16.7]
VS 2019 16.8 added a new default flag to csproj files "CodeAnalysisTreatWarningsAsErrors" and defaulted it to "ON". Existing CSPROJ files did not include that flag so the default (true) was assumed by

[2020-12-11 19:43] ajcvickers commented on #6785
@jjmew FYI, this is a long standing issue hit by many customers, but which doesn't repro on other machines. It seems to be related to some machine state that nobody has yet been able to reproduce. Given the number and nature of the reports over the years, I think it would be a good idea for this to be investigated by the project system team even without a repro. If you need additional information,

[2020-12-11 19:53] JohnyL commented on #6790
@tmeschter I'm using 16.9.0 Preview 2.0 (btw, it's strange but VS installer does not offer Preview 3.0 - I just don't see it).
The whole project file:
[code]

[2020-12-11 22:09] tmeschter commented on #6790
Do you see these errors if you build from a developer command prompt via "msbuild Foo.proj", or only when you build in VS?

[2020-12-12 06:09] JohnyL commented on #6790
@tmeschter Yes, same two errors via `msbuild`.

[2020-12-14 17:49] tmeschter commented on #6790
OK, then that is going to be an issue with a lower-level component than the project system. I'm transferring this issue to dotnet/sdk.

[2020-12-14 22:23] jzabroski commented on #3677
@davkean Can you confirm that AutoGenerateBindingRedirects should only work for legacy .NET Framework apps?  I thought for sure you couldn't use this feature in .NET Core (and assuming .NET 5).  I had a user/customer of FluentMigrator who to my shock shared the following csproj with me:

[code]

[2020-12-14 23:18] dmonroym commented on #6272
It no longer repros for me either. Closing

[2020-12-14 23:18] #6272 closed

[2020-12-15 00:14] MiYanni commented on #5985
Component is called [Class Designer](https://docs.microsoft.com/en-us/visualstudio/ide/class-designer/how-to-add-class-diagrams-to-projects?view=vs-2019#install-the-class-designer-component) in the VS installer (not sure if name was changed). I've attempted to repo on latest main (16.9.0 Preview 3.0 [30814.93.main]) and was not able to reproduce the issue. GIF here:

![ShowAsCollectionAssociation]

[2020-12-15 04:10] drewnoakes commented on #6777
I will make a change to the error message to help diagnose this problem. It would be useful to know the set of target frameworks it expects `activeTargetFramework` to be in.

[2020-12-15 08:32] mgexo commented on #6321
When will this bugfix or the "new Project System" with the fix be released?
Migration to VS2019 from earlier Visual Studio is really nerve wrecking with this bug
https://developercommunity.visualstudio.com/content/problem/947356/project-always-rebuilt-improper-up-to-date-check-w.html

[2020-12-15 10:42] drewnoakes commented on #6321
@mgexo there are two main C# project systems that ship with VS.

1. The "new project system", which handles SDK-style projects and which receives the greatest amount of development.
2. The "legacy project system", which handles traditional .csproj files, which is stable but lacks modern features.

So to answer your question, the new project system was available back in July when this issue was clo

[2020-12-15 11:14] drewnoakes commented on #5985
@MiYanni was your project targetting `netcoreapp3.1`?

[2020-12-15 11:44] mgexo commented on #6321
For all readers who wonder what this is about, see https://github.com/dotnet/project-system/blob/master/docs/opening-with-new-project-system.md

[2020-12-15 13:39] filippobottega commented on #5985
@MiYanni please try using a console application targeting `netcoreapp3.1` or `.NET 5.0`. I have the issue in Visual Studio 2019 Version 16.8.3 and also in Visual Studio 2019 Preview Version 16.9.0.

[2020-12-15 17:02] ViktorHofer commented on #6777
Thanks @drewnoakes. In addition to that, can you please help me debugging the project-system and loading the ComilerServices.Unsafe project with the custom SDK?

[2020-12-15 17:47] MiYanni commented on #5985
@drewnoakes @filippobottega My project was targeting `netcoreapp3.1`.

[2020-12-15 18:01] filippobottega commented on #5985
@MiYanni, please try using the attached solution.
[ClassDiagramSample.zip](https://github.com/dotnet/project-system/files/5697696/ClassDiagramSample.zip)

[2020-12-15 20:35] scphantm commented on #2961
I have a similar use case.  I write almost exclusively CLI apps.  a CLI app may have 5 or 6 profiles depending on what it is.  I have apps that need to read in a file thats not stored in the project for reasons.  This is a pretty typical example of a launchsettings.json for me

[code]

now combine that with multiple developers on multiple OS's (not just windows) and you see why our appsettings fil

[2020-12-15 21:00] vsfeedback opened #6794 "Enabling new Project Properties UI breaks properties editor for legacy projects"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Updated-Project-Properties-UI-not-workin/1287500). Please vote and comment there to make sure your voice is heard._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.9.0 Preview 1.0]

Creating a new project and trying to open the properties does nothing. This works

[2020-12-15 21:03] jjmew commented on #6794
@drewnoakes The complain is that when you enable the new property pages then when you try to open the properties .NET Framework projects it fails. The expectation is that everything csproj continues to work with the old property pages.

[2020-12-15 21:12] jzabroski commented on #2961
I think I might just build a VS plug-in to replace this launcher since it's not that useful to me.

For CLI programs like ours, @scphantm , if we had a common intermediary format to describe command line args, we could simply export out the a concrete syntax tree and allow direct manipulation via a VS command menu UI.  I could also see interacting with this menu would work more like a video game i

[2020-12-15 21:38] drewnoakes commented on #6794
@jjme thanks, I'll get this fixed. A workaround until then is to disable the feature flag.

[2020-12-15 21:45] drewnoakes commented on #5985
@filippobottega thanks, your solution reproduces the issue:

Version 16.9.0 Preview 3.0 [30814.102.main]

[2020-12-15 21:50] drewnoakes commented on #6793
We were tracking this in #6720. I've added it as an explicit item under _MSBuild "warnings as errors" properties_.

[2020-12-15 21:51] drewnoakes commented on #6793
cc @mavasani who authored the original "Code Analysis" page within the legacy property pages.

[2020-12-15 22:33] tvkit commented on #2961
@jzabroski  I only provided an example of something not to be persisted. Appreciate the recommendations though.

[2020-12-15 23:09] drewnoakes commented on #6777
The problem is likely a difference in the representation of the .NET 6 TFM. There was a change made to include platform information in these strings. So where in the past you'd have `.NETCoreApp,Version=v3.1`, the equivalent string in .NET 5 would be `net5.0` (allowing `net5.0-windows`, for example).

The change in #6792 will highlight such a problem more clearly.

@dsplaisted made several changes

[2020-12-16 01:02] JoeRobich opened #6795 "Enhance unused reference feature to support undo/redo"
We would like the API implemented in https://github.com/dotnet/project-system/pull/6692 enhanced with the ability to re-add a reference that has been removed.

One possibility is a new `UpdateAction.Add`
In particular the call to `IProjectSystemReferenceCleanupService.GetProjectReferenceAsync` would need to be enhanced so that we capture enough information about each reference that it could be rec

[2020-12-16 01:21] drewnoakes commented on #6794
We currently use this method to determine whether to launch the new property pages or not:

https://github.com/dotnet/project-system/blob/bd03c9b40f8f4fbf2571af9ef3d7cf8d8b2f3d8d/src/Microsoft.VisualStudio.AppDesigner/ApplicationDesigner/ApplicationDesignerEditorFactory.vb#L228-L234

In addition to testing the feature flag, we need to detect whether the project is using the legacy project system o

[2020-12-16 01:25] drewnoakes commented on #6794
Testing for the `CPS` project capability seems like a good way of doing this.

[2020-12-16 11:27] drewnoakes opened #6797 "Property pages client/server protocol design discussion"
In this week's Property Pages meeting, we discussed designs for how the server could notify the client of changes to property values.

Currently, we use the Project Query API to obtain property metadata and values. The Project Query API does not yet have a mechanism for transmitting value updates over time. It seems we need an additional service contract between client and server for such updates.

[2020-12-16 15:55] scphantm commented on #2961
here are the docs for how jetbrains does it with their HTTP Client

https://www.jetbrains.com/help/idea/exploring-http-syntax.html#using_request_vars

We use that a lot around here with webstorm and such.  i think a system similar to this for launchsettings would be really helpful.  a launchsettings.user.json to define variables that can be used in launchsettings.json.  i don't think it needs to b

[2020-12-16 21:48] rohanp-msft opened #6798 "The PRIResource build action is needed by the .NET 5 project system despite EnableDefaultItems being true by default for resources to be added to the PRI on build."
**Visual Studio Version**: VS 2019 Preview (Version 16.9.0 Preview 1.0)

**Summary**:
Despite `EnableDefaultItems` being true by default in the .NET 5 project system, the .csproj file of a WinUI3 Preview 3 project requires the `PRIResource` build action for resources to be added to the PRI file on build.

**Steps to Reproduce**:

1. Install WinUI3 Preview 3 per the instructions here: https://docs.

[2020-12-16 22:43] KlausLoeffelmann commented on #6787
@melytc: Maybe we want to talk with @KathleenDollard about tackling this, also? I for one would love to be involved in any discussions around this. :-)

[2020-12-16 23:20] drewnoakes commented on #6798
I believe this issue belongs to the SDK. The project system doesn't have anything to do with `EnableDefaultItems`.

[2020-12-17 00:01] dsplaisted commented on #6799
@jjmew Can you triage / assign this issue?

Here's a repro, if you go to the project properties you'll get the exception: [WinFormsSettings.zip](https://github.com/dotnet/project-system/files/5706126/WinFormsSettings.zip)

[2020-12-17 00:50] paul1956 commented on #6787
@melytc @KathleenDollard Me as well, there is too much hidden stuff going on and it is easy to break an application with no idea why. I don't mind the hidden stuff it is great for new developers but when things break these same developers are really frustrated.

[2020-12-17 22:40] tmeschter commented on #6797
The more I think about this, the more I like it.

The Project Query API is a general purpose API, capable of expressing requests of many different shapes. But the property pages only need data in two shapes: first, a complete set of page, category, and property metadata along with the current property values; and second, a set of updated property values. So the generality of the Project Query API

[2020-12-17 22:53] swesonga commented on #6799
The root cause of this error is the same assembly load exception described in #6784

[2020-12-17 23:09] #6794 closed

[2020-12-17 23:23] drewnoakes commented on #6797
I'm sure the interfaces would change a little to fit the Codespaces client/server requirements, but the general pattern here seems reasonable to me.

Adapting to this would likely take a day or two for the client-side. I can imagine there's more work on the server to support this.

I'm all for taking this approach. We should have a deeper discussion about the interactions and their semantics, and

[2020-12-18 00:16] drewnoakes commented on #6799
@melytc please investigate and close this if it's a duplicate of #6784.

[2020-12-18 00:27] drewnoakes commented on #6793
@jinujoseph there are two aspects to this issue:

1. The breaking change of defaulting `CodeAnalysisTreatWarningsAsErrors` to `true` in 16.8, meaning upgrading VS may cause projects to not build.
2. The fact that there's no UI element to control this property.

We will track point 2 in this repo. However point 1 seems like a pain point that should be addressed via warning waves, or something like

[2020-12-18 00:40] mavasani commented on #6793
This has already been fixed in 16.9. Note that this was not ported to 16.8 as it only affects legacy FxCop based CodeAnalysis, which has been deprecated for over a year, but customers still keep using it. This is not a breaking change for users on Roslyn based source analyzers.

This seems like a good addition to the .NET Analyzers section within CodeAnalysis property page that @jmarolf recently a

[2020-12-18 00:41] mavasani commented on #6793
See https://developercommunity2.visualstudio.com/t/After-168-update-getting-lot-of-code-an/1251574?preview=true#T-N1255914 for the 16.8 breaking change regression.

[2020-12-18 11:34] IanKemp commented on #5933
Maybe related: https://github.com/dotnet/project-system/issues/414

[2020-12-18 16:53] paulomorgado opened #6800 "Design-time log file names wrong"
https://github.com/dotnet/project-system/blob/master/docs/design-time-builds.md#visual-studio-2015-or-below states:

However, for Visual Studio 2019, I get `DTBB_[RANDOMGUID].log` files

[2020-12-18 21:34] donnie-msft opened #6801 "Visual Studio unable to restore packages and build solution"
(Moved from https://github.com/NuGet/Home/issues/10401 by @paulomorgado
based on this comment:

https://github.com/NuGet/Home/issues/10401#issuecomment-748322417)

**Visual Studio Version**:VisualStudio.16.Release/16.8.3+30804.86

**Summary**:
## Details about Problem

dotnet.exe --version: 5.0.100

VS version: VisualStudio.16.Release/16.8.3+30804.86

OS version: Microsoft Windows [Version 10.0.21

[2020-12-21 02:44] Amy-Li03 commented on #5629
Verified this issue on VS latest build: 16.9.0 Preview 3.0 [30820.7.main], the error is changed after double-click on Form3.resx, details please see the following screenshot:
![Repro](https://user-images.githubusercontent.com/62929087/102733896-70f2db80-4379-11eb-9e4b-9adbf2630aa7.PNG)

[2020-12-21 02:45] drewnoakes commented on #6185
We need a mechanism to synchronise these data sources. CPS uses `ProjectDataSources.GetSpecificVersionAsync` in a few places, which looks like it might be suitable here.

@davkean @lifengl do you have any better suggestions?

[2020-12-21 03:36] drewnoakes opened #6802 "For older .NET Core targets, dependencies tree shows both package and SDK nodes for Microsoft.NETCore.App"
Version 16.9.0 Preview 3.0 [30820.7.main].

[code]

For .NET Core App versions 1.0, 1.1, 2.0, 2.1 and 2.2, we see both a package and SDK entry for `Microsoft.NETCore.App`:

![image](https://user-images.githubusercontent.com/350947/102736091-351b3e80-4398-11eb-89e5-9f4b94636f1f.png)

We should only show a single node for these targets, as we do for other targets (e.g. .NET Core 3.0+).

This does no

[2020-12-21 03:43] drewnoakes opened #6803 "SdkReference should be sourced from evaluation, not design-time builds"
Version 16.9.0 Preview 3.0 [30820.7.main].

The `SdkReference.xaml` rule file currently shows as its data source:

https://github.com/dotnet/project-system/blob/9ff0ae4290bca4257c77f0e77f28d04d965d954f/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/Dependencies/SdkReference.xaml#L9-L14

On line 11, `MSBuildTarget="CollectSDKReferencesDesignTime"` means that this rule's data i

[2020-12-21 03:44] drewnoakes commented on #6803
The `CollectSDKReferencesDesignTime` target is defined here:

https://github.com/dotnet/sdk/blob/f05a014feabf7db0c8175a5a3a7a61a7e58f49b5/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.PackageDependencyResolution.targets#L323-L346

It uses the `CollectSDKReferencesDesignTime` task, defined here:

https://github.com/dotnet/sdk/blob/f05a014feabf7db0c8175a5a3a7a61a7e58f49b5/src/Tasks/Microsoft

[2020-12-21 03:50] drewnoakes commented on #6803
Task `CollectSDKReferencesDesignTime` outputs fake `SdkReference` items for any package that's defined in `DefaultImplicitPackages`, which itself is defined here:

https://github.com/dotnet/sdk/blob/b8354b7b106c8952ab26320f425dc31ad20bfe75/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.Common.targets#L23-L27

Based on that comment, this might need revisiting.

[2020-12-21 03:53] drewnoakes opened #6804 "AnalyzerReference should be sourced from evaluation, not design-time builds"
Version 16.9.0 Preview 3.0 [30820.7.main].

The `AnalyzerReference.xaml` rule file currently shows as its data source:

https://github.com/dotnet/project-system/blob/9ff0ae4290bca4257c77f0e77f28d04d965d954f/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/Dependencies/AnalyzerReference.xaml#L9-L14

On line 11, `MSBuildTarget="CollectAnalyzersDesignTime"` means that this rule's

[2020-12-21 04:27] drewnoakes commented on #6804
This issue is similar to #6803. I noticed the `Analyzer` case after the `SdkReference` one.

[2020-12-21 15:09] larsbuch opened #6808 "Build Events Macro for Directory Separator"
**Visual Studio Version**: Community 2019 16.8.2

**Summary**:
To make build events Macros are used but there is one missing for supporting cross platform build events. Fx Developing on windows and having CI/CD on linux

**Steps to Reproduce**:

1. Make a PostBuild event for a special subfolder for plugin generation

**Expected Behavior**: Having a Directory Separator Macro or handling directory s

[2020-12-22 01:38] #6636 closed

[2020-12-22 06:06] xoofx commented on #6290
I tried it on 16.9 Preview 2 and it's working, fantastic, looking forward to it!

[2020-12-22 11:16] #6802 closed

[2020-12-22 15:21] rainersigwald commented on #6808
It's a bit clunky but you can use `$([System.IO.Path]::DirectorySeparatorChar)` since [MSBuild property functions](https://docs.microsoft.com/visualstudio/msbuild/property-functions) expose static members of `Path`.

[2020-12-22 15:42] larsbuch commented on #6808
Thank you for the answer. Clunky is better that failing. I do not write it that often

[2020-12-22 20:54] #6803 closed

[2020-12-22 20:54] #6804 closed

[2020-12-23 01:25] pdevito3 commented on #368
One more voice of support for a non-absolute path for the xml documentation.

[2020-12-25 08:57] qrli commented on #5735
Also encountered this. The solution mentioned here works, except for `Workbook.Queries` and `WorkbookQuery`, which will be magically missing when `<WrapperTool>primary</WrapperTool>`. But they can be successfuly resolved when `<WrapperTool>tlbimp</WrapperTool>`

I'm using .NET 5.0.

[2020-12-28 05:19] verelpode commented on #4534
## "Build Action" = "Resource" is also for non-WPF projects

Sometimes people are surprised to hear that actually "Build Action" = "Resource" is **not only for WPF** projects!
@davkean wrote:

I think @davkean made an important point there.  This issue is not really about WPF projects.  The biggest problem is that if you make ANY .csproj that targets .NET 5 SDK (such as a non-WPF Console or ASP.NE

[2020-12-28 05:35] verelpode commented on #5757
## Using RESX without WinForms

Related to this .resx issue, it would be great if the .resx Designer/GUI could be updated/modernized to stop producing WinForms references when a .resx file is used in a non-WinForms .csproj.   Note resx does not require WinForms, but currently the Designer/GUI for it is creating resx files that do contain references to "System.Windows.Forms.dll", although resx coul

[2020-12-28 06:05] verelpode commented on #5460
Currently in VS 16.8.3, if you add a binary file to a .resx, and the file is NOT .wav, such as if you add a test file named "Test.abc" where ".abc" is NOT .wav, then the resx Designer represents it using `System.Byte[]`, which would be great, but unfortunately it includes references to the WinForms DLL `System.Windows.Forms.dll`.  Currently it produces:

[code]

It would be great if sometime the D

[2020-12-28 06:13] verelpode commented on #3399
This issue seems to be fundamentally mostly the same issue as https://github.com/dotnet/project-system/issues/5460

Fundamentally the problem is that the RESX Designer/GUI needs to be modernized and updated for .csproj's that target NETFW 5, and made independent of the WinForms DLL.   RESX is very useful but unfortunately the old dependency on WinForms is holding it back.

[2020-12-28 07:03] dsplaisted commented on #4534
@verelpode It sounds like your main issue is that setting Build Action to Resource doesn't work in non-WPF SDK-style projects.  I would suggest filing a new issue about that in the dotnet/sdk repo.  This issue is about what the default build action should be, either when a new file is added via VS, or if a file isn't specified explicitly in the project but is in the project folder.

Thanks.

[2020-12-29 00:22] melytc commented on #6787
@KlausLoeffelmann @KathleenDollard @paul1956 sure thing! I plan to schedule a discussion when we come back from vacations, in the meantime I'll investigate what's the current state from our side.

Btw, thanks for the great description, Klaus! Found it helpful.

[2020-12-31 22:37] swesonga commented on #6640
Fixed in CPS PR [295253](https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/295253)

[2020-12-31 22:37] #6640 closed

[2021-01-01 07:01] danmosemsft opened #6811 "`<TargetFramework>netcore5.0</TargetFramework>` gives a gold bar"
**Visual Studio Version**:
16.9.0 Preview 3 [30828.3 main]

**Summary**:
Change the project to have `<TargetFramework>netcore5.0</TargetFramework>` and you get an error that could be more helpful?

**Steps to Reproduce**:

1. Create a regular C# .NET Core project.
2. Double click on project, edit the TFM to any of these
` <TargetFramework>netcore6.0</TargetFramework>`
` <TargetFramework>blah</Targ

[2021-01-01 07:16] danmosemsft commented on #6656
This reproes simply cloning https://github.com/dotnet/runtime and opening src\libraries\System.Security.AccessControl\src\System.Security.AccessControl.csproj in 16.9 preview 3..
[code]

[2021-01-01 07:39] swesonga commented on #6639
Fixed in CPS PR [295245](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/CPS/pullrequest/295245)

[2021-01-01 07:39] #6639 closed

[2021-01-01 12:19] ViktorHofer commented on #6656
Thanks Dan, that's really helpful. @drewnoakes how is `dependenciesByTargetFramework` calculated? It lists `netcoreapp2.1` in it even though that projects doesn't have such configuration but instead `net6.0` which is missing from the list.

[2021-01-04 18:36] tmeschter commented on #5460
@verelpode That's a separate issue from what is being discussed here. Can you open a new issue (in this repo) to track that request?

[2021-01-04 19:22] ericstj commented on #5460
Functional issue.  See the linked issue https://github.com/dotnet/runtime/issues/13349#issuecomment-528112760.  MemoryStream is not serializable on .NETCore so if the designer is storing resources as serialized streams they will not be consumable on .NETCore.

The fix here is to ensure the designer is writing using https://docs.microsoft.com/en-us/dotnet/api/system.resources.resourcewriter.addreso

[2021-01-04 20:09] julealgon commented on #5722
@swesonga could you please elaborate why exactly fixing #1176 is required to promote this to RTM?

Would it be possible to untie these issues from one another? #1176 has been open for 3+ years now with no fix in sight. It was recently removed from 16.8 timeline as well, which means we'll probably end up another entire major VS release at least without proper file nesting support.

[2021-01-04 20:25] swesonga commented on #5722
@julealgon The reason this depends on #1176 is that the bug there can potentially start happening in more scenarios with file nesting enabled. @lifengl has a fix for that issue is in the works for 16.9.

[2021-01-04 21:00] julealgon commented on #5722
I assume it happens on more specialized scenarios right @swesonga ? Can't this be shipped as a preview feature in VS 16.8 RTM and be promoted to non-preview later in 16.9?

I guess the benefit of doing that depends on how long it will take for 16.9 to be available and the fix to be in place. Do you have any ETA?

[2021-01-04 21:58] swesonga commented on #5722
@julealgon The nesting feature allows for custom nesting rules, which can possibly introduce cycles in the dependencies. It may make sense to view that as a more specialized scenario, but the possibility of VS crashing in that scenario means the feature is not allowed to be promoted to RTM. As far as ETA, we're most likely looking at 16.10 for turning on this feature by default since 16.9 is for t

[2021-01-04 22:40] tmeschter commented on #5460
@ericstj The Resource Editor currently uses ResXResourceReader/ResXResourceWriter, since it operates on .resx files. I don't think we can use that ResourceWriter.AddResource overload.

[2021-01-05 00:52] drewnoakes commented on #6808
I think it would work to just use `/` in your build events, as Windows supports both `/` and `\` as directory separators afaik.

[2021-01-05 00:56] drewnoakes commented on #6800
That section of the documentation is for VS2015 and earlier. For VS2017 and later we recommend using the Project System Tools to get a binlog which is much richer.

[2021-01-05 01:55] drewnoakes commented on #3674
We will improve this in the new project property UI.

[2021-01-05 01:56] drewnoakes commented on #3674
More support for this issue in feedback ticket: https://developercommunity2.visualstudio.com/t/Define-DEBUG-constant-is-not-checked-for/760022

[2021-01-05 01:59] larsbuch commented on #6808
@drewnoakes Visual Studio 2019 Build fails with / separator on windows and on linux MSBuild it fails with \ separator. If Visual Studio 2019 is surposed to accept / separator there is a bug in Visual Studio 2019 making it fail. The suggestion from @rainersigwald works.

[2021-01-05 02:00] larsbuch commented on #6808
Sorry. I forgot to close issue after resolution

[2021-01-05 02:00] #6808 closed

[2021-01-05 03:16] drewnoakes opened #6813 "Removing reference from project does not remove it from the dependencies tree"
**Visual Studio Version**: Version 16.9.0 Preview 3.0 [30904.159.main]

Likely a result of recent dependency tree changes.

Repro steps:

1. Create project
[code]
2. Manually remove the `PackageReference` item and save the project
3. The item is still visible in the dependencies tree
   ![image](https://user-images.githubusercontent.com/350947/103602513-5404fd80-4f60-11eb-98d8-15c8d44ca33a.png)

[2021-01-05 03:18] AraHaan commented on #6813
does it get removed when you use ``dotnet restore`` on the command line?

[2021-01-05 03:20] drewnoakes commented on #6813
The bug is in VS. Removing the item from the project updates the `project.assets.json` file correctly.

[2021-01-05 03:21] drewnoakes commented on #6813
Reloading the project in VS fixes it too.

[2021-01-05 03:36] AraHaan commented on #6813
How about have it automatically reload the project every time the project system updates that json file?

[2021-01-05 03:56] drewnoakes commented on #6813
VS monitors that file. The bug is localised to the code that manages the tree. It isn't responding to the change notification correctly.

[2021-01-05 08:12] paulomorgado commented on #6800
VS2015 is still supported ([Visual Studio Product Lifecycle and Servicing](https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing)).

Or are the log files produced by VS2019 named differently from the ones produced by VS2015?

[2021-01-05 09:32] drewnoakes commented on #6813
I have a fix for this. Will spend a little time tomorrow to tidy up some of the code around this area, as the fix on its own is very cryptic, and I think the class can be made more straightforward.

[2021-01-05 21:13] tmeschter commented on #6797
Further thoughts:

I don't think we need `IPropertyEditorClientSession.NotifyServerShuttingDownAsync`; there are more general mechanisms for detecting when the server is shutting down. I think the client may just close all of its open tabs in this case anyway.

I think `IPropertyEditorConnection.SetEvaluatedValueAsync` and `IPropertyEditorConnection.SetUnevaluatedValueAsync` would only return the

[2021-01-05 22:43] drewnoakes commented on #6808
I didn't expect that, given `/` works on the command line.

[2021-01-05 22:45] drewnoakes commented on #6800
My understanding is that our documentation is correct for both cases. I don't know if/why the names would have changed. Do you feel that the `.log` file adds anything over the `.binlog`?

[2021-01-05 23:55] tmeschter opened #6816 "Fire change events for "synthetic" properties"
The new property pages use a number of "synthetic" properties, that is, properties that can appear in the UI but are not stored in the project file. Instead, their values are dependent on other properties, and attempts to set the synthetic property generally update other properties instead (see the `PackageLicenseKindValueProvider` type for an example).

We do this by leveraging the `IIntercepting

[2021-01-06 01:03] paulomorgado commented on #6800
No!

But this issue is about the documentation being correct or not.

[2021-01-06 04:20] drewnoakes commented on #6797
Agree. I called that out in a comment on `IPropertyEditorClientSession.NotifyServerShuttingDownAsync` so that we wouldn't fail to consider the scenario.

I wrote a long reply to this then realised I was wrong, and now I've written an even longer one.

The problem I was trying to solve with the return values was allowing the client to know about all changes resulting from its update request. The cl

[2021-01-06 09:58] drewnoakes commented on #6800
The documentation is correct if you read the section for the version of VS you're using, as I understand it. Let me know if you disagree and how you'd fix it. Bear in mind that we point users at this documentation when diagnosing issues and we want them to produce binlogs, not text logs.

[2021-01-06 09:58] #6800 closed

[2021-01-06 09:59] drewnoakes commented on #6816
If the approach in #6797 is used, perhaps the server can just refresh all synthetic properties and diff them with each clients' session in order to determine which changed.

[2021-01-06 12:48] julealgon commented on #5722
I appreciate the clarification @swesonga . I was able to get something going on my side by adding the csproj properties and using a standard Web template as a solution-level nesting configuration. This is good enough for me for now.

[2021-01-06 18:27] tmeschter commented on #6797
What if the contract was such that each call to `SetEvaluatedValueAsync` or `SetUnevaluatedValueAsync` must result in a subsequent call to `ReceivePropertyUpdatesAsync`, even if no property values change (e.g., `propertyUpdates` would be an empty array)?

That would allow us to adopt the following interface shapes:

[code]

This guarantees that the server and client process each other's messages i

[2021-01-06 18:33] tmeschter commented on #6816
At the property page level, the server doesn't necessarily know which properties are synthetic. Also, the problem really exists in the lower-level properties system, and I would like to solve it there.

[2021-01-07 02:02] Lydia-Shi opened #6819 "Nuget Packages reference still exists in Solution Explorer after removing it or uninstalling"
**Visual Studio Version**:
Dev16 16.9.0 Preview 3.0 [30906.181.main]

**More info**:
1.	It's a regression issue, it cannot reproduce on 16.7P4.
2.	Package reference does not appear after closing and reopen solution.

**Steps to Reproduce**:
1.	Create a Winforms .Net Core app, and add Nuget reference for this project
2.	In Solution Explorer, focus on Nuget package reference, right-click on it then

[2021-01-07 08:07] Lydia-Shi commented on #6819
Dupe of #6813.

[2021-01-07 08:07] #6819 closed

[2021-01-07 23:17] jasonmalinowski opened #6820 "Roslyn is unable to add diagnostic nodes properly in multi-targeting projects"
Roslyn is responsible for populating the individual diagnostics and source generators under an analyzer node. In a multi-targeting case, we have logic that attempts to walk up the hierarchy of nodes to figure out which TFM is active. For example, consider this screenshot:

![image](https://user-images.githubusercontent.com/201340/103954695-a0d00c00-50f9-11eb-8ce8-3d3e923f0818.png)

The "SampleSour

[2021-01-08 00:13] jjmew commented on #6811
We believe is is problem in the SDK since the error happens during evaluation.

[2021-01-08 00:27] jjmew commented on #6767
@ivan-prodanov thank you for the explanation. We don't have an additional way that we could recommend that will be minimalistic. As of now, we don't have plan to add an approach that will help.

[2021-01-08 01:33] Lydia-Shi opened #6821 "[Loc][CSY] Properties page style is not correct"
**Visual Studio Version**:
Version 16.9.0 Preview 3.0 [30906.181.main]

**More info**:
This issue reproduce in CSY, not reproduce in CHT&FRA.

**Steps to Reproduce**:

1. Create a Winforms .Net Cpre application
2. In Solution explorer, focus on project, right-click on it then click Properties, then observe the Properties page

**Actual Behavior**:
Properties page style is not correct.
![image](htt

[2021-01-08 13:44] yunsong0922 commented on #5418
That's also works for me. Thanks @arphox

[2021-01-08 21:57] jjmew commented on #6821
@Lydia-Shi it looks like you accidently turned on the preview feature that enables the new property pages. Please  make sure you uncheck both preview features.

![image](https://user-images.githubusercontent.com/14163814/104068200-5ada7d00-51b9-11eb-932b-6dbaa9e6e60e.png)

[2021-01-08 21:57] #6821 closed

[2021-01-10 16:53] Se7enstars commented on #5772
[same](https://github.com/dotnet/project-system/issues/5772#issue-547011937) problem on opening project (i only updated VS2019 to lastest ver)

[2021-01-11 01:31] drewnoakes commented on #6820
What information is needed to look up an `IWorkspaceProjectContext` if the TFM is insufficient?

The target nodes (which currently have the `$TFM:*` flags) are agnostic of any particular type of dependency, and should probably not have Roslyn concepts baked into them. We populate the dependencies tree from MSBuild items and don't have any particular knowledge of Roslyn workspaces, so we'd have to

[2021-01-11 02:16] Lydia-Shi commented on #6821
@jjmew  Thanks for your reply. After disabling the two options you mentioned in https://github.com/dotnet/project-system/issues/6821#issuecomment-757016779, Properties page style displays correctly.

[2021-01-11 04:24] drewnoakes commented on #6797
Yes, and it seems slightly tidier.

Returning the updates is not an option, due to the race condition identified above.

The client is going to have to wait for the update one way or another, and the server's going to have to hold that correlation ID until the diff is completed anyway.

---

As correlation IDs are not comparable in any meaningful way (unlike versions), we need to make sure the ser

[2021-01-11 05:15] drewnoakes commented on #5772
@Se7enstars please try repairing your VS installation. If the problem persists, open a new issue. Thanks.

[2021-01-11 05:33] drewnoakes commented on #6656
Hey @ViktorHofer, apologies for the delay.

The collection is computed in `AggregateCrossTargetProjectContextProvider.CreateProjectContextAsync`, which in turn sources its values from CPS's `IActiveConfiguredProjectsProvider.GetActiveConfiguredProjectsMapAsync`. This part of the system needs revisiting, though it's low priority for us currently. We're tracking that in #6183.

[2021-01-11 05:35] drewnoakes commented on #6656
Perhaps @lifenglu knows a better API to retrieve the set of TFMs for a given `UnconfiguredProject`, as a short term solution to this problem.

[2021-01-11 10:52] drewnoakes commented on #6675
We have two feedback tickets for this:

1. AB#1202408
2. AB#1249790

The first gives repo https://github.com/microsoft/partsunlimited as a repro, specifically the web app project. However testing this locally does not reproduce the issue, and the tree appears correctly with duplicate captions:

![image](https://user-images.githubusercontent.com/350947/104171418-bb3a1a80-5456-11eb-9450-1010a3f451fd

[2021-01-11 11:02] drewnoakes commented on #6675
The problem seems to be when we have an existing tree, then change it. If the display order of an items changes, we update it. However if another item in the tree with the same caption already has this display order value, then we fail.

[code]

[2021-01-11 11:25] drewnoakes commented on #6675
I've found a repro.

[code]

[code]

Open this project. Move the first `Import` to the end of the file and save.

[2021-01-11 12:01] drewnoakes commented on #6656
@ViktorHofer I've filed #6824 which disables the validation that's firing here. Whilst the validation is sound in theory, it isn't protecting against anything terribly serious and so I think the right thing to do is disable it for now. As I mentioned, in future I want to fix how we handle target frameworks in the dependencies tree, and at that time reinstate this validation.

[2021-01-11 12:45] ViktorHofer commented on #6656
Thanks a lot @drewnoakes

[2021-01-11 14:28] anderslaub commented on #2670
I am finally using SDK style for classic asp.net mvc projects without any red squiggles or any other issues now.

The last piece of the puzzle for my setup was adding the ProjectCapability `SupportsSystemWeb`

However now I am wondering when and in which version of Visual Studio that `SupportsSystemWeb` was introduced?

I've found this list of supported Project Capabilities [here](https://github.c

[2021-01-11 14:46] tompazourek commented on #2670
@anderslaub Thank you very much for sharing this! It indeed seems to fix the Razor Intellisense issue, it finally looks like a viable solution is here.

I tried it in a branch of my sample repo [AspNetMvcOnSdk  feature/project-capability](https://github.com/tompazourek/AspNetMvcOnSdk/tree/feature/project-capability). And the squiggles are gone both when using ReSharper Intellisense and when using

[2021-01-11 18:35] jasonmalinowski commented on #6820
I think @tmeschter can chime in on the comparison to the legacy project case. I believe Roslyn creates the legacy analyzer nodes in the legacy project system case was simply a cost saving measure: updating Roslyn was cheaper than updating the legacy project system.

My worry is scenarios like the project system implementing the long-standing request to have both debug/release projects sent over to

[2021-01-11 19:43] tmeschter commented on #6820
Analyzer assemblies are project inputs just like references and source files. As such, the project system has an interest in displaying them to the user regardless of whether or not the language service shows the diagnostic nodes under them. Ideally the legacy project system would have been responsible for the creation of the Analyzers group node and the analyzer assembly nodes, but the only way t

[2021-01-11 21:00] lifengl opened #6825 "NuGet Package resolver blocks operation progress forever"
This has been a problem for a while since the operation progress feature was introduced, and in random cases, the operation progress will never end, due to NuGet restore feature never reports it finishes the work. We have been seeing this once a while, but wasn't able to identify the root reason, and successfully fixed it.

Here is how it works: after NuGet restore is done, the feature will wait t

[2021-01-11 21:20] tmeschter commented on #6797
To be clear to guarantee message order with my proposed interfaces the client would have to await the `Task` returned by `SetEvaluatedValuesAsync`/`SetUnevaluatedValuesAsync` before making further calls to the server, and the server would have to await the `Task` returned by `ReceivePropertiesAsync`/`ReceivePropertyUpdatesAsync`. The completion of these tasks just signifies that the client or serv

[2021-01-11 21:59] #6656 closed

[2021-01-11 23:20] swesonga commented on #1176
This issue has been fixed (in CPS) by @lifengl in 16.9 Preview 3.

[2021-01-11 23:20] #1176 closed

[2021-01-12 00:39] tmeschter commented on #6797
Further notes:

1. After calling SetEvaluatedValueAsync, the corresponding call to ReceivePropertyUpdatesAsync needs to include the updated values of any dependent properties in addition to the requested properties. We should also consider requerying everything and sending a total diff.

[2021-01-12 01:42] drewnoakes commented on #6797
Chatting with @lifengl highlighted a scenario we need to consider:

- Client requests changing property from A -> B
  - At this point, the client has the value B stored in memory
- Server, for whatever reason, rejects the change

The client needs to be notified that the property it requested the change to now has value A. From the server's perspective, there's no delta.

One way to achieve this ma

[2021-01-12 04:45] drewnoakes opened #6826 "Dependency tree doesn't correctly support .NET 5+ platform specifiers"
Version 16.9.0 Preview 4.0 [30909.6.main]

Given:

[code]

This project has two TFMs. It should show two sub-graphs under the dependencies tree, but only shows one:

![image](https://user-images.githubusercontent.com/350947/104270613-030b8100-54ed-11eb-95be-2555b969df40.png)

[2021-01-12 04:45] drewnoakes commented on #6826
First step is to verify if #6712 fixes this.

[2021-01-12 04:48] drewnoakes commented on #6820
Having the project system show the analyzer assembly nodes is reasonable. Aside: they are actually handled differently to other types of dependencies as they're not always provided via evaluation, and usually require a DTB to complete before they are known. You can see them appear slightly later than other dependency types when loading a project.

Yes it is legal and should be a relatively common

[2021-01-12 10:32] RachelDavids commented on #1802
Additionally, Visual Studio does not appear to recognise a project file that imports "SAK" versions of these values. Hence they MUST actually be in the project file.

[2021-01-12 11:36] drewnoakes commented on #6674
This is a bug, and it's fixed by @swesonga's PR #6712.

[2021-01-12 11:39] drewnoakes commented on #6826
@swesonga's PR #6712 does indeed fix this. We'll get it merged in asap.

[2021-01-12 12:36] AraHaan opened #6829 "Add option to the project system to enable /largaaddresaware on built assemblies (All target frameworks in C# & VB.NET)."
**Visual Studio Version**: Latest Preview of Visual Studio 2019.

**Summary**: The project system on C#, and VB.NET assemblies lack the option of setting /largeaddressaware. This option then for programs that need it then requires remembering to editbin it in, however it becomes an inconvience as then it invalidates code signing using an certificate so then one cant tell if it is a legit build (by

[2021-01-12 12:45] AraHaan commented on #6801
Oh shit that explains why Visual studio is screwing up on me. I thought it was my install being borked or extensions.

[2021-01-12 12:56] drewnoakes commented on #6829
This request goes beyond the project system and to the compiler itself. As far as I understand, the compiler does not support emitting `largeaddressaware` binaries. The standard advice is to opt into this via editbin as indicated, however this invalidates signing.

[2021-01-12 13:03] AraHaan commented on #6829
Unless it is made to where the compiler outputs the binary (prior to being signed) then if the option to make it ``/largeaddressaware`` is set then it would invoke editbin, and then the compiler signs it so that way it does not invalidate.

[2021-01-12 17:38] tmeschter commented on #6829
@AraHaan The C# compiler will already set the "large address aware" flag if you target AnyCPU and turn on the "prefer 32-bit" option. Please see https://github.com/dotnet/roslyn/issues/9209 for more details.

If you would like to see support beyond that, the compiler or SDK would to create a design for how it would work and only then can we update the property pages to support it. As such I am clo

[2021-01-12 17:38] #6829 closed

[2021-01-12 17:43] #6369 closed

[2021-01-12 17:43] #6370 closed

[2021-01-12 17:43] #6674 closed

[2021-01-12 17:43] #6826 closed

[2021-01-12 18:19] #6767 closed

[2021-01-12 20:20] eerhardt opened #6830 "Some dotnet/runtime .sln files are being changed on solution open"
**Visual Studio Version**:
16.8.3

**Summary**:

When opening some .sln files in `dotnet/runtime`, which are generated by [slngen](https://microsoft.github.io/slngen/), some of the files are automatically edited by VS. While some of them don't exhibit this problem.

**Steps to Reproduce**:

1. `git clone https://github.com/dotnet/runtime.git`

2. Open `.\runtime\src\libraries\System.Runtime.Serial

[2021-01-12 20:23] tmeschter commented on #6830
@eerhardt Can you provide the diff of the .sln so we can see what has changed?

[2021-01-12 20:25] tmeschter commented on #6830
(Or a representative sample of the diff.)

[2021-01-12 20:35] eerhardt commented on #6830
Here's a patch diff of the changes to System.Runtime.Serialization.Formatters.sln

[code]

[2021-01-12 20:59] tmeschter commented on #6830
So it looks to me that the .ilproj is being assigned a new GUID to identify it, and that is causing some resorting of other parts of the .sln file.

As I am not familiar with .ilproj files I can't speculate as to why this would happen. On that note--why does the .ilproj claim it should be opened with the project system for C# (that what the "9A19103F-16F7-4668-BE54-9A1E7A4F7556" GUID indicates)?

[2021-01-12 21:03] eerhardt commented on #6830
Yeah, @ViktorHofer and I were just discussing this on the side. He is going to look into configuring slngen to not use that GUID for the .ilproj file.

[2021-01-12 21:05] tmeschter commented on #6830
Also, if slngen matched the sorting used by VS that would minimize the diff though not eliminate it.

[2021-01-12 21:09] eerhardt commented on #6830
@jeffkl - thoughts on that?

[2021-01-12 21:17] jeffkl commented on #6830
Yeah ideally if SlnGen is updating an existing solution file, it should match and be deterministic.  Some project types don't specify a Project GUID (SDK-style projects) so a new GUID is generated the first time.  I [added code](https://github.com/microsoft/slngen/pull/105) a while ago to reuse the GUIDs if possible so this would definitely be in the spirit of this effort.

You can specify a proje

[2021-01-12 21:23] ViktorHofer opened #6831 "Custom IL SDK (similar language targets file to C#) doesn't show compile items inside Visual Studio"
In our custom IL SDK we define these properties: https://github.com/dotnet/runtime/blob/891c6d36324540e1cb87586792d81cb22ff11c66/src/coreclr/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets#L15-L19.

Even though those are set, and the project file that uses the IL SDK even defines the compile item (https://github.com/dotnet/runtime/blob/891c6d36324540e1cb87586792d81cb22ff11c66/src/

[2021-01-12 21:28] eerhardt commented on #6830
It's the other way around. We generated the original .sln file with `SlnGen`, and now VS is updating it on load.

[2021-01-12 21:31] jeffkl commented on #6830
Whoops I misunderstood.

Yes it looks like Platform/Configuration is sorted and NestedProjects is in a different location.  Go ahead and open an issue.

[2021-01-12 21:46] eerhardt commented on #6830
I _think_ the common characteristic between all the .slns that have problems is that they have a reference to System.Private.CoreLib. I think the GUID changes for the `.ilproj` are just VS thinking "while I'm in here, I might as well do these other edits". The solutions that don't exhibit the problem also reference the same `.ilproj` and use the incorrect C# SDK project GUID.

So I think what is b

[2021-01-13 03:05] drewnoakes commented on #6826
We now show all .NET 5 variants in the tree. However the scenario described in this issue is now triggering https://github.com/dotnet/sdk/issues/15291.

[2021-01-13 03:09] drewnoakes commented on #6826
This bug is related to https://github.com/dotnet/project-system/issues/2524.

[2021-01-13 04:06] drewnoakes opened #6832 "Transitive dependency items not attached for all target frameworks when multi-targeting"
Following the merge of PR #6712 (which fixed several bugs) we see some package and project reference nodes not having their children populated for multi-targeting projects. That PR changed the representation of the target we store on these items, which is now no longer understood by the code that attaches these children.

We are no longer parsing the `TargetFramework` dimension to produce a saniti

[2021-01-13 04:14] drewnoakes commented on #6832
The fix may also address these issues:

- https://github.com/dotnet/project-system/issues/2524
- https://github.com/dotnet/project-system/issues/2525
- https://github.com/dotnet/project-system/issues/2618
- https://github.com/dotnet/project-system/issues/2795
- https://github.com/dotnet/project-system/issues/3642

[2021-01-13 11:17] drewnoakes commented on #6831
I'm off for a few days on vacation. If you or someone else wants to investigate in the meantime, some things to try:

1. Look at the evaluated items for the project using Project System Tools and verify they're present.
2. Investigate the values of `AvailableItemName`.
3. Try adding this capability:
[code]

I can take a look when I'm back next week.

[2021-01-13 11:19] drewnoakes commented on #6831
@lifengl how does the tree know to show `Compile` items? Is that based on project data that might be missing in this custom `Microsoft.NET.Sdk.IL` MSBuild SDK?

[2021-01-13 15:48] ViktorHofer commented on #6831
The binlog produced by the project system tools extension unfortunately doesn't show any items:

![image](https://user-images.githubusercontent.com/7412651/104474403-44b82c80-55be-11eb-930d-4c648c77030b.png)

Unfortunately not possible because of above.

Unfortunately this didn't display the .il file but it made a .txt file appear in the solution explorer.

Thanks, this can definitely way till nex

[2021-01-14 14:21] mediabuff opened #6834 "Microsoft.Build.Framework.XamlTypes not exposed in .net core/net standard 2.0"
Hello,
I am trying to used the types defined in Microsoft.Build.Framework.XamlTypes in a .net core or a .net standard 2.0 library. I have add ed a dependency to 'Microsoft.Build.Framework'.

These types are visibile if the consuming library is .net framework.

[2021-01-14 16:42] jlaw74 commented on #6785
I have also started having this issue on one of two machines. The only noticeable difference is one is Windows 10 1809 (working), and Windows 10 2004 (not working, updated 11/4/2020).

When I copy the .deps.json file to the root of the project, it exposes a netstandard, version=2.1 manifest error.

[2021-01-14 17:39] Fed03 commented on #2670
Thanks for the very interesting thread. Sadly, I can not get rid of the `HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure` problem even with the `<ProjectCapability Include="SupportsSystemWeb" />`.

Any ideas?

This is my CSPROJ
[code]

[2021-01-14 23:43] Varorbc opened #6836 "Add project format migration tool"
**Visual Studio Version**:16.8

**Summary**:There are many legacy projects in our project, and we hope to convert them to the SDK style。Request to add project format migration tool

[2021-01-15 20:29] anderslaub commented on #2670
@Fed03 If you do get far enough to get a http status code then it is not build related but some configuration.

In my daily work I always extend an existing web app when using classic ASP.NET MVC. Here I publish to a folder and use attach to process for debugging (typically attaching to a process running within a container nowadays) so I apologize for not considering F5 Debugging in the slimmed do

[2021-01-15 20:54] swesonga opened #6837 "File Nesting: Enable the CPS file nesting implementation for all CPS projects"
This will also entail removing all feature flag handling logic since the feature will always be enabled.

[2021-01-15 20:54] swesonga opened #6838 "File Nesting: Make IDefaultNestingProfileProvider public"
Project systems that need to customize their file nesting implementations need to export an INestingProfilesProvider. The file nesting implementation has a concept of a default nesting profile in case there are multiple. In order to inform CPS which profile is the default profile, an implementation of IDefaultNestingProfileProvider is required. However, this interface is currently internal to CPS

[2021-01-18 01:43] 3nth commented on #2670
@bachratyg  @anderslaub thanks so much!

I was able to get this working for both VS run/debug as well as a CI build/publish.

I started with @anderslaub example, but the `CopyRoslynCompilerFilesToOutputDirectory` not work for me. Files didn't get copied, so VS complained the roslyn files were not found. Could not figure this one out. Likely, because `$(CscToolPath)` does not exist for:
[code]

My

[2021-01-18 08:48] drewnoakes commented on #6836
@Varorbc have you tried https://github.com/dotnet/try-convert?

[2021-01-18 08:56] Varorbc commented on #6836
![image](https://user-images.githubusercontent.com/5714438/104893011-da343180-59ad-11eb-826f-2c7a68502919.png)
Thank you very much, can it be a part of vs like nuget tool

[2021-01-18 09:57] Fed03 commented on #2670
@anderslaub many, many thanks! sadly the ANCM issue seems related to how Rider creates the applicationhost.config file. It seems it ignores the `<ProjectCapability Include="SupportsSystemWeb" />` directive, since with VS got this right

[2021-01-18 12:14] bachratyg commented on #2670
@Fed03 A ProjectCapability is a simple magic word that tells the IDE to enable some feature. What that means is entirely up to the IDE implementation.

[2021-01-18 13:19] drewnoakes commented on #6836
You're welcome. Let us know how you get on with it. //cc @cartermp

From the project's README:

[2021-01-18 22:28] #6327 closed

[2021-01-19 16:09] michaelmairegger opened #6843 "Unexpected problem when using multiple target frameworks like net5.0;net5.0-windows"
**Visual Studio Version**: 16.8.4

**Summary**:

If I open a solution that contains at least one project with multiple target frameworks of the same base type e.g. `net5.0` then VS shows me an error with the attached log file.

**Steps to Reproduce**:

Create a solution with a project with the following content:

    <Project Sdk="Microsoft.NET.Sdk">
        <PropertyGroup>
            <TargetFram

[2021-01-19 21:47] MiYanni commented on #6744
@RobertvanderHulst I've merged a change that restricts the version of VS used for `build.cmd` to be the minimum version of VS we actually set the DLL to build as. Meaning, the version we put in [Versions.props](https://github.com/dotnet/project-system/blob/255bc15b422bdc5e10fbe0e93d481c020ff2193a/build/import/Versions.props#L4) is now the minimum version `build.cmd` uses. Can you check to see if y

[2021-01-19 22:51] drewnoakes commented on #6843
Thanks for the detailed error report.

This is a duplicate of https://github.com/dotnet/sdk/issues/15291 which has a fix in PR and is currently slated for 5.0.2xx.

[2021-01-20 01:18] nkolev92 opened #6845 "Add CLRSupport to the nomination data sent to NuGet"
**Visual Studio Version**: 16.8

**Summary**:

NuGet is working on adding support for C++/CLI projects and to do that, we need the `CLRSupport` property passed in the nomination data to differentiate between normal C++ and C++/CLI projects.

See related design info at https://github.com/NuGet/Home/pull/10299.

**Steps to Reproduce**:

N/A

**Expected Behavior**:

N/A

**Actual Behavior**:

N/A

**

[2021-01-20 02:32] #6845 closed

[2021-01-20 13:33] michaelmairegger commented on #6843
@drewnoakes Thanks for the quick response.

[2021-01-20 23:03] crsuzukimsft opened #6848 "[Loc] Assistance with translation"
. | .
-- | --
MOR PM | Jan Baltus (Moravia IT)
String Resource ID | 0; "preview"
Source String | preview
Filename | Microsoft.VisualStudio.Editors\PropPages\xlf\Strings.xlf
Question | Could you please give us more context about the string? Is this related to the preview version of a service?
Additional details |  
Core Team Response |  

[2021-01-20 23:03] crsuzukimsft commented on #6848
vcq 356332

[2021-01-20 23:05] crsuzukimsft opened #6849 "[Loc] Assistance with translation"
String Resource ID: 0; "latest"
Source String:  latest
Filename | Microsoft.VisualStudio.Editors\PropPages\xlf\Strings.xlf
Question | Where will this string appear? Without any context or information, this is almost impossible to translate accurately.

[2021-01-20 23:05] crsuzukimsft commented on #6849
vcq 359654

[2021-01-20 23:22] tmeschter commented on #6849
@crsuzukimsft This string appears on the Code Analysis property page along with the strings "none" and "preview":

![image](https://user-images.githubusercontent.com/10506730/105252894-35dbf780-5b33-11eb-9c65-3a3702d7c502.png)

@jmarolf Can you provide more context on the meaning of the string?

[2021-01-20 23:25] tmeschter commented on #6848
@crsuzukimsft This is where the string appears:

![image](https://user-images.githubusercontent.com/10506730/105253100-a08d3300-5b33-11eb-996a-2f48ec0ab393.png)

Tagging @jmarolf for more context.

[2021-01-21 02:38] crsuzukimsft commented on #6848
@tmeschter thank you. This is good enough for context.

[2021-01-21 02:38] #6848 closed

[2021-01-21 02:39] #6849 closed

[2021-01-21 02:40] crsuzukimsft commented on #6849
@tmeschter thank you. T

[2021-01-21 10:56] bhugot commented on #2670
Someone know how to make it work with owin?

[2021-01-21 11:01] bachratyg commented on #2670
@bhugot It should work as is. Do you see some issue?

[2021-01-21 11:36] drewnoakes opened #6850 "Up-to-date check laziness is causing delays during first build"
#6822 made the up-to-date check's initialization lazy, such that it deferred its dataflow subscriptions until its first invocation. The motivation for that change was to prevent dataflow subscriptions for inactive configurations. Exports for inactive configurations are unused, so initializing them is wasteful and negatively impacts solution load and retained memory usage.

That change had the nega

[2021-01-21 11:41] chucker opened #6851 "Get selected Startup Profile (launchSettings.json) in VSIX"
**Visual Studio Version**: 16.9.0 Preview 3.0

**Summary**:
In a VSIX, I want to know the current effective behavior for a solution's startup project[s].

For old-style `csproj`s, I can use the `ProjectConfigurationProperties3` interface, as e.g. [https://stackoverflow.com/a/55698034/1600](here). For Sdk-style `csproj`s, that interface (and related ones) probably doesn't apply; most of the propert

[2021-01-21 12:22] chucker commented on #6851
Figured it out — you need to reference the `Microsoft.VisualStudio.ProjectSystem.Managed` NuGet as well, and then something like this will do:

[code]

[2021-01-21 12:22] #6851 closed

[2021-01-21 12:47] bhugot commented on #2670
It's ok found the problem was missing a package
[code]

[2021-01-21 18:58] aortiz-msft opened #6853 "Uninstalled NuGet packages remain in the Visual Studio solution explorer"
---
**Issue moved from NuGet/Home#10442**
- Please respond to @chgill-MSFT.

---

_From @chgill-MSFT on Friday, January 8, 2021 10:27:13 PM_

## Details about Problem

Product: Visual Studio

NuGet version: 5.9.0.7005

VS version: 16.9.0 preview 3 (30907.6 main)

Worked before? Yes

Works fine in Visual Studio 16.9.0 preview 2 with NuGet 5.9.0.6967.

## Detailed repro steps so we can see the same

[2021-01-21 18:58] aortiz-msft commented on #6853
---
**Issue moved from NuGet/Home#10442**
- Please respond to @heng-liu.

---

_From @heng-liu on Tuesday, January 12, 2021 12:51:49 AM_

I could repro. But if I reopen the solution, the nodes will be removed as expected.
Is this by design, or we should work with project-system team to fix that?

[2021-01-21 18:58] aortiz-msft commented on #6853
---
**Issue moved from NuGet/Home#10442**
- Please respond to @chgill-MSFT.

---

_From @chgill-MSFT on Tuesday, January 12, 2021 3:26:58 PM_

I can't imagine it's by design as I don't see any potential customer benefit unless maybe it's a result of some perf optimization. I think we should work with project-system to get a fix 😊

[2021-01-21 19:12] jasonmalinowski commented on #6820
@drewnoakes I don't like having the TFM because it tends to lead to abuse or bugs, but if there's no practical alternative then we can do that.

[2021-01-21 21:19] drewnoakes commented on #6853
Duplicate of #6813. Fixed in #6814.

Please verify the problem does not repro in a recent build of VS main.

[2021-01-21 22:38] PureKrome commented on #2670
Great to see that this thread is active! So .. currently ... is there an official MS-Doc page that explains all of this process in a confirmed process/way?

or is this still an experimental process, which is having various levels of success?

[2021-01-21 22:43] #6850 closed

[2021-01-21 22:49] drewnoakes commented on #6820
I'm certainly open to alternatives so long as they're generally applicable, and we can get the information we need.

Exchanging data through items in the solution tree is a pain. Mushing specially encoded values in the capabilities property string feels inadequate. We have a similar issue exposing package identity/version data to NuGet.Client. I'm not sure there's a better approach for hierarchy n

[2021-01-22 03:15] davkean commented on #6820
DTE.ProjectItem.Properties is exactly that exchange mechanism.

[2021-01-22 10:07] slang25 commented on #6620
Hi @davkean, would you be able to give an update on this spike please, I know a lot of people are keen to see progress here 🙂

[2021-01-22 18:00] tmeschter commented on #6820
There are two distinct questions here:

1. What information is needed to allow Roslyn to match the an `IWorkspaceProjectContext` up to the corresponding target framework node under the Dependencies node?
2. How do we expose that information both to the `IWorkspaceProjectContext` and through the items under the Dependencies node?

Right now we're exposing just the TFM through a capability on the no

[2021-01-22 22:39] jasonmalinowski commented on #6820
So I had a few concerns about us just passing around TFM:

1. Right now Roslyn doesn't know the TFM for a project, and that's often good; whenever somebody starts asking "how do I know the TFM of a project?" we can quickly try to figure out what they're _actually_ trying to do and steer them away.
2. TFM is an opaque string to us, so we can use TFM to choose between multiple targets, we're implici

[2021-01-22 23:54] dmonroym opened #6857 "Default branch will be renamed to main"
On Monday, 25 January 2021 we're going to rename the default branch in this repository to `main`. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-01-23 00:51] jjmew opened #6858 "We need to understand the plan for deprecation of BinaryFormatter"
We need to understand the plan for deprecation of BinaryFormatter. We use it for the Resource Designer but we need to move to a new solution as it will be deprecated.  You can see https://github.com/dotnet/runtime/issues/39292

[2021-01-24 09:13] RobertvanderHulst commented on #6744
Michael,
Thanks for this. I have just tried to build it from a VS 2019 (16.8.4) and VS 2019 Preview (16.9.0 preview 3) command prompt and it works in both.

[2021-01-24 11:03] drewnoakes commented on #4585
This is essentially a duplicate of #6633. Closing this, as there's more discussion on that issue.

[2021-01-24 11:03] #4585 closed

[2021-01-24 11:04] drewnoakes commented on #6633
From https://github.com/dotnet/project-system/issues/4585:

[2021-01-24 20:12] CZEMacLeod commented on #2670
Just used this technique to great effect.
Some issues I found:
I had to add these properties to the project file
[code]
As one of my NuGet packages had a reference file and native runtimes for x86 and x64
I also added `"use64Bit": true,` to launchSettings.json
[code]

I put my required web.config in app.config and added the following to the project
[code]
This enables automatic binding redirects f

[2021-01-24 22:12] bachratyg commented on #2670
AFAIK you don't need `AutoGenerateBindingRedirects`, it defaults to true for net472 or newer

You don't need a separate `app.config`, you can use `<AppConfig>web.config</AppConfig>` directly. This gets rid of the warning (MSB3247) during build (if bindings are configured properly), it may also work with web.config.*.xdt nugets.

I prefer that build does not modify the source files thus I'd rather

[2021-01-25 06:37] RalphLAtGitHub commented on #5629
@KlausLoeffelmann: I ran into the same problem migrating several WinForms apps from .NET Framework 4.6 to .NET 5 (https://developercommunity.visualstudio.com/content/problem/1311830/resx-file-corrupted-after-migration-to-net-5.html). Hence the question of whether and when a solution or a workaround can be expected?

[2021-01-25 09:26] Kralizek commented on #2670
@davidfowl do you think MS could take over, finalize what's done and package it?

[2021-01-25 18:28] #6744 closed

[2021-01-25 19:47] dmonroym commented on #6557
These changes are unnecessary since they'll be redirecting correctly once those repos rename their default branch:

https://github.com/dotnet/arcade/blob/master/Documentation/Projects/M2MRenaming/Master-to-Main-renaming-guide.md#what-happens-to-links-to-files-in-my-repo

[2021-01-25 19:47] #6557 closed

[2021-01-25 20:17] dmonroym commented on #6857
This work is now completed

[2021-01-25 20:17] #6857 closed

[2021-01-25 21:29] ocallesp opened #6865 "CPS to implement IPasteDataObjectProcessor and IPasteHandler to handle file moves within the same project"
There are two scenarios:
1) move a file within the same project
2) move a file from another project

This implementation needs a new IPasteDataObjectProcessor to check when files are moved within the same project and to extract the required metadata used by `Microsoft.VisualStudio.ProjectSystem.Implementation.Designers.PhysicalProjectTreeActionHandler.HandleCopyPasteItemListAsync()`

This change i

[2021-01-25 21:29] ocallesp opened #6866 "Dotnet ProjectSystem to implement the new action handler CopyAsync()"
`Microsoft.VisualStudio.ProjectSystem.VS.Rename.RenamerProjectTreeActionHandler `should implement the new action handler `CopyAsync()` and handle the new prompt according to [Fix UX for namespace update](https://github.com/dotnet/project-system/issues/6867)

This work should be done after [CPS refactor : Port all code from HandleCopyPasteItemListAsync() to CopyAsync() ](https://github.com/dotnet/p

[2021-01-25 21:29] ocallesp opened #6867 "Modify dialog box in VS for namespace update"

[2021-01-25 21:29] ocallesp opened #6868 "Dotnet ProjectSystem to implement CopyAsync()"

[2021-01-25 21:29] ocallesp opened #6869 "Moving/renaming a file/folder the namespace should be renamed automatically"
**Visual Studio Version**:

Work needed:

- CPS to implement an action handler CopyAsync to hook when the user move a file.
- CPS to refactor all the code around the new action handler CopyAsync()

- Modify dialog box in VS
![image](https://user-images.githubusercontent.com/510598/95389281-6fe8fc80-08a8-11eb-8f1f-a1cebe5e32ca.png)

- Perhaps if needed add an option to enable namespace update by de

[2021-01-26 18:46] jjmew commented on #6868
@ocalles could you add more information?

[2021-01-26 18:50] #6853 closed

[2021-01-26 18:51] #6843 closed

[2021-01-26 18:55] jjmew commented on #6837
@swesonga please follow up with @drewnoakes that the memory allocation issues were addressed

[2021-01-26 18:59] jjmew commented on #6836
As of now the current plan is to do this as command line tool  ( https://github.com/dotnet/try-convert)

[2021-01-26 20:38] drewnoakes commented on #6837
I've done some work to address allocations in this area, but it still appears to be an O(N^2) algorithm. There is more work to do here. Starting with a trace seems like a good idea.

[2021-01-27 23:51] Tanya-Solyanik opened #6877 "New items should not be added to the application while the application is in debug state"
**Visual Studio Version**:
Dev16 16.9.0 Preview 3.0 [30906.181.main]

**Summary**:
Add items menu items are not disabled in the right click menu for project items.

**Steps to Reproduce**:
* Create a Winforms or WPF .Net Core app.
* Press F5 to run this app.
* Right-click this app node in Solution Explorer, and choose 'Add'.
Result: Add menu item is not disabled

**Expected Behavior**:
![image](ht

[2021-01-28 00:41] Tanya-Solyanik opened #6878 "When copying project nodes, in SDK style projects, hierarchy of DependentUpon files is not preserved in the Solution explorer window"
Original issue:
This issue has been moved from [a ticket on Developer Community.](https://developercommunity2.visualstudio.com/t/User-Control-code-corrupted-by-VS2019-d/1321277)
https://github.com/dotnet/winforms-designer/issues/2823

**Visual Studio Version**:
Dev16 16.9.0 Preview 4.0 [30927.2.main]

**Summary**:
Customer copies a usercontrol  in solution explorer window, and does not see the sam

[2021-01-28 00:41] Tanya-Solyanik commented on #6878
Content of the project file after the copy:
[code]
It should not contain the the compile items because they are included by default.

[2021-01-28 01:48] davkean commented on #6877
This behavior is by design. CPS will react to branch switches via the command-line by adding/removing items, there's no reason VS needs to limit this.

[2021-01-28 07:13] Noushadkanniyan commented on #6285
cant add class to model folder in mvc .Getting error like 'the system cannot find the path specified '
please tell me resolution..

[2021-01-28 07:59] drewnoakes commented on #6285
@Noushadkanniyan if your issue is the same as this one, the workaround will be to create the model folder on disk.

If the folder is already present on disk, then you're seeing a different issue and the best way to report it is via the "Report a Problem" feature in VS.

https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

[2021-01-28 09:37] drewnoakes commented on #6877
@davkean should it be possible to manage NuGet packages while debugging?

[2021-01-28 09:39] drewnoakes commented on #6878
I believe CPS handles copy/paste of items. Does that sound right @lifengl @davkean?

[2021-01-28 10:04] davkean commented on #6877
Theoretically yes.

[2021-01-29 01:02] jjmew commented on #6877
We don't prevent you from editing files while debugging. I don't see why we would prevent you from adding files.

[2021-01-29 01:02] #6877 closed

[2021-01-29 03:30] drewnoakes commented on #6820
@jasonmalinowski I'm considering the following steps:

1. Calling `IWorkspaceProjectContext.SetProperty` with properties that uniquely identify the project's configuration.
2. Adding these properties to the node in the dependency tree so that Roslyn (and other components) can differentiate correctly.

Open questions:

1. What properties are required to differentiate the nodes? Is `TargetFramework`

[2021-01-29 03:40] davkean commented on #6820
There's already a context id that we pass to Roslyn, just reuse it as the identifier.

[2021-01-29 09:20] kiddailey commented on #1553
Just wanted to add a note that when this issue occurs in a Xamarin project (VS2019/Win), it appears to disrupt the ability to deploy to a device.  The fix for me in these instances is that I have to disconnect from the paired mac and reconnect.   It doesn't seem to stop deployment to the simulator though.  [The workaround ](https://github.com/dotnet/project-system/issues/1553#issuecomment-39760047

[2021-01-29 10:06] drewnoakes opened #6881 "Up-to-date check causes hang in command line mode"
It's possible to use VS to build a solution/project from the command line. For example:

[code]

Since #6852, doing this causes the process to hang indefinitely.

Originally reported in https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1271226.

---

To repro this, <kbd>F5</kbd> launch `ProjectSystem.sln` with executable arguments:

[2021-01-29 10:16] drewnoakes commented on #6185
Any attempt to wait here must take "command line mode" into account. In that mode, design-time build data is not produced, so our sync-linked data will not flow through and waiting on it may introduce hangs (see #6881).

[2021-01-29 10:57] #6881 closed

[2021-01-29 23:15] jasonmalinowski commented on #6820
As a short fix if you just give us a TFM through IWorkspaceProjectContext.SetProperty we can at least make that work. I imagine that's a relatively small change on your side. It's not my preferred approach but if that's what we can do to fix this for 16.9 I'll take it.

@davkean is correct here: when a project is created in Roslyn a _unique_ name is given to the project that comes from the project

[2021-02-01 08:47] drewnoakes commented on #353
We still have two instances of switching to the UI thread in the repo that reference this issue. Re-opening.

[2021-02-01 08:51] drewnoakes commented on #6820
I've found the context ID @davkean is talking about. It has form:

[code]

Tree capabilities are stored as space separated values, and this value contains spaces. If we wanted to add this there, we'd need to do some sort of escaping.

Better perhaps to add it to the browse object as a property on the target node that can be accessed via DTE (but which is not visible in the property grid, per the a

[2021-02-01 16:31] jmarolf opened #6887 "Unable to get the debug profile in latest Visual Studio"
**Visual Studio Version**: Version 16.10.0 Preview 1.0 [31001.10.main]
**.NET SDK Version**: 5.0.200-preview.21077.7

**Summary**:

Opening a .NET 5 console app throws the following exception.

[code]

[2021-02-01 17:50] CyrusNajmabadi opened #6913 "VS hang attempting to open a file"
Collecting dump now.  Will link to it once available.

Dump at: https://microsoft.sharepoint.com/:u:/t/ManagedLanguagesIDE/EcoSe3kmJelPlUfp0Q4pLbgBF4BrErpNa1O4zaNYLmDoiw?e=FIAfFl

[2021-02-01 22:13] #2487 closed

[2021-02-02 02:28] drewnoakes commented on #6820
https://github.com/dotnet/project-system/pull/6893 implements the `SetProperty` approach. If that is suitable, we'll need to take it to the QB for 16.9. I'd expect we could revert it in 16.10 and go the DTE properties route for the longer term. @jasonmalinowski  let me know if you'd like me to progress that. I may need your help with the Ask Mode details.

[2021-02-02 03:16] drewnoakes commented on #6887
Fixed in #6891.

[2021-02-02 03:16] #6887 closed

[2021-02-02 03:43] drewnoakes opened #6895 "Project Property Page UI Extensibility"
(Extracted from #6627)

The new Project Property Pages aim to be extensible to first and third parties. Some additional extension points are required to offer the full capabilities of the end-to-end system to extenders.

- [ ] Introduce MEF contracts and metadata for various types and extension points <kbd>1</kbd>
  - [ ] Property editors
  - [ ] LinkAction handlers
  - [ ] Custom visibility condi

[2021-02-02 03:48] drewnoakes opened #6896 "Dedicated UI for launch profiles (7)"
(moved from #6627)

This issue is tracking work related to pulling the launch profile experience out of the project properties UI and into it's own dedicated window and experience.

Because there may be many launch profiles, they are not a good fit for the model we are using for properties in the new UI.

# UI

- [x] Use server endpoints for create/delete/duplicate profile <kbd>3</kbd> ([PR](https

[2021-02-02 03:53] drewnoakes opened #6897 "Project Properties editor RDT registration"
(Moved from #6627)

The new Project Properties editor should register itself with the VS RDT in such a way that:

- [ ] A `*` is displayed in the document tab when unsaved changes exist
- [ ] The document tab header text updates when the project is renamed

[2021-02-02 04:01] drewnoakes opened #6898 "Tab navigation broken when changing project property (1)"
(Moved from #6627. Tracked on AzDO in [AB#1278832](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1278832).)

Repro steps:

1. Open the Project Properties UI
2. Modify the text in the Assembly Name text box
3. Press <kbd>Tab</kbd>
4. Notice focus is not in the next UI element

When we change the value of a property, we disable its editor UI controls while we w

[2021-02-02 04:06] drewnoakes opened #6899 "Clearing a project property text box is not possible"
(Moved from #6627)

Repro steps:

1. Open the Project Properties UI
2. Clear the text in the _Default namespace_ text box
3. Press <kbd>Tab</kbd>
4. Notice the previous value is restored

This happens on most text boxes. The reason is as yet unknown.

It doesn't seem to happen on _Assembly name_, which seems to have a sensible default provided by the SDK.

[2021-02-02 04:09] drewnoakes opened #6900 "Ctrl+X does not work in Project Properties UI text boxes (1)"
(Moved from #6627)

Repro steps:

1. Open the Project Properties UI
2. Select text in a text box (e.g. _Assembly name_)
3. Press <kbd>Ctrl</kbd>+<kbd>X</kbd>
4. Expect text to be cut to the clipboard. Actually, nothing happens.

Unclear why. Probably the VS command bound to this keystroke is hijacking it. This works in the legacy pages though. The code in `PropertyPageElementHost` might be relevan

[2021-02-02 04:12] drewnoakes opened #6901 "Improve Project Property search"
Improve the search feature:

- [ ] Allow more than one search term. Currently the space key has no effect in the search box.
- [ ] When searching for two terms (e.g. `foo bar`) return results matching both `foo` and `bar`, not exactly `foo bar`
- [ ] When search filters out all properties, show some UI indicating that no properties match the search term

[2021-02-02 04:14] drewnoakes opened #6902 "Project Properties UI telemetry"
Gather telemetry on the usage of the new Project Properties UI.

[2021-02-02 04:16] drewnoakes opened #6903 "Improve focus visual style for evaluated value text boxes"
Currently it's impossible to see that the evaluated value's text box has the input focus.

[2021-02-02 04:18] drewnoakes opened #6904 "Localise Project Property UI strings"
Set up localisation for all strings shown in the Project Properties UI.

This should just be a matter of registering our RESX file with CPS's tool chain, or merging it into an existing one.

[2021-02-02 09:41] drewnoakes opened #6905 "Query server and process response on background thread"
Currently the Project Properties UI queries the server and processes the response data on the main thread. This work can be moved onto a background thread, only to switch back at the end to update the UI.

The query itself is async, so the current code should have minimal overhead. Still, the processing of the response involves a fair bit of looping over values and would be better off the main thr

[2021-02-02 09:47] drewnoakes opened #6906 "Prevent entire contents of UI from scrolling off the top of the screen"
In order to support navigating to the last category of the last page in the UI, we inject padding at the bottom of the scrollable area that is equal to the height of the scrollable area. This allows the last section to be positioned at the top of the screen.

A downside of this approach is that it's possible to end up seeing nothing on screen in either of two scenarios:

1. You scroll the property

[2021-02-02 09:56] drewnoakes opened #6907 "List of properties requiring attention"
(For the list of missing properties, see #6720.)

The following properties are currently included in the UI and require some sort of additional treatment to make them work correctly.

- [x] ~~Order of values in target framework drop down (both .NET Core and .NET Framework families) (possibly CPS, maybe [this](https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/298982))~~ Moved to #6989
- [

[2021-02-02 10:29] #6688 closed

[2021-02-02 10:33] drewnoakes opened #6909 "Display information to dogfooders"
Add some new elements to the Project Properties UI to:

- [x] Explain that the feature is in preview
- [x] Explain how to disable feature flag to restore the old experience
- [x] Explain where to submit feedback

These elements will be removed once the feature ships.

[2021-02-02 10:37] drewnoakes opened #6910 "Add link from new UI to old launch profile editor"
Until we have a proper launch profile editor in the new experience, we should make it easy for users to navigate from the new experience to the old one, with explanatory text.

This can be achieved by using a link action.

It may require some work in the legacy editor so that it doesn't just try and delegate to the new editor again when asked to show launch profiles.

[2021-02-02 10:40] drewnoakes opened #6911 "Requery project properties from server when editor regaining focus"
We do not currently have a mechanism for pushing updates from the server to the client. That work is in progress.

Until that work lands, we should consider having the UI refresh its properties whenever the editor document tab regains focus.

[2021-02-02 17:39] ViktorHofer commented on #6831
gentle ping @drewnoakes @lifengl

[2021-02-02 18:50] tmeschter commented on #6878
@drewnoakes Can you raise this issue at the next CPS sync up and see if we can figure out the correct owner?

[2021-02-02 18:54] tmeschter commented on #6831
@ViktorHofer What's the end goal? Are you trying to build a project system for .ilproj projects on top of dotnet/project-system?

[2021-02-02 18:57] tmeschter commented on #6830
FYI Shared Projects are owned by CPS, not dotnet/project-system.

[2021-02-02 19:00] tmeschter commented on #353
@drewnoakes Is the work solely on our side, or do we need something further from Roslyn to eliminate those last two places we switch to the UI thread?

[2021-02-02 19:07] CyrusNajmabadi opened #6914 "VS hang on close"
Dump here: https://microsoft.sharepoint.com/:u:/t/ManagedLanguagesIDE/EbESNFGx9RhInZWfwlLag10BPnzH9S1ITpMPyRmsDqv4ew?e=kp7b14

I waited like 60 seconds (with VS ghosted) and then killed it.  Analysis incoming.

Main thread hanging here:

[code]

Anotehr thread seems to be doing IO:

[code]

Anotehr thread doing IO:

[code]

[2021-02-02 19:18] davkean commented on #353
Roslyn needs work.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Tom Meschter <notifications@github.com>
Sent: Wednesday, February 3, 2021 6:01 AM
To: dotnet/project-system <project-system@noreply.github.com>
Cc: David Kean <David.Kean@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/project-system] Remove language service "switch to

[2021-02-02 21:53] ViktorHofer commented on #6831
The goal is to find out the magic switch to make VS display .il files as compile items when using our custom IL SDK.

[2021-02-02 22:52] drewnoakes commented on #6914
@sharwel @CyrusNajmabadi this is CPS. Please file against them on AzDO rather than here on GitHub.

[2021-02-02 22:52] drewnoakes commented on #6913
@sharwel @CyrusNajmabadi this is CPS. Please file against them on AzDO rather than here on GitHub.

[2021-02-02 22:56] #6913 closed

[2021-02-02 22:56] #6914 closed

[2021-02-02 23:18] tmeschter opened #6915 "Report telemetry for unexpected events in the property page back end"
We should collect and report telemetry for unexpected events in the  property page back end implementation. E.g.:

- Querying for a specific page that doesn't exist
- Querying for a specific property that doesn't exist
- Attempting to set a property that doesn't exist

In general, anywhere we look for a specific entity (page, property, configuration, etc.) and it isn't found is a candidate for a t

[2021-02-02 23:25] tmeschter commented on #368
@drewnoakes As of #6746 we have (in the new property pages) a checkbox to control whether or not to generate a document file, and a separate control to (optionally) control the output path. Is more work needed here or do you think we can close this now?

[2021-02-03 00:23] drewnoakes commented on #368
@tmeschter I seem to recall that this new approach will only work for SDK-style projects, not legacy ones. I think we can close this however. I'll add a note to #6907 to remind us to verify documentation file properties work correctly with legacy projects.

[2021-02-03 00:25] #368 closed

[2021-02-03 00:27] drewnoakes commented on #6915
We should ensure we can correlate this telemetry with that from #6902.

[2021-02-03 00:33] tmeschter opened #6916 "Implement Launch Profile back end for active launch profile"
As a middle ground between redirecting users to the old property pages for debug settings and a fully functional Launch Profiles UI that exposing each individual launch profile, we could implement a fully functional front end combined with a minimally functional back end that only exposes the _active_ profile.

We already expose most of the properties of the active profile through the new property

[2021-02-03 00:34] tmeschter commented on #6916
(Note that most of the back end work for the full Launch Profiles UI is about exposing _all_ the launch profiles for editing, whether or not they are active.)

[2021-02-03 01:56] tb-mtg commented on #766
Any update on the IntelliSense working for package references & versions as mentioned by @geirsagberg?

[2021-02-03 02:03] drewnoakes opened #6917 "Replace FileSystemWatcher with IVsAsyncFileChangeEx in LaunchSettingsProvider"
`LaunchSettingsProvider` currently uses a `FileSystemWatcher` (via wrapper type `SimpleFileWatcher`) to monitor the project code for files named `launchSettings.json`.

As @lifengl calls out in [his CPS PR](https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/301773):

We have an existing usage of `IVsAsyncFileChangeEx` in the `DesignTimeInputsFileWatcher`, for reference.

[2021-02-03 03:32] drewnoakes opened #6918 "Exception opening VisualFSharp.sln"
@cartermp reported this exception when opening VisualFSharp.sln in 16.10 dogfood:

[code]

That failure is coming from here, which expects the `OutputType` property to be present in the project. Even if omitted from the user's project file, the SDK should be setting a default value.

https://github.com/dotnet/project-system/blob/0dde35171e7dadf8d7dfce4d14f79f20199c2202/src/Microsoft.VisualStudio.P

[2021-02-03 05:08] drewnoakes commented on #6909
Fixed in PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/301841

[2021-02-03 09:05] drewnoakes commented on #6910
@jjmew I've looked into this briefly and wanted to point out that this approach will not work for Codespaces. Would you still like to go ahead with this approach? Maybe that's ok, as it's only temporary. We don't currently have a mechanism to hide UI elements in Codespaces, so dogfooding users who try to navigate to launch profiles in Codespaces will likely see errors.

[2021-02-03 09:52] drewnoakes commented on #6895
MEF components will need to be in global scope, as we won't have CPS on the client in Codespaces. There's no concept of UnconfiguredProject scope there, for example.

As our editor is not a MEF part itself, we'll need to explicitly import parts.

Something like:

[code]

[2021-02-03 10:08] drewnoakes commented on #6901
PR for white space in search string:

https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/301882

[2021-02-03 10:15] drewnoakes commented on #6901
PR for UI explaining that all properties have been filtered out by search:

https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/301883

[2021-02-03 10:21] drewnoakes commented on #6901
Searching for multiple terms will require swapping out the `HighlightTextBlock` we currently use (from the VS Platform) with an extended version that supports matching more than one term.

[2021-02-03 10:29] drewnoakes commented on #6899
@tmeschter I believe this is behaviour from the server. The client is calling `SetUnevaluatedUIPropertyValue` and passing an empty string, then re-querying the property's value via the Project Query API and receiving the original value back.

[2021-02-03 11:01] dasMulli commented on #368
EXACTLY what I wanted / needed, thank you! ❤️

![image](https://user-images.githubusercontent.com/6129250/106737828-73528180-6617-11eb-9c7b-ce38be0210cf.png)

[2021-02-03 17:01] Tape-Worm commented on #6799
I just wanted to add that I'm having this issue in C# and .NET 5. Most of what I've seen regarding this problem has been for Visual Basic.NET and this issue is definitely not exclusive to that language.

I'm using visual studio 16.8.4

[2021-02-03 17:42] jjmew commented on #6910
@drewnoakes that is fine

[2021-02-03 20:38] MiYanni commented on #6918
@drewnoakes This will be fixed in https://github.com/dotnet/project-system/issues/6918, since `validateSettings` will be set to `false`. The place that `IsOutputTypeAsync` is called is in `IsClassLibraryAsync`, which is called here:
![image](https://user-images.githubusercontent.com/17788297/106806227-89167580-661c-11eb-9d38-d2e53b66c615.png)

Since `validateSettings` will now be `false`, this pre

[2021-02-03 20:58] tmeschter commented on #6899
Interesting--this is intentional behavior on the part of CPS. It considers the value of the "RootNamespace" property to be the empty string **within the context of the project file**. Since we're attempting to set the value within the project file to the empty string, and the property already has that value within the project file, CPS considers it a no-op and returns before making any modificatio

[2021-02-03 21:51] tmeschter commented on #6899
I see what's happening. CPS is looking for a definition of "RootNamespace" specifically within the project file. When it doesn't find one, it returns `null` for that definition. The subsequent code does not make a distinction between "the property wasn't found in this context" and "the property was found but its value is null or the empty string". In both cases CPS treats the effective value of th

[2021-02-03 22:49] tmeschter commented on #6899
@drewnoakes Can you think of any properties where you would really want to set it to the empty string?

[2021-02-03 23:00] tmeschter opened #6920 "Add a Project Query API action to explicitly delete a property"
The new project property pages allow you to set a property value to anything you want, and those changes will be persisted into the project file as an MSBuild property. However, we have no way to remove a property from the project file entirely.

This would be used by the new property pages to provide a gesture (a button or menu item) allowing the user to reset the value of a property to a default

[2021-02-03 23:02] tmeschter opened #6921 "Add a UI gesture to reset a property to its default value"
This is the UX counterpart to #6920.

The new project property pages allow you to set a property value to anything you want, and those changes will be persisted into the project file as an MSBuild property. However, we have no way to reset a property to its default value. We should have a button or menu item to do so.

[2021-02-04 02:07] #6918 closed

[2021-02-04 05:49] drewnoakes commented on #6899
Perhaps NoWarn, the documentation file path, or some of the packaging properties such as description or license.

[2021-02-04 05:52] drewnoakes commented on #6899
I'm wondering if there's a way to clear out the value for a property whose default value is defined in a .targets file. An empty property element is equivalent to no property at all, from my understanding of MSBuild.

[2021-02-04 17:23] tmeschter commented on #6899
Yeah, I don't think there's a good way to do that. On the other hand, if the empty string is a reasonable value for that property then it should probably **be** the default.

However, this is a problem you would run into even when modifying the project file by hand--I don't think we need to worry about solving it within the property pages.

[2021-02-04 19:17] davkean commented on #6899
Overriding a value such as via item definition by setting it to empty value at the context, is a pretty normal thing that CPS does. Just clear any default metadata in the properties window.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Tom Meschter <notifications@github.com>
Sent: Friday, February 5, 2021 4:23 AM
To: dotnet/project-system <project-system@nore

[2021-02-04 19:47] jrmoreno1 opened #6946 "Bugs encountered while editing SDK project in Visual Studio (lost edit history, cursor position, scrollbar position)"
When editing a SDK project in Visual Studio 2019, I have encountered several problems.

Repo:
1. Open SDK project
2. paste `<ItemGroup ></ItemGroup>` in Project (note the space between the tag name and the closing bracket.
3. Save project file

Expected behavior:
Cursor remains in same position, vertical scroll bar position remains unchanged, edit history has new item added to it.

Actual behavior

[2021-02-04 21:15] tmeschter commented on #6899
Fixed by https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/302251.

[2021-02-05 00:11] donnie-msft opened #6922 "Transitive NuGet packages are not being shown in Solution Explorer when connect to a VS CodeSpace"
**Visual Studio Version**: **16.9.0 Preview 4.0 [31004.17.d16.9]**

**Summary**:

Transitive NuGet packages are not being shown in Solution Explorer when connect to a VS CodeSpace.

Checked `project.assets.json` and found the dependency was written as expected:

**Steps to Reproduce**:

1. Connect VS to a local CodeSpace server.

2. Open a project with NuGet packages containing transitive dependen

[2021-02-05 00:47] drewnoakes commented on #353
Filed https://github.com/dotnet/roslyn/issues/51016 to track the Roslyn side of this work.

[2021-02-05 01:14] drewnoakes commented on #6842
Hi @John0King, apologies for the delay.

I see two questions here:

1. What project capabilites exist?
2. What does each capability mean?

There are several VS components that produce and consume project capabilities, so there's not really a single place to discover these. I can give a few pointers however.

Firstly, to see which capabilities are active in a given project, add this to your project

[2021-02-05 01:14] #6842 closed

[2021-02-05 01:26] drewnoakes commented on #6920
It may be possible to achieve this by passing `null` rather than requiring a new API.

[2021-02-05 01:47] drewnoakes commented on #6922
Codespaces does not support `IAttachedCollection*` APIs as of yet.

This is the internal tracking issue https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1135451.

[2021-02-05 01:47] #6922 closed

[2021-02-05 01:49] John0King commented on #6842
@drewnoakes   thanks,

and I want to point out that [project_capabilities.md](https://github.com/microsoft/VSProjectSystem/blob/master/doc/overview/project_capabilities.md)  doesn't document about the web project , eg. for a razor sdk project
[code]

[2021-02-05 04:14] drewnoakes commented on #6831
@ViktorHofer I discussed this with CPS and there was no clear conclusion. It requires futher investigation, but it's not likely we'll have time to prioritise this for a while.

It's unclear to me why the item is being excluded. It doesn't appear to be removed in the build (looking at `msbuild /pp` output). One area you may like to investigate is the inclusion of design-time targets and the XAML ru

[2021-02-05 09:38] v-zubritsky opened #6924 "ItemDefinition is not used for Content node"
**Visual Studio Version**:

Microsoft Visual Studio Community 2019
Version 16.8.3
VisualStudio.16.Release/16.8.3+30804.86
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Community
C# Tools   3.8.0-5.20604.10+9ed4b774d20940880de8df1ca8b07508aa01c8cd
C# components used in the IDE. Depending on your project type and settings, a different version of the compiler may be used.

NuGet Pack

[2021-02-05 19:24] drewnoakes commented on #6842
Please open an issue on that repo.

[2021-02-05 20:32] ocallesp opened #6925 "Some commands did not translate when right-click on a *.cs file"
**Visual Studio Version**:

**Summary**:
Some commands are not translated.

**Steps to Reproduce**:

1.  Open Visual Studio
2. Change the language in Tools | Options | Environment | International Settings | Language and select Spanish.
3. Close Visual Studio and open it again
4. Create a simple Console C# application using .NET Core
5. Go to Solution Explorer and right-click on Program.cs

![image

[2021-02-06 17:28] AraHaan opened #6927 "Cannot use net5.0 and net5.0-windows together."
**Visual Studio Version**: VS2019 Latest Preview

**Summary**:
When trying to use net5.0; and net5.0-windows to make a dummy project file (has no targets) that exists only to generate a nuspec to make an metapackage using the projects to package inside (as dependencies) using ``ProjectReference`` based on conditions on each like so:
- does the project need at least net45 or newer?
- does the proje

[2021-02-06 18:01] KirillOsenkov commented on #6927
It would be helpful if you could provide a small self-contained repro (perhaps in a zip file or on github).

[2021-02-06 18:09] AraHaan commented on #6927
Ok, I will push it to github,

[2021-02-06 19:10] AraHaan commented on #6927
Alright pushed it to a branch named ``replace-manual-nuspec`` in the https://github.com/Elskom/Sdk/ repository.

[2021-02-06 22:39] sjb-sjb opened #6928 "Error while loading project properties - WinUI 3 preview 3 - Packaged Desktop App"
Opening [this issue](https://github.com/microsoft/microsoft-ui-xaml/issues/4013) here as requested.

---

Using: Visual Studio Version 16.9.0 Preview 2.0, WinUI 3 preview 3

### Steps to reproduce

1. Create a new project using the "Blank App, Packaged (WinUI in Desktop)" template.
2. Right-click on the Package project and select "Properties" at the bottom of the context menu.

### Expected

Shoul

[2021-02-06 22:57] AraHaan commented on #6927
Odd, on that branch the generated nupkg then does not contain ``dependency`` elements in the xml for each of the ``ProjectReferences`` despite the project not supposed to build any dlls. 🤔

Maybe it is because of using the NoTargets Sdk nuget package for it to not output any dlls 😭.

[2021-02-07 09:43] v-zubritsky opened #6929 "Glob pattern issues for auto generated items with metadata child nodes"
**Visual Studio Version**:
Microsoft Visual Studio Community 2019
Version 16.8.3
VisualStudio.16.Release/16.8.3+30804.86
Microsoft .NET Framework
Version 4.8.03752
Installed Version: Community

**Summary**:
Hard to say whether it's some corner case or pretty general bug in glob patterns, when item metadata represented with child nodes is involved.

Let's say we have a bunch of `*.xsd` files used f

[2021-02-07 21:34] JVimes commented on #368
For others like me who wondered how dasMulli got to that view, try out the new project properties UI via:

[2021-02-08 00:23] drewnoakes commented on #6899
CPS PR merged. Verified fix during testing:

![image](https://user-images.githubusercontent.com/350947/107163848-f4d35680-69ff-11eb-94a4-38f812519377.png)

[2021-02-08 00:27] drewnoakes opened #6931 "Modifying conditional compilation symbols produces unexpected evaluated values. (2)"
While testing #6899 I noticed the following strange behaviour.

1. Create a new .NET Core Console App
2. Open new Project Properties UI
3. Modify _Conditional compilation symbols_ by appending a `2` so it reads `$(DefineConstants)TRACE2`
4. Press <kbd>Enter</kbd> to commit the value
5. Notice the evaluated values look wrong

Before

![image](https://user-images.githubusercontent.com/350947/1071639

[2021-02-08 00:29] drewnoakes commented on #6931
@tmeschter I've tentatively assigned you as I believe this is a back end issue.

In the legacy pages, there was a more complex UI around this, with checkboxes for TRACE and DEBUG. Nowadays those check boxes don't actually work correctly, but I wonder if they were added due to some complexity in how this property's value is handled during evaluation that we're no bumping into. It's possible those c

[2021-02-08 00:31] #6909 closed

[2021-02-08 01:16] drewnoakes commented on #6931
Similar behaviour for _Treat specific warnings as errors_:

Before

![image](https://user-images.githubusercontent.com/350947/107165088-e38d4880-6a05-11eb-9cfc-9d2037d53891.png)

After

![image](https://user-images.githubusercontent.com/350947/107165103-f0aa3780-6a05-11eb-9468-82fdd4739452.png)

The problem occurs when a property is defined in terms of itself. That application occurs both in the p

[2021-02-08 01:20] drewnoakes commented on #6899
Tested this again with Package ID and it reverts the value.

Here I'm clearing the value with <kbd>Delete</kbd> then committing the value with <kbd>Enter</kbd>:

![clear-package-id-reverted](https://user-images.githubusercontent.com/350947/107165726-ef7a0a00-6a07-11eb-9fcc-3675c69e2de1.gif)

[2021-02-08 01:52] drewnoakes commented on #6928
Workaround is to disable the preview UI by unchecking the two preview features at:

---

We need to determine whether we should be showing the new Project Properties UI for WinUI projects, and if so, why the data received for these properties is not correctly specified.

@sjb-sjb is that the full error message? I would have expected a suffix to the error message along the lines of "Expected 2, got

[2021-02-08 02:29] drewnoakes commented on #6928
To elaborate on this error...

If a project has two configurations (Debug/Release), a single platform (AnyCPU) and two target frameworks (net5.0 and netstandard1.6) then there are four possible combinations of these three dimensions.

The UI code expects the server to provide six values for each property. In this case, a different number is being returned, which causes this exception.

[2021-02-08 17:06] tmeschter commented on #6899
OK, I'll take a look at those specific properties so that we're sure we know what's going on.

If the default _is_ coming from a .targets file, I don't think we need to do anything--the SDK is effectively enforcing that the property can't be the empty string. We might think about updating the description to explain that limitation.

[2021-02-08 17:27] tmeschter commented on #6931
That's... interesting.

I'm guessing the default is in a .props file, defined like so:

[code]

Which evaluates to ";NU1605" at that point in the MSBuild evaluation pass.

And then we write this to the project file:

[code]

Which is evaluated in terms of the previous value of `WarningsAsErrors` and becomes ";NU1605;NU1605Updated".

Fundamentally we're running up against the limitations imposed by

[2021-02-08 23:41] drewnoakes commented on #6911
@tmeschter suggested that perhaps the RESX editor has some logic that applies when focus is lost.

[2021-02-08 23:52] drewnoakes commented on #6910
We may need to add a visibility condition here to disable this linkage when running in a Codespaces client.

[2021-02-09 00:23] tmeschter opened #6935 "Identify pages and properties missing in the VB experience"
The work here is to _identify_ which VB-specific pages and properties are missing from the new project property pages and file issues to address those.

[2021-02-09 00:25] tmeschter opened #6936 "Identify pages and properties missing in the F# experience"
We need to identify which F#-specific pages and properties are missing from the new project property pages and file issues to address those.

[2021-02-09 00:27] tmeschter opened #6937 "Identify pages and properties missing in the WinForms experience (1+?)"
We need to identify the WinForms-specific pages and properties missing from the new project property pages and file issues to address those.

[2021-02-09 00:28] tmeschter opened #6938 "Identify pages and properties missing in the WPF experience (1+?)"
We need to identify the WPF-specific pages and properties missing from the new project property pages experience and file issues to address those.

[2021-02-09 00:30] tmeschter opened #6939 "Identify pages and properties missing in the ASP.NET Core experience"
We need to identify the ASP.NET Core-specific pages and properties missing from the new project property pages and file issues to address those.

[2021-02-09 04:00] drewnoakes commented on #6910
Visibility condition added in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/303115

[2021-02-09 04:07] drewnoakes commented on #6909
Tweaking text and layout in PR https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/303114

[2021-02-09 08:22] paul1956 commented on #6935
UseWindowsForms and UseWPF when you want to set both.
MinimumSplashScreenDisplayTime
Possibility UseCompatibleTextRendering
If and when Code Cleanup for VB gets integrated, separate profiles/configurations for VB and C# under Analyzer/Code CleanUp.
When configuring CodeCleanup the list of available cleanups should be by Language (especially important when names are the same).

[2021-02-09 08:22] paul1956 commented on #6937
UseWindowsForms and UseWPF when you want to set both.
MinimumSplashScreenDisplayTime
Possibility UseCompatibleTextRendering

[2021-02-09 08:23] paul1956 commented on #6938
UseWindowsForms and UseWPF when you want to set both.

[2021-02-09 11:08] drewnoakes commented on #6820
Insertion PR containing #6932 for 16.9: https://dev.azure.com/devdiv/DevDiv/_git/VS/pullrequest/303039

[2021-02-09 11:38] drewnoakes commented on #6931
I agree with your assessment wrt `WarningsAsErrors`.

The situation appears slightly different in the case of compilation symbols. The value is being modified both in props and targets. I wonder if the number of symbols here is going to explode with the `NET_4_5_OR_GREATER`-style symbols.

[2021-02-09 11:54] #6627 closed

[2021-02-09 18:44] jjmew commented on #6620
The spike has been completed and we have gathered information that will inform us once we are ready to make a decision.

[2021-02-09 18:44] #6620 closed

[2021-02-10 03:53] huoyaoyuan opened #6949 "Translation issues in new property page"
**Visual Studio Version**:
16.9 Preview 4

**Summary**:
Some translations (in Chinese) are inappropriate. Please review it and review them in other languages too.

https://github.com/dotnet/project-system/blob/fead3ce6df4b553c2eec5c4eefce946eaab75c1c/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PropertyPages/xlf/BuildPropertyPage.xaml.zh-Hans.xlf#L5-L7

'unsafe' is a keywor

[2021-02-10 04:15] drewnoakes commented on #6949
@huoyaoyuan thank you very much for the feedback on the translations 👍

@tmeschter are you aware of a process for sending this feedback to the team that provides us with these translations?

[2021-02-10 04:59] ryzngard commented on #6869
@ocallesp is there something missing from the Roslyn side on this?

[2021-02-10 09:09] drewnoakes commented on #6910
Ability to have named command handlers for LinkAction editors added in https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/303509. Before this, LinkAction editors could only launch URLs. That PR allows adding custom code to invoke the legacy editor on the debug page when the user clicks a hyperlink in the UI.

[2021-02-10 11:30] AraHaan commented on #6927
Merged it into ``main``.

[2021-02-10 12:00] ViktorHofer commented on #6831
Thanks Drew. It's inconvenient but not critical.

Do you know how to define additional content types? I would give that a try.

[2021-02-10 12:36] v-zubritsky opened #6951 "Automatic packages restore is a hassle"
**Visual Studio Version**:
Microsoft Visual Studio Community 2019
Version 16.8.3
VisualStudio.16.Release/16.8.3+30804.86
Microsoft .NET Framework
Version 4.8.03752
Installed Version: Community

**Summary**:
Visual studio silently restores nuget packages in background making development experience less enjoyable. Note that SDK based project files format is used.

**Steps to Reproduce**:

1. Enable

[2021-02-10 16:13] TobiasSekan opened #6952 "[Question] About solution file"
Hello, I hope it is the right corner for this question

I have ask this question before in the Roslyn repository,
https://github.com/dotnet/msbuild/issues/545
and they let me know that i will be a good idea to ask this question in this repository

I currently working on a vscode extension for Visual Studio Soution files
(see https://github.com/TobiasSekan/SolutionExtension)

Can you help me to und

[2021-02-10 16:56] tmeschter commented on #6937
@paul1956 Are you requesting that we add controls for these? This work item is strictly about controls that exist on the current property pages but are missing from the new property pages.

[2021-02-10 16:57] tmeschter commented on #6938
@paul1956 Are you requesting that we add controls for these? This work item is strictly about controls that exist on the current property pages but are missing from the new property pages.

[2021-02-10 22:01] drewnoakes commented on #353
https://github.com/dotnet/project-system/pull/6953 removes one of the two UI switches.

[2021-02-11 02:51] paul1956 commented on #6938
I don't use WPF but added these here because I I had the same request for WinForms. The package split of what is included between Framework and Core has changed. To get everything you got in Framework you need to set both options, most applications don't need everything or even anything from the other so it seems reasonable to include a control. Specifically Windows.Media is only in WPF but Window

[2021-02-11 03:01] paul1956 commented on #6937
@tmeschter The package split of what is included between Framework and Core has changed. To get everything you got in Framework (by default) you need to set both options which was effectively done in Framework by doing nothing, WinForms should already be set for a WinForms application but WPF is not. Most applications don't need everything or even anything from the other so it seems reasonable to

[2021-02-11 11:30] JohnNilsson opened #6956 "Nullable dropdown disabled with no explanation"
**Visual Studio Version**:
16.8.5

**Summary**:
In a new project the Nullable dropdown is disabled and there is no explanation of why.
![image](https://user-images.githubusercontent.com/97594/107630887-788d7d00-6c64-11eb-96f9-e3b34720fb38.png)

**Steps to Reproduce**:

1. Create project with `dotnet new console`

2. Open project in visual studio

3. Checkout the build properties tab of the project

[2021-02-11 11:34] drewnoakes commented on #6956
What is the project's target framework? This option is greyed out if you target .NET Framework, as that implies a version of C# which does not support nullable.

[2021-02-11 11:42] JohnNilsson commented on #6956
This is the full project file
[code]

[2021-02-11 11:52] JohnNilsson commented on #6956
Not sure if its related. But when opening the project properties the windows is all black until I switch back and forth between that and something else. Interestingly trying to take a screen shot makes it visible.

[2021-02-11 12:29] drewnoakes commented on #6956
I cannot reproduce the situation you're seeing:

![image](https://user-images.githubusercontent.com/350947/107636469-cafc8700-6cc0-11eb-9672-83a5a3252d47.png)

What version of the .NET SDK are you using? (i.e. the output of `dotnet --info`).

The black screen issue is unrelated. Does it occur on all pages in that UI?

[2021-02-11 12:48] JohnNilsson commented on #6956
[code]

The black screen thing hides everything in the window, even the left side menu.

[2021-02-11 12:57] JohnNilsson commented on #6956
Tried moving the project folder out of the repo (to not have .editorconfig or Directory.build.props and such interfere), and deleted .vs,bin,obj and such folders. Same result.

[2021-02-11 22:22] drewnoakes commented on #6956
Your repro steps don't seem to match your experience (i.e. you have extra files around). To help narrow down the issue, could you see if the same behaviour exists with a new .NET Core Console Application with minimal project file and only a `Program.cs` in the project folder?

[2021-02-12 03:14] paul1956 commented on #6937
The first 2 can be set with the current UI but not the 3rd, all three come from Framework.
[code]

[2021-02-12 03:44] paul1956 commented on #6937
Setting AssemblyVersion to * is flakey, sometime the original number is not deleted. This is very hard to consistently reproduce, it looks like a race.

[2021-02-12 10:10] JohnNilsson commented on #6956
The project had no files besides what `dotnet new console` created. Just did that in a folder hierarchy that happened to be inside a git repo, why I moved it.
[code]
![image](https://user-images.githubusercontent.com/97594/107755244-d7b1c700-6d22-11eb-8739-f253d4953717.png)

[2021-02-12 10:17] JohnNilsson commented on #6956
For what it's worth. Same result when switching to `netcoreapp3.1`

[2021-02-12 10:47] rcmdh opened #6962 "Solution filter name as MSBuild variable"
We are starting to use new solution filters more, including in our build - they're great.  We have some conditional elements in our project files dependent on which .sln is being built, can you add support for which .slnf is being built / processed?  I had a look through available variables, but couldn't see any that looked like the current .slnf.

[2021-02-12 12:28] drewnoakes commented on #353
https://github.com/dotnet/roslyn/pull/51138 is the Roslyn-side of the other UI switch.

[2021-02-12 16:40] peter-dolkens commented on #2670
@CZEMacLeod - it may be worth checking the behavior of the Garbage Collector when running in this mode too.

I stumbled across this article the other day when trying to investigate why some code I'd been testing via console app, was suddenly ballooning when run under aspnetcore - it turns out the MS team actually use a less aggressive garbage collector for web servers that prioritizes performance.

[2021-02-12 20:45] danieldefreitasleite commented on #1553
Just set the Access Modifer to No code generation (in fact only the neutral/main resource file will genate the code needed) as showed here: [https://dev.to/krusty93/xamarin-android-and-ios-resx-localization-with-mvvmcross-n02](url).

This way the error should be gone...

[2021-02-13 21:01] dreddy-work commented on #5629
We started (VS 16.10) writing Framework types into resx file for Core projects wherever "TypeForwardedFrom" attribute available. And for types that are not available in desktop framework or missing this attribute, we will be writing types by stripping the binary version number. This may not solve the issue completely but the noise will be reduced until we introduce core only types.

[2021-02-14 23:11] StingyJack commented on #6307
Just as an FYI, this also affects Errors and Warnings and sometimes the "Advanced" button

https://user-images.githubusercontent.com/15381181/107891942-bbaf5080-6eef-11eb-992d-927649e02557.mp4

[2021-02-14 23:15] jrmoreno1 commented on #6946
@wli3 : yes, this would be an editor bug.  Thank you for routing it to the appropriate spot.

[2021-02-15 01:45] drewnoakes commented on #6956
I've followed these exact steps and the combo box is not disabled for me.

Are you sure there's no `Directory.Build.props`/`.targets` file anywhere above the folder you're running `dotnet new` in? If you enable "Show All Files" in Solution Explorer and search for "Directory" do any files appear under the _Imports_ node?

![image](https://user-images.githubusercontent.com/350947/107896507-8ad02980-

[2021-02-15 10:29] JohnNilsson commented on #6956
No unexpected files
![image](https://user-images.githubusercontent.com/97594/107931010-0bd3f480-6f7c-11eb-8069-1ad072dcde93.png)
Also tried disabling all extensions. No change.

Feedback ticket at: https://developercommunity2.visualstudio.com/t/Nullable-dropdown-disabled/1339281

[2021-02-15 17:34] CZEMacLeod commented on #2670
@peter-dolkens Since this whole thread is about ASP.NET (non-core), and effectively .NET 4.x, your link and property value are somewhat irrelevant. I don't believe google cloud supports windows based docker images (which you would have to use to be able to run ASP.NET 4.x based containers) - and I'm not sure if k8s supports them at all.

That said, your comments on GC are generally true on .NET Fr

[2021-02-15 19:54] drewnoakes commented on #6956
Thanks, I'll take a look at that ticket. Did you search in Solution Explorer using the search text box, or just expand nodes to look for it manually? `Directory.Build.*` may be deeper down than your screenshot shows.

[2021-02-15 20:00] drewnoakes commented on #6946
@jrmoreno1 can you verify if this still occurs in 16.8.5 please? I heard a report that this behaviour went away after upgrading.

[2021-02-15 21:14] JohnNilsson commented on #6956
Checked again. No such file.

[2021-02-15 21:30] drewnoakes opened #6964 ""Install other frameworks" should launch VS installer, not a web page"
The _Application_ page of the Project Properties UI has a hyperlink with text "Install other frameworks".

![image](https://user-images.githubusercontent.com/350947/107994552-f8cf2c00-7030-11eb-904d-66f96855e936.png)

Clicking this currently launches a browser.

It should, instead, launch the VS installer. Ideally the VS installer would appear with some filter/view relevant to available frameworks

[2021-02-15 22:12] jrmoreno1 commented on #6946
@drewnoakes : still happens with 16.8.5. Pasted  `<ImportGroup ></ImportGroup>` into a SDK project and hit cntrl-s, takes a second or so, but scrolls to the top, puts cursor at the bottom, and clears edit history.  Don't even have to go to a particular project, happens for all of the SDK projects I have.

[2021-02-16 10:31] drewnoakes commented on #6956
An update on this. I spent some time looking through the diagnostics in the ticket and nothing jumps out at me to explain why this would be happening on your machine. One question I have is whether adding `<Nullable>enable</Nullable>` to the project causes the combo box to become enabled again.

There were some exceptions in the trace, but they look unrelated. I also didn't see any of the telemetr

[2021-02-16 10:34] drewnoakes commented on #6946
Thank you for verifying. Now I am at a computer I can reproduce the issue. Interesting that it happens for `ImportGroup` but not `PropertyGroup` or `ItemGroup`. The fact that the edit history is gone is particularly troubling.

[2021-02-16 10:36] JohnNilsson commented on #6956
Well, dropdown still disabled. But it does pickup the property.
![image](https://user-images.githubusercontent.com/97594/108051281-ff6a9d00-704a-11eb-939d-2cbfe8c0e35b.png)

Might be worth to know that we do use the nullability analysis successfully, so this is only a UI thing. The problem is the same on a colleagues machine though, so not unique to me.

[2021-02-16 22:46] drewnoakes opened #6965 "Project Properties UI showing doubled input controls for Microsoft.VisualStudio.ProjectSystem.Managed.VS"
**Visual Studio Version**: main

**Summary**:

The UI shows doubled edit controls for selected properties.

**Steps to Reproduce**:

1. Open `ProjectSystem.sln`
1. Enable the preview flag for the new UI
1. Show the project properties for project `Microsoft.VisualStudio.ProjectSystem.Managed.VS`
1. Navigate to _Build | Errors and warnings_

**Expected Behavior**:

Single edit control when value doe

[2021-02-17 05:50] drewnoakes commented on #6956
Thanks for the update and additional info.

[2021-02-17 08:14] drewnoakes commented on #6904
These strings are being localised.

[2021-02-17 08:14] #6904 closed

[2021-02-17 17:10] Thieum commented on #1162
![](https://media4.giphy.com/media/3o7aCWJavAgtBzLWrS/giphy.gif)

[2021-02-17 22:13] cfindlayvcs commented on #2670
Sorry to jump in here, but it would be really good if someone can write some bullet points about where this is at.

Essentially, for someone coming in to this cold, is it worth trying to upgrade an old ASP.NET project to an SDK style project? Is it proven to work and straight forward? Or, is this something you would only do if you plan to maintain an ASP.NET app well in to the future, and a long t

[2021-02-17 23:14] tmeschter opened #6968 "Only back up old property values if defined "in context""
There are situations where changing the value of one property through the project property pages causes us to delete or alter the value of another property. For example, if you uncheck the "Documentation file" check box then we should clear out the property for the "XML documentation file path" as the value is no longer relevant.

However, when deleting/altering the property value we would first l

[2021-02-17 23:21] tmeschter opened #6970 "Remember dimensional conditions when backing up a property value"
There are times when we back up property values to `ITemporaryPropertyStorage` to possibly restore later. The current implementation does not take configurations into account when backing up or restoring the value. This works fine for properties that are configuration-independent, but if we have a configuration-dependent property with different values in different configurations, we'll only end up

[2021-02-19 01:43] drewnoakes opened #6974 "Dependency node fails to initialise when project does not define TargetFramework"
As part of making the Dependencies node work for WAP projects, I uncovered an issue where the node's data subscriptions are not constructed correctly.

Currently, the logic is to construct these subscriptions _only_ when the `TargetFramework` or `TargetFrameworks` properties change.

For a regular .NET project this is fine as that property will be defined, and when it is first observed it will tri

[2021-02-19 01:43] CyrusNajmabadi commented on #353
The roslyn side of this is complete.  You can go ahead with this @drewnoakes

[2021-02-19 01:47] drewnoakes commented on #6974
cc: @edwardskrod

[2021-02-19 02:20] #6974 closed

[2021-02-19 03:02] drewnoakes commented on #353
Thanks @CyrusNajmabadi. I'll pick this up once an updated version of the `Microsoft.VisualStudio.LanguageServices` package is available. The latest seems to be from 8 days ago, unless I'm looking at the wrong feed.

[2021-02-19 03:05] drewnoakes commented on #353
Oh wait, I see the feed to use: https://dev.azure.com/azure-public/vside/_packaging?_a=package&feed=vssdk&package=Microsoft.VisualStudio.LanguageServices&protocolType=NuGet&version=3.10.0-2.21118.48

[2021-02-19 12:41] drewnoakes commented on #6965
@tmeschter this may be coming from the back end. These are the values received from the server (copied into a data structure verbatim from the Project Query API model types).

![image](https://user-images.githubusercontent.com/350947/108505682-e0e6f900-730b-11eb-82d6-6fa85803d900.png)

It shows that one configuration has an empty unevaluated value, while the other does not. I do not believe this i

[2021-02-19 21:42] lifengl opened #6977 "Do not use BufferBlock in the import tree provider and dependencies tree"
Please switch to use DataflowBlockSlim.CreateSimpleBufferBlock or prevent using it completely.

BufferBlock is more memory expensive & our dataflow tracking tool doesn't support it to detect potential problems.

"Show All Files" is used more often than we think, it is shown as top UI delay when we switch to it. (This issue is unrelated, but need find what blocks UI thread.)

[2021-02-19 21:43] lifengl commented on #6977
FYI: @drewnoakes

[2021-02-19 22:07] drewnoakes commented on #6977
We also use a BufferBlock in the dependencies tree, by the looks of it.

[2021-02-19 22:09] drewnoakes commented on #6977
@lifengl `DataflowBlockSlim.CreateSimpleBufferBlock` appears to be internal, unlike most other factory methods on that type. It would need to be made public for us to consume it in the .NET Project System. Is there a reason it should not be public?

[2021-02-19 22:20] drewnoakes commented on #6977
We should ban usages of these types in our repo.

[2021-02-19 22:20] drewnoakes commented on #6977
Filed https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequest/305607 to make the method public which will unblock this.

[2021-02-19 23:14] jjmew commented on #6866
@ocallesp  can you add more details to this issue?

[2021-02-19 23:21] jjmew commented on #6878
We have moved this to the internal database as it is a CPS issue

[2021-02-19 23:21] #6878 closed

[2021-02-19 23:24] jjmew commented on #6946
@davidwengier Do you remember if this is in CPS or not?

[2021-02-19 23:28] jjmew commented on #6924
This is now tracked by https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1281042

[2021-02-19 23:29] jjmew commented on #6925
These are from ReSharper not us

[2021-02-19 23:29] #6925 closed

[2021-02-19 23:38] jjmew commented on #6929
This is a CPS issue. It will be tracked internally by https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1281047

[2021-02-19 23:38] #6929 closed

[2021-02-19 23:41] #6657 closed

[2021-02-19 23:46] jjmew commented on #6830
This is tracked internally by https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1281048

[2021-02-19 23:46] #6830 closed

[2021-02-20 00:26] davkean commented on #6830
These changes look by design as per the solution today; SlnGen is generating an incomplete solution with wrong GUIDs, and the solution wants to fix that. If you saved this project and checked in the result, it wouldn't ask again.

[2021-02-20 03:16] Tanya-Solyanik commented on #6878
Thanks! please update https://developercommunity2.visualstudio.com/t/User-Control-code-corrupted-by-VS2019-d/1321277 when you have results

[2021-02-20 08:35] ViktorHofer commented on #6830
But that's only happening if the solution file contains a shared project file (.shproj).

[2021-02-20 08:39] davkean commented on #6830
Can you point me to two solutions that you think are identical apartment from the shared project?

[2021-02-20 08:47] davkean commented on #6830
It's trying to fix the GUID because of this: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj#L10.

[2021-02-20 08:49] davkean commented on #6830
Above is talking about "project type guid" because its got nothing to do with that. It's the "project guid", hence the ID of the project.

[2021-02-20 08:55] ViktorHofer commented on #6830
Will get back to you about that.

Do we still need a ProjectGuid if a `DefaultProjectTypeGuid` is specified by the used SDK? https://github.com/dotnet/runtime/blob/064a4a3dc37d39f9761b9750c98c8f09cbbf62a1/src/coreclr/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets#L19

[2021-02-20 09:04] davkean commented on #6830
There's two concepts that you are mixing up; "project type" (persisted in `<ProjectTypeGuids>`) and "project id" (persisted in `<ProjectGuid>`). The first tells what VS what technology to use to open the project. The second is a unique identifier.

Above, the solution is fixing up the id of the project because the project doesn't agree with the solution. Projects opened in using the new project ty

[2021-02-20 09:53] ViktorHofer commented on #6830
Hmm, after removing the ilproj ProjectGuids, updating slngen to latest (as it now produces more compatible solution files) and regenerating the solution files with slngen, I can observe the following the issue when opening the System.Text.RegularExpressions.sln:

![image](https://user-images.githubusercontent.com/7412651/108591568-b2980680-7369-11eb-87d7-51b969366ee9.png)

Repro steps:
git clone h

[2021-02-20 10:43] drewnoakes commented on #6830
[code]

Where does this new GUID (`F571AB99-FB84-49F4-A0DF-F27AA55F3F3F`) come from? It appears to be a new (random) GUID. The previous one (`9A19103F-16F7-4668-BE54-9A1E7A4F7556`) is a known project type, which opens the project using the .NET Project System. The unknown GUID is causing the error you are seeing.

[2021-02-20 10:52] ViktorHofer commented on #6830
That one is coming from https://github.com/dotnet/runtime/blob/064a4a3dc37d39f9761b9750c98c8f09cbbf62a1/src/coreclr/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets#L19. I didn't know that the project system validates based on the project type GUID. Which GUID should the IL.SDK ideally use? (I think the previous one was for C#?)

[2021-02-20 11:04] drewnoakes commented on #6830
VS uses the project type GUID to determine which project system will load the project.

As your `ilproj` doesn't have an actual project system and is piggy-backing off the C# one, I'd keep the old GUID (`9A19103F-16F7-4668-BE54-9A1E7A4F7556`) for now.

[2021-02-20 11:09] drewnoakes commented on #353
@CyrusNajmabadi the latest packages on that feed were from around the time your PR merged, but they don't contain the API change. Am I looking in the wrong place, or am I just too impatient and need to wait for them to be published?

[2021-02-20 11:18] drewnoakes commented on #6977
Updated CPS SDK will be published [here](https://dev.azure.com/azure-public/vside/_packaging?_a=package&feed=vs-impl&package=Microsoft.VisualStudio.ProjectSystem.SDK&version=16.10.63-pre&protocolType=NuGet&view=versions).

[2021-02-20 12:37] ViktorHofer commented on #6830
Thanks @drewnoakes, just fixed that.

@davkean the solution file only updated (and saved) by VS if it contains a shared project. Without one, the solution file is only updated if I explicitely save it via the IDE.

[2021-02-20 21:57] davkean commented on #6830
The Shared Project change is expected, the solution stores information about shared projects and their consumers in the solution. SlnGen is generating a solution without this.

At the end of the day, SlnGen generates a solution - it has to match what VS wants, otherwise, VS is going to fix this up.

[2021-02-21 09:23] ViktorHofer commented on #6830
cc @jeffkl

[2021-02-21 17:06] jeffkl commented on #6830
So it sounds like what's missing is this?
[code]

SlnGen at the moment doesn't treat shared projects any differently, I can add this logic after I understand what it looks like.  It looks like the relative project path, project GUID, what does the number 5 represent?

[2021-02-22 05:51] drewnoakes commented on #6830
This would be a question for the CPS/platform team, as they own the solution file.

See also https://github.com/dotnet/msbuild/issues/545

[2021-02-22 10:45] drewnoakes commented on #6457
We will likely add support for editor metadata here that sets the FileOpenDialog default extension to `.md`, as required in the spec.

[2021-02-22 11:15] drewnoakes commented on #6457
There is some complexity here, in that the interceptor will need to create/update/remove the `None` item, in addition to the property itself.

[2021-02-23 03:40] drewnoakes opened #6984 "NuGet restore differs between VS and command line"
**Visual Studio Version**: 16.8.4

**Summary**:

Under certain circumstances, package restore in VS can produce different results from those on the command line.

**Steps to Reproduce**:

1. Create a project:
[code]
2. Let VS restore packages.
    Version 11.0.2 is restored for both target frameworks.
3. Trigger a command line restore with `msbuild -t:restore`.
    `net5.0` is restored using versi

[2021-02-23 03:59] drewnoakes commented on #6984
Adding this target to the project:

[code]

Causes build to produce output:

[code]

It seems that VS and command line restore are selecting different instances of the duplicated item.

[2021-02-23 09:34] drewnoakes commented on #6984
Speaking with @davkean, it seems the root cause here is that MSBuild models items as a list, whereas CPS (the technology that underpins the .NET Project System) treats items as a set keyed on ItemSpec (i.e. the `Include` attribute value).

[2021-02-23 10:02] drewnoakes commented on #6977
#6978 replaces usages of `BufferBlock` and bans future usages.

[2021-02-23 18:14] jjmew commented on #6984
Moving to backlog because there is a workaround

[2021-02-23 18:19] jjmew commented on #6964
@dmonroym I think this is something that you should look at with the lens of optional workloads

[2021-02-23 18:35] jjmew commented on #6952
@lifengl Any ideas?

[2021-02-23 18:51] jjmew commented on #6951
This is a feature request. At this point it doesn't seem like the right path for us to take. The reason why we keep doing restores is because in the background we need to do design time builds. Those background builds allow you to have intellisense and designers. If we didn't automatically restore then your intellisense will be broken.

[2021-02-23 18:51] #6951 closed

[2021-02-23 18:58] jjmew commented on #6946
This is owned by the CPS team and not the project system. This is being tracked internally in https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1283297

[2021-02-23 18:58] #6946 closed

[2021-02-24 00:54] jrmoreno1 commented on #6946
@jjmew : what does CPS stand for?

[2021-02-24 01:26] jjmew commented on #6946
@jrmoreno1 CPS is Common Project System. It is the underlying framework that we use to build .NET Project System.

[2021-02-24 02:58] drewnoakes commented on #6964
@dmonroym feel free to reach out and I can point you at the interfaces you need to look at.

[2021-02-24 10:46] v-zubritsky commented on #6951
@jjmew Thanks for clarifying.

Do I understand correctly, that there is no possibility currently to tune this behavior? So it's either this or no restore at all?
Have just switched solution to the SDK-based project format and it was somewhat noticeable behavior difference.

[2021-02-24 11:55] drewnoakes commented on #6951
@v-zubritsky a possible workaround here is to use `git rebase -i --exec "git checkout HEAD -- *packages.lock.json"`.

Yes, the property `DesignTimeBuild` is set during design-time builds. I am not sure you'll be able to achieve what you're after with it though.

[2021-02-24 13:03] v-zubritsky commented on #6951
@drewnoakes Yeah, it seems I won't be able to improve anything with use of `DesignTimeBuild` property, as it's most likely is set to `true` even when I explicitly trigger restore from package manager. So it's not possible to disable lock file regeneration for background VS builds only.

Hoped to implement it this way
[code]

Moreover nuget is unhappy, when lock is disabled, but lock file exists. F

[2021-02-24 17:01] tmeschter commented on #6949
@wli3 @cristianosuzuki77 Who can we pass this feedback along to?

[2021-02-24 17:12] tmeschter opened #6985 "Update localization infrastructure"
**Summary**:

Our internal localization team is updating their infrastructure, and this requires that we make some changes to our repo and our build process.

More information can be found at the [Migrating out of SimpleLoc](https://ceapex.visualstudio.com/CEINTL/_wiki/wikis/CEINTL.wiki/1481/Migrating-out-of-SimpleLoc) internal wiki page.

This work needs to be completed by Mar. 31st, 2021 or we w

[2021-02-24 17:14] tmeschter commented on #6985
I believe @jonfortescue is handling related work for repos that make use of Arcade, and may be able to provide some help if we get stuck.

[2021-02-25 00:51] drewnoakes commented on #6985
This PR may be a useful reference (or may not be!) https://github.com/microsoft/vs-validation/pull/89

[2021-02-25 09:11] Chiel92 opened #6988 "Order of projects in solution file affects build results"
**Visual Studio Version**: 16.8.6

**Summary**:

The order in which projects are listed in the solution (.sln) file affects the results of the building process.  In my case, for some orders the build results are correct, and for others they are not.  It seems to me that this is a bug and the order of the projects should not matter at all, since the correct references are set and the derived build

[2021-02-25 19:27] tmeschter opened #6989 "High-priority list of properties requiring attention (3)"
_This work item has been split off of #6907 to contain the highest priority items._

The following properties are currently included in the UI and require some sort of additional treatment to make them work correctly.

- [x] Order of values in target framework drop down (both .NET Core and .NET Framework families) (possibly CPS, maybe [this](https://devdiv.visualstudio.com/DevDiv/_git/CPS/pullrequ

[2021-02-25 19:31] tmeschter commented on #6989
@jjmew Here's the issue tracking the property page tweaks that I think someone other than me or @drewnoakes could make. I've excluded items that I view as low priority (e.g., changes specifically to support non-SDK projects) or are complex.

@drewnoakes I split these out of #6907. Let me know if there are other things we could include here.

[2021-02-25 21:29] TheJayMann commented on #2670
Based on examples of simple minimal .csproj files that claim to work properly, it appears to me that it should be possible to use these to create an SDK hosted in nuget.  Just based on the initial example shown by @bachratyg, it could be separated into proper sdk .props and .targets file.

Sdk.props
[code]
Sdk.targets
[code]
These provided example files could be enhanced further based on followups

[2021-02-26 00:02] drewnoakes commented on #6989
@tmeschter @jjmew I think it would be easier to track if these were broken out into separate issues. Priorities can be fluid, and these may be assigned to different people.

[2021-02-26 00:24] jjmew commented on #6985
@dmonroym and @MiYanni  this is something that is time sensitive. Can you take a look at this next week?

[2021-02-26 03:47] drewnoakes commented on #6910
We are going to avoid this intermediate step and work on the improved launch profile editing directly instead.

The work mentioned above to add link action extensibility is of general use, such as for #6964.

[2021-02-26 03:47] #6910 closed

[2021-02-26 04:09] drewnoakes opened #6990 "Support public signing in new property pages"
The ability to sign assemblies during build was once considered a security feature, but no longer. Nowadays it's only considered useful to produce a strong identity for that assembly. That is, the assembly's identity is extended to not only include its name and version, but also a hash.

Use of the word "signing" conveys a sense of it being a security feature. We can improve this in the new Projec

[2021-02-26 04:19] davkean commented on #6990
Public sign is not the same as delay sign, they are two different modes.

[2021-02-26 06:35] CZEMacLeod commented on #2670
@TheJayMann I like the idea of doing this as a nuget sdk.
I think you need to ensure you have the
[code]
line included as well as the
[code]
Also perhaps the SDK name should be something like `MSBuild.Sdk.SystemWeb` (like the [MSBuild.Sdk.Extras](https://github.com/novotnyllc/MSBuildSdkExtras) project) as ASP Classic is normally used to refer to the vb/js script based .asp/.asa based original. A q

[2021-02-26 09:57] CZEMacLeod commented on #2670
@TheJayMann I created a repository with the basics of an SDK package, as well as a couple of examples.
https://github.com/CZEMacLeod/MSBuild.SDK.SystemWeb

I haven't started on the templates yet, added automatic builds, or published to nuget.org (although the package should be available on my personal GitHub package feed). If this is popular, I will consider this.

As I said before, there is some

[2021-02-26 17:02] tmeschter commented on #6990
Should we consider offering "public signing" as an option alongside full signing and delay signing? That is, is public signing a supported scenario that we should encourage?

[2021-02-26 17:04] tmeschter commented on #6989
@drewnoakes Per @jjmew's request, I've kept these in a single issue.

[2021-02-26 17:21] jjmew commented on #6989
@drewnoakes the reason was because I could assign it directly to @MiYanni

[2021-02-26 19:31] tmeschter commented on #6965
Observations:

On my local system, `msbuild /p:Configuration=Debug` /pp Microsoft.VisualStudio.ProjectSystem.Managed.VS.csproj` and `msbuild /p:Configuration=Release` /pp Microsoft.VisualStudio.ProjectSystem.Managed.VS.csproj` produced different results. MSBuild couldn't find the NuGet-generated .props and .targets files because they didn't exist for the Release configuration. Running `msbuild /t:

[2021-02-26 23:11] nicholasdgoodman commented on #2670
So I came across this thread today (what a godsend!) while porting an MVC5 app to the new SDK format (as a stepping stone for later ASP.NET Core - or whatever they'll call it next!), and notice that one property / target we use is not given in any of the examples: `<MvcBuildViews>`.

Not sure how common that target across the various project types, but if it is a standard feature of the legacy csp

[2021-02-26 23:12] CZEMacLeod commented on #2670
@TheJayMann For reference, I have now added basic templates for Empty and Full projects, in both C# and VB, and published the nuget packages to [nuget.org](https://www.nuget.org/packages?q=MSBuild.SDK.SystemWeb).
If anyone finds this useful, or has feedback - please feel free to raise an issue or pr on [CZEMacLeod/MSBuild.SDK.SystemWeb](https://github.com/CZEMacLeod/MSBuild.SDK.SystemWeb).
Fairly

[2021-02-26 23:18] CZEMacLeod commented on #2670
@nicholasdgoodman I actually included the MvcBuildViews target in the [templates](https://github.com/CZEMacLeod/MSBuild.SDK.SystemWeb/blob/a9897d7d2ebd968778e295b8d5656db4334c3960/src/MSBuild.SDK.SystemWeb.Templates/templates/Full.SystemWeb.CS/FullSystemWeb.csproj#L59) I created.
But you are right that it would be a good addition to include in the SDK files.
I did wonder about doing a template/SDK

[2021-02-27 00:25] nicholasdgoodman commented on #2670
@CZEMacLeod - funny you should mention RazorGenerator - I was working on getting that working in our project just today. The good news is the Nuget package follows the necessary specification for target file naming; as a result, it mostly "just works" by adding the `<PackageReference>` (or preferably by manually installing the package which includes some extra elements):

[code]

The **only catch*

[2021-02-27 02:47] asklar commented on #2491
Hey @edwardskrod when can we expect this to work for C++ projects?

[2021-02-28 23:08] drewnoakes commented on #6917
CPS discovered performance issues related to the use of the VS file system watchers, related to:

- aggressive grouping of parent/child watchers, which can lead to excess events
- use of JTF for all events, which can add up to a lot of overhead when excess events are many (e..g node_modules)
- UI thread affinity for event handling

As this is no longer a no-strings-attached win, I will close this.

[2021-02-28 23:08] #6917 closed

[2021-03-01 00:27] #6977 closed

[2021-03-01 02:43] ocallesp commented on #6867
After a meeting with Mika (PM), we decided that another prompt is needed.

The new prompt will be part of Dotnet ProjectSystem.

[2021-03-01 12:27] Molinarius opened #6993 "Compilation Errors with WPF XAML and NuGet `contentFiles` having `buildAction="Compile"`"
**Visual Studio Version**: 16.8.6

**Summary**: I'm getting compilation errors with the combination of XAML files and NuGet packages with `contentFiles` with `buildAction="Compile"`.

I'm not sure if this is the right place to address this.

It seems to me this happens as soon as there is some XAML file with non-trivial content, and that this happens in "WPF Libraries" and "WPF Apps". The code in

[2021-03-01 15:44] vsfeedback opened #6994 "Add Find in Resources (.resx) editor"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1195909/add-find-in-resources-resx-editor.html). Please vote and comment there to make sure your voice is heard._

---
We have a very long .resx file and I'm wearing out my mouse wheel scrolling down to look for an entry (the Resources.Designer.resx file is 36,000 lines long). I

[2021-03-01 15:45] vsfeedback opened #6995 "Localizations not indicated in language selection (resx editor)"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Localizations-not-indicated-in-language-/1332777). Please vote and comment there to make sure your voice is heard._

---
In the VS resource editor there is no indication whatsoever which languages are already localized or not. Its very dificult to keep track of localizations already, with

[2021-03-01 15:55] vsfeedback opened #6996 "Exclude Projects from publish"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Exclude-Projects-from-publish/1239717?preview=true). Please vote and comment there to make sure your voice is heard._

---
<p>Hello!</p> <p>I want to use the command &quot;dotnet publish *.sln&quot; on our CI but stumpled over UnitTest-Projects which got published too. After some digging

[2021-03-01 15:56] cartermp commented on #6996
This would need UI design work, but in general the ask seems fairly clear.

An alternative would be to put an ask on the actual build (msbuild?) to recognize test projects and not publish them by default.

[2021-03-01 20:34] davkean commented on #5559
Removing tags for re-triage. Looks like this fell under the radar and was incorrectly marked as "legacy" when it affects the F5 properties of .NET Core projects.

[2021-03-01 21:12] mikadumont commented on #6867
I believe instead of having another dialog asking to sync namespace or adding the checkbox in the existing move file dialog right after a user moves files around we should instead consider having a right click menu option on sln explorer to sync namespace - so after a user rearchitects their code they can right click on sln and select sync namespace. We have a tracking issue for this - https://git

[2021-03-01 21:19] jaredpar commented on #5559
FWIW: i've easily lost a several hours of my dev time to this bug recently. My mental model is that "F5 saves" and as such i've been liberally flipping my debug options around between scenarios, hitting F5, then a few minutes into debugging saying "wait, none of this makes sense". Only then do I notice that the project file tab is still dirty and hence I'm not debugging what I believe I am.

[2021-03-01 22:51] tmeschter commented on #6996
We can think about adding an option for this to the new property pages implementation. We'll need to make sure that the property is handled correctly within Visual Studio as well--it would be odd to have a publishing option in VS that wasn't honored when publishing from VS.

[2021-03-01 22:52] drewnoakes commented on #6867
Our context menus are already very crowded. An analyser could give a diagnostic on code where the namespace doesn't match the location on disk. A corresponding codefix could be applied in various scopes.

We would likely need the ability to add additional metadata to the project to control exceptions to this, such as having a folder not contribute to namespace construction, or to contribute a diff

[2021-03-01 23:03] tmeschter commented on #6993
Given that the error occurs when building on the command line, this will be an issue in the SDK.

[2021-03-02 08:47] danielchalmers commented on #6996
I would be a big fan of this! wonder why it's not already the default

[2021-03-02 18:30] jjmew commented on #6990
@cartermp and @mckennabarlow  Can you please provide us guidance on what we should do?

[2021-03-02 18:36] jjmew commented on #6952
I have sent email to the solution team to see if they can help

[2021-03-02 18:37] #6952 closed

[2021-03-02 18:41] jjmew commented on #5559
We should make sure that the new property pages save the project file when F5-ing

[2021-03-02 19:14] jjmanton commented on #2670
@ jjmew @davidfowl @davkean Is there any chance Microsoft could take up some of this work, and officially support it? It seems like the community has done a good bit of the leg work and would just need blessing and assistance.

Just looking at comments and reactions, this seems to be by and far the most important issue to the community.

[2021-03-03 06:44] cartermp commented on #6990
I think supporting public signing seems reasonable here. Since my understanding is that it's just a matter of slapping `<PublicSign>True</PublicSign>` in the project file, yes?

The main thing is that because they are mutually exclusive modes of signing, you can only enable one or the other. See the [C# compiler switch for more details](https://docs.microsoft.com/en-us/dotnet/csharp/language-refer

[2021-03-03 12:22] wuyuansushen opened #7000 "Can't create staticfile directory automatically"
**Visual Studio Version**: 16.8.6

**Summary**: While publishes the project with the way of Directories and uses additional `app.UseStaticFiles` in Startup.cs on asp.net core project, The staticfile directory wouldn't be added to the published directory. Directories needed to be created by myself.

**Steps to Reproduce**:

1. Create an **ASP.NET Core** project with Razor Pages

2. Add following co

[2021-03-03 16:32] SteveSmith16384 commented on #5547
I have a solution with multiple projects, but only one of them has the option to install .Net Core 3.1; some have earlier versions of .Net Core, and some don't even have any .Net Core as an option??  I'm using VS 2019 v16.5.4.

[2021-03-04 09:22] khellang commented on #2670
There's also @DamianEdwards' https://github.com/DamianEdwards/SystemWebSdk. I wonder if anything came out of it? 🤔

[2021-03-04 09:38] SteveSmith16384 commented on #5547
The only solution that worked for me was to create a new .Net Core 3.1 project and manually copy the source files across from the original project.  I think the difference in the project config files between .Net and .Net Core is too much for VS to automatically convert.

[2021-03-04 13:17] Jehoel commented on #2670
@nicholasdgoodman I am the maintainer of RazorGenerator.

Yes, the code that inspects `.csproj` files for assembly references is pretty gnarly - it's on my list of things to fix. In my defence, I didn't write it :D

[2021-03-04 14:24] baskren commented on #1504
Looks like this issue is back with Version 16.9.0

[2021-03-04 18:41] DamianEdwards commented on #2670
@khellang nothing much, I never got back to it but it very likely could be used as a base for pushing this forward if there was will from somewhere to do so.

[2021-03-04 19:10] Kralizek commented on #2670
Considering how far this issue has been pushed by the community, I'd say there is definitely customer will. :)

[2021-03-04 21:18] drewnoakes opened #7001 "Change to "Package License" property is reverted"
**Visual Studio Version**: VS main

**Steps to Reproduce**:

1. Create a new project (observed in web app, but probably general)
2. Navigate to the Package page's "License type" combo box. It should display "None".
3. Try to change the value to something else

**Expected Behavior**:

New value persists.

**Actual Behavior**:

Value changes momentarily but is quickly reverted.

**User Impact**:

Us

[2021-03-04 21:22] melytc commented on #6939
The page `TypeScript build` page hosted in the web tools repo, ideally. Something similar to the `Web Server Settings` page

[2021-03-04 21:25] melytc commented on #6939
We do see `Razor Properties` page in the new experience, but maybe it's a xaml file tagged like a project properties one, but not intentional.

[2021-03-04 21:25] observer11111 commented on #5547
I had the same experience. Recreating the project was the only thing that worked for me trying to convert a project from .NET Core (or .NET Standard) to .NET Frameworks (or the other way around): I had to re-create the project with the desired target framework.  The project properties frameworks wouldn't let me change to the framework I wanted.

[2021-03-04 21:36] drewnoakes commented on #7001
Also observed with the "Manifest" drop down. Appears related to syntetic properties.

[2021-03-04 22:45] kmcc049 commented on #2670
@jjmanton there's this spike https://github.com/dotnet/project-system/issues/6620 that they closed off recently. I thought it was linked in this thread somewhere, but can't see it anymore. So there's some hope.

[2021-03-05 00:46] drewnoakes commented on #5547
The most common reason for not seeing .NET Core targets in the project property UI is that you have a legacy style `.csproj` (i.e. non SDK-style). You must upgrade your project to SDK style to target .NET Core or .NET 5 and later. You can do this by either:
1. Creating a new .NET Core or .NET 5 project and copying that project file over your previous one, or
1. Using a tool like [`try-convert`](ht

[2021-03-05 00:59] dsplaisted commented on #1504
@baskren This is an old issue, could you file a new one with details / repro steps if you're still hitting something like this?

Thanks,
Daniel

[2021-03-05 03:24] drewnoakes commented on #6990
We have other mutually-exclusive sets of properties. In the new UI we have introduced a new combo box property that allows explicitly changing between modes, and showing/hiding properties according to the value selected in the combo box.

We would need to decide what options such a text box would present.

[2021-03-05 03:35] davkean commented on #6990
This would just be a combo with 3 values I think; Public Sign, Delay Sign, Fully Sign;

[2021-03-05 03:50] cartermp commented on #6990
Or perhaps four?

* No signing (default)
* Publish Sign
* Delay Sign
* Fully Sign

Not sure what the best UI gesture is for this, but the default is no signing yes?

[2021-03-05 03:52] davkean commented on #6990
Ah, yes.

[2021-03-05 07:32] khellang commented on #2670
There's also a bit of support for migrating System.Web-based projects using [dotnet/try-convert](https://github.com/dotnet/try-convert/pull/335).

[2021-03-05 09:23] ContentsMayVary commented on #6307
This is still broken in 16/9

[2021-03-05 09:54] Kralizek commented on #2670
whilst very important, the story behind `try-convert` is different than the one discussed in this issue.

`try-convert` aims at converting a web application from ASP.NET on .NET Framework to ASP.NET Core on .NET Core.

This issue is about running ASP.NET on .NET Framework using SDK-style projects to allow easier project files and dependencies management.

[2021-03-05 09:59] khellang commented on #2670
I'm not sure that's 100% accurate. There's [dotnet/upgrade-assistant](https://github.com/dotnet/upgrade-assistant) which aims to do a full ASP.NET to ASP.NET Core upgrade, using `try-convert` for the legacy-to-SDK-based csproj conversion.

[2021-03-05 12:12] baskren opened #7002 "<EnableDefaultCompileItems>false</EnableDefaultCompileItems> partially working"
**Visual Studio Version**:
VisualStudio 2019 v16.9.0

**Summary**:
The `<EnableDefaultCompileItems>false</EnableDefaultCompileItems>` MSBuild property is not completely working.  Specifically, using it, in combination with platform specific `<Compile Include="**\*.platform_suffix_here.cs" />` Items results in filtering platforms specific files in some cases (the ones that are not appearing in the

[2021-03-05 12:35] baskren opened #7003 "Not able to select some cross platform applications in the Select Startup Project dropdown"
**Visual Studio Version**:
VisualStudio 2019 v16.9.0

**Summary**:

This issue appeared in version 16.9.0.  When working with a cross platform solution, the **Set Startup Project** dropdown does not list all viable platform application projects.  For example, [in this demonstration solution](https://github.com/baskren/CrossPlatformPlatformProjectsNotAvailable.git), there are the following platform

[2021-03-05 12:38] baskren commented on #1504
@dsplaisted 👍

Done: https://github.com/dotnet/project-system/issues/7002

[2021-03-05 15:26] dsplaisted commented on #7002
@baskren Thanks a lot for the detailed repro.  I'm sure that will be helpful

@jjmew To assign for triage / investigation

This may be related to the fact that there are multiple library projects in the same folder with different globs

[2021-03-06 12:00] shaggygi opened #7004 "Close older milestones"
Is it possible to close older milestones now?

https://github.com/dotnet/project-system/milestone/33
https://github.com/dotnet/project-system/milestone/34

[2021-03-07 00:15] davkean commented on #7004
Done.

[2021-03-07 00:15] #7004 closed

[2021-03-08 01:24] paul1956 opened #7005 "CA1016 Mark assemblies with assembly version For VB Code Generation Projects"
**Visual Studio Version**:
16.9 and 16.10 Preview 1

**Summary**:
Even though AssemblyVersion is set as shown below you get CA1016
![image](https://user-images.githubusercontent.com/12789369/110262470-a1a1e480-7f68-11eb-8420-b766df9cdfbb.png)

**Steps to Reproduce**:
[code]
Possibly relates is the UI in Visual Studio does not show what is in Project File and changing in UI is not reflected in Proj

[2021-03-08 18:12] melytc commented on #6935
Notes on our review:
- Icon is in the resources pages.
- View windows settings (creates if needed, and shows app.manifest). This is might be covered by the Manifest property > Use a custom manifest.
- `Compile` page. The warnings are shown in a different way (list vs table). How to encourage users to go to editor config for warnings.
- How dynamic are the warning configurations lists VB has?
- `Ad

[2021-03-08 19:33] ocallesp opened #7007 "NFE: System.Exception"
AB#957683

**It’s not a NuGet issue**, this is faulted by us when the configuration is missing those properties – probably due to invalid targets or when the user removes the “TargetFramework” property to convert it on the fly to multi-targeting projects.

Send it my way .NET\Tools\Project.

-------------------------------------------- Context --------------------------------------------

@davkean

[2021-03-08 23:35] lifengl opened #7008 "Stop sending ProjectChangeFileSystemEntityHint.UpdateProjectDependentFile, but switch to IProjectDependentFileChangeNotificationService"
It turns out using UpdateProjectDependentFile within a write lock leads lock contentions & also blocked on UI thread during the solution loading time. It leads slow performance to get project to the ready state.

A new service has been added to the new CPS in 16.10, and we need update the NET Core code to use the new service.

+ @drewnoakes

[2021-03-09 08:21] vsfeedback opened #7009 "Remote debugging profile validates path to executable locally instead of remotely"
_This issue has a corresponding [ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Remote-debugging-profile-validates-path-/1337917). Please vote and comment there to make sure your voice is heard._

---
As shown on attached screenshot: Setting up a debug profile with the "Use remote machine" option enabled and specifying a path to the executable, fails to start, becaus

[2021-03-09 18:35] jjmew commented on #7009
We might not need to validate this unless you are not remote debugging.  @melytc - can you sync up with @tmeschter who was some additional information.

[2021-03-09 18:47] jjmew commented on #7005
@melytc This only happens on specific types of projects. Our best bet is to use the repo https://github.com/paul1956/CSharpToVB/ to reproduce. We should get a bin log and see if the values of assembly version and file version are being overwritten.

[2021-03-09 18:49] jjmew commented on #7003
@ocallesp can you take a look?

[2021-03-09 20:24] ocallesp commented on #6869
The UX will be implemented by the Roslyn Team.
https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html

cc. @jjmew, @mikadumont, @ryzngard

[2021-03-09 20:24] #6869 closed

[2021-03-09 20:25] ocallesp commented on #6865
The UX will be implemented by the Roslyn Team.
https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html

cc. @jjmew, @mikadumont, @ryzngard

[2021-03-09 20:25] #6865 closed

[2021-03-09 20:25] ocallesp commented on #6866
The UX will be implemented by the Roslyn Team.
https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html

cc. @jjmew, @mikadumont, @ryzngard

[2021-03-09 20:25] #6866 closed

[2021-03-09 20:54] nkolev92 opened #7010 "Publish stable versions of the `Microsoft.VisualStudio.ProjectSystem.Managed` and `Microsoft.VisualStudio.ProjectSystem.Managed.VS` projects"
NuGet needs to consume the above 2 packages to populate the solution explorer, but only prerelease versions of those packages are available at https://dev.azure.com/azure-public/vside/_packaging?_a=feed&feed=vs-impl.

Normally this would be a big deal, but these packages reference analyzers and other preview packages which introduces a lot of conflicts in our graph and effectively makes us elevate

[2021-03-10 19:01] ocallesp commented on #6795
@JoeRobich
In this scenario, the Undo/Redo action will come from Roslyn ?
- If a user does ctrl+z, Roslyn will detect it and then Roslyn will call ProjectSystem to execute the undo/redo in the `IProjectSystemReferenceCleanupService `?

The undo/redo should keep the history of all actions or only the last action ?

[2021-03-10 19:06] JoeRobich commented on #6795
Roslyn would be responsible for adding the undo/redo action. We need to work out the best way to support undo/redo.
- Should Roslyn capture the project file text prior to updating references so that it could be restored in an undo operation?
- Should the project system return child undo operations for each call to UpdateRefrences which Roslyn could batch together into a transaction?
- or some othe

[2021-03-10 19:20] ocallesp commented on #6089
This is part of #6869 and the UX will be implemented by the Roslyn Team.
dotnet/roslyn#37453

cc. @jjmew, @mikadumont, @ryzngard

[2021-03-10 19:23] mikadumont commented on #6089
@ocallesp why is this being closed? There currently isnt an undo/redo when moving around files in general and would be great to have that. This doesnt relate to the sync namespace feature.

[2021-03-10 19:28] ocallesp commented on #6089
This changes are in CPS.

[2021-03-10 20:44] ocallesp commented on #6089
The work item on the CPS side is AB#1290920

[2021-03-11 02:33] #7008 closed

[2021-03-11 05:51] #6089 closed

[2021-03-11 10:27] wouterroos opened #7019 "Project with PackageId containing parameter does not import nested dependencies when referenced by another project."
**Visual Studio Version**: 16.8.6

**Summary**:
When a project references another project that has a `PackageId` that contains a parameter (e.g. `<PackageId>MyPackage.$(SomeParameter)</PackageId>`), any dependencies of the referenced project are not imported into the referencing project.

**Steps to Reproduce**:

1. Create 2 projects, of which one has a `PackageId` containing a parameter and at le

[2021-03-11 11:09] drewnoakes commented on #7019
@wouterroos thanks for the report.

Unfortunately I'm unable to repro this locally, despite trying quite a few permutations of your scenario.

To investigate further: In the project that you think is not receiving transitive references, enable "Show All Files" in Solution Explorer, then open the `obj/project-assets.json` file. Look in that file for references to the dependency you're not seeing in

[2021-03-11 11:53] wouterroos commented on #7019
@drewnoakes Thanks for your quick response!

I checked the `obj/project-assets.json` file (its actually in a subfolder of `obj` in our solution (using `OutputPath` and `IntermediateOutputPath`) since we're building for multiple platforms, which can have different (versions of) dependencies) and it does seem to contain the correct entry (`MyPackage.SomeParameterValue`) with all underlying dependenc

[2021-03-11 21:46] drewnoakes commented on #7019
@wouterroos thanks for the extra detail.

That points at a larger issue than just the display of the dependencies tree.

Totally understand that you cannot share it in its entirety. Thankfully it should be straightforward to trim it down. I'd suggest:

1. Copying the entire repo to somewhere else
2. Removing any unrelated projects from disk and the solution
3. Removing all source code from remaini

[2021-03-12 06:34] wouterroos commented on #7019
@drewnoakes Thanks. I might be able to make some time later today to create a repro. Will post it here when done.

[2021-03-12 18:12] #7001 closed

[2021-03-13 10:32] drewnoakes opened #7021 "Remove "evaluated" function from visibility conditions"
Currently we have a visibility condition function `evaluated` which returns a single evaluated value for a property.

However a project may produce different evaluated values per configuration. Currently, if that happens, the `evaluated` function throws an exception.

We also have an `has-evaluated-value` function which returns true if any of the evaluated value matches an argument. This will neve

[2021-03-13 12:32] TFTomSun commented on #3680
I observe a similar problem. When I set:
[code]
in the Directory.Build.props file, the XML comment warnings are shown as errors in the editor and in the error list. I think that haven't been always like that. I just discovered it with the latest VS 2019 preview.
![image](https://user-images.githubusercontent.com/5387192/111030052-80297880-8400-11eb-89f9-317a3dc60510.png)

[2021-03-13 13:13] TFTomSun commented on #3680
The workaround that I just found is to add the warnings for which I don't want to get errors to the NoWarn property:
[code]
Of course, these warnings are then not listed as warnings anymore, too. But better than getting the error list messed up.

[2021-03-15 08:05] valeriob opened #7024 "Architecture-specific folders"
What is the correct way to create a c# project with native dependencies
![image](https://user-images.githubusercontent.com/1522516/111118969-c77f4880-8569-11eb-9f01-64cdeb4aab3e.png)
and make them flow to other project that depend on it ?
We are able to do it in nuget placing assets in the runtimes/rid/folders, but what is the csporj equivalent ?

Thanks

[2021-03-15 17:05] jozefizso commented on #2888
This is still not implemented in Visual Studio 2019 v16.9 it is just a pain to work with .props files as Visual Studio will use incorrect values during build because of this caching.

[2021-03-15 20:17] MiYanni opened #7025 "Properly address property pages item ordering"
Related: https://github.com/dotnet/project-system/issues/6989

Currently, CPS does not seem to maintain item ordering. This can be seen in the Target Framework dropdown. For now, we are putting in a hotfix to manually order these items. However, the proper fix has a couple options:

1. Investigate and fix CPS item ordering preservation
  a. For target framework, the items are declared here and thi

[2021-03-15 21:10] ocallesp commented on #6795
I think the interface should add undo/redo methods and call dotnet ProjectSystem to do `IProjectSystemReferenceCleanupService.Undo()` or `IProjectSystemReferenceCleanupService.Redo()`

[2021-03-15 21:18] JoeRobich commented on #6795
@ocallesp Can you describe how this would work end-to-end? Would you be storing state in the CleanupService or would we be passing some state when calling Undo/Redo?

[2021-03-15 21:30] tmeschter commented on #7025
A third option would be to update Microsoft.NET.SupportedTargetFrameworks.props to include explicit ordering information separate from the order of items in the .props.

[2021-03-15 21:32] tmeschter commented on #7025
Fourth option: parse the Include for each item from that .props (e.g. `.NETCoreApp,Version=v2.1`) to group items by the framework family (e.g. .NETCoreApp) and then order by version number within that family.

[2021-03-15 21:50] drewnoakes commented on #7025
I would vote for adding specific `DisplayOrder` metadata to the items returned by the SDK.

[2021-03-15 22:02] ocallesp commented on #6795
ProjectSystem can store the state in the CleanupService

[2021-03-16 10:09] BDisp commented on #5629
I hope this output from "ResX Resource Manager" can help in your investigation. I get this when I change from some `Language` property to the (Default).

Error: System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resource)
at System.Collections.Generic.Dictionary2.KeyCollection.Enum

[2021-03-16 13:53] jnm2 commented on #5707
Can this issue cover .settings and their related Designer.cs files as well? It seems exactly the same as the .resx situation.

[code]

[2021-03-16 17:07] jons-aura opened #7028 "Environment breaking ItemGroups added when I add, rename, or copy and paste files in solution explorer"
**Visual Studio Version**:

16.8.4

**Summary**:

Same issue as here I think. https://github.com/dotnet/project-system/issues/2810
I'm getting environment breaking ItemGroups added when I add, rename, or copy and paste files in solution explorer.

**Steps to Reproduce**:

1. Rename a file in VS

2. csproj gets updated

3. VS freaks out and I have to remove the spurious csproj entries and *entirely

[2021-03-16 17:31] jjmew commented on #7028
@jons-aura Is this on an SDK style project? can you send us the before and after csproj file?

[2021-03-16 17:48] jons-aura commented on #7028
[code]
becomes
[code]

[2021-03-16 17:51] jjmew commented on #7010
@nkolev92 Can you provide us with some specific examples of packages that are having the problem?

[2021-03-16 20:51] TheOrangeDay opened #7030 "UI updating causing FastUpToDate build loop?"
**Visual Studio Version**: 16.4.6

**Summary**:
- Using SDK style projects.

I'm running into the "set of project items was changed more recently" issue where the project gets into a state that's newer than the build output and keeps building over and over when building incrementally. I see that this particular message has been reported in a few other issues.

I'm working on a project that has an

[2021-03-16 22:07] TheOrangeDay commented on #7030
I have set up a solution and project to demonstrate this. What is the best way to share it?
Also I updated VS and reproed with 16.9.1

[2021-03-16 23:11] davkean commented on #5629
@BDisp This looks related to this extension: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager. Can you disable the extension and see if that resolves it?

[2021-03-16 23:33] BDisp commented on #5629
Thanks for your feedback @davkean . I only posted this exception to help find out why the the exception "System.NotSupportedException: Cannot read resources that depend on serialization.", is triggered when attempting to run the WinForm application. The only tool I can use to open the resx's files is the "ResXManager". Even removing or disabling this tool  I can't run the my application due the se

[2021-03-17 00:16] nkolev92 commented on #7010
The packages `Microsoft.VisualStudio.ProjectSystem.Managed` and `Microsoft.VisualStudio.ProjectSystem.Managed.VS` are the ones we depend on.

Those packages depend on prerelease versions of analyzers.

"Microsoft.CodeAnalysis" which itself depends on preview versions of System.* packages.
"Microsoft.VisualStudio.LanguageServices" which itself depends on exact versions of analyzers causing a confli

[2021-03-17 23:07] BDisp commented on #5629
I discovered what happens here. In all `resx `files, with the exception of neutral `resx`, I removed all data that were not translated with the exception of location and size data. In a small example and only to be easier to test, I used a `HelpProvider `and `Tooltip `component with 2 `Label `and 2 `TextBox`. The nodes of these components that have not been translated but generated in the `resx `f

[2021-03-18 00:18] drewnoakes commented on #7030
The problem is this target:

[code]

During each build it is removing generated code, then re-adding it. This causes the projec to update, which causes the situation you're observing. If I remove this, it builds as expected.

What I think you really want to do is mark your `.schema` files as inputs to the up to date check. Then, if they change, a build will occur and your targets will regenerate t

[2021-03-18 00:26] drewnoakes commented on #7028
@jons-aura I agree that VS probably shouldn't be adding the `Compile` item to your project, but I cannot see how that would cause any actual problems.

Can you be more specific about the problem so that we can further diagnose?

[2021-03-18 12:51] jons-aura commented on #7028
I couldn't get it to "freak out" by copy+pasting but when I renamed a file in Solution Explorer it did.
![image](https://user-images.githubusercontent.com/35536253/111628576-be3ee780-87c6-11eb-938a-42ae1860fb28.png)

As you can see the renamed file shows up as added and fine but every other file in the project now shows as not being part of the project. If I right click -> unload and then right cl

[2021-03-18 22:52] drewnoakes commented on #7028
@jons-aura if you're able to end up with a missing item (item with a red cross) by using copy/paste and rename in VS, then there is a bug. I've tried this out locally and couldn't get a repro. To understand what's happening we need a step-y-step breakdown, with some more screenshots at various points. I'm particularly concerned that there is a state for which restarting VS made a difference, but r

[2021-03-18 23:55] jjmew commented on #7010
@nkolev92 We think that reaching stable packages will be difficult because we rely on several pre-release packages than in turn depend on other pre-release packages. Reaching coherence with involved a change to the whole system. Having said that we will look at the specific packages that you pointed out. Those might ones that we could move to the latest stable version.

[2021-03-19 14:25] jons-aura commented on #7028
- New project
- Console Application
- Target Framework .Net Core 5

![image](https://user-images.githubusercontent.com/35536253/111793944-227fab00-889c-11eb-9b22-de82bcad19c6.png)
![image](https://user-images.githubusercontent.com/35536253/111794164-51961c80-889c-11eb-974c-be86b42e1f5d.png)
![image](https://user-images.githubusercontent.com/35536253/111794619-cb2e0a80-889c-11eb-8709-3d9a5192a7eb.p

[2021-03-19 16:03] jjmew commented on #6604
@drewnoakes how much work is involved on doing this?

[2021-03-19 22:00] drewnoakes commented on #7028
@jons-aura thank you very much. That is perfect.

@ocallesp you were looking at rename operations recently. Does this look familiar?

[2021-03-19 22:00] drewnoakes commented on #6604
@jjmew I estimate a day.

[2021-03-21 17:26] wli3 commented on #6949
ping  @cristianosuzuki77

[2021-03-21 23:07] drewnoakes opened #7035 "Handle read-only properties. (1)"
Properties in rule files may be marked as "read only".

[code]

Currently, such properties are presented to the user as writeable.

We should expose `IsReadOnly` metadata from the back end to the UI, and update the UI to allow showing properties in a read only mode.

A potential use case here is displaying the evaluated `LangVersion` value alongside the current message that explains the value is n

[2021-03-21 23:07] drewnoakes commented on #7035
This issue was discovered while exploring the Project Properties UI for ASP.NET Web Application projects. In such projects, a "Razor Properties" page is present:

![image](https://user-images.githubusercontent.com/350947/111923248-50f6c380-8af2-11eb-9343-f798a87ee9dd.png)

The properties are coming from https://github.com/dotnet/sdk/blob/main/src/RazorSdk/Targets/Rules/RazorGeneral.xaml in which t

[2021-03-22 16:50] panopticoncentral commented on #3432
Closing this as CPS replaced their use of the Uri helper a while ago.

[2021-03-22 16:50] #3432 closed

[2021-03-22 17:00] panopticoncentral commented on #5755
Closing as duplicate of #4351.

[2021-03-22 17:08] panopticoncentral commented on #4315
I think this was resolved by CPS moving off of Uri internally.

[2021-03-22 17:08] #4315 closed

[2021-03-22 19:05] jmarolf opened #7036 "CPS is unable to load projects without error in the latest build"
**Visual Studio Version**: 16.10.0 Preview 2.0 [31122.20.main]

[code]

[2021-03-23 00:21] mikadumont commented on #6795
UX Proposal:

Typing Ctrl+Z/Ctrl+Y and selecting undo/redo:
![image](https://user-images.githubusercontent.com/46729679/112073744-ecf3ef80-8b31-11eb-8039-313ff376b69c.png)

Will either undo/redo remove unused references.

For undo a dialog should open similar to rename that says `You are undoing Remove Unused References. Would you like to add back unused references?`
![image](https://user-images.g

[2021-03-23 00:42] vatsalyaagrawal commented on #6795
@jjmew please see the UX proposal above.

[2021-03-23 02:06] drewnoakes commented on #7036
Looks like this was introduced in https://github.com/dotnet/project-system/pull/7027.

I'll get a fix together now.

[2021-03-23 02:52] #7036 closed

[2021-03-23 10:07] Marie-Shi opened #7042 "An error dialog pops up when saving the .NET Framework project that is based on the new SDK style after renaming Form1.cs"
**Visual Studio Version**:
Version 16.10.0 Preview 2.0 [31122.235.main]

**More info:**
1.	This issue cannot repro without control on form designer.
2.	This issue cannot repro if saved the form designer first, then rename Form1.cs.
3.	This issue cannot repro on .Net Framework and .Net Core project.

**Steps to Reproduce**:
1.	Extract the “WinFormsApp9.zip” and open it in VS.
[WinFormsApp9.zip](htt

[2021-03-23 15:35] jjmew commented on #6795
@vatsalyaagrawal Thanks for sharing. I assume your team is hooking up to the undo/redo stack and you will call us when needed. Is that correct?  cc: @ocallesp

[2021-03-23 16:40] mikadumont commented on #6795
UX update: I met with UX and they mentioned that we dont need a dialog - just having `Remove Unused References` show up in the undo/redo history stack is good enough.

[2021-03-23 17:27] jjmew commented on #7030
Closing it given @drewnoakes guidance

[2021-03-23 17:27] #7030 closed

[2021-03-23 17:36] jjmew commented on #7028
@drewnoakes were you able to repro this? We tried it during triage and we couldn't repro it

[2021-03-23 18:10] JoeRobich commented on #6795
@jjmew Yes, Roslyn will manage the undo/redo stack and we can call into the cleanup service as @ocallesp proposes.

[2021-03-24 02:56] drewnoakes commented on #7028
I did not try to repro this.

Trying now in a newer build of VS I am not able to repro it.

@jons-aura are you able to upgrade to 16.9.x to see if the issue has been fixed?

[2021-03-24 03:04] drewnoakes commented on #7035
Also assigning @tmeschter as this will require back end changes too.

[2021-03-24 13:00] jons-aura commented on #7028
@drewnoakes I can still reproduce it with 16.9.2

[2021-03-24 13:18] drewnoakes commented on #7028
@jons-aura do you have any extensions installed?

[2021-03-24 13:20] jons-aura commented on #7028
@drewnoakes I couldn't find a quick way to get them via text but here's a screenshot of the list
![image](https://user-images.githubusercontent.com/35536253/112317211-33f0fa80-8c82-11eb-9f6a-25af9f29509c.png)

[2021-03-24 13:26] drewnoakes commented on #7028
If you run `devenv.exe /SafeMode` it'll launch without extensions. I'd be curious if that fixes the problem.

[2021-03-24 13:32] jons-aura commented on #7028
@drewnoakes I can't open the solution in safe mode. The project shows as "needs migration" in Solution Explorer.

[2021-03-24 17:19] jjmew commented on #6795
@mikadumont  what is the expectation on this scenario?
1) User removes un-used references A,B,C
2) They modify a file
3) They copy some text into a file
4) User removes un-used references X,Y,Z
5) User does "Ctrl Z"

What is the result?
What happens after another "Ctrl Z"

[2021-03-24 17:31] JoeRobich commented on #6795
@jjmew Ctrl-Z should only undo the last operation. In this case it should restore the X, Y, Z references.

[2021-03-24 17:35] jjmew commented on #6795
@jodavis  what about the 4th "Ctrl Z" . Should it re-add references A,B,C?

[2021-03-24 17:39] JoeRobich commented on #6795
@jjmew That is correct. I feel like we will need to keep some state information with each undo action that is pushed on the stack, so that we can properly track which changes need to be undone.

[2021-03-24 17:47] jjmew commented on #6795
@jodavis the expectation then is that the productivity team will request the project system to undo the last action on the "Remove Unused References" stack. We will add the references that we previously removed. Is there any error handling that you expect? for example if we were not able to re-add the references.

[2021-03-24 17:50] JoeRobich commented on #6795
@jjmew It would be coarse-grained but we could have the proposed `Undo()` and `Redo()` methods return bool indicating success. We would then inform the user on our end.

[2021-03-24 21:14] cristianosuzuki77 commented on #6949
Feedback incorporated.

[2021-03-25 03:29] drewnoakes opened #7046 "Allow SDK-style projects to load in devenv /SafeMode"
Semi-regularly a customer may report an error that we cannot reproduce. It can be useful to exclude VS extensions from the picture by using `devenv /SafeMode`, producing a more consistent state on both machines.

Currently it's not possible to open an SDK-style project while in safe mode. The project is not recognised, and the user is prompted to migrate the project format.

Fixing this requires r

[2021-03-25 03:35] drewnoakes commented on #7028
@jons-aura thank you for bringing that to our attention. I've filed this as a bug here https://github.com/dotnet/project-system/issues/7046

In the meantime I'm perplexed as to what's causing this behaviour. Are you able to verify whether this occurs on another machine?

Does the error state eventually resolve itself, or does it remain with the red cross on the item indefinitely?

[2021-03-25 04:50] cartermp commented on #6936
I can share a screenshot, but the only ones that come to mind are in the Build page (debug config):

|Property|Current UI|What it does|Context|
|--------|----------|------------|-------|
|OtherFlags|Textbox|Plops `<OtherFlags>` in the project file properties|General dumping ground for F# compiler options|
|Optimize code|Checkbox|Plops `--optimize` in `<OtherFlags>`.|On by default in release|
|Gene

[2021-03-25 11:26] drewnoakes commented on #6949
@cristianosuzuki77 can you explain what the number 399008 refers to?

[2021-03-25 16:45] MisinformedDNA commented on #6362
I can repro it. The CSPROJ files load correctly in VS as if they are It loads fine in VS (16.9.2), but the sln file is wrong.

In this example, I've been coding in VS for a few hours and at some point, VS changed all the GUIDs to the new one. But for new projects (tried Class Library with .NET Standard 2.0 and XUnit with .NET Core 3.1), the old GUID is used.

![image](https://user-images.githubuse

[2021-03-25 19:17] MiYanni opened #7049 "New Property Pages: Double click (fast click) dimensional checkbox causes desync, UI splits into varied state"
#### Summary
If you have a checkbox that can vary by dimensions (configuration, platform, etc.), it can be set/unset so fast (while non-varied), the value can be misunderstood by the UI. This causes the UI to think that at least 1 of the dimensions is a different value than the others; causing the UI to split into the varied display of the control. This is performed while the control is unvaried,

[2021-03-25 21:37] MiYanni opened #7050 "New Property Pages: Switching dimensional properties between varied/unvaried states causes non-project file values to be written, causes self-referencing string expression duplication"
#### Summary
Some strings contain expressions. These expression-based strings are shown in the editing fields. However, these expressions don't exist in the project file and likely come from the SDK. For strings that have dimensions (configuration, platform, etc.), you can make the UI switch between varied and unvaried states. This will show a control per variation for each dimension of that prope

[2021-03-25 21:49] ocallesp opened #7051 "Missing the icon for references in NetFramework WPF project"
**Visual Studio Version**:
![image](https://user-images.githubusercontent.com/510598/112547793-772d9500-8d78-11eb-8f0a-aee65a19a0f6.png)

**Summary**:

**Steps to Reproduce**:

1.  Create a WPF App (.Net Framework)

**Expected Behavior**:
![image](https://user-images.githubusercontent.com/510598/112548130-fae78180-8d78-11eb-8743-6f82dbc31563.png)

**Actual Behavior**:
![image](https://user-images.

[2021-03-25 22:10] drewnoakes commented on #7050
This applies to any property which is defined in terms of itself (i.e. also conditional compilation symbols).

When we select "Use the same value across all configurations", we take the first value from the N varied values and apply it across the board. In this case, we send that update to the server, which bakes it into itself and produces the strange value seen above.

Any fix for this should al

[2021-03-25 22:11] drewnoakes commented on #6931
Any fix for this should also cover #7050.

[2021-03-25 22:25] MiYanni opened #7052 "New Property Pages: Allow visibility conditions per variation"
#### Summary
Some properties are directly related to other properties. Meaning, the state of one property determines something about another property. In this case here, `Treat warnings as errors` determines if one property can be shown (`Treat specific warnings as errors`) versus showing another property (`Exclude specific warnings as errors`). It works like a light-switch, when it is off, you se

[2021-03-26 17:05] tmeschter opened #7056 "Improve cancellation support in LaunchSettingsProvider"
The `LaunchSettingsProvider` handles concurrent modifications by queuing them up in a `SequentialTaskExecutor` where they are processed one at a time. Once a `Task` is queued up there is no way of cancelling it, with the exception that disposing the `LaunchSettingsProvider` will cancel all pending `Task`s.

We should looking into updating `LaunchSettingsProvider` (and `ILaunchSettingsProvider`) to

[2021-03-27 09:33] drewnoakes commented on #7056
It should probably accept `CancellationToken` _instead of_ the current timeout values. It's possible to model the latter with the former.

[2021-03-29 11:42] sixeyes commented on #6360
I'm using VS v16.9.1 and it's still not fixed.

[2021-03-29 17:25] swesonga opened #7062 "Publish managed project system symbols"
**Visual Studio Version**: 16.9.0

**Summary**:
Attaching to the public releases of devenv.exe and loading symbols for these assemblies fails:

Microsoft.VisualStudio.ProjectSystem.Managed.dll
Microsoft.VisualStudio.ProjectSystem.Managed.VS.dll
Microsoft.VisualStudio.ProjectSystem.Managed.VS.Clientdll

We need to verify that the symbols have been correctly published and that the sources have been

[2021-03-29 23:22] swesonga opened #7067 "C#/WinRT Interop projects are always up-to-date regardless of their project dependencies"
**Visual Studio Version**: 16.9.0

**Summary**:
C#/WinRT Interop projects are considered up-to-date after changing C++/WinRT Sources

**Steps to Reproduce**:
1.	Launch Visual Studio 2019 and go to Extensions > Manage Extensions
2.	Search for “C++” then select C++/WinRT and click on “Download”
3.	Restart Visual Studio to complete the installation
4.	Create a new Windows Runtime Component (C++/WinRT

[2021-03-30 14:56] tyeth commented on #2498
Prod... Is this anywhere? Just stumbled upon it after attempting to use dotnet instead of msbuild. Am I dead in the water 🦈?

[2021-03-30 17:52] jjmew commented on #7019
Unfortunately we don't have a repro hence we can't investigate further.

[2021-03-30 21:48] dmonroym opened #7070 "Package name and versions should be more descriptive"
Currently we always name our packages with the prerelease version label.

Need to identify these variables correctly
https://github.com/dotnet/project-system/blob/bb7f669a2b75e7b277808ca4582f230c1c136271/build/import/OverrideRepoToolsetVersions.props#L66

This could also be useful for https://github.com/dotnet/project-system/issues/7062

[2021-03-31 04:49] wouterroos commented on #7019
@jjmew I haven't had time to work on a repro yet but I still want to do this. Could you leave the issue open for a while longer?

Thanks

[2021-03-31 11:54] drewnoakes commented on #7046
This bug was introduced in #4613, specifically in [this change](https://github.com/dotnet/project-system/pull/4613/files#diff-2aacdf50823156455df2e7c57a6ef552d44c1a409ac658f086842fbe2088a989L35-R35):

[code]

[`PreApprovedPackages.h`](https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fappid%2Fdevenv%2Fstub%2FPreApprovedPackages.h&version=GBfeature%2Fd17initial&_a=contents) retains the ol