[2017-01-25 17:49] srivatsn commented on #1290
What if you try different versions of Newtonsoft.Json?

[2017-01-25 18:41] ravipal commented on #1332
The error message is similar to NuGet/Home#4253 but it is a different issue.
Yes EnvDTE80.Solution2.AddFromTemplate returns null.

[2017-01-25 19:24] cdmihai commented on #435
Looks similar, though I don't see the code path to hit it. Right now Item Provenance will report that `..\Other\Test.cs` is captured by `**\*.cs`. If this leads to the item still showing up, then yes, it's https://github.com/Microsoft/msbuild/issues/1598

[2017-01-25 20:18] rohit21agrawal opened #1339 "Pack from VS UI should call msbuild /t:pack instead of msbuild /p:GeneratePackageOnBuild=true"
There are a couple of issues with the current approach:

1) Not consistent with command line : calling ```dotnet pack``` builds the project by default, but only if ```GeneratePackageOnBuild``` is not set to ```true```. However, invoking Pack from the UI always builds the project and there is no way to opt-out.

2) Confusing for user : User asked to pack the project, not build it, and therefore the

[2017-01-25 20:56] abpiskunov commented on #1294
It is by design that we show only dependencies in package hierarchy, not content or other info inferred by package content. So this is a feature request.  There should be a separate Analyzers Sub node under Dependencies at the moment which should display all analyzers in the project. However i suppose it only shows explicit project items like AnalyzerRefernce , not other analyzers that can be disc

[2017-01-25 21:11] jviau commented on #435
This is an issue in CPS with our limited external items support. Most of our logic assumes external items have a `Link` metadata on it and when it doesn't we fail. Does this meet the bar for RTM? I don't see editing external globs in the project file as a common scenario and we disabled most interactions with external items in the solution explorer. We plan on working on full external item support

[2017-01-25 21:18] 333fred opened #1340 "Switch to FaultedTree constant from CPS"
When we take an updated CPS dependency, we should move the FaultedTreeProjectItemContextProvider to use the actual constant, rather than using a hardcoded string.

[2017-01-25 21:47] mavasani commented on #1321
I don't understand how this is blocking release. User is going from single tf to multi tf, and close and re-open solution resolves the issue, which I believe is a reasonable workaround. Note that this behavior hasn't changed since initial implementation.

[2017-01-25 21:53] srivatsn commented on #1321
I assume miscellaneous files here means that there's just basic language service right? 100% of users who try cross-targeting for the first time will run into this and while the workaround is simple, this given the impression of immediate brokenness. I've seen a few pieces of vsfeedback related to this issue.

 I didn't realize this has always been the case. Do we know what the issue is?

[2017-01-25 22:07] mavasani commented on #1321
I think issue is due to fact that TargetFramework based project doesn't have TF as configuration dimension, hence is fundamentally different then TargetFrameworks based one, where we have additional project configuration dimension for TargetFramework.

This wasn't really an issue until the default property in project file was TargetFrameworks, with single entry and users can just add more framewor

[2017-01-25 22:16] mavasani commented on #1321
Basically, fixing this is going to be more risky then making it less likely to occur, and at the same time also improving the user experience for csproj edit to move from single to multi TF and vice versa.

Btw, what was the reason we changed default property from TFs to TF in first place?

[2017-01-25 22:42] #1331 closed

[2017-01-25 22:47] #1135 closed

[2017-01-25 22:48] #825 closed

[2017-01-25 23:16] srivatsn commented on #1321
A large number of projects are not going to be multi-targeting projects and so making them go through an outer and inner build is both a perf issue and also a functional one because extending a multi-targeting project's targets is not straightforward. So forcing that on all projects is a problem and I think switching it to TFs will cause more problems that it can solve.

So if TFs is fundamentally

[2017-01-25 23:35] AArnott commented on #1294
This is a take back from project.json dependencies that carry analyzers.

[2017-01-25 23:57] mavasani commented on #1321
I agree, given the number of project configuration dimensions are changing, we should force a reload.

[2017-01-25 23:59] natidea commented on #1321
A forced reload would also help with https://github.com/dotnet/roslyn-project-system/issues/1226

[2017-01-26 00:02] abpiskunov commented on #1294
yes , but package carries dlls , that in turn carry analyzers , it's different level a little... However i don't mind to show them there  if everyone agrees and sdk targets would provide data.

[2017-01-26 00:02] jviau commented on #1320
A couple things:

1) `IProjectTree` is VS-agnostic and has no concept of selection. I am not sold on introducing something like that there.

2) You are performing a Remove -> Add, so CPS does not try to maintain the same expanded state. If you perform a Rename I _think_ CPS will try to maintain the same selection state. I know for the physical tree it should, not sure about virtual trees.

You can

[2017-01-26 00:05] srivatsn commented on #88
Analyzers assemblies show up in the project tree now but the remaining work is to make the individual rules show up as well.

[2017-01-26 00:07] srivatsn commented on #1294
We do want to show the individual rules in the project tree. It's tracked by https://github.com/dotnet/roslyn-project-system/issues/88. However we are unlikely to get to it for RTM.

@AArnott why do you say it's a take-back? xproj project.json never had it (in fact analyzers didn't even work in the IDE) and UWP-style project.json will continue to work even if you convert to PackageReference becaus

[2017-01-26 00:14] dsplaisted commented on #1333
Closing this one in favor of dotnet/sdk#730, as this error is coming from the SDK

[2017-01-26 00:14] #1333 closed

[2017-01-26 00:14] srivatsn commented on #1333
Which in turn was closed in favour of https://github.com/dotnet/sdk/issues/357

[2017-01-26 00:15] natidea commented on #1290
With two versions of the package, I get a non-fatal exception message, followed by a dialog:

![image](https://cloud.githubusercontent.com/assets/7732033/22315056/4d2a0a12-e319-11e6-98cc-89e9fa1f24f9.png)

But no VS crash.

[2017-01-26 00:15] jviau commented on #1310
This is expected behavior I believe. To remove it you need to select `<reset to default>`. Unfortunately that only shows up if you deselect and re-select the file after setting it to `Always`. We want to fix the properties window not auto-refreshing.

[2017-01-26 00:41] BillHiebert opened #1342 "Should remove synchronous block from LaunchSettingsProvider"
Using synchronous calls within async blocks can cause threadpool exhausting. Should investigate removing the ExecuteSynchronously call in the code below:
[code]

[2017-01-26 00:51] 333fred commented on #995
@Yves57, I'm not able to repro this on the latest builds, so I'm going to close this as no repro. If you do see this issue again on the next public builds, please feel free to reopen.

[2017-01-26 00:51] #995 closed

[2017-01-26 01:25] 333fred commented on #1177
I've opened https://github.com/dotnet/roslyn-project-system/pull/1341. There needs to be some discussion on the appropriate way to fix this, which will happen on that PR.

[2017-01-26 01:38] RaulPerez1 commented on #1251
Just debugged though this and I believe this is exposing a bigger issue. The SDK import happens before the project contents are evaluated so all the checks in the targets which are using values that you're overriding in the project would use the default value (in this particular case TFM = .NetCoreApp). Moving the exact same check from the targets to the project file (after the TFM line) has the r

[2017-01-26 02:41] natidea commented on #1290
I've confirmed that changing the [CollectPackageReferences](https://github.com/dotnet/roslyn-project-system/blob/8125a18f851cdfb4fb72d290ae427510f8c52471/src/Targets/Microsoft.Managed.DesignTime.targets#L204) target to:

[code]
resolves this error. Is this where we want to fix this?

(I'm still seeing other crashes with Tomas' solution, but I've forwarded those on to HeeJae.)

[2017-01-26 03:17] heejaechang commented on #1290
@natidea the OOP crash you are seeing is genuine crash. looks like OOP is hitting compiler bug.

tagging @dotnet/roslyn-compiler @jaredpar

   at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at System.Collections.Generic.Dictionary`2.TryGetValue(TKey key, TValue& value)
   at Microsoft.CodeAnalysis.CSharp.SubsumptionDiagnosticBuilder.CheckSubsumed(BoundPattern pattern, DecisionTr

[2017-01-26 03:17] AArnott commented on #1294
I wasn't referring to xproj. I was talking about c# portable class libraries that used project.json. When I port them to .net core projects I lose analyzers which is a big deal because it's the only convenient way to adjust their severity.
Not a ship stopper, I agree. But I'm looking forward to the delivery of this feature ASAP.

[2017-01-26 06:18] srivatsn commented on #1251
No, the sdk attribute adds an import to both the top and bottom of the file - so it's not different from before.

I think this is https://github.com/Microsoft/msbuild/issues/1475

MSBuild is ignoring conditions for item removes. So no matter what TFM you have, the ReferenceManagerAssemblies capability is removed since [this condition](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.N

[2017-01-26 07:01] MiaomiaoHuangfu commented on #1323
The issue is still repro on d15prerel.26125.4.

[2017-01-26 07:45] srivatsn commented on #1211
This is fixed.

[2017-01-26 07:45] #1211 closed

[2017-01-26 16:45] onovotny commented on #936
@dsplaisted I tried that but then hit a different regression where the path to csc wasn't found. @kzu

[2017-01-26 16:46] onovotny commented on #936
sorry, hit the wrong button!

[2017-01-26 17:25] piotroko opened #1343 "Broken integration test BasicErrorList_NetCore.xml"
This integration test is failing with the following error:

`Failed to load 1 types from Microsoft.Test.Apex.VisualStudio, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a due to loader exception: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.VisualStudio.ReferenceManager.Providers, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

[2017-01-26 17:33] piotroko opened #1344 "Broken integration test ProjectSystem_NetCore.xml"
The test is reporting the following exception:

`System.IO.FileNotFoundException: The system cannot find the file specified. (Exception from HRESULT: 0x80070002)
14:07:00    at EnvDTE80.Solution2.GetProjectTemplate(String TemplateName, String Language)
14:07:00    at Roslyn.VSHosting.Test.AddProjectAction.GetProjectTemplatePath(Solution2 solution, String templateName, String language) in D:\j\work

[2017-01-26 19:04] MattGertz commented on #1290
OK.  Please bring this as "bar check," and then JoC can make the call across the two issues.

[2017-01-26 19:04] MattGertz commented on #1290
@natidea -- this will be a bar check

[2017-01-26 20:53] 333fred commented on #1184
Updated the title for what is broken in RC3

[2017-01-26 21:00] morrisjoe commented on #967
Update - Partially fixed. Now it lands in the new microsoft.docs. page - https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects  , which is good. But more work is needed to add a .NET Core related para to it. Will fix in the coming days. until then let's keep it open.

[2017-01-26 21:05] jinujoseph commented on #1295
cc/ @abpiskunov is this related to #1320 ?

[2017-01-26 22:54] #1286 closed

[2017-01-26 23:02] mavasani commented on #1323
I did some more testing around this:

1. This is not specific to CodeLens. For the above repro, even Find All References doesn't show these references.
2. This is not related to references across CPS based project and legacy project system based project. If I change the target framework for the CPS based project to be net45, everything works fine for FAR and CodeLens.

[2017-01-27 00:05] abpiskunov commented on #1295
no, doe snot look like that. Can you consistently repro that? If yes, could we look at your machine?

[2017-01-27 00:09] BillHiebert commented on #1342
Note. Should import the ISpecialFilesManager and use that to get the app designer folder.

[2017-01-27 01:13] RaulPerez1 commented on #1044
I'm unable to repro this using the latest build

[2017-01-27 01:13] 333fred opened #1347 "Property Page resets values of settings after being opened once"
Repro Steps:
1. Create a new project
2. Open the Project Properties, check optimize on the build settings page. Save.
3. Close the properties page.
4. Open the csproj and remove the optimize line. Save.

**Expected**:
Optimize is reset to false in both the project properties and properties page, project is not considered dirty.

**Actual**:
Optimize box is still checked in the project properties,

[2017-01-27 01:14] RaulPerez1 commented on #1315
I can't repro this with the latest build.

[2017-01-27 01:14] #1315 closed

[2017-01-27 01:15] 333fred commented on #1347
When you do close the solution, the dirty popup will appear. As far as I can tell, saving does nothing, and the removal of the optimize line is correctly handled.

[2017-01-27 01:15] davkean commented on #1315
Which build? This is prerel.

[2017-01-27 01:16] 333fred commented on #1347
Also, this is written about the optimize property, but it applies generally.

[2017-01-27 01:20] RaulPerez1 commented on #1315
D15Rel 26124.0. I'll grab a machine with latest Prerel as well to double check.

[2017-01-27 01:21] davkean commented on #1315
I'm doing it now.

[2017-01-27 02:15] davkean commented on #1347
Ugh, I can't imagine what this is.

[2017-01-27 02:20] davkean commented on #1339
What does GeneratePackageOnBuild have to do with whether pack builds the project or not?

[2017-01-27 02:30] davkean commented on #1044
Yep, can no longer repro this either.

[2017-01-27 02:51] davkean opened #1348 "Certain changes to the project are not getting represented in the editor"
1. Create new Console App
2. Right-click Edit
3. Select Program.cs, change Build Action -> Content

Expected: For the content in the Editor to be updated with:

[code]
Actual: Contents in the editor don't change and stay as:

[code]

If I save the project file within the actual editor, the contents of the edited file update to reflect the "Expected" and I get the following prompt. Clicking Overwri

[2017-01-27 02:52] davkean commented on #1347
This smells similar: https://github.com/dotnet/roslyn-project-system/issues/1348, but I have to have the editor open for the repro to occur.

[2017-01-27 03:04] davkean opened #1349 "AV creating a new project"
Build: 26126.1 D15PreRel

Hit an AV creating a new project:

[code]
[code]

[2017-01-27 03:15] davkean commented on #1349
Also hit this when I added a new VB Winforms project to an existing solution containing .NET Core:

[code]

[2017-01-27 03:23] davkean opened #1350 "Changing a content type of a source file, can cause all files in every project to end up in Misc for the life of VS"
Okay, I think I've found the golden repro for this issue: https://github.com/dotnet/roslyn/issues/14361 which could not be previously reproduced.

I've filed it here, but I'm unsure if this caused by us or Roslyn, but whatever the cause - once hit 1 out of 10 times it break *all*  C# projects (including legacy) for the life of Visual Studio.

1. File -> New Console App (C#)
2. Select Program.cs
3.

[2017-01-27 03:42] rohit21agrawal commented on #1339
GeneratePackageOnBuild introduced a circular dependency between Build and Pack targets. To workaround this, we have to disable building by default when Pack is called and GeneratePackageOnBuild is set to true

[2017-01-27 03:56] davkean commented on #1349
@CyrusNajmabadi @mavasani @jviau Anyone recognize this?

[2017-01-27 05:46] jasonmalinowski commented on #1350
I'm not sure whether I find this awesome or terrifying. Good find!

[2017-01-27 06:16] davkean opened #1352 "Remove AppDesigner/Editors from the VS repo"
We should remove AppDesigner/Editors from the VS repo now that we have a copy here.

[2017-01-27 06:17] srivatsn commented on #1352
Dupe of https://github.com/dotnet/roslyn-project-system/issues/510

[2017-01-27 06:17] #1352 closed

[2017-01-27 06:53] jviau commented on #1349
@davkean yes I was investigating a feedback issue with a AV during `clr!SafeAddRef()` when casting the CPS IVsHierarchy. We are still investigating it, but it is possible a native extension is over-releasing our IVsHierarchy COM object.

[2017-01-27 07:56] #1265 closed

[2017-01-27 07:56] srivatsn commented on #1264
Fixed now.

[2017-01-27 07:56] #1264 closed

[2017-01-27 07:56] srivatsn commented on #1263
Fixed now.

[2017-01-27 07:56] #1263 closed

[2017-01-27 07:59] srivatsn commented on #1226
Closing in favor of #1321

[2017-01-27 07:59] #1226 closed

[2017-01-27 08:03] srivatsn commented on #413
Fixed by #1338

[2017-01-27 08:03] #413 closed

[2017-01-27 08:06] srivatsn commented on #963
Fixed by https://github.com/Microsoft/msbuild/pull/1595

[2017-01-27 08:06] #963 closed

[2017-01-27 08:13] srivatsn commented on #981
Haven't seen this recently. Closing since I assume this was just Roslyn version changing.

[2017-01-27 08:13] #981 closed

[2017-01-27 08:15] srivatsn commented on #91
Closing this out since since dt builds are out of proc in CPS

[2017-01-27 08:16] davkean commented on #91
Sorry, there's one case I'm stilling worried about (legacy -> CPS) that I wanted to test before calling this done.

[2017-01-27 08:21] #260 closed

[2017-01-27 08:21] #259 closed

[2017-01-27 08:27] srivatsn commented on #640
Since we now have new syntax for the SDK attribute on a project and items with metadata as attributes, these projects won't load correctly in VS 2015.

[2017-01-27 08:27] #640 closed

[2017-01-27 08:34] srivatsn commented on #1128
Closing this. Will use #1129 to track fixing the crash if intermediate directory doesn't exist,.

[2017-01-27 08:36] srivatsn commented on #432
Haven't seen this in a long time. The time when I saw this was when the app page was used for VB and this check may have to be extended for that case if we use the same app page which is tracked by #262

[2017-01-27 08:36] #432 closed

[2017-01-27 08:42] srivatsn commented on #463
Since this is in the native project system, created an internal bug to track the work.

[2017-01-27 08:42] #463 closed

[2017-01-27 08:53] davkean commented on #1129
I've got a fix for this.

[2017-01-27 08:54] davkean commented on #1128
It's not the same bug - this one represents the fact that we shouldn't be firing up this component if the project doesn't support PackageReferences.

[2017-01-27 08:55] davkean commented on #1128
I've also got a fix for this though.

[2017-01-27 09:32] davkean commented on #1349
I'm seeing lots more AVs in this build:
[code]

[2017-01-27 09:45] davkean opened #1355 "Flaky Test: TaskDelaySchedulerTests.Dispose_ClearsPendingTasks"
[code]

This failed on PR:
https://github.com/dotnet/roslyn-project-system/pull/1354

[2017-01-27 18:15] 333fred commented on #1339
While it would be good call the pack target, using `GeneratePackageOnBuild` control whether pack builds the project seems rather wrong and unintuitive. I would argue that having a seemingly unrelated property control behavior here is even more confusing than having pack always run a build, because the latter is at least consistent behavior.

[2017-01-27 18:18] 333fred commented on #1339
Additionally, I would expect VS to build the project if it's not already built or out of date, not just run a pack command and fail if the project isn't built, even if `GeneratePackageOnBuild` is true.

[2017-01-27 18:18] rohit21agrawal commented on #1339
@333fred there is no other possible option here because of the circular dependency.. Also note that, ```GeneratePackageOnBuild=true``` only leads to disabling Build on Pack when the Pack target is directly invoked - which does not happen from the VS UI.

In fact, i would argue that calling Build when someone calls Pack seems wrong to me.

In the ideal situation, calling build should actually invok

[2017-01-27 18:24] 333fred commented on #1339
@rohit21agrawal I that's a fundamental difference between the CLI and IDE. I expect my CLI programs to do exactly what I say, no more and no less. For the IDE, I expect it to be intelligent and consistent. I can write a test method, open test explorer, and click "Run All" without having to tell the project to build at all. To be consistent, I should be able to make a change, run Pack, and have a f

[2017-01-27 18:45] rohit21agrawal commented on #1339
CLI Pack does build your project by default when you pack, and I agree that VS should do it too. For the CLI scenario, user can pass the ```--no-build``` switch to explicity disable build when packing.

I expect that behavior should be the same in IDE too - and we can achieve that by calling ``` msbuild /t:pack /p:GeneratePackageOnBuild=false ``` and let user set the ```$(NoBuild)``` property in t

[2017-01-27 19:14] 333fred commented on #1348
Interesting wrinkle to the repro: if I click on the project node and save, the csproj is updated as expected with no prompt. If I then change the content type back to `C# Compiler`, the project file is updated with no prompt, without having to save anything. @jviau @adrianvmsft, it seems like `UnconfiguredProjectAdvanced.ChangingProjectFile` isn't triggered for some property changes? And when the

[2017-01-27 19:14] 333fred commented on #1348
Instead, the `Content` setting seems be delayed in being written back out to the project file.

[2017-01-27 21:01] dsplaisted commented on #1339
@rohit21agrawal I'm not sure I'm fully understanding everything here, but could you resolve the circular dependency by always having Pack depend on Build, and then running the Pack target after the Build target if GeneratePackageOnBuild is specified?  Something like this:

[code]

This example doesn't account for the `--no-build` option with pack, but that can be added by having Pack's DependsOnTa

[2017-01-27 21:05] rohit21agrawal commented on #1339
@dsplaisted doing what you suggested, if someone called ```msbuild /t:pack``` with ```GeneratePackageOnBuild=true``` , they will hit the circular dependency issue.

See our current implementation here :

[_PackAsBuildAfterTarget](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/Pack.targets#L55)

[Property Initialization](https://github.com/NuGet/NuGet.C

[2017-01-27 21:07] dsplaisted commented on #1339
@rohit21agrawal Can you describe what the circular dependency is?  It sounds like it may not be what I was guessing.

[2017-01-27 21:10] rohit21agrawal commented on #1339
@dsplaisted Pack depends on Build by default. Pack also happens to be an AfterTarget of Build if ```GeneratePackageOnBuild``` is set to true.

If someone calls Build with ```GeneratePackageOnBuild=true```, build completes and calls Pack, and Pack depends on Build running into a circular dependency.

If someone calls Pack with ```GeneratePackageOnBuild=true```, Pack depends on Build, so it calls Bu

[2017-01-27 21:47] dsplaisted commented on #1339
@rohit21agrawal The following seems to work for me without running into circular dependency errors:

[code]

The `Pack` target there would only be an entry point, all of the real packing logic would go in `CorePack`.  Would this help?

[2017-01-27 21:48] srivatsn commented on #510
UAP builds against the old sources. Fix that when deleting the sources.

[2017-01-27 22:36] 333fred commented on #1348
This is a CPS bug, converting this to tracking. https://devdiv.visualstudio.com/DevDiv/_workitems?id=376669&fullScreen=false&_a=edit

[2017-01-27 23:23] #1321 closed

[2017-01-28 01:56] lifengl commented on #954
It is a bug in the dependency tree data flow code.  I read the code, and it is using suppressVersionOnly change in couple places.  You should prevent using that flag, expect might be the final link to an action block.  Using it in the middle of a data flow can easily introduce a problem like that or a dead lock.

The entire CPS data flow depends on the data source version to flow through the entir

[2017-01-28 02:21] 333fred commented on #1347
@adrianvmsft, this does seem very similar to #1348. I've debugged through the property pages, and it does appear that the underlying property page is returning `true` as the value of the property I've been testing with (Optimize), even though the project file does not have the value set, and the default is false.

[2017-01-28 04:12] jeffkl commented on #1199
They are imported in common props and targets.
https://github.com/Microsoft/msbuild/pull/751

[2017-01-28 16:21] tannergooding opened #1358 "Project System expects TargetFramework property in the csproj itself, and not in an imported props/targets file."
# Description
The default project template looks like the following:
[code]

I have a set of shared props/targets that are imported by every project in my repo. In order for these to be imported properly, I first have to get rid of the `Sdk="Microsoft.NET.Sdk"` attribute and manually call the appropriate imports. This leaves me with:
[code]

I can then import my shared props/targets files and thin

[2017-01-28 16:42] NVentimiglia opened #1359 "DOTNET CORE 1.1 Fails to open"
New project created in Vs 2017

This project runs.

Added some packages. would not run.

[code]
When switching from 1.0 to 1.1 I received this dialog
 https://github.com/dotnet/roslyn-project-system/issues/660

When I try to open the project it fails, the error output includes this

[code]

[2017-01-28 16:48] NVentimiglia commented on #1359
FYI, Replicated without the nugets

[2017-01-28 16:49] NVentimiglia commented on #1359
Microsoft .NET Core Shared Framework Host

  Version  : 1.1.0
  Build    : 928f77c4bc3f49d892459992fb6e1d5542cb5e86

Usage: dotnet [common-options] [[options] path-to-application]

Common Options:
  --help                           Display .NET Core Shared Framework Host help.
  --version                        Display .NET Core Shared Framework Host version.

Options:
  --fx-version <version>

[2017-01-28 16:53] tannergooding opened #1360 "Project System unconditionally declares the AssemblyName and other properties."
# Description
In `MSBuild\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.Sdk.props` there are several properties which are unconditionally defined:
[code]

These will override any values that the user may have defined before the parent `Sdk.props` file was imported.

# Expected Behavior
For the properties which can be overridden by the user (such as `AssemblyName`) they should be conditioned to only s

[2017-01-28 17:40] srivatsn commented on #1358
Currently, we require the TargetFramework property to be defined in the project to know to load with cps instead of old project system. So your final project is being loaded with the old project system. If you add the TF property to the project this should work fine. Couple of other things:

- Your reponame.props presumably was importing Microsoft.Common.Props and the reponame.targets was importin

[2017-01-28 17:59] tannergooding commented on #1358
@srivatsn

Most of the new project system features seem to be working, regardless of where I have defined `TargetFramework` (such as automatically picking up changes on disk/etc) -- This is on RC3.

I already cleaned that up :smile:

This is great, I will update my repo to use the new syntax

[2017-01-28 18:05] jnm2 opened #1361 "Test projects do not get the test project icon"
I've been used to scanning along the row of icons to pick out the test projects in a long list of similarly-named projects. With the new .csproj format there is nothing marking the project as a test project.

Could you either:

 * Change the icon when tests are first discovered and cache the fact that it's a test project so that on subsequent opening of the project it's immediately assumed to stil

[2017-01-28 21:44] 333fred commented on #1360
This issue was moved to dotnet/sdk#752

[2017-01-28 21:44] 333fred commented on #1360
Moved to https://github.com/dotnet/sdk/issues/752.

[2017-01-28 21:44] #1360 closed

[2017-01-28 23:10] MarkMichaelis opened #1362 "Install of VS2017 Build January 27, 2017 (build 26127.00) Fails"
I am trying to install VS201 but it fails with the log mentioned below.  This occurs whether or not I have any "install workloads" or not.

[code]

@morrisjoe

[2017-01-28 23:13] MarkMichaelis commented on #1362
Note that I have tried running the [Total Uninsatller](https://github.com/Microsoft/VisualStudioUninstaller/releases) but the install still fails.
I have also changed the default location where VS is installed from `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise` to `C:\Program Files (x86)\Microsoft Visual Studio\2017\EnterpriseTake2` but there is not change.  I am currently unable

[2017-01-28 23:16] julielerman opened #1363 "Project Migration in RC3 results in build errors depending on win versions of net core app"
I have a solution from VS2015 with 4 projects in it. These targetted .net core and had project.json files

I have tested VS2017 RC migrating this solution in previous version of the RC. This problem never showed before.

# The solution to test with
I've pushed the VS2015 version of the solution to github here: [https://github.com/julielerman/NetCoreSolutionToMigrateToVS2017](url)

# My environment

[2017-01-28 23:41] jinujoseph commented on #1362
External to this repro https://vsfeedback/comment/748357

[2017-01-28 23:49] srivatsn commented on #1358
Do you see the Dependencies node or References node in solution explorer? The code basically does a textual scan of the project file to find the TargetFramework property to decided CPS vs old project system. I'd be very surprised if CPS is loading for that last project.

[2017-01-28 23:57] srivatsn commented on #1301
Dupe of https://github.com/dotnet/roslyn-project-system/issues/763

[2017-01-28 23:57] #1301 closed

[2017-01-29 00:06] MarkMichaelis opened #1364 "Install of VS2017 Build January 27, 2017 (build 26127.00) Fails - "cannot be installed to the same location or child directory of existing instance""
While installing on a machine which previously had VS15 RC5, the install fails.  The message from the log file is `cannot be installed to the same location or child directory of existing instance`.  Note that this occurs even though the directory, `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise` does not exist - in fact (in desperation) - `C:\Program Files (x86)\Microsoft Visual St

[2017-01-29 00:17] tannergooding commented on #1358
Yes I am. Here is the sample solution:
[sample.zip](https://github.com/dotnet/roslyn-project-system/files/737221/sample.zip)

It seems that the only reason it is working is because of the process/exact steps I used.

Specifically, doing the process listed in the original post causes the project to be saved in the solution as follows:
[code]

If I remove and add the project back, the solution will

[2017-01-29 00:23] MarkMichaelis opened #1365 "Install of VS2017RC Fails - Build January 27, 2017 (26127.00): This VSIX extension failed."
When installing VS2017 RD (26127.00) if fails with the message, "This VSIX extension failed."

The [log file](https://www.dropbox.com/s/7ye1aqzncbfl2i4/dd_setup_20170128161145_errors.log?dl=1) follows (with links to the associated files below):
[code]

The associated log file is [..\dd_setup_20170128161145_022_Microsoft.VisualStudio.TeamFoundation.TeamExplorer.log](https://www.dropbox.com/s/lqbtbz

[2017-01-29 03:32] scottaddie opened #1366 "VS 2017 RC3 Solution Explorer file nesting not persisting"
Here are the steps to reproduce in VS 2017 RC3 (15.0.26127.0 D15REL):
1. Clone the following repo: https://github.com/scottaddie/TagHelpersDemo. This is an ASP.NET Core MVC project targeting .NET Core.
2. Open the solution in VS, right-click the project in Solution Explorer, and choose **Edit TagHelpersDemo.csproj** from the context menu.
3. Remove the **Compile** node (provided below) from the pr

[2017-01-29 20:00] wjk commented on #805
@davkean I'm afraid this behavior is still occurring, albeit in slightly different circumstances than before. As far as I can tell, Visual Studio no longer reformats my csproj files when I edit them by hand. However, Visual Studio (2017 RC 3, build 26127.0) still reformats my csproj files (in the same way as described above) when it makes changes to it by itself.

For example, when I add an empty

[2017-01-29 20:05] wjk commented on #1057
@mavasani This behavior is still occurring, even on the latest Visual Studio build. The delay before coloring is applied has decreased, but it is still noticeable. I will try to create a repro project sometime today. Could this bug be reopened? Thanks!

[2017-01-29 20:17] wjk commented on #1057
[I have created a repro](https://github.com/dotnet/roslyn-project-system/files/737787/EditorBugRepro.zip). Load it in VS2017 (I am using build 26127.0), open the `Program.cs` file, and type into the `formattedString` as instructed by the comments.

I also have one theory as to why this issue is not appearing for you: I always create my .NET Core projects by way of `dotnet new` at a command prompt;

[2017-01-29 21:13] mavasani commented on #1057
Thanks, I'll look into it.

[2017-01-29 21:43] livarcocc commented on #1363
@julielerman you must have permissions set in the repo, because I can't access it. I get a 404. Also, I suspect that this happens because you have NETStandard.Library 1.6.1, which is the equivalent on Microsoft.NETCore.App 1.1.

I imagine that if you have a library targeting netstandard.library 1.6.1, your consuming app needs to be netcoreapp1.1, or you need a packagetargetfallback.

If you can gi

[2017-01-29 22:36] julielerman commented on #1363
oh ... I guess a typo. I don't have an private repos.
Go to my github.com/julielerman account. It's the newest repo. Here's another attempt at a direct link: https://github.com/julielerman/NetCoreSolutionToMigrateToVS2017

changing the test project to 1.1
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>

didn't have an impact. And the sad par

[2017-01-29 22:41] livarcocc commented on #1363
Everything seems to be working for me. I omitted the restore output because it is big.

[code]

[2017-01-29 22:42] livarcocc commented on #1363
All I did was run dotnet migrate at the root of the repo, followed by dotnet restore. Then cd into SamuraiTests. Dotnet build and then dotnet test.

[2017-01-29 22:43] julielerman commented on #1363
what the .... ?? ;)
Okay but I did not run dotnet migrate.
I opened VS2017RC3 and opened the solution.
Do you get the same results? I will start from scratch ...again.

[2017-01-29 22:46] julielerman commented on #1363
downloaded the zip from my repo. Extracted it. Opened VS2017RC3. File open solution...same results as before:
![image](https://cloud.githubusercontent.com/assets/5007120/22408681/cc491c82-e64a-11e6-8a64-770263102f4d.png)

[2017-01-29 23:01] livarcocc commented on #1363
It is possible that you are hitting some issue that has already been fixed in the CLI but the version of VS2017 that you are using does not have that new CLI yet.

Would you mind downloading the CLI from github.com/dotnet/cli and running dotnet migrate from the command line?

[2017-01-29 23:07] davkean commented on #1365
@MarkMichaelis Appreciate you filing this - but setup/and other bugs unrelated to this repo - are better off filed using the "Report a Problem" via the setup installer itself, or inside VS.

[2017-01-29 23:09] davkean commented on #805
@wjk I cannot repro this with the new project system, can you open a new bug with the exact repro?

We've still got some weird issues while editing with the editor, such as https://github.com/dotnet/roslyn-project-system/issues/1348 and https://github.com/dotnet/roslyn-project-system/issues/1347 and wondering if your issue is related.

Can you repro it without the editor?

[2017-01-29 23:41] julielerman commented on #1363
I wanted to compare apples to apples so I started with the CLI currently installed which is rc3-004530.
Migrate was fine.
Everything restored and built.
dotnet test passed
So that was the same solution, the same CLI but the problem is only showing up in VS2017.

I'm now downloading 004707 and will see if that makes a difference in VS2017. Might not get back to you until later.

[2017-01-30 00:34] JamesNK opened #1368 "VS2017RC3 - Implicit NETLibrary 1.6.1"
[code]

A NETLibrary 1.6.1 package reference appears even though I haven't referenced it.

![image](https://cloud.githubusercontent.com/assets/303201/22409578/af5e0f32-e6f0-11e6-8bba-bbd6ef40d0ce.png)

Also shows up in nupkg and there are warnings about package downgrades from NETLibrary 1.6.1 on build.

[2017-01-30 00:38] JamesNK opened #1369 "VS2017RC3 - Portable class library in TargetFrameworks errors on build"
I used the same format that I did in project.sjon:

[code]

Error:

[code]

[2017-01-30 00:43] julielerman commented on #1363
oh, this isn't going well! :) I tried to install the latest sdk installer (windows 64 bit). It kept failing saying that .net core was alerady installed and I had to uninstall via "remove programs". I've never had that happen before. There were 3 different versions. I installed the latest, and tried the instlaler. Same. Ended up uninstalling all versions of .net core and still the installer says "i

[2017-01-30 00:46] JamesNK opened #1370 "VS2017RC3 - Assembly version vs package version"
There is an auto-generated AssemblyInfo.cs with values from csproj. I don't want the auto-generated AssemblyVersionAttribute to match the nupkg package value because of strong naming + binding redirects.

I need a way to either disable auto-generating AssemblyInfo.cs or setting AssemblyVersionAttribute separately from the NuGet package version.

[code]

[code]

[2017-01-30 01:07] wjk commented on #805
As far as I can tell, the issue only occurs when Visual Studio edits the csproj file. If I edit the csproj XML using Notepad, Visual Studio will leave it the formatting as I specified it. Is this what you were talking about? In addition, the symptom mentioned above regarding the csproj being reformatted when I open it in the editor still occurs as well. I can workaround these issues using the Comm

[2017-01-30 01:08] davkean commented on #1370
You have a few options:

1. Turn off generation completely, via `<GenerateAssemblyInfo>false</GenerateAssemblyInfo>`
2. Turn off generation of just the `AssemblyVersionAttribute`, via `<GenerateAssemblyVersionAttribute>false</GenerateAssemblyVersionAttribute>
3. Set the AssemblyVersion in build, via `<AssemblyVersion>1.0.0.0</AssemblyVersion>

[2017-01-30 01:11] onovotny commented on #1369
You need to use the short TFM and use properties:

https://github.com/onovotny/Zeroconf/blob/dev/Zeroconf/Zeroconf.csproj#L32-L37

For PCL 259, the properties would be:

[code]

[2017-01-30 01:13] onovotny commented on #1369
Note that the Version=v0.0 bit is due to a bug and is being tracked here: https://github.com/dotnet/sdk/issues/492

But the above should work for you.

Downside though -- requires Windows to build, not `dotnet build`. You need to run `msbuild /t:restore` then either `msbuild /t:build` or `msbuild /t:pack` to build and/or pack and build the project.

[2017-01-30 01:15] onovotny commented on #1368
@JamesNK you shouldn't need this at all:

[code]
With the possible exception of `System.Xml.XDocument` and other types not in the `NETStandard.Library` metapackage.

[2017-01-30 01:48] NickCraver commented on #1368
If you want to exclude the default `NETStandard.Library` reference, you can add this property:
[code]

But long-term this isn't really what will be supported, since everything is going back to the massive package scheme. To maintain your current build though - use the above. You can also alter the version with `<NetStandardImplicitPackageVersion>`.

For the curious, [here's where these are happeni

[2017-01-30 02:01] davkean commented on #1128
This should be:

1. Making sure this component only shows up for PackageReferences
2. Converting to a dynamic load component, because PackageReferences is a dynamic capability

[2017-01-30 04:10] 333fred commented on #1363
@livarcocc, migrating just the `SamuraiTests` project is producing different output when migrated separately. If I migrate from opening VS, and then fix up the SamuraiTests csproj, everything appears to work correctly. In the single migration scenario, the references to `SamuraiAppCore.*` are added as package references, and in solution migration from CLI, they're added as project references. Here

[2017-01-30 04:21] 333fred commented on #805
@davkean, I can reproduce. Opened an issue on msbuild: https://github.com/Microsoft/msbuild/issues/1627.

[2017-01-30 04:36] livarcocc commented on #1363
Which version of the CLI did you use. I tried it with `dotnet migrate -s` on the SamuraiTests project and this is what I got:

[code]

My version of the CLI is
[code]

[2017-01-30 04:52] davkean opened #1373 ""Cannot access a disposed object." Object name: 'Microsoft.VisualStudio.ProjectSystem.ProjectCapabilitiesScope"
From: https://developercommunity.visualstudio.com/content/problem/13674/cannot-access-disposed-object.html.

1. Created a new ASP .Net Core Application (version 1.1)
a. Decide on some data you want your app to track in a database and create a class that represents the data
a. Note: the class must have an Id attribute
b. Add a " MVC Controller with view, using Entity Framework" that will represent

[2017-01-30 05:07] davkean commented on #1373
I ran into a similar thing while debugging, though this did not bring down VS, it was handled somewhere down the stack, repro (you need to be attached with first-change exceptions turned on):

1. Create a new .NET Core app
2. Right-click Edit ConsoleApp1.csproj
3. Delete the Sdk attribute and it's contents
4. Save

ObjectDisposedException:

[code]

in this line:
[code]

I'm unsure if this related.

[2017-01-30 06:47] davkean commented on #954
Assigning back to @abpiskunov, as per @lifengl's comment.

[2017-01-30 07:15] davkean opened #1374 "[Loc: CHS, CHT, KOR] The button’s text “Advanced…” is overlapped in Properties window"
![image](https://cloud.githubusercontent.com/assets/1103906/22414986/03d402d4-e718-11e6-842d-e00d13cc05ac.png)

[2017-01-30 07:20] davkean commented on #1361
This issue was moved to Microsoft/vstest#394

[2017-01-30 07:20] #1361 closed

[2017-01-30 07:23] davkean opened #1375 "VisualStudioWorkspace projects do not get updated if Release configuration is selected on the project"
The problem seems to be with First time publish of the project.

If I unload the project after first publish and then try to add a model and scaffold, everything seems to work fine.

Workaround steps:

1. Create ASP.NET Core Web Application > Web Application with Individual
2. Check the checkbox for "Create new Git repository"
3. Publish to Web App
4. Unload project
5. Add model class
6. Scaffold.

[2017-01-30 08:03] 333fred commented on #1363
On my home computer, with the official RC3 build.

[code]

[2017-01-30 08:04] 333fred commented on #1363
So this issue might already be fixed in master.

[2017-01-30 14:40] julielerman commented on #1363
oh! I didn't catch that I was getting my project refs as package refs! (rolls eyes). You can see it in the update  I made to the original posting. Also, curious why as a project ref it doesn't have the version. Is that intentional?

Thanks so much for pursuing it.

Also, I was never able to install the sdk package I downloaded even after uninstalling every other version of the SDK. This might be s

[2017-01-30 17:04] srivatsn commented on #1121
I don't see why it wouldn't work. I've converted some VSIX projects in this repo to use the SDK and it seems to work fine. Can you do a msbuild /pp on this project and check if the VSSDK targets are getting pulled in?

[2017-01-30 17:07] srivatsn commented on #1191
I believe this has been resolved. Closing as external.

[2017-01-30 17:07] #1191 closed

[2017-01-30 17:09] srivatsn commented on #1243
This issue was moved to dotnet/sdk#754

[2017-01-30 17:13] srivatsn commented on #1249
Schema intellisense is fixed. We've added [these entries](https://gist.github.com/srivatsn/09c6eb4128bbe3da6404d87dce1baa01) to the schema for RTM.

For version IntelliSense I believe somone in @mlorbetske's group was working on an extension that enables it

[2017-01-30 17:19] srivatsn commented on #1250
The implicit refs will now show up in the SDK node but I assume the same behavior will happen for them. This issue is not so much about the implicit refs but any refs outside the project file. We should give the same visual treatment for all such refs.

[2017-01-30 17:19] #1243 closed

[2017-01-30 17:21] srivatsn commented on #1252
Is this a transient error coming from the design time build before restore?

[2017-01-30 17:22] srivatsn commented on #1254
This issue was moved to dotnet/sdk#755

[2017-01-30 17:22] #1254 closed

[2017-01-30 17:23] srivatsn commented on #1257
Dupe of https://github.com/dotnet/roslyn-project-system/issues/1258

[2017-01-30 17:23] #1257 closed

[2017-01-30 17:27] srivatsn commented on #1284
I don't know what ProjectContextBuilder used to do @piotrpMSFT @davidfowl any thoughts here?

[2017-01-30 17:28] srivatsn commented on #1285
Yes MSBuildWorkspace should work for these projects. Now I know @mattwar was looking into MSBuildWorkspace being broken due to MSBuild moving elsewhere. Matt, does MSBuildWorkspace work with MSBuild 15 (which is needed for it to understand .NET core projects).

[2017-01-30 17:29] srivatsn commented on #1294
Me too. Closing this in favour of tracking it with #88

[2017-01-30 17:29] #1294 closed

[2017-01-30 17:29] abpiskunov commented on #1366
@lifengl

[2017-01-30 17:46] eerhardt opened #1376 "VS project.json migration shouldn't delete global.json before calling `dotnet migrate`"
See https://twitter.com/blaken/status/824827246091309057

Repro steps:
1. git clone https://github.com/exceptionless/foundatio
2. Open the .sln file in VS 2017 RC3
3. Migrate the project.json based projects to .csproj.

### Expected Results
The migration should succeed.

### Actual Results
[UpgradeLog.htm.txt](https://github.com/dotnet/roslyn-project-system/files/739756/UpgradeLog.htm.txt)

All th

[2017-01-30 17:56] srivatsn commented on #1332
@ravipal is this blocking you for RTM? Let me know if I need to pull this back in to RTM.

[2017-01-30 17:59] srivatsn commented on #1362
This was resolved offline. Closing as external.

[2017-01-30 17:59] #1362 closed

[2017-01-30 18:00] srivatsn commented on #1365
Closing as external.

[2017-01-30 18:00] #1365 closed

[2017-01-30 18:01] srivatsn commented on #1364
@MarkMichaelis I'm resolving all these as external since Huy resolved your install issue offline. If some of these are still unresolved please follow up with Huy.

[2017-01-30 18:01] #1364 closed

[2017-01-30 18:03] srivatsn commented on #1363
For the CLI installer issue, please log a new issue in https://github.com/dotnet/cli

Closing this bug as fixed

[2017-01-30 18:03] #1363 closed

[2017-01-30 18:04] srivatsn commented on #1366
The file nesting is implemented in the web tools extension. So moving to the web tools repo.

[2017-01-30 18:04] srivatsn commented on #1366
This issue was moved to aspnet/Tooling#981

[2017-01-30 18:04] #1366 closed

[2017-01-30 18:06] 333fred commented on #1182
I've been unable to repro this bug. Please reopen if you see it again.

[2017-01-30 18:06] #1182 closed

[2017-01-30 18:10] 333fred commented on #1376
This was designed to work this way: https://github.com/dotnet/roslyn-project-system/issues/1184. The issue is if there's a global.json that specified a lower version of the cli, it probably won't call the correct version of dotnet migrate.

[2017-01-30 18:11] livarcocc commented on #1376
@333fred I wonder if we are hitting the issue fixed by https://github.com/dotnet/cli/pull/5352. When I talked to @eerhardt, his version of the CLI was older and did not have that fix in.

[2017-01-30 18:11] livarcocc commented on #1376
@333fred I believe we should try this scenario in a VS instance that definitely has a newer version of the CLI.

[2017-01-30 18:12] 333fred commented on #1376
I'll update to the latest d15prerel and try locally.

[2017-01-30 18:19] twsouthwick commented on #1121
@Srivatsn Can you point me at one? When I run the `msbuild /pp` command it looks like the targets are being included. The issue seems to be in the `CreateMenuPkgDef` target.

[code]

[2017-01-30 18:24] 333fred commented on #1376
@livarcocc no dice, failed with `test\Foundatio.Benchmarks\Foundatio.Benchmarks.xproj: MIGRATE1014::Unresolved Dependency: Unresolved project dependency (Foundatio)` on ~1/2 of projects. CLI version:
[code]

[2017-01-30 18:30] mavasani commented on #1323
On a clean box with today's d15prerel I see that this is indeed specific to methods - CodeLens and FAR both find the reference to the Class in legacy project system based netfx project, but doesn't find reference to method. Everything works fine if netfx project is CPS based.

[2017-01-30 18:36] srivatsn commented on #1121
https://github.com/srivatsn/roslyn-project-system/tree/dogfood is the branch. The VSIX projects (ProjectsystemSetup for eg) include some repo-specific targets and I added the SDK attribute there.

[2017-01-30 18:51] twsouthwick commented on #1121
Looks like those projects are still including some items that are not required in the new version, such as the namespace, ToolsVersion="12.0", project guids, etc. Will that make a difference?

[2017-01-30 18:52] livarcocc commented on #1376
All right. I will take a look.

[2017-01-30 19:00] mattwar commented on #1285
Msbuild should work in RC3.  Though you'll need to upgrade the app's redirects to include the newest msbuild's redirects found in msbuild.exe.config.

[2017-01-30 19:10] eerhardt commented on #1376
Agreed having the old "sdk" version is a problem.  A solution may be to delete the "sdk" property out of the global.json instead of removing the whole thing.

[2017-01-30 19:11] mavasani commented on #1323
Tagging @CyrusNajmabadi

Roslyn FindReferences functionaly is failing [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs,190) when attempting to match method symbol from referenced and referencing project. I am going to move this issue to Roslyn and provide a repro project.

[2017-01-30 19:17] abpiskunov commented on #1366
No no - @srivatsn  that is not the case here :), thats i added Lifeng here - this is what creates a proble, <Compile Update="Views\Shared\Partials\CardViewModel.cs" DependentUpon="Views\Shared\Partials\_Card.cshtml" /> , this is either something new in CPS or again same issue with circular nestings , which CPS needs to handle.

[2017-01-30 19:17] 333fred opened #1378 "First open of build property page after project creation asserts"
1. Create a new project (I've been using .net core console app)
2. Open Properties->Build

**Expected**:
Property page is opened.

**Actual**:
Assert on `OutputTypeEx`.
[code]

The "Prefer 32-bit" checkbox is enabled. Future opens of the property page, and future reopens of the project, do not demonstrate this issue, and the "Prefer 32-bit" checkbox is disabled on those opens.

[2017-01-30 19:17] abpiskunov commented on #1366
`<Compile Update="Views\Shared\Partials\CardViewModel.cs" DependentUpon="Views\Shared\Partials\_Card.cshtml" />`

[2017-01-30 19:29] mavasani commented on #1323
Now tracked by https://github.com/dotnet/roslyn/issues/16827.

[2017-01-30 19:29] #1323 closed

[2017-01-30 19:37] mavasani commented on #1252
On a clean install of today's d15prerel, I am unable to repro this specific error, but instead I get bunch of intellisense errors for missing system.object type after both step 4. and step 7., though build succeeds. Unloading and reloading the project fixes them. Investigating further if this is a Roslyn issue or something on our side.

[2017-01-30 19:39] dsplaisted commented on #1368
FYI, here's our documentation about this: https://aka.ms/sdkimplicitrefs

[2017-01-30 19:42] dsplaisted commented on #1370
@blackdwarf This is one area we need documentation on.  The SDK by default generates a lot of different assembly attributes, but there are properties to enable/disable each one (or disable them altogether) as well as to control what the value is.

[2017-01-30 19:51] 333fred commented on #1378
Narrowed down the repro on this. This is occurring when the application page is shown before the build page, ie when the `CSharpApplicationPropertyPage` is first in the list of `s_runningPropertyPages`, https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.AppDesigner/PropPages/PropPageUserControlBase.vb#L241. The `OutputTypeEx` property is not missing on the appli

[2017-01-30 20:10] livarcocc commented on #1376
I think @eerhardt is right after all. As usual! I don't see how this scenario ever worked. When we try to migrate a project under test/project, we only search for dependencies under the test folder, because there is nothing telling us to search for projects under src/ (that would be in the projects of the global.json).

Now, we could do a fix in the CLI to not validate these projects, but the prob

[2017-01-30 20:26] 333fred commented on #1376
@livarcocc and I talked offline. I'll prep a change that will remove the sdk element from the global.json and delete the global.json after migration is completed.

[2017-01-30 21:44] mavasani commented on #1252
Alright, so investigated this further and noted a few things:

1. My repro is not deterministic, sometimes switching target framework works fine but for most of the times it ends up with intellisense errors.
2. This non-determinism is due to the way CPS seems to be generating design time build updates.
  a. Sometimes, CPS generates a single design time build update where projectChange.Difference c

[2017-01-30 22:21] mavasani opened #1380 "ObjectDisposedException at DependenciesProjectTreeProvider.Dispose"
Create a new dotnet core project, attach a debugger and close the solution

**Got:**
[code]

This doesn't seem to be bring down VS though.

[2017-01-30 23:32] abpiskunov opened #1382 "changes made to project file during restore , don't trigger next restore after current one is complete"
1. Create a project
2. add some assembly reference (or project reference)
3. Restore should start - immediatelly after restore start Undo your change and save , so it happens before restore completes.

Actual result: restore complete and project assumes that initial change is still in effect, no second restore for later change happens

Expected: new restore should start after first restore complet

[2017-01-30 23:41] #1129 closed

[2017-01-31 00:12] mavasani commented on #1252
Attached a debugger and I notice that design time builds are failing as soon as I change the target framework.

For the above repro, at step 4, I get the following in the design time build log, and the error shows up momentarily in the error list, before subsequent design time build succeeds and error is removed:
[code]

Seems like we are still trying to find netstandard references, even if target

[2017-01-31 00:20] 333fred commented on #1348
CPS has committed a fix, insertion PR here: https://devdiv.visualstudio.com/DevDiv/VS%20IDE%20CPS/_git/VS/pullrequest/55285?_a=overview.

[2017-01-31 00:21] mavasani commented on #1252
@davkean Any idea why our design time builds are pulling in XAML targets and attempting to run DesignTimeXamlMarkupCompilation? I did a real solution build and this target or targets file is never executed.

[2017-01-31 00:30] mavasani commented on #1057
@wjk I am still unable to repro this on 26130. As soon as I close the ending brace, the coloring for `{world}` changes to black.

Would it be possible for you to collect a perf trace and share it?

1. Download PerfView from https://www.microsoft.com/en-us/download/details.aspx?id=28567
2. Start VS
3. In PerfView, click Collect -> Collect -> Start Collection (note the location where the trace is co

[2017-01-31 00:51] #1153 closed

[2017-01-31 01:02] NTaylorMullen opened #1384 "Solution with 56 projects is unsable once migrated to csproj."
Every major operation (opening/restoring, building, etc.) takes several minutes to complete, usually resulting in the "not responding" dialog over and over. As a disclaimer the project does take more time than average project to restore but it should not repeatedly dive into the "not responding" state or take as long as it currently does. Doing these operations at the command line is significantly

[2017-01-31 01:05] abpiskunov commented on #1296
I just debugged through it and those code paths not even hit in the debugger. It could be fixed by my latest change for returning properties for top level dependencies. I did change a little logic hwo we find xaml rules for dependency nodes. So now for our standard nodes we should not hit that path, it is there just in case there are some custom nodes that don't have any known xaml rules, or have

[2017-01-31 01:05] #1296 closed

[2017-01-31 01:38] srivatsn commented on #1251
This is now fixed in D15Rel.

[2017-01-31 01:38] #1251 closed

[2017-01-31 06:13] roryprimrose opened #1385 "VS2017 RC3 not compiling netstandard1.2;netcoreapp1.0"
I have updated to VS2017 RC3 26127.0, created a new .core library project and set the following configuration:
[code]
The project shows a warning on the NetStandard.Library (1.6.1) reference and compiling this project fails.

![image](https://cloud.githubusercontent.com/assets/2044291/22454196/4c269694-e7d8-11e6-8c9e-a7c2919d6f34.png)

Project is at
[ClassLibrary1.zip](https://github.com/dotnet/ro

[2017-01-31 07:22] JamesNK opened #1386 "VS2017RC3 - Assembly conflicts because of the same name"
I have an interesting situation: I have a project called `Newtonsoft.Json` that I want to test in `netcoreapp1.0`, but the `Microsoft.NET.Test.Sdk` package that I have to depend on to run tests has a dependency on a NuGet package called `Newtonsoft.Json`.

I get this warning when I build in VS2017RC3:

And lots of this error:

How do I tell the Roslyn/msbuild/.NET Core that I want the referenced `

[2017-01-31 08:50] JamesNK commented on #1370
My question has been answered. You can close this whenever you're ready.

[2017-01-31 08:50] #1368 closed

[2017-01-31 08:51] JamesNK commented on #1369
I have a PCL build working.

Will PCL ever work with dotnet build?

[2017-01-31 10:23] NTaylorMullen commented on #1384
Updated issue with additional info.

[2017-01-31 13:58] julielerman commented on #1363
@srivatsn filed the issue: https://github.com/dotnet/cli/issues/5531

[2017-01-31 14:34] mavasani commented on #1384
**Open solution**

I tried opening the solution on D15PreRel 26130 and it takes:

1. Slightly less than 60 seconds to fully load the solution in a new VS instance.
2. Closing and re-opening the solution in the same VS instance takes roughly 35-40 seconds to load.

IMO, these seem like pretty reasonable load times for a 50+ project solution. Did you see something different @NTaylorMullen ?
Only VS

[2017-01-31 14:49] mavasani commented on #1384
Restore in VS generates this error:

[code]

[2017-01-31 14:57] mavasani commented on #1359
Verified no repro on D15PreRel 26130.00. Followed these steps:

1. Create .NET Core App 1.0 console app.
2. Verify builds and runs fine.
3. Edit csproj to change to netcoreapp1.1.
4. Verify builds and runs fine.
5. Add the package references listed above to the csproj.
6. Restores, builds and runs fine.

[2017-01-31 14:57] #1359 closed

[2017-01-31 14:59] mavasani commented on #1057
@dotnet/project-system Anyone else has seen this on our latest dogfood builds? If so, I'd like to take a stab at your machine/grab perf traces.

[2017-01-31 15:47] rainersigwald opened #1388 "All-configs property settings should be unconditional"
I created a new project multitargeted to `net46;netstandard1.3`. I went to project properties -> Build, selected "All Configurations" and "All Platforms", and checked the "Allow unsafe code" box. Instead of a simple unconditional addition of the property

[code]
in the existing unconditional `PropertyGroup`, the project file change is

[code]

The former is both more succinct and easier to later e

[2017-01-31 15:51] srivatsn commented on #1388
Ya we should fix this. This is the behavior that the property pages code has had forever and changing it is risky since it affects all projects so not for RTM but we should fix it soon after.

[2017-01-31 17:18] mavasani commented on #1248
This is the same issue noted in https://github.com/dotnet/roslyn-project-system/issues/1252#issuecomment-276233863. I have a fix for the this specific issue, but we also seem to be generating an additional MSBuild error about missing target, which I am still investigating. @srivatsn I think we can dupe this bug against that one, I'll fix both set of diagnostics for that issue.

[2017-01-31 17:19] Eilon commented on #1384
@mavasani you mention that migration failed, but this solution is already 100% CSPROJ. Which migration was it?

[2017-01-31 18:33] NTaylorMullen commented on #1384
@mavasani ensure you checkout [the nimullen/migration.badvs branch](https://github.com/aspnet/Mvc/tree/nimullen/migration.badvs) I mentioned in the issue. I had to manually migrate a lot of MVC due to its complexity/known bugs in `dotnet migrate`.

[2017-01-31 18:33] srivatsn commented on #1317
Cannot repro this in today's D15Rel build

[2017-01-31 18:33] #1317 closed

[2017-01-31 18:50] mavasani commented on #1384
Yes, I did that and the build succeeded. Thanks, investigating further.

[2017-01-31 19:07] mavasani commented on #1252
@srivatsn pointed out that even VSO [375688](https://devdiv.visualstudio.com/DevDiv/_workitems?_a=edit&id=375688&triage=true)(Discovery is not getting triggered for project targeting net46) is related to us not correctly handling changes to TargetFramework and TargetFrameworks. Given the number of issues cropping up due to this, we have decided to force reload the project for any edits made to the

[2017-01-31 19:45] mavasani commented on #1384
Alright, so I got a VS hang when attempting to open the solution from your branch. The hang is coming from PropertyBrowser forcing certain property to be computed on the UI thread:

[code]

It doesn't repro if I keep the property browser closed during solution load, and the solution loads in under a minute.

However, once the solution load completes, there are a few successive UI hangs, where MSBu

[2017-01-31 19:57] srivatsn commented on #1159
Probably a dupe of the TF change issues you are looking at.

[2017-01-31 20:13] Eilon commented on #1384
I just tried using Dev15 15.0.26129.0 D15REL (the build that JoC just asked everyone to install) and though it didn't quite take 15 minute to open, it was probably around 10 minutes (on my laptop), and VS was super slow for quite a while even after it opened.

[2017-01-31 21:29] srivatsn commented on #1369
https://github.com/dotnet/cli/issues/5504 tracks building non-.NET Core projects with the CLI.

Adding these propertygroups to the SDK so that this is supported OOB is tracked by https://github.com/dotnet/sdk/issues/491

[2017-01-31 21:29] #1369 closed

[2017-01-31 21:29] #1370 closed

[2017-01-31 21:30] srivatsn commented on #1380
@davkean same as https://github.com/dotnet/roslyn-project-system/issues/1373?

[2017-01-31 21:30] NTaylorMullen commented on #1384
@mavasani the [issue you linked](https://devdiv.visualstudio.com/DevDiv/_workitems?id=366684&_a=edit) accurately depicts all the perf issues the Mvc solution is running into within the Repro Steps section.

As for solution build not hanging on your end. Should I try and update my VS or download a different skew? It's pretty consistent for me.

[2017-01-31 21:31] #1380 closed

[2017-01-31 21:32] davkean commented on #1380
Dup of #1373.

[2017-01-31 21:38] abpiskunov opened #1391 "After adding SharedProject to core project and opening Add Reference dialog again, SharedProject is not checked there"
1. Create a core class library
2. add a SharedProject to solution
3. Add reference to SharedProject for class library
4. Wait for restore
5. Open Add Reference dialog again

Actual Result: SharedProject is not checked

Expected: Shared project to be checked there in dialog

[2017-01-31 21:38] abpiskunov commented on #1391
Per Mohit C. commets:

This mail doesn’t have the full description of the RM + Shared project issue; I am guessing you are describing a problem where an added Shared project reference is not showing up as checked in the dialog.

It’s the project systems that inform the Reference Manager about the items that are already referenced, RM does not read the project file directly.
You can set a BP here a

[2017-01-31 21:45] RaulPerez1 commented on #1391
Is this not related to #954?

[2017-01-31 21:47] abpiskunov commented on #1391
no, #954 just displaying data and it is unrelated to add reference dialog

[2017-01-31 21:53] RaulPerez1 commented on #1391
It shouldn't have been, when I opened it everything (including this scenario) was busted. I think it's fine to have a separate bug if we have multiple root causes though, I was curious because the repro you have above is exactly what I was doing when I opened that one.

[2017-01-31 21:54] abpiskunov commented on #1391
yes repros are the same, but code paths are completely different. #954 i am fixing right now and on my machine it is working already :)

[2017-01-31 21:58] mavasani commented on #1384
@NTaylorMullen @Eilon can you please share ETL traces for the hangs (my alias is mavasani)? Note that I did a clean install of the d15prerel 26130.00 and the only hangs I see were the couple mentioned above (PropertyBrowser and Test Window). I have tried closing/re-opening/build solution and opening and editing source files, and those seem to work fine.

@lifengl @srivatsn is the property browser

[2017-01-31 22:40] morrisjoe commented on #967
Discussed with doc team and they asked to close this one and move over the issue to docs. Moved to
https://github.com/dotnet/docs/issues/1482

[2017-01-31 22:40] #967 closed

[2017-01-31 22:41] #1376 closed

[2017-01-31 23:26] abpiskunov commented on #1250
this can be done. I could remove a flag "SupportsRemove" for implicit package references (sdks now) and Remove comand and Delete key would be disabled for them , when user right clicks on them. Another U1 workitem is to show slightly different icon for implicit packages/sdk.

[2017-01-31 23:30] RaulPerez1 commented on #572
Fixed via #1357

[2017-01-31 23:30] #572 closed

[2017-01-31 23:39] davkean opened #1394 "Putting an invalid TFM in the project results in project system faults, crashes, deadlocks and meaningless build errors"
1. File -> New Console App (.NET Core)
2. File -> Edit ConsoleApp.csproj
3. Change `<TargetFramework>netcoreapp1.0</TargetFramework>` to `<TargetFramework>netcoreapp1.<TargetFramework>`
4. Save

Expected: A error in the error list around a malformed target framework:
Actual:

5 or 6 prompts of:
[code]

An error in the error list:
[code]

And sometimes VS crashes:

[code]
Or deadlocks if you build.

[2017-01-31 23:43] #865 closed

[2017-02-01 00:01] BillHiebert opened #1395 "Launch settings sometimes fail to load with the error "The value factory has called for the value on the same instance.""
1. Create new asp.net core web application
Occasionally, the debug dropdown with say "Start" instead of listing the profiles from launchsettings.json.

This is an intermittent problem where attempting to read a property value from a dataflow callback can sometimes lead to an Invalid Operation Exception. When this occurs the launch settings, create an temporary "error" profile which is what shows u

[2017-02-01 00:40] RaulPerez1 commented on #1069
Moving this out of RTM - There's no reported user bad here other than they are not applicable outside of Win32. For post RTM we need to figure out the following:
- Do we want to condition this base on configurations?
- Are any of these values passed down to dotnet exec (this is potentially on the SDK side)

[2017-02-01 00:42] RaulPerez1 commented on #1388
See the comment I made here #1300 which also falls into this bucket

[2017-02-01 00:48] RaulPerez1 opened #1397 "Revamp Reference Paths properties page"
See #1071

There's a few issues with this page:

1) It writes data to the user file so if you actually want to persist a change it will only be on that particular machine (.user files normally get excluded from source control)
2) It hardcodes paths so it's only really useful on the machine where it is edited

Need to determine if the work here is worth it or if we want to completely remove the pag

[2017-02-01 00:50] RaulPerez1 commented on #1071
Removing this for RTM, opened #1397 to track improvements here.

[2017-02-01 00:52] Eilon commented on #1384
Hmm, odd, when I try it again now I'm not seeing the same perf issues as before. It's still a bit slow to load, but you'd expect *some* slowness with this many projects. But I'm not seeing the 10-15min issue...

[2017-02-01 01:01] emgarten opened #1398 "Add IsImplicitlyDefined property to PackageReference.xaml"
Add ``IsImplicitlyDefined`` property to PackageReference.xaml to allow passing this information to NuGet from the project system.

Example usage:
[code]

NuGet issue: https://github.com/NuGet/Home/issues/4044  targeted for RTW
SDK issue: https://github.com/dotnet/sdk/issues/771

[2017-02-01 01:16] 333fred opened #1399 "Migration fails when solution and project file are in the same directory"
We assume that the backup folder will not be put in the same directory as a project.json/.xproj project. However, for solutions where the solution file and project file are in the same directory, this doesn't hold true, and causes migration failure. We ask CLI to migrate the directory, and since we've already backed up the project.json/xproj, it will find and migrate two projects. This in turn bre

[2017-02-01 01:40] davkean commented on #1348
This looks fixed, but I'm seeing other weirdness that I'm filing.

[2017-02-01 01:40] #1348 closed

[2017-02-01 01:41] davkean opened #1401 "[Data loss] Undo in the editor after the project has been saved does not dirty the project"
1. File -> New Console App (.NET Core)
2. Right-click Edit
3. Select Program.cs, change Build Action -> Content
4. Save the project
5. In the editor, CTRL+Z to undo the changes
6. Close the Solution

Expected: For to be prompted to save changes
Actual: Not prompted to save changes

Not sure what the expectation here is around the Undo stack - should these changes appear in it?

[2017-02-01 01:42] davkean commented on #1401
tag @333fred

[2017-02-01 01:45] abpiskunov commented on #1391
Same happens when you Browse for assembly reference and add it to project , then re-open Add Reference dialog - check box for assembly would not be checked.

[2017-02-01 01:45] davkean opened #1403 "Get prompted to reload editor if you make a change quickly after Saving"
1. File -> New Console App (.NET Core)
2. Right-click Edit
3. Add a new line to the file
4. CTRL+S, then immediately make a change

**Expected:** No prompt
**Actual:**
![image](https://cloud.githubusercontent.com/assets/1103906/22492137/524ea954-e87c-11e6-8d1c-eb3befa0c344.png)

[2017-02-01 01:47] rrelyea commented on #1394
This looks like:
https://github.com/NuGet/Home/issues/4368 - [Feedback] Crashes when changing .NETStandard target
(I wasn't able to repro, but perhaps creating a project from vs2015 and opening in vs2017 would do it?)

[2017-02-01 01:47] 333fred commented on #1401
Hmm, I'd have expected https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Editor/TempFileTextBufferManager.cs#L113 to reset the reiterated version number. I'll look into this.

[2017-02-01 01:48] davkean commented on #1401
Should these show up in the undo stack?

[2017-02-01 01:49] davkean commented on #1401
@srivatsn Put this in 1.0, tell if me if you disagree.

[2017-02-01 01:49] 333fred commented on #1401
I think so; that you can CTRL+Z doesn't surprise me. That it doesn't register the buffer as changed when you does.

[2017-02-01 01:50] 333fred commented on #1401
Where my feelings here are what I think a customer would expect, not necessarily how we expect the internals of VS to work.

[2017-02-01 02:06] davkean commented on #833
Pulling this back in - it's the same fix as Shared Projects fix.

[2017-02-01 02:30] 333fred commented on #1401
I stepped though this offline with David Pugh, and we're both confused as to why this behavior is occurring. @srivatsn, if you think this is RTM-worthy, I'll pick up investigation tomorrow.

[2017-02-01 02:35] davkean commented on #1394
This one is malformed and causing property evaluations to fail. that one is sightly different. Let me see if I can repro.

[2017-02-01 02:38] davkean opened #1405 ""Framework" package is duplicated under NuGet and SDK nodes"
Build: 26131.0.D15Rel

![image](https://cloud.githubusercontent.com/assets/1103906/22493311/8e54e862-e883-11e6-9ee5-792735cc4c34.png)

[2017-02-01 02:40] davkean opened #1406 "Attempting to remove the framework reference results in an Assert"
1. File -> New Class Library (.NET Standard)
2. Expand Dependency -> SDK
3. Right-click on .NETStandard.Library and choose remove

Expected: To not be able to remove it
Actual:

[code]

[2017-02-01 02:44] davkean commented on #1394
Yeah, I don't think these are the same - your repro is a Portable Class Library. I tested the same thing, and we basically treat it as targeting .NETStandard 1.7. and it picks up the 1.6 assets.

[2017-02-01 03:13] davkean opened #1407 "Get 10 - 15 prompts when you edit project inside VS to add an import to a non-existent targets file"
1. File -> New Console App (.NET Core)
2. Right-click -> Edit
3. Add
[code]
4. Save

Expected: An error in the error about missing import
Actual:

10 -> 15 prompts of this dialog:

[code]

[2017-02-01 03:20] davkean opened #1408 "Visual Studio crashes if you add an import to a non-existent targets outside of VS"
(from https://developercommunity.visualstudio.com/content/problem/15241/netcore-project-crashes-vs-when-import-does-not-ex.html)

Visual Studio crashes when I edit a netcore .csproj file outside of Visual Studio and change it to reference a props file that does not exist.

Steps
1. Create a NETCore console app
2. Edit the csproj outside of Visual Studio
3. Add an import to a .props file that conta

[2017-02-01 03:22] davkean commented on #1408
It's strange that https://github.com/dotnet/roslyn-project-system/issues/1407 isn't going down the same path.

[2017-02-01 03:29] davkean commented on #1408
I saw this stack:

[code]

[2017-02-01 03:41] davkean commented on #1408
Okay, this is case the ProjectLockFileWatcher causing an evaluation by accessing a property - this could occur at any time, so it's correct to change ProjectLockFileWriter.

I suspect CPS isn't expecting to get into this state because it will fail up-front if a targets is missing and not expecting us to come along and change this underneath it. Not sure what to do about this @lifengl?

[2017-02-01 05:33] davkean opened #1409 "Create a new Resource (resx) file an error occurs"
This bug is created from customer feedback https://developercommunity.visualstudio.com/content/problem/15297/when-creating-new-resource-resx-file-error-occurs.html

When I create a new Resource file, I get following error: "Custom tool ResXFileCodeGenerator failed to produce an output for input file ... but did not log a specific error.". Project is ASP.NET Core on .NET Framework

[2017-02-01 05:37] davkean opened #1410 "VS2017 RC Refresh doesn't migrate Resources file correctly in asp.net core project"
This bug is created from customer feedback https://developercommunity.visualstudio.com/content/problem/7947/vs2017-rc-refresh-doesnt-migrate-resources-file-co.html

As seen in the screenshot, when importing a Asp.net core project from VS2015, the Resources.* files were not migrated properly, they aren't nested as they were in the VS2015 project.

![image](https://cloud.githubusercontent.com/assets

[2017-02-01 05:41] davkean opened #1411 ".NET Core console app - Rebuild fails, but no errors show (sometimes)"
1. Start VS, open solution from \\karelz2\Public\GitHubBugReport_Core2
2. Rebuild
3. Status bar says "Rebuild All failed"

**Expected:** Errors show up in Error List
**Actual:** Error List is empty - see screenshot. If you look at Output window, you can see the errors were reported during the build.

![image](https://cloud.githubusercontent.com/assets/1103906/22496369/4b2b6d3a-e89d-11e6-9b3a-6358f

[2017-02-01 05:42] davkean commented on #1411
@karelz If you get me a repro for this that would be great.

[2017-02-01 05:48] davkean commented on #1410
@srivatsn This doesn't work because we haven't implemented: https://github.com/dotnet/roslyn-project-system/issues/159

[2017-02-01 05:54] srivatsn commented on #1405
Can you paste in your csproj? I just tried a netstandard library from the template and I don't see the dupe. Same build.

[2017-02-01 05:55] srivatsn commented on #1405
Also I see in the screen that the node under the SDK is not expandable. Sounds like another dataflow issue that may get fixed by https://github.com/dotnet/roslyn-project-system/pull/1392? @abpiskunov

[2017-02-01 05:57] davkean commented on #1405
Oh weird, yeah, I can't repro this now - and the node is expandable. I was hit this all new projects, nothing custom.

[2017-02-01 06:01] davkean commented on #1409
This looks to occur when when RESX generator returns a null output, which it does apparently when it encounters an error.

I can't repro this. Ask the customer for more info.

[2017-02-01 06:07] srivatsn commented on #1401
Ya let's investigate.

[2017-02-01 06:07] davkean commented on #939
Just to be clear, because there was questions as to whether this was still occuring. I'm still hitting this on today's build:

![image](https://cloud.githubusercontent.com/assets/1103906/22496797/ecbe6604-e8a0-11e6-98b9-810a00c9f34d.png)

[2017-02-01 06:12] davkean opened #1412 "Attempting to set a property on SDK results in an error"
1. File -> New -> Console App (.NET Core)
2. Choose Microsoft.NETCore.App
3. In Properties attempt to change on of the values:

![image](https://cloud.githubusercontent.com/assets/1103906/22496880/9fc8f0e8-e8a1-11e6-8662-9776245da82e.png)

An error has occurred while saving the edited properties listed below:
	Copy Payload
One or more values are invalid. Specified method is not supported.

[2017-02-01 06:34] davkean opened #1413 "Implicit assemblies for framework assemblies should also be under SDK node"
We should group the implicit assemblies for framework assemblies under the SDK node as well, similar to what we did with Portable, UWP, etc.

[2017-02-01 06:36] davkean commented on #1413
![image](https://cloud.githubusercontent.com/assets/1103906/22497307/ecb2da38-e8a4-11e6-8797-f1259f747266.png)

However, we should group the assemblies under the node so you can see them.

[2017-02-01 07:04] davkean opened #1414 ""SDKs" show up as packages when they are indirect"
I think this SDK thing is a leaky abstraction, for example, .NETStandard.Library shows up as SDK when it top level, but when it's a indirect, it shows up a package:

![image](https://cloud.githubusercontent.com/assets/1103906/22497905/e88956d6-e8a8-11e6-9528-21f9665c503a.png)

[2017-02-01 07:42] davkean commented on #1347
Where did we land with this? I've confirmed that #1348 is fixed, but I'm still running into this.

[2017-02-01 08:51] dsplaisted opened #1416 "Value for TargetFramework property of project in properties toolbox is a number"
- Open or create a .NET Standard or .NET Core project
- Click on the project in Solution Explorer
- In the properties toolbox, scroll down to the TargetFramework property

EXPECTED: TargetFramework property value matches what's in the project file- ie netstandard1.4, netcoreapp1.0, or similar
ACTUAL: TargetFramework property value is a number, such as 65540 or 65536

![image](https://cloud.githubu

[2017-02-01 09:00] davkean commented on #1416
All of these properties are supposed to show - this one in particular is an implementation detail of the project system.

[2017-02-01 09:00] davkean commented on #1416
Sorry *aren't* supposed to show.

[2017-02-01 09:07] davkean opened #1417 "GeneratePackageOnBuild is persisted as "True" instead of "true""
All other properties are persisted as "true", GeneratePackagesOnBuild is persisted as "True".

[code]

[2017-02-01 09:24] davkean opened #1418 "[Data loss] Changes made to the project in the editor are lost after you've saved it once"
**Repro 1:**

1. File -> New Console App (.NET Core)
2. Edit ConsoleApp1.csproj
3. Add the following:
[code]

4. While the editor is focused choose File -> Save
5. Without saving, change contents to:

[code]

6. Build -> Build Solution

**Expected:** Contents to remain what I typed
**Actual:** Contents are changed back to:
[code]

**Repro 2:**

Starting _after_ step 5 above:

6. Select project in

[2017-02-01 09:27] davkean commented on #1418
@333fred It appears to me after we save the first time, and refresh the project, the project in-memory is being marked dirty.

[2017-02-01 09:28] davkean commented on #1418
This was really annoying - as I was write a target in the project file, and every second time I build, it lost my changes.

[2017-02-01 09:41] davkean commented on #1386
@nguerrera @dsplaisted What's a recommendation for James here? He basically needs our "project overrides package ref" feature that we haven't written yet.

[2017-02-01 09:52] davkean commented on #1349
@jviau how did we go with this?

[2017-02-01 10:36] davkean opened #1419 "Invariant Culture shows up in Assembly Neutral Language list"
Setting it does nothing. This is basically the same as "(None)".

![image](https://cloud.githubusercontent.com/assets/1103906/22503574/827ab6a0-e8c6-11e6-8d68-a38bfebb481c.png)

[2017-02-01 10:43] davkean opened #1420 "Package page duplicates most of it's accelerators (including with the menu bar)"
![image](https://cloud.githubusercontent.com/assets/1103906/22503787/6ed0ecfe-e8c7-11e6-958e-921f9b3bfccd.png)

[2017-02-01 10:52] davkean commented on #1420
This basically means that while this page is open, you can not go directly to any of the top menu items.

[2017-02-01 10:52] davkean commented on #1417
`<PackageRequireLicenseAcceptance>True</PackageRequireLicenseAcceptance>` is also in this bucket.

[2017-02-01 10:55] davkean opened #1421 "Revisit whether we should mark the editor as "read-only" while it's updating"
We mark the editor as read-only while we sync project -> it - and it's quite distracting when you have it open and you're making property page changes in the background (because the size of the tab changes to accommodate the lock icon).

Do we need to do this? How does Roslyn and other features handle this - updating a source file that the user can also edit?

[2017-02-01 12:03] davkean opened #1422 "Should not get offered smart tag to rename, after you've just renamed"
1. Create new Class Library (.NET Standard)
2. Rename Program.cs -> Program2.cs
3. Click Yes when prompted to rename:

**Expected:**

![image](https://cloud.githubusercontent.com/assets/1103906/22506071/9629b7c6-e8d2-11e6-8dc2-6b9436484b4c.png)

**Actual:**

![image](https://cloud.githubusercontent.com/assets/1103906/22506063/8565d03c-e8d2-11e6-80af-42229b9f0ee3.png)

The legacy project system beh

[2017-02-01 12:15] davkean opened #1423 "Transitive references do not show all the time in the Dependency node"
1. File -> New ConsoleApp (ConsoleApp)
2. File -> New Library (A)
3. File -> New Library (B)
4. Add reference from ConsoleApp -> A
5. Add reference from A -> B

**Expected:**
![image](https://cloud.githubusercontent.com/assets/1103906/22506338/06fc5174-e8d4-11e6-878c-f66436592550.png)
**Actual:**
![image](https://cloud.githubusercontent.com/assets/1103906/22506308/d5b592a6-e8d3-11e6-9ab0-790b3d8d6

[2017-02-01 12:24] davkean opened #1424 "Unloading a project doesn't cause downstream projects to get warnings"
1. File -> New Library (A)
2. File -> New Library (B)
3. Reference B from A
4. Unload B

Expected: Project to get a warning symbol and a warning to be added to error list similar to legacy
Actual: Absolutely nothing

![image](https://cloud.githubusercontent.com/assets/1103906/22506592/6f897ffe-e8d5-11e6-83ba-1ef865c04ffc.png)

[2017-02-01 12:28] davkean commented on #1423
Wonder if this related to: https://github.com/dotnet/roslyn-project-system/pull/1392

[2017-02-01 12:45] davkean opened #1425 "Renaming a project that is referenced results in a warning in the error list complaining about old name"
1. Create a new Class Library (A)
2. Create a new Class Library (B)
3. Add a reference from A -> B
4. Rename B -> C

Expected: Reference to updated and no errors or warnings
Actual: Got a warning in the Error List about being unable to resolve the old name:

[code]

[2017-02-01 12:46] davkean commented on #1425
This looks to be a timing thing, probably coming from design-time build.

[2017-02-01 12:59] davkean opened #1426 "Design-time warnings/errors can get stale and stick around"
I've noticed as I start playing around with projects and introducing warnings/errors during design-time - that these can be out-of-date and stale, here's an example:

1. Create a new Console App
2. Create a new Class Library
3. Add a reference from Console App -> Class Library
4. Edit Console App
5. Add a reference to a non-existent project

Expected: A single warning
Actual: Many warnings and as

[2017-02-01 13:01] davkean commented on #1426
Ultimately, I think this is the cause of the majority of the warnings/errors we get from retargeting projects - basically, CPS kicks off a design-build at the wrong time, get an error, and then we never get rid of it.

[2017-02-01 13:01] davkean opened #1427 "Invalid projects refs have the wrong icon in the Dependency tree"
![image](https://cloud.githubusercontent.com/assets/1103906/22507673/c33a95d4-e8da-11e6-987d-121060c9eaef.png)

[2017-02-01 13:06] davkean commented on #1425
Filed this: https://github.com/dotnet/roslyn-project-system/issues/1426, which is probably ultimately the underlying cause - but I do question why a design-time build was launched based on the old snapshot.

[2017-02-01 13:08] davkean commented on #1426
In the above situation, you can never get rid of the design-time warnings.

[2017-02-01 13:16] davkean opened #1428 "Introducing errors when editing the project file by hand is extremely jarring and confusing"
1. File -> New Console App (.NET Core)
2. File -> Edit ConsoleApp1.csproj
3. Enter some saw raw text just after `<Project>` root
4. Save

-- Get prompted with the following --
![image](https://cloud.githubusercontent.com/assets/1103906/22508074/790c7aac-e8dc-11e6-8731-464255e2584b.png)

Clicking Ignore, causes any changes you've made since you last saved to be thrown away
Clicking Reload causes th

[2017-02-01 13:17] davkean commented on #1428
This dialog text doesn't make a lot of sense in this context either.

[2017-02-01 13:23] davkean opened #1429 "When a single project fails to reload, dialog should be shown with the error and Solution Explorer should inline the error"
We're not reloading the project in "interactive" mode, so the solution think the failure is one of many, so doesn't:

1. Show a dialog containing the error
2. List the error under the project

Expected:
![image](https://cloud.githubusercontent.com/assets/1103906/22508387/c4b335bc-e8dd-11e6-974b-36059b3369e6.png)
---------------------------
Microsoft Visual Studio
---------------------------
The el

[2017-02-01 13:40] davkean opened #1430 "Adding project references that already transitive, results in warning icons in Dependency tree"
1. Create A, B, C, D project
2. Reference A -> B -> C -> D
3. Reference A -> C and A -> D

Expected: Everything is normal
Actual:

![image](https://cloud.githubusercontent.com/assets/1103906/22508944/2f9514d4-e8e0-11e6-93e8-2c2bd3021a84.png)

[2017-02-01 13:53] nguerrera commented on #1386
This is https://github.com/dotnet/sdk/issues/364

Cc @mattwar

There's a workaround shown there. Try it with Foo replaced by Newtonsoft.Json.

[2017-02-01 16:58] srivatsn commented on #1249
Closing this in favor of tracking with #766

[2017-02-01 16:58] #1249 closed

[2017-02-01 17:23] abpiskunov commented on #1427
You mean that we need to have a separate "warning icon for project" instead using "warning icon for assembly" icon? If yes, its on my list for U1, i need to get icons form designers.

[2017-02-01 17:25] abpiskunov commented on #1424
why is that expected? project A does have a project B reference which can be resolved. If B is just unloaded in the tool, does not mean it is gone.. isn't it?

[2017-02-01 17:34] abpiskunov commented on #1423
it might be, true. since if you look at the pic B also does not have anything under A project, not only under ConsoleApp A's dependencies are missing. However it might be something else also. I suppose repro steps are the only thing your did? What was the restore status after adding project references? It's is hard to repro in general such things, if you see this (or similar) again , i would reall

[2017-02-01 17:40] abpiskunov commented on #1414
i think everything is as expected. in your screenshot we have an SDK X and it's dependencies, which include an SDK Y. It might have a different icon though when displayed as dependency.

[2017-02-01 17:41] jviau commented on #1349
@davkean how often are you seeing these? Do you have repro steps?

[2017-02-01 17:41] abpiskunov commented on #1414
Btw, i just added <PackageReference Include="NETStandard.Library" Version="1.6.0" /> to my project and it is not marked as implicit at all , and is resolved as package - what did you mean "it is SDK when it is top level"?

[2017-02-01 17:42] abpiskunov commented on #1414
`<PackageReference` Include="NETStandard.Library" Version="1.6.0" />

[2017-02-01 17:45] abpiskunov commented on #1413
hm good point to bring up .. It is not clear actually. You might have implicit assemblies coming from any target - how can you map them to a particular SDK X? It could be not possible .. May be we could keep assemblies under Assemblies node and just mark them with a specific icon "Assembly with some sign" or create a subfolder under Assemblies node "Framework assemblies"?

[2017-02-01 17:49] 333fred commented on #1347
@davkean, it does look like a different issue. What I'm seeing is that the value of the property the page is retrieving really is incorrect, but I've been looking at a few other issues and haven't followed up more on this one.

[2017-02-01 17:53] abpiskunov commented on #1412
that is expected .. since sdk is implicit and CPS can not change property - it's not a project item. All properties should be readonly for all sdk's. I can make this change quickly if it is approved for RTM.

[2017-02-01 17:59] abpiskunov commented on #1406
same as this https://github.com/dotnet/roslyn-project-system/issues/1250 . I can fix that for RTM, its pretty easy, need to remove a flag and Remove command would not be activated for implicit sdks

[2017-02-01 18:01] 333fred commented on #1418
@davkean, I'm reproing either of these on d15rel/26131.01. When you come online could you make sure I'm doing the right steps?

[2017-02-01 18:07] abpiskunov commented on #1405
hm that can happen if sdk changes were in, but matching project system changes are not in. Did you end up there by running your dev version of VS or actual installed VS ? If it was dev version, did you sync it with master at that time? If not - that would what i expect :). i see it on my other machine.

[2017-02-01 19:42] 333fred commented on #1401
Figured this out: https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Editor/TempFileTextBufferManager.cs#L117. I'm resetting the state flags to what they were originally. I need to get the new state flags and reset just the readonly flag.

[2017-02-01 19:53] pranavkm opened #1431 "Conditionally multi-targeting a project causes VS memory to grow unbounded"
Steps to reproduce:

1. Create a new project
2. Edit the project to multi-target where one of the TFMs is conditionally declared

[code]

3. Open the project in VS

VS's memory grows unbounded and the UI is completely frozen. Removing the condition in the `TFM` specification causes the project to load normally.

VS version: 15.0.0-RC.3+26123.0.d15rel

I separately filed a feedback item for this bu

[2017-02-01 19:53] pranavkm commented on #1431
cc @natemcmaster @davkean

[2017-02-01 20:21] rrelyea commented on #1398
Actually, the SDK issue discussion, has led us to understand that 2 other components are already using IsImplicitlyDefined metadata on PackageReference for this same meaning. NuGet is going to adapt our feature to use that name too.
Please listen for changes to that metadata, and call nominate as it changes, etc...

(will update the original post above).

[2017-02-01 21:09] lifengl commented on #1408
The project lock code can happen anywhere inside CPS.  I don't think we can patch all those places to handle this exception.  I think the proper place to do it is in the project reload code (we handle project file change and reload the project file into the system), after reloading it, this code can do some basic verification whether the project file can be evaluated correctly, and take actions wh

[2017-02-01 21:13] abpiskunov opened #1433 "Make IDependencyNode.Children to be immutable"
To avoid potential races we should make IDependencyNode.Children immutable. In RTM we might not have time, we should do it in U1 (It is public interface and there is a dependency in Web project system for Client packages dependencies, i would need to update that one too)

[2017-02-01 21:15] davkean commented on #1405
This was yesterday's build 26131.0 D15REL build, though I cannot repro it.

[2017-02-01 21:19] davkean commented on #1424
To VS it is gone - I now get downstream missing APIs, etc.

[2017-02-01 21:21] davkean commented on #1414
That's my point how we marked SDK'd as SDKs is leaky - it only works if all of them are marked implicit, here .NETStandard.LIbrary is pulled it because of it's referenced by a implicit package.

[2017-02-01 21:21] davkean commented on #1413
@abpiskunov The same way with it in the legacy project system, via the ReferenceGrouping metadata.

[2017-02-01 21:27] davkean commented on #1427
Yes.

[2017-02-01 21:32] davkean commented on #1349
No repro steps, I just created the project in both cases. It didn't happen all the time, and I haven't hit it in newer builds.

[2017-02-01 21:33] lifengl commented on #1384
I saw some hang when you load a large project with the property sheet window open couple month ago.  That is largely because we show some project properties coming from design time build (like assembly version...)  Not sure whether it is still the case.  Making some of those properties hidden will prevent this problem. @jinujoseph, did we make the change into the product?.

[2017-02-01 21:35] lifengl commented on #1384
Also, connected service team fixed one performance problem last Friday, which impacts solution load time, and @BillHiebert  is working a fix for an issue inside .Net Core Web project.  If your solution contains any web project, it might be related.

[2017-02-01 21:40] mattwar commented on #1386
dotnet/sdk#364 does not repro with more recent VS.  Possibly this is already solved too.  The repro I tried had a referenced project building a fake Newtonsof.Json.dll and nuget reference of the actual Newtonsof.Json.dll.  The project wins over the nuget package in the build and in the IDE.

[2017-02-01 21:41] abpiskunov commented on #1405
i can not see it either ..

[2017-02-01 22:06] NTaylorMullen commented on #1384
@lifengl Mvc contains many web projects so that could definitely be a factor.

[2017-02-01 22:39] RaulPerez1 commented on #1071
Fixed via #1402

[2017-02-01 22:39] #1071 closed

[2017-02-01 22:48] #1295 closed

[2017-02-01 22:49] 333fred commented on #1327
I can't repro this locally. Also note, the solution is `Rx.NET.sln`, not `System.Reactive.sln`. The csproj that's created when I exclude the file looks like this:
[code]

[2017-02-01 22:49] #954 closed

[2017-02-01 22:51] davkean commented on #1327
System.Reactive.sln is the solution, have you sync'd to the same commit?

[2017-02-01 22:51] abpiskunov commented on #1405
So what are we doing with this one? I suggest closing it since it was probably a bits mismatch. If we see it again , will reopen.

[2017-02-01 22:52] davkean commented on #1327
Oh, or maybe not - there's definitely a System.Reactive.sln in my tree - but you are right it's wrong solution. I'm trying again on my build.

[2017-02-01 22:53] davkean commented on #1327
Yeah cannot repro this.

[2017-02-01 22:53] #1327 closed

[2017-02-01 22:54] #833 closed

[2017-02-01 22:54] #1325 closed

[2017-02-01 23:49] mavasani opened #1435 "VS crash due to InvalidProjectFileException"
D15PreRel 26130.00

1. Create new C# netcore application.
2. Edit the csproj to add the following property, which contains a new line:

[code]

**Got:** Many consecutive dialogs with following text:

[code]

3. Open the project folder in windows explorer and delete the bin and obj folders.

**Got:** VS crash with following exception.

[code]

[2017-02-01 23:50] mavasani commented on #1435
Not sure if this is a CPS issue or we need to handle invalid BaseIntermediateOutputPath better.

[2017-02-01 23:55] abpiskunov commented on #1412
Proposed fix is to set all SDK items properties to ReadOnly=true for now. There were some boolean flags for old style sdk's that mattered for desktop csproj, but at the moment i am not sure if they would be even used for core; implicit sdk packages would not need property changing for sure. If we want old style SDk to be able to change their properties, we would need to have different xaml rules f

[2017-02-02 00:06] srivatsn commented on #1395
Fixed by #1396

[2017-02-02 00:06] #1395 closed

[2017-02-02 00:06] davkean commented on #1418
Okay, so @333fred  and I sat down and looked at this, we had trouble repro'ing it using my steps, but as part of debugging https://github.com/dotnet/roslyn-project-system/issues/1347 we hit it. It seems like that bug is related.

[2017-02-02 00:08] natidea commented on #1398
This property is already defined in both [PackageReference.xaml](https://github.com/dotnet/roslyn-project-system/blob/bd7580d70d7427875a3bb366f4358a3496d9ef64/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/PackageReference.xaml#L78) and [ResolvedPackageReference.xaml](https://github.com/dotnet/roslyn-project-system/blob/bd7580d70d7427875a3bb366f4358a3496d9ef64/src/Microsoft.V

[2017-02-02 00:08] #1398 closed

[2017-02-02 00:14] abpiskunov commented on #1398
Nuget node should not contain packages that have IsImplicitlyDefined, they showing under SDK node that you are seeing.

[2017-02-02 00:16] davkean commented on #1435
Think this is a general problem, errors during evaluation are leaking in a bunch of places:

https://github.com/dotnet/roslyn-project-system/issues/1408
https://github.com/dotnet/roslyn-project-system/issues/1394

CPS itself probably needs to more resilient to these.

[2017-02-02 00:37] emgarten commented on #1398
Thanks for verifying @natidea, I must be on an older build that didn't have the change yet.

[2017-02-02 01:22] mavasani commented on #1431
This is a dupe of https://github.com/dotnet/roslyn-project-system/issues/547, which I resolved as Won't fix as we didn't have an actual user scenario affected by it.

The issue here is that our TargetFramework project configuration dimension provider determines the set of TFMs by [reading the project xml](http://index/?query=GetOrderedTargetFrameworksAsync&rightProject=Microsoft.VisualStudio.Proje

[2017-02-02 01:33] dsplaisted opened #1436 "Updated Version property not respected in incremental builds in Visual Studio"
- File \ New Project \ .NET Standard Class Library
- Build
- Inspect DLL in output folder, observe that Product Version is 1.0.0 and File Version is 1.0.0.0
- In VS, right click on project and select edit csproj
- Add the following property: `<Version>2.0.0</Version>`
- Save project file
- Build
- Inspect DLL in output folder

**EXPECTED:** Version numbers are 2.0.0 and 2.0.0.0
**ACTUAL:** Version

[2017-02-02 01:36] lifengl commented on #939
@abpiskunov  when you reproduce this bug, can you capture a 32bits heap dump and share with us?  I spent several hours to introduce delays in CPS code, but could not repro.  It is not actionable on our side until we have a solid repro or a dump.

[2017-02-02 01:38] davkean commented on #939
I can repro it pretty consistently- I'll add a dump. Give where we are, we're going to punt this to 1.1.

[2017-02-02 01:47] davkean commented on #1436
When I was testing this - the AssemblyInfo wasn't being regenerated both via a design-time build or via a build.

[2017-02-02 01:47] davkean commented on #1436
Once I did a rebuild, however, all future changes worked.

[2017-02-02 01:48] lifengl commented on #1042
I tried this scenario, and it does not crash VS, but is reported as a NFE error.  In RTM, showing any file outside of project cone without the link metadata is cut, so I don't think fixing it will reduce much value (as the editing the project to an unsupported way, and it is not a crash, but an error message box.  Basically, I don't think it meets the RTM bar.

[2017-02-02 01:49] JamesNK commented on #1386
Ok, I'll try it tonight

[2017-02-02 01:58] dsplaisted commented on #1436
This is possibly due to the same underlying issue as https://github.com/dotnet/roslyn-project-system/issues/1418

[2017-02-02 02:35] davkean opened #1437 "We should be respecting $(ProjectAssetsFile)"
We find the assets files ourselves in the ProjectLockFileWatcher. We shouldn't be doing that, we should respecting $(ProjectAssetsFile).
See: https://github.com/NuGet/Home/issues/4463#issuecomment-276832985

[2017-02-02 03:13] davkean commented on #1431
Until we've figured 2), can we do something tactical here to not block VS and maybe just ignore the one that we can't resolve?

[2017-02-02 04:24] iskiselev opened #1438 "Builds are not skipped when up-to-date"
Looks like VS 2017 RC3 doesn't skip build of project, even if nothing was changed, at least for Microsoft.NET.Sdk - based projects.
I have solution with 13 projects (4 target frameworks for one of them and 2 target frameworks for others).
It takes 2 minutes to build it for each consequence build, even if I don't change anything.

[2017-02-02 04:38] davkean commented on #1438
There's two issues that we're aware of:

- The first was that the output was always considered out of date: https://github.com/dotnet/roslyn-project-system/issues/825.  This will be fixed in the next public build. You can test this by setting $(UseHostCompilerIfAvailable) to true in each project to see if this speeds up your build.

- The second is that unlike legacy project system, we call MSBuil

[2017-02-02 05:14] davkean opened #1439 "Projects implicitly get a RELEASE constants, but treated differently to DEBUG"
![image](https://cloud.githubusercontent.com/assets/1103906/22537909/ac13526e-e962-11e6-9e63-b7aff2dc1491.png)

Notice the DEBUG check box, we should have one for RELEASE or treat DEBUG the same as we treat RELEASE.

[2017-02-02 05:23] davkean opened #1440 "If you customize conditional constants, and then switch targets, the "implicit" constants get baked in"
1. File -> New -> Class Library (.NET Standard)
2. Project Properties -> Build -> Add ";FOO" to conditional symbols
3. Retarget from .NET Standard 1.4 -> .NET Standard 1.6
4. Close Project Properties
5. Reopen Project Properties -> Build
6. Constants are even though I'm targeting 1.6:

[code]

Really think we need to rethink how this works - CPS has support for this with the properties, you add th

[2017-02-02 05:24] JamesNK commented on #1386
I get the same warnings and error messages after adding the XML work around.

[code]

[2017-02-02 05:26] davkean opened #1441 "Should be able to select multiple projects and choose Edit..."
1. Create two projects
2. Select both in Solution Explorer and while holding selecting, right-click on one of them

Expected: To be able to edit them all
Actual: No edit:

![image](https://cloud.githubusercontent.com/assets/1103906/22538143/5ed099e2-e964-11e6-91a2-8c4da8dd95c4.png)

[2017-02-02 05:27] davkean opened #1442 "Should be to select multiple projects and pack"
1. Create two projects
2. Select both in Solution Explorer and while holding selecting, right-click on one of them

Expected: To be able to pack them all
Actual: Can build, but no pack

![image](https://cloud.githubusercontent.com/assets/1103906/22538143/5ed099e2-e964-11e6-91a2-8c4da8dd95c4.png)

[2017-02-02 05:29] iskiselev commented on #1438
@davkean, thank you for information and advice.
With `<UseHostCompilerIfAvailable>true</UseHostCompilerIfAvailable>` same build takes only 21 second. But to achieve this I also had to remove Microsoft.Net.Compilers NuGet package (we used it to be sure, that on all environments we use same compiler version).

[2017-02-02 05:30] davkean commented on #1438
Why did you need to remove the package? What happened with it?

[2017-02-02 05:32] iskiselev commented on #1438
Before I removed this package build speed has not changed and I have not seen in detailed output string:
[code]

[2017-02-02 05:33] davkean commented on #1438
Is the speed the same before or after you remove the package but without the property set?

[2017-02-02 05:41] iskiselev commented on #1438
@davkean, yes, property doesn't change anything. Only removing of package was responsible for speed improvement. Setting property doesn't affect on compilation speed.
For reference, I used Microsoft.Net.Compilers/1.3.2,

[2017-02-02 05:43] davkean commented on #1438
Okay, I suspect your running in the issue that they aren't NGEN'd, combined with the fact that we were calling it every time due to the first issue I called out above.

[2017-02-02 08:28] davkean commented on #1386
@mattwar Bear in mind that externals are running RC3.

[2017-02-02 08:50] JamesNK commented on #1386
Hey, you can't call us externals. That's our word.

[2017-02-02 08:51] davkean commented on #1386
Fixed.

[2017-02-02 09:06] mavasani commented on #1431
I am wondering if even 2) will help, as we will eventually need an evaluation at unconfigured project level to compute configurations.

Yes, but is this a mainline scenario? Would it be better to just add this to release notes that TFMs cannot be conditioned for this release? If we ignore the conditioned properties, user would still be confused why it never worked as we don't generate any such dia

[2017-02-02 09:09] davkean commented on #1431
Then add a diagnostic or fail the load. This really isn't ideal behavior to continue to consume memory until we crash.

[2017-02-02 09:12] mavasani commented on #1159
@davkean I am unable to repro this anymore. I always see a NuGet dependency Microsoft.NETCore.App (1.1.0) for both netcoreapp1.0 and netcoreapp1.1 TF values.

![image](https://cloud.githubusercontent.com/assets/10605811/22543222/8b0d12f4-e8e4-11e6-8f4e-b27fb809b5b5.png)

[2017-02-02 09:16] mavasani commented on #1159
If I switch between netcoreapp1.0 and netstandard1.4 and then back to netcoreapp1.0, I do see the correct NuGet dependency for both the switches. Please re-open this issue if you can still repro it on latest bits.

[2017-02-02 09:16] #1159 closed

[2017-02-02 09:20] davkean commented on #1159
@mavasani That build that you are testing with isn't current - you don't have SDK.

[2017-02-02 10:56] niemyjski opened #1443 "VS2017 RC3: Failure to update many projects from project.json to csproj"
##Repro steps:

git clone https://github.com/exceptionless/Exceptionless.Net

Open the .sln file in VS 2017 RC3
Migrate the project.json based projects to .csproj.

##Expected Results

The migration should succeed.

##Actual Results

UpgradeLog.htm.txt

Many projects fail to upgrade

[2017-02-02 11:29] davkean commented on #1443
https://github.com/exceptionless/Exceptionless.Net/commit/31ef359ae1f778c7c0a39a268323ad1f3c12381a

[2017-02-02 11:34] davkean commented on #1443
Thanks, we'll take a look.

[2017-02-02 11:37] srivatsn commented on #1041
This has been fixed in CPS. I verified on the latest build that the attached repro project loads fine.

[2017-02-02 11:37] #1041 closed

[2017-02-02 12:12] mavasani opened #1445 "Get compiler errors on changing TargetFramework"
1. Create new .NET Standard library
2. Right-click project and choose Edit ClassLibrary1
3. Change target framework from `<TargetFramework>netstandard1.4</TargetFramework>` to `<TargetFramework>net45</TargetFramework>`
4. Save project

Expected: No errors
Actual: Get the below intellisense errors and squiggles.

[code]

[2017-02-02 12:13] mavasani commented on #1252
I have separated out the issue for compiler errors on changing target framework: https://github.com/dotnet/roslyn-project-system/issues/1445

[2017-02-02 12:15] mavasani commented on #1252
@srivatsn Is the original issue about stale missing target error from failed design time build going to be tracked by https://github.com/dotnet/roslyn-project-system/issues/1426?

[2017-02-02 12:23] srivatsn commented on #1252
I suppose if we fix that, this might go away.. Let's keep this issue open until we fix that and verify.

[2017-02-02 12:24] mavasani commented on #1384
@NTaylorMullen @Eilon were you able to get any perf traces for the UI delays that we can investigate? Summarizing the current set of identified issues:

1. PropertyBrowser UI delay on open solution (intermittent): @jinujoseph is working on a fix. Jinu, do you have a tracking bug?
2. Connected service team issue, impacting solution load for web projects.
3. Test Window UI delay on open solution, an

[2017-02-02 13:00] mavasani commented on #1159
I moved to today's build and see the same behavior. In all the above steps, the NuGet SDK reference is to Microsoft.NETCoreApp 1.1

![image](https://cloud.githubusercontent.com/assets/10605811/22550330/5ee5a900-e904-11e6-9457-019b57bca85c.png)

[2017-02-02 15:23] srivatsn commented on #1250
This is a general issue though. If there's an assembly ref coming from a targets file, we'll still see this error. We'll basically need to tag all refs coming from targets files with the DoesNotSupportRemove flag.

[2017-02-02 17:13] krwq opened #1447 "VS doesn't restore on build/rebuild"
Repro:
- Clone https://github.com/aspnet/antiforgery and sync (i.e. git reset --hard) to 5cb5178619d9211eee0722d8737b425e2eec1375 (this is currently dev~2 or pre-migration)
- Open sln found in the root
- Migrate project when VS asks you to do so
- Build/Rebuild
- Notice that restore doesn't happen and errors that the project is not restored

VS build: 15.0.0-RC.4+26130.1.d15rel
I have previously t

[2017-02-02 17:52] NTaylorMullen commented on #1384
@mavasani I haven't been able to yet. Upgraded my VS and things seem to be broken. Trying to get back to a state where I can gather that info.

[2017-02-02 18:03] 333fred commented on #1443
RC3 was affected by this bug: https://github.com/dotnet/roslyn-project-system/issues/1376. Confirmed the issue does not repro on latest internal builds, I have a clean migration report.

However, I am not seeing a NuGet restore getting kicked off for the project, build is complaining about missing `package.assets.json`. @srivatsn @natidea

[2017-02-02 18:47] 333fred commented on #1441
To support this, we'll have to make https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Input/Commands/EditProjectFileCommand.cs support multiple projects, which I assume involves making it not sit at the UnconfiguredProject level?

[2017-02-02 18:54] 333fred commented on #1443
I'm going to close this issue, since the original problem is fixed. The NuGet issue appears to be the same one filed by @krwq: https://github.com/dotnet/roslyn-project-system/issues/1447.

[2017-02-02 18:54] #1443 closed

[2017-02-02 18:55] 333fred commented on #1447
@srivatsn I've labelled as blocking release, as this seems like a rather bad one.

[2017-02-02 18:59] 333fred commented on #1447
Another project that demonstrates this issue: https://github.com/exceptionless/Exceptionless.Net/commit/31ef359ae1f778c7c0a39a268323ad1f3c12381a.

[2017-02-02 19:38] jinujoseph opened #1449 "Dependency Tree error for the first time ..."
Create a solution with Unit Test (.Net Framework) and ASp.Net Core Web Application (.Net Core)
Build

Got this error

![image](https://cloud.githubusercontent.com/assets/12449387/22565031/96ec2dec-e93b-11e6-8679-ea68d673b842.png)

logs captured here : \\mlangfs1\public\Jinuj\Log\VsProjectFault_e5ad7b01-2e71-42f2-8a60-13aa80853cc1.failure.txt

**Build :** 26201.1.d15rel
Note: Happened only once, Co

[2017-02-02 19:44] srivatsn commented on #1447
@natidea can you take a look to see if we're not nominating or if restore is not happening?

[2017-02-02 20:46] heejaechang opened #1450 "converting portable to .net standard hang VS for several seconds"
drop used
![image](https://cloud.githubusercontent.com/assets/1333179/22568543/09200480-e949-11e6-89dc-5272de4e2f3a.png)

git clone https://github.com/dotnet/roslyn-analyzers
and sync to 43d9e94a8cd44b9fb3a9fa204b096fce5f2c85b4
go to either Analyzer.Utilties or Dependencies\CodeAnalysis and convert the portable projects to .net standard project through property page.

it will make vs to hang for s

[2017-02-02 21:10] heejaechang opened #1451 "building project that is converted to .net standard project shows build error"
it is related to https://github.com/dotnet/roslyn-project-system/issues/1450

once project has converted, trying to build the project shows this error

2>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(1556,5): error MSB5016: The name ".NETStandard,Version" contains an invalid character ".".  C:\Program Files (x86)\Microsoft V

[2017-02-02 21:35] niemyjski opened #1452 "GeneratePackageOnBuild=True: Ability to also specify package folder"
Would be great if I could specify a path as well... Or maybe if a path is specified packages are just built....

[2017-02-02 21:36] niemyjski commented on #1385
Any reason why you'd be targetting your app as both netstandard and netcoreapp1.0? I have a test project that has tests but is also a reference and I'm running into issues where my tests aren't discovered. Which makes me think I need to do something like this but it doesn't make sense to build both.

[2017-02-02 22:01] #1405 closed

[2017-02-02 22:01] davkean commented on #1441
Yeah, I'm not sure.

[2017-02-02 22:05] srivatsn commented on #1416
Yes this will get hidden #389

[2017-02-02 22:05] #1416 closed

[2017-02-02 22:13] srivatsn commented on #1423
Can you verify if this still repros?

[2017-02-02 22:17] davkean commented on #1159
Yeah, I played around with a lot last night, and am convinced it's not present anymore.

[2017-02-02 22:25] davkean commented on #1450
This issue was moved to dotnet/roslyn#16910

[2017-02-02 22:25] davkean commented on #1450
This issue was moved to dotnet/roslyn#16911

[2017-02-02 22:26] #1450 closed

[2017-02-02 22:26] davkean commented on #1451
This issue was moved to dotnet/roslyn#16912

[2017-02-02 22:26] #1451 closed

[2017-02-02 22:28] davkean commented on #1452
This issue was moved to NuGet/Home#4480

[2017-02-02 22:28] #1452 closed

[2017-02-02 22:46] #1401 closed

[2017-02-02 23:24] natidea commented on #1447
NuGet is being nominated correctly for all the projects, but I do not see any project.assets.json generated. Let me get some logs to determine if there is a NuGet error.
/cc @alpaix @rrelyea

[2017-02-02 23:26] #1438 closed

[2017-02-02 23:28] davkean commented on #1411
@karelz Can you get a repro for this?

[2017-02-02 23:33] jinujoseph opened #1454 "System.NullReferenceException: Object reference not set to an instance of an object"
I have seen this error couple of times, random occasion while changing the TFM.

![image](https://cloud.githubusercontent.com/assets/12449387/22573368/84210d1e-e95d-11e6-9168-9e2110fafbd6.png)

Logs here
\\mlangfs1\public\Jinuj\Log\ReportError

Exception

at Microsoft.VisualStudio.LanguageServices.Implementation.TaskList.ProjectExternalErrorReporter.ReportError2(String bstrErrorMessage, String bst

[2017-02-02 23:38] davkean commented on #1454
This is https://github.com/dotnet/roslyn/issues/16612.

[2017-02-02 23:39] #1454 closed

[2017-02-02 23:42] mavasani commented on #1248
Dupe of https://github.com/dotnet/roslyn-project-system/issues/1445

[2017-02-02 23:42] #1248 closed

[2017-02-02 23:48] jinujoseph opened #1455 "when multiple TFMS inside TargetFramework"
![image](https://cloud.githubusercontent.com/assets/12449387/22573651/d87ea97e-e95e-11e6-8ecb-49e4dba38c59.png)

should not we be displaying just the highlighted error

Build: 26201.1.d15rel

[2017-02-02 23:50] mavasani commented on #1252
Moving to @davkean to fix/verify as part of #1426 (stale design time diagnostics)

[2017-02-02 23:59] jinujoseph opened #1456 "Dependencies are confusing with multiple TFMS"
With .NetStandard1.4 as first TFM
![image](https://cloud.githubusercontent.com/assets/12449387/22573749/460580a8-e95f-11e6-8bd2-c5b93a97038c.png)

with
` <TargetFrameworks>netcoreapp1.0;netstandard1.4;net452</TargetFrameworks> `  when netcoreapp1.0 is first tfm both nuget and SDK node shows NetCore
![image](https://cloud.githubusercontent.com/assets/12449387/22573814/b2bf1164-e95f-11e6-8361-d26c0e

[2017-02-03 00:02] davkean commented on #1455
I filed https://github.com/dotnet/sdk/issues/799 to track this. Even that error is not correct, the user specified multiple.

[2017-02-03 00:05] davkean commented on #1455
Also filed this about inferring .NET Framework: https://github.com/dotnet/sdk/issues/798.

[2017-02-03 00:05] #1455 closed

[2017-02-03 00:30] alpaix commented on #1447
Duplicate to NuGet/Home#4419. The fix will be inserted into VS soon.
As a temporary workaround add `$(PackageVersion)` property to every .csproj file in the solution
[code]

[2017-02-03 00:35] srivatsn commented on #784
I assume this is the same as https://github.com/dotnet/roslyn-project-system/issues/1445

[2017-02-03 00:37] abpiskunov commented on #1250
Yes, let's keep this issue opened, since my change fixes only packages and sdk. Other types of dependencies don't have metadata yet to differentiate them in the tree provider.

[2017-02-03 00:40] natidea commented on #1447
Here is the NuGet Exception:

This was introduced by this PR: https://github.com/NuGet/NuGet.Client/pull/1146

Inspecting the project after migration, I see:

| TFM           | PackageVersion |
| ------------- | -------------- |
| net451        | 1.0.0.0        |
| netcoreapp1.1 or netstandard1.3 | 1.2.0 or 1.0.0 |

This is what is causing this exception. I was able to resolve this by removing the

[2017-02-03 00:43] abpiskunov commented on #1423
I investigated that further and found a potential issue here , testing a fix right now.

[2017-02-03 00:44] abpiskunov commented on #1424
i see, Ok i will check what events we receive from DT build if project is unloading...

[2017-02-03 00:47] roryprimrose commented on #1385
I was wanting to cover netstandard1.2 to include support for 4.5.2 and then netcoreapp1.0 to cover 4.6.2 and netcore. I was using the table at http://andrewlock.net/understanding-net-core-netstandard-and-asp-net-core/#netstandardanevolutionofpcls as the reference point.

That is the long answer. The short one is that I don't know what I'm doing :)

[2017-02-03 00:47] #1406 closed

[2017-02-03 00:47] #1412 closed

[2017-02-03 00:50] alpaix commented on #1447
We need better error handling for parsing errors. It was assumed initially all exceptions from the Nominate API would be caught without crashing VS. This story is also covered in NuGet/Home#3870.

[2017-02-03 00:53] abpiskunov commented on #1456
This is bigger issue than just Dependencies tree. It should be done on sdk level first to have a consistent story for multi-targeting and how all project items are resolved.evaluated for given set of TFMs. Then we could receive correct data and display it. I suggest to open matching issue in sdk repo and keep this one for tracking to apply corresponding changes, when some work is done there.

[2017-02-03 00:56] natidea commented on #1447
@alpaix To clarify, this does not crash VS, it just breaks restore. But I think that's what you meant.

I believe the fix to NuGet/Home#4419 only covers the case where the conflict is between 1.0.0.0 and 1.0.0. In the first sample, the entry `<VersionPrefix>1.2.0</VersionPrefix>` is in some projects post migration and this appears to only set PackageVersion for the netcoreapp TFMs. A simple repro

[2017-02-03 01:12] abpiskunov opened #1457 "Eternal restore loop"
Open solution in this zip file: \\vwdbuild01\Temp\antonpis\repro\RestoreLoopRepro.zip . It would start restore, restore fails and would start again - never stopping restore loop.

I saw that on VS d15rel 26131.1.

[2017-02-03 01:13] abpiskunov commented on #1457
@srivatsn @davkean  FYI, not sure if it is known , but probably would be release blocking ...

[2017-02-03 01:19] davkean commented on #1447
Should we move this over to NuGet (you can use: https://github-issue-mover.appspot.com/)

[2017-02-03 01:27] abpiskunov commented on #1449
Seems like we still missing a scenario when data sources versions are not in sync. I looked at my changes again and i think i know what it maybe - will need play with it more.

[2017-02-03 01:49] srivatsn commented on #1456
I don't understand the comment - can you explain what needs to happen in the SDK? Today, I assume there's a design time build running for all configurations and collecting all the packagerefs right? If so, shouldn't those items already have the new metadata set on them?

[2017-02-03 01:53] natidea commented on #1447
This issue was moved to NuGet/Home#4487

[2017-02-03 01:54] #1447 closed

[2017-02-03 02:46] davkean opened #1458 "Projects have 6 configurations by default"
Found via https://twitter.com/Nick_Craver/status/827324233353195521.

Previously, projects had two configurations:

[code]

With this change: https://github.com/dotnet/sdk/commit/e84a17d3257499293971ef4ae9aabf7b8692c65a, we inadvertently caused you to have 6 configurations:

[code]

If you have two TFMs, say netcoreapp1.0 and net45, then this doubles, and you end up with 12 under the covers (only

[2017-02-03 02:47] davkean commented on #1458
tag @srivatsn @dsplaisted @nguerrera

[2017-02-03 02:48] rrelyea commented on #1447
why does migrate put the version into versionprefix?

[2017-02-03 03:01] davkean opened #1459 "Sometimes get an error when you try to click Advanced... on Build page"
On the build page, you sometimes get an error when you click Advanced...:

[code]

Stack:
[code]

Code:
[code]

I ran into this on a couple of projects but I had trouble repro'ing once I unloaded the project. @lifengl also ran into this.

[2017-02-03 03:09] dsplaisted commented on #1440
So you're saying we should add these implicit compilation constants in a target instead of evaluation.  That would be an SDK change, right?  Is there anything that would need to change in the Roslyn repo for this?

[2017-02-03 03:10] nguerrera commented on #1458
Why does that change have that effect?

[2017-02-03 03:11] davkean commented on #1440
I'm not sure. We can certain customize when we ask for the property - ie we can tell CPS get the value of the property at the point it is defined in the project (ie don't ready targets).

[2017-02-03 03:13] nguerrera commented on #1458
Ah. I see it's the conditions that set PlatformTarget.

[2017-02-03 03:13] dsplaisted commented on #1431
It's going to be pretty common for people that want to multi-target but also want to build on non-Windows OS's, since we don't support targeting .NET Framework when building outside of Windows right now.  We [do this in the SDK](https://github.com/dotnet/sdk/blob/9640cabe0b20306c821dabf46ab7e7ef3c086c51/src/Tasks/Microsoft.NET.Build.Tasks/Microsoft.NET.Build.Tasks.csproj#L13-L14), for example.

[2017-02-03 03:55] davkean opened #1460 "[Configurations] Cannot remove a configuration"
1. File -> New Class Library (.NET Standard)
2. Right-click Solution, choose Configuration Manager...
3. In Configuration Manager, drop Configuration drop down and choose Edit...
4. Select Debug and click Remove, and yes to the prompt
5. Click Close

**Expected:** Debug configuration to be removed
**Actual:** Debug configuration is not removed

[2017-02-03 03:56] davkean opened #1461 "[Configurations] Cannot rename a configuration"
1. File -> New Class Library (.NET Standard)
2. Right-click Solution, choose Configuration Manager...
3. In Configuration Manager, drop Configuration drop down and choose Edit...
4. Select Debug and click Rename, and enter "Debug2", click OK and Yes to the prompt
5. Click Close

**Expected:** Debug configuration to be renamed
**Actual:** Debug configuration is not renamed

[2017-02-03 04:04] davkean opened #1462 "[Configurations] Copying from a existing configuration does not work"
This bug was filed assuming that this issue is fixed: https://github.com/dotnet/roslyn-project-system/issues/1458.

1. File -> New Class Library (.NET Standard)
2. Right-click Solution, choose Configuration Manager...
3. In Configuration Manager, drop Configuration drop down and choose New...
4. Enter a name "Debug2",  and choose Copy Settings from Debug
5. Uncheck create new solution configuratio

[2017-02-03 04:33] niemyjski commented on #1385
You should just have to do `netcoreapp1.0;net452`

[2017-02-03 05:21] davkean opened #1463 "Get multiple warnings/errors when referencing Portable-based .NET Standard -> CPS-based .NET Standard"
1. Reference Portable-based .NET Standard 1.4 -> CPS-based .NET Standard library 1.4

[code]

[2017-02-03 05:23] davkean commented on #936
I've submitted a fix for the portable block. We no longer block in this case, and let the reference succeed to fall back to the normal p2p checks during design-time builds/builds.

I've filed: https://github.com/dotnet/roslyn-project-system/issues/1463 to track the warnings that I see when we let this reference succeed.

@onovotny There is no WP8 SL project in VS 2017 - did you file that above bef

[2017-02-03 05:28] davkean commented on #1463
These turn into errors if you build:
[code]

[2017-02-03 05:36] davkean commented on #1463
@nguerrera Seem familar? is the portable regression?

[2017-02-03 05:37] nguerrera commented on #1463
Fix inserted today

[2017-02-03 05:40] roryprimrose commented on #1385
Is there a reason that I can't target netstandard? Is this not allowed/supported? For example, what if I wanted my library to support Windows Phone 8.1, net452 and netcoreapp1.0. Isn't that what netstandard1.2 is for?

The solution now compiles, but the package creation only includes the netcoreapp1.0 package while the build output directory contains both netcoreapp1.0 and netstandard1.2. Am I mis

[2017-02-03 05:46] nguerrera commented on #1463
The package downgrade should also get fixed by a change Daniel is making

[2017-02-03 06:07] JamesNK opened #1464 "VS2017RC3 - Dependencies aren't grouped per target framework in Solution Explorer"
Dependencies from all the target frameworks appear to be grouped together in the solution explorer. It makes figuring out dependencies for a single target framework impossible without examining the csproj file, and makes a task like searching for a package name among the transitive dependencies less useful because there is no easy way to find out which target framework it is being included with.

[2017-02-03 12:51] onovotny commented on #936
@davkean In GitHub.com/onovotny/zeroconf, the dev branch, there's a ZeroconfTest.WP project that's WP8 SL. It may not have full editors, but it definitely still compiles by using the language targets.

I'm still seeing that issue with `GetPackagingOutputs` on it.

[2017-02-03 12:56] rrelyea commented on #1447
@piotrpMSFT - should migration do a fix here. multitargetting projects that mix netfx and netcore-ish TFMs will hit a restore error.

Potential Fix:
have migration use version instead of versionprefix when migrating 1.67.0.* from project.json.
or similar...

Workaround:
Have user change x.y.z in migrated multitargetting project to x.y.z

[2017-02-03 14:28] niemyjski commented on #1385
Yes, please read this (http://stackoverflow.com/questions/36962930/whats-the-difference-between-the-new-netstandardapp-and-netcoreapp-tfms) I believe for the test runners to pick up different runtimes you need to specify the correct host. netcoreapp is the correct runtime host for net standard

[2017-02-03 17:22] abpiskunov commented on #1464
@srivatsn @davidfowl @sayedihashimi FYI

[2017-02-03 18:21] nguerrera commented on #1463
Looks like the insertion didn't go through to the right place. cc @AndyGerlicher

[2017-02-03 18:46] nguerrera commented on #1463
Disregard earlier (now deleted) comment about insertion not going in. It is in d15rel latest.

[2017-02-03 18:52] NTaylorMullen commented on #1384
@mavasani after updating VS (d15rel) every sln I now open results in: `Error occurred while restoring NuGet packages: The operation failed as details for project SomeProjectName could not be loaded.` Upon unloading that project the error then moves to the next project.

I've tried workarounds mentioned [here](https://github.com/dotnet/roslyn-project-system/issues/1293) but no luck.

[2017-02-03 18:53] 333fred commented on #1399
Fixed with https://github.com/dotnet/roslyn-project-system/pull/1400.

[2017-02-03 18:53] #1399 closed

[2017-02-03 21:08] 333fred commented on #1029
@srivatsn I didn't get to this before today, so I'm moving it out to 1.1. Let me know if you think otherwise.

[2017-02-03 21:20] 333fred commented on #996
Dupe of internal bug [238474](https://devdiv.visualstudio.com/DevDiv/_workitems?id=238474&_a=edit). The profiler team is aware of this, but won't be able to get to it for RTM.

[2017-02-03 21:20] #996 closed

[2017-02-03 22:27] mavasani commented on #547
Re-activating this issue, as unless this is fixed, we cannot support cases where TargetFramework or TargetFrameworks needs an evaluation to get the correct property value.

[2017-02-03 22:49] #1431 closed

[2017-02-03 23:31] natemcmaster commented on #1431
Follow up question to clarify what was fixed.

Since CPS still parses XML, does this mean only the unconditioned TargetFrameworks property is identified? If so, will this work better?
[code]

[2017-02-03 23:33] mavasani commented on #1431
Yes, that is correct.

[2017-02-03 23:34] natemcmaster commented on #1431
Ok, thanks. Should there be a follow-up issue to make conditional TargetFrameworks work?

[2017-02-03 23:40] mavasani commented on #1431
Yes, I re-opened and added comment to https://github.com/dotnet/roslyn-project-system/issues/547#issuecomment-277379863

[2017-02-03 23:43] srivatsn opened #1467 "XAML files are not supported"
_From @tannergooding on February 3, 2017 22:56_

Attached is a simple repro solution.
[WpfCps.zip](https://github.com/dotnet/sdk/files/751729/WpfCps.zip)

Issue 1: XAML files are treated as `None`, when they should be treated as `Page` with `Generator=MSBuild:Compile` and `SubType=Designer` metadata.
Issue 2: `Page` items are not visible in the Solution Explorer
Issue 3: xaml.cs files are not prop

[2017-02-03 23:43] srivatsn commented on #1467
_From @tannergooding on February 3, 2017 22:56_

FYI. @srivatsn, @jinujoseph, @nguerrera

[2017-02-03 23:43] srivatsn commented on #1467
_From @tannergooding on February 3, 2017 22:57_

This completely blocks the porting of WPF based applications to CPS (I imagine it would also block UWP and anything else that uses XAML).

[2017-02-03 23:43] srivatsn commented on #1467
Yes WPF and any other desktop projects are not supported yet. Currently only .NET Core projects are supported.

[2017-02-03 23:53] NTaylorMullen commented on #1384
Found the cause of my issue mentioned above: https://github.com/NuGet/Home/issues/4496. Working on getting ETL traces for an already restored project.

[2017-02-03 23:55] #1449 closed

[2017-02-04 00:09] natemcmaster commented on #1431
Thanks, I'll track that issue now.

[2017-02-04 00:15] NTaylorMullen commented on #1384
Got a few ETL traces. Opening MVC after it already being restored took nearly 10 minutes, here's the ETL: ‪\\NTaylorMullen\SHARED\ETLVS\MvcOnOpen.etl.zip

Next I tried building MVC, It's still going with progress bar not even half way so I stopped it at almost the 25 min mark, here's the ETL: ‪\\NTaylorMullen\SHARED\ETLVS\MvcBuild.zip

For both of these experiments I had the following windows focu

[2017-02-04 00:54] natidea commented on #1457
@abpiskunov I don't see this problem on d15rel.26202.1. Can you confirm it is fixed for you in that build? Closing for now.

[2017-02-04 01:00] mavasani commented on #1384
@NTaylorMullen I see TestWindow and CPS design time builds on your trace, most of the time devenv is blocked on msbuild. I'll forward you instructions to patch your machine with TestWindow fix, and you can give it a try again and share new traces?

[2017-02-04 01:15] NTaylorMullen commented on #1384
@mavasani sounds good.

[2017-02-04 01:16] mavasani commented on #1384
For the build scenario, I see that almost 90% of time is spent in trying to write to the output window `Microsoft.VisualStudio.ProjectSystem.VS.Implementation.VsOutputWindowTextWriterFactory+OutputWindowTextWriter+OutputStringAndCompletion.WriteToOutput`:

[code]

@lifengl @jviau Can CPS investigate this?

[2017-02-04 01:18] NTaylorMullen commented on #1384
@mavasani I do have diagnostics on. That could be the reason for that.

[2017-02-04 01:21] ravipal commented on #1332
We have a workaround, so it is not blocking the RTM.
But ideally, we would like to not have workaround, so if it feasible, please fix this in RTM.

[2017-02-04 01:22] davkean commented on #1457
We've got another repro of this, more details forthcoming.

[2017-02-04 01:24] davkean commented on #1464
Yeah, thanks James, we're aware of this - still trying to come up with a design.

[2017-02-04 01:24] srivatsn commented on #1384
Ya Dave had filed https://github.com/dotnet/roslyn-project-system/issues/1242. Can you try with Diagnostics offset to minimal?

[2017-02-04 01:32] srivatsn commented on #1349
CPS has checked in a fix for this.

[2017-02-04 01:32] #1349 closed

[2017-02-04 01:33] mikeharder commented on #1457
It repros for me on `15.0.26202.1 D15REL`.  Repro project at https://github.com/mikeharder/HelloWorldNetCoreApp2.

One thing unusual about my project is `TargetFramework=netcoreapp2.0` and `RuntimeFrameworkVersion=2.0.0-*`.

[2017-02-04 01:37] mikeharder commented on #1457
`dotnet restore` from the command line works fine:

[code]

[2017-02-04 01:43] mikeharder commented on #1457
Build error in VS:
[code]

Output Window:
[code]

[2017-02-04 01:46] mikeharder commented on #1457
[code]

Perhaps the root cause in my repro, is that the `netstandard.library` build being used is not signed?

[2017-02-04 01:46] mavasani commented on #1242
https://github.com/dotnet/roslyn-project-system/issues/1384#issuecomment-277405543 We are spending most time in kernelbase!strlenW

[2017-02-04 01:52] abpiskunov commented on #1457
@natidea  try to remove all obj/bin/.vs folders  form teh solution form all projects, close VS and open solution again - that worked for me everytime to get that repro

[2017-02-04 02:01] mikeharder commented on #1457
@natidea @abpiskunov: The solution from Anton does **not** repro on my install of `15.0.26202.1 D15REL`.

[2017-02-04 02:25] eerhardt commented on #1457
@ericstj @weshaggard for the signing of the net standard package

[2017-02-04 02:28] natidea commented on #1457
I was able to repro with @mikeharder 's project, but still can't repro with Anton's. Issue went away when I switched target framework to netcoreapp1.0

[2017-02-04 02:54] natidea commented on #1457
Stepping through @mikeharder 's project in a debugger, I see an infinite loop of subscription updates with the following changes to PackageReferences:

- Added: `Microsoft.NETCore.App`
- Removed: `Microsoft.NETCore.App`
- Added: `Microsoft.NETCore.App`
- Removed: `Microsoft.NETCore.App`
...

And so on. Each time this changes, we nominate NuGet to do a new restore.

[2017-02-04 03:07] RaulPerez1 commented on #1378
Looks like the problem here is that the old project system had this under CommonProperties and now with CPS there's no such concept so it works depending on if the general page was opened first or not.

[2017-02-04 03:10] RaulPerez1 opened #1468 "Base address is disabled under advanced build property page"
1) Create or open a project
2) Open the project properties
3) Go to the build page
4) Click on the advanced button

Expected: Base address is enabled/disabled based on the output type
Actual: It's always grayed out

[2017-02-04 03:12] RaulPerez1 commented on #1468
The problem is that we're not correctly implementing OutputType in the way that the old project system did. The fix is to do the same thing we're doing for the OutputTypeEx provider

[2017-02-04 04:30] lifengl commented on #1384
I can take a look the trace.  We saw this from perf Watson reports as well.  I wonder something regressed here, because we haven't seen this for quite some time now.

Sent from my phone

On Feb 3, 2017, at 5:24 PM, Srivatsn Narayanan <notifications@github.com<mailto:notifications@github.com>> wrote:

Ya Dave had filed #1242<https://github.com/dotnet/roslyn-project-system/issues/1242>. Can you try

[2017-02-04 06:10] jnm2 commented on #1280
For me in 26127.3, with a class library targeting `net20;netstandard1.3`, when I first check the box it inserts `\AssemblyName.xml`. Then the build fails because it doesn't have write access to `C:\AssemblyName.xml`.

[2017-02-04 06:10] jnm2 commented on #1280
I removed the beginning slash and all is well.

[2017-02-04 06:13] jnm2 commented on #1280
Not all is well- I spoke too soon. I removed the trailing slash and it does appear correctly at `bin\{config}\{tfm}\{AssemblyName}.xml`, but it also shows up beside the .csproj on each build and of course source control picks it up because it's not in  build output folder.

[2017-02-04 06:16] jnm2 commented on #1280
`bin\Debug\netstandard1.3\{AssemblyName}.xml` is the current workaround. Hopefully this is reduced to `{AssemblyName}.xml` eventually without that extra out-of-place output.

[2017-02-04 08:10] NTaylorMullen commented on #1384
I've gone ahead and re-done tests without diagnostic tracing on and with the private test explorer fix from @mavasani . Opening the solution and building it worked fine this time around. There were a few issues however:

- I changed the solution by checking out a different branch and that requested that I reload the solution. It looked like that hung indefinitely and I had to kill the process from

[2017-02-04 17:12] nguerrera opened #1470 "Error list does not always contain all errors from the build output"
**Repro Steps**

Create a 1.1 NET Core project (there are templates in VS for 1.1 web projects)
Add a unit test project - the default template in VS targets NetCore 1.0
Add a ref from the test project to the first one.
Build

It is not happening to me, but I've seen this in two different instances on @jinujoseph's machine.

https://github.com/dotnet/sdk/issues/798#issuecomment-277329066

Output Wi

[2017-02-04 17:22] jinujoseph commented on #1470
Adding the repro steps above.

[2017-02-04 19:48] onovotny opened #1471 "Exception saving file"
I was changing

[code]

to

[code]
And got this. [VsProjectFault_45697bb0-c9f3-4e0d-9378-e99333ef4e60.failure.txt](https://github.com/dotnet/roslyn-project-system/files/752519/VsProjectFault_45697bb0-c9f3-4e0d-9378-e99333ef4e60.failure.txt)

[2017-02-04 20:46] onovotny commented on #1467
This should work with the right `LanguageTargets`, shouldn't it?

[2017-02-05 06:19] srivatsn commented on #1463
Verified that this is fixed in the latest builds.

[2017-02-05 06:19] #1463 closed

[2017-02-05 06:59] #1436 closed

[2017-02-05 06:59] #1347 closed

[2017-02-05 06:59] #1418 closed

[2017-02-05 07:00] #389 closed

[2017-02-05 07:02] srivatsn opened #1473 "WP8 projects cannot add P2P ref to cross-compiled CPS proj"
Split out from https://github.com/dotnet/roslyn-project-system/issues/936 filed by @onovotny

@onovotny said:

In GitHub.com/onovotny/zeroconf, the dev branch, there's a ZeroconfTest.WP project that's WP8 SL. It may not have full editors, but it definitely still compiles by using the language targets.
I'm still seeing that issue with GetPackagingOutputs on it.

[2017-02-05 07:03] srivatsn commented on #936
Split out the WP8 issue and closing this out since both the PCL ref and build issues have been fixed.

[2017-02-05 07:03] #936 closed

[2017-02-05 19:15] dsplaisted opened #1474 "NuGet restore in Visual Studio restores for multiple rids"
- In VS, create a new Console App (.NET Core)
- Wait for the NuGet restore to complete
- Inspect the targets in the `obj\project.assets.json` file

**EXPECTED**: A single section under targets for `.NETCoreApp,Version=v1.0`
**ACTUAL**: The following targets sections are also present: `.NETCoreApp,Version=v1.0/win`, `.NETCoreApp,Version=v1.0/win-x64`, and `.NETCoreApp,Version=v1.0/win-x86`

The mai

[2017-02-05 19:46] srivatsn commented on #1474
@emgarten should this move to the NuGet repo? I assume the PS is just nominating passing in the TF as NetCoreApp, version=1.0.

[2017-02-05 20:49] lifengl commented on #1384
Based on the trace (\NTaylorMullen\SHARED\ETLVS\AfterBuildHang.etl.zip), it looks like a problem in the test window code.  Maybe a dead lock

Name                                                                                                     	Inc %	      Inc	Exc %	Exc	Fold	                             When	   First	        Last
| ||       + microsoft.visualstudio.testwindow.core!UpdateSolutio

[2017-02-05 21:36] lifengl commented on #1384
I looked into the build trace, and it was clearly a performance issue in the output window side.

Name                                              	Inc %	       Inc	Exc %	     Exc	  Fold	                             When
||+ msenv!CSUIBuilder::OutputStringNoPump         	 92.8	   639,072	  0.3	   2,356	 2,356	 __399999599989999999999999999998
|| + msenv!CSUIBuilder::FBufferedOutputString     	 91

[2017-02-05 21:36] lifengl commented on #1242
I looked into the build trace, and it was clearly a performance issue in the output window side.

Name Inc %	Inc	Exc %	Exc	Fold	When
||+ msenv!CSUIBuilder::OutputStringNoPump 92.8	639,072	0.3	2,356	2,356 __399999599989999999999999999998
|| + msenv!CSUIBuilder::FBufferedOutputString 91.5	630,242	0.1	831	733 __399999599989999999999999999997
|| |+ msenv!CSUIBuilder::WriteBufferedOutputString	91.4	629

[2017-02-05 21:53] emgarten commented on #1474
I get the same warnings when using desktop MSBuild /t:Restore, and in that scenario the RIDs are coming from:
``C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets``

Is this build task suppose to be used for .NETCore projects? I was under the impression that it was only used for project.json and legacy csproj PackageReferences.

I do

[2017-02-05 22:08] davkean commented on #1242
Is the reason we're not seeing this in legacy is because it writes a single chuck whereas we buffer?

[2017-02-05 22:32] lifengl commented on #1242
I think David Pugh did some work in this area to fix some performance problems, and the change might change how strings are merged, and caused a regression here.  Also CPS buffering messages might make it worse, if the output window is slower than the build, the output messages will start to be queued in the internal buffer, and push to the output window more aggressively in a large batch.

[2017-02-06 01:03] JamesNK commented on #1386
Is this a bug that will require an updated version of VS2017?

Right now this is blocking me from porting Newtonsoft.Json from project.json to csproj.

[2017-02-06 05:53] aienabled commented on #1467
Well, for me it works good with VS2017 RC and the class library project (.NET Framework, not .NET Standard) and custom rules set. XAML is properly compiled. The only issue I have is with the dependent ```.xaml.cs``` files - they are not nested. Reported there https://github.com/Microsoft/VSProjectSystem/issues/169

[2017-02-06 16:54] dsplaisted commented on #1474
If the RIDs aren't added by default when using the .NET CLI, then that's the scenario we have the most test coverage of, so I wouldn't expect there to runtime failures if `RuntimeIdentifiers` is no longer defaulted.

[2017-02-06 20:04] karelz commented on #1411
@davkean I was able to reproduce it - it looks like 100% repro actually:

1. Create new .NET Core console app (switch it to .NET Core 1.1)
2. Close project/VS
3. Copy all .cs files and subdirs from this project: https://github.com/karelz/GitHubIssues/tree/master/BugReport (don't even add NuGet deps)
4. Open project in VS (make sure all file tabs are closed when you open it - so that IntelliSense b

[2017-02-06 22:05] davkean commented on #1471
👍 We'll take a look.

[2017-02-06 22:09] srivatsn commented on #1471
Looks like a CPS issue? @lifengl @jviau

[2017-02-06 22:27] natidea commented on #1457
I'm no longer seeing this on my machine. I noticed that the [NETStandard.Library](https://dotnet.myget.org/feed/dotnet-core/package/nuget/NETStandard.Library) package was updated to `2.0.0-beta-25006-01` and the binaries are signed in this build, whereas they were not signed in the build I was using last week: `2.0.0-beta-24918-03`.

@weshaggard can you confirm the signing issue was fixed?

[2017-02-06 22:28] davkean commented on #1457
Regardless of whether the signing issue was fixed, we should make it so that we never get into this state regardless if there's bad packages.

[2017-02-06 22:32] davkean commented on #1411
Okay, I couldn't manually get into this situation using the source files, but I did repro this using the exact project @karelz shared. It looks like once you open a source file, the issue goes away - so it smells like a de-duping issue. Debugging this.

[2017-02-06 22:43] lifengl commented on #1471
This is duplicated to https://github.com/dotnet/roslyn-project-system/issues/1042

[2017-02-06 22:44] davkean commented on #1471
Dup.

[2017-02-06 22:44] #1471 closed

[2017-02-06 23:01] davkean commented on #1411
Debugged into this - we're reporting the error via IVsLanguageServiceBuildErrorReporter2, and Roslyn is "handling it" in that it's reaching: http://index/?leftProject=Microsoft.VisualStudio.Shell.Interop.11.0&leftSymbol=ryzjfhvzz3v1&rightProject=Microsoft.VisualStudio.LanguageServices&file=Implementation%5CTaskList%5CProjectExternalErrorReporter.cs&line=211. It looks like a de-duping issue.

[2017-02-06 23:03] davkean commented on #1411
@heejaechang can you take a look? We're tracking this for RTM.

[2017-02-06 23:21] weshaggard commented on #1457
Yes the signing issue was fixed but I agree with @davkean we should guard against this as any nuget package could potentially get us into this state.

[2017-02-06 23:23] jinujoseph opened #1477 "Packing a Class Library targeting .NetCoreApp1.1 generates warning"
Create a Class Libary (.Net Core )
Build
Right click properties change TFM from .NetCoreApp1.0 to .NetCoreApp1.1
Build
Pack

**Expected**
Packs with out any warning

**Actual**

1>------ Build started: Project: ClassLibrary3, Configuration: Debug Any CPU ------
1>ClassLibrary3 -> c:\users\corbvt\documents\visual studio 2017\Projects\MegaSln\ClassLibrary3\bin\Debug\netcoreapp1.1\ClassLibrary3.dll
1

[2017-02-06 23:38] davkean commented on #1477
These binaries are being added as content items - and hence they are getting packed. @tmat?

[2017-02-06 23:44] mavasani commented on #1384
@NTaylorMullen Thanks for the traces. The Reload.etl.zip VS deadlock on reload/close solution is a dupe of https://github.com/dotnet/roslyn/issues/14479. I see that the UI thread is stuck on `microsoft.visualstudio.languageservices.implementation!CPSProject.Disconnect`, which is at the bottom of the call stack in https://github.com/dotnet/roslyn/issues/14479#issue-182660713.

This was fixed by @dp

[2017-02-06 23:48] jinujoseph commented on #1322
hit this on d15rel/26205.00

=====================
2/6/2017 3:41:05 PM
Crippling
System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Could not resolve mscorlib for target framework '**.NETCoreApp,Version=v1.1**'.  This can happen if the target framework is not installed or if the framework moniker is incorrectly formatted.
   at Microsoft.VisualStudio.She

[2017-02-06 23:49] davkean commented on #1322
@jinujoseph What was your repro?

[2017-02-06 23:51] mavasani commented on #1384
@NTaylorMullen @Eilon - let me summarize the current findings again:

1. Open solution works reasonsable fine now, modulo the Test Window fix for VSO [366684](https://devdiv.visualstudio.com/DevDiv/_workitems?id=366684&_a=edit) - this is currently being prepped for Escrow.
2. Close/Reload solution deadlock: I have hit this multiple times myself and [this Roslyn fix](https://github.com/dotnet/rosly

[2017-02-06 23:53] jinujoseph commented on #1322
This poped up just random , did not repro the second time ..
Created a console application
edit csproj change
tfm netcoreapp1.0 -> tfms netcoreapp1.1

[2017-02-07 00:09] mavasani commented on #1445
This issue also seems to be the side effect of what @davkean has noted here: https://github.com/dotnet/roslyn-project-system/issues/1426#issuecomment-276651706. CPS is kicking of a design time build with prior target framework, which fails with the below error:

[code]

This causes the LanguageService to ignore the removed items (sources/references) from the failed design time build and subsequent

[2017-02-07 00:22] natidea commented on #1457
/cc some NuGet folks for ideas on how a failures during restore could lead to project state changing in a way that produces this infinite loop. @emgarten @alpaix @rrelyea

I'll note that the task that failed (`HandlePackageFileConflicts`) is [taking a direct dependency](https://github.com/dotnet/standard/blob/5434e0768e96c9707df42451e665496e961c2426/netstandard/tools/targets/NETStandard.Library.ta

[2017-02-07 00:26] dpoeschl commented on #1384
@mavasani I just tested with d15rerl 26205.0 today and I couldn't repro the deadlock.

[2017-02-07 00:27] mavasani commented on #1384
Thanks, I'll test the MVC solution on the same build. @NTaylorMullen, please let us know if you get a deadlock on this build.

[2017-02-07 01:04] davkean commented on #1426
The way this is supposed to happen is that design-time errors/warnings are supposed to go away when the same target is run again, this means two things:

1) This logic appears broken - so debugging this.
2) This means that we're going to have stale warnings when targets change underneath the project (ie when a target is removed from a project or when a target changes when it it scheduled to run, w

[2017-02-07 03:13] mavasani opened #1479 "Failed design time build on changing TargetFramework"
1. Create new .NET Standard library or .NetCore App.
2. Right-click project and choose Edit csproj and change `<TargetFramework>netcoreapp1.0</TargetFramework>` to `<TargetFramework>net451</TargetFramework>` and save.
3. Change target framework from `<TargetFramework>net451</TargetFramework>` to `<TargetFramework>netcoreapp1.0</TargetFramework>` and save.

Got: Failed design time build in the Debu

[2017-02-07 04:48] davkean commented on #1470
What is that second error? Is that coming from assets targets? We should also avoid outputting if the reference failed to resolve.

[2017-02-07 04:51] davkean commented on #1426
Note this only occurs if there's another package reference.

[2017-02-07 05:01] davkean opened #1480 "Resolved references have different properties to unresolved references"
Unresolved reference:

![image](https://cloud.githubusercontent.com/assets/1103906/22678436/2f1eddd8-ed4e-11e6-9883-8297ad643b45.png)

Resolved references:

![image](https://cloud.githubusercontent.com/assets/1103906/22678488/947455be-ed4e-11e6-8cdd-3042573cc0c3.png)

These are supposed to contain the same properties.

[2017-02-07 05:16] davkean commented on #1426
Looks like these warnings are coming in without a target specified - when it should be ResolveProjectReferences.

[2017-02-07 05:19] davkean commented on #1426
I suspect a regression when the TargetGeneratedError was changed to remove it's dependency on Shell.

[2017-02-07 06:18] nguerrera commented on #1470
@davkean Good point. I filed dotnet/sdk#829 for that. Of course, it's completely separate and less severe than the general issue of missing errors in error list.

[2017-02-07 06:23] davkean commented on #1470
Yep absolutely,

[2017-02-07 06:24] davkean commented on #1470
Was a "build" **always** involved?

[2017-02-07 06:25] nguerrera commented on #1470
I believe so. @jinujoseph ?

[2017-02-07 06:45] davkean commented on #1057
I'm also seeing this on a very basic repro, in the following, this took > 10 seconds to color "async":

[code]

[2017-02-07 07:55] jinujoseph commented on #1470
thatz right build was always involved.

[2017-02-07 12:19] aienabled commented on #1467
I was able to properly setup XAML files handling with CPS for VS2017.
@onovotny right, with proper targets it works. I've added `<Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />`. Also I added missing XAML rule for `Page`. And I've found a workaround for the issue with the dependent `.xaml.cs` files for files globbing.

[2017-02-07 15:17] jnm2 opened #1481 "Improved CPS analyzer project template"
At some point in the future, it would be nice to have an upgrade to the current "Analyzer with Code Fix (NuGet + VSIX)" template.

The current template relies on this target in the analyzer project in order to build the VSIX project (which I only do in order to debug):

[code]

This in turn means that you're stuck with NuGet v2's packages.config, and it makes upgrading packages difficult because y

[2017-02-07 17:04] mavasani commented on #1057
@davkean Coloring happens almost instantaneously for me for your repro on yesterday's D15Rel build. Can you please collect an ETL trace with perfview and share it?

[2017-02-07 17:26] mavasani commented on #1309
The issue is with the SDK. There are bunch of places in the [SDK targets](https://github.com/dotnet/sdk/blob/d20405f91a2959fa91fea6285d9a896286727f2a/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.targets#L257) where we set `RunCommand` property, but none of them seems to be doing it the target framework identifier is .NetStandard. I'll port this bug to the SDK repo.

[2017-02-07 17:27] abpiskunov commented on #1480
dupe of https://github.com/dotnet/roslyn-project-system/issues/59

[2017-02-07 17:31] mavasani commented on #1309
Ported to https://github.com/dotnet/sdk/issues/833

[2017-02-07 17:31] #1309 closed

[2017-02-07 17:38] mavasani commented on #784
No repro on 26205.0.d15rel. I tried both the repros above and the NuGet package reference is correctly resolved and intellisense works fine.

[2017-02-07 17:38] #784 closed

[2017-02-07 18:07] mavasani commented on #1384
I verified the deadlock on close solution doesn't repro for the MVC solution on 26205.0 and even Open solution is fine after applying the final Test Window private bits.

[2017-02-07 18:09] mavasani commented on #1384
@NTaylorMullen @Eilon - I am going to close this issue now, unless you have any further repros/traces for us to investigate.

[2017-02-07 18:17] NTaylorMullen commented on #1384
@mavasani Any idea when d15rel will be at a state that has all of the fixes that make using the Mvc.sln possible?

[2017-02-07 18:22] mavasani commented on #1384
@srivatsn Do we know when the Test Window fix is going in? We can update this issue once we have a build with the Test Window fix.

[2017-02-07 18:28] mavasani commented on #1242
@lifengl Do you have a bug on VSO side for this? Otherwise, I can open one and assign it to you so you can forward it to the correct team.

[2017-02-07 19:03] srivatsn commented on #1384
Likely tomorrow.

[2017-02-07 19:24] lifengl commented on #1242
Bug 374371

Sent from my phone

On Feb 7, 2017, at 10:29 AM, Manish Vasani <notifications@github.com<mailto:notifications@github.com>> wrote:

@lifengl<https://github.com/lifengl> Do you have a bug on VSO side for this? Otherwise, I can open one and assign it to you so you can forward it to the correct team.

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2017-02-07 19:25] #1242 closed

[2017-02-07 22:37] davkean commented on #1480
This isn't a dupe, that bug is "make them the same as CSProj" - this is; resolved references are different from unresolved references. You can fix this one without the other. Or vice versa.

[2017-02-07 23:17] 333fred opened #1484 "Support launching VSIX projects"
VSIX projects are class libraries, but the VSSDK sets some variables to say it should launch VS in the dev hive. We should respect those flags so a launchSettings.json isn't needed to start VS.

[2017-02-07 23:23] roryprimrose commented on #1385
It would be really handy if Visual Studio would validate the target frameworks and throw a build error if any of them are not correct. Without this people are just shooting in the dark to resolve their issues.

[2017-02-07 23:35] davkean commented on #1458
We should just fool the inference by shoving it into another property.

[2017-02-07 23:35] tannergooding commented on #1467
Ok. I now understand this much better (@srivatsn).

WPF (and some other project types) generate a temporary project file that does not use the same extension as the original (WPF uses .tmp_proj, for example).

The SDK.targets uses the project extension to set `LanguageTargets` (provided `LanguageTargets` has not already been set). It then imports whatever `LanguageTargets` is set to (C# should be

[2017-02-07 23:35] nguerrera commented on #1458
Yep. I was going to do that :)

[2017-02-07 23:56] #1385 closed

[2017-02-07 23:58] roryprimrose opened #1485 "VS2017 R3 only packaging last TargetFrameworks TFM"
If I set TargetFrameworks to ```netcoreapp1.0;net452``` with generate package on build enabled, the package only contains net452. If I change TargetFrameworks to ```net452;netcoreapp1.0``` then the package only contains netcoreapp1.0. The bin folder contains both framework target folders.

[2017-02-08 00:01] dsplaisted opened #1486 "Find All Files causes project properties to be opened"
I can't figure out exact repro steps for this, but it has happened to me many times with the SDK solution in VS:

- Place the cursor on a word you want to search for in the editor
- Hit CTRL+SHIFT+F to bring up the Find All Files dialog
- Press Enter to start the Find All operation

**EXPECTED:** Find all operation starts, and the focus moves to the Find Results window
**ACTUAL:** Find all operati

[2017-02-08 00:19] davkean commented on #1385
@roryprimrose Yeah, we've got a bunch of issues over on https://github.com/dotnet/sdk/ about providing better errors around invalid TFMs.

[2017-02-08 00:45] davkean opened #1487 ".NET Core projects go through the upgrade wizard when opened down-level in VS2015"
1. Create a new SDK project
2. Open Solution in VS 2015

Expected: Fail to load
Actual: Goes through the upgrade, and then fails to load

[2017-02-08 00:46] abpiskunov commented on #1480
hm yeah if you read it directly - you are right :). However for issue i mentioned, i wanted to do a complete review of all properties for all dependency types and that would include issue you reported. Anyway , let's keep it just in case.

[2017-02-08 00:52] davkean commented on #1487
It's going through the upgrade wizard, because legacy project system thinks it's a VS 2005 project due to the lack of a `ToolsVersion` attribute.

A few ways we could solve this:

1. Add back ToolVersions by default, which will cause us to skip the upgrade, and the project will still fail due the additional of the SDK/lack of namespace.
2. Change the project type in the Solution file to be represe

[2017-02-08 00:56] jinujoseph opened #1488 "Migration fails with internal error"
Copy project from \\mlangfs1\public\Jinuj\IPA\ConsoleAppNoSln
copy over to say C:\test\ConsoleAppNoSln
double click C:\test\ConsoleAppNoSln\ConsoleApp1.xproj
Click on one way upgrade UI

**Expected**

migrates successfuly

**Actual**
![image](https://cloud.githubusercontent.com/assets/12449387/22718593/24066bfc-ed56-11e6-8414-319e587b9619.png)

related to https://github.com/dotnet/cli/issues/5612

[2017-02-08 01:27] srivatsn commented on #1481
@jmarolf has been looking at updating the template.

[2017-02-08 01:43] natidea commented on #1474
I recall that back in October, the CLI removed it dependency on Microsoft.NuGet.targets which caused us to react with this PR to pull in properties that were missing as a result: https://github.com/dotnet/sdk/pull/218

However, I don't think we ever removed it from VS/msbuild situations. Isn't this targets file authored in such a way that it is always available to all project types (i.e. because o

[2017-02-08 02:05] roryprimrose opened #1489 "VS2017 RC4 does not package multi-target projects"
I've used an existing solution and a new solution after installing RC4. I'm finding that the package on build setting is not working where the project uses multi-targeting.

Here is an example proj file updated after creating a new core library.

[code]

The original value was ```<TargetFramework>netcoreapp1.0</TargetFramework>``` which did produce the package on build.

The package is no longer b

[2017-02-08 02:09] davkean commented on #1489
I just tried and could repro this with rebuild: https://github.com/NuGet/Home/issues/4527. Does it work for you if you just "build"?

[2017-02-08 02:16] roryprimrose commented on #1489
Yes, I was just doing rebuilds. I can also confirm that the package is built with build, but not rebuild.

[2017-02-08 02:17] davkean commented on #1489
Great, I'll dupe it against https://github.com/NuGet/Home/issues/4527. Thanks!

[2017-02-08 02:17] #1489 closed

[2017-02-08 02:19] roryprimrose commented on #1485
This seems to be fixed in RC4

[2017-02-08 02:19] #1485 closed

[2017-02-08 04:28] davkean opened #1490 "Double-clicking an MSBuild error/warning from the current project does nothing"
1.

[code]

2. Build
3. In Error List, double-click _This is an error_

**Expected:** To open the project file and navigate to the error
**Actual:** Nothing

If error/warning comes from another file then it works correctly.

[2017-02-08 04:45] mavasani commented on #1490
Not sure this works for desktop projects either - @heejaechang ?

[2017-02-08 04:49] davkean commented on #1490
It doesn't, but you can't open the project file while the project is open.

ie, Given we can open the project file now, we should be able to implement this.

We're just using the default logic of the Error List here - not using Roslyn or CPS, it must have a block here.

[2017-02-08 05:11] kazuk commented on #1477
I have same issue.

Microsoft.DiaSymReader.Native.props requires `<Pack>false</Pack>`

https://github.com/dotnet/roslyn/issues/15137#issuecomment-278183707

[2017-02-08 05:55] davkean opened #1491 "Project tree validation is failing when opening CLI repo under CPS DBG"
1. Git clone github.com/dotnet/cli
2. Sync to https://github.com/dotnet/cli/commit/18c01886cd8e1472cdde82b15684b8f8b27a2632.
3. Open SLN
4. Wait a while until NuGet restore has finished

Many faults that look like:
[code]

[2017-02-08 06:33] Petermarcu opened #1492 ""Edit" command on project context menu should not include file name"
Just a few thoughts on the "new" ability to edit csproj's with a simple right click.

1. Great that we can do it and its live. Love that.
2. ~The item being in the middle of the list is a bit odd. I associate it more with project properties and find my eyes often searching the list for it.~
3. I have some long project names and it feels out of place on the menu calling out the whole project name.

[2017-02-08 06:33] heejaechang commented on #1411
@davkean @mavasani in .Net core. when does Roslyn Package get initialized?

I see that in .NET Core, this is called only after the very first roslyn file is opened in VS

and that is when we connect to all kinds of services including error list.

[2017-02-08 06:35] davkean commented on #1411
@heejaechang Can you set a breakpoint when that is hit in the legacy project system? We don't call this directly.

[2017-02-08 06:36] davkean commented on #1411
I would expect firing up an abstractproject would do exactly that.

[2017-02-08 06:55] heejaechang commented on #1411
okay. in .Net core, if solution is opened without any file opened, roslyn package won't be initialized until something that require roslyn package explicitly from VS. (something that require SetSite on the package)

in legacy project case, after project is loaded, this kind of thing happens which cause our package to be loaded.

 	Microsoft.VisualStudio.LanguageServices.CSharp.dll!Microsoft.Visual

[2017-02-08 07:04] heejaechang commented on #1411
@davkean @mavasani okay, I think this should make sure RoslynPackage is loaded

http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices.Implementation/ProjectSystem/CPS/CPSProjectFactory.cs,52

like this
shell.LoadPackage(Guids.RoslynPackageId, out var setupPackage);

roslyn package initialize services VSWorkspace depends on, so not sure what it means or we are protected against VSWorkspa

[2017-02-08 07:05] davkean commented on #1411
Yep, agreed.

[2017-02-08 07:52] heejaechang commented on #1411
it might not RoslynPackage but CSharpPackage that is needed to be loaded. @mavasani probably is more expert than me on this.

[2017-02-08 08:27] JamesNK opened #1493 "VS2017RC3 - MSB3274 Higher version than the currently targeted framework"
I have a project Newtonsoft.Json with these target frameworks:

```<TargetFrameworks>net45;net40;net35;net20;netstandard1.0;portable-net45+win8+wpa81+wp8</TargetFrameworks>```

I have a project Newtonsoft.Json.Tests that has target frameworks:

```<TargetFrameworks>net40</TargetFrameworks>```

and references the first project via:

```<ProjectReference Include="..\Newtonsoft.Json\Newtonsoft.Json.c

[2017-02-08 08:41] JamesNK commented on #1493
Nevermind - I was referencing the wrong project.

[2017-02-08 08:41] #1493 closed

[2017-02-08 10:16] fubar-coder commented on #1414
@abpiskunov When you use a console app, it shows up as child of "Microsoft.NETCore.App". But when you use a class library, it shows up directly under "SDK", thus it shows up at top level.

[2017-02-08 10:27] aienabled commented on #1467
@tannergooding, WPF is using temporary project because it need two-pass building to properly process XAML markup as described in this [article on MSDN](https://msdn.microsoft.com/en-us/library/aa970678%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396). So I'm afraid it might not be possible to avoid `.tmp_proj`.

[2017-02-08 10:30] davkean commented on #1467
@aienabled Keep any bugs you file for managed concepts on this repro.

[2017-02-08 12:00] tannergooding commented on #1467
@aienabled, i wasn't indicating it should avoid .tmp_proj, I'm saying t should usee the original projects file extension when doing so. Meaning instead of .tmp_proj, it should use .tmp_proj.csproj or just .csproj.

[2017-02-08 17:24] abpiskunov commented on #1414
dupe of RTM approved issue https://github.com/dotnet/roslyn-project-system/issues/1456 , we will be hiding all default implicit packages and show them as SDK only

[2017-02-08 17:24] #1414 closed

[2017-02-08 18:31] 333fred commented on #1488
This is a dupe of https://github.com/dotnet/roslyn-project-system/issues/1399, and not actually related to https://github.com/dotnet/cli/issues/5612. This was rejected from RTM, and the fix is checked into post-dev15.

[2017-02-08 18:31] #1488 closed

[2017-02-08 18:38] srivatsn commented on #1467
@tannergooding can you file that as an internal bug on XAML?

[2017-02-08 18:55] tannergooding commented on #1467
@srivatsn, I have logged VSO Bug: 382095 (not sure if the area path is correct, it seemed to be the best fit though).

[2017-02-08 19:08] KirillOsenkov opened #1496 "Build error after changing .csproj for .NET core, goes away after git clean -xdf"
Repro:
1. git clone https://github.com/KirillOsenkov/MSBuildStructuredLog
2. nuget restore
3. msbuild <-- this is important
4. Open MSBuildStructuredLog.sln in VS 2017 RC4 (or newer)
5. Make sure it builds from the IDE (F6)
6. Unload StructuredLogger project and edit the .csproj
7. Replace the .csproj contents with this: https://github.com/KirillOsenkov/MSBuildStructuredLog/blob/d3e5742cbc1c7bfc91

[2017-02-08 19:25] KirillOsenkov opened #1497 "Ordering of multiple <TargetFrameworks> and Solution Explorer contents"
The .csproj in question is https://github.com/KirillOsenkov/MSBuildStructuredLog/blob/d3e5742cbc1c7bfc914acaee594aa09b6da92202/src/StructuredLogger/StructuredLogger.csproj

If it specifies `TargetFrameworks` as `net46;netstandard1.5` you get:
![image](https://cloud.githubusercontent.com/assets/679326/22753460/0403644a-edf1-11e6-9f9b-c903068c4910.png)

but if you specify `TargetFrameworks` as 'nets

[2017-02-08 19:39] KirillOsenkov opened #1498 "Explicitly declaring TargetFrameworkVersion results in tons of errors"
If you have a project that targets `net46;netstandard1.5` and if it mistakenly has an explicitly declared `<TargetFrameworkVersion>v4.6</TargetFrameworkVersion>` then building results in hundreds of errors such as `Predefined type 'System.Object' is not defined or imported` signaling that mscorlib wasn't passed to the compiler.

I wonder if there's something we can do to point the user to the erro

[2017-02-08 19:40] cdmihai opened #1499 "Null pointer exception when live editing the csproj and restoring from command line"
- opened up the csproj for live editing and changed `netstandard1.6` to `netstandard1.5` to get:
[code]
- went to the command line and restored the entire solution
- came back to VS, and got the null pointer dialog

VS: Version 15.0.26206.0 D15REL

Dump: `\\fsu\shares\MsEng\MSBuild\micodoba\vsdumps\null_pointer\devenv.DMP`

Stack:

[code]

[2017-02-08 19:44] srivatsn commented on #1459
This should be fixed now. We defaulted the value of the OverflowUnderflow property.

[2017-02-08 19:44] #1459 closed

[2017-02-08 19:45] srivatsn commented on #1460
Tracking this as part of https://github.com/dotnet/roslyn-project-system/issues/694

[2017-02-08 19:45] #1460 closed

[2017-02-08 19:46] srivatsn commented on #1461
Tracking this as part of https://github.com/dotnet/roslyn-project-system/issues/694

[2017-02-08 19:46] #1461 closed

[2017-02-08 19:46] srivatsn commented on #1462
Tracking this as part of https://github.com/dotnet/roslyn-project-system/issues/694

[2017-02-08 19:46] #1462 closed

[2017-02-08 19:46] srivatsn commented on #694
When fixing this make sure that removing\renaming an existing configuration works and also that copying from an existing configuration works.

[2017-02-08 19:49] srivatsn commented on #1477
This is being tracked by https://github.com/dotnet/corefx/issues/14627 and the package is being fixed in NetCoreapp 1.1.1

[2017-02-08 19:49] #1477 closed

[2017-02-08 19:54] srivatsn commented on #1496
I suspect the assemblyinfo file generated by project.json is called differently from the one generated by the SDK and that causes both files to be around until you do a git clean -xdf?

[2017-02-08 20:11] srivatsn commented on #1470
@heejaechang any idea what's going on here - is this related to the issue where the Roslyn package is not initialized soon enough?

[2017-02-08 20:14] heejaechang commented on #1470
@srivatsn sounds like same issue. let me check.

[2017-02-08 20:26] heejaechang commented on #1470
this is dup of https://github.com/dotnet/roslyn-project-system/issues/1411

[2017-02-08 20:48] mavasani commented on #1411
I think the Language Service on project system side should initialize the package before creating any CPS workspace projects.

[2017-02-08 20:55] heejaechang commented on #1411
@mavasani sorry I don't have knowledge on CPS. are you saying CPS side (not our provider) should initialize packages before asking us to return project? in that case, who should I tag?

[2017-02-08 20:56] srivatsn commented on #1411
@mavasani can you please make the change?

[2017-02-08 21:01] KirillOsenkov commented on #1496
Does the SDK generate an assembly info file? Where can I find out more about this? I've only seen one file in the repo (in obj) (the other might go to TEMP?)

Also how do I investigate what got passed to Csc? Somehow the log output from inner builds doesn't make it into the logger...

[2017-02-08 21:05] srivatsn commented on #1496
Yes see here - https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.GenerateAssemblyInfo.targets

I'm not aware of issues with loggers - the inner build is just a msbuild invocation - do the loggers need to passed through specifically?

[2017-02-08 21:12] srivatsn commented on #587
One other piece of work is that currently we only show the PackageReferences for all TFMs but we should show assemblies\sdks\analyzers etc for all TFMs as well and show them grouped in some form.

[2017-02-08 21:12] srivatsn commented on #1464
Dupe of https://github.com/dotnet/roslyn-project-system/issues/587

[2017-02-08 21:12] #1464 closed

[2017-02-08 21:14] srivatsn commented on #1497
The first TFM is considered the active TFM and we don't show dependencies for all TFMs (other than PackageRefs which we do show for all TFMs). https://github.com/dotnet/roslyn-project-system/issues/587 tracks the work to enable dependencies for all TFMs.

The second issue is interesting. If the same package is mentioned with different versions then we seem to just show one - @abpiskunov do you exp

[2017-02-08 21:17] mavasani commented on #1411
@heejaechang I think the ideal fix is to fix CPSProjectFactory on the Roslyn side to ensure that package is initialized before it creates a CPSProject (AbstractProject). Given that Roslyn is locked down for RTM, its probably safer to just ensure this in our LanguageServiceHost.

[2017-02-08 21:28] heejaechang commented on #1411
@mavasani I dont know what is LanguageServiceHost is. is that this?
http://index/?query=LanguageServiceHost&rightProject=Microsoft.VisualStudio.ProjectSystem.Managed&file=ProjectSystem%5CLanguageServices%5CLanguageServiceHost.cs&line=18

[2017-02-08 21:31] mavasani commented on #1411
@heejaechang Yes. When it is being initialized [here](http://index/?query=LanguageServiceHost&rightProject=Microsoft.VisualStudio.ProjectSystem.Managed&file=ProjectSystem%5CLanguageServices%5CLanguageServiceHost.cs&line=94), we should [switch to UI thread](http://index/?query=LanguageServiceHost&rightProject=Microsoft.VisualStudio.ProjectSystem.Managed&file=ProjectSystem%5CLanguageServices%5CLangu

[2017-02-08 21:55] davkean commented on #1411
@mavasani Help me understand why wouldn't we make this change in Roslyn? It's completely scoped to .NET Core if we make it in CPSProjectFactory.

[2017-02-08 22:04] lifengl opened #1501 "NuGetRestorer.ProjectPropertyChangedAsync should register the restore to specific operations instead of a critical task for everything"
instead of calling RegisterCriticalAsyncTask, it should RegisterAsyncTask and register it for ProjectCriticalOperation.Build | Unload | Rename.  The RegisterCriticalAsyncTask will require the task to be finished before saving a project, which is not necessary in this case.

This is important because "Save" is done in a sync method in VS, but NuGet is running scripts in the background, so it depend

[2017-02-08 22:11] davkean commented on #1386
@JamesNK We can't repro the bug right now. @dsplaisted's going to spend a little bit of time looking into it.

Have you tried the latest RC build?

[2017-02-08 22:19] mavasani commented on #1411
I am not sure this meets the Escrow bar for Roslyn - @srivatsn?

[2017-02-08 22:27] abpiskunov commented on #1497
If same package belong to multiple TFMs, we just show it once for now.

[2017-02-08 22:35] mavasani commented on #1411
Adding @Pilchie and @OmarTawfik as `IWorkspaceProjectContextFactory.CreateProjectContext` is also used by DPL [here](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/VisualStudioProjectTracker_IVsSolutionLoadEvents.cs,257) and F#, and they will be affected if we fix this in Roslyn. We can add a check [here](http://source.roslyn.io/#Microsoft.VisualStudi

[2017-02-08 22:36] srivatsn commented on #1411
Does this issue repro for DPL\F# or is Roslyn initialized in a different code path in those cases?

[2017-02-08 22:42] KirillOsenkov opened #1502 "Errors disappear when opening a file with errors (Build+IntelliSense), still show in (Build) only"
1. Create a new .NETCore console app
2. In .csproj add this line `<PackageReference Include="Nerdbank.GitVersioning" Version="1.5.62" />`
3. Build
4. In Error List, double-click on the error that shows

Expected: Error List should not change
Actual: When the generated temp file opens, the errors disappear from the error list

The errors come back when selecting the "Build only" scope, but "Build +

[2017-02-08 22:47] rohit21agrawal opened #1503 "Multi-TFM frameworks stop restoring"
_From @jinujoseph on February 2, 2017 21:14_

- Create a .Net standard class library
- Edit the csproj and change TFM to
`<TargetFrameworks>netstandard1.4</TargetFrameworks>`
will be promoted to reload
Build
- Edit the csproj and change to
` <TargetFrameworks>netstandard1.4;netstandard1.0</TargetFrameworks>`
Build

**Expected**
Builds successfully

**Actual**

![image](https://cloud.githubusercont

[2017-02-08 22:47] rohit21agrawal commented on #1503
_From @davkean on February 3, 2017 0:10_

Changing the TFM -> TFMs, should have prompted a reload, no?

[2017-02-08 22:48] davkean commented on #1502
Interesting. Good bug - maybe we're not passing through the generated AssemblyInfo to the language service?

[2017-02-08 22:49] rohit21agrawal commented on #1503
Upon investigation it turns out that the project isn't getting nominated in the following scenarios:

1) When TargetFrameworks is set to netstandard1.4 , and I add another framework say, netstandard1.0
2) adding a property like Version doesn't nominate the project.

[2017-02-08 22:49] srivatsn commented on #1503
@mavasani is this fixed with your PR to clear the contexts?

[2017-02-08 22:51] KirillOsenkov commented on #1496
No, it was a problem on my end. Everything is fine.

So the real problem in this bug is that the error (although legit - since both NerdBank.GitVersioning and the SDK are generating the AssemblyTitle attribute) doesn't go away after I fix it unless I git clean and restart VS.

[2017-02-08 22:52] mavasani commented on #1503
@Srivatsn, no my change is specific to editing "TargetFramework" not "TargetFrameworks"

[2017-02-08 22:52] dsplaisted commented on #1386
@JamesNK Hi James, is this the branch you're working on and encountering these issues?: https://github.com/JamesNK/Newtonsoft.Json/tree/vs2017

[2017-02-08 22:55] srivatsn commented on #1503
@mavasani Should you be including changes to TargetFrameworks as well?

@rohit21agrawal  - Looking at NuGetRestore.xaml[https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/NuGetRestore.xaml] Version is one of the properties for which we nominate - so i'm surprised. @natidea can you look into that?

[2017-02-08 22:58] mavasani commented on #1503
@srivatsn - the scenario here is specific to build, and my changes are specific to design time build in LanguageService. Design time builds work fine for TargetFrameworks edit case as each framework dimension creates a different configured project, which is not the case when TargetFramework is edited.

[2017-02-08 23:01] srivatsn commented on #1503
That's right - my mistake but I think it's related. My guess is that there's either a bad design time build or a bad update and we're nominating restore. Closing and reopening the project works because we nominate restore.

[2017-02-08 23:09] jinujoseph opened #1504 "Setting EnableDefaultCompileItems to False doesn't remove the files from solution Explorer"
Create a ClassLibrary (.Net Core)
Take a copy of Class1.cs and drop in the same folder
you will see of them included
Now edit the csproj and put the below information

[code]
Build again , it includes only Class1.cs but the solution explorer shows all files, expected ?

![image](https://cloud.githubusercontent.com/assets/12449387/22761664/9c18182e-ee10-11e6-8ccb-400383d403ff.png)

**Build**
26206.

[2017-02-08 23:51] cdmihai opened #1506 "Files from the nuget cache appear in the Solution Explorer"
- `git clean -xdf`. Solution Explorer looks right:
![image](https://cloud.githubusercontent.com/assets/2255729/22762526/9ac8c4ce-ee14-11e6-9111-b6bbf0d859da.png)

- `dotnet restore` at solution level. Solution Explorer shows spurious files from the nuget package cache
![image](https://cloud.githubusercontent.com/assets/2255729/22762547/c0c950c6-ee14-11e6-9998-64e4726a6494.png)

- Right-Click -> Pr

[2017-02-08 23:51] Pilchie commented on #1411
DPL force loads the Roslyn package in the legacy project system.

[2017-02-08 23:53] Pilchie commented on #1411
Tagging @jasonmalinowski too - he has some thoughts here.

[2017-02-09 00:02] JamesNK commented on #1386
Yes I installed it last night.

[2017-02-09 00:03] JamesNK commented on #1386
Yes it is.

[2017-02-09 00:13] JamesNK commented on #1386
Hmmm, although I think I still need to update the test project csproj to only include the NUnit package when the target isn't `netcoreapp1.0`. My csproj files were corrupted and I had to recreate them last night.

[2017-02-09 00:15] davkean commented on #1386
What do you mean by "corrupted"?

[2017-02-09 00:15] davkean commented on #1411
@Pilchie How?

[2017-02-09 00:15] davkean commented on #1411
Or rather where?

[2017-02-09 00:16] natidea commented on #1501
@lifengl thinking through this some more: if a user saves while restore is running, is there still any risk of a deadlock since both operations could contend for the UI thread (as Build does)? Or does Save synchronously hold the UI thread until it is completely done, eliminating contention? What about (for example) cases when the user tries to save a readonly file, causing a dialog to pop up?

[2017-02-09 00:19] davkean commented on #1504
This is because `<None>` picks them up. @dsplaisted

[2017-02-09 00:23] mavasani commented on #1479
So the failing design time build on TargetFramework change seems to be similar to the underlying CPS issue with unit test discovery on TargetFramework change.. when the TF is changed, a design time build is immediately kicked off and CPS uses the project snaphot and properties from before the edit, but when it tries to do the DT build, certain targets files are missing as it uses the new project f

[2017-02-09 00:32] jasonmalinowski commented on #1411
Loading RoslynPackage is a perfectly fine workaround if we determine editing Roslyn is unsafe. If we're going for more architecturally correct fixes, the fix would be to move the appropriate service load from RoslynPackage.cs to [here](https://github.com/dotnet/roslyn/blob/31fb443830e4579e9a829a275dbe54872b3b9955/src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.Defe

[2017-02-09 00:34] jasonmalinowski commented on #1411
Assuming that the shiproom experience bar is the same and it doesn't matter from that perspective where we fix it, I have no problems with the fix being in Roslyn core.

[2017-02-09 00:42] jac009 commented on #1411
We have time to land this.  I'd rather take the right fix.

[2017-02-09 00:44] jac009 commented on #1384
@NTaylorMullen later this week.

[2017-02-09 00:56] JamesNK commented on #1386
https://github.com/JamesNK/Newtonsoft.Json/blob/b1b8c67ab6a0e847ecdb3a49bb45121fa09d7f5d/Src/Newtonsoft.Json/Newtonsoft.Json.Dotnet.csproj

[2017-02-09 01:05] davkean commented on #1013
Looks like the original bug is caused by #5343. Leaving this around so that I can investigate the missing targets case.

[2017-02-09 01:08] Pilchie commented on #1411
@davkean see https://devdiv.visualstudio.com/DevDiv/Managed%20Languages%20IDE/_git/VS/pullrequest/37361?_a=overview

[2017-02-09 01:36] onovotny commented on #1013
In still see this in RC4 btw

[2017-02-09 01:37] davkean commented on #1013
Yes, it hasn't been fixed and has been pushed past RTM.

[2017-02-09 01:53] davkean commented on #1426
The PR description:

[code]

[2017-02-09 02:10] OmarTawfik commented on #1411
Tagging @brettfo for F#.

[2017-02-09 02:37] natidea commented on #1503
This seems to have regressed. When I modify TargetFrameworks, the subscriptions are reset as expected -- however a subscription update is not being fired immediately after the reset, as it always has before. Subsequent changes also are not firing which indicates the new subscriptions are not taking.

[2017-02-09 02:50] davkean commented on #1503
That's probably a good sign that the block has failed probably due an unhandled exception./

[2017-02-09 03:16] onovotny commented on #1013
grr....ok

[2017-02-09 03:17] davkean opened #1508 "Old legacy NuGet targets are running during builds causing errors/warnings"
1. Open \\[internalshare]\public\Jinuj\TestCases\MultiTargetting\MultiTargetting\MultiTargeting.sln
2. Ignore the non-fatal watson and dialog (different [bug ](https://github.com/dotnet/roslyn-project-system/issues/1509)tracking that)

Expected: No errors
Actual:

[code]

[2017-02-09 03:18] davkean commented on #1508
This is a bit concerning @natidea @srivatsn, what exactly is triggering this this case?

[2017-02-09 03:27] davkean commented on #1013
You can add comments to the original bug. :)

[2017-02-09 03:36] jinujoseph opened #1509 "Non Fatal error and Fault on duplicate package"
-Copy the MultiTargetting folder from <internalshare>\public\Jinuj\TestCases\MultiTargetting
- Open the solution file
- you will see a non-fatal error followed by this
![image](https://cloud.githubusercontent.com/assets/12449387/22768142/ea343bcc-ee34-11e6-86ea-ce818b95076e.png)

- log file copied in the same share
- The project is RC2 style so still has package references in the csproj.

**Build*

[2017-02-09 03:46] davkean opened #1510 "Targets that are removed, renamed or have their dependencies changed leaves stale warnings/errors in the Error List"
Identified as part of fixing this: https://github.com/dotnet/roslyn-project-system/issues/1426.

1. Create a new project
2. Edit project
3. Add:

[code]

4. Save

-Notice warning appears in the Error List-

5. Rename the target
6. Save

**Expected:** Only a single warning
**Actual:** Two warnings

[2017-02-09 03:52] davkean commented on #1510
This is due to the way these are logged to the Error List (see VsErrorListLogger in CPS) - basically we associate messages with targets, and every time we see the target run we "refresh" the messages that were logged during the last run.  If we never see a target run again, we'll never remove the warnings/errors.

We should be listening to targets changes including a change in their dependencies a

[2017-02-09 03:52] davkean commented on #1510
I suspect this, rather than the above bug is why errors/warnings stick around when retargeting. @srivatsn @mavasani

[2017-02-09 04:03] davkean opened #1511 "Targets that differ based TFM fight each other in the Error List"
1. Create a new project
2. Add the following:

[code]

3. Reload the project
4. Edit Project
5. Save

Expected: Two warnings; one for each TFM
Actual: First the first warning appears, then it disappears and the second one appears

[2017-02-09 04:05] davkean commented on #1511
This is because we're doing two design-time builds; one with the first TFM and one the second. The Error List associates "targets" with errors - so when the first build runs it gets logged, when it runs the second build runs, the ErrorList thinks that the target has run with new data and it removes the previous error.

[2017-02-09 05:05] davkean commented on #1511
We should merge these similar to what we do with Roslyn.

[2017-02-09 05:30] lifengl commented on #1501
If Joinable tasks are done correctly, which we hope for, we should not allow NuGet to run in the main thread inside 'Save' operation.  Of course, if a dialogue pops up, RPC calls can pass to the UI thread, and we don't have any infrastructure today to prevent that, so a dead lock might be possible, although the chance should be low.   We don't have a solution for this.

Sent from my phone

On Feb

[2017-02-09 05:49] davkean commented on #1213
I'm going to reopen this - CPS should not crash when it encounters this, de-duping is fixing the symptom not the underlying cause. And we're hitting this elsewhere: https://github.com/dotnet/roslyn-project-system/issues/1509

[2017-02-09 05:50] davkean commented on #1213
Moving back for a triage discussion.

[2017-02-09 05:51] davkean commented on #1509
The duplicate issue is being tracked by https://github.com/dotnet/roslyn-project-system/issues/1213.

We should make this bug about the non-fatal Watson - I'm unsure if its the same cause (as it happens in different place)

[2017-02-09 09:59] natidea commented on #1503
I have not been able to detect any exceptions in the debugger around this scenario.

I notice that if I start out with one TFM pair, (e.g. `<TargetFrameworks>netstandard1.4;netstandard1.0</TargetFrameworks>`), changing it to a different pair
(e.g. `<TargetFrameworks>netstandard1.4;netstandard1.3</TargetFrameworks>`) does not trigger a subscription update. But changing it back to `netstandard1.4;ne

[2017-02-09 17:31] BillHiebert opened #1514 "No way to specify which framework to run"
1. Create a new .net core console application
2. Edit the project file and add a 2nd framework. Say net461
3. Build project

When running the project there is no way to specify which output to run.

[2017-02-09 17:31] mavasani commented on #1411
@heejaechang Can you please investigate Jason's suggestion of moving initialization of Error list and related services from [RoslynPackage.Initialize](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/RoslynPackage.cs,4f8b98a533e1b09f,references) to [DeferredInitializationState](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/VisualStudi

[2017-02-09 17:35] abpiskunov commented on #1514
Same problem for unit tests also.

[2017-02-09 18:03] kzu commented on #1514
Is this somehow related to https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Debug/DebugProfileEnumValuesGenerator.cs#L69 and "launch settings"?

Do we have documentation at all on how to configure those launch settings or should the old JSON approach still work? https://docs.microsoft.com/en-us/aspnet/core/fundamentals

[2017-02-09 19:08] RaulPerez1 commented on #1511
To add another option to the plate. We have a similar scenario in C++ with shared projects and project contexts. We run N number of parses (one per project context) and differentiate them in the error list in two ways:
1) They have a different error icon (purple squiggle instead of red)
2) Their project is different

![clipboard01](https://cloud.githubusercontent.com/assets/19919028/22798761/0a1e3

[2017-02-09 19:12] abpiskunov opened #1516 "Need to get target frameworks info from nuget instead of just operating with strings"
Currently we only use strings specified in TargetFramework or TargetFrameworks properties and they are not "friendly" for  users in cases we need to show them and internally in the code we need to parse them everytime.

Instead we need to have a service that would access nuget IVs interop API and get framework metadata  and cache it). Then we could have a

ITargetFramework  {
 string ShortName
 st

[2017-02-09 19:45] srivatsn commented on #1435
Tag @lifengl is there anything we can do about this for RTM to avoid crashing VS?

[2017-02-09 19:46] heejaechang commented on #1411
@mavasani sure.

[2017-02-09 19:46] mavasani commented on #1479
@lifengl @jviau Did you guys get a chance to look at this issue? I am unable to make further progress into debugging CPS design time builds.
Note that the failed design time build is causing lot of IDE weirdness (broken intellisense, squiggles, etc.) and can seemingly happen when user edits any property that changes the included targets. This can cause lot of subtle IDE issues.

[2017-02-09 20:19] #318 closed

[2017-02-09 20:19] #319 closed

[2017-02-09 20:19] #320 closed

[2017-02-09 20:19] #321 closed

[2017-02-09 20:19] #322 closed

[2017-02-09 20:19] #323 closed

[2017-02-09 20:19] #324 closed

[2017-02-09 20:19] #325 closed

[2017-02-09 20:19] #326 closed

[2017-02-09 20:19] #327 closed

[2017-02-09 20:19] #499 closed

[2017-02-09 20:19] #239 closed

[2017-02-09 20:41] jinujoseph opened #1518 "Hang while closing the solution"
Create a class library (netStandard) change tfms which got me to this state https://github.com/dotnet/roslyn-project-system/issues/1503
In order to work around that was closing and reopening the sln and I hit the hang.
Captured the dmp here `<internalshare>\public\Jinuj\dmp\solutionClosure.DMP`

did not repro the second time.

As per @lifengl's analysis

It appears to be a different dead lock.  Th

[2017-02-09 20:42] NTaylorMullen commented on #1384
I'm testing out MVC with some of the later builds (trying to find other issues) and I'm seeing some Roslyn IntelliSense problems with the Mvc.sln now. By closing out test explorer, property browser etc. I was able to open the solution, get it to restore, and build.

I ran into this guy:
![image](https://cloud.githubusercontent.com/assets/2008729/22802058/36b56860-eec4-11e6-83b7-65821bdef0a2.png)

[2017-02-09 20:52] mavasani commented on #1384
@NTaylorMullen I'll investigate this now.

[2017-02-09 20:57] jviau commented on #1479
@mavasani I am looking into it now.

[2017-02-09 21:13] srivatsn commented on #1486
Do you mean property pages or the properties window? I wonder if it's trying to open the project file..

[2017-02-09 21:15] srivatsn commented on #1496
How are you fixing it? By turning off assembly info generation? Are you saying that when that's turned off the temp file from obj is not getting deleted?

[2017-02-09 21:15] srivatsn commented on #587
Also when the same package shows up in multiple TFMs we should show both versions.

[2017-02-09 21:16] srivatsn commented on #1497
Ok added a comment to #587. Let's use that issue to track.

[2017-02-09 21:16] #1497 closed

[2017-02-09 21:20] srivatsn commented on #1506
Content files that come from a package will be shown since they're part of the project. This is https://github.com/dotnet/roslyn-project-system/issues/603 which seems to have been "fixed". We should probably show these with some different treatment..

[2017-02-09 21:22] srivatsn commented on #1213
So this is a CPS issue? @lifengl do we understand the CPS issue?

[2017-02-09 21:36] fubar-coder opened #1519 "ResXFileCodeGenerator does not emit GetTypeInfo()"
# How to reproduce
I have a project that targets both net451 and netstandard1.3 with:

[code]

# Expected

The code should be compilable.

# What happened instead

The ResXFileCodeGenerator doesn't emit GetTypeInfo().

# Workaround

I have to move the target framework `netstandard1.3` to the first position to get the expected behavior:
[code]

# Additional info

This seems to be related to #747.

[2017-02-09 21:43] jinujoseph commented on #1399
can you check if that alaos fixes the case when the project is associated with multiple sln \\mlangfs1\public\Jinuj\IPA\Multisln , open Multisln\ClassLibrary2\src\ClassLibrary1\ClassLibrary1.xproj

[2017-02-09 21:46] lifengl commented on #1518
This is another case that JoinableTask chain was not created correctly in the code.  The code on index/ is slightly different, and doesn’t match the code well, but I think the problem still exists.

Here is a more detailed explanation:

CPS is draining critical tasks when the project is closed, and the two tasks it waits on:

122559f8 <0> Microsoft.VisualStudio.ProjectSystem.SemaphoreSlimExtension

[2017-02-09 21:47] davkean commented on #1519
No, this is different to #747 and a limitation in how the RESX designer queries the project. it's not aware of multiple frameworks - so it gets what we consider the "active" one which is the first one in the list. We'll need to think about how we solve this particular issue (in some cases - it's impossible to generate code that works everywhere).

As a workround, put netstandard first, reload the

[2017-02-09 21:49] davkean commented on #1516
We decided a while back that NuGet doesn't own this concept, it's a VS concept and as such we're going to update multi-targeting service to understand this.

[2017-02-09 21:50] davkean commented on #1511
Interesting, what's that second column?

[2017-02-09 21:51] heejaechang commented on #1411
#17047 is wrong link

[2017-02-09 22:19] davkean commented on #1518
@mavasani Can you take this one?

[2017-02-09 22:21] davkean commented on #1473
@nguerrera Here's one tracking the WP8 SL projects, apparently we're missing GetPackagingOutputs.

[2017-02-09 22:25] RaulPerez1 commented on #1511
Sorry I'm not sure why I cropped the column names row, here's the full screenshot:

![clipboard01](https://cloud.githubusercontent.com/assets/19919028/22805619/48d6cc50-eed3-11e6-8820-7d2ffbd2f443.jpg)

Presuming you're talking about the icon that's the "Severity" column. In C++ we use that icon to distinguish between build and IntelliSense icons since they are provided by two different compilers

[2017-02-09 22:27] davkean commented on #1511
It's interesting that you guys went down a completely different approach to C# which merges duplicate errors.